[2020-03-01 02:10] jimc404 commented on #2243
I'd say that there's a fair chance that you're missing out on some step in your computer. Although there's always the chance that it's a software bug, but if that were the case here a sizeable amount of people would have been affected and reported it when this release came out.

[2020-03-01 13:46] Suhasnama commented on #2131
Hello @codenirvana  , I would like to fix this issue, shall I update the file at `https://github.com/postmanlabs/postman-docs/blob/develop/src/pages/docs/postman/collection-runs/command-line-integration-with-newman.md` and submit a PR at `postmanlabs/postman-docs`

[2020-03-01 17:58] narayanpai1 commented on #2022
@codenirvana Can I work on this?

[2020-03-02 00:56] vdespa commented on #2192
I haven't seen anything documented. What works and which params did you use @demyan112rv ?

[2020-03-02 05:43] TheDhejavu commented on #2243
Well, I followed the setup process properly. Since no one has reported this issue yet then this could be an issue with my PC or maybe there is something that I'm doing wrongly

[2020-03-02 13:36] demyan112rv commented on #2192
@vdespa sorry for the inaccuracy. I meant that collection variables work if you add them through a Postman to the collection. In previous versions it not worked for me.

[2020-03-02 13:43] jimc404 commented on #2217
Newman as a library **works** with **URLs as well as files**

You need to provide the ```postmanApiKey``` key in the object you are passing to ```newman.run()```

It should be something like
[code]

[2020-03-02 13:56] jimc404 commented on #2217
@jcald1 if that's the API key to your account in the code you've pasted, please edit the issue and delete it, also change it in your account.

If the user doesn't come online can a maintainer do it @codenirvana @shamasis

[2020-03-02 14:06] jimc404 commented on #2217
This also uncovers a minor bug, if the user wants to fetch the collection but does not provide the api key, the process should exit after giving an error for the same.

I want to work on a fix for that, should I open a new issue for that?

[2020-03-02 14:25] jimc404 commented on #2220
Your log shows  `304 Not Modified` responses on fetching the modules.

This should be a fault with the cached content where integrity check does not match with the `package.lock.json`. You can fix this by running ```npm cache verify``` and reinstalling the modules.

As @im-Amitto mentioned you can clear your cache and reinstall, that too should fix the issue albeit by using more bandwidth.

Most o

[2020-03-02 19:22] VoloBro opened #2249 "instruction.execute callback called twice"
1. Newman Version (can be found via `newman -v`): 4.5.4
 2. OS details (type, version, and architecture): docker image "node:10.15.0"
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: no fatal error
 5. Command / script used to run Newman:
[code]

 6. Sample collection, and auxilia

[2020-03-02 19:27] vdespa commented on #2192
Got it. Thanks for the clarification, @demyan112rv

[2020-03-04 16:56] Suhasnama commented on #2131
Hi @jcald1 , @codenirvana ,
Fixed this issue and opened a PR at postman-docs , find the PR [here](https://github.com/postmanlabs/postman-docs/pull/2216#issue-383696890) , please review it and merge it accordingly.

[2020-03-04 17:30] codenirvana commented on #2131
@Suhasnama Thanks for the contribution 👍

[2020-03-04 17:46] aquibbaig commented on #2165
@codenirvana Hello. Sorry for the late reply, I had been travelling. So, I have been digging around a bit around this issue here. All I would like to know it how do you test sample routes to see if stuff is working properly in newman? I mean you can always run newman locally. However, If I wanted to check if newman accepts pfx files as client certificates, do I need to have an actual route plus a

[2020-03-04 17:54] codenirvana commented on #2165
@aquibbaig  You need a local server that requires the PFX client certificates.
Refer [PFX tests in postman-runtime](https://github.com/postmanlabs/postman-runtime/blob/develop/test/integration/sanity/certificate.test.js#L179) for more details.

[2020-03-04 18:19] Suhasnama commented on #2195
Hi @rohit-gohri ,
As specified by you , i find no where in [docs](https://github.com/postmanlabs/newman#newman-run-collection-file-source-options) about filtering folders/sub-folders to run individual requests.
According to my knowledge it is not yet available for newman , though it is available in the Postman Runner.(Correct me if i am wrong!)

[2020-03-05 05:00] gittysachin commented on #2244
I would like to work on this issue.

[2020-03-05 06:56] shamasis commented on #2244
Sure. But do note that newman has a very few commands to do autocomplete. There are far higher user impact features and issues that can be tackled instead😊.

If you do work on this, please do read https://github.com/postmanlabs/newman/blob/develop/.github/CONTRIBUTING.md

Post an expected behaviour and also post how someone else will maintain this feature going forward. Which terminals will this w

[2020-03-05 07:01] rohit-gohri commented on #2195
That's what this issue is for, it works in newman also but is not mentioned in docs.

[2020-03-05 09:28] gittysachin commented on #2244
@shamasis Thanks. I'll post all the details about this new feature.

[2020-03-05 10:07] izlatkin opened #2252 "allure reports fail with error: c.charCodeAt(...).toString(...).padStart"
newman run xxxx.json -e yyyy.json -r "cli,allure"

#### Finished Execution ####
error: c.charCodeAt(...).toString(...).padStart is not a function

xxxx.json:

{
	"info": {
		"_postman_id": "00df9343-575b-484c-b8c7-18bff04bb41f",
		"name": "PILOT 2",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "4. xxxx [7]",
			"event": [
				{

[2020-03-05 10:16] codenirvana commented on #2252
@izlatkin You can report this issue on the allure reporter issue tracker: https://github.com/ervirendersingh/newman-reporter-allure/issues

[2020-03-05 10:16] #2252 closed

[2020-03-05 10:47] Suhasnama commented on #2195
Never knew that `--folder` switch could do that, just verified it locally, I will update the docs and will open a PR by tonight.
Thanks for the explanation @rohit-gohri !!

[2020-03-05 10:47] codenirvana commented on #2243
@TheDhejavu Looks like tests are failing because of the reduced test coverage, have you made any changes to the code base or is it failing right after the git clone?

[2020-03-05 13:01] TheDhejavu commented on #2244
@gittysachin oh well, I waited patiently for a review of this feature before suggesting an implementation but I guess you talked about implementing it first. I hope to see what you create ❤️

[2020-03-05 13:05] TheDhejavu commented on #2243
@codenirvana it failed immediately after the git clone, I didn't alter anything. Running `npm test` is part of the setup process. it indicates that the cli is working as expected

[2020-03-05 18:30] Suhasnama commented on #2195
Opened a new PR for this issue #2253

[2020-03-06 01:11] TheDhejavu commented on #2243
I have fixed this issue. I'm just going to close it now. If there is anyone facing this same challenge. I fixed this issue by deleting the forked repo and fork again before cloning to local. thanks

[2020-03-06 01:11] #2243 closed

[2020-03-06 07:41] narayanpai1 commented on #2022
@codenirvana I am able to show the location of the test as shown below:
![gsoc_pic](https://user-images.githubusercontent.com/43881774/76062036-d7556b80-5faa-11ea-8714-1f7a2cfd3de7.jpg)
I had to add a function in [https://github.com/postmanlabs/newman/blob/develop/lib/util.js](url) to get the test location, given (PostmanItem, script-id) and reference it from [https://github.com/postmanlabs/newman

[2020-03-06 11:18] IshaanDesai45 commented on #2026
I would like to work on the issue

[2020-03-06 16:31] Shivansh2407 commented on #2026
@IshaanDesai45 Fixed it already 👍

[2020-03-06 19:05] TheDhejavu commented on #2168
I would love to work on this feature. This issue is 3months old already

[2020-03-06 20:40] filfreire opened #2255 "(Feature request) Add cli reporter option to print plain unwrapped console logging"
## TL;DR:
Let's add a `cli` reporter option that prints plain and unwrapped console logging.

## Purpose
Right now it looks like this:
[code]

I’d like to have the option to just plainly print the output:
[code]

Related community discussion [here](https://community.postman.com/t/remove-from-newman-cli-output/11229).

## Proposed solution

A reporter option `cleanConsole` that can be added to as f

[2020-03-06 21:13] filfreire commented on #2255
/cc @DannyDainton

[2020-03-07 11:12] IshaanDesai45 commented on #2026
okay, is PR merged or are there any issues in the PR that I can Help with ??

[2020-03-07 12:39] praveendvd commented on #1825
@codenirvana I am facing the same issue,

I have uploaded the collection file, it has two requests one that works, one that doesn't.

I want to update the collection variable (or any variable) according to a few criteria and the status of the request ,

[collection.zip](https://github.com/postmanlabs/newman/files/4301810/collection.zip)

[2020-03-07 14:17] csk1827 commented on #1825
@praveendvd you are updating the "projectid" variable in a **promise** in the test script of the second request, which is taking some time to execute.  **As promises are executed asynchronously**, the getter of the "projectid" variable in (the last line of the test script) is getting the old value of the variable, before the execution of the promise. That's the reason why you are getting the old v

[2020-03-07 14:22] csk1827 commented on #1825
@codenirvana It might be the same case with @slavenantic too.

I have a question for you. Are the Postman sandboxes **strictly sequential** or they can run in **parallel** also? If they run in parallel, then some of the variables may not get assigned/updated in time(before the next sandbox tries to access that variable) if a request sent by sendRequest() in a sandbox takes a long time to execute.

[2020-03-07 14:26] praveendvd commented on #1825
@csk1827 yes that's the issue I was able to fix it
[code]

[2020-03-07 15:58] narayanpai1 commented on #2022
@shamasis Is this what you were expecting? Can i proceed with a pull request?

[2020-03-07 18:28] csk1827 commented on #2249
@VoloBro the problem is that the variable **identity.user.reset_pwd_reset_link** is not available in any of  your environments. Please check for the variable and try again.

[2020-03-07 21:36] shamasis commented on #2022
The output is in right direction. This is fantastic. I’m worried that we made things look very busy in CLI output and that in most cases this is not the most important information to always display in brackets.

Ideas? Perhaps only show an indicator to only indicate that this test was run from an inherited script and not show expanded details until `—debug` is set?

The premise is that this info w

[2020-03-07 21:40] shamasis commented on #1825
Sandboxes are supposed to be executed serially. The way sandbox waits for script execution completion is to look for timers to end. Since promises are not timers, they aren’t waited for. To wait for it, we need to deprecate till node v6 (and maybe 8) and use async_hooks to wait for timers. cc @codenirvana @coditva

[2020-03-07 21:41] VoloBro commented on #2249
thank you for your reply, do you think it should be handled gracefully instead of spotting the running thread?

[2020-03-08 05:05] csk1827 commented on #2022
@shamasis Yes, the detailed CLI output is not needed in most of the cases. It would be better if these details are provided to the user on demand i.e. on setting `-debug`  or some other relevant new tag.

[2020-03-08 05:48] csk1827 commented on #2241
@faressoft As far as I know, newman runs the first occurred subfolder when a folder name is specified by `--folder` tag. It is not possible to run a specific subfolder if the subfolders don't have unique names across the entire collection.

[2020-03-08 06:48] csk1827 commented on #2249
@VoloBro I couldn’t reproduce the issue when trying to run by creating a mock collection with the same error(it is giving me an error message). Can you please share you collection/simplified collection in which you are experiencing this issue?

Also, are you getting the same result when you tried running the collection using Newman CLI?

[2020-03-08 07:51] csk1827 opened #2259 "Displaying "[Error: ENOENT: no such file or directory, {UID}]" error message, when user forgets to specify postmanApiKey(when the user sends UID of collection/enviroment in the request)"
1. Newman Version (can be found via `newman -v`): 4.6.0
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? CLI and Library
 4. Did you encounter this recently, or has this bug always been there: recently

If a user forgets to send **postmanApiKey** in the request as below(when the user sends UID for collection/environment), it is bet

[2020-03-08 07:51] csk1827 commented on #2259
#2217

[2020-03-08 07:54] csk1827 commented on #2259
@codenirvana @shamasis I want to work on this issue

[2020-03-08 09:47] shamasis commented on #2259
Umm, it seems that the issue is a duplicate of the referred issue. There’s no requirement to create a duplicate issue for contribution. Please feel free to send PR referring the original issue. 😊

[2020-03-08 09:47] #2259 closed

[2020-03-08 09:54] shamasis commented on #2255
One cool thing to do would be to create a new reporter called `newman-reporter-console` and use that in conjunction with console turned off in CLI reporter. 😊

Best part of that would be that there had been a a few requests here and there for being able to log Console to file or pipe it somewhere ... all such console specific features could be packed in that reporter.

Thoughts?

[2020-03-08 10:03] shamasis commented on #2229
@RuggeriLuca @codenirvana ... can this be temporarily bypassed using max old space node memory limit ceiling increasing parameters?

In parallel, we should add a no-summary option (since summary for reporter is the only thing that aggregates memory) or a disk backed summary method?

[2020-03-08 10:06] shamasis commented on #2220
@praveen-centrico were you able to solve your issue? Closing this issue for now since most of the possible solutions we could employ has been discussed on the thread. If the problem persists, we would reopen. But we should then also reach out to npm team if there’s no new reason discovered.

[2020-03-08 10:06] #2220 closed

[2020-03-08 10:10] shamasis commented on #2215
Hello all.

Let’s deep dive into the workflow and usage of this feature. How would multiple data files work in general as a feature? How would that add value as a general feature and when should users start using this.

Maybe @harishshet222 can elaborate on the use case of adding multiple data files and how we can build this as a general feature for everyone.

[2020-03-08 10:12] shamasis commented on #2238
@aquibbaig ... I also think that the contributing guide should add a point or two around:

1. How to pick a feature to build. We shouldn’t just build any feature and build the ones that make a valuable product. How to judge that and how to think of product stories before jumping to code.

2. How to fix a bug. Try to find if a bug is a one off fix or it needs an architectural or bigger change. How

[2020-03-08 10:14] #2200 closed

[2020-03-08 10:19] shamasis commented on #2190
Hi. Giving some context to the issue here so that we can decide how to proceed. All Postman variables are supposed to be strings. Though we internally support a number of types, it is not yet completely baked into the product (both app and newman needs to build this in tandem in order to ensure it works seamlessly.)

As such, a number of issues manifest due to JavaScript quirks as we try to cast n

[2020-03-08 10:24] shamasis commented on #2192
The more I see the need to override variables ... started with none, then we added globals, then environment and now there’s a need for collection variable overrides. Let’s take a deeper look to see product-wise if we are missing something that we need to build in a wholistic way.

So, what are the use cases or jobs that we want to do here where overdriving collection variables appear to be a solu

[2020-03-08 10:29] shamasis commented on #2191
Closing this issue. I too strongly believe that we cannot assume what response codes are used for. Having said that, we could think of ways to add simple no-code tests in Postman app at one point and make command line parameters reflect the same in newman.

[2020-03-08 10:29] #2191 closed

[2020-03-08 10:31] shamasis commented on #2189
Are you piping the newman output via some other command? Or is your terminal not compatible to show all character ranges?

[2020-03-08 15:28] narayanpai1 commented on #2022
@shamasis I agree.
So I added just a symbol adhering to their meaning in the context ie.
1. `symbols.root` for a collection-based test
2. `symbols.folder` for a folder-based test

It looks like this now:
![image](https://user-images.githubusercontent.com/43881774/76165695-06243b00-617f-11ea-88ab-5ef71f30be25.png)

Does this work?

And for the debug option, I am ready to work on it. I will have to

[2020-03-08 19:15] pawanakhil commented on #2229
Try running this script before running the collection, so that you can allow more memory
export NODE_OPTIONS=--max_old_space_size=8192

Hope this helps

[2020-03-09 04:46] shamasis commented on #2022
We can use `--verbose`. It already exists. 😊

[2020-03-09 09:06] coditva commented on #2187
Hey @emiliovmq, sorry for the delay. I tried the case that you described but was not able to reproduce it. Here's the `collection`, `environment` and `globals` file I used.

The header is set at pre-request script at collection level and the test for the presence of this header is also at collection level in tests script.

The command I used to run this was:
[code]

[test-newman-test.zip](https://

[2020-03-09 09:25] aquibbaig commented on #2238
@shamasis Exactly. Anything specific you'd like me to add?

[2020-03-09 09:56] shubhamjadon commented on #2117
@codenirvana I would like to work on this.

[2020-03-09 14:41] IshaanDesai45 commented on #2215
I would like to work on the issue , how to get started??

[2020-03-09 14:45] adrijshikhar commented on #2215
Already working on it, and there is a draft pr pending.

[2020-03-10 02:01] pavellishin commented on #2190
Oof, I didn't know that. I assumed they could be anything, since the GUI app supports this.

Does this mean that variables can only be simple scalar values, and not objects?

[2020-03-10 04:52] shamasis commented on #2190
True. Variables can be scalar values and even Postman GUI supports only scalar values.

But if you’re using the variables programmatically, you can apply casting shenanigans to convert objects to string and vice versa.

[2020-03-10 12:45] #2190 closed

[2020-03-10 18:07] jubairsaidi commented on #2192
A use case that I've seen the need for newman runs to be able to modify (via session maybe?) variables, is where requests are chained.  Say CRUD operations, we create a record and set the ID as a variable, then get the record by the ID, update it, and then delete it, each step by the ID that was originally created.  The only way around this right now it seems is to use pm.sendRequest for all the f

[2020-03-10 22:51] TheDhejavu commented on #2168
cc @shamasis

[2020-03-11 10:04] lusoalex opened #2262 "Run multiple collections sequentially sharing a common environment."
Dear,

I was wondering if it is possible (did not find how) to run sequentially two or more collections, but sharing the same environment.

Something like
[code]

I have a collection that basically login a user and retrieve an access_token.
Then I have multiple collection for several APIs.
I would not to have to copy/paste each time the authentication folder but share it instead.
So the result (ac

[2020-03-11 11:25] gittysachin commented on #2244
@TheDhejavu I tried to make changes. I think that I coded correctly. But how can I build this and test on my new changes? Cause it's just working on the last version as I cloned the repo.

[2020-03-11 11:39] Cazaimi commented on #2182
Looks like an issue with the csv parser at a first glance. Check: https://github.com/adaltas/node-csv-parse/blob/078e017b0ddd7de5f23974113be85b224ff686cc/lib/es5/index.js#L823

[2020-03-11 12:44] shubhamjadon commented on #2262
@lusoalex  i do not think that running multiple collections sequentially is possible in newman. This feature needs to be added to newman.(something similar was requested in issue #2117 ).

[2020-03-11 13:14] lusoalex commented on #2262
Hello, thanks for your quick answer. I really appreciate!

It is not totally similar to issue [#2117 ](https://github.com/postmanlabs/newman/issues/2117) as it is not just run collection one by one in a loop, but keep track of new values into the environment (only during the newman execution lifetime)

Regarding the example I gave on the issue, the authentication_collection.json will add an access

[2020-03-11 16:26] shubhamjadon commented on #2262
@lusoalex there is no feature like the one you asked currently in postman.
But there is a workaround i discovered maybe that could help you. It is as follows:
1. You can change environment variable using Test Scripts(go through this [link](https://learning.postman.com/docs/postman/collection-runs/using-environments-in-collection-runs/) for tutorial). The environment variable will get changed after

[2020-03-11 16:42] lusoalex commented on #2262
Thanks for your help, I'll try them asap.
👍

[2020-03-11 16:42] #2262 closed

[2020-03-11 19:53] SLakhani1 commented on #2255
@shamasis I think that would be great. Also I want to add one more thing lets pipe all that output on a file and then always keep updating that file and adding the new activities at the end( We can go 2 ways- like whenever we use CLI reporter **always** do saving the logs in the background or we can go with the more flexible flag options as well, In both the options file will be updated in such a

[2020-03-11 19:54] SLakhani1 commented on #2255
And I would like to work on it.

[2020-03-11 20:09] TheDhejavu commented on #2244
@gittysachin correct me if I'm wrong, you mean you have been working on a few changes before this and now you trying to implement this new feature on top of these changes? Or you are just starting out and trying to figure out how to build and test it on the new changes made to the repo ?

[2020-03-11 21:50] shamasis commented on #2255
Haha! That’s a great idea too. Let’s first attempt making separate reporters. It keeps the primary reporter light and purposeful. Also makes it easy to code.

[2020-03-12 05:10] gittysachin commented on #2244
@TheDhejavu I tried changing the code and I think I wrote it correctly. But now it's not doing anything new when I'm trying `node ./bin/newman.js v`. So is there any way I can try with my new changes? It's just reacting as the old.

[2020-03-12 08:17] codenirvana commented on #1700
We've made significant performance improvements to handle large response payloads.
Is this issue still reproducible in the latest version of Newman?

[2020-03-12 08:52] dmahajan980 commented on #1998
Hello everyone! I would like to work on this issue if it's still available.
Thanks

[2020-03-12 09:11] adrijshikhar commented on #2192
@shamasis i would like to work on this feature, can you assign it to me?

[2020-03-12 09:22] dmahajan980 commented on #2167
Hello everyone! I would like to work on this issue.
Thanks

[2020-03-12 09:38] adrijshikhar commented on #2150
i would like to work on this feature.

cc @codenirvana and @shamasis

[2020-03-12 09:53] adrijshikhar commented on #2134
@shamasis if this feature is not in the pipeline, i would like to work on this. Thanks.

[2020-03-12 10:00] adrijshikhar commented on #2008
@codenirvana does this issue still persist?

[2020-03-12 10:02] adrijshikhar commented on #1998
@dmahajan980 there is a pull request already linked to it

[2020-03-12 10:18] BrambleRamble commented on #1998
@dmahajan980 Thank you for the offer though :-)

[2020-03-12 11:38] SLakhani1 commented on #2255
Okay great! Then I'll start working on it.

[2020-03-12 12:35] TheDhejavu commented on #2244
Oh, i get it now. try using a different command like `node ./bin/newman.js --hlp` , it should give a list of defined suggestion like
`do you mean help `

[2020-03-12 13:46] gittysachin commented on #2244
@TheDhejavu thank you. I tried testing that command. But something was going wrong. It was just saying ```error: invalid command `--hlp` ```. No worries, I'll try to make it again and will look into the problem.

[2020-03-12 15:22] jimc404 commented on #2238
Maybe I'm missing the point here but isn't running `npm link` enough to locally debug nodejs packages. It'll create the needed symlinks to `usr/lib/node_modules/` so we can then use it as a regular package.

Although the other mentioned points can definitely help beginners with starting their contributions.

[2020-03-12 17:14] jimc404 commented on #1510
@codenirvana There are issues like this that have an assignee but no activity for quite a while. Is it okay to work on them?

[2020-03-12 19:13] TheDhejavu commented on #2244
Exactly instead of throwing this kind of error, it should give you a list of related commands to `--hlp`

[2020-03-12 19:21] codenirvana commented on #1510
@jimc404 Yeah, no issues.
In this particular case, maybe bypassing the summary object which Newman uses to accumulate the execution result will fix the issue. _Obviously, that breaks the reporters who replying upon that._

[2020-03-14 08:05] narayanpai1 commented on #2022
I have completed both of the tasks. But the test-library is failing after adding my code for decreasing the branch coverage below the threshold. This is because my function is defensive to argument errors(just like the other functions) and there is no way to cover those branches in any situation in an integration test. I had decided to add unit tests after you check my code. But now, I am stuck at

[2020-03-14 14:16] someshkoli commented on #1599
I

[2020-03-14 14:17] someshkoli commented on #1599
I just got started to add proxy auth feature to newman cli.

[2020-03-14 16:01] jubairsaidi commented on #1679
related issue? https://github.com/postmanlabs/newman/issues/2192

[2020-03-15 08:17] ProBeta1 commented on #2115
One straightforward way is to copy the desired folders in a directory and just using that .

[2020-03-15 08:43] ProBeta1 commented on #2244
Any updates @gittysachin ?

[2020-03-15 10:37] VibhorCodecianGupta commented on #2255
@shamasis #2270 attempts the use case

[2020-03-15 17:56] codenirvana commented on #2117
@shubhamjadon Sure 👍

[2020-03-16 09:58] BamBalaam opened #2274 "Issue with custom reporters in Docker"
1. Newman Version (can be found via `newman -v`):
**4.6.0**

 2. OS details (type, version, and architecture):
**Linux (within a docker container, if that changes anything)**

 3. Are you using Newman as a library, or via the CLI?
**CLI**

 4. Did you encounter this recently, or has this bug always been there:
**Recently**

 5. Expected behaviour:
**Running correctly**

 6. Command / script used t

[2020-03-16 10:08] someshkoli opened #2275 "[ FEATURE REQUEST ] Option to add extra headers to entire collection"
1. Newman Version (can be found via `newman -v`):4.6.0
 2. OS details (type, version, and architecture): Linux Kali 5.3.0-kali2-amd64 #1 SMP Debian 5.3.9-3kali1 (2019-11-20) x86_64 GNU/Linux
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:faced recently
 4. Expected behaviour:
 5. Command / script used to run Newman:

[2020-03-16 14:17] shubhamjadon commented on #2117
@codenirvana please review the pull request.

[2020-03-16 16:01] someshkoli commented on #1599
Added a proxy parameter to cli optioins as shown below:
`node bin/newman.js run examples/sample-collection.json --proxy username:password
`
is this what was required ?

[2020-03-16 16:53] RavenHursT commented on #1224
So am I correct in assuming that the _only_ way to persist client-side cookies between requests/tests in `newman` is to somehow read `Set-Cookie` headers after _each_ requests, and if there's cookies, store them in an environment variable?  Then, on subsequent requests, read the cookies from the environment variable, and then set each request's `Cookie` header accordingly?

I'm curious why https:/

[2020-03-16 17:13] BamBalaam commented on #2274
Apparently upgrading the Node version to 13 solved the issue. Any explanation why?

[2020-03-16 17:52] gittysachin commented on #2275
@someshkoli right now we don't have any option to add extra headers to the entire collection.

I'd like to work on this feature.

[2020-03-16 17:58] jcald1 commented on #2167
@aquibbaig , @dmahajan980 , look like a related issue was opened: https://github.com/postmanlabs/newman/pull/2270.  Do you still want to work on this one?

[2020-03-16 18:10] someshkoli commented on #2275
I have already worked on this and have the code ready with me :P.

[2020-03-16 18:15] gittysachin commented on #2275
Cool :) Then please go-ahead 👍

[2020-03-16 18:37] jcald1 commented on #2217
Took care of it.  Thanks

[2020-03-16 18:40] jcald1 commented on #2217
@jimc404, https://github.com/postmanlabs/newman/pull/2218 for the documentation.

[2020-03-16 18:52] shamasis commented on #2275
One concern with this is that it might not be an accepted feature to be added in the Newman from product management standpoint. It’s wider purpose use cases has not been properly aligned with the Postman app.

[2020-03-16 18:59] shamasis commented on #2238
Another thing around contribution is to think about including around how to think of adding a new feature. Concerns, as discussed in this issue wastes a lot of contributor’s time - https://github.com/postmanlabs/newman/issues/2275#issuecomment-599704875

We need to strictly say that before sending PR for features, it is better to get a green from @codenirvana (to double check its alignment with th

[2020-03-16 20:16] someshkoli commented on #2275
Yeah true. I faced this issue and thought this could be a good feature because sometimes while working on a collection i need to add some common header to all the requests in the collection or edit existing header parameter for an entire collection. So this could be helpful if we have something like this through which we can specify some header or replace existing once globally across all the requ

[2020-03-16 20:56] shamasis commented on #2275
@someshkoli ... bang on target. There has to be a way to layer common aspects to collections. But that shouldn’t be definition driven at this point, but should be sort of an operation driven approach using find and replace and other checks. One reason for us to double check is how do we handle debugability of this? With inherited scripts from folders, we are already seeing tonnes of support cases

[2020-03-16 21:12] someshkoli commented on #2275
Yeah exactly. By saying header it becomes very specific, Which shouldn't be the case  from the program management point of view. Giving it a planned approach I think this could be a helpful feature.
Also i didn't quite understand what you said about the debug-ability of the feature ?

[2020-03-16 22:17] shamasis commented on #2275
Debugability - what I meant was, being able to quickly discover what actions on the system has resulted in a particular outcome. Say your request fails because of a faulty header that was inherited and it takes you two hours to figure out or even correlate that this was because of the inherited header. It would be a bad experience.

[2020-03-16 22:53] someshkoli commented on #2192
This issue is somewhat similar to what i explained in this issue [https://github.com/postmanlabs/newman/issues/2275#issuecomment-599739118](url) . I would like to work on this feature. If this feature is still to be implemented i request you to assign me for this.

[2020-03-16 23:13] someshkoli commented on #1858
Since you are in a proxy environment you first need to pass the proxy authorization credentials. Currently there is no way to pass them directly CLI. You can set env variables as shown below to solve this issue.
`HTTP_PROXY=http://USERNAME:PASSWORD@PROXYIP:PROXYPORT`
I have worked on this and gonna make a PR for the I hope this gets merged and passing proxy authorization will be available via comm

[2020-03-17 13:46] qburst-deepu commented on #1604
Happened to me too, but when i install this using brew it's working

[2020-03-17 20:32] shamasis commented on #2192
Why wouldn’t simply using the variable ID across all requests and setting its value using scripts work? I’m sure I’m missing something in your example. Maybe elaborate a bit more / provide sample collection?

[2020-03-17 20:33] shamasis commented on #2192
I would love to read up on proposal of sessions in CLI first before moving ahead with this feature. Can’t start unless we all agree on what we need to build. 😊 Maybe refer the Postman’s session feature in variables and then correlate to that?

[2020-03-17 20:40] shamasis commented on #2274
Nope. Very odd.

[2020-03-17 21:18] jimc404 commented on #1510
@codenirvana I see, to not make any changes to the summary object I made its clone with lodash and removed the response body from that before sending it to `JSON.stringify()`. I'm linking the related PR

[2020-03-17 22:27] BamBalaam commented on #2274
@shamasis I might have found the issue, but I'm struggling to reproduce it consistently.

In some cases, if the code of the custom reporter has some type of JS error, instead of failing explicitly and raising the JS error, newman says it can't find the reporter.

Hope this helps somehow.

[2020-03-18 04:52] shamasis commented on #2274
Oh yeah. This helps.

[2020-03-18 09:02] someshkoli commented on #2275
Yeah that is quite important and should be taken into consideration. Need to think a way to debug errors caused by the additional parameters keeping in mind the UX of the product.

[2020-03-18 13:20] jubairsaidi commented on #2192
Yea this doesn't work with newman because variable changes via the script section (pre-req and script) aren't persisted between requests.

[2020-03-18 20:23] shamasis commented on #2192
Wow. Can you double check? ... that’s core feature of environment variables and same code run that in app and newman. If this were a bug, by now half the world would have been screaming!!! 🤪

1. Create a collection
2. Add two requests calling, say... `httpbin.com/anything/{{myvar}}`
3. In first requests pre-script write pm.environment.set to set a value of myvar.
4. Run the collection by exporting

[2020-03-19 01:36] heyAyushh commented on #1775
Can I work on this?

[2020-03-19 05:40] aquibbaig commented on #2238
@shamasis Yes, the contributing guidelines can be updated to reflect this too. It's hard to implement those things in Newman which are not clearly thought of in Postman itself.

[2020-03-19 07:02] rohitmi0023 opened #2280 "JS code base to TS code"
Isn't it a good idea to convert the JavaScript codes to TypeScript codes seeing the advantages and the rising popularity of TypeScript?

[2020-03-19 22:10] #2238 closed

[2020-03-21 22:17] farouk60 commented on #2210
nvm install 10.12.0

[2020-03-23 08:07] KIRA009 opened #2282 "How do I add new commands?"
I am looking to contribute to the project. I was looking for a way to add new commands. Which file or directory should I look into for that? Could you please guide me as to how a command is executed from the time it is entered, to the time the response is generated.

[2020-03-23 08:17] jimc404 commented on #2282
Look into `bin/newman.js` and from there just follow the imports. You can also take a look at `commander.js` docs as it's used to implement the input part.

[2020-03-23 11:53] jwasek opened #2283 "Request about patch with higher version of postman-runtime to 4.6 tag"
Hi,
Could you create a new tag (ex 4.6.1) with a higher and not vulnerable version of postman-runtime? I saw that you have proper version on the dev branch.

I use 4.6 tag, but snyk throw security issue related to postman-runtime and hardcoded version of crypto-js.

Regards

[2020-03-23 20:10] alexkaufman06 opened #2284 "CLI issue with package.json scripts"
1. Newman Version (can be found via `newman -v`): 4.6.0

 2. OS details (type, version, and architecture): macOS Mojave: Version 10.14.6

 3. Are you using Newman as a library, or via the CLI? CLI

 3. Did you encounter this recently, or has this bug always been there: Recently

 4. Expected behaviour:
 When I run newman as a script in my package.json with a collection that contains a failing test

[2020-03-24 09:20] mimranfaruqi commented on #224
I am facing this issue in 2020. Strange!!!

[2020-03-26 18:46] lukeselbeck opened #2285 "Setting global variables doesn't persist into Postman app"
1. Newman Version (can be found via `newman -v`): 4.6.0
 2. OS details (type, version, and architecture): MacOs v10.14.6
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:  Just installed newman today
 4. Expected behaviour: when newman is run with the `--global-var` option, the modified global var should be visible in

[2020-03-26 19:39] jimc404 commented on #2285
Global variables are set during the time when `newman` runs. Once newman exits all of it's runtime data (stored in RAM) is lost, global vars for the newman run only exist in the scope of the execution and are hence lost. Postman runs in a different process from newman and naturally can't access it's runtime data.

Collections share data across postman infrastructure but since newman does not alter

[2020-03-26 19:44] jimc404 commented on #2285
Since `--global-var` here works similar to environment variables it's probably implicitly understood that  global vars will be lost after execution. After all a child process can't alter the environment data of it's parent process, the runtime data of a `newman run` won't be carried upwards.

[2020-03-26 20:23] #2285 closed

[2020-03-26 20:27] lukeselbeck commented on #2285
Understood.  If not through newman, do you know of any way to modify postman app variables programmatically, with the command line or otherwise?

[2020-03-26 21:13] jimc404 commented on #2285
I haven't really tweaked around with the variables enough to give a good answer.

My best guess would be to use an environment on the postman cloud since it can be accessed from anywhere with just it's ID.

You can open a new issue to discuss this :)

[2020-03-27 02:38] vdespa commented on #2192
@shamasis

I am looking at this from a CI/CD perspective. I don't want to store sensitive credentials inside collections or environments.

So while developing in Postman, I have something like this:

![image](https://user-images.githubusercontent.com/1197635/77715586-9a750700-6fa1-11ea-8349-f0a98294a702.png)

Each user can relatively safely store the API key while the collection does not have it.

[2020-03-29 09:05] sujaykundu777 commented on #367
I am facing error while handling POST requests using newman v.4.6.1, apparently it works well in postman, but the tests fail in newman when i try to run the collection.json with application/json as content-type as "application/json"

Gives this error, in express app :
[code]

[2020-03-31 11:21] russwinch opened #2290 "Security warning on newman's dependency on minimist"
1. Newman Version (can be found via `newman -v`): 4.6.0
 2. OS details (type, version, and architecture): MacOS
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. S

[2020-04-01 10:15] 5h4d0wr007 opened #2292 "Collection run shows unexpected behaviour in Newman"
1. Newman Version: 4.5.7
 2. OS details: MacOS Catalina, 10.15.3
 3. Running Newman as a library and CLI both
 3. Encountered this bug recently
 4. Expected behaviour: Subsequent requests should not inherit the settings from the previous request
 5. Command / script used to run Newman: newman run collectionName.json
 6. Sample collection, and auxiliary files: https://www.getpostman.com/collections

[2020-04-02 15:00] spenceclark commented on #1898
Is this issue still open?

I have a request very early on in my collection that checks to make sure a dependancy is up.

My test looks like this:

`// Check for success
pm.test("Status code is 200", function () {
	pm.response.to.have.status(200);
});

// Parse response
var resp = pm.response.json();

pm.test("Maintenance mode = false", function () {
	pm.expect(resp.inMaintenanceMode).to.be.eql(fal

[2020-04-02 21:31] bobbyi opened #2293 "newman failure details getting truncated"
When running newman on my CI server, if there are many test failures, the list of individual failures (at the end of the CLI output, after the table with "total run duration", etc.) does not get output completely. I see roughly the first 20 failures, and then further output is cut off.

The point where it is cut off often ends in the middle of a line or word, so it seems there is some sort of issu

[2020-04-03 08:05] bobotzzz opened #2294 "Access variables from a callback"
1. Newman Version (can be found via `newman -v`): 4.6.0
 2. OS details (type, version, and architecture): macos
 3. Are you using Newman as a library, or via the CLI: Library
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: access variable from newman.run .on() callback
 5. Command / script used to run Newman:
for example:

newman.run({

[2020-04-03 09:04] spenceclark commented on #1898
Actually no, this does seem to be working as expected in Newman when i tried again today; it must have been something I did wrong.

[2020-04-03 14:14] cchretien opened #2295 "JavaScript heap out of memory"
Performance of newman has degraded.

 1. Newman Version (can be found via `newman -v`): 4.5.7
 2. OS details (type, version, and architecture): Window 10.0.18362 N/A Build 18362
 3. Are you using Newman as a library, or via the CLI? Using it as a library. Script attached
 3. Did you encounter this recently, or has this bug always been there: Recently, moving to 4.5.7 from 4.4.0
 4. Expected behavi

[2020-04-06 05:43] russwinch commented on #2290
This has now been updated by Github to a High Severity issue:

CVE-2020-7598
high severity
Vulnerable versions: < 0.2.1
Patched version: 0.2.1
minimist before 1.2.2 could be tricked into adding or modifying properties of Object.prototype using a "constructor" or "proto" payload.

[2020-04-06 13:18] tyomasson commented on #1859
The same issue

[2020-04-08 10:56] codenirvana commented on #2026
This is fixed as part of Newman v5.

[2020-04-08 10:56] #2026 closed

[2020-04-08 10:56] codenirvana commented on #2290
This is fixed as part of Newman v5.

[2020-04-08 10:56] #2290 closed

[2020-04-09 10:05] marcomaespolteq opened #2311 "Newman does not replace variable in URL when using first variable from data source file"
Hi all,

I have a collection with 1 request which look like this:
GET https://www.example.com/price_read?Phase={{PhaseCode}}&CaseType={{CaseTypeCode}}&Date=2020-12-31
When I run this in Postman with a simple CSV as input where the name of the variables are coming from, everything works great.
When I run this in newman with the same data, the first variable is replaced by the value from the CSV, bu

[2020-04-09 16:37] sGuid opened #2312 "v5.0.0 encoding change cause "Unexpected token" w/query parameters."
Last night our automated tests failed with the newman v5.0.0 release (we didn't have newman version pinned.) Works on Newman v4.6.1, and have now pinned to that version.

Error - on a GET with a query parameter, the returned JSON now says "Unexpected token 'F' at 1:1 Failure: 500 Internal Server Error"

**Environment Setup**
 1. Newman Version (can be found via `newman -v`): 5.0.0
 2. OS details (

[2020-04-09 21:36] shamasis commented on #2312
@sGuid ... sorry to see your test break. Newman v5 has some significant changes under the hood - mostly done to do better encoding and parsing of URLs. We would need to deep dive what exactly failed in this case.

Would it be possible for you to share your collection (after sanitising any Auth data in it?)

Also, if you’re using the latest Postman App, can you head over to it’s settings (top right

[2020-04-10 03:13] rparsonsbb opened #2313 "--env-var is unknown option in v5"
1. Newman Version (can be found via `newman -v`): 5.0.0
 2. OS details (type, version, and architecture): linux, windows
 3. Are you using Newman as a library, or via the CLI? cli
 3. Did you encounter this recently, or has this bug always been there: recently, 5.0 release
 4. Expected behaviour: --env-var is an accepted option
 5. Command / script used to run Newman: newman --env-var key=value ru

[2020-04-10 11:15] codenirvana commented on #2312
@sGuid as mentioned [here](https://github.com/postmanlabs/postman-app-support/issues/8154), Newman v5 uses the new URL processor which encodes query params as per WHATWG standard.

In your case, the previously encoded `?customAttributes=%7B%22year%22:2001%7D` param will be encoded as `?customAttributes={%22year%22:2001}`.

In most cases, this makes no difference because of the query processor used

[2020-04-10 11:23] codenirvana commented on #2313
@rparsonsbb With Newman v5, `--env-var` option is acceptable by the `run` command and not as a free-form option.

So, changing the order of `--env-var` option from `newman --env-var key=value run test.json` to `newman run --env-var key=value test.json` will fix your issue.

[2020-04-10 11:23] #2313 closed

[2020-04-10 11:55] codenirvana commented on #2311
@marcomaespolteq Thanks for sharing the example collection and data files, I can reproduce this issue locally with Newman v4 and this behavior is because of the BOM character in the input CSV.

We recently fixed this issue with #2303 and the fix is available in Newman v5.

Also, check the [v4 to v5 migration guide](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md#migrating-from-v4-t

[2020-04-10 11:55] #2311 closed

[2020-04-11 20:40] liberstein opened #2316 "RunSummary does'nt return timings -> completed if use bail"
1. Newman Version: 5.0.0
 2. OS details : Ubuntu 18.04.1 x64
 3. Newman as a library
 3. this bug always been there: RunSummary -> run -> timings doesnt has **completed**
 4. Expected behaviour: RunSummary -> run -> timings  has **completed**
 5. Command / script used to run Newman: newman run
 6. Sample collection, and auxiliary files : any collection with error
 7. Screenshots : http://i.imgur.c

[2020-04-13 22:13] tparikka opened #2319 ""error: unable to get local issuer certificate" When Running Newman Against Hosted Collection"
Version and environment information:
 1. Newman Version 5.0.0
 2. Windows 10 Build 1909 Professional, computer is on a corporate network using ZScaler
 3. Running via CLI
 3. First time using newman, cannot say if new
 4. Expected behaviour: Collection is run through Newman for a hosted collection same as local
 5. Command / script used to run Newman: `newman run https://www.postman.com/collection

[2020-04-14 07:04] raviforever14 commented on #1542
i am working on windows 10, i am not  able to integrate into Jenkins,these commands are wokring fine on cmd prompt. sending my commands and errors:
Here i am posting build and error plz help.
C:\Users\MY\Desktop\Export collection
newman run collection1.postman_collection.json
Error:
FailedConsole Output
Started by user ravi kumar
Running as SYSTEM
Building in workspace C:\Program Files (x86)\Jenki

[2020-04-14 15:11] cool-kostian commented on #1542
having same error

[2020-04-17 18:18] rhythmicdevil commented on #2154
You should look into the NodeJS wait-on module. I had a similar problem waiting for servers to come up when using Cypress.io in a container to test web applications. I added wait-on to the Docker image and provided a condition. I do this in a Jenkins pipeline. Its probably not 100% applicable, but might get you were are going.

[code]

[2020-04-17 18:25] rhythmicdevil opened #2320 "--environment option fails to find file"
1. Newman Version (can be found via `newman -v`): 5.0.0
 2. OS details (type, version, and architecture): CentOS Linux release 7.7.1908 (Core)
 3. Are you using Newman as a library, or via the CLI? Docker
 3. Did you encounter this recently, or has this bug always been there: Just found it
 4. Expected behaviour: That the command executes and uses the arguments provided.
 5. Command / script used

[2020-04-18 06:34] deshpandeji commented on #1524
I am facing same issue. Please let me know if there is any solution for this.
Thanks in advance :)

[2020-04-18 08:14] codenirvana commented on #2320
@rhythmicdevil Looks like you are missing the [run command](https://github.com/postmanlabs/newman#newman-run-collection-file-source-options), e.g:

[code]

In your case, this will fix your issue:

[code]

[2020-04-18 08:14] #2320 closed

[2020-04-18 12:58] rhythmicdevil commented on #2320
For reference I copied that command directly from the [Docker Hub page](https://hub.docker.com/r/postman/newman/). And its not missing the run command. Look at the example I posted please.

[2020-04-18 13:06] codenirvana commented on #2320
@rhythmicdevil Thanks for reporting this issue, looks like the docker hub documentation is not updated after the Newman v4 release. Few of the examples are still using the discontinued v3 CLI options.

The correct usage should be:
[code]

[2020-04-18 13:08] rhythmicdevil commented on #2320
Why does the 'run' command appear twice?

[2020-04-20 06:25] huguesbr commented on #358
@DaisySu

Hey. I’ve build NewmanScenario just for this!

https://github.com/huguesbr/newman_scenario

It basically allow you to create on the fly scenario by cherry picking requests ( and store this list into a file ) and chain play them.

[2020-04-20 06:31] huguesbr opened #2321 "Newman scenario?"
Hey,

I love postman / newman. We use it extensively to test our API.

We’ve created basic scenario ( requests in folder ): signup, signin, add product to cart, checkout.
Unfortunately this requests can’t be shared with other scenario and need to be duplicated ( and later maintain ).

So I’ve build a gem ( sorry ruby is my language ^^ ) to do so:

https://github.com/huguesbr/newman_scenario

Launc

[2020-04-20 12:21] rhythmicdevil commented on #2320
Please explain why this is not working.

`[swright@swright-dev-05 collections]$ ll
total 12
-rw-rw-r--. 1 swright swright 2737 Apr 17 14:01 environment.json
-rw-rw-r--. 1 swright swright 7154 Apr 17 14:01 globals.json
[swright@swright-dev-05 collections]$
[swright@swright-dev-05 collections]$
[swright@swright-dev-05 collections]$
[swright@swright-dev-05 collections]$ docker run -v ~/collections:/e

[2020-04-21 08:56] RuchiTrehan2 opened #2324 "Exporting Global Variables for Every Entry in Data File"
Version and environment information:

 1. Newman Version (can be found via `newman -v`): 5.0.0
 2. OS details (type, version, and architecture): Windows 10, 64-bit
 3. Are you using Newman as a library, or via the CLI? CLI

I am using a data File (csv) having 3 rows. I need to export global variables json.
I know there is an option --export-globals to export final global variables into a json file

[2020-04-22 06:36] codenirvana commented on #2320
@rhythmicdevil as mentioned in the error message `error: ENOENT: no such file or directory, open 'environment.json'`.

There's no `environment.json` file in the current working directory.

[2020-04-22 12:37] rajatpuneak opened #2325 "next newman.run() is triggered before the previous one ends."
I have Single api call in the opts1 collection,
and multiple calls in opts2,

[code]

[2020-04-23 05:02] atulbi commented on #2325
Each collection run is an [asynchronous](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous) operation and callback get called once collection run finishes. So, `RAMP UP DATA DONE -------------` is not printed from 2nd run, but after 1st run got finished.

Learn more about run [here](https://github.com/postmanlabs/newman#api-reference).

[2020-04-23 08:35] rajatpuneak commented on #2325
@atulbi : Thanks, Above Works

But I have the Run1 and Run2 in 2 different Functions which are Conditional on a Flag,

if (Flag = True)
Run1 then Run2

is what i want to achieve as i want to pass some values generated in Run1 to Run2,

any suggestion to achieve this ?

[2020-04-23 08:45] praveendvd opened #2326 "How to hide sensitve information like API Keys from report"
The newman report currently has sensitive informations  like API keys and authentication information. Is there a way to hide this ?

Version and environment information:

 1. Newman Version (can be found via `newman -v`):5.0.0
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Always

 4. Expected behaviour:

Option to

[2020-04-23 09:16] codenirvana commented on #2325
@rajatpuneak we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2020-04-23 09:16] #2325 closed

[2020-04-23 15:33] amdouence opened #2327 "Add skipped tests in report table (CLI)"
1. Newman Version (can be found via `newman -v`): 5.0.0
 2. OS details (type, version, and architecture): Microsoft Windows 10 Entreprise / 10.0.17134 N/A version 17134 / x64-based PC
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: First time i use this. New feature proposal
 4. Expected behaviour:
Report number of

[2020-04-23 22:06] danielbraus commented on #744
@czardoz, what would I add to this script to specify an environment, a data file, and a certain number of iterations to run?

https://github.com/postmanlabs/newman/blob/896a7b61955ee59bc8bfcfa144e7c5aa3639194e/examples/parallel-collection-runs.js

[2020-04-24 11:46] mr097065 opened #2328 "URI malformed error coming while executing from Newman works fine in postman"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2020-04-24 11:47] codenirvana commented on #2328
@mr097065 Can you share a scaled-down collection (or API endpoint) which we can use to reproduce this issue?

[2020-04-24 14:19] mr097065 commented on #2328
1. newman

[2020-04-24 15:57] mbhassan commented on #2320
I get the same error

[code]

whats the cwd for postman? Because in @rhythmicdevil example they are in the collections folder which is mounted to /etc/postman ...

[2020-04-24 16:04] mbhassan commented on #2320
Nvm the documentation is grossly wrong. Here's the correct way to run it
[code]

Notice that

[code]
is the WORKDIR for the docker container.

[2020-04-24 16:37] rhythmicdevil commented on #2320
Thank you.

[2020-04-24 16:55] jmorrisfmc commented on #1542
Same error. Have tried all kinds of Re-installs. No solution. Please advise if anyone has anything that works. Thanks!

[2020-04-24 17:12] cool-kostian commented on #1542
My solution was like this:
1) try to execute from Jenkins commands like:
[code]
in case something missing just install it, for example `npm install newman` or `npm install -g newman-reporter-htmlextra`
if everything works fine go to the next step otherwise try to figure out what's wrong

2) In Jenkins specify workspace to your project https://prnt.sc/s5d0ab
3) add Windows batch command https://prn

[2020-04-26 11:10] mr097065 commented on #2328
URL: You can create a mock server in postman to utilize this as I have utilized my limit.

/addresses?country=AUS&id=AUG|5f246f9b-7c97-4233-8de7-2d57f74cd86b|7.7305OAUGGwvjBwAAAAAIAgEAAAAAB7zTAAAAAAAAADEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAMTc3IHBhY2lmaWMgaHd5AAAAAAA-$15&dataset=GNAF

Response: 200 ok

{
  "addressLine1": "Level 2 111 Pacific Highway",
  "suburb": "SYDNEY",
  "postcode": "2000",
 

[2020-04-26 11:25] codenirvana commented on #2328
@mr097065 Created a mock server as you suggested but still can't reproduces the issue locally.

<img width="1437" alt="Screenshot 2020-04-26 at 4 54 01 PM" src="https://user-images.githubusercontent.com/4865836/80306081-ab9e7700-87de-11ea-9609-d61f1f3fc730.png">

[2020-04-26 11:28] mr097065 commented on #2328
I suspect it's something that MuleSoft might've patched in CloudHub (for security reasons) and now forcing consumers to encode the URI. Is it possible to encode URI in newman?

[2020-04-26 11:35] codenirvana commented on #2328
@mr097065 you can either manually encode the additional/unsafe characters which are not encoded automatically or add the following script as part of your Pre-request Script:

[code]

This script mutates (encodes the additional characters) the request URL before sending it.

Also, can you verify that your request works fine in Postman after enabling the `"Use next generation URL processing"` settin

[2020-04-26 11:38] mr097065 commented on #2328
Thanks. Let me try that and also after enabling setting in postman to "Use next generation URL processing" it doesn't work in postman too.
![image](https://user-images.githubusercontent.com/54430859/80306370-3d6daa80-8806-11ea-84b3-17a46b435e55.png)

[2020-04-26 11:45] codenirvana commented on #2328
@mr097065 Thanks for the verification.

With this new setting Postman encodes the URL based on the WHATWG URL standard ([know more](https://github.com/postmanlabs/postman-app-support/issues/8154) about this change) which is similar to most of the web browsers.

Are you facing a similar issue when you send this request from Chrome or any other browser?

[2020-04-26 11:53] codenirvana commented on #2328
@mr097065 The only character which is causing (because it's not encoded) this issue is `|` which needs to be encoded as `%7C` according to your request middleware.

[2020-04-26 11:54] mr097065 commented on #2328
Yes, I get same error in chrome when I hit the URL there.

Below is the error in chrome.
HTTP request parsing failed with error: "Malformed URI: /v1/addresses?country=AUS&amp;id=AUG|5f246f9b-7c97-4233-8de7-2d57f74cd86b|7.7305OAUGGwvjBwAAAAAIAgEAAAAAB7zTAAAAAAAAADEAAP..ZAAAAAD.....AAAAAAAAAAAAAAAAAAAAMTc3IHBhY2lmaWMgaHd5AAAAAAA-$15&amp;dataset=GNAF"

I just added the provided code in Pre-request Sc

[2020-04-26 11:55] mr097065 commented on #2328
Yes you are correct only the pipe sign is not getting decoded properly. I will try to decode manually and then run in Newman

[2020-04-26 11:59] codenirvana commented on #2328
@mr097065 This is probably because of parsing invalid/non-JSON string (maybe the response is different).

Also, This change in the URL processor is enabled by default since Newman v5. I think you are using an older version of Newman locally and v5 on Jenkins.

[2020-04-26 12:24] mr097065 commented on #2328
Yes I am using old version just updated Newman to V 5 and voilà it worked. Closing this issue. Thanks alot for your help.

[2020-04-26 12:24] #2328 closed

[2020-04-28 15:51] actionJacksonfv opened #2333 "File uploads work in Collection runner, Don't work in Newman CLI"
1. Newman Version (can be found via `newman -v`): 5.0.0
 2. OS details (type, version, and architecture): Windows 10, X64 bit
 3. Are you using Newman as a library, or via the CLI? Via CLI
 3. Did you encounter this recently, or has this bug always been there: Always been there, intermittent.
 4. Expected behaviour: I would expect any files in my working directory to be uploaded via binary files.

[2020-05-04 07:42] devilmind81 commented on #2229
Hi all,
I've installed the newman version 5.0.0 and I'm running the newman in a docker container so I want manage it with the minimum Memory configuration.
I'm running a test using JMETER passing a collection with only one post.
I've observed that  with only 35 concurrency calls the memory goes over 2 GB and it is going in JavaScript heap out of memory.

How it possible to avoid this memory increm

[2020-05-04 12:33] jasonbarr opened #2337 "Env variable not being passed in newman."
1. Newman Version (can be found via `newman -v`):
    4.6.0
 2. OS details (type, version, and architecture):
     Mac OS
 3. Are you using Newman as a library, or via the CLI?
     CLI
 3. Did you encounter this recently, or has this bug always been there:
     Recently.
 4. Expected behaviour:
     Pass variable to subsequent test.
 5. Command / script used to run Newman:
     newman run api/col

[2020-05-05 06:12] sahana-hiremath opened #2338 "HTML Report: Clarifications and pre-request Script count issue"
1. Newman Version (can be found via `newman -v`): 4.6.0
 2. OS details (type, version, and architecture):Windows 10
 3. Are you using Newman as a library, or via the CLI?  CLI
 3. Did you encounter this recently, or has this bug always been there: It's there
 4. Expected behaviour: the paarameters of report - Requests, test-scripts, Prerequest-scripts are not showing the count properly.
 5. Comman

[2020-05-05 06:49] shubhamjadon opened #2339 "Ability to execute individual requests"
Currently, you can run entire Postman collections. Add the capability the run a single request - not the whole collection.
This feature was meant to be part of GSOC 2020 but as this has not been assigned to anyone. I would love to add this feature to newman.
@shamasis @codenirvana can you assign this to me?

[2020-05-05 15:51] dpihlaja opened #2340 "Some dynamic variables in pre-scripts are not resolving in newman"
I swear I'm not crazy, but it seems that _some_ dynamic variables are not resolving in `newman`, however they resolve in the Postman app, and the Collection Runner.

This could be because of how I am using the pre-request script and stringifying an object, but to me, if this works in the app, it should work in `newman`

I've attached a collection with a console log, all you have to do to repro is

[2020-05-06 12:05] ionutzp commented on #885
any news here?

[2020-05-06 18:37] gorlovka commented on #1264
HTTP_PROXY='http://login:password@p.kagda.ru:80/' newman run  postman_collection.json

works for me so

[2020-05-06 20:38] codenirvana commented on #2340
@dpihlaja This is because you are using an older version of Newman which lacks support for a few dynamic variables.
I hope updating Newman will fix this issue.

[2020-05-06 20:38] #2340 closed

[2020-05-06 21:42] dpihlaja commented on #2340
I updated newman, but didn't restart my shell so I thought I was on current :(

Confirmed fix in 5.0.0. Thanks! I'm going to go find some sand to bury my head in now.

Thanks again for the reply, unblocks me on a project.

[2020-05-07 12:52] rahuldash171 commented on #1020
Hi please tell the process . How did you run it

[2020-05-07 18:58] davadora commented on #1820
any update on this?  we've seen it secure and insecure, with requests staying inside our network and traversing out to the internet....does an upgrade to Jenkins and/or newman resolve it?

[2020-05-07 20:49] #2337 closed

[2020-05-08 10:51] jasonbarr commented on #1224
Hey guys,

I'm doing this to get the value I need:

[code]
But in the newman console I see that 'tracking_code' is 'undefined' and isn't being passed to the following request (where I'm calling it):
[code]

Any ideas?

[2020-05-09 04:29] adilsyed-github opened #2343 "newman 5.0.0 still throws the Invalid URI error which means it is unable to read through the environment file"
1. i have my collection and env files in a specific path and I go to the path in cmd prompt, it throws error
newman run collection.json -e env.json --reporter htmlextra
2. the report shows all failed requests but when running from the postman, all are fine
3. I have attached the htmlextra report

![image](https://user-images.githubusercontent.com/56809535/81464150-6462ae00-9202-11ea-935b-2703a1621

[2020-05-09 11:24] amandeep0511 commented on #2343
Please assign this bug to me

[2020-05-09 23:14] adilsyed-github commented on #2343
How do i assign this defect to you? do you need anything from me....

[2020-05-10 03:52] codenirvana commented on #2343
@adilsyed-github are you sure `http://communication/` is a valid URL?

Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-11 02:35] adilsyed-github commented on #2343
- this is the Url: https://dev-api2.racq.com.au/external/qa/v1/communication/interactions/sms  but the first part of it is paramterised in the env. file as {{ApimUrl}}/communication/interactions/sms
-
[RACQAZAPI.Communication.SMSandInteractionMgmt.postman_environment.txt](https://github.com/postmanlabs/newman/files/4607277/RACQAZAPI.Communication.SMSandInteractionMgmt.postman_environment.txt)

[RA

[2020-05-11 05:42] codenirvana commented on #2343
@adilsyed-github This is because the environment variable `ApimUrl` is set to `""` empty string.
I hope updating the environment JSON with actual values will fix your issue.

I think this happened because the initial values in your Postman app's environment are not set.

[2020-05-11 05:42] #2343 closed

[2020-05-11 07:43] coditva commented on #1224
@jasonbarr Seems like the `undefined` printed is from `console.log(header_string)` and then the script errors out because of unsafe access. The `header_string` is `undefined` when there is no `set-cookie` header. Try this:

[code]

[2020-05-11 23:09] adilsyed-github commented on #2343
@codenirvana  I updated the environment file to have the initial values as well and it ran fine. but my question why is it looking at the initial value but why not at the current value?
here is the sample result: Thanks for the suggestion.
![image](https://user-images.githubusercontent.com/56809535/81620850-2b0f8580-9430-11ea-80f0-26179fb36c3f.png)

[2020-05-12 03:06] byalavarti commented on #1524
Any updates on this?

[2020-05-12 03:23] ustccq commented on #2215
Hi, all.
I need a feature that, to point to a directory, or multi files,
make requests in collection subfolder A execution times corresponding to the row count of file A who giving the parameters needed in subfolder A.
And requests in subfolder B executed times corresponding to its data file B.

I hope it will just be like what I can do with JMeter. Just one data file really can't cover most compl

[2020-05-12 14:22] actionJacksonfv commented on #2333
Any update on this issue?

[2020-05-12 14:31] chetan-v commented on #1701
hello, I want to contribute in it

[2020-05-13 00:24] adilsyed-github commented on #2343
when I hit a request in postman that brings the response but running the same from the newman command prompt says: 404 resource not found. unsure what's happening?

[2020-05-13 01:20] adilsyed-github commented on #2343
environment file has both initial and current value as the URL i am passing but still says resource not found

[2020-05-13 10:04] kristijanjakimovski opened #2347 "Tests in Postman Collection pass, In Newman some of them fail"
1. Newman Version (can be found via `newman -v`):5.0.0
 2. OS details (type, version, and architecture): Centos7
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Bug has been there since I started using newman
 4. Expected behaviour: Postman Collection works, newman doesnt
 5. Command / script used to run Newman: new

[2020-05-14 01:52] adilsyed-github commented on #2343
I am also getting an error in newman
![image](https://user-images.githubusercontent.com/56809535/81883762-6a2d0a80-95d9-11ea-81a6-af2544aeb109.png)

[2020-05-15 04:43] furick1 commented on #276
got excited about using newman with aws code build and then read this thread and a few others and am now pumping the breaks. Between version control issues in json and not being able to selectively run at a more granular level, it seems trying to do full API test automation using postman creates more hassle than its worth. happy to revisit when at least this issue is resolved.

[2020-05-15 10:17] limayekaiwalya opened #2353 "[Feature request] Using newman in drone - Read secrets from environment"
I am looking to run a test collection in drone, as a part of my CI/CD pipeline. I can use the newman CLI straightaway similar to other CI tools like Jenkins/Travis etc. However, it seems like this requires me to commit my `environment.json` which contains sensitive data, along with the rest of my code for the CI to use. I would prefer not to commit any secrets in plain text. How can I achieve this

[2020-05-16 06:28] narayanpai1 commented on #2353
Apart from using a JSON file as an environment, newman also allows you to use remote environments and collections via its URL as follows:
[code]

Here ``API_KEY`` can be stored as an ENV variable in your CI/CD provider.

Check out [this](https://documenter.getpostman.com/view/631643/JsLs/?version=latest) to know more about APIs provided by Postman.

[2020-05-16 08:34] narayanpai1 commented on #2294
The second argument is actually the RunSummary object. You can find out more about this object [here](https://github.com/postmanlabs/newman#newmanruncallbackerror-object--summary-object).

You can access globals from your function by ``args.globals``.

[2020-05-17 00:19] codenirvana commented on #2343
@adilsyed-github Only initial values are exported (+ synced) and the current values stay local to your Postman app instance.

The `ETIMEDOUT` is probably because of some proxy setup. Not sure because the endpoint is not publically available.

[2020-05-17 00:21] codenirvana commented on #2347
@kristijanjakimovski Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-17 00:25] codenirvana commented on #2333
@actionJacksonfv Are you sure that the required file is present in the same working directory as Newman process?
Additionally, you can try `--working-dir <path>` option to set the path of the working directory to use while reading files with relative paths.

[2020-05-18 09:56] sourav044 opened #2356 "Newman test report customize display in Testrail"
1. Newman Version 4.5.7
 2. OS details Windows 10
 3. Are you using Newman as a library?  Yes, I am using it as a library.
 3. Did you encounter this recently, or has this bug always been there: ->  Recently
 4. Expected behaviour: -> Newman test report customize display in Testrail
 5. Command / script used to run Newman:
`newman run Scripts.postman_collection.json -e Auto.postman_environment.jso

[2020-05-18 13:26] Madhusudanpatidar commented on #1679
@codenirvana,

Team please fix this ASAP, also im using newman version 5.0.0 but still this above issue in this version...
And this is very important point to fix on very high priority...
opened this issue on Aug 16, 2018, but not give any solution on yet....approximately 21 months.....

[2020-05-18 15:59] seansensus opened #2357 "newman 5.0.0 crashes"
newman 5.0.0

Running against a postman collection which is purposely setup as an infinite loop to help me test for memory leaks in another application. After a day or so of running newman crashes.

Running from a windows 10 (1909) command prompt.
Expected behavior is newman runs until I hit cntl-c to stop it.
Couple crash dumps below.

-------------------------------------------------------------

[2020-05-18 16:04] codenirvana commented on #2357
@seansensus Thanks for reporting this issue, this is happening because Newman internally accumulates all the interaction data to generate the report.
We are thinking of adding an option to stop the accumulation completely for use-cases like this.

Closing as duplicate of #941.

[2020-05-18 16:04] #2357 closed

[2020-05-18 19:15] actionJacksonfv commented on #2333
Yes.

On Sat, May 16, 2020 at 6:25 PM Udit Vasu <notifications@github.com> wrote:

--
Jackson Gunther
SDET (Team OTNIO)

--
This E-mail and any attachments hereto are confidential, remain the
property of Filevine, Inc. ("Filevine"), and are intended solely for the
use of the individual or entity to whom they are addressed.  If you are not
the intended recipient, you may not disseminate, distribute

[2020-05-19 02:41] codenirvana commented on #2333
@actionJacksonfv This is odd, as we are not able to reproduce this internally and we haven't seen other users facing the same.

I suggest you try debugging the collection JSON to check what's the resolved file path. Or, share a scaled-down collection which we can use to reproduce this issue?

[2020-05-19 03:53] adilsyed-github commented on #2343
Thanks for the comment but by the way when I'm running the collection from Postman runs fine but in Newman only one request is failing but NOT all and it says 404 resource not found. If that is the case why would it pass in Postman? See the error here:
![image](https://user-images.githubusercontent.com/56809535/82282787-fe331380-99d7-11ea-8e30-2f2db932d9d8.png)

![image](https://user-images.github

[2020-05-19 04:10] codenirvana commented on #2343
@adilsyed-github Can you share a scaled-down collection (or the API endpoint) which we can use to reproduce this issue?

[2020-05-19 04:50] adilsyed-github commented on #2343
I have shared both the files in txt here... you can rename it to json before downloading in postman.
[RACQAZAPI.ApttusPymntMgmnt.Test.Env.postman_environment.txt](https://github.com/postmanlabs/newman/files/4648257/RACQAZAPI.ApttusPymntMgmnt.Test.Env.postman_environment.txt)
[RACQAZAPI.Assistance.PaymentManagement.Apttus.v1.Test.txt](https://github.com/postmanlabs/newman/files/4648258/RACQAZAPI.As

[2020-05-19 05:08] codenirvana commented on #2343
@adilsyed-github looks like the endpoint is private, I am not able to execute the collection locally.

[2020-05-19 13:13] narayanpai1 commented on #2356
Hi @sourav044, since testrail is a custom reporter and this repo doesn't deal with it, you would have to raise the issue in [this](https://github.com/billylam/newman-reporter-testrail) repo.

[2020-05-20 11:14] avicohh commented on #883
There is problem with adding process.exit(1), because then the process exits before the reports are done.
For now the only solution I found, is to add some timeout before the process.exit(1)

[2020-05-20 21:20] zMacu commented on #777
I need to skip request A and B for de 2nd iteration. How can I do it? Please help

[2020-05-21 06:45] fangjiantan commented on #2210
@hvitis Hi, I reported this error when executing with Newman command：
error: Invalid Record Length: header length is 9, got 1 on line 5

[2020-05-21 06:46] fangjiantan commented on #2182
Hi, I reported this error when executing with Newman command：
error: Invalid Record Length: header length is 9, got 1 on line 5

[2020-05-21 09:35] swastikmu opened #2359 "Collection variable as a JSON object is not working in newman"
I am working on a test script where i am using collection variables to for storing tokens and use it in subsequent calls. Now instead of single variable I used JSON object to make sure one type of data stores in one object. It is working fine in collection Runner. However , in newman it is showing undefined. is new newman unable to handle json var
call 1: pre requisite 👍

![image](https://user-ima

[2020-05-21 09:52] codenirvana commented on #2359
Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-21 10:14] swastikmu commented on #2359
HI @codenirvana  , You cannot execute the coll as it is meant to run in closed environment . I am still attaching the colll to view the structure.

[github_collection.json.txt](https://github.com/postmanlabs/newman/files/4661859/github_collection.json.txt)

[2020-05-21 10:18] codenirvana commented on #2359
@swastikmu please use a [echo endpoint](http://postman-echo.com/) to mimic the behavior in a way we can execute and reproduce this issue locally.

[2020-05-21 10:29] swastikmu commented on #2359
Okay. I will check and as i told you cannot use urls as such. i will try to use open apis and mimic the behavior. by the mean time i will use single variable instead of json in coll variables.

[2020-05-21 23:38] adilsyed-github commented on #2343
@codenirvana what about the collection or the env. file? has it got any missing info becoz of which it says 404 but when ran locally in collection runner it goes fine

[2020-05-22 15:22] kirill-bulyshkin commented on #2347
Faced with the same problem when running collections through Newman 5.0.0 - 5.0.1 versions

[2020-05-22 15:23] #2356 closed

[2020-05-25 07:12] fangjiantan opened #2362 "error: Invalid Record Length: header length is 9, got 1 on line 5"
1. Newman Version (can be found via `newman -v`): 》4.5.4
 2. OS details (type, version, and architecture):》OS-10.14.5
 3. Are you using Newman as a library, or via the CLI?》CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screensh

[2020-05-25 08:08] junghanChoi opened #2363 "nested folder is not included in the runner"
1. Newman Version (can be found via `newman -v`): 5.0.1
 2. OS details (type, version, and architecture): win10 64bit
 3. Are you using Newman as a library, or via the CLI? cli
 3. Did you encounter this recently, or has this bug always been there: recently.
 4. Expected behaviour: include all requests in the collection
 5. Command / script used to run Newman: newman run "LBE 0.1.postman_collectio

[2020-05-25 08:09] junghanChoi commented on #2363
I pulled nested folders out, then the runner include them.

[2020-05-25 10:37] codenirvana commented on #2362
@fangjiantan can you try updating to Newman v5 and check if that fixes your issue?

[2020-05-25 10:39] codenirvana commented on #2363
@junghanChoi That's odd... can you share a scaled-down collection (without sensitive details) which we can use to reproduce this issue locally?

[2020-05-25 10:46] fangjiantan commented on #2362
Thank you. It will be solved after updating to the latest version

[2020-05-25 10:47] #2362 closed

[2020-05-25 11:18] codenirvana commented on #2347
@kirill-bulyshkin what's the exact problem? Can you share a scaled-down collection which we can use to reproduce this issue locally?

[2020-05-25 11:20] kristijanjakimovski commented on #2347
Found the problem, newman v5.0.0 uses next generation URL processing, and when you install postman by default in Setting "Use next generation URL processing" is turned off and I couldn't see the errors in postman console. The errors were blank space after the URI request... Now is working fine :)

[2020-05-25 11:23] codenirvana commented on #2347
@kristijanjakimovski Thanks for the confirmation! 😄
We are soon going to enable the next-generation URL processor ON by default in Postman as well.

[2020-05-25 11:23] #2347 closed

[2020-05-25 16:52] FCesar commented on #612
Hello everybody, I not understand, how to `.pause()` works .

In my case, I wish get data in my db on event "beforeItem" . But interaction not await query result and execute request. I wish that newman awaiting, before execute request

I use async/await

[2020-05-25 20:52] codenirvana commented on #797
With the new request settings in the Postman app, you can specify any custom cipher suit.
I hope that fixes this issue, please feel free to reopen if the issue persists.

[2020-05-25 20:52] #797 closed

[2020-05-25 20:57] codenirvana commented on #1065
The latest Postman sandbox adds support for [AJV](https://github.com/ajv-validator/ajv) and deprecates support for TV4.

[2020-05-25 20:57] #1065 closed

[2020-05-25 21:05] codenirvana commented on #1497
Closing as duplicate of #941

[2020-05-25 21:05] #1497 closed

[2020-05-25 21:07] codenirvana commented on #1506
@shubsaini09 is this issue still reproducible?

[2020-05-25 21:08] codenirvana commented on #1510
Closing as duplicate of #941

[2020-05-25 21:08] #1510 closed

[2020-05-25 21:17] codenirvana commented on #1599
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 21:17] #1599 closed

[2020-05-25 21:20] codenirvana commented on #1631
Duplicate of https://github.com/postmanlabs/newman-reporter-html/issues/180

[2020-05-25 21:20] #1631 closed

[2020-05-25 21:22] codenirvana commented on #1635
You can now programmatically manipulate cookies before sending the request...
Refer to https://github.com/postmanlabs/postman-app-support/issues/3312#issuecomment-516965288 for more details.

[2020-05-25 21:22] #1635 closed

[2020-05-25 21:28] codenirvana commented on #1690
Closing since this issue is not related to Newman and a workaround https://github.com/postmanlabs/newman/issues/1690#issuecomment-463505351 exist.

[2020-05-25 21:28] #1690 closed

[2020-05-25 21:30] codenirvana commented on #1691
Duplicate of #941

[2020-05-25 21:30] #1691 closed

[2020-05-25 21:33] codenirvana commented on #1700
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 21:33] #1700 closed

[2020-05-25 21:35] codenirvana commented on #1732
With the new request settings in the Postman app, you can specify any custom cipher suit.

[2020-05-25 21:35] #1732 closed

[2020-05-25 21:37] codenirvana commented on #1747
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 21:37] #1747 closed

[2020-05-25 21:38] codenirvana commented on #1752
Closing as workaround exist https://github.com/postmanlabs/newman/issues/1752#issuecomment-429813523

[2020-05-25 21:38] #1752 closed

[2020-05-25 21:40] codenirvana commented on #1756
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 21:40] #1756 closed

[2020-05-25 21:41] codenirvana commented on #1763
Closing based on https://github.com/postmanlabs/newman/issues/1763#issuecomment-456312964

[2020-05-25 21:41] #1763 closed

[2020-05-25 21:46] codenirvana commented on #1820
It looks like you are only setting the `HTTPS_PROXY` and trying to send `http:` requests.
I hope setting both `HTTPS_PROXY` and `HTTP_PROXY` will fix this issue.

[2020-05-25 21:46] #1820 closed

[2020-05-25 21:46] codenirvana commented on #1858
It looks like you are only setting the `HTTPS_PROXY` and trying to send `http:` requests.
I hope setting both `HTTPS_PROXY` and `HTTP_PROXY` will fix this issue.

[2020-05-25 21:46] #1858 closed

[2020-05-25 21:48] codenirvana commented on #1825
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/5606

[2020-05-25 21:48] #1825 closed

[2020-05-25 21:49] codenirvana commented on #1845
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 21:49] #1845 closed

[2020-05-25 21:51] codenirvana commented on #1864
I hope updating to the latest version of the Postman app fixes this issue.
If not, feel free to open a new issue in our issue tracker here: https://github.com/postmanlabs/postman-app-support

[2020-05-25 21:51] #1864 closed

[2020-05-25 21:58] codenirvana commented on #1867
It looks like this issue is fixed in the latest version of Newman.

<img width="979" alt="Screenshot 2020-05-26 at 3 28 14 AM" src="https://user-images.githubusercontent.com/4865836/82845145-f3f5a580-9f00-11ea-8758-39326a4b8c6e.png">

Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists

[2020-05-25 21:58] #1867 closed

[2020-05-25 21:59] codenirvana commented on #1872
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 21:59] #1872 closed

[2020-05-25 21:59] codenirvana commented on #1879
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 21:59] #1879 closed

[2020-05-25 22:06] codenirvana commented on #1930
Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-25 22:08] codenirvana commented on #1946
Can you check if this issue is still reproducible in the latest version of Newman?
If not, can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-25 22:11] codenirvana commented on #1959
Newman v5 drops support for Node v6.
Closing as this is happening only in Node v6, refer: https://github.com/postmanlabs/newman/issues/1959#issuecomment-479673334

[2020-05-25 22:11] #1959 closed

[2020-05-25 22:12] codenirvana commented on #1972
This is fixed in the latest version of Newman.

[2020-05-25 22:12] #1972 closed

[2020-05-25 22:13] codenirvana commented on #1973
Can you share a scaled-down collection using some [echo endpoint](http://postman-echo.com/) which we can use to reproduce this issue?

[2020-05-25 22:14] codenirvana commented on #1978
Closing as this is fixed in the latest version of Newman.

[2020-05-25 22:14] #1978 closed

[2020-05-25 22:17] codenirvana commented on #2195
Closing as the following PR https://github.com/postmanlabs/newman/pull/2253 got merged.

[2020-05-25 22:17] #2195 closed

[2020-05-25 22:18] codenirvana commented on #1990
You can use the `--folder` option to also specify the individual request name.

[2020-05-25 22:18] #1990 closed

[2020-05-25 22:18] codenirvana commented on #2008
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 22:18] #2008 closed

[2020-05-25 22:20] codenirvana commented on #2010
You can use Newman as a library to achieve this.
We recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2020-05-25 22:20] #2010 closed

[2020-05-25 22:20] codenirvana commented on #2011
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 22:20] #2011 closed

[2020-05-25 22:21] codenirvana commented on #2021
Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-25 22:23] codenirvana commented on #2028
@apurvanataraj88 Can you check if enabling `--disable-unicode` option helps?

[2020-05-25 22:24] codenirvana commented on #2029
Is this issue still reproducible in Newman v5?

[2020-05-25 22:26] codenirvana commented on #2054
Closing as per https://github.com/postmanlabs/newman/issues/2054#issuecomment-532486958

[2020-05-25 22:26] #2054 closed

[2020-05-25 22:32] codenirvana commented on #2085
Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-25 22:33] codenirvana commented on #2088
Duplicate of #1701

[2020-05-25 22:33] #2088 closed

[2020-05-25 22:33] codenirvana commented on #2095
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 22:33] #2095 closed

[2020-05-25 22:34] codenirvana commented on #2102
Closing as per https://github.com/postmanlabs/newman/issues/2102#issuecomment-525665791

[2020-05-25 22:34] #2102 closed

[2020-05-25 22:36] codenirvana commented on #2108
Closing as duplicate of #941

[2020-05-25 22:36] #2108 closed

[2020-05-25 22:37] codenirvana commented on #2116
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 22:37] #2116 closed

[2020-05-25 22:37] codenirvana commented on #2119
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 22:37] #2119 closed

[2020-05-25 22:40] codenirvana commented on #2120
This is not possible as it will break the fundamental workflow of the data files.
I suggest you rely upon the data file's rows and assign a programmatic counter to the variable name.

[2020-05-25 22:40] #2120 closed

[2020-05-25 22:41] codenirvana commented on #2121
Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-05-25 22:42] codenirvana commented on #2131
Closing as the mentioned PR is merged.

[2020-05-25 22:42] #2131 closed

[2020-05-25 22:44] FCesar opened #2370 "Async Callback"
Hello everybody, I not understand, how to `.pause()` works .
_Originally posted by @FCesar in https://github.com/postmanlabs/newman/issues/612#issuecomment-633650858_

In my case, I wish get data in my db on event "beforeItem" . But interaction not await query result and execute request. I wish that newman awaiting, before execute request

I use async/await in callback.

[2020-05-25 22:44] codenirvana commented on #2150
This is fixed in Newman v5.

[2020-05-25 22:44] #2150 closed

[2020-05-25 22:46] codenirvana commented on #2154
Closing as this issue is not related to Newman and a workaround https://github.com/postmanlabs/newman/issues/2154#issuecomment-615393096 exists.

[2020-05-25 22:46] #2154 closed

[2020-05-25 22:47] codenirvana commented on #2161
Can you share a scaled-down collection/steps which we can use to reproduce this issue?

[2020-05-25 22:51] codenirvana commented on #2166
Duplicate of #941

[2020-05-25 22:51] #2166 closed

[2020-05-25 22:51] codenirvana commented on #2295
Duplicate of #941

[2020-05-25 22:51] #2295 closed

[2020-05-25 22:52] codenirvana commented on #2170
Duplicate of #941

[2020-05-25 22:52] #2170 closed

[2020-05-25 22:52] codenirvana commented on #2182
This is fixed in Newman v5.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 22:52] #2182 closed

[2020-05-25 22:54] codenirvana commented on #2186
You can set up an environment or global variable and run your tests accordingly.

Also, we recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2020-05-25 22:54] #2186 closed

[2020-05-25 22:55] codenirvana commented on #2187
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 22:55] #2187 closed

[2020-05-25 22:56] #2196 closed

[2020-05-25 22:58] codenirvana commented on #2199
Promises and async/await are not supported at the moment.
Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/4131

[2020-05-25 22:58] #2199 closed

[2020-05-25 22:59] codenirvana commented on #2229
Duplicate of #941

[2020-05-25 22:59] #2229 closed

[2020-05-25 23:00] codenirvana commented on #2241
It's essential to have a unique folder/request name.

[2020-05-25 23:00] #2241 closed

[2020-05-25 23:00] codenirvana commented on #2249
Can you share a scaled-down collection/steps which we can use to reproduce this issue?

[2020-05-25 23:03] codenirvana commented on #2280
This can't be done in one shot... Also, there's no significant advantage of doing so.
Please feel free to submit a PR by first adding support for type definitions.

[2020-05-25 23:03] #2280 closed

[2020-05-25 23:03] codenirvana commented on #2282
Closing as per https://github.com/postmanlabs/newman/issues/2282#issuecomment-602448204

[2020-05-25 23:03] #2282 closed

[2020-05-25 23:04] codenirvana commented on #2283
Fixed in Newman v5.

[2020-05-25 23:04] #2283 closed

[2020-05-25 23:07] codenirvana commented on #2284
I don't feel this issue is related to Newman.

Can you share a sample package that we can use to reproduce this issue locally?

[2020-05-25 23:08] codenirvana commented on #2294
Closing as per https://github.com/postmanlabs/newman/issues/2294#issuecomment-629609758

[2020-05-25 23:08] #2294 closed

[2020-05-25 23:08] #2312 closed

[2020-05-25 23:10] codenirvana commented on #2324
This is not possible out of the box. But maybe you can use Newman as a library to do so.

I recommend reaching out to the wider Postman Community (https://community.getpostman.com/) for help with issues like these.

[2020-05-25 23:10] #2324 closed

[2020-05-25 23:11] codenirvana commented on #2333
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-05-25 23:11] #2333 closed

[2020-05-25 23:13] codenirvana commented on #2339
Sure, the original idea was to add a new `newman request` command which takes curl like arguments to execute that request.

However, a single request can be sent using the `--folder` option as well.

[2020-05-25 23:13] #2339 closed

[2020-05-25 23:13] codenirvana commented on #2353
Closing as per https://github.com/postmanlabs/newman/issues/2353#issuecomment-629596637

[2020-05-25 23:13] #2353 closed

[2020-05-26 04:03] swastikmu commented on #2359
HI ,sorry for my late reply. i was trying from my end. i have taken a small example to simulate the same as i cannot share the actual api as it is private business data and i do not have permission.
when i run the coll using postman runner it is working fine. However, the newman unable to parse the json object which i defined in the pre-requisite of the first call.

[northwind.json.txt](https://gi

[2020-05-26 10:27] tannushree17j commented on #2170
hey this si fixed.
I was getting this error mainly because the response size was too large.

[2020-05-26 12:51] cchretien commented on #2295
I hope the information provided at least narrows down something introduced in the minor release  4.4.0 < x <= 4.5.7
We've been using newman up to 4.4.0 quite heavily in our CI and it's been pretty solid despite the performance issue 941

[2020-05-26 15:47] rwilliams3 commented on #2363
I had this same issue as well. I had to resort to not using the nested folder name and only using the outermost folder name instead (which gave me less control over the test as it would run all of the nested folders by default). This used to work.

[2020-05-26 22:30] codenirvana commented on #2363
@rwilliams3 Please share the steps which we can follow or a collection (using [echo endpoint](http://postman-echo.com/)) which we can use to reproduce this issue locally.

[2020-05-26 23:30] alexkaufman06 commented on #2284
We ended up going a different route for this project. Since no one else is reporting this I'll close it.

[2020-05-26 23:30] #2284 closed

[2020-05-27 03:02] junghanChoi commented on #2363
It'll be violation of COC when I share the code. I would try to create an example collection.

[2020-05-27 07:41] junghanChoi commented on #2363
It seems that I was using postman in a wrong way.
Maybe the folder structure was problem. **But also my script had fault.**
I've wanted to run the same request again with different parameter value.
The problem was that I made duplicated request name.

`
let sizes;

try {
    sizes = pm.globals.get("sizes")
}
catch (e) {

}
if (!sizes) {
    sizes = [0, 501, 1000, "aaa", -1]
}
let currentSize = siz

[2020-05-27 07:59] codenirvana commented on #2363
@junghanChoi Thanks for the clarification.
It's better to give a unique folder/request name while using `postman.setNextRequest` to avoid confusion.

I am closing this issue now. Feel free to reopen if the folders issue persists or you can help us with the steps to reproduce this issue.

[2020-05-27 07:59] #2363 closed

[2020-05-27 13:44] chuck-wood commented on #276
This is a fantastic way to put it. There's a disconnect between the UI and the automation, and so far the only way to deal with it is to butcher the human experience to satisfy the automation.

[2020-05-27 16:04] mtaylorSF opened #2371 "[Feature Request] - Add ability to TAG a test/folder"
I would like to request the ability to TAG a test/folder with a common name.

## Goal/Use Case
lets say i have 10 folders that are name Folder A thru J with 5 tests in each (50 tests in total)
in each folder i would like to TAG a certain test as "sanity".  My goal is to  run a test or folder with a TAG = "Sanity"

## Current Postman implementation
### Newman
we can move any "sanity" tests into a f

[2020-05-27 18:47] bobotzzz opened #2372 "Docs miss describing the properties of the second argument object in callbacks."
For the part of your documentation in regard to callbacks https://github.com/postmanlabs/newman#newmanrunevents there is this statement that is not true: _**All events receive two arguments (1) error and (2) args. The list below describes the properties of the second argument object.**_
That list only shows the callback name and a short description of it.
Please do describe what does the **args**

[2020-05-28 07:42] codenirvana commented on #2372
@bobotzzz We started documented those earlier but got deferred 😞. We'll take this up soon!
Closing as duplicate of #2069

[2020-05-28 07:42] #2372 closed

[2020-05-28 07:45] codenirvana commented on #2371
@mtaylorSF Thanks for this feature request and I see how tags will be useful in situations like this.
We are already tracking this feature request in the Postman app's issue tracker.

Closing as duplicate of https://github.com/postmanlabs/postman-app-support/issues/6498

[2020-05-28 07:45] #2371 closed

[2020-05-28 07:59] codenirvana commented on #2295
@cchretien Thanks for providing the sample test suit to reproduce this issue.
You are right, It started failing from v4.5.6 onwards. So, I spent some time looking into every change made in Newman and it's dependencies and I can't find anything which might cause this.

However, I see the execution has 1000 iterations with every request having 1.5 MB of response payload, and since Newman internally

[2020-05-28 08:13] codenirvana commented on #2359
@swastikmu Thanks for providing the sample collection!

This is happening because the exported collection has variable type `string` which is casting the updates on these variables to string as well.
[code]

As a workaround, you can either remove the `type` property complete from the exported collection JSON or change `type` to `any`.

Marking this as a bug and will let you know if there's any upd

[2020-05-29 20:45] MuckT commented on #1655
Here's a workaround I've used to report the response body of failing tests:

[code]

[2020-05-30 00:15] sahanakrishnaiyer commented on #1700
I am seeing similar issue running collection using newman:

`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
 1: node::Abort() [node]
 2: 0x7f64f33ba011 [node]
 3: v8::Utils::ReportOOMFailure(char const*, bool) [node]
 4: v8::internal::V8::FatalProcessOutOfMemory(char const*, bool) [node]
 5: v8::internal::Factory::NewRawTwoByteString(int, v8::internal::Pretenure

[2020-05-30 15:03] D43M0NT00L5 opened #2376 "JSON reporter sometimes stores one execution twice"
I encounterd an issue while i merged pairs of executions and failures via their httpRequestId.
The aim is to have a failure without an empty response.
So i normally let my script run over the json-reporter-export-file and create a summary from scratch.
The summary contains a small overview and all failures with detailed response and httpRequestId only.
In order to add the response to a failure, i

[2020-06-01 16:50] vdespa commented on #2148
Is there any way to do this without (-x).

It would be great if you could provide a "best practice" example for doing this. I see many 3rd party reporters struggling with this.

[2020-06-04 06:24] bobotzzz commented on #2294
Hi, While that is true for the newman.run callback, it is not true for the callback inside a newman event. For these events, the callbacks are not even documented.
A use case I see this fit for exposing variables in events callback, is when a certain libs are used for email or websockets handling. This way, for example, after a response is received, in that event, certain checks can be validated u

[2020-06-04 07:35] RuchiTrehan2 opened #2384 "How to Access Updated Global Variable's Value after each Iteration"
1. Newman Version (can be found via `newman -v`): 5.0.0
 2. OS details (type, version, and architecture): windows 10 64-bit
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7

[2020-06-04 13:03] emirsalihagic commented on #1524
I am facing same issue and there is no explanation over here how to solve issue but issue is closed

[2020-06-04 20:21] toolmania1 commented on #1700
<--- Last few GCs --->

n 2643 steps since start of marking, biggest step 9.7 ms, walltime since start of marking 1759 ms) finalize incremental marking via stack guard GC i[13346:0x31c3840]    38894 ms: Mark-sweep 1046.6 (1081.3) -> 551.2 (564.9) MB, 3.5 / 0.0 ms  (+ 40.3 ms in 8 steps since start of marking, biggest step 11.2 ms, walltime since start of marking 12114 ms) finalize incremental mark

[2020-06-06 21:49] rohit-gohri commented on #2339
I think we could still keep this open, as in the case of duplicate request names the folder option fails.

@shubhamjadon does https://github.com/postmanlabs/postman-runtime/pull/1010 allow filtering requests with nested paths and with ids if the duplicate name requests in the same folder?

[2020-06-09 06:42] rohit-gohri commented on #918
@codenirvana Is there anything stopping this?

For the library API, we can directly support https://github.com/salesforce/tough-cookie CookieJar or through `postman-request` if the option of changing the base library is required sometime in the future.

For the CLI a json file can be used, tough-cookie has fromJSON/toJSON methods (https://github.com/salesforce/tough-cookie#cookiejarfromjsonstring)

[2020-06-09 06:55] codenirvana commented on #918
@rohit-gohri Yes, the underlying `postman-runtime` library accepts a tough-cookie jar instance.
Refer: https://github.com/postmanlabs/newman/blob/develop/lib/run/index.js#L176

[2020-06-09 18:53] Sviatoy commented on #2210
you also can specify
node --max-http-header-size=40960
It should work for latest node

[2020-06-11 19:37] TheRealArlie opened #2399 "Tunneling socket - self signed certificate - OWASP ZAP Proxy"
1. Newman Version (can be found via `newman -v`):
`5.1.0`

 2. OS details (type, version, and architecture):
`linux`

 3. Are you using Newman as a library, or via the CLI?
'CLI`

 3. Did you encounter this recently, or has this bug always been there:
I just started to use it in this way

 4. Expected behavior:
I would like to run newman through OWASP ZAP Proxy in order to do security analysis on

[2020-06-12 20:09] RodrigoFragoso commented on #1055
https://github.com/postmanlabs/newman/issues/1055 - Was this issue resolved? I am facing a difficulty in version 5.0.1 Newman, if I pass a FOLDER, I receive the successful response.

[2020-06-13 15:30] ShahOdin commented on #2192
To add to this, I would like to be able to pass collection variables to a collection as a but also be able to export the env vars. as far as I can see, I can't do either.

[2020-06-14 12:11] ShahOdin commented on #2085
I second this issue. Here is my Json:

[code]

I ran the following:

[code]

in the hope that they run in order. They don't.

[2020-06-14 12:45] ShahOdin opened #2402 "Collection composition"
I have done some spikes into composing collections so that a business use-case can be created by composing individual collections. In the process, I have examined the different components that can overlap and thought you guys might appreciate the insight.

Before I go ahead and create my own little library, is this something postman team will be interested in pursuing?

[2020-06-14 18:29] shamasis commented on #2402
That’s a great news. At Postman we support and appreciate our community leveraging the collection concept itself to amplify the value they derive out of Postman platform.

I would love to see what you develop and would be more than glad to be part of the process in any way feasible. At the moment, composing collections to form a scenario is in our feature list but not in near term horizon.

[2020-06-15 12:37] irfaansb opened #2404 "SSL-client-cert-list not working"
Version and environment information:

 1. Newman Version - 4.5.6
 2. OS details : mac os
 3. Using newman as CLI
 5. Command / script used to run Newman: cmd used: newman run Automation.postman_collection.json --ssl-client-cert-list sslclientcertlist.json
5. Error message: error: unknown option '--ssl-client-cert-list'

Steps to reproduce the problem:

1. Create a postman collection
2. Create a ss

[2020-06-15 12:41] codenirvana commented on #2404
Support for `--ssl-client-cert-list` option was added in Newman v4.6.0. Refer: https://github.com/postmanlabs/newman/blob/v5.1.0/CHANGELOG.yaml#L38

I hope updating Newman to the latest version will fix your issue.

[2020-06-15 12:41] #2404 closed

[2020-06-16 10:02] ShahOdin commented on #2402
Sure.
So ideally, we want that a solution that:

# Requirements

1. works on top of collections and doesn't require the collection themselves to have any notion of this sequencing. ie, nothing like `postman.setNextRequest()`

2. The solution should ideally work for both postman and newman.

3. allows the full usage of all scopes. ie, `collectionVariables`, etc.

# potential solutions

We examine t

[2020-06-16 10:03] ShahOdin commented on #2402
## Solution A

### description

This is currently my only working solution. It's a newman only solution that works with the `environment` scope only. It makes use of `export-environment` flag in newman's run command.

We can run:

[code]

The envs-mutable.postman_environment does the job of passing the context around. In this case, the context is only the `environment` scope variables.

### Pros &

[2020-06-16 10:13] ShahOdin commented on #2402
## Solution B

### description

Taking the idea behind req.1 a step further, we could say this composition process should happen independently of Postman/Newman and that this process should generate a combined collection. If we can achieve such a combined collection, then the requests can have full access to the `collectionVarriables` scope too for instance since it's just one big collection. Also

[2020-06-16 10:36] sergeyampo opened #2405 "Save env var contains double-quotes to use in next request doesn't work"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2020-06-16 12:51] #2405 closed

[2020-06-17 01:51] snv0 opened #2406 "if"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2020-06-17 01:51] snv0 opened #2407 "666"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2020-06-17 01:51] snv0 opened #2408 "666"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2020-06-17 07:58] codenirvana commented on #2406
Looks like this is created by mistake.
Feel free to reopen if you can provide more detail about this issue.

[2020-06-17 07:58] #2406 closed

[2020-06-17 07:59] codenirvana commented on #2407
Looks like this is created by mistake.
Feel free to reopen if you can provide more detail about this issue.

[2020-06-17 07:59] #2407 closed

[2020-06-17 07:59] codenirvana commented on #2408
Looks like this is created by mistake.
Feel free to reopen if you can provide more detail about this issue.

[2020-06-17 07:59] #2408 closed

[2020-06-22 09:50] flsimoes96 commented on #366
I'm having a problem where, in some specific requests there is a very significant difference in request time between postman and newman. Newman's request time is sometimes 16x slower than postman. This problem might be tied to the request I'm making, but nevertheless it is strange to have such a difference between making that request in newman and postman. I've tried to replicate the error using a

[2020-06-22 13:41] RufusA1 commented on #287
This actually worked. Thank you

[2020-06-22 14:49] Fairouz05 opened #2410 "Test Passes in Postman (200 Ok) but fails in Newman (404 not found)"
I am sending a POST request by hardcoding a required parameter value in double-quotes in the request bosy,  since the parameter only accepts unique values I am using a previously used value to check that the right response comes. Postman gives the expected response message with 200 ok status but Newman returns different response message (found using console.log(responseBody)) with 404 not found st

[2020-06-23 06:49] codenirvana commented on #2410
Can you share a scaled-down collection which we can use to reproduce this issue?

[2020-06-23 11:05] Fairouz05 commented on #2410
The APIs and endpoints I am using works on project installed in the local machine, so I don't think I can share that

[2020-06-23 21:04] sauln commented on #2071
Any update on if this will be addressed?  I see `src` in the v2.1 schema, but it doesn't seem to be implemented.

[2020-06-24 11:34] rohit-gohri commented on #918
@codenirvana Could you take a look at the PR? It would be really great if it got merged before the next release.

[2020-06-24 14:51] BugliL commented on #1336
I am having the same problem

[2020-06-25 06:28] DannyDainton commented on #2410
Hey @Fairouz05

Is this the same issue that you raised in the Postman community?

https://community.postman.com/t/test-passes-in-postman-200-ok-but-fails-in-newman-404-not-found/13610/5

Seems like you resolved the problem, can we close this issue?

[2020-06-25 14:57] RajatGupta16197 opened #2413 "Proxy Request through Request Agent"
I am using newman as a library.I am specifying the request agent but newman is not accepting it. I tried socks-proxy-agent as well as http-proxy-agent. I am also using reporters options too which is generating the report properly.

const requestAgent = new SocksProxyAgent({ host: 'localhost', port: '1080' });

newman.run({
    collection: require('./sample-collection.json'),
    requestAgents: {

[2020-06-25 19:53] wt383 commented on #2029
newman - v works on 5.1.0.

[2020-06-25 22:48] shamasis commented on #2029
Thanks for confirming that v5 and above solves this issue. Closing this issue.

[2020-06-25 22:48] #2029 closed

[2020-06-26 04:13] manjulareddy87 opened #2414 "Exported Json is not having the Environment Variables Replaced - Soap Calls"
[SoapCollection.json.txt](https://github.com/postmanlabs/newman/files/4835068/SoapCollection.json.txt)

 1. Newman Version (7.27):
 2. OS details (MacOS Catalina 10.15.5)
 3. Are you using Newman as a library, or via the CLI? Both
 3. Did you encounter this recently, or has this bug always been there: Not Sure
 4. Expected behaviour: Expecting the  environment variables replaced in the exported Js

[2020-06-26 04:15] manjulareddy87 commented on #2414
Note: Running through Collection Runner  of Individual Calls are working fine.

[2020-06-26 08:55] Fairouz05 commented on #2410
Yes, it's the same issue

[2020-06-26 08:55] #2410 closed

[2020-06-29 12:38] manju0906 opened #2417 "Global variables for header is not accepted in newman"
I have defined global variables for header and URL in postman collection and its working fine but when i try to run using newman command by passing the global variables, URL is accepted but somehow headers are not read.

is there anything wrong in newman command or is there any way to pass the global variables to headers using newman.

please refer the below screenshots.

1. Defined variables in p

[2020-07-01 12:42] manju0906 commented on #2417
looks like there was some error in script, i completely redesigned the script. it worked fine. but i still couldn't find a solution if there was an error in script how postman runner was working fine.

[2020-07-01 12:42] #2417 closed

[2020-07-02 12:15] aurelienlair opened #2419 "Force dns.lookup for host that ends by localhost"
1. Newman Version (can be found via `newman -v`):
5.0.1
 2. OS details (type, version, and architecture):
Debian 9 (in a Docker)
 3. Are you using Newman as a library, or via the CLI?
library
 3. Did you encounter this recently, or has this bug always been there:
this bug always been there
 4. Expected behaviour:
**If** I have another container under the same network as the container where Newman

[2020-07-03 15:15] svarshney2311 opened #2421 "while executing Newman as Library, getting error."
Hi,

Iam trying to execute below  Node library, but getting error.

const newman = require('newman')

Below is my app.js:

newman.run({
collection: './Digital_API.postman_collection.json',
IterationData : '/TestData_SIT.json',
IterationCount : 1,
d: '/TestData_SIT.json',
reporters: 'htmlextra',
reporter: {
htmlextra: {
template: '/Report.hbs',
export:'Desktop/SmokeReport.html'

}
}
})

**Getting b

[2020-07-03 22:57] peteplay opened #2422 "eval() not working in newman"
Newman version: 5.0.1
OS details: Windows 10
Command: **newman run "C:\newman-test\collections\ASYNC Summary Tab NEW - 53291 by 1.postman_collection.json" --environment "C:\newman-test\environments\Promo.postman_environment.json" --iteration-data "C:\newman-test\data\ASYNCChartsSummartBy1.json" --reporters=cli,htmlextra --reporter-htmlextra-title "Summary Tab Charts ASYNC by 1"  --reporter-htmlext

[2020-07-04 00:12] svarshney2311 opened #2423 "while executing Newman as Library, getting error"
Hi,

I am trying to execute below Node library, but getting error.

const newman = require('newman')

Below is my app.js:

newman.run({
collection: './Digital_API.postman_collection.json',
IterationData : '/TestData_SIT.json',
IterationCount : 1,
d: '/TestData_SIT.json',
reporters: 'htmlextra',
reporter: {
htmlextra: {
template: '/Report.hbs',
export:'Desktop/SmokeReport.html'

}
}
})

Getting bel

[2020-07-04 00:20] svarshney2311 opened #2424 "while executing Newman as Library, getting error"
Hi,

I am trying to execute below Node library, but getting error.

const newman = require('newman')

Below is my app.js:

newman.run({
collection: './Digital_API.postman_collection.json',
IterationData : '/TestData_SIT.json',
IterationCount : 1,
d: '/TestData_SIT.json',
reporters: 'htmlextra',
reporter: {
htmlextra: {
template: '/Report.hbs',
export:'Desktop/SmokeReport.html'

}
}
})

Getting bel

[2020-07-04 00:27] svarshney2311 commented on #1600
Is this fixed or still open. I am having same type of issue. even the assertion fails, Test requests does not count.

[2020-07-04 08:19] peteplay commented on #2422
Sorry, just to be clearer. This does work in Newman if I leave the function and the set command in the pre-request script. However, I need to remove the function and the set command after the first run and then manage the function in the environmental variable itself. My goal in adopting this approach is so that I only need to change the logic in one place, rather than in all my collections. When

[2020-07-04 19:56] DannyDainton commented on #2424
@svarshney2311 can this be closed, you raised this on the htmlextra repo and followed it up with something after you had it working, so I can only assume this isn't an issue anymore. 😁

[2020-07-04 19:56] DannyDainton commented on #2423
@svarshney2311 can this be closed, you raised this on the htmlextra repo and followed it up with something after you had it working, so I can only assume this isn't an issue anymore. 😁

[2020-07-04 19:56] DannyDainton commented on #2421
@svarshney2311 can this be closed, you raised this on the htmlextra repo and followed it up with something after you had it working, so I can only assume this isn't an issue anymore. 😁

[2020-07-05 15:12] Abhirup-99 commented on #2022
@narayanpai1 is this issue still up? I would like to work on this.

[2020-07-05 15:34] svarshney2311 commented on #2424
This is not  working yet for me.

[2020-07-05 15:47] DannyDainton commented on #2424
And you have run `npm i -S newman` in the project directory where you have created that script?

[2020-07-05 18:08] narayanpai1 commented on #2022
Hi @Abhirup-99, my PR already adds the feature and I have been told it will be reviewed shortly.

[2020-07-05 18:16] Abhirup-99 commented on #2022
Thank you for the clarification.

[2020-07-05 20:08] svarshney2311 commented on #2424
I got below message after running npm i -s newman .

C:\Users\SVarshney\OneDrive - Shaw Communications Inc\Project\Postman\Collection>npm i -S newman
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\SVarshney\package.json'
npm WARN enoent ENOENT: no such file or directory, open 'C:\Users\SVarshney\package.json'
npm WARN webpack-dev-middleware@3.7.2 requires a peer of webpack@^4

[2020-07-05 20:19] DannyDainton commented on #2424
It's starting to feel like it's a case of walking through how to create a basic nodejs project, rather than being a specific issue with Newman.

I've added a set of instructions to the `htmlextra` repo, I would strongly suggest closing this issue, following the steps and see where you are after that.

https://github.com/DannyDainton/newman-reporter-htmlextra#with-newman-as-a-library

[2020-07-06 13:36] m1ndful commented on #137
It doesn't help if you have folder structure like below and want to run some particular subfolder:

``
Service1
|- LB
|- Internal endpoints
Service2
|- LB
|- Internal endpoints
[code]

[2020-07-07 07:45] maapteh opened #2427 "when having failed tests, it doesn't exit script and throw but just reports"
We have the newman script in our CI. Because of the reporting, failed tests will show in the reports but the script itself is not throwing (exit) anything itself. So on CI it looks like everything is perfect, but you want it to stop and throw the build.

[code]

I couldn't find any argument for it to throw. Maybe im missing documentation about it, because i imagine more people use it in builds ?

[2020-07-07 07:47] maapteh commented on #2427
Relates to #1363

[2020-07-07 07:56] maapteh commented on #2427
I will run with node script and add the following:
https://github.com/postmanlabs/newman/issues/883#issuecomment-554921174

[2020-07-07 07:56] #2427 closed

[2020-07-07 08:50] peteplay commented on #2422
This has been fixed by persisting the variable in the environment.

[2020-07-07 08:50] #2422 closed

[2020-07-07 16:58] VeerannaKonda opened #2428 "'newman' is not recognized as an internal or external command,"
Steps to reproduce the problem:

1. Installed NPM successfully
2. Installed neman also successfully
3. while trying to install newman html report getting below error.
'newman' is not recognized as an internal or external command,
operable program or batch file.

[2020-07-07 21:31] orbsthetics opened #2429 "Newman ignores the headerPrefix for OAuth2 in a collection"
1. Newman Version (can be found via `newman -v`):
Version 4.6.0

 2. OS details (type, version, and architecture):
Ubuntu 18.0.4.4 Bionic

 3. Are you using Newman as a library, or via the CLI?
CLI

 3. Did you encounter this recently, or has this bug always been there:
Saw when I tried it, new to newman

 4. Expected behaviour:
To respect the OAuth2 setting for prefix and use the empty string

 5

[2020-07-08 08:32] codenirvana commented on #2359
This is fixed in the latest version of the Postman app, exported collection variables will no longer have the explicit `type` value which caused this issue.

[2020-07-08 08:32] #2359 closed

[2020-07-08 10:41] VeerannaKonda commented on #2428
![image](https://user-images.githubusercontent.com/47398885/86909436-b27a2c00-c135-11ea-8d1f-f8fc4930d984.png)

[2020-07-10 15:18] inamiy commented on #2085
Related: https://github.com/postmanlabs/newman/issues/359

Same issue here. I don't have any way of running specific APIs in order.

[code]

(Pls note that `--folder some_specific_api` barely works regardless of the option name. )

[2020-07-10 17:14] svarshney2311 commented on #2424
Hi ,

I have followed the steps from the below link
https://github.com/DannyDainton/newman-reporter-htmlextra#with-newman-as-a-library
when I am running node app.js, I am not getting anything neither reports nor any error.

This is the folder created
![image](https://user-images.githubusercontent.com/66395814/87180585-ce550d80-c2ae-11ea-907e-8cc2e4b0eb17.png)

My all the scripts, Test Data availab

[2020-07-10 17:31] DannyDainton commented on #2424
Are you able to provide a screenshot of the terminal where you're running this and what it looks like once it's been run.

Can you trying bringing in the Collection and Data file into that project and changing the reference to the file path.

This still doesn't feel like a specific issue with Newman and you're better off closing this and raising this as a new thread on our community site.

https:/

[2020-07-10 17:45] svarshney2311 commented on #2424
after doing your suggestion, I see only two requests are running . I have more than 150 request in that, but it ran whatever is there in first folder, not sure its picking Data sheet correctly or not.
I have imported collection and Test Data into node folder.
![image](https://user-images.githubusercontent.com/66395814/87183044-59d09d80-c2b3-11ea-950d-6c5b8ab2fd67.png)

here is my app.js
const newm

[2020-07-10 17:54] DannyDainton commented on #2424
As the Newman folder has been created after the Collection run and it would have also created a report in that directory. That resolves the original issue raised.

We can now close this one and the other issues that you raised on this repo.

[2020-07-10 18:00] svarshney2311 commented on #2424
Hi, it is still not picking TestData sheet. Could you please help me to resolve this.

const newman = require('newman');

newman.run({
    collection: './Digital_API.postman_collection.json',
	IterationData : './TestData_SIT.json',
    //environment: '../examples/Restful_Booker_Environment.json',
    reporters: ['htmlextra'],
    reporter: {
        htmlextra: {
            // export: './report.ht

[2020-07-10 18:03] DannyDainton commented on #2424
It's `iterationData`

[2020-07-10 18:19] svarshney2311 commented on #2424
Perfect!!  You are awsome.

Thanks for setting this up. We can close this issue

[2020-07-11 09:12] #2424 closed

[2020-07-11 09:13] DannyDainton commented on #2421
Duplicate issue.

[2020-07-11 09:13] #2421 closed

[2020-07-11 09:13] DannyDainton commented on #2423
Duplicate issue.

[2020-07-11 09:13] #2423 closed

[2020-07-12 09:51] DannyDainton commented on #2428
Hey @VeerannaKonda

Has this now been resolved following the conversation on the Postman community fourm?

https://community.postman.com/t/newman-not-recognized-as-an-internal-or-external-command/13980

[2020-07-12 23:00] svarshney2311 commented on #1989
Hi, I just want to know what tool you are using to construct these folders. It looks awsome..like all in one folder.

[2020-07-13 10:39] jtj999 commented on #2122
hi, I use nodejs version 14.5.0 (includes npm 6.14.5) and the pre-requisite file is not executed when ran from CLI . I have window 10. can anyone please help ?

[2020-07-13 15:31] dcmeglio commented on #831
What about if you're using newman to point to an environment variable file hosted at https://api.getpostman.com?

[2020-07-13 21:34] kbryantkb commented on #1989
No library, just being meticulous about organization. This is old code and I've since stored all of my environment and collection UIDs and paths to data on a json file and access my collections, environments, and data using json.

[2020-07-13 21:40] svarshney2311 commented on #1989
What are you using for moduling. Can you run your scripts directly from your module set up?

[2020-07-13 21:41] kbryantkb commented on #1989
@sandermvanvliet

![environements and keys](https://user-images.githubusercontent.com/50109154/87356413-04ed8b00-c530-11ea-8029-2deb0555b554.PNG)

[2020-07-13 22:09] kbryantkb commented on #1989
The modules are more or less used to pull in environments, collections, and test data, but I can run directly the above scripts.

I just use Node.js and Newman as the collection runner.

I use the below endpoints to get the Collection and Environment UIDs

Environment: https://api.getpostman.com/environments
GET
Header: x-api-key: {{api_key}}

Collection: https://api.getpostman.com/collections
GET

[2020-07-14 01:50] tanzencoder commented on #885
What's interesting is that I can run it with -t when the postman files are local files mounted but when I run the collection through the API it fails.

[2020-07-14 15:42] pawanakhil commented on #2428
@VeerannaKonda  Add Newman to System Environmental Variables in Windows.

[2020-07-15 14:29] Phrohdoh opened #2435 "request: support /dev/stdout as valid target for `--export-*` options"
Currently `newman` can export certain values to user-provided file-paths, but it'd be useful to write this output to [`stdout`] (for use in scripts which may combine a `newman` invocation with something like [`jq`]).

Assume the following is in `google.postman_collection.json`:

[code]

Executing the following:

[code]

Results in the following being printed:

[code]

I definitely have `/dev/stdou

[2020-07-16 08:03] rohit-gohri commented on #918
@codenirvana Sorry for pinging again, but this would be really helpful for my use-case. If you could have a look, it'd be great

[2020-07-16 08:06] codenirvana commented on #918
Hey @rohit-gohri, sorry for getting back to you so late. I will definitely review this PR today.

[2020-07-17 06:54] 1004Manish opened #2437 "Getting self signed certificate in certificate chain error while running collection via postman API"
Hi,

I am running following command but getting self signed certificate in certificate chain error error.

newman run https://api.getpostman.com/collections/<UID>?apikey=<API Key> --insecure --environment https://api.getpostman.com/environments/<UID>?apikey=<API Key>
I have also tried to use -k, but it also gives same error

Newman version used is 4.5.4. Please help. Thanks!

[2020-07-21 15:53] ZelimDamian commented on #1013
Does it completely disable the environment json or simple overrides the values in the json by the ones specified in the command line?

[2020-07-22 05:22] codenirvana commented on #2437
@1004Manish That's odd, you are facing this issue only when fetching the collection through the API, right?

I tried reproducing this issue locally by sending a self-signed localhost request and as you can see the `-k` and `--insecure` options are working as expected.

![Screenshot 2020-07-22 at 10 43 05 AM](https://user-images.githubusercontent.com/4865836/88137378-0b06fa00-cc09-11ea-8f5b-0fe0c53

[2020-07-22 14:10] 1004Manish commented on #2437
@codenirvana

I upgraded newman to version 5.1.2 and still facing the same.

[2020-07-22 15:39] ssunderk opened #2444 "Newman run is failing with 401 error when run from Linux"
We are exploring newman to automate some api tests. We are testing a WebAPI which is SSL & Windows authentication enabled and hosted on a windows server. Newman is installed on client VM. When we run the postman collection from a windows VM the requests go through. However when we run same collection from a Linux VM the run fails with 401 error as shown below.

Response Message:
POST https://app.c

[2020-07-22 18:23] SumaVeeranna commented on #777
Is there a way to skip Req A and Req B  for the 2nd iteration and only execute Req C  ?

[2020-07-24 08:28] abhilash-id123 commented on #1730
I have defined request URL as a global variable but while execution it seems that Newman did not detect the same.
Any solution guys?

[2020-07-28 16:36] zafaque commented on #2037
Hey @bmakamsatyaprakash what you have run on the terminal which fix the html report

I tried running this `java -Dhudson.model.DirectoryBrowserSupport.CSP="sandbox allow-same-origin allow-scripts; default-src 'self'; script-src 'unsafe-eval' *; img-src *; style-src 'unsafe-inline' *; font-src *;" -jar jenkins.war --httpPort=8082` but throwing error `Error: Unable to access jarfile jenkins.war`

[2020-07-28 19:22] zeburek commented on #2148
@codenirvana Is there any update on this issue?
I'm also faced issue described in https://github.com/postmanlabs/newman/issues/2148#issuecomment-543075798

I'm writing new reporter for quite new TMS and this looks like a very unexpected behaviour.
I also have lots of async request, which are correctly served when all tests are passed and not - when something is failed.

[2020-07-30 18:09] jef opened #2449 "feat: `--env-var` for library usage"
1. Newman Version (can be found via `newman -v`): 5.1.2
 2. OS details (type, version, and architecture): N/A
 3. Are you using Newman as a library, or via the CLI? Library

---

I'd like to see a function that sets environment variables while using the `environment` key in `options`. This is good for secrets and other things.

[2020-08-03 07:16] DannyDainton commented on #2449
Hey @jef

As you're using it as a library could you include something like [dotenv](https://www.npmjs.com/package/dotenv) as a workaround?

Once the `dotenv` module is installed, you can create a `.env` file and add in your secrets. This can then be used in a Newman run like this:

[code]

[2020-08-03 15:00] jef commented on #2449
I do have something similar as your example, but I was hoping that we could have another option that abstracts that and potentially merges two environments.

For example, a Postman collection that has a `commonKey` that is fine to be not a secret. And then lets say you have secrets that need to be loaded into the environment per the run.

I'd think it'd be nice to do something like this:

[code]

[2020-08-03 19:41] dxryan80027 opened #2456 "Output Only Errors"
Hi guys.   this question was asked in2014.  for us Newman would be useful if it could output only failed results instead of both successes and failures.... The advantage is that someone in the team can monitor that file for failures and act on them, rather than have to scan through all the results to find the failures to deal with them.

[2020-08-04 20:12] shamasis commented on #2456
Aha! Somewhere between 2014 and 2020 `--reporter-cli-no-success-assertions` option happened!! 😊

This should help. Plus the doc around CLI reporter options have tonnes of options to toggle parts of the output.

[2020-08-05 14:18] himanshush13 commented on #1373
Similar Type error, I am getting -->
failure    detail

 1.  TypeError
                Cannot read property 'alert' of undefined
                at test-script
                inside "RunABAPUnit"
##[error]Cmd.exe exited with code '1'.
Finishing: Run API Tests

don't know why, as I checked my URLs and they are fine ?

[2020-08-05 19:30] yavkurt commented on #778
Thanks it works

[2020-08-06 09:44] sebastianstrefel opened #2460 "Cannot install postman via npm: '@postman/form-data@~3.1.0' is not in the npm registry."
Hi everybody,

i cannot install postman on my windows 10 or windows server 2016 environment via npm.
It seems that a reference cannot be requested cause i received the error message during the installation process:
"Not Found - GET https://registry.npmjs.org/@postman%2fform-data - Not found"

**Logfile**

`0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\node

[2020-08-06 09:51] leakyshoe commented on #2460
Same for us on macOS with node v12.18.3 and npm v6.14.6. Also happens in CircleCI using and Ubuntu container

[2020-08-06 10:04] Kumar-Ashwin-Hubert commented on #2460
Same here as well. Getting errors that dependency is not present in npm registry.

![image](https://user-images.githubusercontent.com/25590394/89519608-3fc6a400-d7fa-11ea-8a79-e1020e5e2649.png)

[2020-08-06 10:05] ITMonta commented on #2460
![Screenshot from 2020-08-06 11-04-39](https://user-images.githubusercontent.com/33200732/89519701-b355ba80-d7d4-11ea-955f-b83d9c1d0653.png)
same here as well.
on ubuntu

[2020-08-06 10:49] codenirvana commented on #2460
This looks like an ongoing [issue in npm](https://status.npmjs.org/incidents/cksjqc1w11v5). However, working fine now. Can someone please confirm?

[2020-08-06 11:53] sebastianstrefel commented on #2460
It works now! Thx!

[2020-08-06 11:53] #2460 closed

[2020-08-08 06:25] DannyDainton commented on #2449
Hey @jef

Just coming back to this and trying it out again. This _should_ work in your code to use the 2 different types of variables:

[code]
This is just an output image showing it using the 2 different ways to inject the variables:

<img width="1091" alt="Screenshot 2020-08-08 at 07 24 09" src="https://user-images.githubusercontent.com/17089546/89704006-31869e00-d948-11ea-8faf-da02cc68a703.png"

[2020-08-10 05:36] hongthong2 opened #2463 "https://learning.postman.com/docs/running-collections/using-newman-cli"
[https://github.com/postmanlabs/newman/issues/2437#issue-658936198]() @
 1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliar

[2020-08-10 13:35] jef commented on #2449
Ahh, okay! I'll give that a go! I'll update the example in the README to reflect.

Thank you very much!

[2020-08-10 15:30] dcmeglio opened #2465 "Command line arg to exclude folders"
1. Newman Version (can be found via `newman -v`): 5.1.0
 2. OS details (type, version, and architecture): Mac OS X 19.3.0
 3. Are you using Newman as a library, or via the CLI? CLI

Really more of a suggestion than an issue. It would be nice if newman could have a --exclude-folder that is the OPPOSITE of --folder

postman.setNextRequest can be used to simulate this, however it requires that tests

[2020-08-10 16:37] DannyDainton commented on #2463
Hey @hongthong2

Going to close this issue as it looks like it was created by mistake 🤷‍♂️

If it wasn't a mistake, we can reopen this up again if you're able to provide some more details/context 😄

[2020-08-10 16:37] #2463 closed

[2020-08-10 17:02] DannyDainton commented on #2428
Hey @VeerannaKonda,

Not heard anything back about this issue, I'm going to close this issue for now but can reopen and take a look if the problem persists.

[2020-08-10 17:02] #2428 closed

[2020-08-10 17:08] DannyDainton commented on #2189
Hey @AnkitKabra20

Is this still an issue for you?

[2020-08-10 17:09] DannyDainton commented on #2384
Hey @RuchiTrehan2

Is this still an issue for you?

[2020-08-10 17:12] DannyDainton commented on #2326
Hey @praveendvd

Are you still using the CLI for this as this was something that was added to the htmlextra reporter if you use that as your reporter?

[2020-08-10 17:14] praveendvd commented on #2326
Yes Danny you can close this , thank you so much

[2020-08-10 17:14] #2326 closed

[2020-08-10 17:15] praveendvd commented on #2326
Thanks @DannyDainton  for implementating this in htmlextrareport

[2020-08-10 21:05] DannyDainton commented on #2414
Hey @manjulareddy87

Are you still having this issue?

[2020-08-10 21:15] DannyDainton commented on #2193
Hey @carlnordenfelt

Are you still having issues here?

[2020-08-10 21:18] DannyDainton commented on #2134
Hey @adrijshikhar

Did you start working on this? 😁

[2020-08-10 21:19] DannyDainton commented on #2106
Hey @adamcunnington

Are you still having issues here?

[2020-08-11 10:46] DannyDainton commented on #1506
Closing this issue as we haven't seen other users facing the same problem.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-08-11 10:46] #1506 closed

[2020-08-11 10:48] DannyDainton commented on #1513
Hey @deb761

I know it's been a while 😬  but is this still an issue that you're facing?

[2020-08-11 11:01] DannyDainton commented on #2161
Closing this issue as we are not able to reproduce this internally and we haven't seen other users facing the same.

Please feel free to reopen if the issue persists or you can help us with the steps to reproduce this issue.

[2020-08-11 11:01] #2161 closed

[2020-08-11 11:03] DannyDainton commented on #2321
Hey @huguesbr,

I'm going to close out this issue but this seems like something that could be shared with other Postman/Newman users over on our community site.

https://community.postman.com/

[2020-08-11 11:03] #2321 closed

[2020-08-11 11:05] DannyDainton commented on #2429
Hey @orbsthetics,

Are you still facing this issue with the newer version of Newman?

[2020-08-11 12:04] DannyDainton commented on #2059
Hey @jdm-hexagon

Is this an issue that you're still facing?

[2020-08-11 12:39] adrijshikhar commented on #2134
Not yet, but if this feature is required then I would really like to work on this.

[2020-08-11 13:03] DannyDainton commented on #2134
All contributions to the project are welcome 😁

[2020-08-11 16:29] jamesgeorge007 commented on #2134
I think a better idea would be to add a line about `please paste the output of npx envinfo --system --npmGlobalPackages newman  -binaries --browsers` to the issue template rather than adding it to the CLI.

[2020-08-11 18:07] AnkitKabra20 commented on #2189
No this issue no longer exists. Its resolved.

On Mon, Aug 10, 2020 at 1:08 PM Danny Dainton <notifications@github.com>
wrote:

--
Thanks

Ankit Kabra

[2020-08-11 18:22] #2189 closed

[2020-08-11 19:49] mryangza opened #2466 "JSON data source file containing UTF-8 encoded data not read correctly"
Hi,

I'm running Newman 5.1.2 CLI via postman/newman docker container on Ubuntu 18.04. I'm using a JSON data source file to iterate POSTs to my service. The JSON data source file contains the following sort of data:

[code]
When the POST hits my service, the "name" received on the **Provence-Alpes-Côte d'Azur** iteration is actually "Provence-Alpes-CÃ´te d'Azur". This suggests that the JSON data s

[2020-08-11 20:18] kevinswiber commented on #2466
Hey @mryangza,

I can't reproduce this issue.  Is it possible that it's your server interpreting the encoding as ASCII?  If this is coming through the request body, you might want to try adding `;charset=UTF-8` to your Content-Type header value.  Additionally, you can try to isolate this by pulling up the request in Postman, hitting the Code link under the Send/Save buttons, copying the `curl` com

[2020-08-11 20:51] mryangza commented on #2466
Ah yeah, you nailed it @kevinswiber - it's a missing charset indicator in the Content-Type header. Thanks so much! Sometimes an extra pair of eyes helps!

[2020-08-11 20:51] #2466 closed

[2020-08-11 21:03] deb761 commented on #1513
I haven’t tried this year, and I no longer have access to the windows server machine I encountered the problem on.

[2020-08-11 21:08] DannyDainton commented on #1513
OK, thanks for replying. I appreciate you getting back to me. 🏆

I'm going to close this out but we can always open it up again if you / anyone else encounters the issue.

[2020-08-11 21:09] #1513 closed

[2020-08-13 00:41] jdm-hexagon commented on #2059
@DannyDainton, thanks for the followup. It's no longer an issue, though I was never able to resolve it. Instead of running a seperate collection for the user auth, then running the rest of the collections. I injected the user auth method into every collection so they are all handled independently.

[2020-08-13 00:41] #2059 closed

[2020-08-14 13:52] mankinchi opened #2473 "Newman (as a library) doesn't run any test"
1. Newman Version (can be found via `newman -v`): 5.1.2 (install as dependency)
 2. OS details (type, version, and architecture): Node - Typescript
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: first time using
 4. Expected behaviour: Run all the test
 5. Command / script used to run Newman:
[code]
 6. Sample

[2020-08-15 11:27] DannyDainton commented on #2473
Hey @mankinchi

The output of `response.data` looks like it's just a the Id right, from what I can see in the console statement. Might be reading that wrong. 🤔

It would need to be the full URL to run the Collection.

[2020-08-15 11:45] mankinchi commented on #2473
@DannyDainton the `response.data` is the block of JSON in 6 (I only copy part of it since it's too big). I can't find any option to pass in an URL to `newman.run` for API route, maybe it's only for Cloud Subscriber,

[2020-08-15 11:52] DannyDainton commented on #2473
You can just add it as the string in the `collection` property.

[code]

[2020-08-15 12:00] mankinchi commented on #2473
yay >v<. Working now. I'm not quite sure what happens. Your code helps. Tks :D

[2020-08-15 12:01] jonathan-kosgei commented on #1207
@shamasis I'm still getting this error on 5.1.2.

[code]

[2020-08-15 12:06] DannyDainton commented on #2473
Yay!

If you were to just try the hardcoded version of the URL in a browser, it should return the raw JSON.

I'm not sure if the why you had it originally was doing that, seemed like it was just passing an Id into that property, rather than the collection data.

I'm going to close this issue as it seems you're all good and running collections now!! 🏆

There's also a beautiful html reporter that so

[2020-08-15 12:07] #2473 closed

[2020-08-16 17:40] adrijshikhar commented on #2134
I think `newman info` is more intuitive for a user. Easy to remember and easy to communicate. Under the hood, the working might be the same but if we look through the perspective of engaging the user in the product then giving him short simple command would be nice. The user would feel that using this is handy because not everyone is very fond of big command lines. What say?

[2020-08-16 20:32] pgroot91 commented on #1524
Also facing this issue its almost we are missing some steps to make it working. Tutorial is just bad and not clearly up to date.

[2020-08-17 11:32] pgroot91 commented on #778
So much trouble and no clear answers on the web and then i stumbled upon @jltoo comment and solution. Thanks that work like a charm! 👍

[2020-08-17 14:07] DannyDainton commented on #1930
Hey @mpetusky,

I'm going to close out this issue, we can open it up again if you're able to reproduce the problem, with a scaled-down Collection, in the latest version.

[2020-08-17 14:07] #1930 closed

[2020-08-17 14:08] DannyDainton commented on #1946
Hey @barnarock

I'm going to close out this issue, we can open it up again if you're able to reproduce the problem on the latest version.

[2020-08-17 14:08] #1946 closed

[2020-08-17 14:12] DannyDainton commented on #1973
Hey @siddhant-curious, @Avinger27

If you're able to provide some steps/scaled-down collection to reproduce the issue, we can open it up and take a look but for now,I'm going to close the issue.

[2020-08-17 14:12] #1973 closed

[2020-08-17 14:14] DannyDainton commented on #2028
Hey @apurvanataraj88,

I'm going to close out this issue but we can open it back up if you/other users are facing the same problem.

[2020-08-17 14:14] #2028 closed

[2020-08-17 14:16] DannyDainton commented on #2021
Hey @kobo98,

I'm going to close out this issue, we can open it back up if you're able to reproduce the issue using the latest version of Newman.

[2020-08-17 14:16] #2021 closed

[2020-08-17 20:35] newmantester commented on #1434
I am getting the below error

 Cannot read property 'Envelope' of undefined ,at assertion:0 in test-script  when I run my postman collections

newman run collection.josn, I tried with newman run collection.josn -k option as well still same error

[2020-08-17 21:14] newmantester opened #2478 "Cannot read property 'Envelope' of undefined at assertion:0 in test-script"
I am getting the subject line error when I run postman collection from command line

Newman run XXX.Json
I tried with - k option as well but same error,  when I run it as collection in postman, all my tests are executing successfully

any help is much appriciated

[2020-08-17 21:17] newmantester commented on #2478
If run without -k option am getting self-signed certificate in certificate chain message

[2020-08-17 21:31] DannyDainton commented on #2478
Can you share the response body and the code you currently have in that test script please.

It will help to see what's going on with that failure.

[2020-08-18 01:39] newmantester commented on #2478
I am testing a soap service through Postman tool, When I run the test in  postman as collection the script is working fine.
getting error when I run the collection from command line Newman run XXX.Json command

Two errors seeing

1.self signed certificate in certificate chain

AssertionError        Status code is 200
                           expected response to have status code 200 but got 403

[2020-08-18 13:41] newmantester commented on #2478
@DannyDainton  do you need any additional info

[2020-08-18 14:04] DannyDainton commented on #2478
What is the command that you're using the run this with Newman?

Could you provide an image of what error you're seeing in the console?

[2020-08-18 16:22] newmantester commented on #2478
self signed certificate in certificate chain this is the error I am getting ,I am trying to pass the cert list  with the below command

newman run xxxxx.postman_collection.json -d ssl-client-cert-list.json

[
    {
        "name": "host:port",
        "matches": ["host:port"],
        "key": {"src": "./certpath.key"},
        "cert": {"src": "./certpath.p12"},
        "passphrase": "*****"
    }
]

[2020-08-18 16:27] DannyDainton commented on #2478
Can you try adding this to the Newman command and setting the working directory for those certificates

`newman run xxxxx.postman_collection.json -d ssl-client-cert-list.json --working-dir  <path>`

[2020-08-18 16:59] newmantester commented on #2478
newman run xxxxx.postman_collection.json -d ssl-client-cert-list.json --/Users/xxxx/Desktop/Automation

getting unknown option '--/Users/xxxx/Desktop/Automation'

I am running the command from  json file location, when I kept cert and key location

[2020-08-18 17:05] DannyDainton commented on #2478
`newman run xxxxx.postman_collection.json -d ssl-client-cert-list.json --working-dir /Users/xxxx/Desktop/Automation`

You missed out `working-dir`

[2020-08-18 17:19] newmantester commented on #2478
newman run xxxxx.postman_collection.json -d ssl-client-cert-list.json --working-dir /Users/xxxx/Desktop/Automation

same error :

 self signed certificate in certificate chain

[2020-08-18 17:22] DannyDainton commented on #2478
Does it run using the -k flag?

[code]

[2020-08-18 17:23] newmantester commented on #2478
with K option getting 403

[2020-08-18 17:29] DannyDainton commented on #2478
This is just a back and forth now which is going nowhere - I can't see what you're currently doing or seeing so it's just guess work. 😕

I don't have access to the collection you're running, the endpoints you're hitting or the certificates you're using with the requests. 😁

@codenirvana is there anything else here that we could be asking or wanting to see to help resolve what's going on.

[2020-08-18 19:59] newmantester commented on #2478
btw I am running SOAP service postman collection

[2020-08-18 20:43] newmantester commented on #2478
newman run xxxxxx.postman_collection.json --ssl-client-cert /Users/Desktop/Automation/xxxxsha2.pem --ssl-client-key /Users/Desktop/TDMAPIAutomation/xxxxsha2.key --ssl-client-passphrase xxxx

instead of passing as json file tried to send cert/key and phase phrase
 give same error

[2020-08-19 09:25] vinaybu commented on #2192
One usecase where collection variable comes in handy:

URL: http://localhost:8080/transaction/v1/details
I store the entire url in variables, so i needn't change the collection if the url changes.

URL as variables: {{endpoint}}/{{context}}/{{resource}}
endpoint = https://localhost:8080  => this can be stored in envrionment variable
context =/transaction                      => this needs to be st

[2020-08-19 13:50] DannyDainton commented on #2429
Hey @orbsthetics,

I'm going to close this out as we haven't received a response - we can open this back up if it's still an issue for you.

[2020-08-19 13:50] #2429 closed

[2020-08-19 14:25] newmantester commented on #2478
Good news it works when I pass with  --insecure

newman run GETRequest.postman_collection.json  --ssl-client-cert iis_cert_2018_07.pem --ssl-client-key iis_cert_2018_07.pemKey --insecure

[2020-08-19 15:04] DannyDainton commented on #2478
hmm...that's interesting as `-k` is the shorthand version of `--insecure` 🤔

With that now working for you, are we able to close this out?

[2020-08-19 23:48] xk0der commented on #2444
Hey @ssunderk is it possible for you to install the Postman app on the Linux VM and test using the app to see if the requests fail? If yes, try to reproduce the issue from the Postman app and check the error in the Postman Console (View > Show Postman Console). Provide the raw-logs/screenshots here, if you are unable to share the screenshot here you may share it with us internally at the support-t

[2020-08-20 11:52] kthulsidoss opened #2482 "docker image :command"
This is a question : Now i'm trying to use newman from docker and from the docs **https://hub.docker.com/r/postman/newman/**
This docker image is designed to pick files from the /etc/newman directory within the image. You may mount the directory of your collection files into that location and provide the file references in standard newman parameters.
So as a part of jenkins steps
1.pull the image

[2020-08-20 12:42] chara-art opened #2483 "Javascript Heap Out of Memory"
[11324:000001D19384E400]   212982 ms: Scavenge 2039.6 (2052.7) -> 2033.6 (2051.8) MB, 5.4 / 0.0 ms  (average mu = 0.382, current mu = 0.456) allocation failure
[11324:000001D19384E400]   213402 ms: Scavenge 2039.5 (2051.8) -> 2033.8 (2039.8) MB, 5.9 / 0.0 ms  (average mu = 0.382, current mu = 0.456) allocation failure

<--- JS stacktrace --->

==== JS stack trace ==================================

[2020-08-20 19:50] yuri-levchuk opened #2484 "Jenkins Console Output doesn't display the detailed test run result"
I have the same issue as is described here: https://github.com/postmanlabs/newman/issues/1524 (that issue is closed but no resolution provided, and many people since voiced that they experience the same issue, the latest in August 2020), i.e.,

Jenkins console output displays just the SUCCESS/FAILURE message after the job is executed for the postman collection using newman. I would like the result

[2020-08-21 03:15] yuri-levchuk commented on #2484
Note that the so-called solution provided by kunagpal for https://github.com/postmanlabs/newman/issues/1524 on Jun 9, 2018 (who than closed the https://github.com/postmanlabs/newman/issues/1524 issues)  DOESN'T WORK, i.e.,

'newman run postman_collection.json –e postman_environment.json --reporters cli,json --reporter-json-export outputfile.json' is useless in the above-described scenarios inside

[2020-08-23 17:13] DannyDainton commented on #2384
Hey @RuchiTrehan2

I'm going close this issue out due to inactivity, if you're still facing this issue we can open it back up and take a look at what's happening.

[2020-08-23 17:14] #2384 closed

[2020-08-24 07:25] chara-art commented on #2483
Thanks a lot for the response

[2020-08-24 07:34] chara-art commented on #941
Hello @DannyDainton  as #2483 marked duplicate with this is issue, may I kindly request whether there is a roadmap plan for resolving issue #941?

[2020-08-24 09:02] DannyDainton commented on #941
I believe @codenirvana would be better placed to answer questions with regards to the Newman roadmap.

[2020-08-24 18:21] shamasis commented on #941
We need to decouple the "accumulator" summary object for reporters in Newman. It will disable some statistics feature, but it should open up this use case.

@codenirvana how about we do a workaround as an interim that when no reporter is loaded, we don't build summary object?

Then we can schedule a reporter API change for next major newman version or back the summary object with a disk buffer?

[2020-08-26 14:01] WinterJake commented on #1918
i have a similar request. Basically, i KNOW that an API will fail for x number of times before it begins working. it retries until it begins working, then the collection continues running.
is there any way i can mute the error? or somehow not report it as a failure at the end of the newman run?

is there any ETA for the same?

[2020-08-27 03:34] Wintereise commented on #941
It may be good enough to just dump the summary to disk periodically instead of holding on to it all, assuming of course the summary is the root cause.

We're seeing this with a toJSON call when testing endpoints that return large volumes of data with only 50~ iterations (at around the 1000~ requests mark).

This was with the old space size bumped to 4G already.

[code]

[2020-08-27 14:37] shamasis commented on #941
Yeah. That's right.

But it's not straightforward since the summary is a deep object. With hindsight, we should have made this an accumulative array. 🤦🏼‍♂️ The reporter APIs also expect a full object.

Maybe we can completely use a separate accumulation method and use getters to emulate summary.

It is also not prudent to build the root functionality with disk backing since disk failure or lack of

[2020-08-27 14:38] shamasis commented on #941
By the way, let's deep dive the heap issue, it could also be other factors while we speculate summary alone. 😂😂

[2020-08-28 21:49] DannyDainton commented on #2444
Hey @ssunderk,

I'm going to close this out for now, if this is still an issue, could you follow the steps provided by @xk0der and respond with any relevant information please.

[2020-08-28 21:49] #2444 closed

[2020-08-28 21:51] DannyDainton commented on #2413
Hey @RajatGupta16197,

I'm going to close out this issue due to inactivity, we can open this up again if you're still facing this issue.

[2020-08-28 21:51] #2413 closed

[2020-08-28 21:53] DannyDainton commented on #2376
Hey @D43M0NT00L5,

I'm going to close this issue out for now but if you're still having problems, we can open it again.

[2020-08-28 21:53] #2376 closed

[2020-08-28 21:53] DannyDainton commented on #2370
Hey @FCesar

I'm going to close this issue out for now but if you're still having problems, we can open it again.

[2020-08-28 21:53] #2370 closed

[2020-08-28 21:54] DannyDainton commented on #2319
Hey @tparikka

I'm going to close this issue out for now but if you're still having problems, we can open it again.

[2020-08-28 21:55] DannyDainton commented on #2316
Hey @liberstein

I'm going to close this issue out for now but if you're still having problems, we can open it again.

[2020-08-28 21:55] #2316 closed

[2020-08-28 21:56] DannyDainton commented on #2293
Hey @bobbyi

I'm going to close this issue out for now but if you're still having problems, we can open it again.

[2020-08-28 21:56] #2293 closed

[2020-08-28 21:58] DannyDainton commented on #2456
Hey @dxryan80027 ,

I'm going to close this issue out for now but if this command is not the one you were looking for, we can open it again.

[2020-08-28 21:58] #2456 closed

[2020-08-28 21:58] bobbyi commented on #2293
@DannyDainton Sorry, I've been busy this week and haven't had a chance to try it with the latest version. I will do that soon.

[2020-08-28 21:59] DannyDainton commented on #2449
Hey @jef,

As this is just waiting on the docs to be updated, I'm going to close this issue out.

Thank you so much for supporting the Newman and submitting those PRs 🏆

[2020-08-28 21:59] #2449 closed

[2020-08-28 22:02] DannyDainton commented on #2293
That's cool - Once you get a chance to look again, if you could give us an example screenshot, we'll be able to see what's going on.

Hopefully, get this all sort if you're still seeing the problem.

Enjoy the weekend! 🏆

[2020-08-28 22:04] DannyDainton commented on #2327
Hey @amdouence,

Is this something that you would like to pick up and submit a PR for, all contributions are welcome. 🚀

[2020-08-28 22:10] DannyDainton commented on #2217
Hey @jcald1

I'm going to close this issue out for now as it's just waiting on the docs changes.

Thank you for submitting the PR 🏆🚀

[2020-08-28 22:10] #2217 closed

[2020-08-28 22:16] DannyDainton commented on #2121
Hey @kadianravi007

I'm going to close this issue out for now but if you're still having problems, we can open it again.

[2020-08-28 22:16] #2121 closed

[2020-08-28 22:22] DannyDainton commented on #2115
Hey @stephenwang1011

I believe the only way to do that is by the way you mentioned which isn't ideal if you have many folders.

There is a recent feature request to include a flag to exclude certain folder so I'm going to close this one and track things on that issue.

https://github.com/postmanlabs/newman/issues/2465

[2020-08-28 22:22] #2115 closed

[2020-08-29 05:43] DannyDainton commented on #2075
Hey @kiketid

Is this still something that you're having issues with on the latest version?

[2020-08-30 03:41] #918 closed

[2020-08-30 09:14] Fez29 commented on #1679
I agree.

This would be a very handy feature as it would allow much more interactive tests to be run in CI/CD scenarios where for example you want to follow a Customer Journey test before declaring the API as being ready for Production so to speak, in the current scenario you would need multiple collections if you want to the following.

Call API 1 to get token
Call ${API2}/getCustomer with token

[2020-08-30 11:49] codenirvana commented on #2244
Great idea but as mentioned in https://github.com/postmanlabs/newman/issues/2244#issuecomment-595059566, Newman at the moment has only `run` command and on error, it already shows the help text with all the commands and options listed.

Closing this right now, maybe we need something like this once we have 100s of commands like `git` 😅

[2020-08-30 11:49] #2244 closed

[2020-08-30 16:14] liruihong1988 opened #2493 "jsonReport.json Repeated record of interface execution results"
If I write the code of the request interface in the `Pre-request Script`：
For example:

[code]

After the Newman execution is completed, the generated jsonReport.json，The results in run.executions are displayed repeatedly。

[2020-08-31 10:18] dish25 opened #2496 "Failing to generate CLI console output when using `newman-reporter-allure` and the `-r allure` flag"
Hi Team,

**Summary:** Newman+Allure+Jenkins: Fail to generate Console Log along with the report(Test result carrying detail of no of assertions,no of requests, test-scripts etc) when "--disable-unicode" is used along with "-r allure --reporter-allure-export" command under Jenkins(Console Output)

**Version and environment information:**
-->
 1. Newman Version (can be found via `newman -v`): **New

[2020-08-31 11:36] DannyDainton commented on #2496
Hey @dish25,

To get the console output from the CLI reporter you would need to specify that with the `-r` flag.

For example `-r cli,allure`

It ran the first time as that's the default reporter, if you do not pass one into the `newman run` command.

[2020-08-31 13:28] dish25 commented on #2496
@DannyDainton Thank you so much for your input. That worked for me!

Hence, closing out this issue.

[2020-08-31 13:28] #2496 closed

[2020-09-01 17:18] codenirvana commented on #918
Newman v5.2.0 adds support for providing custom Cookie Jar using the new `--cookie-jar` option.

Thanks @rohit-gohri for your contribution! 🙌

[2020-09-01 20:55] AugustDev commented on #2225
Could you please elaborate on the solution, I am having same issue - tests work on Postman runner, but not on newman

[2020-09-02 02:01] dandiep commented on #1655
Couldn't you:
1) make a flag to enable/disable/just log failures
3) truncate the response if it's too big

Seems crazy that we have to write custom code to do something as fundamental as log responses from our CI builds.

[2020-09-02 06:25] tester-xm opened #2498 "Where can I find the code about newman getting the collection and environment and globals by url? thanks."
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):
!

[2020-09-02 08:08] codenirvana commented on #2498
@tester-xm It's fetched using the [externalLoader](https://github.com/postmanlabs/newman/blob/v5.2.0/lib/run/options.js#L76) function, where all the magic happens! 😄

[2020-09-02 08:08] #2498 closed

[2020-09-02 08:43] codenirvana commented on #2165
PFX client certificates can be setup using the new `--ssl-client-cert-list` option.
Here's an example config file that this option accepts:
[code]

[2020-09-02 08:43] #2165 closed

[2020-09-02 13:44] ShahOdin commented on #2402
Hi @shamasis did you get the chance to have a look at this? would love to have your feedback.

[2020-09-02 22:30] mesmitpatel commented on #517
Hey, I'm facing a similar issue.
Tests did run successfully but console shows error for this one particular request only.
Although this problem goes away if I send JSON instead of plain text.
![image](https://user-images.githubusercontent.com/48852609/92043493-c2ab3200-ed99-11ea-8402-72ae9a5c048c.png)

[2020-09-03 09:28] poornachandraFeb opened #2499 "Newman:5.0.0 Alpine Image - vulnerabilities"
Hi Team,

Source of dockerfile used: https://github.com/postmanlabs/newman/tree/develop/docker/images/alpine

Here when we performed the Twistlock(Prisma Cloud) scan on the above dockerfile, we found 2 high severity vulnerabilities as below:

1. (nodejs)Package: dot-prop - CVE-2020-8116
2. (os)Package: gcc - CVE-2019-15847

Could you please help us getting this vulnerabilities fixed as updating th

[2020-09-03 16:07] tparikka commented on #2319
@DannyDainton Hi, finally had an opportunity to come back to this and try again. It has been months since I attempted so I had to dig up my notes. Yes, I still do encounter the same error as before, including when I tried using the `--insecure` flag on the newman request.

[2020-09-03 21:12] svarshney2311 commented on #392
I have similar king of issue  for Junit report in Jenkins. I dont see folder name in Jenkins.
I have collection 'DigitalAPI' than I have subfolder under this 'UserProfile'. but in the junit xml, I don't see folder name.

![image](https://user-images.githubusercontent.com/66395814/92167905-8662ea80-ee08-11ea-98eb-abde6c65d909.png)

[2020-09-04 08:37] ApiRulez opened #2500 "Invalid protocol: 'http:"
Hi,

I am running a GET request via Newman that when i run in Postman works, but fails when run in Newman.

It is a simple GET requests against a local machine on the network:

http://testEnvAPi/funding/

When i do the GET request via a CURL and via Postman i get a 200 response

When i try via Newman (going through a proxy) specified like so:

`    "newman-test": "set HTTP_PROXY='http://proxys.123

[2020-09-05 14:10] cHaLkdusT opened #2503 "Integrate newman to an Electron app"
1. Newman Version (can be found via `newman -v`): newman  5.2.0
 2. OS details (type, version, and architecture): macOS Catalina 10.15.6
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: Encountered recently
 4. Expected behaviour: Should work when creating Electron release build
 5. Command / script used to run N

[2020-09-06 05:58] DannyDainton commented on #2500
Hey @NewmanUser123

Are you using a variable in the URL?

Could you show us an example of how you're using the variables, within the Collection.

Do you have these set to both initial and current in the environment file?

[2020-09-07 07:36] NewmanUser123 commented on #2500
Hi @DannyDainton

No variable is being used it is plain text:

http://testEnvAPi/funding/

![image](https://user-images.githubusercontent.com/70748517/92360562-eb5a6100-f0e4-11ea-8339-e31bc5ade131.png)

when i run this without passing in the HTTP_PROXY it will work fine. As soon as i try to pass the Proxy in it fails.  I need to pass proxy in as other sites used in Postman suite require it.

As re

[2020-09-07 07:46] DannyDainton commented on #2500
I mentioned the environment file because you're using on in the Newman run command - I thought that you may have placed a variable is the URL.

Are you able to confirm with a request that works, that the proxy is set up correctly?

[2020-09-07 08:11] NewmanUser123 commented on #2500
Yep, have spent a solid day with an infrastructure team to make sure that everything is begin routed through the proxy ext against my IP. This only ever happens when i do the set HTTP_PROXY command in the CLI command

[2020-09-07 08:21] DannyDainton commented on #2500
Do you have environment variables for proxy setup in your system?

To check this just echo them in your terminal?

[code]

[2020-09-07 08:45] NewmanUser123 commented on #2500
Hey @DannyDainton

At the time i had none of these setup. But to now get round the issue mentioned above, i have had to set them in my User Environments (under "This PC").

This isn't a fix, as is then means all my network traffic goes through a proxy that it isn't meant to.

[2020-09-07 08:49] DannyDainton commented on #2500
This was a question rather than a recommendation to set these up - Just want to see if you might have other conflicting variables.

[2020-09-07 08:50] NewmanUser123 commented on #2500
No worries. I appreciate any help in trying to resolve the issue 👍

[2020-09-07 11:06] benfdking opened #2504 "TLS 1.3 Support"
1. Newman Version (can be found via `newman -v`):
5.2.0

 2. OS details (type, version, and architecture):
MacOS and Alpine Docker image

 3. Are you using Newman as a library, or via the CLI?
CLI and in Docker image

 3. Did you encounter this recently, or has this bug always been there:
The behaviour hasn't changed, but we expected it to start working when the issue was resolved in Postman itsel

[2020-09-08 20:29] sebamomann opened #2505 "`EISDIR` on `-rwxrwxrwx` collection mapped into docker container `postman/newman:alpine`"
1. Newman Version: docker postman/newman:alpine (currently 5.2)
 2. Ubuntu V-Server:
 3. CLI usage (docker container)
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: execute collection.json
 5. Command / script used to run Newman: `'docker run -v $(pwd)/collection.json:/etc/newman/collection.json --name newman_build_' + build_number + ' --ne

[2020-09-11 01:36] aimtiaz11 opened #2506 "Junit exporter incorrectly reporting a failed assertion as 'error' instead of 'failure' and test count not reflecting for such failed tests"
When an assertion fail occurs,

[code]

The cli,junit reporter is reporting it as "error" instead of "failed":

[code]

---

 1. Newman Version (can be found via `newman -v`): **5.1.2**
 2. OS details (type, version, and architecture): **Windows, Ubuntu**
 3. Are you using Newman as a library, or via the CLI? --> **CLI**
 3. Did you encounter this recently, or has this bug always been there: **Uns

[2020-09-11 01:55] aimtiaz11 commented on #2506
Another issue that notice later is that "tests" count is reported to be 0 while it should be > 0:

`tests="0" failures="0" errors="1"`

[2020-09-11 04:11] adrijshikhar commented on #2134
@DannyDainton what are your views about the feature? I am planning to work on this.

[2020-09-11 05:47] DannyDainton commented on #2134
Sounds good.

Looking forward to seeing what you come up with 🏆

[2020-09-11 05:48] adrijshikhar commented on #2134
Sounds nice.
I will get right on it.

[2020-09-11 05:49] DannyDainton commented on #2506
Hey @aimtiaz11

Could you confirm the test code syntax that you have please, the one that you posted doesn't look quite right.

[2020-09-11 06:35] aimtiaz11 commented on #2506
hi @DannyDainton  - this is working fine inside Postman

`pm.test("HTTP Status is 400 Bad Request", pm.response.to.have.status(400))`

[2020-09-11 07:03] aimtiaz11 commented on #2506
Hi @DannyDainton ,

I have changed the syntax to be:

[code]

After which it started working. However, original syntax worked fine in Postman, not it should still be considered an issue in newman (although have a workaround now)?

[2020-09-11 07:10] DannyDainton commented on #2506
It's not really a workaround but more the way it should work in the app and running this with Newman.

Your test syntax didn't look right to me but you're right it does work in that way within the app but those two platforms are not exactly the same.

Going to close this as it was more of a syntax issue that a functional issue with Newman.

[2020-09-11 07:10] #2506 closed

[2020-09-12 15:45] adrijshikhar commented on #2134
What would a better option?
1. use the npm module to print system information
2. use inbuild function such as `inxi` to print system information
@DannyDainton Please give some insights on this one

[2020-09-14 16:43] tparikka commented on #2319
Hi @DannyDainton, can this issue be reopened or should I open a new report?

[2020-09-16 16:18] dcmeglio commented on #941
@shamasis Is there the possibility of setting certain requests to be excluded from the summary? I have a loop that goes through an SQS queue, reads a message, sets a variable depending on what the message was, deletes the message, and loops until the queue is empty. Could be 10 entries on the queue, could be 10,000. I then have a request at the end that looks at the variables and makes assertions

[2020-09-18 16:56] bhargavi1716 commented on #1679
Do we have a solution on this yet?

[2020-09-18 16:57] bhargavi1716 commented on #1679
This is also not working for me while running from newman

[2020-09-19 09:55] Alphasaurs opened #2515 "Redirection in BuildPassing [Documentation]"
When understanding readme.md file when we click BuildPassing it redirects 2 times we can decrease it to 1 for faster access.

![before](https://user-images.githubusercontent.com/50196057/93664394-3a60a880-fa8c-11ea-970c-1a831f009894.gif)

[2020-09-19 17:26] Haniket commented on #2215
is this issue still open....if so I would like to work on it.

[2020-09-19 17:32] Haniket commented on #1775
is this still available....I want to contribute to it

[2020-09-20 13:12] bhargavi1716 commented on #831
@kunagpal  , can you please give the solution for this?

[2020-09-20 13:14] bhargavi1716 commented on #831
is, is it possible to do the export environment after each request? If no, is there another solution for my needs, please?
I want my env var file should get updated after each request and use the same in the upcoming request.

Kindly help me with this...

TIA.

[2020-09-21 18:15] bhargavi1716 opened #2517 "When using OAuth 2.0 , collection is failing from CLI"
Hello team,

I am using OAuth 2.0 as the Authorization Type and passing oAuth Token and Header Prefix as "OAuth". The collection runs fine in POSTMAN but not in CLI with NEWMAN.

I have printed the Authorization value and it is showing as "BEARER" instead of "OAuth", causing to get the "INVALID AUTHORIZATION HEADER". Kindly look into this ASAP.

![image](https://user-images.githubusercontent.com/4

[2020-09-22 14:53] thekucays commented on #831
i need solution for this too

[2020-09-22 23:17] ShahOdin commented on #2085
Here is a minimal collection with two requests:

- Foo
- Bar

in order.

[code]

Running:

[code]

behaves as expected: ie, `Foo` runs first, followed by `Bar`

whereas:

[code]

still runs first Foo first. one would expect it to run `Bar` first.

[2020-09-23 10:37] anilyadav106 commented on #2428
Its still not working.

C:\Users\anilkumar06>npm install -g newman
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
C:\Users\anilkumar06\AppData\Roaming\npm\newman -> C:\Users\anilkumar06\AppData\Roaming\npm\node_modules\newman\bin\newman.js
+ newman@5.2.0
updated 1 package in 10.717s

C:\Users\anilkumar06>newman -v
'newman' is not recognized as an internal or external

[2020-09-23 14:30] DannyDainton commented on #2428
Hey @anilyadav106

Did you check/add the system environment variable mentioned in the community posts?

[2020-09-25 16:45] svarshney2311 opened #2519 "How to run Postman from specific folder"
Hi,

I have a collection in which I have 5 sub folders e.g. folder1, folder2, folder3, folder4, folder5 which contains my Postman scripts.

I want to execute Potman scripts from folder4 till last folder, how can I achieve through newman command.

[2020-09-25 18:37] svarshney2311 opened #2520 "-Memory leak error while running Newman command in Jenkins"
1m
I have a 1500+ request to execute through Jenkins, while executing this I am getting below error
after running 1400+ tests:
There is no html report generated in the end.

<— Last few GCs —> 13:52:18 13:52:18 [249:0x3922f20] 2221349 ms: Mark-sweep 1281.7 (1447.1) -> 1265.1 (1446.6) MB, 1133.7 / 0.0 ms (average mu = 0.368, current mu = 0.441) allocation failure scavenge might not succeed 13:52:18

[2020-09-25 20:29] DannyDainton commented on #2520
This is a duplicate of #941

You will be able to follow the conversation on that thread.

[2020-09-25 20:29] #2520 closed

[2020-09-26 23:10] dhananjayparab opened #2525 "Is there any easy way to get ReponseBody by using json reporter with Newman? (Newbee question)"
1. Newman Version (can be found via `newman -v`): 5.2.0
 2. OS details (type, version, and architecture): MacsOs 10.15.7
 3. Are you using Newman as a library, or via the CLI? Via CLI, JSON/HML/JUNIT
 3. Did you encounter this recently, or has this bug always been there: Not sure
 4. Expected behaviour: Not Sure
 5. Command / script used to run Newman: newman run Details.postman_collection.json --

[2020-09-27 22:14] svarshney2311 commented on #941
@DannyDainton ,

as per your comment "Thanks for reporting this issue, this is happening because Newman internally accumulates all the iteration data to generate a report."
so If we are splitting our collection into two and running newman command twice in the same instance, would that issue be resolved?
After creating first report , would newman will release all the iteration data and memory will

[2020-09-28 04:09] ulyssesb commented on #941
Did some testing considering the summary that I think it worth sharing, but take it with grain of salt of course. I'm running datasets and scripts that if removed might decrease memory consumption.

## Testing `summary`
Completely removing usage of `RunSummary` from `run.js/emmiter` seems to have no effect on memory consumption.

**Changes**
run.js : 155
[code]

_Sample size: 2048 entries_

#### C

[2020-09-29 16:29] molteninjabob commented on #2339
I'd love to see this re-opened and allow for the separation of execution from organization. We are working on a service mapper that will build a collection of requests based on the endpoint path, but we still want to group related endpoints together in a folder for easy organization. In addition to @rohit-gohri 's point about duplicate requests, running a single request requires creating another s

[2020-09-30 05:47] rohit-gohri commented on #2339
@molteninjabob You don't need to actually make sub folders if the request name is unique. The `--folder` option actually works more like a filter, more info in #2195

[2020-10-01 08:56] swasthik8 opened #2526 "Getting connect ETIMEDOUT 35.154.84.246:80 error for a GET request in newman, works fine in Postman"
![Screenshot 2020-10-01 at 2 27 13 PM](https://user-images.githubusercontent.com/51586332/94789222-46385d00-03f2-11eb-88e0-86646c10a697.png)

Getting  connect ETIMEDOUT 35.154.84.246:80 error for a GET request in neaman, works fine in Postman

Can someone help here

@DannyDainton

[2020-10-01 11:19] swasthik8 commented on #2526
nvm got it adding these at the end of newman command works
--ignore-redirects

[2020-10-01 11:19] #2526 closed

[2020-10-01 14:39] bibianabossio commented on #603
Excelente dato! Funcionó!

[2020-10-02 16:47] Lakshmi-PriyaS commented on #2215
Is there any implementation for this requirement? It is difficult to pass different data in pre-requisite every time for each test case in a collection

[2020-10-03 23:50] oasis070 opened #2530 "Running the postman collections using Newman on remote Jenkins server"
I have been trying to get the postman script to run successfully through a Jenkins pipeline job for last two days, but in vain.
I get the below error. Can anyone provide some guidance :-

_sh: newman: Permission denied

npm ERR! Linux 3.10.0-1127.8.2.el7.x86_64
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "api-tests"
npm ERR! node v6.17.1
npm ERR! npm  v3.10.10_
*****************

[2020-10-04 09:00] woshichuanqilz opened #2531 "I want to customize the url and export the python request code or just header how to make it?"
Sorry to post a ask help post here. Since I can't access the postman community caused by network issues.

There is a feature for postman which can export the related program code like python.

I want to auto gen the python request code by newman.  How to make it from command line?

[2020-10-05 06:55] Alphasaurs opened #2532 "Bug : Newman CLI Output ( prerequest-scripts & test-scripts )"
1. Newman Version (can be found via `newman -v`): 5.2.0
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7.

[2020-10-05 09:11] Alphasaurs commented on #2327
Hey @DannyDainton @shamasis @codenirvana,

I have tried to integrate skipped test with new format. I want to ask is there any thing to change so that I add or remove before moving ahead .

![Capture](https://user-images.githubusercontent.com/50196057/95056756-ccb2ae80-0712-11eb-84c4-be8d7ef83a8c.PNG)

As I also noticed there is a todo list

[2020-10-05 14:19] cHaLkdusT commented on #2531
Hey @woshichuanqilz, newman doesn't provide you an API to generate code snippet from the CLI, however, you can use this resource to [generate code ](https://learning.postman.com/docs/developer/code-generators/)

[2020-10-06 01:55] cHaLkdusT commented on #2519
You can use the `--folder` parameter to run from folder4 till last folder. You can also write additional scripts to control the order in which your requests run using [branching and looping](https://learning.postman.com/docs/running-collections/building-workflows/)

[2020-10-06 02:09] cHaLkdusT commented on #2525
It seems like it is by design that response is not part of the JSON output, however, as a workaround you can use newman as library. Sample usage: https://gist.github.com/vdespa/8b2d209867cc10e40939b0ce3696e3c8

[2020-10-07 05:22] saiudayakella opened #2533 "`postman.setNextRequest` does not work as expected when the collection is run in the command line using newman"
**Version and environment information:**
 1. Newman Version (can be found via `newman -v`): 5.1.2
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: I believe, always there
 4. Expected behaviour: Next request set in the function `postman.setNextRequest('requ

[2020-10-08 12:45] hinneLinks commented on #1998
I'd like to use this feature, any updates on this? The PR seems to be awaiting a Review by @codenirvana

[2020-10-08 21:46] molteninjabob commented on #1730
Any progress on this? I've run into the same issue where I'd really like to reference the global variables via url.

[2020-10-13 04:28] urakagi commented on #2449
Hello, is the doc updated already?
Today I read the document, did like this wrong thing:
[code]
Does the current document clear enough to let users know the correct structure? To me the {"key": ..., "value": ...} format is not so institutive.

[2020-10-15 03:29] JoeyJGarcia commented on #1879
@skylineApiTesting, I wish there was some solution to this, we are getting the same result but it seems limited to just a few people.

[2020-10-15 21:20] mdaj06 commented on #1775
@kunagpal could i take this up?

[2020-10-17 14:44] shivanipremi commented on #1679
Does this issue got resolved ?

[2020-10-17 23:11] oasis070 opened #2542 "ERROR npm ERR! errno 126, when running postman collections using maven in Jenkins"
*I am trying to run postman collections using Maven in Jenkins. I get below errors when the pipeline is run. I can run these locally with 'mvn clean verify' in intellij and all tests run successfully. I am bit lost as how to solve this issue and looking for some help.:-

`[INFO] --- frontend-maven-plugin:1.6:npm (merge) @ ihtests ---
[INFO] Running 'npm run shipment-tests' in /var/jenkins/workspac

[2020-10-18 06:21] DannyDainton commented on #2542
Hey @oasis070

This seems like a Newman access issue on your side - You can see this line in the error message: `Permission denied`

I would keep that you/your use can access that dir in the Jenkins workspace.

I've going to close this as it doing feel like it's a issue specifically caused by Newman and a bug with the functionality. Happy yo reopen if that's not the case.

[2020-10-18 06:21] #2542 closed

[2020-10-18 06:24] DannyDainton commented on #2531
Answered by @cHaLkdusT here, you can generate code snippets in the Postman UI for your requests.

This covers a number of different languages,including Python.

[2020-10-18 06:24] #2531 closed

[2020-10-18 06:27] DannyDainton commented on #2525
By using the solution that @cHaLkdusT provided, that will log the responseBody to the console.

There are several over reporters available if you require this data in a file with the requests.

Going to close this out as it's not really the intended behaviour of the JSON reporter.

[2020-10-18 06:29] #2519 closed

[2020-10-18 06:33] #2525 closed

[2020-10-18 06:36] DannyDainton commented on #2530
Hey @oasis070

Is this a duplicate of https://github.com/postmanlabs/newman/issues/2542?

Not sure what we can do on our end about a permission issue in you're environment.

[2020-10-18 06:49] DannyDainton commented on #2533
Hey @saiudayakella

Can you provide an example of the script you're using in the app that uses that requestId please? Any screenshots with be useful too.

A scaled down collection that shows the issue and one we can run locally would help here

You don't have to use you're endpoints for this, you could replace them with `GET https://postman-echo.com/get` if you need too.

[2020-10-19 15:10] dhananjayparab commented on #2525
Thanks @DannyDainton @cHaLkdusT

[2020-10-20 16:22] ankitps1807 commented on #895
Hi @kunagpal I am trying to use the 'newman.run((options.iterationData: object , callback: function)' feature via a Jenkins job, but no luck. Without the use of csv option it works fine as a Jenkins job, no issues there. Could you please advise?:

![image](https://user-images.githubusercontent.com/69150051/96614485-ced55980-131d-11eb-84cc-a7e21a1a79ed.png)
![image](https://user-images.githubuserco

[2020-10-20 20:20] #2530 closed

[2020-10-21 13:51] frankdoylezw commented on #2460
Just seen this issue when trying to install newman:

Frank Doyle@LT020206400957 MINGW64 ~
$ npm install -g newman
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
C:\Users\frank doyle\AppData\Roaming\npm\newman -> C:\Users\frank doyle\AppData\Roaming\npm\node_modules\newman\bin\newman.js
+ newman@5.2.0
updated 1 package in 3.422s

Is this not the same issue as above? Is

[2020-10-22 16:21] DannyDainton commented on #2319
As far as I know, we haven't had the chance to look into this at the moment.

We have several other things that are being worked on right now and we will be updating the thread with me information, once we have a clearer idea about release time lines.

[2020-10-28 13:41] SabriH10 opened #2546 "Typo in Docker Hub example"
Opening on behalf of a User:

In https://hub.docker.com/r/postman/newman/ there's an example section.

"Examples
Run a remote collection, pass it a local environment, and save JUnit XML test report on the host

docker run -v ~/collections:/etc/postman -t postman/newman \
https://www.getpostman.com/collections/df0a40ef41d570c48154 \
--environment="HTTPBinNewmanTest.json.postman_environment" \
--rep

[2020-10-28 17:42] svarshney2311 opened #2547 "newman command integration with jenkins"
Hi,

Is there any way , can I pass test data form jenkins to API request body?
something like this:

newman run https://www.getpostman.com/collections/XXXXXXXX  -d TestData.json='{"parameter":[{"Authenticate": [{"msisdn": "%msisdn%","pin": "%pin%"}]}' --reporters cli

here I want msisdn and pin  to be passed from Jenkins to postman testdata file,so that internally it will be passed to Postman requ

[2020-10-29 08:18] DannyDainton commented on #2546
Duplicate of #2064

[2020-10-29 08:18] #2546 closed

[2020-10-29 08:22] DannyDainton commented on #2547
Hey @svarshney2311

I see that you have also created a thread in the community forum for this - https://community.postman.com/t/newman-command-line-integration-with-jenkins/17195

That seems a more appropriate place for these types of questions - I'll respond on that thread later so it's a place that more folks can reference if they have a similar question.

[2020-10-29 08:22] #2547 closed

[2020-10-30 21:55] ShubhamPalriwala opened #2548 "Add Feature to perform Individual Requests"
1. Newman Version (can be found via `newman -v`): 5.2.0
 2. OS details (type, version, and architecture): Windows10 Pro, 64bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:  Came to my mind recently, always there
 4. Expected behaviour: To perform individual Requests instead of just running Collections

We can hav

[2020-10-30 22:47] DannyDainton commented on #2548
Hey @ShubhamPalriwala

Are you not just describing `curl` commands here?

[code]

Or

[code]

Not really sure why this would need to be something from Newman.

[2020-10-31 06:32] ShubhamPalriwala commented on #2548
Curl does not show the response in a pretty format and lacks other detailed stats such as
- Response Status Code,
- Time taken,
- Total Data received, etc.

Having these will increase the precision and add a feature to newman

[2020-10-31 12:59] DannyDainton commented on #2548
I'm still not seeing the use case here.

Would you use the different flags of curl to achieve the things you want? Maybe the `-v` flag for a verbose view of the request/response.

For pretty printing, something like `jq` would give you that output on the CLI.

[2020-10-31 14:10] shamasis commented on #2548
One reason I love this feature request is for newman to act as a drop-in replacement of curl.

Curl is great, but not quick and pretty to parse. The same familiar newman CLI design can be used here to show optimum debugging data.

The next amazing thing would be if you're logged into newman and newman auto pushes this data to Postman! With that you now have a new at organised context of request re

[2020-10-31 15:21] DannyDainton commented on #2548
I see your point and I can definitely see the linkup with the Postman app a huge benefit to flip between the 2, if needed, but if you're writing out those commands and running them in the CLI - Why not just use the app from the start and benefit from the nice UI? 😁

I think having better control over the collection requests, excluding specific folders and possibly adding tags to run certain scenar

[2020-10-31 22:23] erpnedir commented on #1859
I face the same problem. @radhikanachiar have you find a solution or open a new issue?

[2020-11-02 20:53] ovkhasch commented on #2548
+1 for this feature

[2020-11-02 21:23] DannyDainton commented on #2548
For others landing on this feature request, can you just use the GH thumbs up emoji👍🏻 on the original post, to indicate that you would like to see this in Newman.

Please don't post comments with `+1` 😬

[2020-11-03 11:38] Poizrak commented on #1679
@coditva
Hello may I ask how's that implementation is going for this feature?
It is really important for automated API testing...

[2020-11-03 18:36] DarthBenro008 commented on #2548
I support this feature request, I generally work with VM that just involves terminal (headless Linux) and Newman is an amazing tool to help me out running collections and testing if the api works fine as its supposed too.
Pretty printing of such custom requests at will and results that provides me similar info as the Postman App (relevant debugging info) would be really beneficial and I believe it

[2020-11-04 11:25] manv992 commented on #1706
when trying to run the newman report from the local from the commandline
<img width="447" alt="newman" src="https://user-images.githubusercontent.com/73941016/98105892-978aaf00-1ebe-11eb-9538-18037f8980f9.PNG">

[2020-11-04 21:59] ronfeldman commented on #137
Looks like you should be able to workaround this limitation by naming your sub-folders with a scheme like <parent>-<child>. Maybe not very convenient at the one time of folder creation but very convenient that the several times of executing the tests.

[2020-11-05 02:11] ShawnAli97 commented on #2460
I'm having the same issue as well. Were you able to solve this?

[2020-11-09 16:15] DannyDainton commented on #2460
@frankdoylezw / @ShawnAli97

It looks like Newman was installed, despite the warning message. These are separate from the original post which was due to an NPM status issue.

Are you unable to use Newman? Can you both expand on the issues you're facing?

[2020-11-10 06:49] kshitij86 commented on #2548
@DannyDainton I think this would be a good feature for `newman`, as it could be useful not only  in the CLI but also when using `newman` as a library. **If this feature request is approved, I would love to work on implementing this in newman.**

[2020-11-10 06:52] kshitij86 commented on #2503
@cHaLkdusT Why not just use the Postman app to run and test your collections?

[2020-11-10 06:57] cHaLkdusT commented on #2503
We have a set of customized process (eg we could send an SMS alert to our team if something is not working or we could send a message to our IMs (Teams, Slack etc)), we're trying to integrate `newman` to our different applications.

[2020-11-10 07:11] kshitij86 commented on #2503
@cHaLkdusT This might not be an issue with `newman`, [if you want to detect the OS, check this out](https://stackoverflow.com/questions/8683895/how-do-i-determine-the-current-operating-system-with-node-js)

[2020-11-10 07:16] kshitij86 commented on #2548
@DannyDainton I can also see a similar issue in [this year's GSoC ideas list](https://github.com/postmanlabs/gsoc/blob/master/2020/IDEAS.md) and I think it wasn't implemented this year in accepted proposals. Although this issue demands using something similar to `cURL` for individual requests, I think it would totally make sense to combine them both (for collections and individual requests) to tes

[2020-11-12 00:52] alasgarov83 opened #2557 "Did anyone export metrics from newman docker to pormetheus?"
I have created a custom docker image for newman and packed into it required collections and env. files. I'm running it as a openshift pod. It runs correctly and brings an output inside container (e.g. with junit runner xml output). Afterwards container gets into completed mode.
I would like to push this metrics into the prometheus-pushgateway and let prometheus scrap it. But the format of existing

[2020-11-16 11:46] alasgarov83 commented on #2557
I've asked a wider community also here:
https://stackoverflow.com/questions/64856126/newman-postman-results-to-prometheus-for-automated-tests

[2020-11-16 12:44] MyrZiKus commented on #2517
I have same issue, but I use No Auth option and key 'Authorization' in Header
When tests run by link - request have Bearer prefix
When tests run by exported file - request doesn't have prefix

[2020-11-17 08:17] dimikirschner commented on #2557
@alasgarov83 , could you please provide an example of the newman-report.xml.
What exactly the issue with the parsing?

[2020-11-17 09:20] alasgarov83 commented on #2557
@dimikirschner thanks for replying

I was trying to generate reports with junit 'reporter' see sample output below:

cat newman-run-report-2020-11-16-14-22-32-860-0.xml

<?xml version="1.0" encoding="UTF-8"?>
<testsuites name="xxxxxxxxxxxxxxxxxxxxxxxx" tests="2" time="2.973">
  <testsuite name="api/v1 / query the the xxxxxxxxxxxx for given GUID and register for notification" id="xxxxxxxxxxxxxxxxxx

[2020-11-17 15:57] Xdomen opened #2560 "[Question] Newman - Dynamic Iteration with Data File"
Hey guys,

I have a question regarding newman usage with CSV Data files.

We have about 150 tests within a single CSV file, however, we would like to call them dynamically via parameter. Meaning if I want to initiate test iteration 149, I would have to make 148 iteartions prior to that test. This is causing us to have multiple CSV files whic his quite unnecessary.

**Example of CSV Data file:**

[

[2020-11-17 17:09] aurelienlair commented on #1851
I need this feature too guys :-)

[2020-11-18 08:17] jawn commented on #1851
To anyone requesting this, why not submit a PR?

[2020-11-18 17:07] der-kommissar opened #2561 "Connection pool for asynchronous runs/collections"
**Enhancement idea:** Provide a connection pool or some other mechanism to reuse HTTP connections across parallel runs.
This could be an optional connectionPool type param that passes a reference to a connectionPool back and forth and is tied to a queue maintained internally and reuses some configured set of connections to make requests.

**Note:** This is not the same as this postman-runtime issu

[2020-11-20 20:47] adesokanayo commented on #1879
I have same issues running newman from Azure Devops, did anyone figure what the solution might be ?

[2020-11-21 02:55] JoeyJGarcia commented on #1879
I had since moved on to rewriting the wrapper I was using and I didn't have any problems.  I only saw one other person posting a message about this error so I figured is was something that was unique to the app that I was using (and written by someone else).  I would just make sure your environment variable (and globals) are getting set appropriately.  If they collections run in Postman, they shou

[2020-11-26 13:30] samaronesilvadev commented on #603
Ajudou muito!!!!

[2020-11-28 08:38] saiudayakella commented on #2533
Hey @DannyDainton

I have used `Postman Echo` collection for replicating the scenario. Here is the scenario:
-  Pick `Request Methods`  folder under the collection
- Change the order of execution by skipping the second request in this folder  which is  `POST Raw Text`
- Set the net request to `POST Form Data` in `GET Request` (postman.setNextRequest('083e46e7-53ea-87b1-8104-f8917ce58a17'); // Skip

[2020-11-28 08:48] DannyDainton commented on #2533
Could you also provide the full script that you have in the GET request, please?

[2020-11-28 09:21] saiudayakella commented on #2533
Hey @DannyDainton  - Here it is:

[code]

Except adding the last line, I did not modify the default code which is already there.

[2020-11-28 09:39] DannyDainton commented on #2533
Have you opened the Collection JSON file in a text editor and confirmed that it's the valid id of the request?

I know that you have checked that against the Postman API but that's not what Newman is using during the run.

[2020-11-28 09:56] saiudayakella commented on #2533
As I do not see any issues when I run this folder in runner, do you still think there is a problem with request_id?

[2020-11-28 10:08] DannyDainton commented on #2533
You're using a hardcoded id that could be wrong, I can't see the raw JSON file that you're using, to know if that id is even part of that file.

The issues I see here are that that Collection Runner isn't Newman, the Collection it's using, looks the same, but isn't the exported file being used by Newman, the hardcoded id could be wrong, many other things.

I don't believe this is a simple case of

[2020-11-28 10:23] saiudayakella commented on #2533
I don't get what you mean by hardcoded id that could be wrong.  This statement is very high level. Collection runner uses the collection but is skipping the second request as I expected. Isn't it the same behavior that I should expect when I run in newman? I understand collection runner and newman are 2 different entities but at the end of the day, you expect your postman collection to run in same