[2016-09-28 11:53] kunagpal commented on #439
@dmitry-gerasimov @lts8989 Could you re-try with the latest release of Newman (v3.1.1)?

[2016-09-28 12:19] nitinEd opened #645 "Not able to generate HTML file Report"
ran command
newman run /Users/nimeshshah/Desktop/api.edcast.com.postman_collection.json --reporters html --reporter-html-export

but didn't find any HTML report file in /usr/local/lib/node_modules/newman
   please help me out me with this

[2016-09-28 12:24] kunagpal commented on #645
Hey @nitinEd, you would also have to provide a path for the HTML report to be created at, like so:
`newman run /Users/nimeshshah/Desktop/api.edcast.com.postman_collection.json --reporters html --reporter-html-export <path-to-html-report.html>`

If no path is specified, the report is generated within `/Users/nimeshshah/Desktop/newman`, and not within the installation directory of Newman itself.

[2016-09-28 12:26] ractive commented on #643
I use it with the newman docker image like:

If ~/devel/bla exists as a directory I get...
`docker run -v ~/devel:/etc/newman -t postman/newman_ubuntu1404 run --no-color -e stg.postman_environment.json --reporter-junit-export /etc/newman/bla -r cli,junit my.postman_collection.json`

[2016-09-28 12:28] ractive commented on #643
If the ~/devel/bla directory does not exist, a file ~/devel/bla is created with the junit report.

[2016-09-28 12:33] kunagpal commented on #643
@ractive I see. I'll take a closer look and get back to you.

[2016-09-28 12:44] nitinEd commented on #645
Thanks for the info.But when I ran the above command I didn't get any HTML report and newman didn't run any test.
Please find the attached screenshot
![screenshot](https://cloud.githubusercontent.com/assets/19796842/18913773/583522f4-85a7-11e6-8c59-87db5a56b02b.png)

[2016-09-28 14:11] ractive opened #647 "Allow passing single environment variables on the command line"
I'm currently investigating if we could run newman as part of our spring boot (java) integration tests. The idea is to use newman's docker image and start it with spotify's docker-client library directly from the JUnit test.

The issue now is that certain environment variables need to be set dynamically when starting newman like the url or the OAuth access token that should be used for the tests.

[2016-09-28 14:19] shamasis commented on #647
You need to put them as environment files. The format is not Postman Internal. It is a user-facing format outlined in `postman-collection` repository and available as JSON schema and node module as well.

One suggestion is that you can use globals json source to store these values and environment.json could remain static.

Closing. We can continue discussion though. :-)

[2016-09-28 14:19] #647 closed

[2016-09-28 14:45] samcayford commented on #630
Yep!

[2016-09-28 22:13] shamasis commented on #630
One more question - which version of postman and which variant (native or chrome)? And what's the version of Newman in question.

@kunagpal can you reproduce it and see if new runtime is handling this?

[2016-09-28 22:16] samcayford commented on #630
Run and exported using 4.7.2 Chrome app on windows.
Newman was 3.1.1 also on windows.

[2016-09-28 22:26] samcayford commented on #630
I don't see the issue on newman 2.1.2 on Windows either.

[2016-09-29 06:48] ractive commented on #647
Dealing with the environment files in Java is tedious, esp. when you want to change an existing one or if you want to use one via the cloud API - which means downloading and modifying it.
If there's no java API to do that you're in charge to keep everything up to date when postman is evolving.

Again - I'd see the additional command line parameters as a huge benefit surely also for other use cases

[2016-09-29 09:26] shamasis commented on #630
Right. @kunagpal can you check whether the behaviour is same for Newman and postman native app on Windows?

[2016-09-29 09:30] BalanagarajanArumugam commented on #564
@kunagpal : It's working fine..

[2016-09-29 09:33] #564 closed

[2016-09-29 10:11] kunagpal commented on #630
@shamasis Checking.

[2016-09-29 10:25] kunagpal commented on #643
Hey @ractive, could you try with the latest version to the `newman-docker` image?

[2016-09-29 10:25] #616 closed

[2016-09-29 11:46] kunagpal commented on #645
@nitinEd For the above command, no output us expected, as the CLI reporter was not specified along with HTML (`--reporters cli,html`). Also, there should have been a report generated in the directory from where Newman was run.

[2016-09-29 12:01] kunagpal commented on #429
@shamasis @calebrepkes Has this issue been resolved?

[2016-09-29 12:03] kunagpal commented on #459
@bessuaba @ArniDzhan Apologies for the delay, could you check with the latest release of Newman and get back to us if the issue persists?

[2016-09-29 12:04] kunagpal commented on #372
Hey @willrichboa, do these issues still persist for you?

[2016-09-29 12:04] kunagpal commented on #373
Hey @matteogit, do these issues still persist for you in the latest Newman release (v3.1.1) ?

[2016-09-29 12:06] kunagpal commented on #405
Hey @brestrepo, does this issue still persist for you in the latest Newman release (v3.1.1)?

[2016-09-29 12:12] kunagpal commented on #393
@deanrather Does this issue still persist for you in the latest Newman release (v3.1.1)?

[2016-09-29 12:13] kunagpal commented on #384
Hey @vrushali3110, does this issue still persist for you in the latest Newman release (v3.1.1)?

[2016-09-29 12:19] calebrepkes commented on #429
Yes, as stated in my last reply, once I used .value directly on the cookie function it works flawless.

Thnx for your time.

[2016-09-29 12:20] kunagpal commented on #272
@wezley98 @lorneb Apologies for the delay, but the HTML reporter within the latest Newman release (v3.1.1) comes with resolved variables. Do check it out!

[2016-09-29 12:20] #272 closed

[2016-09-29 12:21] kunagpal commented on #429
@calebrepkes Cool :+1:

[2016-09-29 12:21] #429 closed

[2016-09-29 12:25] ractive commented on #643
Hi @kunagpal. The problem still exists:
[code]

[2016-09-29 12:40] kunagpal commented on #328
@stevedavey88 Apologies for the delay, but does this issue still persist for you in the latest Newman release (v3.1.1)?

[2016-09-29 12:49] kunagpal commented on #643
@ractive Could you try this command and see if it works for you?
[code]
(A file called bla.xml will be generated in `~/newman/`)

Under ordinary circumstances, `/etc/*` should not be written to, given that it is a system protected directory.

[2016-09-29 12:55] kunagpal commented on #506
@lts8989 Apologies for the delay, but could you re-try with the latest release of Newman (v3.1.1) and let us know how that works for you? Thanks!

[2016-09-29 12:56] kunagpal commented on #456
Closing this issue on our end, work is still in progress on #621.

[2016-09-29 12:56] #456 closed

[2016-09-29 13:00] kunagpal commented on #224
@irhabi Apologies for the delay, but could you try with latest release of Newman (v3.1.1), and let us know how that works for you?

[2016-09-29 13:06] kunagpal commented on #410
@shamasis Some context?

[2016-09-29 13:23] ractive commented on #643
the file does not get created:
[code]
And there's no error message either...

[2016-09-29 22:54] tranhungt opened #653 "Newman OAuth1 Helper introduces non-compliant comma in header"
Oauth spec requires that the Authorization header to be in the form

[code]

However, using the oauth1 helper, Newman sends the request with a comma behind the `OAuth` word, like so.

[code]

Oauth1 Spec example header can be found at `Appendix A.5.3.  Requesting Protected Resource`:
https://oauth.net/core/1.0a/

[2016-09-29 23:06] kunagpal commented on #653
@czardoz

[2016-09-29 23:11] tranhungt commented on #653
I found that this only happens when I don't specify a "realm".

[2016-09-30 07:16] nitinEd commented on #645
@kunagpal thnx buddy worked for me 👍

[2016-09-30 07:16] #645 closed

[2016-09-30 08:08] umesh-bhalerao commented on #578
@kunagpal When is the next Newman release scheduled ?

[2016-09-30 09:35] kunagpal commented on #578
@czardoz :point_up:

[2016-10-03 07:58] dmitry-gerasimov commented on #439
@kunagpal Encoding looks good in v3.1.1. Thanks.

[2016-10-03 07:59] kunagpal commented on #439
@dmitry-gerasimov 👍

[2016-10-03 07:59] #439 closed

[2016-10-04 10:54] kunagpal commented on #393
Closing issue due to inactivity. Do get back to us if your issue still persists.

[2016-10-04 10:54] #393 closed

[2016-10-04 10:59] kunagpal commented on #600
@jwilkey Closing issue due to inactivity. Please let us know if your issue still persists.

[2016-10-04 10:59] #600 closed

[2016-10-04 11:00] kunagpal commented on #405
@brestrepo Closing issue due to inactivity. Please let us know if your issue still persists.

[2016-10-04 11:00] #405 closed

[2016-10-04 11:02] kunagpal commented on #555
@nick2060 Apologies for the delay, but does this issue still persist for you?

[2016-10-04 17:11] JeromeSimmonds commented on #345
Hi guys, just so you know I get the "The request signature we calculated does not match the signature you provided" with version 4.7.2 when I use the DELETE HTTP method.

[2016-10-05 07:36] kunagpal commented on #249
Closing issue on our end due to inactivity. Please let us know if this still persists.

[2016-10-05 08:54] numaanashraf opened #664 "Auto encoding of URL params while running collection through newman on Linux"
Issue moved from `postmanlabs/postman-app-support`. Originally filed by @seekdageek at https://github.com/postmanlabs/postman-app-support/issues/2376

[2016-10-05 10:29] #583 closed

[2016-10-05 13:19] gkgeorgiev commented on #408
Is there anywhere features backlog where we could request a maven plugin or something that generates test code coverage reports?

[2016-10-05 17:32] nick2060 commented on #555
@kunagpal Just re-tested this and can confirm it's still happening with Newman v3.1.2

[2016-10-05 21:29] jburdeos opened #666 "econnrefused when running collection in newman"
I am new to API, API testing and postman. ok so i have a collection of GET api tests that i created in Postman. There is no authentication and everthing (26 tests) is passing. However when i do "newman run https://www.getpostman.com/collections/xxxx" im getting the error

i tried exporting the collection and running it using the command "newman run xxx.postman_collection.json". it goes through the

[2016-10-06 02:22] kunagpal commented on #555
@nick2060 Thanks for letting us know, we'll cross examine this on our end.

[2016-10-06 04:14] kunagpal commented on #666
Hey @jburdeos, please see https://github.com/postmanlabs/newman#using-newman-with-the-postman-cloud-api for details on using / running collections via postman links. Also, could you share the collection, sans the sensitive details?

[2016-10-06 06:45] kunagpal commented on #578
@umesh-bhalerao Newman 3.1.2 comes with a fix for this issue, do go ahead and try it out.

[2016-10-06 06:45] #578 closed

[2016-10-06 06:49] kunagpal commented on #630
@samcayford The collection below worked correctly within both: Newman and Postman. Could you share your collection (sans the sensitive details) with us?

[code]

[2016-10-06 13:55] jburdeos commented on #666
hi @kunagpal . I just tried that, same error. here is the collection https://www.getpostman.com/collections/96d5a8a3aecfb61b1273

i have also set my https-proxy and proxy to "http://username:password@proxy:port", locally and globally

[2016-10-06 18:13] Zambonilli commented on #290
Looks great!  I ran version 3.1.2 to 3600 iterations and the memory usage was much much better.  Thank you for your hard work on this.

[2016-10-06 18:14] shamasis commented on #290
I'm glad it was helpful. We have found ways to further optimise memory by making the reporters leaner.

[2016-10-07 04:54] monicaswani commented on #148
I see this issue in newman version 3.1.2 as well

[2016-10-07 05:18] monicaswani commented on #148
i see this issue in newman version 3.1.2

[2016-10-07 09:40] Dmytro-Komaryst opened #669 "Bug report"
Reproduced this "Bug" on the platform:
OS: Windows 7 and Windows 8.1
Windows app: Postman v4.6.1 and Postman v4.6.2
Newman v2 and v3
NodeJS v.4.5.1 and v.6.4.0

Received error for POST request (must be response "204 No Content") but I received next error:
[code]

[2016-10-07 10:03] Dmytro-Komaryst commented on #669
This is a problem in postman-runtime, not this module pretty-ms.

[2016-10-07 11:16] shamasis commented on #669
@Dmytro-Komaryst - irrespective of whose module is being used, it is our responsibility to fix it since we are the ones using it. 😉

We will fix this asap.

[2016-10-07 15:50] kunagpal commented on #669
@Dmytro-Komaryst This bug has been fixed in #671, and will be rolled out in the next Newman release.

[2016-10-07 22:30] kunagpal commented on #666
@jburdeos The base URL in the collection above appears odd, please confirm if it is meant to be that way. Newman does support proxy, please see https://github.com/postmanlabs/newman/tree/feature/proxy-readme-docs#proxy.

[2016-10-07 23:11] kunagpal commented on #397
@czardoz @ronteddu Marking this issue as resolved on our end.

[2016-10-07 23:11] #397 closed

[2016-10-07 23:13] kunagpal commented on #381
@aqyblitz Apologies for the delay, but does this issue persist for you in the latest Newman release (v3.1.2)?

[2016-10-07 23:17] kunagpal commented on #251
@kurtfm @srbangre @ghost @mstaalesen Newman does support a verbose report option via the [JSON reporter](https://github.com/postmanlabs/newman#json-reporter-options), which provides comprehensive collection run information.

[2016-10-07 23:17] #251 closed

[2016-10-07 23:21] kunagpal commented on #220
@gleuck A quick update: Proxy settings can be configured as shown here: https://github.com/postmanlabs/newman/tree/feature/proxy-readme-docs#proxy

[2016-10-07 23:23] kunagpal commented on #328
Closing issue on our end due to inactivity. Do let us know if this issue still persists. :)

[2016-10-07 23:23] #328 closed

[2016-10-07 23:23] kunagpal commented on #372
Closing issue on our end due to inactivity. Do let us know if this issue still persists. :)

[2016-10-07 23:23] #372 closed

[2016-10-07 23:24] kunagpal commented on #373
Closing issue on our end due to inactivity. Do let us know if this issue still persists. :)

[2016-10-07 23:24] #373 closed

[2016-10-07 23:35] kunagpal commented on #392
@rapidroamer @anyone-can-test Apologies for the delay, Newman v3.x comes with an improved JUnit reporter, which can be used as follows: `newman run collection.json -r junit,cli --reporter-junit-export report.xml`

[2016-10-07 23:41] kunagpal commented on #386
@cwbell1 @ebelanger @davenewza Apologies for the delay, Newman v3.x comes with an improved JUnit reporter, which can be used as follows: `newman run collection.json -r junit,cli --reporter-junit-export report.xml`

[2016-10-07 23:41] #386 closed

[2016-10-07 23:49] kunagpal commented on #355
Apologies for the delay, Newman v3 provides a shiny new JUnit reporter, do go ahead and try it out. :)

[2016-10-07 23:49] #355 closed

[2016-10-08 00:01] kunagpal commented on #348
Hey @roeschjohannes, the all new JUnit reporter in Newman v3 comes with response times included within the report, do give it a spin with: `newman run collection.json -r junit,cli --reporter-junit-export report.xml`. :)

[2016-10-08 00:01] #348 closed

[2016-10-10 01:51] rapidroamer commented on #392
@kunagpal @anyone-can-test

I have been using that already, I still don't get to see folder name in junit report.

[2016-10-10 08:31] czardoz commented on #612
Yep, we can to a `.pause()` inside events. That is actually a better solution than accepting a resolver function, since that essentially turns our events into callbacks.

[2016-10-10 08:52] czardoz commented on #615
+1

This is on our near-term roadmap. In fact, we've already [implemented it](https://github.com/postmanlabs/postman-runtime/blob/f6634b58e9adb655152a8abee40281fbd1efe030/lib/uvm/host.js#L114). There are some concerns about backwards compatibility that we want to address before allowing this functionality though :)

[2016-10-10 12:00] Abhikos opened #685 "Using newman with postman-interceptor"

[2016-10-10 13:14] jburdeos commented on #666
@kunagpal are you referring to "devtranspar1"? if so, yes, it is meant to be that way. it is an intranet site.  i clicked on the link you provided but im getting a 404 error.

[2016-10-10 13:25] kunagpal commented on #666
@jburdeos The link has been updated, do go ahead and check it out.

[2016-10-10 16:26] jburdeos commented on #666
@kunagpal i checked out the link. so i deleted the http-proxy and https-proxy from the config and set HTTP-PROXY and HTTPS-PROXY. i ran "newman run https://www.getpostman.com/collections/...." and i still get the "connect econnrefused" error. however, when i ran "newman run http://www.getpostman.com/collections/..." (http instead of https), i get the error "read econnreset". is this progress someh

[2016-10-10 19:17] mcdan opened #687 "JUnit XML output does not conform to standard"
The output emitted by the JUnit reporter is not correct. It is missing a required attribute on the testsuite node, "tests". This per the xsd available here: http://llg.cubic.org/docs/junit/.

[2016-10-10 19:22] mcdan commented on #687
This appears to be a regression around the refactor to v3 because other people report this working in v2.

[2016-10-12 15:54] kunagpal commented on #621
@tslape Does this issue still persist for you?

[2016-10-12 15:56] kunagpal commented on #459
Closing issue due to inactivity. Please revert to this thread if the issue persists.

[2016-10-12 15:56] #459 closed

[2016-10-12 15:57] kunagpal commented on #384
Closing issue due to inactivity, please revert to this thread if it persists.

[2016-10-12 15:57] #384 closed

[2016-10-12 16:00] kunagpal commented on #381
Closing issue due to inactivity, please revert to this thread if it persists.

[2016-10-12 16:00] #381 closed

[2016-10-12 16:02] kunagpal commented on #327
@igsoblechero: Apologies for the delay, Newman v3.x comes with improved reporting, do go ahead and check it out.

[2016-10-12 16:02] #327 closed

[2016-10-12 16:03] kunagpal commented on #551
@wkuckro Does the issue persist for Newman v3.1.2 as well?

[2016-10-12 16:04] #669 closed

[2016-10-12 16:06] kunagpal commented on #666
@jburdeos `read econnreset` could indicate a potentially unstable network connection, also, you mentioned that the tests work correctly without authentication. Please review your proxy link and see if it works correctly.

[2016-10-12 16:08] kunagpal commented on #506
@lts8989 Closing issue due to inactivity. Please reply here if you're still facing this issue.

[2016-10-12 16:08] #506 closed

[2016-10-12 16:13] kunagpal commented on #153
@wkuckro @niraida @DaveData @wheelspinner @bolerio At the time of writing, the Postman Sandbox supports libraries enumerated here: https://www.getpostman.com/docs/sandbox

Please comment on the specific libraries that you wish to see in future releases of the Sandbox, so the we may plan Sandbox growth better.

[2016-10-12 16:34] wkuckro commented on #153
momentJS

[2016-10-12 16:35] kunagpal commented on #153
@wkuckro Coming soon :) https://github.com/postmanlabs/postman-runtime/pull/92

[2016-10-12 17:58] shmup opened #692 "Unexpected end of file at request"
I created one hyper simple collection. A single call with this in the Tests:

[code]

In the GUI, it runs successfully. Running with newman, it does show a checkmark next to the "Successfully authenticated" test, but there's still an [errored] which I imagine is because of the **unexpected end of file at request**. I'm running node v5.7.1 and newman v3.1.2

I'm not sure if this is related to https

[2016-10-12 18:02] kunagpal commented on #692
@shmup Could you share your collection and environment file, sans the sensitive details?

[2016-10-12 18:05] shmup commented on #692
Sure, here's the environment:

[code]

And here's the collection:

[code]

[2016-10-12 18:15] kunagpal commented on #692
@shmup Are you sure you're not missing a port number in the domain environment variable? Something like: `http://localhost:3000/Foo` or `http://localhost:8080/Foo`?

[2016-10-12 18:18] shmup commented on #692
@kunagpal yeah, we're running locally on port 80, and _just to be safe_ I threw a :80 at the end (just now) to reduce another variable. Same outcome.

[2016-10-12 18:25] kunagpal commented on #692
Interesting.

[2016-10-12 20:04] shmup commented on #692
I at least verified newman will work in another scenario, which I wan't 100% sure about before:

[code]

So... I'm going to investigate way further.

[2016-10-12 20:06] shmup commented on #692
I at least verified that newman _does_ run fine on this machine, in another scenario:

[code]

So.. I'll investigate my problem way further. Seems like I should be able to figure it out, really.

[2016-10-12 20:09] kunagpal commented on #692
@shmup Are these machines with different line ending styles?

[2016-10-12 20:13] shmup commented on #692
@kunagpal no, I did check to be sure though, heh.

OK so here's something I just discovered. I ditched my authentication POST and just stored a token in a GET, and it all went well. So I just need to investigate my authenticatation more. I do know the POST returns nothing in the body, at all. Would that cause problems? I read all information out of its Header.

To test, I was going to throw some d

[2016-10-12 20:16] kunagpal commented on #692
In that case, a closer look at the code behind your POST endpoint would shed some more light.

[2016-10-12 20:24] shmup commented on #692
Well, I fixed it. I'm not sure if this is considered a bug or what, but (I'll share heavily heavily reduced code):

Like I said, the HttpResponse was lacking any body content, and was just sending back header data.

So, I went from:

[code]

to this:

[code]

And all is well!

[code]

[2016-10-12 20:27] kunagpal commented on #692
@shmup Thanks a lot for sharing this with us, we'll try reproducing this on our end to measure the exact extent of this condition. :)

[2016-10-12 20:32] shmup commented on #692
@kunagpal Hey no sweat. Thanks for being responsive and allowing me to battle through this in less than one day. 👍

[2016-10-13 11:28] joelpurra commented on #261
@airios, @czardoz: It does seem as if `-R` was removed, but `--ignore-redirects` works.

[2016-10-13 12:06] Kriz1881 commented on #595
We are facing the same issue as the reporter of the issue.
Here are the details of our case:
We have a collection of 20+ HTTP (not httpS) requests with a few tests for each one of them.
From time to time we get the error reported here, but only on the first request in the collection.

We have isolated that request in a separate collection and we executed it separately during different times of the

[2016-10-13 12:48] jburdeos commented on #666
@kunagpal ok. ill go ahead and review the proxy link. thanks! ill keep you posted.

[2016-10-17 10:13] kunagpal commented on #621
@tslape Closing issue due to inactivity. Please let us know if this problem still persists for you.

[2016-10-18 00:24] Pablodotnet commented on #398
As Chrome Apps are going to be obsolete soon, then is there a date for an Ubuntu Desktop App? As we are using the chrome app with newman we continue having this issue.

[2016-10-18 06:33] kunagpal commented on #573
This has been fixed in https://github.com/postmanlabs/newman/pull/697, and shall be rolled out in a future Newman release.

[2016-10-18 06:33] kunagpal commented on #569
This has been fixed in https://github.com/postmanlabs/newman/pull/697, and shall be rolled out in a future Newman release.

[2016-10-18 06:34] kunagpal commented on #594
This has been fixed in https://github.com/postmanlabs/newman/pull/697, and shall be rolled out in a future Newman release.

[2016-10-18 06:34] kunagpal commented on #553
This has been fixed in https://github.com/postmanlabs/newman/pull/697, and shall be rolled out in a future Newman release.

[2016-10-18 16:00] vitoo opened #712 "How can we get Request data in report ?"
1. "newman":"2.1.2" or newman 3.0.1
2. OS details (type, version, and architecture): windows 10
3. Command / script used to run Newman:

[code]
## Issue

When running newman, in html report we have response data but not request data.

Like you can see in screenshot :

---

![image](https://cloud.githubusercontent.com/assets/995694/19485694/1ae56304-955c-11e6-87a1-16e9732a71e5.png)

---

How can we

[2016-10-18 16:44] kunagpal commented on #573
This issue has been fixed in Newman `v3.2.0`, do give it a spin!

[2016-10-18 16:44] #573 closed

[2016-10-18 16:44] kunagpal commented on #569
This issue has been fixed in Newman `v3.2.0`, do give it a spin!

[2016-10-18 16:44] #569 closed

[2016-10-18 16:44] kunagpal commented on #594
This issue has been fixed in Newman `v3.2.0`, do give it a spin!

[2016-10-18 16:44] #594 closed

[2016-10-18 16:46] kunagpal commented on #712
@vitoo Please use the following command to generate a JSON report, which contains comprehensive information about the collection run:
[code]

[2016-10-18 18:36] vitoo commented on #712
@kunagpal thanks, we can't show request in html report yet ?

It's really super verbose report, 12'000 lines !

[2016-10-19 03:30] kunagpal commented on #712
@vitoo Unfortunately, no, as the HTML report is meant to be a concise summary of collection run information. However, we might consider adding more details to the HTML report format in a future release.

[2016-10-19 06:41] vitoo commented on #712
@kunagpal Maybe a html report with a hidden request div, so we can toggle the div to see it ?

[2016-10-19 07:18] kunagpal commented on #712
@vitoo Precisely, as the report can still be kept concise (at least at first glance), which is the bottom line. Are there any other things that you might want to see in this report?

[2016-10-19 07:25] vitoo commented on #712
Maybe an another show/hide div with assertion result colored in green/red ?

Thanks

[2016-10-19 07:27] kunagpal commented on #712
Yes, differential colour support can (should) be added. We'll keep you posted on it's progress over time. :)

[2016-10-19 09:38] fazlerabbi commented on #472
Hi @czardoz,
Any idea when this feature will come out. We are really in need of it.

[2016-10-20 14:54] czardoz commented on #685
@Abhikos This is not on our immediate roadmap, because it involves a number of things such as opening up a communication channel with the interceptor, authenticating it, etc.

I will take this as a feature request though, and make sure we track it :)

[2016-10-20 14:54] #685 closed

[2016-10-20 14:55] kunagpal commented on #413
@swapnilpatne This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:01] kunagpal commented on #545
@alowenst This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:02] kunagpal commented on #231
@rhlKumar @cameronoxley This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:04] kunagpal commented on #153
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:05] kunagpal commented on #193
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:06] kunagpal commented on #416
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:06] kunagpal commented on #666
Marking this issue as resolved on our end :)

[2016-10-20 15:06] #666 closed

[2016-10-20 15:10] kunagpal commented on #712
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:12] kunagpal commented on #628
@vrinek This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:14] kunagpal commented on #568
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:15] kunagpal commented on #567
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:16] kunagpal commented on #309
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:17] kunagpal commented on #285
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:17] #285 closed

[2016-10-20 15:18] kunagpal commented on #283
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:18] kunagpal commented on #276
This is not a part of our current roadmap, but has been marked as a feature request and added to our internal tracker. We'll update this thread when any progress occurs on this. :)

[2016-10-20 15:20] kunagpal commented on #110
@jaetask Closing issue due to inactivity, please let us know if there are other concerns / suggestions / bugs we can help you with :)

[2016-10-20 15:20] #110 closed

[2016-10-20 15:23] kunagpal commented on #220
Closing request due to inactivity, feel free to let us know about any other suggestions, bug reports, that you might have in mind.

[2016-10-20 15:23] #220 closed

[2016-10-20 15:24] kunagpal commented on #410
Closing issue due to inactivity, and a lack of context. Feel free to let us know about any other suggestions, bug reports, or feature requests you may have.

[2016-10-20 15:24] #410 closed

[2016-10-20 19:41] kunagpal commented on #630
Hey @samcayford, does this issue still exist for you?

[2016-10-20 20:28] samcayford commented on #630
Sorry, i stopped using newman as i was encountering too many issues. It never stopped happening.

[2016-10-20 20:44] kunagpal commented on #630
@samcayford We're sorry to hear that. Could we know more about your issues?

[2016-10-21 09:30] snk20501 opened #719 "tv4 schema cache will clear itself"
Version and environment information:
1. Newman Version (can be found via `newman -v`): v3.2.0
2. OS details (type, version, and architecture): Ubuntu Server 14.04 64bit
3. Are you using Newman as a library, or via the CLI? CLI
4. Did you encounter this recently, or has this bug always been there: seen from v3.1.1, but v3.1.0 works fine.
5. Expected behaviour: the schema was added by tv4.addSchemas

[2016-10-21 14:29] shmup commented on #136
@shamasis it will be saved as a .json file, not .html

This issue comes up when googling for a problem, and maybe you'll wanna correct your comment. I am interested in knowing more about the reporters. Could you link to the docs in your comment as well?

[2016-10-21 14:32] shmup commented on #136
@shamasis removed comment you were probably notified about, because I see that indeed the reporter options are right in the repo README. :)

[2016-10-23 11:33] vrinek commented on #628
@kunagpal thanks for the update

[2016-10-23 22:36] shamasis commented on #224
@kunagpal can you reproduce this issue based on your interpretation of the original issue? Maybe also let know of what's interpreted. If you cannot reproduce, then let's close this until we have more details.

[2016-10-23 22:38] shamasis commented on #339
@kunagpal could you try checking if it's fixed now. If yes, we may close this issue.

[2016-10-23 22:42] shamasis commented on #551
seems like this issue has been resolved with latest releases of the involved components. I recently upgraded in Sierra using latest node and NPM from Newman v2 to v3. The alias creation worked just fine. Closing.

If the issue recurs, please let us know and we will reopen. Don't forget to mention your OSX version, NPM and NodeJS version along with older and newer Newman version.

[2016-10-23 22:42] #551 closed

[2016-10-23 22:44] shamasis commented on #595
@Kriz1881 could you open a new issue? The original issue has been addressed here. Would help to keep better track of things.

[2016-10-23 22:44] #595 closed

[2016-10-23 22:50] shamasis commented on #630
Closing this issue. @samcayford - would really have loved to hear the specifics of your issues so that we can make things better for others with similar use case as yours.

I am available on Slack if direct chat is your thing. https://www.getpostman.com/slack-invite

[2016-10-23 22:51] #630 closed

[2016-10-23 22:55] shamasis commented on #643
@kunagpal what's the status of this. cc @czardoz

[2016-10-23 22:56] shamasis commented on #664
@czardoz can you look into whether this is a difference of behaviour in chrome and native?

[2016-10-23 22:57] shamasis commented on #687
The associated PR is merged and is out for release. Thanks everybody.

[2016-10-23 22:57] #687 closed

[2016-10-23 23:01] shamasis commented on #692
@czardoz @kunagpal can we check if runtime is misbehaving with POST or other methods with server returning no body? If not, then we can close this. Else we will need to deep dive.

[2016-10-24 05:36] czardoz commented on #653
@tranhungt are you still seeing this happen? It was fixed in https://github.com/postmanlabs/node-oauth1/commit/6bc1f3b544d74dbcbfe284a4ef7982da4171709f :)

[2016-10-24 06:44] Kriz1881 opened #722 "ReferenceError in test-script on the first request of the collection while running Newman"
Hi,
We have a collection which runs with no problems in Postman.
We also have some tests for basic validations on the response.
When we are launching the collection with Newman, sometimes we are getting error only on the first request in the collection:
1. Error - Invalid Protocol
2. ReferenceErr - responseBody is not defined at test-script:5:31

Here are the details:
We have a collection of 20+ H

[2016-10-24 19:45] wkuckro opened #723 "cannot install 3.2 in Ubuntu 16.04"
1. Newman Version (can be found via `newman -v`): Attempting install 3.2
 2. OS details (type, version, and architecture): Ubuntu 16.04 , Linux USER 4.4.0-22-generic #39-Ubuntu SMP Thu May 5 16:53:32 UTC 2016 x86_64 GNU/Linux
nvm 0.32.0
node 6.9.0
npm 3.10.8
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Recently

[2016-10-24 19:48] kunagpal commented on #723
@wkuckro Please see https://github.com/postmanlabs/newman#using-newman-with-the-postman-cloud-api, you'll need to generate an API key as well.

[2016-10-24 19:51] wkuckro commented on #723
@kunagpal The issue isn't the command. I just didn't want to post the API keys here. The issue is the _install_ of newman, not running newman itself. This worked on my OSX machines already when upgrading to 3.2 when it came out

[2016-10-24 19:54] wkuckro commented on #723
Close this. I restarted my box for a third time, and ```newman -v``` now returns 3.2.0

[2016-10-24 19:54] #723 closed

[2016-10-24 19:54] kunagpal commented on #723
That's great, thanks for letting us know!

[2016-10-24 20:21] kunagpal commented on #692
This is not an issue with runtime, as liquid-json throws errors while trying to parse empty strings into objects (just like native `JSON.parse`). In this case, the empty string in question is the response body.

[2016-10-24 21:26] cdanielsen opened #724 "Command line reporter does not provide detail for failed assertions"
Feature request: When a test assertion fails, it would be helpful for information/debugging purposes if Newman detailed the expected result vs. the actual result.

e.g. `Expected 'foo' and got 'bar'`

Currently, the reporter only relays the title of the test that failed, which explains what test failed, but not why.

[2016-10-25 09:08] czardoz commented on #416
TCP connection pooling is implemented in https://github.com/postmanlabs/postman-runtime/blob/328f3ba050dee9ec2aa21efedebff895d1069915/lib/requester/util.js#L63

[2016-10-26 07:34] shamasis commented on #692
Are we sure about this? The original query mentioned an end of file error, which should not be coming from JSON.parse

[2016-10-26 14:39] kunagpal commented on #692
Yes, running the collection in ultra-verbose mode, with logging on every event emitted by the runtime results in a stack trace for a JSON parse error being shown.

[2016-10-26 15:39] shmup commented on #692
I whipped up a blank .NET web api project with a single Get that only set a the response headers, and not any body content.

The test passed successfully, no end of file error. Unsure what this says about the project I'm actually trying to test, and the EOF problem. I may revisit it one day (removing my fix of adding in some filler body content) and let you know what the problem was.

But for now.

[2016-10-27 02:01] keithmork opened #725 "Newman sometimes can not parse params from env file"
Newman 3.2.0, node 6.8.1, centos 6.5

Sometimes newman just can't get the params, for no good reason. Re-run it then it'll be fine...
![image](https://cloud.githubusercontent.com/assets/5634347/19751920/a3d7f8ea-9c2b-11e6-973f-6090646f64cb.png)

![image](https://cloud.githubusercontent.com/assets/5634347/19751904/7672701a-9c2b-11e6-90e0-8dd4b3f8ebb6.png)

[2016-10-27 07:25] kunagpal commented on #725
@keithmork I'm unable to reproduce this issue on Node `v6.8.1`, could you provide the following details, so that we may dive deeper?

1. Is Newman being used in CLI, or library mode?
2. What is the command / script used to run the collection?
3. Also, please share your collection and data files, without any sensitive details.
4. Lastly, please re-confirm that you are indeed on Newman `v3.2.0` via

[2016-10-27 08:21] mahekmerchant opened #728 "Is it possible to import csv or json file in pre-request script?"
I have variables stored in csv file. Now I want to import that variables from csv file in pre-request script and set as environment variable. As my objective is to run this collection file in newman without passing environment file in command line. So is this approach possible?

[2016-10-27 08:26] keithmork commented on #725
Sorry for the wrong title, those envs are actually from env file.

Newman version is 3.2.0, in library mode. I wrapped newman into [this](https://github.com/keithmork/MyNewman)(in order to run every collection in a dir, run every folder in a collection and automatically assign data files and loop counts etc.)

In this case, there isn't any data file, so it's sort of the async version of typing the

[2016-10-27 08:29] kunagpal commented on #728
@mahekmerchant You can use the `-d` CLI flag to pass your CSV file, which will be loaded as data variables (not environment). A sample command for your workflow would be as follows:

[code]

[2016-10-27 08:35] mahekmerchant commented on #728
ok. But can I import external files in sandbox?
eg
import(filepath)
var j= data.name
postman.setGlobalVariable("name", "j");

[2016-10-27 08:46] keithmork commented on #725
PS:
I changed my code a bit, now I pass a parsed json object to `options.environment`. Seems solved, at least for me.  : P

[2016-10-28 11:30] jmfayard opened #729 "Disabled header => TypeError Header name must be a valid HTTP Token ["//Authorization"]"
Hello, I have a request like this which was working just fine in Postman & the postman runner

![image](https://cloud.githubusercontent.com/assets/459464/19804900/881c65aa-9d11-11e6-98b5-c978af5aec00.png)

Running from newman gave me an error that had me puzzled

[code]

I found out that the collection (v2) export contains this

[code]

The problem here is the disabled headers `Authorization` and

[2016-10-28 14:41] zalow517 opened #730 "Response body of single item within a collection"
I want to get the response body of a single item within a collection which is specified by folder. Is that possible?

Currently if I try and get the response body after the requests are performed, I get back all of the responses from all items within the collection's folder.

The main issue is that these are not being saved in one array as objects, but separate objects which makes it hard to manip

[2016-10-28 14:59] kunagpal commented on #730
Hey @zalow517, at present, there is no configurable modifier that allows filtering one particular request's response. Parsing the verbose JSON collection run report (via `--reporters cli,json --reporter-json-export report.json`), and parsing the generated report to acquire the response body of your choice is the way to go. However, we can consider adding this in a future Newman release.

[2016-10-28 15:00] zalow517 commented on #730
@kunagpal Thank you for your quick and accurate response :)

[2016-10-28 15:00] kunagpal commented on #725
@keithmork Closing issue on our end, feel free to get back to us with any other suggestions / queries / issues you may have :)

[2016-10-28 15:00] #725 closed

[2016-10-28 15:00] kunagpal commented on #730
@zalow517 You're welcome! We hope this helps you out. :)

[2016-10-28 21:59] kunagpal commented on #730
Marking this issue as closed, as we have added it to our internal tracker. We'll keep you posted on it's progress, as it happens. Thanks for contributing! :)

[2016-10-28 22:01] kunagpal commented on #724
@cdanielsen We've added this issue to our internal tracker, as it is not a part of our current roadmap. We'll be more than happy to keep you updated on it's progress, whenever any changes occur. Thanks for your contribution! :)

[2016-10-28 22:33] kunagpal commented on #729
Hey @jmfayard, this appears to be a bug within the app, as the field `"disabled": true` should also be included within the second element of the header array, like so:

[code]

As a temporary workaround, you could manually include the `"disabled": true` field. Also, please open a bug report with a reference link to this issue at https://github.com/postmanlabs/postman-app-support/issues/new. Thanks

[2016-10-28 22:39] kunagpal commented on #339
@shamasis @praphull @jgroom33 Apologies for the delay, but we have confirmed that line feed content is not presently supported. We'll be adding this issue to our internal tracker, and provide updates here, whenever any progress occurs. Thanks for contributing! :)

[2016-10-28 22:40] kunagpal commented on #728
Marking issue as resolved, feel free to get back to us for any other suggestions / concerns / issues you may have :)

[2016-10-28 22:40] #728 closed

[2016-10-28 22:45] jgroom33 commented on #339
Thanks for the updates. Good effort.

[2016-10-28 23:07] kunagpal commented on #224
@irhabi Based on our current interpretation, this is what the situation looks like:
You wish to use nested data variables, in JSON format, but the variables are not resolved. This has been confirmed for both, Newman `v3.2.0`, and Postman `v4.8.0`, as nested JSON variables are not supported (for any kind of request)... yet.

We're adding this to our internal issue tracker, and marking this as close

[2016-10-28 23:20] kunagpal commented on #555
@nick2060 We're unable to reproduce this issue. Could you share your collection and environment file, without the sensitive details?

[2016-10-29 09:51] czardoz commented on #730
@kunagpal Re-opening this issue, so other community members can comment on the same issue without having to open a new issue every time.

[2016-10-29 09:54] czardoz commented on #712
We will track these here as well, @kunagpal :)

[2016-10-29 10:18] czardoz commented on #339
Keeping this issue open in the meantime, just so that everyone knows this is still something that needs to be addressed.

[2016-10-29 10:24] shamasis commented on #416
@czardoz is this implemented and closed? If so, please remove the labels and close it.

[2016-10-29 10:28] czardoz commented on #276
@kunagpal We should put it on our roadmap, and track it here, so everyone stays updated :)

[2016-10-30 16:21] shamasis commented on #725
@keithmork - can you share your before and after code? We will see if this is a sort of binding issue that we need to fix?

But, just to note that if you've done something like `async.apply(newman.run …`, it is an invalid JS usage. You'd need to do `async.apply(newman.run.bind(newman), …`

[2016-10-30 16:23] shamasis commented on #728
@mahekmerchant - let us know if you managed to get things working. 😊

[2016-10-30 16:27] shamasis commented on #730
@zalow517 - you could use Newman as a node library and for the particular request, identify it and save its response manually. What say?

That's the only way to address it for now. Beyond that, in future anyone can develop this feature using the upcoming Newman custom reporter feature.

@czardoz seems like we should close this.

[2016-10-30 16:28] shamasis commented on #724
What version of Newman are you on? The latest Newman outputs the exact request where test failed along with a tentative line number and test count position.

[2016-10-30 16:29] shamasis commented on #712
You could try providing your own HTML reporter template. There's a cli option for the same. Use the current template as reference maybe? We will better document this soon.

[2016-10-30 17:00] shamasis commented on #628
@czardoz can we make `--bail` also accept an optional parameter and then allow bailing modes? Say, `--bail iteration`. It could take iteration or collection and collection is set as default if nothing is set.

[2016-10-31 08:28] zalow517 commented on #730
@shamasis Yes that's exactly what I'm doing. The main issue here is that the response (when it contains more than one response - therefore multiple requests), is not comma-separated and therefore is not a proper object which I can manipulate easily. Here is an example of the output:

`{ sessionToken: 'ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9' }
{ customerId: '53b75d17-630b-40ca-a725-17

[2016-10-31 08:39] jmfayard commented on #729
reported https://github.com/postmanlabs/postman-app-support/issues/2443

[2016-10-31 09:09] czardoz commented on #692
I think I know what's going on. An HTTP response is supposed to look like this over the network:
[code]
(Note that the empty body is basically two `\n`s.

Some servers however close the connection after sending the headers. In that case, a client which expects some body to be sent will error out. I think that's what is happening here.

[2016-10-31 13:10] zalow517 commented on #730
I managed to find the data I want in isolation. I am now using on `done` instead of `request`. In this particular state, the summary contains the run executions which nicely store the response bodies in a well-structured object :)

[2016-10-31 20:15] shamasis commented on #730
That's great. A heads up that we will soon make the executions object optional to save memory usage. It will become a flag that you'll need to add during run.

[2016-10-31 20:15] #730 closed

[2016-10-31 20:16] shamasis commented on #692
@czardoz you think we should handle this case?

[2016-11-01 03:22] keithmork commented on #725
[code]

[2016-11-01 03:30] keithmork commented on #712
@vitoo I added these in my postman collections to show the params:
[code]

https://www.getpostman.com/docs/sandbox

[2016-11-01 04:34] keithmork opened #734 "[FEATURE REQUEST] reuse codes in postman/newman"
For example, many of my tests look like this:

[code]

For now, all I can do is put those codes in globals:

![image](https://cloud.githubusercontent.com/assets/5634347/19879397/21c378ce-a02d-11e6-8d65-2c44e78daee7.png)

![image](https://cloud.githubusercontent.com/assets/5634347/19879385/0ab97e94-a02d-11e6-989c-1ef9b4b74aa3.png)

Otherwise it's a nightmare to write assertions like this: ( Imagine

[2016-11-01 11:42] Saha2111 opened #735 "If response code 204 No Content get "ReferenceError" - "responseCode is not defined""
Hello!
all requests which has response code 204 no content returns "ReferenceError" - "responseCode is not defined"

[2016-11-01 11:43] Saha2111 commented on #735
via Postman everything works correct

[2016-11-01 11:44] Saha2111 commented on #735
Token - delete token
  DELETE https://qa-coreapi.pexcard.com/v4/Token [errored]
  2⠄ ReferenceError in test-script

└ Token - find deleted token
  GET https://qa-coreapi.pexcard.com/v4/Token [401 Unauthorized, 313B, 551ms]
  √  Response Message is correct
  √  Status code name is correct

└ Token - generate a new token with incorrect Username or password
  POST https://qa-coreapi.pexcard.com/v4/To

[2016-11-01 14:50] nick2060 commented on #555
@kunagpal Upon reviewing this issue on my end, I noticed the body of the postman collection had url-encoded parameters set which shouldn't have been there. Not sure where they came from, but upon removing them my test works fine in Newman. You can close this issue.

[2016-11-01 14:55] kunagpal commented on #555
@nick2060 Do these parameters persist when re-exporting the collection from the Postman Client?

[2016-11-01 15:00] nick2060 commented on #555
Yes - really not sure where they're coming from but for now I will live with just removing them from the collection manually.

________________________________
From: Kunal Nagpal <notifications@github.com>
Sent: November 1, 2016 2:55 PM
To: postmanlabs/newman
Cc: nick2060; Mention
Subject: Re: [postmanlabs/newman] GET request with access token/access token secret not working (#555)

@nick2060<http

[2016-11-02 06:08] cdanielsen commented on #724
I'm using 3.1.0, and the feature you're describing is helpful, but requires looking into the source, instead of immediately conveying why a test assertion failed in the reported output.

[2016-11-02 07:04] shamasis commented on #724
Hmm. So, like Newman v2, v3 gives output of failed tests. If I'm not mistaken what you're saying is that just showing the name of the failing test in red is not enough indicator for the failure.

If that's the case, then the only way to get better message of failure is to write more descriptive test name? Or consider the possibility of adding an assertion library in future? Am I thinking in right

[2016-11-02 17:33] jangchoe commented on #594
Looks great. It seems to work.

[2016-11-03 10:55] nitinEd commented on #728
Hi Kunal,

In above context how can I pass the environment variables to the collection.
$newman run path/to/collection/file.json  -d /path/to/QA.postman_environment.json --reporters cli,html --reporter-html-export

This is not working for Environment variables.

[2016-11-03 10:56] kunagpal commented on #728
Hey @nitinEd, you'll have to have to use the `-e` flag, like so:

[code]

[2016-11-07 12:23] tormoseng commented on #664
I believe I more or less have the same issue on OSX, where I call solr with some query parameters. Within these parameters there are + e.g. to bind the queries with OR (example: q=(name:STA*)%2BOR%2B(foreignId:STA*) should be q=(name:STA*)+OR+(foreignId:STA*)). This is not happening on Postman - on did not either happen on Newman 2.0.7 (just recently updated to 3.2.0)

[2016-11-08 07:29] czardoz commented on #664
This is definitely a bug, since we started forcibly encoding URL params (otherwise Russian/Chinese characters did not work). The problem lies here: https://github.com/postmanlabs/postman-request/blob/c4d2feb91c682b0aabd81f8fa5851aa3b3457fda/lib/url-parse.js#L21

[2016-11-08 07:34] czardoz commented on #735
@Saha2111 Can you share a sample collection which I can use to reproduce this issue? :)

[2016-11-08 07:39] czardoz commented on #734
This is coming soon. The route we've chosen is, we will allow having common scripts at the folder/collection level.

Since each script runs independently of the others, there's little chance of having persistent functions defined across different scripts.

[2016-11-08 08:50] czardoz commented on #722
@Kriz1881 these seem to be intermittent connection issues. Can you run newman like this:

[code]

And paste the log here? Feel free to strip out confidential information. You can also email us at help@getpostman.com

[2016-11-08 08:53] czardoz commented on #719
@snk20501 This is by design. We use an entirely different Sandboxed environment for each script, to ensure minimum interference.

[2016-11-08 10:17] czardoz commented on #692
@shamasis I think we should. This lies deep inside Node.js however, in the http parser implementation, so the resolution is pretty tricky.

@shmup Can you run Newman with request debugging turned on? Something like this:

[code]

[2016-11-09 01:25] snk20501 commented on #719
@czardoz Got it. Thanks for your explanation.

[2016-11-09 15:48] #719 closed

[2016-11-09 19:58] passsy commented on #724
The output doesn't include the request (with all parameters) or the complete response. When something fails I have to run the request manually to find the problem. Most problems can be found with a glance at the raw request/response.
Especially when running newman on the CI (every hour) a better output would be great. Sometimes errors disappear over time.

[2016-11-09 20:29] passsy opened #744 "Feature request: Run test in parallel"
Sadly the webservice I'm testing has some very slow calls. My test suite runs 30min+ when I wait for responses. When I'd be able to run test in parallel it would be much faster! Running folders in parallel would be enough.

[2016-11-10 03:12] anirupdutta commented on #472
Any updates on this issue?

[2016-11-10 03:39] a85 commented on #744
You can do this with multiple process instances?

[2016-11-10 10:00] czardoz commented on #744
Yep, that would be one solution. Another solution is to use Newman as a library in a simple script. We have an example for parallel collection runs here: https://github.com/postmanlabs/newman/blob/896a7b61955ee59bc8bfcfa144e7c5aa3639194e/examples/parallel-collection-runs.js

All you need to change in this script is the options: https://github.com/postmanlabs/newman/blob/896a7b61955ee59bc8bfcfa144e

[2016-11-10 10:04] passsy commented on #744
Is one of both solutions possible to publish combined results (lint, json)?

[2016-11-10 10:06] czardoz commented on #692
possible duplicate #722

[2016-11-10 10:27] czardoz commented on #744
Yes, but both involve writing some aggregation logic. For the first approach, you can use a JSON reporter, and aggregate results from the reports when all the parallel runs are complete.
For the second approach, it's a little easier, since you can aggregate results as they are available (i.e, _during_ the run)

[2016-11-10 10:30] czardoz commented on #744
@passsy To add to my comment above, you can use the `result.run` [object](https://github.com/postmanlabs/newman/blob/develop/examples/parallel-collection-runs.js#L47) to find additional information about failures, successes etc :smile:

[2016-11-11 05:25] rapidroamer commented on #545
@alowenst workaround using workflows as below:

`
Set Env vars as below:
retry-limit = 5
retry-counter = 0
retry-interval = 2000

Use this code snippet under Tests tab:

function pausecomp(millis)
 {
  var date = new Date();
  var curDate = null;
  do { curDate = new Date(); }
  while(curDate-date < millis);
}

if(failure-condition)
{
//needs retry
    if ( parseInt(environment['retry-counter']) <

[2016-11-11 05:57] tranhungt commented on #653
It's good now, thanks @Cz!

[2016-11-11 05:57] #653 closed

[2016-11-11 06:39] duyetmai opened #750 "Set next request in Newman"
Hi,

I'm trying to set next request in Newman in Event Handle of request event not IDE (Because of some issues,I don't want to put the next request in a collection).
.on('test', function (err, args) {
if(requestName == "Login"){
    postman.setNextRequest("Check Token Status");
}
However, it doesnot work. Could you please assist me?

[2016-11-11 09:49] czardoz commented on #750
@duyetmai Can you give more information about how you're using `setNextRequest`? Your request has to be a part of the collection you are running in order to be used with `setNextRequest`.

[2016-11-11 10:43] ajsb85 opened #751 "The GET request contain the body of the payload"
1. Newman Version (can be found via `newman -v`): **v3.2.0**
 2. OS details (type, version, and architecture): **Windows 7**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: **Maybe always**
 4. Expected behaviour: **Status 200 Code Name OK**
 5. Command / script used to run Newman: **newman run file.json**
 6. S

[2016-11-11 11:03] czardoz commented on #751
This is because the client app currently saves GET request bodies to the collection.

We are currently in the process of updating our Native apps to properly support bodies in GET requests. When we do that, you will be able to remove bodies from the "Body" tab of Postman.

For now, one workaround is to change the method from GET to POST in the Postman App, remove the body and save the request.

[2016-11-11 11:35] little-boy commented on #729
I encountered this problem particularly when i export the collection to use it with newman, with "Headers" disabled but also with form-data disabled (in a POST request).

I cleaned my collection of all disabled properties to avoid getting errors with newman.

[2016-11-11 11:48] jmfayard commented on #729
@little-boy I didn't have the chance to test it yet, but Postman 4.8.3 is supposed to have fixed the source of the bug as of https://github.com/postmanlabs/postman-app-support/issues/2443

[2016-11-11 12:34] duyetmai commented on #750
Hi,
My request is apart of the collection. Because i wanted to re-use the code ,i decided to put the  Test (the script run after sending request) including postman.setNextRequest into the the new man instead into IDE of Post Man

[2016-11-11 14:00] czardoz commented on #555
@nick2060 It's app's behavior that it adds auth information to the request when sent. This is to enable users to see exactly what is sent.

This is now redundant because of [Postman Console](http://blog.getpostman.com/2016/08/26/the-postman-console/), so we will be phasing it out over the next few releases :)

[2016-11-11 14:00] #555 closed

[2016-11-14 11:54] Saha2111 commented on #735
[simple collection.zip](https://github.com/postmanlabs/newman/files/589121/simple.collection.zip)
@czardoz if you will have any question please ask

[2016-11-15 05:21] galak06 opened #759 "report location path"
i am not able to set the report path.
-o d:\reports\......

[2016-11-15 05:27] kunagpal commented on #759
@galak06 The `-o` CLI option has been deprecated. The right command would be something like this:
[code]

Please see the [Newman v2 to v3 migration guide](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md) for more details.

[2016-11-15 05:37] galak06 commented on #759
Thanks for the fast response

[2016-11-15 05:37] #759 closed

[2016-11-15 07:34] kunagpal commented on #750
Hey @duyetmai, could you share your collection, and other associated files, the command used to run the collection, the operating system, and the Newman version (obtained by `newman -v`)?

[2016-11-16 15:08] Freakishmahesh opened #763 "HTML reports doesn't have the console output details."
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2016-11-16 15:27] goldsteindavid opened #764 "Set Variable From Command Line"
I'd like a way to pass a single variable (key:value pair) to Newman from the command line without needing additional JSON files. Currently I'm using -e to set my environment and -d to set initial values for a couple of variables. Each of these switches requires a JSON file. Rather than use -d I'd like to just pass my variable.

I want to be able to do something like this:
`newman run MyAPI.postman

[2016-11-16 15:29] kunagpal commented on #763
Hey @Freakishmahesh, welcome to the Newman GitHub issue tracker :)

At present, the following details are present in both: the console reports, and the HTML report as well:

* The name of the collection being run.
* Total and failed iterations, requests, test scripts, prerequest scripts, and assertions.
* The URL, average response code, response size, test details, and response size (across all it

[2016-11-17 10:40] duyetmai commented on #750
Hi,
My version is 3.2.0, windows 7, 64bit
Actually, i just need if we have anyway to set next request, set global variable value in the comandline of node js not via IDE of postman.
In IDE of postman we can use "postman.setNextRequest("Check Token Status");" or "postman.setEnvironmentVariable("parent_object", responseData). But how about in command line of node js. I used postman.setNextRequest("C

[2016-11-17 10:50] kunagpal commented on #750
Hey @duyetmai!

To start off, the `postman` object is not available for use within the Node CLI, so what you have described would simply not work.

In order to utilise the `postman` sandbox object, you would have to use it within collection request scripts, like pre-request and post request scripts. Please see the sample here: https://github.com/postmanlabs/newman/blob/develop/test/integration/sup

[2016-11-17 11:04] duyetmai commented on #750
Dear kunagpal,

Thank for your fast answer. I know this way. However, as i said before, i don't really want to put every thing in collection file/Postmand IDE because we cannot reuse code and import some external library.
That's why I want to customize it to use in command line. So how about PostmanApi in  postman-runtime (not runner sorry). Is there anyway to call it out or define it and use it?

[2016-11-17 11:51] duongnapham opened #767 "Can I modify environment variables in any events of Newman?"
Hi,

I have a question about Newman feature. It is great if someone helps me make clear it
I need to automation both API above in NodeJS using Newman as library. I can not develop code directly into Postman tool because we need to use external library to support our project. My scenario just want to test Login and Logout API
1- Call Login API to get authorization string.
2- Call Logout API to revo

[2016-11-17 12:44] kunagpal commented on #643
@shamasis I believe this is blocked by https://github.com/postmanlabs/newman-docker/issues/29, specifying a mount volume for reports will help here.

[2016-11-17 12:47] czardoz commented on #750
@duyetmai There's no way to use the postman API outside of the script sandbox right now.

One way of getting around this, is to use the [Postman SDK](https://www.npmjs.com/package/postman-collection) and update your collection before actually running it.

[2016-11-17 12:50] czardoz commented on #767
Hi @duongnapham this is not possible currently. This is basically the same as #750, so I am closing this, and tracking the issue there :)

[2016-11-17 12:50] #767 closed

[2016-11-17 14:01] shamasis commented on #643
Maybe someone can send a PR.

[2016-11-17 14:03] shamasis commented on #643
By the way, I think the original issue and this is not connected.

Newman expects a file name for the export path. If user provide a directory, the feature request is to export the file inside that directory.

I think we already have an undocumented option to set the report directory for all reporters. I maybe wrong, need to verify.

[2016-11-17 16:05] duyetmai commented on #750
Thanks for your answer czardor. Actually i know Postman SDK. I tried to create/modify a collection before. However i suppose that it cannot help me to solve this issue. I just want to modify global variable/ set next request during my test run. If you can, could you please give me some suggestions/hints to implement it. I just think perhaps i will write the value which i want to set to global vari

[2016-11-20 02:50] duyetmai commented on #750
Hi czardoz,
Firstly, Thank you for your great support. I really appreciate it.
Secondly, because i really need to change environment  variables in order to proceed my project, could you please tell me some ways to read file from postman-api.js. I suppose that i can find solutions to overcome this issue by modifying something in postman-api.js file. Unfortunately, i cannot read file in postman-api.

[2016-11-20 16:43] larsmeldgaard opened #770 "--disable-unicode does not change Console.log output"
When using the `--disable-unicode` option, the output should only consist of non-unicode characters.

However if I use something like this in a test:

`var jsonData = JSON.parse(responseBody);
console.log(jsonData);
`

...the output has a left margin with a straight line. This look great in CLI, but not-so-great in a ascii text logfile from vsts.

![image](https://cloud.githubusercontent.com/asset

[2016-11-21 00:00] deardooley commented on #735
Just upgraded to the 3.x release in hopes file upload support would be better. This blew up our entire test suite.  Postman returns valid results for us too, though it's a PITA to run in postman vs newman since the `data` variable isn't present.

[2016-11-21 09:28] czardoz commented on #735
@deardooley are you seeing the same errors for 204 responses?

[2016-11-23 09:14] deardooley commented on #735
We saw that behavior starting back in the 2.x releases. It wound up being a _feature_ of the node request library's response parsing, so we enabled some response options on our API to satiate javascript consumers.

Today, we see the same thing that @Saha2111 is seeing with respect the 204 as well as the same issues reported in #692 , #595 , and #722 . Our suite is pretty modest. ~ 300 requests wit

[2016-11-23 11:34] czardoz commented on #735
@Saha2111 I just tried your API out, and this is what is going across the wire:
[code]

It seems that your server is sending a response body `{}` even though the code is 204, which is causing Node's HTTP parser to fail. This is the correct behavior according to the [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.3.5):
[code]
That being said, I think this should be handled by us in some wa

[2016-11-24 01:55] newlandj commented on #525
@shamasis Could you guys update your Postman documentation here: https://www.getpostman.com/docs/run_file_post_requests to reflect the current state of file posts? It took me quite a while of testing and googling to eventually find this github post.

Also, I'm struggling a bit with how to properly format my CSV and Postman Collection for multiple files. I was trying to have multiple columns in my

[2016-11-24 03:03] x-iron commented on #734
Exciting feature, can't wait!

[2016-11-24 10:39] KristinaGu opened #774 "ReferenceError in test-script while running newman https"
Hi,I have a postman collection which runs fine from postman. In the script, i have some tests that do  some basic validations on the responseData.
But when launching it with newman in my machine, i get error as: "ReferenceError in test-script".

Kindly give a solution.
Thanks,

In detail:

 1. Newman Version : 3.3.0
 2. Mac 10.10.5

**Error Snapshot:**
![image](https://cloud.githubusercontent.com/

[2016-11-24 10:52] czardoz commented on #774
Hi, it looks like your server uses a self signed certificate. You need to specify `-k` options with newman:
[code]

[2016-11-24 15:50] kunagpal commented on #525
Hey @newlandj, using CSV data files would be a a bit awkward here, as we need fine grained CRUD control over sequence control variables. Allow me to present a configurable alternative, using environment variables, and `postman.setNextRequest`.

### Workflow:
1. Maintain a starting environment with a variable called `allFiles` (say). The value of this variable will be a stringified JSON, of the fol

[2016-11-25 00:40] KristinaGu commented on #774
@czardoz  thanks a lot 。I  have solve this question by your answer.

[2016-11-25 00:40] #774 closed

[2016-11-25 05:43] Freakishmahesh opened #776 "When used environment variable to compare the response, failed to compare."
Ex : If a id value is set as environment variable and tried to compare the response with the environment variable, failed.
Enviroment variable : id and value is newman

When the request is sent, in response, we get the Id value

In tests, if we use like tests["Id value matched"]=JsonData.properties.id=="{{id}}";

The above failed, although in the response, we get the Id value as newman.

[2016-11-25 05:50] kunagpal commented on #776
Hey @Freakishmahesh, use `postman.getEnvironmentVariable` to access environment variables in test / pre-request scripts, like so:

[code]

[2016-11-25 05:59] Freakishmahesh commented on #776
Thanks @kunagpal . It worked.

[2016-11-25 05:59] #776 closed

[2016-11-25 07:28] czardoz commented on #764
@goldsteindavid Newman is designed to be compatible with Postman in all aspects, and there's no proper corresponding feature in Postman.

If you have a secret environment variable, you could probably try creating a temporary environment file for Newman, and then provide that as the argument. If you use the [Postman Cloud API](https://api.getpostman.com/#c34392-1e36-d1cb-af89-1c95365184ab), you can

[2016-11-25 07:49] Freakishmahesh opened #777 "Can we skip a particular network request from execution, in a collection? postman.setNextRequest is to swich to some request. Byt here I need to skip particular request from execution."
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2016-11-25 08:11] kunagpal commented on #777
Hey @Freakishmahesh, `postman.setNextRequest` can help achieve request skipping as well. Consider the following workflow:

1. A collection has three requests, A, B, and C.
2. You decide to skip request B, say. (Or any intermediate lying request, for that matter).
3. The test script of request A would include a `postman.setNextRequest("C");`.
4. Thus, request `B` would never be run.

This will not

[2016-11-25 10:19] nitinEd opened #778 "Error "newman :command not found" while execute shell script in jenkin Job"
![screen shot 2016-11-25 at 3 39 45 pm](https://cloud.githubusercontent.com/assets/19796842/20621696/7bdbb690-b325-11e6-8294-988d9097f6b6.png)

Steps:
1.Started Jenkins on localhost.
2.Create Job-->Select Freestyle project-->Add Build step-->Exceute shell-->Enter "newman run PATH/to/collection -r html,cli"
3.Build now

Result is in attached screenshot.
-->Newman: command not found

newman version:

[2016-11-25 22:33] kunagpal commented on #472
@anirupdutta @fazlerabbi @tdurden82 @pawelka  As of Newman v3.3.0, this feature is available. See https://github.com/postmanlabs/newman#ssl-client-certificates for more details. :)

[2016-11-25 22:33] #472 closed

[2016-11-25 22:34] #729 closed

[2016-11-26 01:44] newlandj commented on #525
Thanks @kunagpal I appreciate the detailed response. I'm a bit too much of an amateur to be able to implement that solution I think, and I have some work-arounds that will get me there. I was hoping I could just put a variable in my CSV to say whether an attachment block was enabled with a "true" or "false" variable for a particular row in the CSV, but it doesn't appear that the "enabled" key does

[2016-11-26 07:37] duyetmai opened #780 "Executing concurrent requests"
Hi,
I'm using Newman as library.

In the past, it is impossible because postman is just a plugin of chrome
https://github.com/postmanlabs/postman-app-support/issues/493

Now Newman makes postman collection work without chrome.

So can we  execute concurrent request now? I would like to use postman/newman in load test.

[2016-11-26 12:19] kunagpal commented on #780
Hey @duyetmai, please see https://github.com/postmanlabs/newman/blob/develop/examples/parallel-collection-runs.js for an example of parallel collection runs.

[2016-11-26 16:12] duyetmai commented on #750
Thank czardoz. I hope that it will be a new feature in future.

[2016-11-27 18:30] #780 closed

[2016-11-27 18:32] kunagpal commented on #770
Hey @larsmeldgaard, thanks for bringing this to our attention. We've added a fix on our end, this will go out in the next Newman release. :smile:

[2016-11-28 06:55] nitinEd commented on #778
Had some issues with PATH
changed to this PATH=/usr/local/bin:$PATH newman -v

[2016-11-28 06:55] #778 closed

[2016-11-28 07:07] kunagpal commented on #778
That's great @nitinEd, have a good one!

[2016-11-28 12:00] ShilAggarwal opened #782 "Send and download response body"
Is there any option similar to Postman's "send and download" response body in newman cli.

Version and environment information:
-->
 1. Newman Version - 3.3.0:
 2. OS details  - Windows 7-x64:
 3. Using Newman via the CLI

<
3. For Postman Cloud / personal information related issues, send an email to: [help@getpostman.com](mailto:help@getpostman.com)

4. Verify that you have checked the documentat

[2016-11-28 12:07] kunagpal commented on #782
Related to #413

[2016-11-28 22:24] nuubis-mso commented on #430
Hi!

I'm sorry but would you mind posting how you got around this issue?  I'm having similar issues - PUT request (i.e. file upload in binary mode) works fine via Postman collection runner, but newman returns 403 Forbidden ("{ code: 403, name: 'Forbidden', detail: 'The request was a legal request, but the server is refusing to respond to it. Unlike a 401 Unauthorized response, authenticating will

[2016-11-28 22:46] gerrymcgovern1 commented on #430
Hi nuubius

The issue for me seemed to be that Interceptor seemed to be setting some cookies that were not available when the tests were run via newman. I created a new test and using the dev tools in Chrome, grabbed the request URL, form data, access token etc and put them manually into my test. It then worked via newman. As you are not using Interceptor this probably is not much help to you.

[2016-11-28 22:59] nuubis-mso commented on #430
Hi!

Thanks for the quick reply.  In Newman, I have the PUT requests in a loop using environment variables to control the looping and setting the values for urls/headers/body for each iteration in the loop.  Within this loop, some PUT request passes w/ no issues and others fail with 403.  This seems to be totally random.  When I manually run the loop within Postman’s collection, all the PUT reques

[2016-11-29 03:09] keithmork opened #785 "Output is confusing in html report when timed out"
(Newman 3.2.0, node 6.9.1, win 10)

I used to use data files and use this to print params in the report:

[code]

Sometimes the tests fail with odd results

![image](https://cloud.githubusercontent.com/assets/5634347/20694641/926f2ef6-b621-11e6-8284-091925f8d5c2.png)

It's due to timeout but **my boss always blames ME for passing the wrong params in the data file**

Yes I can see `ETIMEOUT` and `E

[2016-11-29 03:32] keithmork opened #786 "responseTime and responseBody result in "ReferenceError in test-script" when timed out"
(Newman 3.2.0, node 6.9.1, win 10)

Even if `Tests` contains any of these, the tests will throw `ReferenceError in test-script` when timed out.

[code]

Same is true for `responseTime`

"Thanks" to this, my boss thought I didn't write any assertions...

![image](https://cloud.githubusercontent.com/assets/5634347/20695114/b81fb51e-b624-11e6-9cae-207371608115.png)

For now, I use this to work around

[2016-11-29 07:18] kunagpal commented on #786
Hey @keithmork, welcome to the Newman GitHub issue tracker!

A few points: :smile:

1 `tests` is an object used to specify test assertions. Adding duplicate keys (`WTF!!`, in this case) will effectively **overwrite** previously added tests. So, please use unique values for test names. You'll see the right number of assertions after making this adjustment.

2. `ReferenceError in test-script`s are u

[2016-11-29 07:46] keithmork commented on #786
1. Oops, I meant any of those checks, but thx : )

![image](https://cloud.githubusercontent.com/assets/5634347/20700643/86e36a66-b649-11e6-8548-7be971df9a34.png)

2. 👍

3. Alas, `responseCode.code` doesn't work

![image](https://cloud.githubusercontent.com/assets/5634347/20700799/633a11cc-b64a-11e6-9615-2529b5f89cfa.png)

[2016-11-29 07:52] kunagpal commented on #786
In this case, `--timeout-request` has been set to `10`, which is far too low. Consider removing it altogether, or increasing it to something like `5000`.

[2016-11-29 07:55] kunagpal commented on #785
Hey @keithmork, a value of 10 ms for `--timeout-request` is far too low, please consider removing it altogether, or increasing it to something like `5000`, at least.

[2016-11-29 08:40] kunagpal commented on #734
@x-iron You can use `postman.setNextRequest("list");` in the test script of the `add` request to achieve this. Please see https://www.getpostman.com/docs/workflows for more details.

[2016-11-29 08:41] czardoz commented on #430
@nuubis-mso Can you open a new issue? Your problem seems to be different than @gerrymcgovern1

Also, it would be great if you could tell me:

1. The version and platform (Windows/OSX/Linux) of Postman you use.
2. Your Newman version. (`newman -v`)
3. How exactly are you using file uploads?

[2016-11-29 09:29] keithmork commented on #785
@kunagpal that's just a test to locate the problem.  I used to set 15000 and now I set 60000 in production.

The real problem is, as mentioned above, whenever there's a time out, my boss blames me because no useful info is shown on the html report.

It would be nice to have something to indicate whether a time out has occurred in the html report, as it's the most common exception.

[2016-11-29 09:45] keithmork commented on #786
@kunagpal I intentionally set it to 10ms to reproduce the problem.  In production it's 15000.
This number is not important because sometimes it may take forever to get a response(eg. service is dead)

It's vital for CI and test automation that the report should contain enough info for developers to find the root cause, and for managers to grasp the testing progress, without having specific knowled

[2016-11-29 16:30] nuubis-mso commented on #430
Sure - I’ll open up a new issue.  Thanks for the quick reply.

[2016-11-29 19:13] nuubis-mso opened #788 "PUT request generating 403 error intermittently, but not in Postman"
Thanks for your attention to this issue.

Details are:
<strong>
1. Newman version is 3.3.0, Postman is 4.8.3
2. Ubuntu 14.04LTS, kernel 3.13.0-84, 64 bit
3. Running newman on the command line with Postman collection/global/environment JSON input files
4. Description:
</strong>
Within the Newman test script, I'm trying to upload a group of files to AWS S3 via pre-signed URLs generated by our backen

[2016-11-29 19:15] nuubis-mso commented on #430
New ticket is #788.

[2016-11-30 06:13] czardoz commented on #788
I think you're hitting some sort of a rate limit imposed by Amazon. Can you add a small delay between your requests (say 1 second) and run the collection again?

They probably do this for non-browser requests.

[2016-11-30 06:22] czardoz commented on #788
Additionally, it seems that your collection relies on file uploads at runtime. We recently added support for this, so the documentation is not published yet. You can check it out here though: https://github.com/postmanlabs/postman-docs/blob/8718e1c678dbfc5b37d1b3d96536b1a2887869fd/_posts/06_api_testing_and_collection_runner/2016-07-11-newman_intro.md#file-uploads

[2016-11-30 06:32] czardoz commented on #786
I think, if a request errors out (it could be a timeout, connection error, anything), there should be an indication of that in the HTML report :thumbs-up:

[2016-11-30 06:58] keithmork commented on #725
The root cause is here:
https://github.com/postmanlabs/newman/issues/785

[2016-11-30 08:10] kunagpal commented on #782
@czardoz @shamasis This would involve adding download helpers on a per-request basis.

[2016-11-30 08:11] kunagpal commented on #777
@Freakishmahesh How did this go for you? :thinking:

[2016-11-30 08:13] kunagpal commented on #763
@Freakishmahesh A quick update: With the above pull request, total run duration, total data received, and average response times have been added to the HTML report. Please let us know if there's anything else you had in mind as well :smile:

[2016-11-30 08:20] Freakishmahesh commented on #777
@kunagpal Thank you for words. As you said, cannot skip first/last in a collection. Even if setNextRequest("C"), I cannot see anywhere in the reports that Request B has skipped :(

[2016-11-30 08:32] kunagpal commented on #777
That's odd. How exactly did you use `postman.setNextRequest`? Please check out the following example collection in Newman, and the Postman collection runner:

[code]

[2016-11-30 08:47] Freakishmahesh commented on #777
I didn't see information about skipped requests details in the command prompt summary . What do I expect is to have, requests count and names of skipped requests.
┌─────────────────────────┬──────────┬──────────┐
│                         │ executed │   failed │
├─────────────────────────┼──────────┼──────────┤
│              iterations │        1 │        0 │
├─────────────────────────┼──────────

[2016-11-30 08:49] kunagpal commented on #777
@Freakishmahesh Well, this would be a good addition to Newman, thanks for bringing this up! :+1:

[2016-11-30 08:49] Freakishmahesh commented on #763
@kunagpal
Verified and am still, not getting the messages that I give inside console.log. Ex : if(status_message=="success"){
consle.log("Passed")
}
else{
consle.log("FAIL")
}
If I get the console.log messages printed in ma reports, would be convenient. Isn't it?

[2016-11-30 08:52] kunagpal commented on #763
Yes, we could consider adding a special section for console logs, where applicable.

[2016-11-30 09:55] x-iron commented on #734
Hi @kunagpal, thanks for your info. but in my case:
step 1. list
step 2. add
step 3. list again
if I change to the following steps with work flow feature:
step 1. list
step 2. add then setNextRequest("list")

I think step 1 and step 2 will come into an infinite loop?

[2016-11-30 10:01] kunagpal commented on #734
@x-iron Plainly setting the next request will indeed cause an infinite loop, but `postman.setNextRequest(null);` can be used to break out of the request cycle, based on a condition of your choice. For instance, the test script of the `add` request can have:

[code]

Within the test script of `list`, you could use the following logic:

[code]

[2016-11-30 11:00] Freakishmahesh commented on #763
Yes. Right.! In case of printing list of names that we get in response, we might not be able to achieve with the tests[] thing.
var people=jsonData.students;
for(var i=0;i<=people.length;i++){
            console.log(i+1+"Student name is -->:"+people[i].name);
        }
 Please correct me, if I'm wrong.

[2016-11-30 11:03] kunagpal commented on #763
@Freakishmahesh Yes, that sounds about right. Another possible option is to allow a collapsible section for responseBody, as has been requested in #712

[2016-11-30 13:02] pietervanneste commented on #456
Hi, is there already a solution for this issue? I tried mode: file and src: /path/to/file, but it doesn't work...

[2016-11-30 13:10] kunagpal commented on #456
Hey @pietervanneste, could you share your collection and associated (environment, data, globals) files, without the sensitive details?

[2016-11-30 13:41] miniseb commented on #251
Hello @kunagpal
in the Json reporter, i always have an empty array in the response property. How to enable logging the response body of all requests ?

[2016-11-30 22:53] NoBaloneyTony opened #792 "Newman does not handle encoded url parameter values correctly"
1. Newman Version (can be found via `newman -v`): 3.3.0
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: started using newman recently
 4. Expected behaviour: to duplicate result in Postman api
 5. Command / script used to run Newman: newman -c json_postman

[2016-12-01 01:31] nuubis-mso commented on #788
Yeah, I tried with various delays between each file upload and that
doesn't seem to have any effect.  Also, I saw similar posts with respect
to runtime file upload support mentioned in the link below. I'm using
PUT request, as opposed to POST request mentioned in the link.  As I
mention in the issue #788, the format for the request I'm using is as
follows:

             "request": {

[2016-12-01 04:53] shamasis commented on #416
@hantuzun did the TCP pooling config change fix your issue?

[2016-12-01 04:57] shamasis commented on #786
I have one more point here. Even if things timed out, is it okay to have RefeferenceError? Instead, should the global variables not be set to undefined (or whatever appropriate to indicate timed out)? By that, scripts will not error out and will fail tests properly.

[2016-12-01 07:01] fasatrix commented on #224
Will be very nice to have this feature soon.

[2016-12-01 08:06] pietervanneste commented on #456
Hi @kunagpal, here is an example of my collection: https://www.getpostman.com/collections/464e0ccb2e01e64d52bf
It's a PUT request with a binary body that works successfully in Postman. But if I try to export the collection (v2) from Postman for Newman usage. I get something like this as body:
`"body": {
   "mode": "raw",
   "raw": ""
}`

How can I make it work in Newman? I already tried
`"body": {

[2016-12-01 08:47] kunagpal commented on #456
Hey @pietervanneste, which version of the Postman Client (Chrome, or native) are you on? When exported with `v4.8.3`, the following structure is seen:
[code]

Please try exporting your collection with the latest version and let us know how that works for you. :smile:

[2016-12-01 09:37] czardoz commented on #416
@shamasis Sorry, didn't see your ping.
This is implemented and released. @hantuzun, feel free to re-open this issue if you're still facing it.

[2016-12-01 09:37] #416 closed

[2016-12-01 09:51] pietervanneste commented on #456
Hmm strange, I am on the same version (Chrome native extension v4.8.3) and get this output for exporting to collection v2:
[code]

I tested also on my college's laptop. Same result. For testing I replaced my body with yours. But the upload failed because it expects binary data.

Are you sure that you export the request with a body as 'binary'?

![postman](https://cloud.githubusercontent.com/assets

[2016-12-01 10:01] pietervanneste commented on #456
@kunagpal: Can I do that manually by replacing the body with the correct syntax?

[2016-12-01 10:41] kunagpal commented on #456
@pietervanneste That wouldn't be necessary, as you can supply the path directly as well, like so:
[code]

[2016-12-01 11:30] kunagpal commented on #456
@pietervanneste We're investigating this on our end as well. As a **temporary** workaround, please set `body.mode` to `file`, and `body.file` to `path/filename`. We'll notify you when any changes happen on this.

[2016-12-01 23:36] hkgill commented on #777
+1

[2016-12-02 00:21] ezedeveloper commented on #472
I can't get this to work in a mac:
newman --version
3.3.0

newman -u https://www.getpostman.com/collections/XXXX --ssl-client-cert PATH_TO_CERT --ssl-client-passphrase PASSWORD
and I am getting this:

newman: error: Unrecognized arguments: --ssl-client-cert PATH_TO_CERT --ssl-client-passphrase PASSWORD.

Also in the help these options are not there:
usage: newman [-h] [-c COLLECTION] [-u URL]

[2016-12-02 02:00] kunagpal commented on #472
@ezedeveloper The command used here is in Newman `v2.x` style, so the ssl client certificate options are not provided therein. You would have to use the Newman `v3` command:

[code]

[2016-12-02 02:07] ezedeveloper commented on #472
@kunagpal Awesome, that worked! (I am just starting with this tool)
Thanks for the fast reply.

[2016-12-04 23:48] Vijayabaskar03 opened #796 "Feature Request: Ability to get the values of Environment variables in html-reporter-template-data.json"
It would be great if there is a way get the values used for Environment Variables in the HTML report. This can also be used to pass on external values that are needed only for the sake of reporting.

[2016-12-04 23:51] hkgill commented on #796
+1

[2016-12-05 15:10] tiagomsmagalhaes opened #797 "Doesn't run on node 6.9.1, SSL issue?"
Hello. I have found an issue with running tests with `newman` with node 6.9.1 installed. These tests consisted in getting in a first request to get a Session ID when logging in, and then make the rest of the test requests using that variable.
Then, as tests worked on Postman Runner, I exported to run in `newman` and they passed. After I tried to run in Ubuntu VM where would it run in a Jenkins Job

[2016-12-06 09:46] miry opened #799 "Follow JS/HTML redirects"
Currently Postman support follow redirects only if 3xx status and has header Location. It would great to have option to follow the JS redirects and HTML meta tags redirection.

[2016-12-06 10:07] czardoz commented on #799
@miry Postman or Newman do not execute any Javascript in the response, nor do they try to parse it. As an HTTP client, this is out of scope for Newman as well as Postman :)

[2016-12-06 10:07] #799 closed

[2016-12-07 13:46] kunagpal commented on #796
@hkgill @Vijayabaskar03 This will be available in the next Newman release.

[2016-12-07 14:37] anirupdutta commented on #472
@kunagpal Thanks a lot!

[2016-12-07 23:16] hkgill commented on #796
Thanks @kunagpal

[2016-12-08 03:25] shamasis commented on #799
Agree with @czardoz. @miry - you are supposed to pare the response body yourself in test script and do the needful redirection of you want to.

[2016-12-08 03:34] shamasis commented on #797
Any update on this?

[2016-12-08 04:35] alock commented on #456
@kunagpal any update on the ability to add a file path for binary data in the body?

[2016-12-08 12:23] miry commented on #799
@shamasis thanks for clarification. I use postman for checking 3rd party links pointing to correct domain. The redirect chain is big :( Sometime HTTP redirection, sometime HTML or JS. I think to create post-script with dynamic  Postman requests chain to parse the page for links and try again.

[2016-12-08 17:51] shamasis commented on #799
I understand your pain. Your solution is the right way. Let me know when done. Maybe you could write something about it. 😊

[2016-12-08 21:53] tariqghalib opened #803 "How to pass TLS version in api calls"
<!--
I want to test tls v1.2 calls. Is it possible through newman/postman and what would be the command to do that?

[2016-12-08 23:25] punkosu opened #804 "Upgrade to newman 3.3.0 broke environment variable functionality"
1. Newman Version (can be found via `newman -v`): 3.1.2
 2. OS details (type, version, and architecture): OS-X Sierra
 3. Are you using Newman as a library, or via the CLI?:  I'm using the CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
     Environment Variable in the data.json file should be replaced in the requests of the collection

Steps to

[2016-12-08 23:59] kunagpal commented on #804
Hey @punkosu, welcome to the Newman issue tracker!

I'm unable to reproduce your issue, please verify / do the following:
* As per point 2 in the steps to reproduce the problem, you've mentioned using Newman with a `JSON` data file, which should be in the format:
[code]
If `data.json` is indeed in this format, change your command to `newman run collection.json -d data.json`.

* If however, the `da

[2016-12-09 04:05] shamasis commented on #804
@punkosu could it be that there is some issue with your environment file format? Could you try a simple environment file exported from the latest postman app and see if it works? If it doesn't then we need to dig deeper. If it does, then you'll need to compare and check what's the difference between your environment file and the one exported.

[2016-12-09 04:18] punkosu commented on #804
My data file didn't have surrounding square brackets, after adding those and switching to -d it's working for me. Strange it was working in the old version that way, thanks for the help!

[2016-12-09 04:18] #804 closed

[2016-12-09 06:54] czardoz commented on #803
@tariqghalib Node will take care of negotiating the right TLS version with your server, so you should ideally not have to configure this. If you are facing issues, can you tell us the details? (What is the error, what type of server is it, etc)

[2016-12-10 03:31] simonmbcgdv commented on #744
@czardoz i'm running this script with 10 parallelCollectionRuns on newman 3.3.0 on linux and notice the following behaviour:

1) it's getting noticeably slower over the course of about 1h towards the tail end. I've run out of memory twice and increased the node old memory accordingly. I suspect it may be leaking memory?

2) While running postman scripts using parallelCollectionRuns, we have the ol

[2016-12-10 17:03] shamasis commented on #744
Just to add my two cents - Newman has this behaviour of growing memory usage owing to the amount of details it currently needs to hold on in memory. Down the line, we need to possibly run Newman in a mode where it flushes out results to disk and not store in memory. Until then, parallel or no parallel, long running and repeated requests will have this issue.

[2016-12-12 11:22] abhi-rana opened #807 "Assertion faliure in forloop"
Below test case working in postman but it give error when i am testing using newman

[code]

[2016-12-12 13:38] kunagpal commented on #807
To check if `item.agreeTermsConditions` is a Boolean (but only if it exists), use:
[code]

[2016-12-12 14:34] romadrobishevski opened #808 "NewMan v3. Add an option to enable color output for CI systems like TeamCity and Jenkins"
Once you run Newman in Teamcity
the v3 automatically switches of the color output
and it is not possible to turn this feature on.

Please add such an option.

[2016-12-12 15:21] tiagomsmagalhaes commented on #797
I don't know if it helps, but I tried to test with `node 6.9.2`. I can check if what's the most recent version of node that allows this test to pass

[2016-12-12 15:29] surajrao8 opened #809 "Tiny Validator Cache is not persistent across postman and newman"
**Version and environment information:**
1.  Newman Version:  3.3.0, POSTMAN version(4.9.0), Chrome version (49.0.2623.87)
2.  OS Details : (Ubuntu 16.04, x86 Architecture, 64bit)
3. Are you using Newman as a library, or via the CLI?  : CLI
4.  Did you encounter this recently, or has this bug always been there: Recent Bug
5.  Command / script used to run Newman : newman run test.postman_collection

[2016-12-12 17:52] gkumbhat commented on #231
Is this feature implemented?

[2016-12-12 17:58] kunagpal commented on #231
@gkumbhat Not yet, but we'll update this thread with any updates that happen. :smile:

[2016-12-12 17:58] gkumbhat commented on #231
@kunagpal  Thank you. :)

[2016-12-13 05:11] mahekmerchant opened #811 "Is it possible to add authorization to collection?"
I have a access token, I don't want to add access token to each url under collection,instead I want to  add access token per collection,is it possible in newman?

[2016-12-13 05:15] shamasis commented on #811
Save the token in an environment and refer it in your collection. Then export the collection and environment to use them together in Newman.

[2016-12-13 05:26] mahekmerchant commented on #811
Thanks. One more thing I am already using csv for environment variables, so if I add access token as an variable, where do I have to declare access token variable in collection?

[2016-12-13 08:11] uadev commented on #808
There is a `--no-color` option if newman poorly detects ability to colorize output. But there also should be an option to force color mode e.g. `--color`.

[2016-12-13 11:19] vishgupta92 opened #812 "Issue in using '#' char"
Hi,

i am trying to pass a json object as input params in postman.
ex.
{"task_type":{"name":"Sample_Task_Type_1","color":"#999901","description":"Sample Task Type 1","deleted":false}}

but from # character nothing get inputted.
ex.

{"task_type":{"name":"Sample_Task_Type_1","color":

Please tell me how to pass the string having # char in input object.

[2016-12-14 03:18] Gans79 opened #813 "Unable to create html objects in Newman"
We need to get data from a HTML webpage so extracting the response using the below javascript command which runs fine on Newman, but giving error(reference error)  while running in Newman .
Is there any fix or alternate .

    var responseHTML = document.createElement("html");
    responseHTML.innerHTML = responseBody;
    var responseJSON=xml2Json(responseHTML.querySelector("#txtResponse").value)

[2016-12-14 06:53] shamasis commented on #813
Newman and Postman scripts are not browser environments. As such document and other variables are not available. It's advised to manually manipulate HTML. To ease that, we have a jquery like library called cheerio available.

Read

[2016-12-14 06:53] #813 closed

[2016-12-14 07:06] czardoz commented on #812
@vishgupta92 You need to encode your URL before saving your request, I think. The `#` character is used as an anchor tag, and anything after that is not sent, even by browsers.

[2016-12-14 07:10] czardoz commented on #811
@mahekmerchant If you add the access token to your CSV data, it can be used as described here: https://www.getpostman.com/docs/multiple_instances

Feel free to re-open the issue if you're still having trouble! :smile:

[2016-12-14 07:10] #811 closed

[2016-12-14 07:14] czardoz commented on #809
This is by design. For security reasons, Newman and the native Postman apps isolate scripts. This change is coming to the Chrome app as well very soon!

The correct way of using this is to add the schema in the test script itself. In case you need to pass it from the pre-request script, you should store it in a variable using `postman.setEnvironmentVariable()` and then add it in your test script :

[2016-12-14 07:14] #809 closed

[2016-12-14 17:47] sheluchin commented on #808
It checks if Newman is being executed in a real interactive terminal, and if not, it disables color output. There used to be an option to explicitly enable color output, but as of v3, there is only the option to explicitly disable it, while enabling it is left to the internal check. When using Newman with Jenkins and other similar systems, there is no interactive terminal, so color is never enable

[2016-12-15 05:17] vishgupta92 commented on #812
@czardoz thanks for reply, i also tried with URLEncoding but did'nt get succeeded. After that i sent the JSONObject as formdata not in the url params and it works...

[2016-12-15 10:30] cbarrerah-sogeti opened #818 "Newman behind corporate proxy fails with "socket hang up""
1. Newman Version (can be found via `newman -v`): 3.3.0
 2. OS details (type, version, and architecture): Windows7 Enterprise, 64 Bit Intel Core i7
 3. Are you using Newman as a library, or via the CLI? CLI (through Jenkins and direct bash script)
 3. Did you encounter this recently, or has this bug always been there: Only using newman since 3.3.0
 4. Expected behaviour: Consistent results for the

[2016-12-15 10:51] czardoz commented on #818
@cbarrerah-sogeti That's your proxy dropping the connection from Newman, and there isn't anything we can do about that. You can try adding a "User-Agent" header set to the user agent of some browser, and see if it fools the proxy into letting the connections through :-)

[2016-12-15 11:15] kunagpal commented on #770
@larsmeldgaard This has been fixed in Newman `v3.3.1`, do go ahead and check it out :smile:

[2016-12-15 11:15] #770 closed

[2016-12-15 11:16] kunagpal commented on #796
@hkgill @Vijayabaskar03 This is available in Newman `v3.3.1`, do go ahead and check it out :smile:

[2016-12-15 11:16] #796 closed

[2016-12-15 13:14] czardoz opened #820 "The test fixtures have an expired certificate, which causes the tests to fail."
For example: https://travis-ci.org/postmanlabs/newman/jobs/184220279

[2016-12-15 13:33] stamtesteng opened #821 "Newman cannot handle GET requests with non empty rawModeData"
**Versions used**
Windows 7
Newman 1.1.2
Postman 4.9.0
win / x86-32
Chrome 54.0.2840.99

**Issue**
This seems to be an integration issue between Postman and Newman.

Consider the case that a user in Postman duplicates (or make a Save As to) a POST (or a PUT or any other method that includes a body-raw data) request.
Then user goes to the new request created (the duplicate) and make changes. If use

[2016-12-15 13:37] czardoz commented on #821
Hi @stamtesteng, we will be allowing GET requests to have bodies in Postman soon. There are a lot of use cases (especially when using Elasticsearch) where GET requests need to have bodies.

The correct fix for this is in Postman, where we will enable GET requests to have bodies, and allow them to be removed as well :-)

Thanks for reporting this!

[2016-12-15 15:52] cbarrerah-sogeti commented on #818
Implemented a rotation of User-Agent for the executions with a pre-request script:
var counter = Number(postman.getEnvironmentVariable("userAgentCounter"));
//console.log(counter);
if (counter >= 5) {
    // Let's rotate the User-Agent
    userIndex = Number(postman.getEnvironmentVariable("userAgentIndex"));
    userIndex = (userIndex+1)%4;
    console.log(userIndex);
    postman.setEnvironmentVar

[2016-12-15 16:24] kunagpal commented on #820
Resolved in #823

[2016-12-15 16:24] #820 closed

[2016-12-16 08:44] czardoz opened #825 "HTML reporter templates should be able to access folder information for a request."
1. Newman Version (can be found via `newman -v`): latest
 2. OS details (type, version, and architecture): all
 3. Are you using Newman as a library, or via the CLI? both
 3. Did you encounter this recently, or has this bug always been there: It's a feature request
 4. Expected behaviour: The HTML reporter data should contain information about folders
 5. Command / script used to run Newman:
 6. S

[2016-12-16 08:48] kunagpal commented on #808
@sheluchin, @romadrobishevski, @uadev: The `--color` option has been added in #824, it will be rolled out with the next release.

[2016-12-16 09:03] czardoz commented on #825
For example, instead of just "DigestAuth Request" here, we should also be able to indicate which folder this request is in. The folder information (basically just the name) should be a part of the template data.

![image](https://cloud.githubusercontent.com/assets/3726484/21256773/431e3e92-c39a-11e6-89ba-6e6872339900.png)

[2016-12-16 09:05] kunagpal commented on #825
:+1:

[2016-12-16 09:30] cbarrerah-sogeti commented on #818
More interesting still, the same collection with the same envVars, but run from postman, behaves as expected and can be run multiple times even with tenths of iterations at the same time.

So it seems to be a newman specific issue. Maybe newman is not handling the HTTP_PROXY environment variables correctly?

[2016-12-16 10:16] czardoz commented on #818
@cbarrerah-sogeti Postman uses the APIs provided by the OS to detect the Proxy settings. As a CLI, Newman does not do that, which explains the difference you see :)

[2016-12-16 15:37] sheluchin commented on #808
@kunagpal thank you.

[2016-12-16 17:38] larsmeldgaard commented on #770
Awesome! Kudos to the team.

[2016-12-16 23:51] kunagpal commented on #770
:grin:

[2016-12-17 06:23] shamasis commented on #825
A path like approach is best like it is done in Newman failure table.

[2016-12-20 01:38] kunagpal commented on #825
Done in #826

[2016-12-20 07:22] #807 closed

[2016-12-20 07:23] kunagpal commented on #807
@abhi-rana We've closed this issue on our end, feel free to get back to us for any other thoughts / issues you might be facing :smile:

[2016-12-20 08:29] ShilAggarwal opened #827 "Issue with integrating newman exit codes with jenkins"
Issue with Jenkins integration

 1. Newman Version: 3.3.0
 2. OS details : Windows - 64 bit machine
 3. Are you using Newman as a library, or via the CLI : CLI
 3. Did you encounter this recently, or has this bug always been there: Always been there
 4. Expected behaviour: Should integrate the exit codes with Jenkins seamlessly.
 5. Command / script used to run Newman:
newman run application_colle

[2016-12-20 13:01] kunagpal commented on #827
@ShilAggarwal `--exitCode` is  Newman `v2.x` CLI option and won't work with `newman run ...`, which is in Newman `v3.x` style. The following command would suffice for your use case:

[code]

More details: https://github.com/postmanlabs/newman#command-line-options
Feel free to get back for any other questions you might have :smile:

[2016-12-21 14:27] Sripathi1983 opened #831 "HOw to update the environment variable or global variable with collection results when fired with newman command line"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2016-12-21 14:39] kunagpal commented on #831
@Sripathi1983 There are two parts to handling this:

1. Ensure that environment values are updated to their desired values using `postman.setEnvironmentVariable("var_name", "var_value");`, or `postman.setGlobalVariable` in your collection request test scripts, where applicable.

2. To update the environment / globals file, you can use `--export-environment` / `--export-globals`, like so:
[code]

[2016-12-21 20:09] msaxena1 opened #832 "How to add additional Trusted Certificates"
Running test to target URLs with self-signed certificate authority are failing.
Is there a way to add additional trusted certificates so we can continue testing in development environments that have a certificate signed by self signed certificate authority instead of a trusted CA.
The help option doesn't support any trusted certificates.

 1. Newman Version (can be found via `newman -v`): 3.3.1
 2

[2016-12-21 20:21] msaxena1 commented on #832
My apologies, I missed -k option.

[2016-12-21 20:21] #832 closed

[2016-12-22 05:31] Sripathi1983 opened #833 "Is there any way in Postman pro a collection can be called from other collection"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2016-12-22 09:19] Sripathi1983 commented on #831
Thanks it worked for me

[2016-12-22 14:13] kunagpal commented on #831
@Sripathi1983 That's great! Happy developing :smile:

[2016-12-22 14:13] #831 closed

[2016-12-23 08:30] cbarrerah-sogeti commented on #818
and is there any way to let newman know how to use the proxy?
I had a similar problem with npm not updating or installing anything because of the proxy, but i set up some env vars for http-proxy and https-proxy, and everything became responsive again. Is there any other mechanism for newman that may work or is there no way for newman to work behind a proxy?

Thanks in advance and merry christmas ;

[2016-12-23 14:35] mykhaylo- commented on #821
issue exists in newman 3.3.1 also.

[2016-12-26 06:48] gkumbhat opened #836 "Is there a way to fetch the basic authentication username and passwords from environment"
I have a set of tests which need username and password to access the service. For security reasons I cannot post the credentials directly in the generated test json file. Therefore, I need to fetch these credentials from running terminal environment. Is there a way to fetch them from environment or any work around?

[2016-12-26 06:54] czardoz commented on #818
@cbarrerah-sogeti yes, similar to NPM, you can set the `HTTP_PROXY` and `HTTPS_PROXY` environment variables, and Newman will automatically start using them :)

[2016-12-26 08:10] npadhya opened #837 "Running same Tests against multiple end points and comparing the result"
Feature request | Question

This might come as a Feature request, if it's already present then it might be a "How to" question.

Can we have the option to run the same collection or individual requests to multiple end points (Staging/Dev/Production) and comparing the output response or at least the test result and provide it run summary?

[2016-12-26 08:19] kunagpal commented on #837
@npadhya What you have just described is best accomplished via environments. To do this, you would maintain one collection file, with all your requests in desired order. Three environment files (one each for staging, dev, and production) would also have to be created. By running your collection against each of these environments, a comparison can be obtained. For more details, do check out https:/

[2016-12-26 08:24] npadhya opened #838 "Allow adding custom snippet for tests"
Feature request

Currently, Postman's Test tab have the list of Code snippet that helps the beginner.
Can we have a way to add custom snippets so working with tests and helping team become more easy ?

[2016-12-26 08:29] kunagpal commented on #838
@npadhya The concept of shareable/customizable code snippets sounds intriguing, could you open a feature request at https://github.com/postmanlabs/postman-app-support/issues/new? We'll take a look at your feature request. :smile:

[2016-12-26 08:29] #838 closed

[2016-12-26 08:54] kunagpal commented on #836
Although fetching values directly from the process environment is currently not supported, you can use environment files to isolate potentially sensitive data from the test collection file. More details here: https://www.getpostman.com/docs/environments. Once your environment has been created, you can export it and use it as follows:
[code]
Here, `env.json` is the environment exported from the Pos

[2016-12-26 23:31] npadhya commented on #837
@kunagpal I don't think this will solve my use case, I mean I know about setting environments and using them to do request to the different environment.
My use case is:
1> Hitting same request to 2 different URLs, Say Staging and Dev machine
2> Get the response and compare the JSON object
3> If I am developing my service and making any interface changes which is not published yet. I want to know b

[2016-12-27 05:28] shamasis commented on #837
That's what the scripts are used for.

- request the dev URL and save the response in a global variable
- next request the stage URL and in its test compare the response with previously saved global variable

[2016-12-27 12:32] Sripathi1983 opened #841 "How to Stop NEWMAN when any assertion fails"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2016-12-27 12:35] Sripathi1983 commented on #841
Please let me know any command line option is available so that the postman collection stops getting executed when any in-between collection fails

[2016-12-27 13:06] kunagpal commented on #841
@Sripathi1983 You can use the `--bail` option to stop collection runs on the first failure, like so:
[code]

[2016-12-27 15:44] npadhya commented on #837
Thanks guys for help, couple of follow-up question, though.

1> Is the comparison logic build into Postman app, when I do the 2nd request?
2> Is there a specific name I need to give to my global variable while saving response?
3> I am looking for the entire response body comparison and not a field by field comparison, does the given step still holds true?

Any link to a working example?

[2016-12-27 16:12] shamasis commented on #837
1. There's nothing built-in that can do what you want to do. Since there's wide range of response formats and types, this is a bit hard to build in a generic way.

2. You can use any variable name you wish. I suggest you read https://www.getpostman.com/docs/environments to know more on variables

3. If you are receiving HTML or JSON and you're expecting EXACT equality then a simple string equality

[2016-12-27 16:12] #837 closed

[2016-12-27 16:12] shamasis commented on #837
@kunagpal do you have anything working to share?

[2016-12-27 18:26] atellezr opened #842 "self signed certificate in certificate chain retrieving the collection with the run command"
Hi,

I'm starting to use newman. I'd like to use it, at first phase, for launching tests in the console using a collection that is remotely stored (in our Git server).
The problem I have is that the Git server is accesible vía https with a self-signed certificate, so I get the following message when trying to launch the tests:

[code]

As you can see, I added the --insecure at the end, but I reali

[2016-12-27 18:29] atellezr commented on #842
I forgot to mention that I have tried with the `--ssl-client-cert` parameter with the same result

[2016-12-27 19:50] npadhya commented on #837
@shamasis Thanks, That helped to clear everything related to this ticket.

Awesome work you guys ...

[2016-12-27 22:16] shamasis commented on #837
@npadhya - thank you. I should add that Postman Sandbox has built-in `lodash` library which as a lot of helper functions to find diff in JS objects and arrays. See this stack overflow question - http://stackoverflow.com/questions/31683075/how-to-do-a-deep-comparison-between-2-objects-with-lodash

I created an example collection that has a simple proof-of-concept: https://documenter.getpostman.com/

[2016-12-27 23:06] npadhya commented on #837
Wow, This is a bonus. Thanks...

[2016-12-28 04:57] kunagpal commented on #825
Pending on the `v3.4.0` release.

[2016-12-28 07:39] Freakishmahesh opened #843 "How to replace a cookie value in next corresponding requests?"
Here is a case.
When request A is triggered, we do set few cookie values. (Lets say A,B,C). When the second request is triggered, we set few cookie values with same names, although the cookie values of second request are different. Now, should replace the cookie value of second request, with the first requests value.

I have saved the cookie value as an environment variable and I got the value. No

[2016-12-28 09:22] Sripathi1983 commented on #841
That works for only one collection, suppose two collections are getting executed by two newman commands one after the other and if first one fails then the second collection also should n't get executed as their is a failure in the first collection, is it possible

[2016-12-28 09:25] Sripathi1983 commented on #841
eg- first collection : newman run firstcoll.json --bail
second collection: newman run secondcoll.json --bail

the second collection shouldn't run as first collection there is assertion failure , so that overall result should be a failure

[2016-12-29 05:25] sinaa2000 opened #844 "Folder names for test cases are not shown in html report"
1. Newman Version (can be found via `newman -v`):  3.3.1
 2. OS details (type, version, and architecture):  Win 7 Pro 64 bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Recently after downloading changes made to html reporter
 4. Expected behaviour: Should show folder names but its not
 5. Command / script used

[2016-12-29 05:27] kunagpal commented on #844
@sinaa2000 Folder name support for the HTML report has been added in https://github.com/postmanlabs/newman/pull/826, and will be available in the next Newman release :smile:

[2016-12-29 05:29] sinaa2000 commented on #844
Thanks for your quick response!
So it's not possible in anyways on this 3.3.1 I'm running?

[2016-12-29 05:30] sinaa2000 commented on #844
And if not, when can we expect the new release?

[2016-12-29 05:32] kunagpal commented on #844
The next release can be expected in a week or two.

[2016-12-29 05:33] sinaa2000 commented on #844
Ok, cool, thanks!

[2016-12-29 05:33] #844 closed

[2016-12-29 05:34] kunagpal commented on #844
Duplicate of #825

[2016-12-29 06:56] kunagpal commented on #841
This can be accomplished via the CLI, or via programmatic usage:

**CLI**
[code]

**Programatically**
[code]

[2016-12-29 07:03] Sripathi1983 commented on #841
can you please give complete list flags that is used for newman cli

[2016-12-29 07:41] Hi-Fi opened #845 "newman junit reporter doesn't include test statuses to junit xml"
1. Newman Version (can be found via `newman -v`): 3.3.1
 2. OS details (type, version, and architecture): Windows 7, x64
 3. Are you using Newman as a library, or via the CLI? CLI and as a library
 3. Did you encounter this recently, or has this bug always been there: Don't know
 4. Expected behaviour: junit xml's testcase -element should contain also "status" (at least for failed ones)
 5. Comman

[2016-12-29 10:19] shamasis commented on #750
Closing this.

[2016-12-29 10:19] #750 closed

[2016-12-30 05:33] kunagpal commented on #841
To use Newman programmatically in your Jenkins setup, one of the steps in your test pipeline must include:
[code]

The complete list of flags is here: https://github.com/postmanlabs/newman#command-line-options

[2016-12-30 07:57] kunagpal commented on #825
Released with Newman `v3.4.0`.

[2016-12-30 07:57] #825 closed

[2016-12-30 07:58] kunagpal commented on #808
@romadrobishevski @uadev @sheluchin Newman `v3.4.0` has been released, which includes a `--color` option to force colored output in noTTY environments. Do go ahead and try it out! :smile:

[2016-12-30 07:58] #808 closed

[2016-12-30 07:59] kunagpal commented on #844
@sinaa2000 Newman `v3.4.0` has been released, which includes collection folder name support for the HTML reporter, do go ahead and try it out! :smile:

[2016-12-30 08:28] sinaa2000 commented on #844
Great!
Thanks for the heads up!

[2017-01-02 06:31] kunagpal commented on #841
Closing issue on our end, feel free to reach out for any other suggestions or issues :smile:

[2017-01-02 06:31] #841 closed

[2017-01-02 06:32] kunagpal commented on #827
Closing issue on our end, do let us know if your issue persists. :+1:

[2017-01-02 06:32] #827 closed

[2017-01-02 07:14] cbarrerah-sogeti commented on #818
that's the weird spot, i have set the environment variables HTTP_PROXY and HTTPS_PROXY in the collection run, and newman seems to be ignoring them.

[2017-01-03 06:29] ShilAggarwal opened #850 "Issue with integrating newman reporters with jenkins"
1. Newman Version (can be found via `newman -v`): 3.3.0
 2. OS details (type, version, and architecture): Windows 7- 64 bit machine
 3. Are you using Newman as a library, or via the CLI? :CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour: Newman should generate report for the test collection run
 5. Command / script used to run Newman: newman run te

[2017-01-03 10:52] Sripathi1983 opened #851 "Issue in exporting globals using --export-globals in newman cli"
Hi,

I'm creating few global variables in POSTMAN and saving them as json file in hard disk, when I test collections using newman I'm exporting globals file as well using --export-globals switch to update all the global variables with new values when test collection fired using newman
eg - newman run col1  --export-global global.json
this updates the global file perfectly, as I mentioned earlier t

[2017-01-03 11:50] czardoz commented on #845
@Hi-Fi Can you provide a format of the expected XML?

[2017-01-03 11:52] czardoz commented on #843
@Freakishmahesh Newman automatically handles cookies for requests. In order to replace the cookie value, you will have to replace it from your server with a `Set-Cookie` header.

[2017-01-03 11:52] #843 closed

[2017-01-03 11:53] czardoz commented on #843
@Freakishmahesh Closing the issue for now, do let me know if this does not answer your question :)

[2017-01-03 11:55] czardoz commented on #833
@Sripathi1983 No, there's no way to do that, because Collections are designed to be independant units by themselves.

For advanced use cases, you can use Newman as a library for maximum flexibility, check the [examples](https://github.com/postmanlabs/newman/tree/develop/examples) to get started :)

[2017-01-03 11:55] #833 closed

[2017-01-03 11:57] czardoz commented on #850
@ShilAggarwal Newman exits with a non-zero status code on failures, so if your collection has failed tests or request errors, your Jenkins build will fail. You can use `--suppress-exit-code` option to ensure that Newman always exits with an exit code of zero.

[2017-01-03 11:58] czardoz commented on #812
@vishgupta92 glad you got it working! Closing this issue :)

[2017-01-03 11:58] #812 closed

[2017-01-04 06:36] Hi-Fi commented on #845
Seems that the problem was caused by Bamboo somehow, now it's able to parse the jUnit file correctly. I initially thought it would need the "status" attribute.

[2017-01-04 10:03] shamasis commented on #845
Closing.

[2017-01-04 10:03] #845 closed

[2017-01-04 11:43] romadrobishevski commented on #808
Hey guys. Thanks a lot for this feature. Works perfect with TeamCity.

[2017-01-04 23:03] NathanPrado opened #852 "HTML Reporter Issue from 3.4.0"
This error manifests itself when using the HTML Reporter and an uncaught error is thrown in request test.  Forgive me for not pulling and fixing myself as I have never contributed to a github project before!

 1. Newman Version : **3.4.0**
 2. OS details: **Windows 10 x64**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always be

[2017-01-05 04:04] Sripathi1983 commented on #851
I resolved it

[2017-01-05 04:04] #851 closed

[2017-01-05 04:25] Sripathi1983 opened #853 "How do I make Jenkins build fail when Newman tests fail"
eg- I have 2 collections  one passes and one fails , both are fired by two separate newman commands

newman run col1.json  this contains failure test case
newman run col2.json  this passes

when integrated with jenkins as last executed is col2 and it successfull the build result is success, but it should be failure, do have any idea

FYI, tried with --bail option but it  is not working as expected

[2017-01-05 14:08] kunagpal commented on #850
@ShilAggarwal To add to what @czardoz has said, you'll also have to update the last part of your `newman run ...` command to: `--reporter-json-export ./outputfile.json`. All CLI options begin with one or more `-`, so `reporter-json-export` is invalid.

[2017-01-05 17:44] itsjamie opened #855 "Buffer.from usage in bootcode causes failure on Node 5"
bootcode.js uses Buffer.from, but engines in package.json is set to >= 4.

Supposedly Buffer.from API was added in Node 6.

We got this error in a Jenkins job..

[code]

[2017-01-05 18:04] shamasis commented on #855
Is it happening on Newman load itself or when a particular collection is run?

At a glance, I am unable to say what's causing the issue. However, can you check if you are passing right variables to Buffer.from?

I am delving deep behind my reasoning (I may be wrong, and will re check tomorrow):

Buffer.from should work inside sandbox in node v4 as well. This is because your code is running in a sa

[2017-01-05 19:53] itsjamie commented on #855
Here is the full output

[code]

I updated the job to run with Node 7.3.0 and now it is working as intended. Sorry that I can't be of more help and determine if it's the collection at this time.

[2017-01-05 20:30] shamasis commented on #855
Oh it is definitely a bug in our end. Rushing to fix and release a patch today.

[2017-01-06 00:44] brendo commented on #855
Also hit this one today in our Node V4 environment (AWS Lambda testing).

[2017-01-06 06:53] thirstyfish commented on #855
Yep, same issue here.

[2017-01-06 06:56] shamasis commented on #855
The fix isn't ready. Releasing a patch today.

[2017-01-06 07:17] kunagpal commented on #853
@Sripathi1983 `--bail` will merely stop the collection run when the first error occurs. In order to server your use case better, you would want to change the command to use a single statement, like so:
[code]

[2017-01-06 08:23] DanielLarsenNZ opened #856 "Allow (process) env vars to be used as Environment Variables"
Similar to #647 but instead of passing variables as command line switches, allow `process.env` vars to be used as (Postman) Environment Variables where none already exists. In other words a Postman Environment Variable (`api_url`) would have precedence over `process.env.API_URL`.

This is desirable because there are some environment specific settings (passwords) that I don't want to store in the `

[2017-01-06 10:18] shamasis commented on #856
@DanielLarsenNZ - exposing process.env inside sandbox is something that I've always felt to end up having a greater security concern.

If we do something towards it, the things that go through my mind is allowing global variable overrides via command line param. Thinking aloud.

@a85 thoughts?

[2017-01-06 16:28] #852 closed

[2017-01-06 17:08] kunagpal commented on #852
@NathanPrado This issue has been fixed in Newman `v3.4.1`, do go ahead and check it out!

[2017-01-06 17:08] kunagpal commented on #855
@brendo @thirstyfish @itsjamie This issue has been fixed in Newman `v3.4.1`, do go ahead and check it out!

[2017-01-06 17:08] #855 closed

[2017-01-06 17:42] ericmacfa commented on #853
My (naive) solution doesn't quite fit @Sripathi1983's use case (OP is using the CLI), but I'll post it for reference:

Newman can be [used as a Node.js module](https://www.npmjs.com/package/newman#using-newman-as-a-nodejs-module). If you're using this method, then notice that [`newman.run`](https://www.npmjs.com/package/newman#newmanrunoptions-object--callback-function---run-eventemitter) takes a

[2017-01-06 18:01] shamasis commented on #853
Newman already exits with non zero code on failure. Is that not happening?

[2017-01-06 18:16] itsjamie commented on #855
Thanks for the quick turnaround. Much appreciated!

[2017-01-06 23:51] DanielLarsenNZ commented on #856
Good point about security. Command line switch to enable the feature is a good idea. 👍

[2017-01-07 23:15] derpoho opened #859 "Cannot read noColor of null. CLI Reporter > NodeJs Module"
1. Newman Version (can be found via `newman -v`): > 3.3.1
 2. OS details (type, version, and architecture): MacOs
 3. Are you using Newman as a library, or via the CLI? Library -> NodeJS
 3. Did you encounter this recently, or has this bug always been there: Since 3.4.0
 4. Expected behaviour: Run Collection

This Issue seems to be regarding this commit: https://github.com/postmanlabs/newman/commi

[2017-01-07 23:18] derpoho commented on #859
Further Investigation.

The Error starts here: https://github.com/postmanlabs/newman/blob/acc7ddf6b7be5c191c045392334aeedd35d67eae/lib/reporters/cli/index.js#L52

When i submit an empty object as option for noColor, it works, just because the object is there ;)

[code]

[2017-01-08 00:32] jgroom33 commented on #735
I've noticed this behavior also.  However, from what I've seen this behavior is only exhibited using https, not http.

[2017-01-08 07:37] shamasis commented on #859
@czardoz fyi

[2017-01-08 23:55] thirstyfish commented on #855
Thanks for your great support guys!

[2017-01-09 04:28] Sripathi1983 commented on #853
Thanks but it is resolved in a different way

[2017-01-09 04:28] #853 closed

[2017-01-09 06:48] #859 closed

[2017-01-09 07:01] czardoz commented on #859
@derpoho The fix is out with Newman v3.4.2 :)

[2017-01-09 23:18] allienn commented on #224
I would like this feature as well! Any progress or target date?

I'm having the same problem when running my collection from newman
in one test i try to post with JSON nested objects.
data.json ex:
[
    {
        "name": "john doe",
        "address": [
            {
                "address": "address example",
                "postcode": "123",
                "type": "HOME"
            },

[2017-01-10 05:35] kunagpal commented on #224
@fasatrix @allienn There's no E.T.A on this as of now, but we'll be keeping this thread updated with any progress that occurs :smile:

[2017-01-10 05:59] rapidroamer commented on #392
Hi @anyone-can-test, I think this item still needs to be looked into.. What do you think?

[2017-01-10 17:42] rodrigogs commented on #792
+1

[2017-01-11 15:33] mattia19 opened #865 "POSTMAN Exporting Collection issue when special characters are in the message body"
I've just created a new collection in POSTMAN collecting some POST methods. I've successfully  exported the collection but when i tried to import the new collection the POST method with special characters in the body (i.e *, #) wasn't successfully imported. See in attach the body for further details
![issue-postman](https://cloud.githubusercontent.com/assets/25059451/21854486/32e1c752-d81b-11e6-98

[2017-01-11 16:30] rkmax commented on #664
I think I'm having these encoding issues, my tests are working fine on postman I just exported json and write a variables.json file and all my test are failing

![image](https://cloud.githubusercontent.com/assets/395707/21856760/26c4154e-d7f1-11e6-9f65-179b8646f82b.png)

[2017-01-11 16:47] shamasis commented on #664
That's odd. The variable braces should not get encoded. Maybe your variables are not getting resolved and as such it is going like that to the URL. Can you check whether you are providing the environment with the variable `baseUrl` defined in it?

[2017-01-11 17:54] rkmax commented on #664
I'm passing the envars.json file with the following structure

[code]

I'm running the command in this way

    $ newman run --environment envars.json collection.json

[2017-01-11 20:43] shamasis commented on #664
That environment file structure is not correct. If you export one from app or see an example in Newman repo, you'll see the correct JSON structure.

See: https://github.com/postmanlabs/newman/blob/develop/test/fixtures/run/simple-variables.json

[2017-01-11 20:57] rkmax commented on #664
thanks @shamasis I'll try with that format

[2017-01-12 06:35] sivakumarp1988 opened #866 "ReferenceError on running Login request using newman but passing in postman & python requests"
![postman](https://cloud.githubusercontent.com/assets/25072850/21879638/13a1be92-d8c0-11e6-9cb7-13fba107937f.PNG)
![newman](https://cloud.githubusercontent.com/assets/25072850/21879589/bec6aebe-d8bf-11e6-925a-2e43da4dc53d.PNG)

ReferenceError occurred on running Login request using newman but passing in postman & python requests.

C:\json_ms4>newman run precoll.json -g global.json --insecure
newma

[2017-01-12 06:41] kunagpal commented on #866
@sivakumarp1988 Could you also share the Node.js version and the test script snippet where the `ReferenceError` is occurring?

[2017-01-12 06:50] sivakumarp1988 commented on #866
Node.js version - 7.2.0

Tests:
tests["Login"] = responseCode.code === 200;

[2017-01-12 08:32] miniseb commented on #563
This would be really helpful to be able to add "if condition" in the report template. For example, it would be possible for us to fine tune the generated report :

- colorize in red the failed assertion
- add the response of certain request (we would like to show the response of the api and not html page, so depending on the response content type we would insert the response body)
- at the top of

[2017-01-12 08:38] kunagpal commented on #563
@miniseb Thanks for your suggestions! Would you mind creating a new issue at https://github.com/postmanlabs/newman/issues/new? This will help up track feature requests better :smile:

[2017-01-12 12:39] rkmax commented on #664
@shamasis now is working thanks

[2017-01-12 14:19] ahilsend opened #867 "JUnit report has wrong duration"
1. Newman Version: v3.3.1 (from the docker image)
 2. OS details (type, version, and architecture): newman_alpine33 docker image: node 4.3.0 on Alpine 3.3
 3. CLI
 3. Did you encounter this recently, or has this bug always been there: n/a
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):

The output from the

[2017-01-12 15:34] shamasis commented on #664
Good to hear @rkmax

Just for general info. The original issue still persists and a fix is on its way. We are targeting of turning off any form of decoding on URL and doing a special encoding on Russian and Chinese character ranges.

[2017-01-15 12:53] Eli-Goldberg opened #868 "exporting a collection - sends body in GET requests, if the previously had a body"
1. Newman Version **3.4.2**
 2. OS details: **Ubuntu 16.04**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: **First time**
 4. Expected behaviour: **exporting collections to JSON should not include body in get requests**
 5. Command / script used to run Newman: **newman run <collection> -e <env path> --bail --f

[2017-01-16 01:39] rapidroamer commented on #664
+1 for the #664 fix

[2017-01-16 04:51] shamasis commented on #868
Not keeping the old body saved is data loss we cannot have. We can stop sending the body though. However, there are apis (such as elastic search API) which use get body.

@czardoz - are we sending get body in app? If not then we should stop it in Newman too.

[2017-01-16 04:59] Eli-Goldberg commented on #868
in the app, body is not sent, but also disabled- and there is not indication it has anything in it (no green dot).

[2017-01-16 06:41] sivakumarp1988 commented on #866
When I export the output to json, I could see below error in json.

"failures": [
      {
        "error": {
          "bytesParsed": 309,
          "code": "HPE_INVALID_CONSTANT",
          "name": "Error",
          "message": "Parse Error",
          "stack": "Error: Parse Error\n    at Error (native)\n    at TLSSocket.socketOnData (_http_client.js:359:20)\n    at emitOne (events.js:96:13)\n

[2017-01-16 13:09] shamasis commented on #866
That helped a lot. It could be that for some reason the URL being parsed in newman. The issue is with the request URL and not the tests.

Can you determine what is the ultimate URL that is formed in newman?

@czardoz you might need to take over and deep dive.

[2017-01-16 13:48] czardoz commented on #866
@sivakumarp1988 This error usually occurs when using HTTPS with HTTP endpoints. The "HPE" means "HTTP Parsing Error". By any chance, are you using a proxy server?

[2017-01-16 14:53] shicky4 opened #871 "Run Multiple Collections within folder"
Currently I have a number of Postman collections which we wish to use as a set of smoke tests.  I anticipated I would be able to point at a directory containing postman collections and for all of these to be executed one by one.  However, this is not possible.  My expectation was incorrect and I have worked around the issue by having multiple newman run commands, though this seems like waste/dupli

[2017-01-16 17:40] shamasis commented on #871
This is not something that is there in the roadmap. As such, use Newman programmatically to achieve this.

https://github.com/postmanlabs/newman/blob/develop/examples/run-collections-in-directory.js

[2017-01-17 09:07] sivakumarp1988 commented on #866
URL for Login - https://172.18.21.86/XXX/v1.0.0/master/UIController/services/Users/actions/login/invoke

[2017-01-17 13:15] SMohamedMubarish opened #872 "How to add the console log in Newman reports?"
Hi,
   I have added console.log in my testscripts to print some outputs. I can see the console logs printed in command prompt, but I want the same to be printed in the report generated (now i am using html reports , it would be better if I can be able to print in both html and json report). how could I achieve this. Any quick solution is much appreciated.

Thanks in Advance!

[2017-01-17 13:36] czardoz commented on #872
Hi! We don't put console logs in the reporters because they're usually meant for debugging. The quickest solution for you is to redirect the newman output to a file:
[code]
that will generate a file with the console logs inside.

You can also try using Newman [as a library](https://github.com/postmanlabs/newman#newmanrunevents), and subscribe to the "console" event. You can then generate your own

[2017-01-17 19:01] shamasis commented on #872
Closing this issue. @czardoz - we should document external reporters for Newman v4 or earlier and allow people to customise.

[2017-01-17 19:01] #872 closed

[2017-01-18 09:57] czardoz commented on #865
Hi I've created an issue for you on the correct issue tracker, do add any additional comments over there :)

https://github.com/postmanlabs/postman-app-support/issues/2644

[2017-01-18 09:57] #865 closed

[2017-01-19 08:35] chaitanyasivalanka opened #873 "Drill down on Failed cases is good to have in the HTML reports."
On html reporting which gets generated from new man after a run -

It gives a full list of API's executed and assertions passed or failed
however, it doesnt drill down on the failed cases.. to only have a look at the APi's
do we have any custom reports which gives this kind of reporting to check the failed ones? I had to scroll through the report completely till the end.

Its good to have the dfri

[2017-01-19 21:47] aarongundel opened #875 "Error: self signed certificate in certificate chain"
I'm using the Newman 3.4.1 node library on mac OS.  I'm attempting to check an intranet site that uses a certificate signed by our local (corporate) CA.  This works fine through the postman client, but it doesn't work through the library.  I see [Error: self signed certificate in certificate chain] code: 'SELF_SIGNED_CERT_IN_CHAIN' in the summary.

I know how to get around this issue -- if I use t

[2017-01-19 22:10] shamasis commented on #875
Can you answer the following:
1. What Postman App are you using (Chrome extension or native apps) and which version?

2. Is SSL verification turned off in your Postman App settings?

3. What OS are you on?

Ideally, both Postman and Newman should behave the same with self signed server certificates. However chrome app might behave a bit differently since it maintains its own certificate store. Kno

[2017-01-19 22:28] aarongundel commented on #875
I'm using....

Postman for Mac
Version 4.9.3
OS X 16.3.0 / x64

Yeah, it was turned off.  Once I turned it on, it started behaving the same way as the library.  (throwing the SELF-SIGNED error).

I'm guessing I haven't imported it properly; but I'm not sure where I went wrong, as it's under System and trusted for everything.  Thanks for the response!

[2017-01-20 17:59] atellezr commented on #842
Hi again,

I've investigated a while on this and I've seen what and where to put in order to be able to not reject the self signed certificates in the collection's URL:

In the file `lib/util.js`, inside the method `fetchJson`, I've added the following line:
`process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";`
([http://stackoverflow.com/questions/10888610/ignore-invalid-self-signed-ssl-certificate-in

[2017-01-23 08:01] pgrzego opened #876 "Headers not sent when running newman inside a node script"
1. Newman Version (can be found via `newman -v`): 3.4.2
 2. OS details (type, version, and architecture): Win 10 64bit
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: recently (I've just started using newman)
 4. Expected behaviour: Headers set with `header` property should be sent with the request
 5. Command /

[2017-01-23 08:06] pgrzego commented on #876
Argh. I've put the header object outside of the request object. To be removed.

[2017-01-23 08:06] #876 closed

[2017-01-23 09:16] sivakumarp1988 commented on #866
no proxy is used

[2017-01-26 13:01] jaimeMerino opened #881 "output not set to 1 on failed test"
1. Newman Version (can be found via `newman -v`):

3.4.2 the latest on newman_alpine33 docker image.

 2. Are you using Newman as a library, or via the CLI?

CLI on a docker run

 3. Expected behaviour:
When running a collection, if one or more test failed the container output must be 1.

Using -x flag forces a 0 return.

  #  failure           detail

 1.  AssertionFailure  Status code is 200

[2017-01-26 14:35] elssar commented on #881
Hi @jaimeMerino, I'm a bit confused. Are you using the `-x` flag? If so, then that is expected behaviour.

Prior to Newman v3, the `-x` would return an exit code 1 if a test failed, but the behaviour has changed in v3.

[2017-01-26 14:52] jaimeMerino commented on #881
Hi @elssar,
no, i'm not using the -x flag.

this is a portion from a deployment jenkins pipeline bash.

[code]

this not generates any exit, and with -x flag always exit 0 (and return an ok of test passed).

there's a simple way of doing this?

[2017-01-26 15:09] elssar commented on #881
Hey @jaimeMerino, I could not reproduce this.

I can two collections using the latest alpine image, one that fails and another that passes, and on all occasions, I got the expected exit code. Attaching screen shots.

![newman-exit-code-test](https://cloud.githubusercontent.com/assets/1042301/22336157/4270144c-e407-11e6-94b5-55860eb6e5a9.png)
![newman-exit-code-test-with-eval](https://cloud.githubu

[2017-01-26 15:32] jaimeMerino commented on #881
lol.
after all it's a bash script error and a "set -e" before.

thanks

[2017-01-26 15:32] #881 closed

[2017-01-27 10:40] sivakumarp1988 commented on #866
any update on this issue?

[2017-01-27 15:27] jhenaoz opened #883 "Exit status 0 even with failing test"
Actually if a test fail it should exit with status code -1 or diferent to 0.
When i run CI with travis or Jenkins if the result of npm test 0 the operation execute successfuly, even if there are test failing in the postman collection.

 1. Newman Version: 3.4.2;
 2. Linux, travis:
 3. Newman library
 3. recently
 4. Expected behaviour: exit with status code -1 when test fail
 5. Command / script u

[2017-01-27 16:11] czardoz commented on #883
@jhenaoz, when used as a library, Newman does not exit at all, since most users who use it as a library need the flexibility of handling the error themselves.

If you use the CLI directly, Newman will exit with a non-zero code on errors. You can either do that, or do it in your script by calling `process.exit()` :)

[2017-01-27 16:11] #883 closed

[2017-01-30 03:16] dmnlk opened #885 ""TypeError: Cannot read property '0' of undefined" when test fail in jenkins"
1. Newman Version (can be found via `newman -v`):
newman -v
3.4.2
 2. OS details (type, version, and architecture):
CentOS 6.8 and newman_alpine33 docker image
 3. Are you using Newman as a library, or via the CLI?
CLI
 3. Did you encounter this recently, or has this bug always been there:
when
 4. Expected behaviour:

 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary

[2017-01-30 08:38] kunagpal commented on #885
@dmnlk This appears to be a `noTTY` conflict issue, could you try adding `export TERM=xterm` before the `newman` command runs in your Jenkins environment?

[2017-01-30 08:53] dmnlk commented on #885
@kunagpal
i tried this , but get same error

`sudo docker run -e TERM=xterm --volume=/jenkins/workspace/:/var/newman -t newman run /var/newman/collection/fail.postman_collection.json --environment=/var/newman/environment/dev.postman_environment.json`

[2017-01-30 08:56] kunagpal commented on #885
@dmnlk There shouldn't be a `=` between `--environment` and `/var/newman/environment/dev.postman_environment.json`, the command should be:
[code]

[2017-01-30 08:59] dmnlk commented on #885
@kunagpal
ok, thanks.
but i got same error  still now
![image](https://cloud.githubusercontent.com/assets/909198/22417109/d4b9b8f6-e715-11e6-982a-56c7b61b8628.png)

[2017-01-31 20:59] tariqghalib opened #891 "[Feature] - Ability to run collection from a single dump file"
**Feature Definition:**
Currently we do not have the ability to run a collection from a single dump file. The single dump file is created by exporting all tests, environments into one file from postman through (Settings --> Data --> Export data --> Download)

**Version and environment information:**
-->
 1. Newman Version (can be found via `newman -v`): 3.1.1
 2. OS details (type, version, and arc

[2017-01-31 22:51] tariqghalib opened #892 "[Bug] - Newman cannot handle 302 redirects properly"
**Description:**
During a sign in to a web app to retrieve the authentication Code, there are few redirects involved and newman fails to preserve all query parameters during the redirects, while the postman chrome app can handle that properly.

**Version and environment information:**
-->
 1. Newman Version (can be found via `newman -v`): 3.1.1
 2. OS details (type, version, and architecture): Win

[2017-02-01 10:13] malaubay opened #893 "Customize HTML report template in Command line call for both "template-default.hbs" and "aggregations.hbs""
If the html report template is separated into 2 ".hbs" files, is it possible to customize both the "template-default.hbs" and "aggregations.hbs", and define the templates used in command line call (e.g. --reporter-html-template )?

[2017-02-01 10:20] kunagpal commented on #893
@malaubay Customization is currently limited to the main template only, but we could think about adding something like `--reporter-html-aggregation` to override the aggregation partial.

[2017-02-02 16:36] DanielStoica85 opened #894 "Reference error - response code is not defined"
So I was trying to run some of my collections for the first time in newman. I will mention from the start that these collections work fine in the Collection Runner. But when using Newman, I get the error from the title, for absolutely every request I make, in every collection.

I asked about this on the #help channel and someone suggested that it's a Newman bug.

Is there anything I can do about t

[2017-02-02 16:40] czardoz commented on #894
You're using a self signed certificate, so you need to run Newman with the `-k` option. Do let me know if that doesn't solve your issue.

[2017-02-03 08:20] DanielStoica85 commented on #894
You are right, @czardoz, thank you for the suggestion, works fine now!

[2017-02-03 08:22] czardoz commented on #894
:cake:

[2017-02-03 08:22] #894 closed

[2017-02-03 21:02] aaleks opened #895 "options.iterationData add support for argument as an object type in newman.run"
It would be great to have the possibility to pass the object for options.iterationData in newman.run(options: object , callback: function) => run: EventEmitter

For options.collection for instance it is possible to specify JSON object not only the path.

This feature would enable some JSON manipulating and have the same way of passing data when used along with options.collection.

The goal is to h

[2017-02-04 22:41] hmaich opened #897 "Newman is not sending SSL cert on API calls"
I'm using Newman CLI v 3.4.3 to run a postman collection.
My service requires a SSL cert so I'm using --ssl-client-cert cert.pfx --ssl-client-passphrase Password.
The problem is that, apparently the cert is not been sent to the service and the requests are been rejected with 401 No Client Certificate.
I tried to use certs with both .pfx and .pem without success.
I also tried to use the -insecure (

[2017-02-05 02:52] hmaich commented on #897
Adding to this...
I just installed the native Postman and tried to use the certificate, in which case the same issue happened. So using the chrome version of Postman, all is good, native version as well as Newman do not work. Any thoughts?

[2017-02-05 04:22] hmaich commented on #897
Another update...
I finally managed to work around this issue. Basically I had to convert the pfx into a pem WITH a Key file. Removing the key and using the pfx with the password didn't work.

Hope this helps others :)

[2017-02-05 20:27] #897 closed

[2017-02-07 22:47] perrefe commented on #818
Hi, I'm getting the same situation but I'm not using a corporate proxy. In my case, an haproxy is forwarding requests to the endpoint.

Through haproxy, some newman requests fail because of a "socket hang up at request". Doing the same but requesting direct to the endpoint's ip:port, tests are passing.

[2017-02-08 07:20] czardoz commented on #818
@perrefe Probably an issue with your HAProxy configuration then?

[2017-02-08 13:19] perrefe commented on #818
Probably not, because the real client application is requesting through the same haproxy and works well.

[2017-02-08 13:27] czardoz commented on #818
@perrefe Hmm, can you open a new issue for this with more details? I doubt it is a Newman issue because you mentioned that it works fine when you directly call your endpoint (bypassing HAProxy)

[2017-02-08 14:25] cbarrerah-sogeti commented on #818
@perrefe if you open a new issue for this, please add the link to this thread as i will follow it care.

@czardoz i think what @perrefe said that the real client app is requesting through the same proxy and works well, but when the newman run is passed through the proxy fails, while going directly bypassing the proxy, it works again.

By this description i assume that the problem is in the way tha

[2017-02-08 15:32] czardoz commented on #818
@cbarrerah-sogeti Actually, @perrefe's issue is different from yours, because HAProxy is a _reverse_ proxy, i.e, when it's being used, Newman does not need to be specifically configured for it.

In your case, it's a _forward_ proxy configuration issue. I'm re-opening this, since you're still facing a problem.

[2017-02-08 16:23] perrefe opened #902 "Socket Hang up when requests are reverse-proxied with HA Proxy"
Using SSL HAProxy frontend between newman and application server causes intermitently socket hang up errors.

[code]

[code]

[code]

Newman command:

[code]

app.postman_collection

[code]

globals globals.postman_globals

[code]

Env.postman_environment

[code]

HA Proxy config

[code]

Scenarios:

* variables appHost=app.mycompany.cl and appPort=80, works fine
* variables appHost=10.0.0.98 and

[2017-02-09 09:41] kunagpal commented on #375
**Update** For those stumbling upon this thread, please note that the above-mentioned functions work correctly in newman, but on Node v6 and above. @srbangre

[code]

[2017-02-09 15:04] Sidrock28 opened #904 "When unicode is enabled runner result summary is truncated"
Newman v3.4.2
OS: Mac
CLI: Terminal
Script: newman run Collection.postman_collection.json -e EnvVariables.postman_environment.json -d UserVariables.csv -k --insecure --color -r cli

When there is a failed assertion the result summary is truncated. Workaround is to disable unicode.

![newman error](https://cloud.githubusercontent.com/assets/6657673/22788722/b8aba994-eeae-11e6-9195-bdb4e7e6e1d7.png)

[2017-02-10 19:17] laxmanrapolu opened #907 "Powershell script exiting with 0 even some of the tests are failing in collection"
1. Newman Version (can be found via `newman -v`): 3.4.3
 2. OS details (type, version, and architecture): Windows 2008 R2
 3. Are you using Newman as a library, or via the CLI? : CLI
 3. Did you encounter this recently, or has this bug always been there: New to Newman
 4. Expected behaviour: Shoud exit with -1.
 5. Command / script used to run Newman: - newman run https://www.getpostman.com/collec

[2017-02-10 20:27] shamasis commented on #907
@kunagpal can you try out a failing collection in powershell?

[2017-02-12 17:13] rodrigogs commented on #626
Sorry to post in an old issue, but this is still happening very often in 3.4.3 :(

[2017-02-12 17:35] shamasis commented on #626
@kunagpal can you verify and reopen if needed?

[2017-02-12 18:18] rodrigogs commented on #626
It's kinda hard to verify. The problem happens from time to time when I change my Postman tests and export them a JSON that I use to run tests in my application.
Although all tests are running perfectly in Postman, some(just some) of them fail in newman due to URL variables are not being parsed in some cases.

Ex.: `info: GET /api/v1/location/%7B%7Blocation_id%7D%7D 500 21.920 ms - 228`

Again, th

[2017-02-13 15:24] kunagpal commented on #907
@laxmanrapolu How are you checking the error code? With a failing collection on my end, `$global:LastExitCode` and `$?`, both provide `1`.

[2017-02-13 16:07] kunagpal commented on #895
@aaleks Thanks for the feature request, we'll take a closer look at this and update the thread with time.

[2017-02-13 20:19] laxmanrapolu commented on #907
Thanks Guys. I think it is problem with Octopus Deploy. I thought Octopus would automatically check for this exist code and fail the deployment, but somehow it is not happening. So I am manually checking for ($? -eq True) and failing the deployment(Seems to be $global:LastExitCode is not working on octopus). I have depended on below hack for all these days.

$json = (Get-Content "C:\newman\outputf

[2017-02-13 20:33] shamasis commented on #907
It's good to hear that your problem is solved. Do you think that something needs to be done with Newman CLI to handle it better?

[2017-02-13 20:33] #907 closed

[2017-02-13 20:41] laxmanrapolu commented on #907
I have one :) . I am only running tests in specific folder, but report contains information about all tests in collection. Somehow I felt generating the report of only running tests (in this case only one folder tests) would be helpful and will become easy for us to debug and see.

[2017-02-13 21:52] sergiorykov opened #910 "Integration with thirdparty reporters from command line, e.g. teamcity"
1. Newman Version (can be found via `newman -v`): **3.4.3**
 2. OS details (type, version, and architecture): **Windows 10**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: **I can use custom reporters from CLI**
 5. Command / script used to run Newman: newman ... **-r=cli,teamci

[2017-02-13 22:16] kunagpal commented on #907
@laxmanrapolu Good point, I see that the HTML and JSON reporters will have to be update to respect filtering by `--folder`.

[2017-02-13 22:20] kunagpal opened #911 "Respect folder filtering in reporter output"
Discovered by @laxmanrapolu in https://github.com/postmanlabs/newman/issues/907#issuecomment-279515547

When specified, the `folder` option should also filter away irrelevant folders from reporter output. Currently, it appears that only the JSON reporter needs to be changed.

[2017-02-14 00:06] kunagpal commented on #910
@sergiorykov Thanks for reporting this, #912  should serve as a starting point. :smile:

[2017-02-14 10:49] nitinEd opened #913 "Newman didn't change data in Environment variable file."
Newman version : 3.4.3
OS: MacOS 10.10

I have written some script in Pre-request Script of a POST API.

var id = postman.getEnvironmentVariable("i");
id++;
postman.setEnvironmentVariable("i", id);

whenver I run this API in postman, above env variable's value has been changed which is ok but when i hit this api using newman , env variable didn't change its value in file.

Do i need any additional

[2017-02-14 10:50] kunagpal commented on #913
@nitinEd Could you provide your Newman version as well?

[2017-02-14 10:52] nitinEd commented on #913
@kunagpal
 newman verison : 3.4.3

[2017-02-14 10:57] czardoz commented on #913
@nitinEd Can you share the complete command you are using to run newman?

[2017-02-14 10:58] nitinEd commented on #913
newman run /Users/nitinkumar/Desktop/API/V2-Edcast.postman_collection.json -r html,cli -e /Users/nitinkumar/Desktop/API/QA.postman_environment.json

[2017-02-14 11:08] kunagpal commented on #913
@nitinEd You'll have to use `--export-environment`, like so:
[code]

This will ensure that your environment is updated after the run has completed.

[2017-02-14 11:15] nitinEd commented on #913
It worked. Thanks @kunagpal

[2017-02-14 11:16] #913 closed

[2017-02-14 11:59] #910 closed

[2017-02-14 14:21] kunagpal commented on #904
@Sidrock28 With Newman v3.4.3 on MacOSX, I'm unable to reproduce this issue. Does this happen consistently for you? If possible, share your newman run files (sans the sensitive details), and we'll take a closer look at this.

[2017-02-14 15:46] Sidrock28 commented on #904
@kunagpal Run file as in my collection?

[2017-02-14 17:02] kunagpal commented on #904
@Sidrock28 Yes, the collection, environment, and data files.

[2017-02-15 21:54] jburdeos opened #915 "ECONNREFUSED"
1. Newman Version (can be found via `newman -v`): 3.1.2
 2. OS details (type, version, and architecture): Windows 67 64-Bit
 3. Are you using Newman as a library, or via the CLI? library i think, im using newman in cmd
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour: test would run
 5. Command / script used to run Newman: newman run
 6. Sample collect

[2017-02-16 09:41] czardoz commented on #915
Hi @jburdeos

In order to run Newman with a proxy, you need to set the environment variables before using newman. If you're on Windows,
[code]

If you use any authorization method in Postman, make sure the checkbox "Save helper data with request" is checked when you save the collection. (Update the URL after saving).

If you're using Postman with the Interceptor (and run tests after logging into y

[2017-02-16 14:38] jburdeos commented on #915
hi @czardoz

I did what you said. I set HTTP_PROXY and HTTPS_PROXY using the setx command and I still get the ECONNREFUSED error. Yes I checked the link from my last post but I wasn't able to resolve the issue. Then another project came in and I wasn't able to spend time on this issue until now. that's why that post got closed.

im not using any authorization in my Postman tests. the Authorization

[2017-02-16 18:00] bteng22 commented on #867
Took a stab at resolving this issue in PR #917. Seemed to be a small change in the JunitReporter when getting the execution responseTime. Any feedback is more than welcomed 👍

[2017-02-16 19:36] a-b commented on #276
Do we have any progress on tags?

Maybe it's faster and easier to implement filtering with regex on package level?

`newman run ... --include '.*\[safe\]'`

this will run tests ending with [safe] inline tag in all folders, like `Verify feature [safe]`

`newman run ... --exclude '.*\[dev\]'`

this will run all tests excluding ending with [dev]

Ideally I'd love to be able to provide multiple tags l

[2017-02-17 15:04] hipparchus2000 opened #918 "Add support for providing custom cookie jar"
1. Newman Version =   3.4.3
 2. OS details (type, version, and architecture):  =   Windows 10 x64.
 3. Are you using Newman as a library, or via the CLI?   =  CLI
 3. Did you encounter this recently, or has this bug always been there:   probably always there
 4. Expected behaviour:  =  work as Postman does
 5. Command / script used to run Newman:   =
newman run ".\dirname\dirname\PostmanFiles\Proj

[2017-02-20 07:56] X-Benedict commented on #792
+1

[2017-02-20 10:35] shamasis commented on #792
This should be resolved in latest Newman and Postman app combination.

[2017-02-21 09:02] jnyborg commented on #885
@dmnlk Not sure if this is applicable to you, but I got the exact same error and fixed it by testing against http instead of https.

[2017-02-21 11:12] softandbyte commented on #528
newman 3.4.3
disabled env var and disabled form-data in post is send .
postman collection can be found here :
https://www.getpostman.com/collections/6aefac540911714c89c5
env can be found here : (image because i cannot upload json format.)
![image](https://cloud.githubusercontent.com/assets/495673/23162569/fde170c8-f82e-11e6-9bb1-4aa337a47715.png)

[2017-02-21 11:39] kiranwilson opened #922 "Is there any way to access cookie values in Newman?"
In our API's we are using Cookies to store authentication tokens. I am able to run the tests in postman successfully using the cookie values, but the same once are failing in Newman. Is there any way to get these cookie values in Newman?

[2017-02-21 18:48] jbnok commented on #873
If there is a way to increase the emphasis on this issue please consider this an escalation as my org is looking for this functionality as well.

[2017-02-21 18:55] jbnok opened #923 "Need Folder Level Highlighting in the HTML report for Newman"
**_Version and environment information:_**

 1. Newman Version (can be found via `newman -v`): **3.4.3**
 2. OS details (type, version, and architecture): **Red Hat Enterprise Linux Server 7.2 (Maipo) 3.10.0-327.el7.x86_64**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: **Presumably always been there**
 4. Exp

[2017-02-22 09:07] wheleph opened #924 "Support generation of non-aggregated JUnit reports"
1. Newman Version (can be found via `newman -v`): 3.4.2
 2. Are you using Newman as a library, or via the CLI? CLI

Historically there are 2 types of JUnit XML reports:
1. "Normal" report ([schema](https://maven.apache.org/surefire/maven-surefire-plugin/xsd/surefire-test-report.xsd)). Example:
[code]
2. "Aggregated" report, which looks like this:
[code]
Newman does support "aggregated" reports but

[2017-02-22 09:41] czardoz commented on #924
@wheleph Yes, this is best achieved by writing a [custom reporter](https://github.com/postmanlabs/newman#creating-and-using-custom-reporters). In this case, you can also refer to the [existing JUnit reporter](https://github.com/postmanlabs/newman/blob/dc7344dc1a0aee94c99d762bfa1203cc7aaaf210/lib/reporters/junit/index.js) and tweak it a little to ensure that it doesn't do aggregations.

I doubt we'

[2017-02-22 09:41] #924 closed

[2017-02-22 21:57] r0zar opened #925 "Global X-Auth-Token?"
Is there a way from CLI to supply a X-Auth-Token to use for requests?

Thanks!

[2017-02-23 06:19] kunagpal commented on #925
Although there is no way to specify global tokens via the CLI, you can add the header by clicking on `Headers` below the request url bar in Postman. The value of this header can be obtained via an environment variable. For instance:

collection.json
[code]

environment.json
[code]

You can run this as usual, using the `-e` flag for the environment file.

[2017-02-23 06:29] kunagpal commented on #922
@kiranwilson We're going to need some more details on this. Could you share your Newman, Postman Client and node versions, and the collection (and other associated files) used? Feel free to remove any sensitive details. :smile:

[2017-02-23 12:01] bsingh727 commented on #692
hey guys m getting same error when m try to run my collection json with environment.
 1.  SyntaxError :  Unexpected end of input at prerequest-script can you help me.
Adv Thanks

[2017-02-23 12:10] kunagpal commented on #692
@bsingh727 It appears that your pre-request script contains mismatched brackets (`[, {, (`). Could you share the pre-request script code?

[2017-02-23 12:34] cesarsousa commented on #367
how to force newman recognize postman variable? ex. my URL uses variable like {{ur}}/blablabla. when i run the tests using newman the test brokes...
how to solve this issue?

[2017-02-23 16:08] r0zar commented on #925
Okay, thanks for that.

I'm trying to set up Newman tests run via jenkins for acceptance testing, so as a requirement I need a new auth token for each run of the suite.

I may end up running a find and replace on the newman collection if that my best option.

[2017-02-24 06:14] kunagpal commented on #925
In that case, you can use `postman.setNextRequest` to keep switching back and forth between the auth token request and the other requests.You can read more about conditional workflows here: http://blog.getpostman.com/2016/03/23/conditional-workflows-in-postman/

[2017-02-24 06:20] kunagpal commented on #367
@cesarsousa Let's discuss this on a separate thread, could you create a separate issue with more details here: https://github.com/postmanlabs/newman/issues/new? :smile:

[2017-02-24 11:17] kunagpal commented on #850
@ShilAggarwal Does this issue persist for you?

[2017-02-24 11:30] cesarsousa commented on #367
Kunagpal thanks for reply, the answer  to my question was use the argument '-e' on my command:

newman run myCollections.json -e myEnvironment.json

[2017-02-24 17:08] hwroblewski commented on #764
@czardoz I'm with @goldsteindavid on this one. There is a corresponding feature in Postman, the environment variable. Those aren't only in files, I can set them transiently. Even if there weren't a corresponding feature, there is no reason why newman couldn't have additional functionality.

[2017-02-25 01:19] drishticode opened #929 "Newman does not recognize environment variables set in collection test scripts"
1. Newman Version (can be found via `newman -v`): 3.4.3
 2. OS details (type, version, and architecture): Linux, OEL7, x86_64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Started using newman recently
 4. Expected behaviour: Environment variables, set/created dynamically in test scripts via postman.setEnvironment

[2017-02-27 09:58] kunagpal commented on #929
@drishticode I'm unable to reproduce this with the provided information, please see https://github.com/postmanlabs/newman/blob/develop/test/integration/request-chaining-test.postman_collection.json for a working example.

[2017-02-27 11:12] tiagomsmagalhaes commented on #797
@shamasis @kunagpal @czardoz  I'm bumping this to say that as of today (27/02/2017) this error still happens.
I have updated newman to 3.4.3 and tested with node versions 6.3.1, 6.9.2, 6.10.0 and 7.6.0

[2017-02-27 11:19] czardoz commented on #797
Thanks @tiagomsmagalhaes

@kunagpal Can you go through this once? It's probably some SSL configuration we're missing. Best way to root cause the problem is to directly use `github.com/postmanlabs/postman-request` with Node v6.9

[2017-02-27 11:28] tiagomsmagalhaes commented on #797
@czardoz @kunagpal I traced down more the versions and the most recent node version that works is 6.6.0.

6.7.0 is the first version that does not work

[2017-02-27 11:51] jdiaz4517 opened #932 "Problem using Globals variables"
Hello

I have a few environments (that for us represent different scenarios) which we are trying to run for the same collection using newman. In these environments we have some variables which could have different values. So our idea was to define different Global files, where each file will have the different combinations we want to test. We can then using newman pass these globals files to our r

[2017-02-28 06:42] shamasis commented on #932
Javier - can we first get any possible simple errors out of our way?

- is the file format of your environment and global a working? (Test by running one sample in Newman repository and if it works, compare databstructure with your file)

- the above bash script has *.json as collection file name instead of ${filename} and I'm not sure how it's working. Can you run a single item from your file lis

[2017-02-28 08:16] czardoz commented on #932
I just tried doing this same thing,

My collection is this (basically, a single POST request that uses the variables `{{provider}}` & `{{pointOfSale}}` in the request body:
[code]

The environment is:
[code]

And my globals file contains:
[code]

This worked perfectly for me, the response contained the correct variable values:
[code]

@jdiaz4517 Would you mind sharing a small example collection, e

[2017-02-28 13:44] jdiaz4517 commented on #932
Hi

Thanks a lot for your prompt response. I changed the logic to use directly on my .js files the globals variables instead of having env variables based on these globals variables.

That approach is working perfect and it good enough for what I need now but I would for sure like to understand why it wasn't working with the previous setup as I can see you have a working code in your post so I wil

[2017-02-28 22:28] drishticode commented on #929
Thanks @kunagpal. It worked. Looks like the api under test was not correctly returning the values and that resulted in variables values to be undefined. Thanks for looking into it and my bad for not debugging deep enough.

[2017-02-28 22:28] #929 closed

[2017-03-01 23:37] chetanhonnavile commented on #158
I was looking for a similar kind of thing from newman.

how can i print the response body on failure and success ?

[2017-03-03 16:36] jbnok opened #935 "Running 100000 iterations of a single POST call seems to break the reporter"
**_Version and environment information:_**

 1. Newman Version (can be found via `newman -v`): _3.4.3_
 2. OS details (type, version, and architecture): _RHEL Linux_
 3. Are you using Newman as a library, or via the CLI? _CLI_
 3. Did you encounter this recently, or has this bug always been there: _Recently_
 4. Expected behaviour: _I should get a test report like I did when I did this with 10000_

[2017-03-06 08:17] czardoz commented on #935
Hmm, this is because the output report has too much of data.
This can only be solved by creating a streaming JSON reporter, using something like https://www.npmjs.com/package/stream-json

[2017-03-06 13:00] jbnok commented on #935
This is something anyone that's going to performance test an API is going to try... This should be supported out of the box (especially when we're not  using this programatically... which is a requirement for the configuration you're suggesting).

This should and must be supported out of the box.

[2017-03-06 13:05] czardoz commented on #935
@jbnok, the current reporters are not designed for load testing scenarios, but I can see why it will be useful : thumbs-up:

[2017-03-06 14:17] czardoz commented on #932
Glad it's working for you now! I'm closing this issue, because I'm not able to reproduce it, but if you come across this again, please do re-open it. Thanks!

[2017-03-06 14:17] #932 closed

[2017-03-06 14:23] czardoz commented on #925
@r0zar

Another thing you can try, is creating a globals file before running Newman, and passing that file as a command line argument.

e.g (in a bash script)
[code]

[2017-03-06 14:23] #925 closed

[2017-03-06 14:25] czardoz commented on #915
@jburdeos Yes, it seems that you're using a dynamic proxy, which is something Newman does not understand.

Also, could you share a screenshot of your entire log message?

[2017-03-06 15:42] jburdeos commented on #915
![newman_err2b](https://cloud.githubusercontent.com/assets/21338721/23616955/07d82c08-0251-11e7-8682-ff792107e8f5.png)
![newman_err2a](https://cloud.githubusercontent.com/assets/21338721/23616953/07d7a422-0251-11e7-8c66-73f7f98d77bc.png)
![newman_err1](https://cloud.githubusercontent.com/assets/21338721/23616954/07d7c6fa-0251-11e7-820b-bd1b36f7e0b2.png)

attached are the screenshots. the first two

[2017-03-07 15:02] jbnok opened #941 "Running 200000 Instances of a single POST call causes JS exception"
**_Version and environment information:_**
 1. Newman Version (can be found via `newman -v`): _3.4.3_
 2. OS details (type, version, and architecture): _RHEL - Red Hat Enterprise Linux_
 3. Are you using Newman as a library, or via the CLI? _CLI_
 3. Did you encounter this recently, or has this bug always been there: _Presumably always there. Ran into this recently_
 4. Expected behaviour: _There

[2017-03-07 15:04] jbnok commented on #941
Before I get the "newman isn't designed for load testing" reply I would just like to make it clear that that is well known from another issue being raised. However I will state again that this is a design oversight that should be addressed. Anyone testing load/scalability/performance of their APIs will need this functionality.

[2017-03-07 15:31] czardoz commented on #941
@jbnok Thanks for reporting this, I agree, it's a separate issue (the other one #935 is specific to reporters, whereas this is not).

[2017-03-07 16:43] Trisha1212 commented on #421
I am facing same issue

[2017-03-07 21:52] gaieges commented on #856
You could always utilize only prefixed environment variables: ie `NEWMAN_API_URL` would be populated in the `api_url` var.  Less ideal but equally as useful would be command line switches to add individual variables to a newman run: ie `-i api_url=http://google.com`.

Not sure if this alleviates your security concern (could you elaborate a little @shamasis?)

My use case, and the reason I got exci

[2017-03-08 00:08] scenage opened #942 "Environment variables not substituting"
Version/App Information:
-->
 1. Newman Version: v 3.5.0
 2. OS details: Windows 10
 3. Are you using Newman as a library, or via the CLI? CLI
 4. Did you encounter this recently, or has this bug always been there: Recently may have always been there.
 5. Expected behaviour: Parameters / variable substituted.
 6. Console logs
newman

SuperDiary - Build Verification Tests

□ Attachments - BVT
└ Obt

[2017-03-08 00:10] scenage commented on #942
This works in Postman via Collection Runner

[2017-03-08 01:12] davidschwab commented on #893
I too would like to see full control over the template(s), although my first preference would be to just have a single template. Is there a way to consolidate <template>.hbs and aggregations.hbs into one?

[2017-03-08 07:03] shamasis commented on #856
The prefix idea is great! It does not alleviate security issues. My question still remains - will your use case be fulfilled if there was a command line argument to set individual global variables?

That's much straightforward approach IMHO. And more "on the face" solution with visibility as to what is being passed to Newman.

[2017-03-08 07:53] kunagpal commented on #942
@scenage The collection and environment urls must also include an `apiKey` query param, whose value should be your secret api key. You can manage your api key(s) here: https://app.getpostman.com/dashboard/integrations

[2017-03-08 11:59] kunagpal commented on #856
Related to #836

[2017-03-08 13:18] gaieges commented on #856
@shamasis yes - as long as those command line switches for global args would allow me to modify the environment parameters as well (ie anything in the `{{var}}` templates).

Could you elaborate more on your security concerns?  Would like to help think through workarounds but not sure what your concern is regarding that.

[2017-03-08 18:36] shamasis commented on #856
1. People can run a lot of collections even from third party sources. Environment variables contain sensitive information and without a whitelist it is risky.

2. Environment variables can also contain large amount of data. That can end up slowing down the script execution sandbox since the environment variables will require to be serialised and sent over IPC and deserialised back again.

3. Colle

[2017-03-08 18:53] gaieges commented on #856
Correct me if I'm wrong, but I believe adding the prefix to the env vars would solve all of those.

[2017-03-08 19:35] shamasis commented on #856
Like I mentioned - yes - the prefix solves point 1 partly and not the rest. More than that, CLI argument path totally negates all points.

[2017-03-08 19:40] gaieges commented on #856
I think it solves all of them.  Either way no need to debate that, CLI options would work perfectly for me!

[2017-03-08 19:48] shamasis commented on #856
Glad to hear that. We will schedule something for this or wait to see if we get a PR.

[2017-03-08 23:54] crnattress opened #944 "Https calls return empty results"
1. 3.5.0
 2. Windows Server 2012 R2
 3. CLI
 3. Recently
 4. Response includes failures and success
 5. newman run https://www.getpostman.com/collections/3084cc848ff93a48b5d3
 6. None
 7. Screenshots (if applicable):
![image](https://cloud.githubusercontent.com/assets/10875104/23729500/67d9e464-041f-11e7-9e59-5cd52ec8aaad.png)

Steps to reproduce the problem:

1. Run the following command in the c

[2017-03-08 23:59] scenage commented on #942
Hi @kunagpal, how do you add the api-key to the newman command? I've done it via postman but not through newman as there is no argument option for it. Are you expecting people to not use the URL when a apikey is involved and just export them from postman?

[2017-03-09 00:28] scenage commented on #942
I just made a new collection that has the API-key inside the single request in the collection and I'm still not getting access to the environment variables. The reason I am doing this is I'm trying to tie this to a Continuous Integration job and I need this to work so I can pull the latest code cuts. If there is another way, please let me know.

newman run https://www.getpostman.com/collections/36

[2017-03-09 01:15] scenage commented on #942
So I worked out how to do it.
I did it through powershell and used the Invoke-RestMethod and outputted the information to a file which I piped back into the newman request.

[2017-03-09 03:14] dudeofawesome opened #945 "Add option for newman CLI to import shell env vars"
1. Newman Version 3.4.0
 2. OS details (macOS, 10.11, x86_64):
 3. Newman via CLI?
 3. Feature request
 4. Expected behaviour: Newman CLI should have an option to import shell environment variables.

[2017-03-09 05:24] shamasis commented on #945
Will your use case be fixed if we have a CLI option to provide global variable overrides?

For example
newman run collection.json --variables "var1=value1&var2=value2"

[2017-03-09 05:25] shamasis commented on #945
Using above you can pass environment variables like "var1=$my_env_var"

[2017-03-09 05:36] shamasis commented on #942
Great that you found a workaround. That's a genius idea by the way. 😊

To answer your previous question, refer to API.getpostman.com documentation.

You can provide API key as a URL query parameter https://www.getpostman.com/collections/36c8147ae0280dad10d1?apikey=<<your-key-here>>

Closing the issue for now.

[2017-03-09 05:36] #942 closed

[2017-03-09 05:41] shamasis commented on #944
Just checked your collection URL. It seems that the collection in URL contains no postman requests and as such newman is working fine.

It could be that you shared the URL and then updated your collection. The public URL sharing feature requires you to explicitly go and update your collection in the URL (using the same share dialog box) after you make any changes.

If you want to keep your collect

[2017-03-09 05:43] shamasis commented on #944
For reference the content of your URL is

[code]

Notice how the folders and requests arrays are empty.

[2017-03-09 05:48] dudeofawesome commented on #945
Yeah, I suppose that would work pretty well.

The reason this came up is because I was using newman as part of my CI testing. I wanted to be able to have it use some sensitive auth keys, so I'd like to be able to have those set inside of my CI env, instead of in a file committed to my git repo.

The way I ended up making it work for now is with a short JS script to read in env vars and output a Po

[2017-03-09 06:12] dudeofawesome commented on #945
When you pass variables in using the `--variables` flag, do they end up being globals or environment? I don't see any mention of that flag when I run `newman run --help`

[2017-03-09 06:35] scenage opened #946 "Syncing is not happening properly"
Version and environment information:

 1. Newman Version (can be found via `newman -v`): 3.50
 2. OS details (type, version, and architecture): Windows 10 Pro, 64 bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Always been there
 4. Expected behaviour: Syncing occurs immediately after a force sync or the clickin

[2017-03-09 09:18] jproceeam opened #949 "Newman does not execute all tests"
Only the first three tests are executed. I would expect them all to be run.

 1. Newman Version (can be found via `newman -v`):
3.5.0
 2. OS details (type, version, and architecture):
Windows Server 2012 R2
 3. Are you using Newman as a library, or via the CLI?
CLI
 3. Did you encounter this recently, or has this bug always been there:
I have recently started using this software so I can't determi

[2017-03-09 09:35] jproceeam commented on #949
Hmm, this does not seem to reproduce the issue. Let me try to cook up something that will trigger this bug.

[2017-03-09 10:03] Jack85811 opened #950 "Newman template.hbs aggregation problem"
1. Newman Version: 3.5.0
 2. OS details: windows 7 and Openshift Enterprise 3.
 3. Using Newman as a library.
 3. Recent Encounter with this  newman version
 4. Expected behaviour: My template testaggregation should be shown as usual

Hello,

firstoff, i'am a big fan of newman and i love using your library!
I've been using a custom template *.hbs file, which serves my needs.  This one runs perfect

[2017-03-09 10:14] kunagpal commented on #950
@Jack85811 Could you share your custom template?

[2017-03-09 10:19] Jack85811 commented on #950
As is said, i will try to uplaod some images as soon as i can, somehow github says that it can process them:/.

This is the part where it starts to bug:

`{{#each aggregations}}
{{#if folder}}
    <div  id="collapse-folder-{{@index}}" role="tablist" aria-multiselectable="true" >
        <div role="tab" id="folderHead-{{@index}}">
            <div><a data-toggle="collapse" data-parent="#accordion"

[2017-03-09 11:54] cbarrerah-sogeti commented on #818
Hi, i have news regarding this issue.

I tried configurind the environment variables for Http_proxy/https_proxy not in the environment variables exported from postman, but in the environment variables configured in the jenkins setup itself.

And now it works!

What is troubling is that the environment variables that i'm explicitly sending through the environment.json file exported from Postman is

[2017-03-09 11:57] #818 closed

[2017-03-09 13:23] kunagpal commented on #893
@davidschwab @malaubay #951 will merge the aggregation partial back into the base template, which will allow containing all customizations to one file 😄

[2017-03-09 14:01] kunagpal commented on #904
@Sidrock28 This might shed some more context: https://github.com/gotwarlost/istanbul/issues/620.

@czardoz @shamasis This appears to be a cli-table2 bug.

[2017-03-09 14:30] kunagpal commented on #950
@Jack85811 Could you make the following changes to your custom template and let me know if that works for you?

1. Append the following block at the end of your report:
[code]

2. Replace the snippet you had provided earlier with the following:
[code]

[2017-03-09 14:57] kunagpal commented on #911
The JSON reporter is meant to be a holistic representation of the run summary, and will not be changed as such.

[2017-03-09 14:57] #911 closed

[2017-03-09 14:58] kunagpal commented on #867
Released with Newman `v3.5.0`

[2017-03-09 14:58] #867 closed

[2017-03-09 15:26] kunagpal commented on #895
@aaleks #952

[2017-03-09 16:41] Jack85811 commented on #950
It doesn't end up perfectly as i wanted, but you fixed the main issue!
Best Regards

jack

[2017-03-09 20:07] #950 closed

[2017-03-09 22:20] scenage commented on #946
You can close this. There was a publishing issue yesterday and it has since been resolved. As a result, I tried a few tests today and it seems to be synced up.
Thanks!

[2017-03-09 22:31] scenage commented on #946
There was a publishing issue yesterday that was partly the cause for the sync issue. It's now resolved.
What I am finding is that anything coming from https://**api.getpostman.com/**collections/1697279-16dd32f8-9c71-0797-d59f-1c6ac847ab46 is in sync HOWEVER, anything coming from https://**www.getpostman.com**/collections/5f488027a160c1ef24c8 is out of sync.

[2017-03-09 22:40] davidschwab commented on #893
@kunagpal awesome, thanks!

[2017-03-10 05:52] shamasis commented on #946
Well. Can you go to that collection's share dialog box and then go to the tab with the link and click "update link"?

The www.getpostman/… links are manually kept updated - can you confirm that even that is it happening?

[2017-03-10 16:05] eugene405236 commented on #735
Hi All,
I am also seeing this error, could you please guide me. I am using.
$newman -v
3.3.0

I am using the command:
$ newman run <collection-name>.json -d <datafile.json> -g <globals>.json

As part of assertion I had only status check = 200 and then pre-script has printing the data values thats passes.

[2017-03-13 07:16] kunagpal commented on #949
@jproceeam Thanks for reporting, we've managed to reproduce this issue. As a temporary workaround, could you use:
[code]
to test absence of any given property? (`_` is the in-built Lodash object, documented at https://lodash.com/docs/3.10.1).

Also, consider checking out the last example on https://www.getpostman.com/docs/testing_examples for an alternative way to validate responses. (The `schema`

[2017-03-13 09:12] kunagpal commented on #797
@tiagomsmagalhaes This could be an issue with the TLS/SSL cipher suite used by the server you're trying to make requests to. Could you update to Newman v3.5.0, and try running as specified below and see if that works for you?
[code]
**run.js**
[code]
(The complete list of cipher options can be checked here: https://nodejs.org/docs/v6.6.0/api/tls.html#tls_modifying_the_default_tls_cipher_suite)

@c

[2017-03-13 11:25] malaubay commented on #893
@kunagpal Thanks!

[2017-03-13 13:34] fredsmithjr opened #953 "Documentation incorrect README.md line 145"
1. Newman Version (can be found via `newman -v`): 3.5.0
 2. OS details (type, version, and architecture): Windows
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:  Recently
 4. Expected behaviour: --color outputs color
 5. Command / script used to run Newman:
**Attempted 1**: newman.cmd -k -e ..\Env\TST_VPay.postman_

[2017-03-13 14:52] aaleks commented on #895
great news  :+1:

[2017-03-14 09:32] czardoz commented on #953
@fredsmithjr You're using the older newman options, which have been deprecated since Newman v3.0.

Check this table for how to migrate to the newer options: https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md#cli-migration-table

[2017-03-14 09:32] #953 closed

[2017-03-14 11:18] kunagpal commented on #893
Released with Newman `v3.5.1`.

[2017-03-14 11:18] #893 closed

[2017-03-14 11:18] kunagpal commented on #895
Released with Newman `v3.5.1`.

[2017-03-14 11:18] #895 closed

[2017-03-14 14:37] kunagpal commented on #949
@jproceeam This issue has been fixed in Newman `v3.5.1`, do go ahead and check it out! :smile:

[2017-03-14 14:37] #949 closed

[2017-03-14 14:38] jproceeam commented on #949
Nice! Thank you very much!

[2017-03-14 18:16] vreinholde commented on #398
Has this issue been resolved?

[2017-03-14 20:32] shamasis commented on #398
The original issue has been resolved along with a number of other issues that were mentioned in the thread. Nevertheless, due to platform restrictions in Chrome App variant, not everything can be made 100% same.

Newman and all native apps should behave uniformly.

PS: @vreinholde if you're facing similar issue, I suggest you open a new issue with as much details as you can.

[2017-03-15 14:46] tariqghalib commented on #892
@kunagpal This was recently fixed for postman native apps but with newman this is still an issue. Any update on this issue?

[2017-03-15 22:38] jgroom33 commented on #735
@eugene405236 the error you are seeing does not appear to be related to this issue.  This issue is related to response code=204

[2017-03-16 03:35] msadasivam commented on #647
CI tools typically provide variables that can be customised when needed. Accepting command line vars will let such vars be used with newman. Updating json files is typically a code change and is not the best way to handle URLs, credentials that tend to change often.

[2017-03-16 08:04] czardoz commented on #735
@jgroom33 Apologies, I missed your previous comment. I am pretty sure that HTTPS vs HTTP should not cause this issue, unless the server is misbehaving. Could you open a separate issue for that? Would be doubly great if you could share a minimal collection to reproduce the issue :)

[2017-03-20 07:31] czardoz commented on #946
@scenage The collection links (http://www.getpostman.com/collections/...) are not updated in real time. Also, the links are public, so if you want to ensure maximal security, I would encourage you to use `api.getpostman.com` for fetching collections.

We have documentation about how to go about this: https://github.com/postmanlabs/newman#using-newman-with-the-postman-cloud-api

I'm marking this is

[2017-03-20 07:31] #946 closed

[2017-03-20 14:49] tiagomsmagalhaes commented on #797
Hello @kunagpal. I was on vacation so I couldn't check it sooner. Your suggestion worked, although I had to add the `reporters: 'cli'` to the object because I couldn't see any feedback.

But how can I fit this to work with running with the CLI as this will be run from CI Tool?

[2017-03-20 21:09] kevin-smets commented on #421
No issues here:

[code]

Installed node through homebrew, managing node version by using `n` so there's no sudo required for global installs, maybe that could be something?

[2017-03-21 11:22] czardoz commented on #797
@tiagomsmagalhaes We'll make sure this works seamlessly, now that we know what the problem is.

[2017-03-21 11:24] czardoz commented on #797
@tiagomsmagalhaes As a short term solution, you can run this:
[code]

[2017-03-22 04:10] xiaobeiying opened #962 "Can not open The Postman Console"
I tried command `cmd + alt + c (ctrl + alt + c)` on Mac(10.12.3) and Win 7, and both of Postman version is 4.10.3.
Like [https://www.getpostman.com/docs/errors](url), the end "For the Native" said, I cannot find `Show Postman Console`.

Do you have this problem and help!!!

[2017-03-22 05:41] vegetableman commented on #962
@xiaobeiying Since, you are not able to see the menu `Show Postman Console`. You are probably using the chrome app which doesn't support the `Postman Console` yet. You need to switch to the native app (To download it, you could visit: https://www.getpostman.com/apps).

Also, please note: app-related issues should be posted on https://github.com/postmanlabs/postman-app-support/issues  ^_^

[2017-03-22 06:13] xiaobeiying commented on #962
@vegetableman It seems like that. Thanks a lot. -_-
Cloesd

[2017-03-22 06:13] #962 closed

[2017-03-22 15:49] gaieges commented on #856
Any timeline around a resolution for this @shamasis ?  I see some other issues that indicate users are looking for a similar feature.

[2017-03-22 16:07] shikhartanwar commented on #413
Is this being targeted for the next release? As a newman user I feel that this is a very important feature and blocks of lot of API operations that are centered around files or storage.

[2017-03-22 23:35] brimchan opened #963 "side question: Is this a reference to Seinfeld?"
... just curious ...

[2017-03-23 10:40] jdiaz4517 opened #964 "Newman Error messages"
Hello

While running a collection I get sometimes errors which are not as descriptive as they are if you run same collection directly from postman.

For example running a collection using newman, I get this error:
 _- 1⠄ TypeError in test-script_

However if I run the exactly same collection from Postman, the error looks like:
_2- There was an error in evaluating the test script:  TypeError: Canno

[2017-03-24 04:57] PriyaKumaar opened #966 "Error in Running collection using multiple variables from external CSV File"
Hi

I have done a collection and read the data from external CSV file but the tests failed while asserting the response

Below the Script which i have used

tests["Body contains address"] = responseBody.has(data.address);

Is there any other test script to check that the data has been read from the external file only?

Thanks in advance..!

[2017-03-24 14:20] waubau opened #967 "For some requests summary object does not have some values when data is returned"
I am using newman 3.5.1 in nodejs in Windows and Ubuntu. For one of my collection I do not receive any values in `summary.run.executions[0].response`  Оnly basic info like `item.name` is received. If i run it via devtool in chrome all the values are there. For big collections all the values are also received.

It looks like for some reason the summary object is returned before it is really ready i

[2017-03-24 14:33] AcidZeppelin commented on #735
i have just hit the same problem. but in my case i am using a shell file which has the command
sudo node newmanScript.js
but when i run sudo node newmanScript.js directly from CLI it works fine.
still trying to figure out why it gives error from a shell file.

[2017-03-24 14:38] waubau commented on #967
I have uploaded the whole json report where you can see that response object is empty
[https://github.com/waubau/koa2_test/blob/master/newman-run-report-2017-03-24-14-29-52-507-0.json](link)

[2017-03-24 15:53] waubau commented on #967
that was due to bad certificate. `insecure: true` option solved the problem/ You may want to add some error message. Killed the whole day.

[2017-03-24 15:53] #967 closed

[2017-03-27 13:00] smaudet commented on #276
Postman is quite the horrid mess as is...I was hoping for a quick win with newman but it appears it is equally hobbled...

I think it would be just faster to write a small tool that rescues tests from postman's grip and runs them independently.

[2017-03-27 17:25] anugupta007 commented on #734
@czardoz any update on reusing the test code?

[2017-03-28 11:58] urosjarc opened #969 "Newman report path."
I could not find in documentation for newman module how can i set export path for html when I run it incode. It will export to `./newman` dir, how can I set that it will export to `./build/newman`?

[code]

[2017-03-30 06:22] srpramod commented on #944
Https calls returns empty results in windows Postman version 4.10.5, but same when we hit from Chrome app - postman version 4.10.5, response is displayed for the Https call.

[2017-03-30 07:29] srpramod opened #970 "_.indexBy is not a Function error occurs while running collections with environments"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture): Windows 7 64 bit
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour: Need to install specific version
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sen

[2017-03-30 07:35] kunagpal commented on #970
@srpramod While you can install any desired version using `npm i newman@<version>`, like `npm i newman@3.2.0`, could you also share why this is needed? 😄

[2017-03-30 07:36] czardoz commented on #970
You can use `npm install -g newman@<version>`.

E.g: `npm install -g newman@3.2.0`

[2017-03-30 08:49] srpramod commented on #970
Need of the older version is the newer version 3.5.2, unable to run the collection suite which every time i am getting the error message as _.indexBy is not a function. please look into the issue which i have mentioned:
Steps to reproduce the problem:

1. I have updated the newer version of newman 3.5.2
2. While running suite in newman command line, every time it is showing as _.indexBy is not a f

[2017-03-30 09:10] srpramod commented on #970
Thanks you 'czardoz' & 'kunagpal'  for the information where i can go for the previous versions and install.

[2017-03-30 10:36] srpramod commented on #970
Update on the above question:
when i try to run the collection as : "newman run collection.json -e enviro.json " and enter.
in the cmd prompt it is displaying as _.indexBy is not a function. but no where i haven't use the  function in collection.

[2017-03-30 10:40] kunagpal commented on #970
@srpramod Could you also provide the following details?
* The node version (Found using `node -v` on the command prompt)
* The stack trace of the error (A series of lines below the actual error message itself).

[2017-03-30 12:43] srpramod commented on #970
Thank you kunagpal.
Install Node version is v6.5.0. Please let me know do i need to upgrade node version, if there is any dependency with the latest newman version 3.5.2.
Sorry i couldnt get on stack trace of the error, please give me some time i will recheck and provide the details.
And i have posted my comments on https client call, "Https calls return empty results #944". Please have a look.

[2017-03-30 13:34] kunagpal commented on #970
**EDIT:**
@srpramod I've update the issue title for better clarity.
@czardoz This could be root cause: https://github.com/postmanlabs/postman-collection/blob/cd7f4beb2be451bbc8df506d6abc037d8b61224c/lib/collection/variable-list.js#L264

[2017-03-30 13:40] kunagpal commented on #969
You can use the following snippet to export HTML reports to a custom location:
[code]

[2017-03-30 13:40] #969 closed

[2017-03-30 13:47] SMohamedMubarish opened #972 "Post method not running in Newman"
Hi
    I tried running a post method in newman but the response i got is for get method. It works well and good in Postman. Please check and let me as soon as possible

[2017-03-30 16:22] JessiAlvarez commented on #367
Hello, i´m very new using postman and newman. This is my problem:
tests["Status code is 500"] = responseCode.code.toString() === "500";
tests["Body matches string"] = responseBody.has("User error!")
These tests passes in Postman but fails in Newman

Newman version 3.5.2
No specific content type
HTTP request

[2017-03-31 04:45] AcidZeppelin commented on #367
can you share the newman part of the script or command?

[2017-03-31 05:40] SMohamedMubarish commented on #972
Any Update on this.. Or Am I wrong ?.. I am using newman version 3.5.2.. please update me on the same as this is a show stopper for our progress

[2017-03-31 05:50] shamasis commented on #972
Newman doesn't seem to have a bug such as you mentioned. You can try using POST method on https://postman-echo.com/ to see if other POST endpoints are working.

It could be server specific. What error are you receiving from server and can you send us a scaled down collection that relocates this issue (remove sensitive info.)

[2017-03-31 10:18] kunagpal commented on #966
@PriyaKumaar Could you add the following snippet to your script and share the exact response?

[code]