[2017-11-07 08:09] nikhileshshah commented on #1239
Hello,

I tried on on postman by added console.log for for expkeys and data and I am getting response as expected whereas I dont know how to log in Newman.

Thank You

[2017-11-07 15:07] vikt0rs commented on #222
please, suggest, if this feature still available?

[2017-11-08 19:01] kunagpal commented on #1264
I believe you're confusing operating system environment variables with Newman environment variables. The proxy documentation requires `HTTP_PROXY` being set in the operating system environment variables, which can be done as shown below:
[code]

[2017-11-08 20:25] gaieges opened #1280 "Feature request: Add option to "Open.." a file to newman native app instead of just importing it"
Feature request: be able to edit a collection file on disk on the fly, instead of having to import and export the collection as desired.

The case that I run into that is an annoyance from time to time is during editing of a collection file in git that gets used downstream in my CI pipeline.  In its current form, I'm required to import the existing collection from git, and then export it to the fi

[2017-11-08 20:26] gaieges commented on #1280
If this should go in another repo please let me know, wasn't sure which this applied to

[2017-11-08 21:38] kunagpal commented on #1280
@gaieges This issue tracker is for Newman, the CLI companion to Postman. Your issue is related to the Postman app, please create an issue for the same here: https://github.com/postmanlabs/postman-app-support/issues/new

Thanks! 😄

[2017-11-08 21:38] #1280 closed

[2017-11-08 21:39] gaieges commented on #1280
Figured that might be the case, sorry, and thank you!

[2017-11-09 03:51] wallyuva commented on #885
What worked for me was not using `-t` in the `docker run` command. My exact syntax was
[code]

[2017-11-09 11:15] ek-akqa commented on #764
Would it be possible to override or add an environment variable in the same fashion on the fly?
Say, my environment1 has "foo": "bar1" and my my environment2 has "foo": "bar2"
Now I want to newman run -e environment1.json --env-var foo=bar3

[2017-11-09 16:52] Sam-Levene commented on #1264
Sadly, that didn't do it. Same errors as shown above; only this time, I followed your suggestion and typed ```set HTTP_PROXY=[MYPROXY] && newman run C:\Users\sam.levene\projects\Postman_API_Testing\Public_API_Tests.postman_collection.json```

[2017-11-13 11:20] LeonardoGonzales commented on #1241
I am also having the same issue.

[2017-11-13 14:52] kunagpal commented on #1241
@LeonardoGonzales Which version of Newman are you on? You can find this with `newman -v`.

[2017-11-13 15:07] LeonardoGonzales commented on #1241
Hello @kunagpal,
Thank you for the quick feedback.
I am using version 3.8.3 as well. I installed it using npm (npm install -g newman)

[2017-11-13 18:39] JDunn3 commented on #712
I'd just like to add my +1 to this- it would be nice if the stock reporters had the same options for verbosity without having to write custom ones.

[2017-11-13 21:39] JulienAtanasyan commented on #1162
Hi @shamasis ,

been trying with those options `newman run --bail --timeout-request 1800000 --timeout-script 1800000 `

When my request is above 4 - 5 seconds, it does that.

Still no luck with latest version.

Thanks for help.

[2017-11-13 21:43] cladjules commented on #1162
Hi @shamasis ,

been trying with those options newman run --bail --timeout-request 1800000 --timeout-script 1800000

When my request is above 4 - 5 seconds, it does that.

Still no luck with latest version.

Thanks for help.

[2017-11-14 03:26] DavidIMcIntosh commented on #856
Could we perhaps at least have a small collection of standard environment variables available through some mechanism?  I am thinking, for example, in the Windows environment, it would be soooo useful to have the "COMPUTERNAME", "USERNAME", "USERDOMAIN" environment variables available.  Think of the current Windows authentication headers: you need the three variables just mentioned for the authenti

[2017-11-14 06:36] shamasis commented on #1162
I have no idea how to reproduce this. The queer part is that it’s happening with a subset of requests and not all. Had it been all requests , we would have had a number if possible causes to resolve.

Is there any way you could share that URL and the collection? Or anything else that you think is okay to share? If not here, then on help@getpostman.com

I’m out of ideas for now. @czardoz anything?

[2017-11-14 08:54] benhowes commented on #1258
@gaieges we built tavern for exactly this reason (plus a few others). https://taverntesting.github.io/

[2017-11-14 14:15] #1239 closed

[2017-11-14 14:53] gaieges commented on #1258
@benhowes - thanks for sharing that .. looks pretty great and addresses some of the issues that we've had with the json aspect of newman/postman.

Just for some additional color here, we're having a tricky time getting developers to engage in using postman even after building some framework'ing that integrates it into our CI.  My assumption is that since it's not native to a text editor (especiall

[2017-11-14 15:17] czardoz commented on #1162
Well, it's certainly not a problem with the timeout, because the error is a connection reset.

@cladjules, do you perhaps have a firewall as well? Firewalls sometimes reset connections if there's no data exchange for some time.

Also, the `no_proxy='*'` may not work. How about unsetting the `HTTP_PROXY` and `HTTPS_PROXY` variables?

[2017-11-15 16:27] cladjules commented on #1162
Hi @czardoz thanks for your response.
There is no firewall or proxy at all.

I will give you an example, need to figure out, what.

[2017-11-15 16:39] cladjules commented on #1162
I actually used debug=http and got this
[code]

[2017-11-15 16:43] czardoz commented on #1162
Yes, that's your server closing the connection. Does it have a connection timeout set?

[2017-11-15 16:50] cladjules commented on #1162
Yes 5 minutes... Postman is fine when doing those requests.

[2017-11-16 16:45] Sam-Levene opened #1284 "Setting global variables from file"
I'd like to know if it is possible to pass global vars from a file now that the `-d` flag is no longer an option.

I can see the `-g` flag but using that doesn't insert my global variables, which are stored in JSON format and instead resolves to:
` {{domain}}/[MYURL]`

where `{{domain}}` should equate to `"domain": "[MYDOMAIN]"`

[2017-11-16 16:47] Sam-Levene commented on #1284
Nevermind

[2017-11-16 16:47] #1284 closed

[2017-11-16 16:48] kunagpal commented on #1284
The `-d` flag is indeed valid, but is for iteration data, not globals. Could you also share:
1. The Newman and Node versions (`node -v`, `newman -v`)?
2. The command/script used to run newman.

[2017-11-17 07:06] genxlogics opened #1285 "Newman report in jenkins is not formatted"
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): win10 on 64bit
 3. Are you using Newman as a library, or via the CLI? CLI in jenkins(2.73.1) build (tried both "execute windows batch command" and "execute shell". shell in jenkins point to git.sh on windows.)
 3. Did you encounter this recently, or has this bug always been there: recently
 4.

[2017-11-17 09:56] johan-v-r commented on #1152
Hi All

The NTLM Authentication (Beta) in postman currently works fine for our site. However I'm still having issues executing this with newman cli.

After exporting from Postman Collection v2.1, my request looks like:
[code]

Any help would be appreciated.

[2017-11-20 14:14] LeonardoGonzales commented on #1241
Hello @kunagpal,
postman.getResponseHeader is having the same issue in postman application for linux as well.
I downloaded Postman-linux-x64-5.3.2.tar.gz, installed my machine and faced the same error.
Google chrome application version 5.3.0 works for me.

[2017-11-21 09:31] Sam-Levene opened #1293 "Request works in Postman and fails in Newman"
**1. Newman Version (can be found via `newman -v`):** 3.8.3
**2. OS details (type, version, and architecture):** Docker / Linux via VM Virtualbox and Windows 7 64-bit Host PC
**3. Are you using Newman as a library, or via the CLI?** CLI
**4. Did you encounter this recently, or has this bug always been there:** Recently Encountered
**5. Expected behaviour:** Newman to work in the same manner as Pos

[2017-11-21 09:42] mayank13 commented on #1293
You might want to check if data is escaped properly when trying it newman.

[2017-11-21 09:43] Sam-Levene commented on #1293
I'm sending the PATCH request as a JSON, it shouldn't need escaping

[2017-11-21 10:51] mayank13 opened #1294 "TypeError while using newman.run. The same parameters work fine with CLI."
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Linux/Ubuntu 16.04 64-bit
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: Should print out the output to the console. Instead errors out with a type error
 5. Command / scrip

[2017-11-21 11:10] kunagpal commented on #1294
@mayank13 It looks like you're using the same id for both: your collection and environment. Please see https://github.com/postmanlabs/newman#using-newman-with-the-postman-pro-api for complete instructions. In the meantime, I'll confirm whether this error can be handled better on the Newman side of things.

[2017-11-21 11:49] mayank13 commented on #1294
Hey! Sorry about that. That's was a  typo while creating the issue. I am using the correct ID's . Can you please check and let me know. Same parameters work fine with Newman CLI.

[2017-11-21 14:01] mayank13 commented on #1294
Deleted and used a different environment. Seems to be working Ok now. Closing the issue. Will report again if something similar happens.

[2017-11-21 14:01] #1294 closed

[2017-11-21 14:23] patrickhitch commented on #1259
Apparently not. I better example of how to use 'data' being passed to callback would be nice though.

[2017-11-21 15:06] rahuln93 commented on #1259
Just use Bash files for API calls, thats what i did.

On Tue, Nov 21, 2017 at 9:23 AM, patrickhitch <notifications@github.com>
wrote:

[2017-11-21 16:13] #1259 closed

[2017-11-21 19:17] azharmohammedk opened #1295 "Newman Report - Multiple sets of same request is shown for multiple iteration even though the pass/fail count is already included in the first request"
Postman for Windows
Version 5.3.2
win32 6.1.7601 / x64

Issue Report:
[Newman Report Issue.docx](https://github.com/postmanlabs/newman/files/1492644/Newman.Report.Issue.docx)

I have 1 collection with 1 request having 2 tests which I am running for 2 iterations.
I am using data from data file (CSV) which has two iterative data
When I run this using postman collection runner, I see 4 tests in total

[2017-11-21 20:57] danLerch opened #1296 "response bodies always buffers (helpless newbie)"
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Win 10 64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently, set up my workstation from scratch but used existing scripts, now the body is the response buffer
 4. Expected behaviour: response bodies prese

[2017-11-21 22:11] danLerch commented on #1296
duplicate of https://github.com/postmanlabs/newman/pull/1011
i can't even use a search correctly. sorry.

" The string body property has been replaced by a buffer: stream. See the changes above."
https://github.com/semlabs/newman-reporter-phpunit/pull/1
"In Newman versions < v3.6.0, the property item.response.body would be provided as a string.
With Newman v3.6.0 and above, the body key has been r

[2017-11-21 22:11] #1296 closed

[2017-11-22 01:32] dlpooja opened #1297 "Newman as node js project"
Hi ,
How do we specify path to export junit or html report in node js file.
My file looks like this

newman.run({
    collection: 'C:/.../I.json',
    iterationData:'C:/../test_data.json',
    reporters: ['cli' ,'junit'],
      environment:'C:/Users/../Local_Env.json'
}, function (err) {
	if (err) { throw err; }
    console.log('collection run complete!');
})

I want to specify export path for my

[2017-11-24 11:35] bibhashkr5 commented on #647
@shamasis, is there any update for the above query that is related to passing the environment variable or login token through the command line. please do let us know about this

[2017-11-24 13:39] FractalSeed commented on #1020
In new version you just run
`newman run CollectionName.postman_collection.json`

If you are running the as Execute Shell option, the build will fail

### Setup
![image](https://user-images.githubusercontent.com/6602679/33212852-dc5cdc62-d14a-11e7-9158-ede29a66891c.png)

### Result
![image](https://user-images.githubusercontent.com/6602679/33212796-a77b5000-d14a-11e7-9693-2bf986aaf07f.png)

[2017-11-24 22:27] zodikadem opened #1303 "Newman report Error"
Postman for Windows
Version 5.3.2
Win 7 / x64
Newman 3.8.3

1. Create a Post request in Postman native client
2. Inside the tests tab of this post request, make a Get request using PM.sendRequests (example below)

// Read if AMT has the posted values
const randomDataRequest = {
    url: 'http://{{domain}}/rh/amts/' + jsonData.id,
    method: 'GET'
};

pm.sendRequest(randomDataRequest, function(err

[2017-11-25 09:24] kunagpal commented on #1303
@zodikadem This is a known issue, as reporters do not support pm.sendRequest just yet. We'll be taking a look at including this in the weeks to come. In the meantime, this issue can be left open for tracking. Thanks for reporting this! :smile:

[2017-11-25 09:25] kunagpal commented on #1199
Closing issue due to inactivity, feel free to revert if you're experiencing other difficulties 😄

[2017-11-25 09:25] #1199 closed

[2017-11-25 09:27] kunagpal commented on #1159
Closing issue due to inactivity, feel free to revert if there's anything else we can help you with 😄

[2017-11-25 09:27] #1159 closed

[2017-11-25 09:28] kunagpal commented on #1024
Closing issue due to inactivity, feel free to revert if there's anything else we can help you with 😄

[2017-11-25 09:28] #1024 closed

[2017-11-25 09:31] kunagpal commented on #734
@anugupta007 Apologies for the delay, we're in the process of polishing the user experience for collection and folder level entities. Thanks for all your patience 😄

[2017-11-25 09:39] kunagpal commented on #1285
@genxlogics Could you try this out with the `--disable-unicode` option and see if that resolves this issue?

[2017-11-25 14:54] deepakpathania commented on #1297
Hey @dlpooja. You can specify the export path for reporters by using reporter specific options which you can specify using the `reporter` option.
For eg, here is what your code block would look like with a specified path for your junit report.
[code]
Newman would try to create the folder and files(if they don't already exist) specified in the export path, provided there are no permission issues.
F

[2017-11-27 11:51] RuniQa opened #1305 "ReferenceError in test-script while using pm.test"
Hello,
I am using Octopus and Newman to deploy and test my service. When I run Newman command line to test deployed service I am getting an error "ReferenceError in test-script" and test is failing. There is no such an issue when I run it on my local machine. I'm not sure if it is a lack of a library or a bug.

 1. Newman Version 3.5.2
 2. Octopus Deploy server.
 3. I am using Newman via the CLI.

[2017-11-27 11:52] kunagpal commented on #1305
Newman v3.5.2 does not support the `pm.*` API. Could you try this out with v3.8.3 and confirm?

[2017-11-27 11:53] #1297 closed

[2017-11-27 13:29] RuniQa commented on #1305
@kunagpal Thank you for fast response. I have updated to 3.8.3 but I still have the same issue.

[2017-11-27 14:06] kunagpal commented on #1305
@RuniQa I'm afraid I don't have sufficent information to go on. Could you send a screenshot from the bottom of the collection run report? This is the section after the final summary table, that contains additional details on test and script failures.

[2017-11-27 14:31] RuniQa commented on #1305
In fact it is still the same issue. I am sending you my mockup collection together with screenshot.
![screenshot 55_censored](https://user-images.githubusercontent.com/33484160/33271544-d43959b8-d387-11e7-9ca2-274376c3aba6.jpg)
[Octo Integration Test.postman_collection.json.zip](https://github.com/postmanlabs/newman/files/1506185/Octo.Integration.Test.postman_collection.json.zip)

[2017-11-27 14:34] kunagpal commented on #1305
Could you also scroll down in the Octopus UI and share a screenshot of the end segments of the collection run log?

[2017-11-27 14:41] RuniQa commented on #1305
![screenshot 56](https://user-images.githubusercontent.com/33484160/33272087-638567dc-d389-11e7-957f-79d9c23cb22f.jpg)

[2017-11-27 14:47] kunagpal commented on #1305
Alright, could you add `newman --version` before the `newman run` command in your pipeline? I'd like to confirm that this is an issue with the latest version (Just being extra cautious 😄 )

[2017-11-28 10:11] sebokgabor84 opened #1308 "Newman_undefined_while assertion {"bla":"12332105910416"} like this from JSON"
![postman](https://user-images.githubusercontent.com/13465291/33313830-14362434-d42c-11e7-9561-679534be90f0.png)
Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Win 10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: r

[2017-11-28 14:08] miguelC commented on #1211
I am running 3.8.3 and am getting this error. Is there a file size limit? I have a large data file that I am running through newman.

[2017-11-28 14:53] RuniQa commented on #1305
That is correct. It seems that my Octopus Deploy server has been using different user profile than I supposed. I updated Newman on all my profiles and now it is working. Thank you for support.

[2017-11-28 15:06] kunagpal commented on #1305
@RuniQa Glad it worked out for you 😄

[2017-11-28 15:06] #1305 closed

[2017-11-28 21:44] miguelC commented on #537
I am running into this issue with version 3.8.3 :(

[2017-11-29 01:36] testmonger opened #1309 "New Feature Request: Support markdown in --reporters html output"
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Win 10 Home
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: always
 4. Expected behaviour: markdown syntax formatted appropriately in newman html report.
 5. Command / script used to run Newman:
newman run %coll

[2017-12-01 01:40] dlpooja89 opened #1316 "Multiple Data files when running collections in parallel"
Hi
Is there a way we can specify different data files /environment files for collections when running them in parallel using the below example.
I have two collections but both use a different data file .
Is it possible to specify data file for each collection when tryin to run it in parallel

https://github.com/postmanlabs/newman/blob/develop/examples/run-collections-in-directory.js
https://github

[2017-12-01 09:29] frandoradosng opened #1317 "Values in csv with white spaces at the end is trimmed by newman"
**Version and environment information:**

 1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): macOS Sierra / Ubuntu 16.04
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Recently and doesn't happens in 3.8.1
 4. Expected behaviour: To use the complete value from

[2017-12-01 09:36] kunagpal commented on #1316
@dlpooja89 This can be done by expanding on the example in the link above, as follows:
[code]

In the snippet above, `options1`, `options2` and `options3` are the respective options for the three parallel runs. You can specify the `iterationData` key (path to CSV/JSON file) in each of these objects.

[2017-12-01 09:37] kunagpal commented on #1317
Does this also happen if the value is enclosed in quotes(`"`)?

[2017-12-01 11:02] frandoradosng commented on #1317
In that case it works well

[2017-12-01 11:05] frandoradosng commented on #1317
In that case, it works well

[2017-12-01 11:10] #1317 closed

[2017-12-01 11:56] shubhamj-cuelogic opened #1318 "How to set setTimeout/Thread.sleep in newman"
How to set setTimeout/Thread.sleep in newman(postman's node module).

I am using below function :

[code]

Above function works perfectly in collection runner of postman.

But when I tried newman it is throwing error as

'setTimeout is not available inside sandbox and has no side-effect.'
I have found a similar thread like below:

https://github.com/postmanlabs/newman/issues/304

But they also hav

[2017-12-01 12:04] kunagpal commented on #1318
@shubhamj-cuelogic Newman v3.6.1 does not support setTimeout and other related functions. Could you try this out with v3.8.3?

[2017-12-01 13:25] shubhamj-cuelogic commented on #1318
Thanks @kunagpal ... It is working with v 3.8.3 ..
It really help :)

[2017-12-01 13:31] #1318 closed

[2017-12-01 14:12] dlpooja89 commented on #1316
Thanks kunal.. what if I have two different collections each with a different data and environment file.. is it possible to run this scenario as well in parallel ?

[2017-12-01 14:32] kunagpal commented on #1316
@dlpooja89 Yes, you'll have to ensure that the respective options objects to `newman.run` are adjusted for environments accordingly. 😄

[2017-12-01 14:53] azharmohammedk commented on #1316
@dlpooja89 @kunagpal - Is there a way we can use two different data files for a single collection? I have a single collection with multiple folders, each needing a different test data. Please advise how this can be done

[2017-12-04 16:30] zodikadem commented on #1303
@kunagpal,
Thank you for the quick reply. I was on vacation, therefore unable to reply.
It was my pleasure to report this. Can we please expect this to be fixed in the next release ? and when that release be ?

[2017-12-05 05:31] jun1983 opened #1322 "How to distinguish multiple runs with a single request in test report"
I am researching if newman / postman can be used for the API auto testing of my project.
Not sure how to do a test-driven testing to a single API, my personal solution is indicating a list of data in pre-script, then using setNextRequest to control the flow to loop or end. This basically works for me.

However, one big problem is that all these requests are merged together in the test report. I tr

[2017-12-05 16:51] paulocmi commented on #456
Is there any update for this? My problem is the same of @pietervanneste.

[2017-12-05 19:20] shamasis commented on #1322
Yeah. The events triggered by Newman has the first argument as `cursor`. It contains request ID and execution ID.

You’ll have to copy one of our reporters and create your own. Simply listen to all events by Newman and log true first argument and you’ll see the pattern. :-)

[2017-12-05 19:20] #1322 closed

[2017-12-05 22:49] jun1983 commented on #1322
@shamasis Thanks very much for your quick response. I used {{index}} to have my problem solved. Anyway, I could not see execution.id, can you tell me how to use it and how to listen to all events from Newman. I wish a place what I can find all available argument I can use in the report.

[2017-12-06 06:11] deepakpathania commented on #1061
@Nasafato This has been fixed in the recent release. The `--bail` option now accepts modifiers that can be used to achieve this functionality, currently for an invalid folder name(will be extended later for collection, environment, globals and data)

So you can specify an optional modifier like `folder` with bail, which basically means that if an invalid folder name is found, newman will exit with

[2017-12-06 13:03] vikt0rs commented on #222
@czardoz ping?

[2017-12-06 13:18] al-tr opened #1324 "Folder parameter behavior change in 3.9.0"
Did the behavior of `--folder` parameter change on minor version release?

Version and environment information:
 1. Newman Version: 3.8.3 - 3.9.0
 2. OS details: windows 7 x64
 3. CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: folder parameter runs the specified folder, not returning 0 tests run
 5. Command / script used to run Newman:

[2017-12-06 14:11] deepakpathania commented on #1324
Hey @al-tr, thanks for reporting this. I was able to reproduce this issue locally where even if the supplied folder name exists, newman just gracefully exits without executing the requests in that item group. Will keep you updated on it.

[2017-12-07 05:47] deepakpathania commented on #1324
Hey @al-tr, we are working on fixing this issue, you can track progress in #1326.
Thanks for your patience.

[2017-12-07 07:38] kunagpal commented on #734
@anugupta007 @keithmork @x-iron Newman v3.9.0 supports collection and folder level auth and scripts. These can be set within v5.4.1 of the Postman app and above 😄

[2017-12-07 07:38] #734 closed

[2017-12-07 07:39] kunagpal commented on #283
@akapoor47 Newman v3.9.0 supports collection and folder level auth and scripts. These can be set within v5.4.1 of the Postman app and above 😄

[2017-12-07 07:39] #283 closed

[2017-12-07 07:41] kunagpal commented on #358
@DaisySu On a related note, newman v3.9.0 supports collection and folder level auth and scripts. These can be set within v5.4.1 of the Postman app and above 😄

[2017-12-08 11:29] anilsbs opened #1328 "The NULL values captured from previous URLs in Newman is not passing properly in next subsequent URL."
Hi Team,
we are executed REST URL's using postman. The multiple REST URL's are collected and executed as part of a postman collection.  All REST URL's are executed properly without any issue from postman collection console.  The postman collection scripts ran from command console using Newman command and some of the REST URLs ran from command console using Newman are getting 400 HTTP error code (B

[2017-12-08 11:33] kunagpal commented on #1328
@anilsbs I'm afraid I don't have sufficient information to go on. Could you provide the following details?
1. The Newman and Node versions (`newman -v', `node -v`)
2. The collection and environment files used in the run (feel free to redact sensitive details)
3. The command/script used to run Newman.

[2017-12-08 12:36] #1324 closed

[2017-12-08 13:55] deepakpathania commented on #1324
Hey @al-tr, this has been fixed and released in [3.9.1](https://github.com/postmanlabs/newman/releases/tag/v3.9.1). Go ahead and try it and feel free to reach out in case you have any other queries. :smile:

[2017-12-08 14:26] al-tr commented on #1324
@deepakpathania works weel, thanks, all builds are using the latest vesion again :hammer_and_wrench:

[2017-12-08 16:07] oabdelsamad opened #1329 "Cannot read property 'toString' of undefined while using Postman link checker."
All,

I am using the postman link checker (
http://blog.getpostman.com/2017/06/23/check-for-broken-links-on-your-website-using-a-postman-collection/) and it's working just fine on the postman app. But when running it using the newman run command, it threw "Cannot read property 'toString' of undefined" error. Any thoughts? Below are the OS and all related info I have.

 1. Newman Version: 3.9.0
 2.

[2017-12-08 17:01] kunagpal commented on #1329
This because the variable definition of `{{start_url}}` is missing. Try using the `--global-var` option, like so:
[code]

[2017-12-08 20:36] oabdelsamad commented on #1329
Thank you @kunagpal! I tried that but I am still getting the same error.

[2017-12-10 11:56] prakharjoshi commented on #1329
@oabdelsamad this collection requires an environment when you run it through Postman app you are running it with Link Checker environment. Here also when you are running this collection with Newman try running it with the environment like `newman run <collection_link> -e <environment_link>`.

Also, Do not change the order of requests, the collection link you are using has a different order of requ

[2017-12-10 12:40] oabdelsamad commented on #1329
@prakharjoshi You are the best! It's working now. Many thanks!

[2017-12-10 12:44] #1329 closed

[2017-12-11 05:31] pvr1359 opened #1332 "how to handle collection with multiple requests using .CSV file"
The collection has muliple (eg: 10 requests in the collection) POST requests with data provided after the endpoint/path. How to parameterize each iteration with different data for each requests.

[2017-12-11 06:25] oabdelsamad opened #1333 "How to repeat postman link checker for different URLs but in same collection?"
Hello,

How can I do a link checker using http://blog.getpostman.com/2017/06/23/check-for-broken-links-on-your-website-using-a-postman-collection/ but for different URLs in the same collection?

[2017-12-11 06:37] prakharjoshi commented on #1333
@oabdelsamad This collection picks the URL values provided in the environment. So if you change values of environment variables (`start_url` and `root_url`), this collection will check links to that URL.

[2017-12-11 06:43] oabdelsamad commented on #1333
Thank you @prakharjoshi

[2017-12-11 06:43] #1333 closed

[2017-12-11 09:16] BBleyen opened #1334 "Assertion error description"
The AssertionError description changed to an other output
the test: tests[\"response code is 200\"] = responseCode.code === 200
Now: Version 3.9.0
 #  failure         detail
 1.  AssertionError  expected false to be truthy
                     at assertion:0 in test-script
                     inside ""

Previous
 #  failure        detail
 1\.  AssertionFai…  response code is 200

[2017-12-11 09:37] anilsbs commented on #1328
The Newman version is 3.8.2 and the node version is v6.11.3.

Please find the collection and environment files as attached by removed all sensitive details it.

The command/script used to run Newman is "newman run C:\hudson\NEW.postman_collection.json --delay-request 2000 -e C:\hudson\Test.postman_environment.json --export-environment C:\hudson\Test.postman_environment.json"

The issue here is
The

[2017-12-11 09:43] kunagpal commented on #1334
@BBleyen Thanks for reporting this. While a fix is worked on, could you use the new `pm.*` equivalent instead?
[code]

[2017-12-11 09:54] BBleyen commented on #1334
@kunagpal thank you for your fast reply and alternative solution
It is not that urgent, so I will not change all of my tests to the other format.
But I will use the new format for the new ones that I am working with.

[2017-12-11 10:44] oabdelsamad opened #1335 "Postman link checker crawl on one page."
Hey all,
I am using postman link checker (http://blog.getpostman.com/2017/06/23/check-for-broken-links-on-your-website-using-a-postman-collection/). Is there any way to check all links that are on xx page and not crawl those links?

[2017-12-11 11:08] fstorz opened #1336 "Newman does not replace variables from environment file"
1. Newman Version (can be found via `newman -v`):
[code]
 2. OS details (type, version, and architecture): Windows
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour:
Newman replaces all environment variables in the postman collection
 5. Command / script used to run Newman:
`newman run

[2017-12-11 12:48] fstorz commented on #1336
Problem is solved when I adjust the command as follows
`newman run Test.postman_collection.json -e TEST.postman_environment.json --insecure --no-color`

But still, the old way should also work, or you may point to this breaking change in the docu somewhere

[2017-12-11 12:57] kunagpal commented on #1336
@deepakpathania

[2017-12-11 14:45] prakharjoshi commented on #1335
@oabdelsamad I am afraid there is no existing solution for this right now. One way is you can modify the collection according to your needs.

[2017-12-11 14:57] oabdelsamad commented on #1335
Thank you @prakharjoshi for the quick response. I will try to do so, until we have this feature to postman link checker, hopefully 😄

[2017-12-11 15:17] amnoman opened #1337 "newman does not run a folder"
1. Newman Version (can be found via `newman -v`): 3.9.0
 2. OS details (type, version, and architecture): Microsoft Windows [Version 10.0.15063], 64-bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: Should able to a run folder from the collection
 5. Command / script used to run Ne

[2017-12-11 15:32] kunagpal commented on #1337
This has been fixed in `v3.9.1`

[2017-12-11 15:32] #1337 closed

[2017-12-11 15:32] #1335 closed

[2017-12-11 15:33] kunagpal commented on #1332
Could you provide additional details on what the bodies look like, as well as the structure of the CSV file?

[2017-12-11 15:41] deepakpathania commented on #1336
Hey @fstorz, thanks for reaching out.

`newman run` actually expects a collection path to be followed immediately, as specified [here](https://github.com/postmanlabs/newman#newman-run-collection-file-source-options). The correct specification is `newman run <collection-file-source> [options]` so your options like `-e` should be followed after the collection file source is specified as you did in y

[2017-12-11 16:29] ClayBenson94 commented on #1336
@deepakpathania has this always been the case? I'm on version 3.9.1 and I seem to be able to do both orders (using the `-g ./globals.json` flag before the collection, or after.

[2017-12-11 17:30] deepakpathania commented on #1336
@ClayBenson94 The ordering works in your case because of a fallback that we have that checks for the collection path in the CLI args which was intended for cases when newman was bein required as a module. The order that I suggested above is the recommended way though. You can verify this by running something like:
`newman run -n 10 examples/sample-collection.json`

The collection would run but onl

[2017-12-12 05:50] anilsbs opened #1339 "The NULL values captured from previous URLs in Newman is not passing properly in next subsequent URL."
Hi Team,
we are executed REST URL's using postman. The multiple REST URL's are collected and executed as part of a postman collection. All REST URL's are executed properly without any issue from postman collection console. The postman collection scripts ran from command console using Newman command and some of the REST URLs ran from command console using Newman are getting 400 HTTP error code (BAD

[2017-12-12 05:50] #1328 closed

[2017-12-12 06:18] prakharjoshi commented on #1339
@anilsbs In the request body for `REST URL 2`, you are using environment variable `{{parameter_B}}` without quotes. Can you try using environment variable with quotes?

Also, you should update the Newman version to 3.9.1.

[2017-12-12 08:31] fstorz commented on #1336
@deepakpathania my problem was that i used my config with the old version of newman for a while. And now when I wanted to test the new version, it wasn't clear to me that you have changed the cli command order and I din't also thought about that this could be the problem.
Because there isn't any warning, that the parameters are not recognized/used, it might be good to show something like 'the para

[2017-12-12 08:42] deepakpathania commented on #1336
@fstorz Yeah, makes sense. We will try to add some explicit warning for options that were supplied but not used/ recognized. We'll also try and see if the run command usage can be made backward compatible so that the older configs can still work with it.

[2017-12-12 10:33] anilsbs commented on #1339
HI Prakhar,
Thank you for your kind response.
I tried environment variable with quotes and observed the same issue 400 HTTP status code.
if we use environment variable with quotes? the server will treat it as null string instead of null value right? So, we need to find how the newman is sending payload data package to web server and how to debug the same?

will verify it in Newman version to 3.9.1

[2017-12-12 10:45] anilsbs commented on #1339
@prakharjoshi ,
Thank you for your kind response.
I tried environment variable with quotes and observed the same issue 400 HTTP status code.
if we use environment variable with quotes? the server will treat it as null string instead of null value right? So, we need to find how the newman is sending payload data package to web server and how to debug the same?

will verify it in Newman version to 3

[2017-12-12 14:08] svenkat1 opened #1340 "Have doubt in json report generated by newman via CLI"
1. Newman Version (can be found via `newman -v`): 3.9.1
 2. OS details (type, version, and architecture): ubuntu 64 bit
 3. Are you using Newman as a library, or via the CLI? both library and CLI
 3. Did you encounter this recently, or has this bug always been there: Encountered recently
 4. Expected behaviour: As like previous newman version json report format

Hi,
I installed the latest newman v

[2017-12-12 14:30] pvr1359 commented on #1332
Thanks for responding!
Body just takes the test environment details for the processing, whereas the POST URL (resource path) has the data to process. eg: http://server1:4534/resource1?DATA. Here the DATA varies for each scenario. I have created 10 requests for each of the different DATA scenario (the output differs for each, that is why I have 10 different request). How to run all the 10 requests

[2017-12-12 14:47] kunagpal commented on #1332
In that case, your POST request URL will have to change to reference the data variable, like one of the examples below:
[code]

[2017-12-12 14:51] anilsbs commented on #1339
@prakharjoshi , In the latest version we are getting the error as it is trying to convert the null to string. Please find the attached screenshot for details. But the same URL is working from PostMan.
![newman execution error](https://user-images.githubusercontent.com/34371036/33890686-f4a638bc-df79-11e7-951a-70abe106e7ea.JPG)

[2017-12-12 14:53] pvr1359 commented on #1332
I did the same as {{DATA}}, but for Iteration 1, the first data in the CSV file is considered for all the 10 requests. I wanted to handle the iteration with each data in the CSV (row) to get parametrized for each request.

[2017-12-13 14:35] harryi3t commented on #1340
@svenkat1  I can't reproduce the 1st block using newman@3.8.3

I ran newman with a simple collection having 1 reqest and following test script.
[code]
These are the output
# newman@3.8.3  -------------- newman@3.9.1
![newman-run-report-2017-12-13-13-50-55-657-0_json_ _newman](https://user-images.githubusercontent.com/5207331/33943645-b570ae68-e03f-11e7-85b7-baf3aaec6e72.jpg)

The highlighted diffe

[2017-12-13 15:57] deepakpathania commented on #1336
Hey @fstorz, we are working on fixing this issue, you can track progress in #1343.
Thanks for your patience.

[2017-12-14 07:22] mgroeneweg opened #1344 "Newman refuses csv data with double quotes in the values"
1. Newman Version (can be found via `newman -v`): 3.9.1
 2. OS details (type, version, and architecture): Windows 10 64 bits
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Today
 4. Expected behaviour: Handle  values with "" in them correctly
 5. Command / script used to run Newman:
 6. Sample collection, and auxil

[2017-12-14 07:35] oabdelsamad opened #1345 "Get status code."
Hi all,

Not sure if it's the right place to ask this, but is there anyway to get responseCode for all links in a web page?

Thanks in advance.

[2017-12-14 07:40] kunagpal commented on #1344
You'll have to escape `"` in CSV values by prefixing them with a `\`. For instance, the appropriate way to represent your sample data above would be:
[code]

Additionally, since the values themselves are surrounded by double quotes, a workaround is to add the quotes yourself within pre-request scripts.

[2017-12-14 07:44] kunagpal commented on #1316
@azharmohammedk The easiest way to do this is to run your collection on a folder by folder basis, with each folder run being passed the corresponding data file. For instance,
[code]

A simple equivalent can also be written for using Newman as a library.

[2017-12-14 07:48] mgroeneweg commented on #1344
Thanks for the quick follow up!

I tried escaping them but a little differently. I will experiment further or fix this using a pre-request script.

But still, test data that is picked up correctly in the collection runner results in an error when used in NewMan.

[2017-12-14 07:50] kunagpal commented on #1345
Within the test script for a request, you can use the all-new `pm.*` API to fetch response details, like so:
[code]

More details here: https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-12-14 07:50] #1345 closed

[2017-12-14 07:57] kunagpal commented on #1308
@sebokgabor84 Apologies for the delay. Could you confirm that this behaviour persists with v5.5.0 of the app and Newman v3.9.1 as well? Also, could you add the following statement above your failing tests so that we may get more context?
[code]

[2017-12-14 10:08] mgroeneweg opened #1346 "NewMan removes leading zeros from string data that looks like a number"
1. Newman Version (can be found via `newman -v`): 3.9.1
 2. OS details (type, version, and architecture): Windows 10, 64bits
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: today
 4. Expected behaviour: Do not take off leading zeros from string values.
 5. Command / script used to run Newman: newman run TestLeadingZ

[2017-12-14 22:07] azharmohammedk commented on #1316
Thanks @kunagpal . Is there a way to have both these runs exported in the same HTML report?

[2017-12-15 05:14] svenkat1 commented on #1340
Thank you Hari, Now I am clear with new changes and want to do some code refactoring in my code with your new changes.

[2017-12-15 06:56] harryi3t commented on #1340
Happy to help you :)

[2017-12-15 06:56] #1340 closed

[2017-12-15 07:40] trollcodelord commented on #1020
Hi Guys,

I'm using Newman but i have few questions

Do we need "Newman" to be installed in the Jenkins Server??
Can we run Newman via Jenkins Server like rcon job ??
Is there any template where we get response VS time graph in output?

Thanks in Advance

[2017-12-15 07:43] trollcodelord commented on #1151
Hi Guys,

I'm using Newman but i have few questions

Do we need "Newman" to be installed in the Jenkins Server??
Can we run Newman via Jenkins Server like rcon job ??
Is there any template where we get response VS time graph in output?

Thanks in Advance

[2017-12-18 13:36] prakharjoshi commented on #1339
@anilsbs Apologies for the delay in reply, For debugging this can you log the value of `paramater_B` environment variable in pre-script of `REST URL 2`.  Also, we will suggest you use new pm.* APIs in the sandbox.

Actually, the variables values should be stored as strings as mentioned [here](https://www.getpostman.com/docs/postman/scripts/postman_sandbox). So please check what is the value that y

[2017-12-18 16:15] MulderWhite commented on #1020
@trollcodelord Newman is a command line tool to run postman collections.
So in order to run it from jenkins, you may use shell script feature of Jenkins Pipeline or Jenkins freestyle projects through which you can run the newman command as per the Newman [documentation](https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman).

[2017-12-19 03:35] Gans79 opened #1349 "Postman integration with Stash"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2017-12-19 03:46] Gans79 commented on #1349
It is also a security concern to store all collections on postman servers , if we can integrate with our enterprise Stash it will be better secured

[2017-12-19 14:36] EstherSalinas opened #1351 "Html report is not generated with the new version 3.9.X"
Html report is not generated with the new version 3.9.X
Since I've update to the new version, the report in html is not generated. Whith the version 3.8.3 it works fine.

Version and environment information:
-->
 1. Newman Version:  3.9.X
 2. OS details (type, version, and architecture): Windows
 3. Are you using Newman as a library, or via the CLI? as a library
 3. Did you encounter this recently

[2017-12-19 14:58] kunagpal commented on #1351
@EstherSalinas I was unable to reproduce this with Newman `v3.9.1` on Node `v6.12.2`. Could you share the following details as well?

1. The node version used (`node -v`)
2. The underlying operating system.
3. The generated report at `output/report-${ENVIRONMENT}-${TEST}.html`, as well as the result of your `grep Assertions` command chain.

[2017-12-20 04:05] sanvipy opened #1352 "Basic Auth fails with Collection v2.1+Newman"
1. Newman Version (can be found via `newman -v`): 3.8.1
 2. OS details (type, version, and architecture): Win 7, 64 Bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: After the v2.1
 4. Expected behaviour: Basic Auth should work in both v2.0 and v2.1
 5. Command / script used to run Newman: newman run Test.postman_

[2017-12-20 08:52] kunagpal commented on #1352
@sanvipy Could you confirm that this bug is present in Newman v3.9.1 as well?

[2017-12-20 09:35] sanvipy commented on #1352
Ahh, why didnt I think of updating Newman.

Yes, It works well with v3.9.1.

Thanks @kunagpal !!

[2017-12-20 09:35] #1352 closed

[2017-12-20 10:16] EstherSalinas commented on #1351
Hello @kunagpal,

I've tested in my local machine (Windows) and in the CI server where I run the tests.

1. The node version: 6.9.1 (local), 7.5.0 (docker container node:7.5.0)
2. Operating system: Windows 8.1 Enterprise in local and Debian “wheezy" in the docker container where I run the test.
3. The generated report (With newman 3.8.3):
[report-int-3rd.zip](https://github.com/postmanlabs/newman/

[2017-12-21 01:29] benjamin-martin987 commented on #1351
@kunagpal I have been able to reproduce this issue with the following environment:
Docker `17.09.1-ce`
Base `alpine:latest`
Node `v6.10.3`
Newman `v3.9.1` and `v3.9.0`
Neither `html` or `json` reporters appear to be working correctly.

Switching back to Newman `v3.8.3` fixes this issue.

[2017-12-21 15:54] bbartoni opened #1355 "Newman sends report summary and custom report after 180 sec and continues to run."
1. Newman Version (can be found via `newman -v`):3.9.x
 2. OS details (type, version, and architecture):confirmed on Linux Mint and Mac
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: newman should report after the run is completed
 5. Command / script used to run Newman: node sc

[2017-12-22 18:35] Henrique-BR opened #1356 "Newman not showing command line output"
I downloaded node.js, installed newmand and it was working perfectly fine.
After that I installed the teamcity package and realized that I did not needed it so I removed.
Problem is that now newman run executes but is not showing any command line output like before and without that I can not keep track of how many iterations were executed.
I looked for a parameter to enable the output but it does

[2017-12-22 18:47] #1356 closed

[2017-12-25 10:38] kunagpal commented on #1355
@bbartoni Thanks for reporting this issue. Could you also share the following details?
1. The node and npm versions being used.
2. The script used to invoke `newman.run`.
3. Details on the custom reporter would also be useful here.

[2017-12-28 01:11] xuelangZF commented on #1021
I have seen the same problem, what did you mean by "changed encoding javascript"? @chit786

[2017-12-28 08:14] chit786 commented on #1021
@xuelangZF I do not remember exactly, I encountered this problem in my previous project, but as I remember correctly it had something to do within the encoder , where it was trying to access browser commands like `this` or `window` , I made them browser independent . Hope this helps.

[2017-12-28 10:54] oabdelsamad opened #1358 "Run specific folder in collection"
Hi all,

Is it possible to run a specific folder that it's inside the collection? I tried -f and -folder but that didn't work for me.

[2017-12-28 10:56] #1358 closed

[2017-12-28 17:08] mrollo commented on #764
+1

[2017-12-28 18:48] oabdelsamad opened #1359 "Newman run multiple folders in collection."
Hi all,

As far as running a specific folder in collection can be done using **--folder** command. Is there any way to run multiple folders?

[2017-12-28 19:29] #1061 closed

[2017-12-28 19:34] kunagpal commented on #1359
This can be accomplished by using Newman as a library:
[code]

[2017-12-29 00:57] xuelangZF commented on #1021
I'm not good at js and I thought it can't get rid of browser dependencies.  Thank you very much for pointing it out to me.  @chit786

[2017-12-29 08:34] oabdelsamad commented on #1359
Thank you @kunagpal for your help!
Marking this as closed.

[2017-12-29 08:34] #1359 closed

[2017-12-29 16:58] termleech commented on #1351
I wanted to add a little more information to this.  I just upgraded from Newman 3.8.3 to 3.9.1 as I had written tests and using the junit reporter along with the cli, the result.xml file reported 0 tests for each of the items in the collection.  Reverting back to 3.8.3 and everything is working and the result.xml is generated properly.  I'm using the latest Node LTS and have verified this both on

[2017-12-30 10:46] oabdelsamad opened #1361 "Error - socket hang up"
Hi all,

I was running a test using newman and I got:

` Error: socket hang up ` . Any thoughts?

[2017-12-30 15:48] deepakpathania commented on #1361
Hey @oabdelsamad, mind sharing little more details about the issue? The fields specified in the issue template would be a good place to start with along with some context. Posting the fields here for your reference.

 1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this

[2017-12-30 17:06] oabdelsamad commented on #1361
Thank you @deepakpathania - I am updating the issue details as follows:

1. Newman Version: 3.9.1
2. OS details: macOS High Sierra 10.13 (17A365)
3. Are you using Newman as a library, or via the CLI? CLI
4. Did you encounter this recently, or has this bug always been there: I am doing a test where I get all links that are in specific page then I check the response code for them.
5. Expected behavi

[2017-12-30 17:25] deepakpathania commented on #1361
Hey, @oabdelsamad Thanks for the detailed description.
Can you please check that the failing request works fine when ran individually and let me know?

[2017-12-30 17:52] oabdelsamad commented on #1361
@deepakpathania I really appreciate your help. I did run the failing request and it worked fine when ran individually. I also did reboot my machine and run the whole request again and it's no longer failing! Thank you so much, I will mark the issue as closed.

[2017-12-30 17:52] #1361 closed

[2018-01-02 15:50] thalesEbsco opened #1363 "Tests should be failing in Newman but are only failing in Postman"
1. Version: 3.9.1
 2. OS: Linux 4.4.0-104-generic #127-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux:
 3. CLI
 4. It is the first time I am using it so I guess it has always been there
 5. I have a test that fails in Postman (AssertionError | 500 == 201) and this is the expected behavior. However, when running through newman, it halts whenever it gets a 500 and does not show any failed tests.
 6. newm

[2018-01-02 15:54] kunagpal commented on #1363
@thalesEbsco Could you share the collection that causes this? Please mention your Node version as well. 😄

[2018-01-02 16:49] thalesEbsco commented on #1363
Thanks for the quick feedback, @kunagpal.

Can I send this to some e-mail rather than sharing it here?

[2018-01-02 16:51] kunagpal commented on #1363
@thalesEbsco Well, sharing it here would be more direct, as well as faster. If your collection has sensitive details, feel free to exclude them. In fact, the smallest/simplest collection that helps us reproduce this issue will suffice 😃

[2018-01-02 16:57] thalesEbsco commented on #1363
Ok, no problem. I have removed the sensitive data.

Consider that the calls are valid and that JSON.stringify contains valid JSONs.

Please let me know if you need any other info.

Thanks!

[2018-01-04 09:40] sumit16986 commented on #744
Please provide the parallel run feature to the newman as this is the most useful feature when some has the some huge amount of test cases........

[2018-01-04 13:06] htmtester opened #1367 "Newman --reporter-cli-no-assertions option prevents cli output"
Version and environment information:
 1. Newman Version = 3.9.1
 2. OS details = Win7, 64 bits
 3. Using via CLI
Node version = 8.9.4

I am trying to run my collections and to avoid the passed assertions output I used the parameter --reporter-cli-no-assertions and it worked perfectly once. Problem is now that whenever I use this option there is not any output in command line, execution completes b

[2018-01-05 16:17] zodikadem commented on #1303
@kunagpal,
Any chances to see this fixed soon ?

[2018-01-08 05:39] davecanderson commented on #1344
I have a similar issue and no combination of escaping seems to work;

`CSV Test,{ Prop: \"Value\" }` truncates to `{ Prop:`
`CSV Test,{ Prop: ""Value"" }` newman : Invalid opening quote at line 2
`CSV Test,"{ Prop: ""Value"" }"` newman : Invalid closing quote at line 2; found "\"" instead of delimiter ","
`CSV Test,"{ Prop: \"Value\" }"` truncates to `{ Prop:`
CSV Test,"{ Prop: \"\"Value\"\" }" tr

[2018-01-08 10:50] thalesEbsco commented on #1363
@kunagpal an update for you: I am now running the script from within Jenkins and the error remains. But, even worse, Jenkins builds are green even after the 500 error. (I am doing this on purpose because I don't wanna ignore 500 errors in case they happen someday, so I'm just trying to make sure that the builds will fail whenever newman sees a 500)

[2018-01-08 16:26] zhak commented on #1241
The issue is reproducible in stand-alone Postman v.5.5.0

[2018-01-08 22:57] xsedlak opened #1372 "Execute group of collections in SEQUENTIALLY"
Hello Newman guys,
I need to execute collections in SEQUENTIALLY because collections interact together.
Below you can see details.

Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Windows7 64bit
 3. Are you using Newman as a library, or via the CLI? -> CLI
 3. Did you encounter this recently, or has

[2018-01-09 09:28] borodaalex commented on #1241
Google chrome application version 5.4.0 does not have this issue, reproducible in desktop version v.5.5.0

[2018-01-10 09:21] oabdelsamad opened #1373 "Getting TypeError in test-script"
Hi all, I am getting "TypeError in test-script" while running my collection. My collection basically loads all the href URLs in a specific page, and check the https status for them. I got the "TypeError in test-script" error in a URL that returns `[200 OK, 22.3KB, 148ms] `

 1. Newman Version: 3.9.1
 2. OS details: macOS high seirra 10.13.2 (17C88)
 3. Are you using Newman as a library, or via the

[2018-01-10 17:31] prakharjoshi commented on #1373
@oabdelsamad Please share the collection (exclude sensitive data) and environment (if required) which causes this issue.

[2018-01-11 08:50] oabdelsamad commented on #1373
@prakharjoshi Thank you in advance 😃  The below are collection and environment as requested. P.S. This is working just fine on another collection and I am not facing the above error.

Environment:
`{
  "id": "cbc3218f-5df8-66d4-ca5a-9192689b46a4",
  "name": "SE_Visitor_Site",
  "values": [
    {
      "enabled": true,
      "key": "root_url",
      "value": "http://www.viktvaktarna.se/",
      "ty

[2018-01-11 09:05] kunagpal commented on #1372
@xsedlak While the default example you've mentioned runs collections in parallel, it can be tweaked for serial runs as follows:
[code]

[2018-01-11 09:44] #1372 closed

[2018-01-11 09:56] kunagpal commented on #1367
@htmtester Apologies for the delay, and thanks for reporting this. I was able to reproduce this with the specified version of Newman 😄

I'll update this thread when a fix is being worked on.

[2018-01-11 09:58] kunagpal commented on #1235
@amandabouman Could you retry this with Newman v3.9.2? We've made improvements to the underlying auth interface that should help resolve your issue 😄

[2018-01-11 10:00] kunagpal commented on #1285
@genxlogics Closing issue due to inactivity. Feel free to revert if you're facing difficulties 😄

[2018-01-11 10:00] #1285 closed

[2018-01-11 10:01] kunagpal commented on #1308
@sebokgabor84 Closing issue due to inactivity, feel free to revert if you're facing difficulties 😄

[2018-01-11 10:01] #1308 closed

[2018-01-11 10:02] kunagpal commented on #1339
@anilsbs Closing issue due to inactivity, feel free to revert if you're facing difficulties :smile:

[2018-01-11 10:02] #1339 closed

[2018-01-11 10:04] kunagpal commented on #1243
@Gans79 Closing issue due to inactivity, feel free to revert if you're facing difficulties :smile:

[2018-01-11 10:04] #1243 closed

[2018-01-11 10:10] kunagpal commented on #1316
@azharmohammedk Apologies for the delay. Merging run information from multiple collections into one HTML report is not supported at the moment, you'll have to create your own HTML report for such a case.

[2018-01-11 10:17] kunagpal commented on #1332
@pvr1359 Apologies for the delay, could you share the collection that causes this?

[2018-01-11 10:18] kunagpal commented on #1293
@Sam-Levene Could you check if this issue persists with Newman v3.9.1 as well?

[2018-01-11 10:21] kunagpal commented on #1179
@AndreyYevtukhov Closing issue due to inactivity, feel free to revert if you're facing difficulties 😄

[2018-01-11 10:21] #1179 closed

[2018-01-11 10:23] kunagpal commented on #983
@e2themillions Closing issue due to inactivity, feel free to revert if you're facing difficulties 😄

PS: Newman v3.9.x contains improvements around the underlying authorizer interface, do check that out as well.

[2018-01-11 10:23] #983 closed

[2018-01-11 12:25] kunagpal commented on #1344
@davecanderson I was able to get the following CSV file working:
[code]

In order to use this value as JSON inside your scripts, you can use the following:
[code]
Here, `data` is an inbuilt variable, which contains the set of iteration data values for the current iteration.

[2018-01-11 15:08] efrenette11 commented on #1334
This is for me a bug that cause the issue investigationg hard. I'm using newman, and from the repport. I'm not able to figure out what was the problem.

When should we expect to have a fix. I can't use pm.test.

here a code test.

var a = "a"
var b = "b"

tests["test A : "] = a === b;

![image](https://user-images.githubusercontent.com/30326999/34832207-3a4ef634-f6b7-11e7-930c-9d5b0ffdbc45.png)

[2018-01-11 15:56] efrenette11 commented on #1334
Also have this issue in Version of postman

[2018-01-11 16:05] efrenette11 commented on #1334
Seem to be the same https://github.com/postmanlabs/postman-app-support/issues/3888. But was closed under canary version 03 ???

[2018-01-11 18:53] htmtester commented on #1367
Thanks a lot @kunagpal.

[2018-01-11 23:19] mdfarhanin opened #1376 "Newman Custom reports - Unable to print the response headers by using {{response.header}}"
1. Newman Version (can be found via `newman -v`): 3.9.2
 2. OS details (type, version, and architecture): Mac OS 10.13.1
 3. Are you using Newman as a library, or via the CLI?: CLI
 3. Did you encounter this recently, or has this bug always been there: Not sure
 4. Expected behaviour: Displays the headers
 5. Command / script used to run Newman: newman run SignOn-Demo.json -d postmandata.csv -e hi

[2018-01-11 23:23] mdfarhanin commented on #1376
Steps:
1. Use the template as provided in the attachment
2. Run any API - output into a html report
3. Verify if response headers are printing

Expected: Response headers are displayed
Actual: No response headers are displayed - It shows the following
[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[obj

[2018-01-12 08:56] zhengyp opened #1378 "postman/newman_ubuntu1404 testscript error"
Testscript run OK in runner or Windows batch command
![default](https://user-images.githubusercontent.com/24307317/34867260-6a685708-f7ba-11e7-9180-9e540f8e90b9.png)

but when I run the same scripts in docker container its raised some unexpected test error,wolud u pls help me .  scripts and printscreen as blow
var jsonData = JSON.parse(responseBody);
tests["Your test name "] = jsonData.isSuccess =

[2018-01-12 09:40] fengfan319 opened #1379 "Execution can pass on postman but all fail with newman."
-->
 1. Newman Version :3.9.1
 2. OS details:Windows 10
 3. CLI
 4. always have this issue
 5. Command / script used to run Newman:
newman run C:\Newman\CollectionCopy\Debug_collection.json -e C:\Newman\CollectionCopy\Environment\Globals_copy.json -g C:\Newman\CollectionCopy\Environment\Stage_copy.json --reporters html --reporter-html-export C:\Newman\CollectionCopy\Report\htmOut.html

 6. Sample

[2018-01-12 10:03] kunagpal commented on #1378
@zhengyp Could you add the following statement to the beginning of your test script and verify that the response is valid JSON?
[code]

[2018-01-12 10:27] kunagpal commented on #1376
@mdfarhanin This is happening because the `headers` property is an object. When handlebars attempts to stringify this object for HTML rendering by calling the `.toString` method on it, a bunch of `[object Object]`. You'll have to use handlebars iteration helpers to traverse the `headers` object and display individual keys and values.
[code]

[2018-01-12 10:35] prakharjoshi commented on #1373
@oabdelsamad I tried to replicate the issue locally what I noticed is you are passing one invalid request which is raising an error for your Collection run. Please verify all the URLs are correct and valid before requesting them.

[2018-01-12 11:29] zhengyp commented on #1378
@kunagpal Thank you ！Its all about my own problem .
I figured out its a network problem , if I docker run the script with public network URL everything will be ok .
thanks anyway！

[2018-01-12 11:37] kunagpal commented on #1378
@zhengyp Glad it worked out for you. I'm marking this issue closed.

[2018-01-12 11:37] #1378 closed

[2018-01-12 13:30] BancarelValentin commented on #137
How one can target a deep nested subfolder ?

I got the followinf hierarchy:

Main
|-- Sub 1
|   |-- test
|--  Sub 2
|   |-- test

How can I target Main/Sub 1/test ?

Just test execute one of the two test folder randomly.

[2018-01-12 15:01] BancarelValentin opened #1380 "ReferenceError in test-script"
All tests fail with two `ReferenceError in test-script` via newman. Tests are ok throught postman UI.

 1. Newman Version: 3.9.2
 2. OS details (type, version, and architecture): Windows 10- 64 bits
 3. Are you using Newman as a library, or via the CLI: CLI
 3. Did you encounter this recently, or has this bug always been there: I'm new to newman
 4. Expected behaviour: All tests shouls succeed
 5.

[2018-01-12 15:05] kunagpal commented on #1380
@BancarelValentin Could you also share the exact reference errors that have occurred? These can be found below the Newman run summary table.

[2018-01-12 15:09] BancarelValentin commented on #1380
Yes of course. Here it is:

     001.  ReferenceError  it is not defined
            iteration: 1    at test-script
                            inside "download / Get one export JSON"

      002.  ReferenceError  it is not defined
            iteration: 1    at test-script
                            inside "download / Get one export JSON"

      003.  ReferenceError  it is not defined

[2018-01-12 15:15] kunagpal commented on #1380
Okay, it looks like you're using [postman-bdd](https://www.npmjs.com/package/postman-bdd) to organize your tests. While globals are automatically picked up by the Postman app, Newman requires explicitly passing a file of global variables via the `-g /path/to/globals/file.json` flag. You can do this by exporting globals from the app, and passing the path to the exported file via `-g` to `newman run

[2018-01-12 18:29] mdfarhanin commented on #1376
Awesome it worked - We can close the issue. Thanks.

[2018-01-12 18:29] #1376 closed

[2018-01-12 21:37] ryanvgates commented on #712
+1 for this

[2018-01-14 22:42] aksbenz opened #1381 "[critical] POST requests with JSON data using a {{variable}} set to undefined or null fails with error: Cannot read property 'toString' of undefined"
Newman exists when a variable is being used in the request body, but the variable was set to undefined or null, as it was not available in the previous request where it was being set.

Rather than passing the variable as it is and the tests failing, newman exits with error and no reports are created.

Error shown by newman:
**Cannot read property 'toString' of undefined**

 1. Newman Version (can

[2018-01-14 23:27] kunagpal commented on #1381
@aksbenz While an error being thrown is indeed unacceptable here, `undefined` is not a part of the JSON standard, which is why calling `JSON.stringify` with any `undefined` values will result in them being skipped from the result altogether. `null`, on the other hand, is completely valid, and thus could be considered here as an exception. Out of curiosity, is there a specific reason for sending an

[2018-01-14 23:33] aksbenz commented on #1381
Not intentionally sending undefined.

There are a lot of cases, where some data is set from the response of a previous request , but in case no data is received for that field, it gets set to undefined/null. Don't want to put all kinds of null checks in these requests as they are used for fetching data.

So the later request which is using this variable would eventually fail, since the response wo

[2018-01-14 23:39] kunagpal commented on #1381
@aksbenz This has been fixed in https://github.com/postmanlabs/postman-collection/pull/539, will go out with the next Newman release. 😄

[2018-01-14 23:41] aksbenz commented on #1381
Thanks @kunagpal

[2018-01-15 09:37] Sam-Levene commented on #1293
@kunagpal - No; This has been resolved independently of an app-version fix.

[2018-01-15 15:31] Sam-Levene commented on #1293
@kunagpal - I have attempted to use Newman v3.9.2 and have come to the realisation that it is not a newman issue, but a proxy one as we are attempting this issue behind a corporate proxy.

[2018-01-15 15:31] #1293 closed

[2018-01-16 22:45] iamron commented on #764
+1. Is there a reason for only supporting overrides of globals?

[2018-01-17 12:11] gaurangpatel79 commented on #1029
Hi, I also get into the same issue. But its not the cookie. I am passing Authorization header as `bearer {{access_token}}` which is generated in previous request as environment variable. Its all working great in Postman client, but not working with newman in command line.

below are more details

1. Newman Version (can be found via newman -v): 3.9.2
2. OS details (type, version, and architecture):

[2018-01-17 13:18] deepakpathania commented on #1336
Hey @fstorz, After a lot of discussions, we have decided not to support this since we would like to stick to the `newman run <collection-file-source> [options]` as the only supported specification moving forward. I would recommend you make the changes accordingly.
Thanks for pointing this out though.

[2018-01-17 17:49] htmtester commented on #1367
@kunagpal any updates on this?

[2018-01-19 06:58] kunagpal commented on #1373
@oabdelsamad Does this issue still persist for you?

[2018-01-19 07:07] kunagpal commented on #1379
@fengfan319 Could you also share the complete CLI output and the generated HTML report?

One way to gain more insight into the differences between app and newman collection run behaviour is to add the following statements to failed requests:
[code]

Running the collection with the above snippet in the app and newman should help highlight issues with missing variables.

[2018-01-19 07:11] #1316 closed

[2018-01-19 07:41] kunagpal commented on #1367
@htmtester This is being fixed in https://github.com/postmanlabs/newman/pull/1389 and will be available with the next Newman release 😄

[2018-01-19 09:46] kunagpal commented on #1334
@BBleyen @efrenette11 Apologies for the delay, a fix is being worked on in #1390, and should be available with the next Newman release. 😄

[2018-01-19 10:00] kunagpal commented on #1381
@aksbenz This has been fixed with Newman v3.9.3. 😄

[2018-01-19 10:00] #1381 closed

[2018-01-19 11:25] kunagpal commented on #1241
@snk20501 @LeonardoGonzales @zhak @borodaalex Could you try the following snippet out and let me know if it works for you?
[code]

[2018-01-19 17:50] mikecg opened #1391 "JSON cli reporter output is not in the format expected by the default handlebars template"
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): windows 10 x64
 3. Are you using Newman as a library, or via the CLI? both
 3. Did you encounter this recently, or has this bug always been there: always
 4. Expected behaviour: I would expect that the JSON returned by the JSON cli reporter could be used with the [default handlebars template](

[2018-01-19 23:06] davefreireich commented on #1100
Hi Team,

Is there any movement on this issue? Like some of the users above, my company uses a lot of numeric strings. As mentioned before, these work fine in collection runner but fail in Newman.

[2018-01-21 22:25] kunagpal commented on #1391
@mikecg The HTML and JSON reporters are entirely different, as they serve different purposes and provided different details about the collection run. If you're looking to add additional details to the HTML reporter, you can do so using your own custom templates with the `--reporter-html-template <path-to-handlebars-template>`. A sample of the JSON passed to the HTML report template is provided her

[2018-01-22 07:41] #1391 closed

[2018-01-22 12:49] htmtester commented on #1367
upgraded to newman 3.9.3 and the issue persists @kunagpal :(

[2018-01-22 13:17] ejerskov commented on #276
@kunagpal
Any update on this soon?

[2018-01-22 14:39] kunagpal commented on #1367
@htmtester My bad, I wasn't precise enough on this. Newman v3.9.4 will go out with this fix in a few days. 😓

[2018-01-22 14:40] htmtester commented on #1367
ok np thanks

[2018-01-22 15:44] zodikadem commented on #1303
@kunagpal, thank you for the response. I understand.

[2018-01-23 09:20] fengfan319 commented on #1379
@kunagpal i added the consol.log statement, no variable issue. i attached both Postman and newman result with same collection file.
[Report.zip](https://github.com/postmanlabs/newman/files/1655234/Report.zip)

[2018-01-23 13:43] Schveitzer opened #1395 "Add a filter in html report"
Version and environment information:

 1. Newman Version (can be found via `newman -v`):  3.6.1
 2. OS details (type, version, and architecture): Ubuntu 16.04
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: No
 4. Expected behaviour: Have the ability to filter the items in the html report by failure or success.
 5.

[2018-01-23 14:13] mikecg commented on #1391
Thank you. That sample JSON template gives me the information I needed.

[2018-01-24 14:21] Sam-Levene commented on #1264
Closing - This works by using a virtual machine to bypass the proxy issues.

[2018-01-24 14:21] #1264 closed

[2018-01-24 19:44] ekarpie commented on #1241
Hi guys, I have same issue,
- Ubuntu 16.04
- standalone Postman 5.5.0

response has following headers (pretty view):

[code]

**for single value header all looks good:**
postman.getResponseHeader('server') ----> "xxxxxxxx-xxxxx"

**but for multi-value header like set-cookie  we are receiving last element of array, at index 9:**
postman.getResponseHeader('Set-Cookie') ----> "ccsrftoken="0%260"; pat

[2018-01-25 01:34] betson-nuovo opened #1398 "newman adds an equals "=" character to a query parameter that has no value"
Configuring a URL of the following form in a postman collection (tested with 5.5.0 and 5.6.0-canary01):
`https://www.google.com?equals`
will result in newman making the request with an added equals "=" character:
`GET https://www.google.com?equals=`

In my use case, we have several endpoints which will fail with this added equals character.

 1. Newman Version (can be found via `newman -v`): 3.9.3

[2018-01-25 16:18] vdespa opened #1399 "How to view the request / response in a report?"
Is there any flag that I can use to view the request/response body and headers in HTML reports or any reports?

Newman Version (can be found via `newman -v`): 3.9.3

[2018-01-25 18:31] cladjules commented on #1162
I have the feeling that the problem is solved in the latest version of newman. I will run some more tests and confirm :)
Thanks.

[2018-01-25 21:39] shamasis commented on #1398
This does not happen in Postman Native App? We did put a lot of safeguards against this. @kunagpal can you have a look?

[2018-01-26 01:30] betson-nuovo commented on #1398
Tested with the postman app itself and I am seeing my endpoints fail, whereas a curl succeeds.
Tested with Postman 5.5.0, 5.5.2, 5.6.0-canary01

[2018-01-26 02:28] nobe0716 commented on #626
I found it!

I used

in old version, but it does not work in latest version.

So I swap arguments like

then, it works!

I wonder why the order of args affects the behavior of newman :(

[2018-01-26 05:20] jayanthktn commented on #986
Anyone did for proper html report.

[2018-01-26 07:47] deepakpathania commented on #626
@nobe0716 Hey this has been discussed in detail in #1336
Please go through the comments to have a better idea.

[2018-01-26 12:36] Carmot commented on #1398
cURL code auto generated by Postman v5.5.2 for: GET https://www.google.com?equals

curl -X GET \
  'https://www.google.com?equals='

[2018-01-26 19:21] htmtester opened #1400 "Newman not parsing variables correctly from CSV file"
Version and environment information:
-->
 1. Newman Version= 3.9.3
 2. OS details Windows 10 / 64 bit
 3. CLI
 3. After last newman update
 4. Expected behaviour: newman should run exactly as the postman app

I have collections in postman where I use CSV files to make my tests data-driven. Problem is that after I updated to last version of newman the var values are not being parsed correctly. One

[2018-01-26 19:40] htmtester commented on #1400
is there a way to downgrade newman so I can get it back working?

[2018-01-29 05:35] kunagpal commented on #1380
@BancarelValentin Closing issue due to inactivity. Feel free to reopen if you're facing issues. 😄

[2018-01-29 05:36] kunagpal commented on #1400
@htmtester You can install specific versions of Newman with `npm i -g newman@3.9.2` (the version comes after the `@` in the install command). Could you also share the CSV file used?

[2018-01-29 05:36] kunagpal commented on #1399
@vdespa There isn't a flag at the moment, but you can use custom HTML report templates to accomplish this: https://github.com/postmanlabs/newman#html-reporter-options

[2018-01-29 06:20] kunagpal commented on #1398
@betson-nuovo @Carmot Could you also share the collections that are behaving as described above?

[2018-01-29 06:22] #1399 closed

[2018-01-29 14:05] bibhuti12 commented on #285
@kunagpal  i want a consolidated html reports with the information name of all the collections run and their status once all the collections has run and individual report has been published

[2018-01-29 16:22] betson-nuovo commented on #1398
@kunagpal sample collection already attached to the initial post

[2018-01-30 02:13] snk20501 commented on #1241
@kunagpal I try following script but still get the same result. The POSTMan version is the latest v5.5.2.
`pm.response.headers.one('my_header_name');`

[2018-01-30 05:34] kunagpal commented on #1398
@betson-nuovo Thanks, I was able to reproduce this issue with the collection you shared. 😄

I'll update this thread when a fix is out.

[2018-01-30 05:36] kunagpal commented on #285
@bibhuti12 I'm not quite sure about what you're looking for, could you create a fresh issue with more details here: https://github.com/postmanlabs/newman/issues/new? Thanks!

[2018-01-30 05:45] kunagpal commented on #1373
@oabdelsamad Closing issue due to inactivity. Feel free to open if this persists for you 😄

[2018-01-30 05:45] #1373 closed

[2018-01-30 05:50] kunagpal commented on #1235
@amandabouman Closing issue due to inactivity. Feel free to reopen if this persists for you 😄

[2018-01-30 05:50] #1235 closed

[2018-01-30 05:53] kunagpal commented on #1395
@Schveitzer While this is currently beyond the scope of the current HTML reporter, this can be accomplished via the custom HTML report templates (https://github.com/postmanlabs/newman#html-reporter-options), or custom Newman reporters (https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#custom-reporters)

[2018-01-30 05:54] kunagpal commented on #1332
@pvr1359 Closing issue due to inactivity, feel free to reopen if you're facing difficulties 😄

[2018-01-30 05:54] #1332 closed

[2018-01-30 05:55] #1162 closed

[2018-01-30 11:05] Schveitzer commented on #1395
Many thanks for the feedback. :D

[2018-01-31 11:51] jayanthktn opened #1402 "Improper newman report"
npm version 5.6

I just made simple loop in my script like making 1 call to hit 10 times inbetween somewhere in collection. When I run it in Newman, I am getting improper report.

Let's assume,

Total number of request - 10

In the middle I am looping the 5th request for 5 times ( changing value of

"a " mentioned below )

{Url}/car/{a}

I am changing value of "a" as 1, 2, 3, 4, 5 and hitting it o

[2018-01-31 11:52] jayanthktn commented on #1402
Kindly refer this issue too : #986.

[2018-01-31 16:43] victorfau commented on #831
thank you it work for me too ! 👍

[2018-01-31 19:19] Tiller opened #1403 "Newman does not wait until very end of execution to extract test results"
Newman Version: 3.9.3
OS: Various unix based systems
Using: newman as a node library

Hello,
I'm running into an issue when executing a custom test in newman, and the same test works just as expected into the postman client.

What code am I running? Basically:

[code]
And here's the catch: the swagger parser library I'm using is asynchronous and returns a Promise. If I just execute the validate me

[2018-01-31 23:17] xiaweixing commented on #935
@Paramagnetic Recently we also got this same issue, and considering there are more people experience the same, have you considered to create a pull request to submit your solution to postman repo?  Thank you.

[2018-02-01 07:13] Tiller commented on #1403
After further testing this morning, it appears to work fine with newman 3.8.3

Where with newman 3.9.3:

[2018-02-01 16:11] safaorhan opened #1404 "How to stop newman as a node module"
When I started running newman on a collection, how do I interrupt it to cancel the run?

This is the code that runs the collection:
[code]

[2018-02-01 16:16] kunagpal commented on #1404
@safaorhan Could you provide more context on the conditions under which you'd like to abort?

[2018-02-02 08:04] safaorhan commented on #1404
@kunagpal I am developing a continious integration system. System runs tests when test cases are updated or the tested environment has a new release. Additionally system runs the tests regularly with some interval.

What I'm trying to achieve is when a new `run command` from any trigger has come, cancel old run (don't wait minutes to its completion) and run the new command.

[2018-02-02 08:42] kunagpal commented on #1404
@safaorhan This is beyond the scope of Newman, as each collection run is meant to be isolated and non-contextually aware of previous/future, or event other simultaneously running collection instances. This is something that will have to be checked as a part of the pre-code run logic. Such logic would have to look for existing runs, and kill them before starting the current run. Alternatively, a si

[2018-02-02 08:43] #1404 closed

[2018-02-05 19:13] dpburgess commented on #929
Im actually getting this error.  On a windows machine I have the collection and the environment json files on my desktop and am running the newman process from there.

[2018-02-06 10:03] thalesEbsco commented on #1363
Any words on this?

[2018-02-06 10:40] thalesEbsco commented on #1363
Any word on this?

[2018-02-07 05:28] ranujn opened #1411 "How can we write test script for below response"
I am getting below response from API

{
    "user": {
        "userRoles": [
            "xyzkjdshfls",
            "abcdsjfhls",
            "uhtkjshfls"
        ]
    }
}

I tried to use with userRoles(0) === "xyzkjdshfls" , userRoles.has("xyzkjdshfls") but its not working for me.

Can anyone tell me how we can verify in Test Script for this response.

[2018-02-07 05:42] prakharjoshi commented on #1411
@ranujn in the test script you won't be getting the response directly, it will be available to you in the variable called `responseBody`. This `responeBody` will contain the string so you have to parse it fetch the API response like this
[code]
 Now the response contains the actual API response. You can get values like `response.user`. For more information read these docs https://www.getpostman.co

[2018-02-07 05:45] ranujn commented on #1411
Thanks for quick response. I am using these 2 statement

var json = JSON.parse(responseBody);
var user= json.user;

after that I tried below statement
user.userRoles(0) === "xyzkjdshfls" , user.userRoles.has("xyzkjdshfls")

[2018-02-07 05:55] xiaweixing opened #1412 "newman failed to run file upload with collection URL"
1. Newman Version (can be found via `newman -v`): 3.9.3
 2. OS details (type, version, and architecture): Win10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: always been there
 4. Expected behaviour: can run file upload successfully with collection URL
 5. Command / script used to run Newman: newman run {collectio

[2018-02-07 06:10] betson-nuovo commented on #1398
Thanks @kunagpal. Confirmed that editing the json collection and setting `"value": null` makes the correct call when executing in newman.

[2018-02-07 06:26] betson-nuovo opened #1413 "Remove newline insertion when outputting console logs"
When outputting to console using the various console output streams, executing the collection using newman and redirecting that output to a file, newman inserts newlines within a single console output statement after about 54 chars (give or take my quick counting).  When allowing results to print to terminal, a newline will be inserted depending on the terminal width.

In Pre-request or Test scrip

[2018-02-07 06:27] prakharjoshi commented on #1411
@ranujn can you provide the error that you are getting. Also, there are specific ways through which you should assert and test the response. Check [here](https://www.getpostman.com/docs/postman/scripts/test_examples).

[2018-02-08 10:57] vikt0rs commented on #276
@kunagpal any updates, please?

[2018-02-08 10:58] ionutincau opened #1417 "Add feedback functionality to Windows app"
Wanted to send feedback from Postman app for windows

[2018-02-08 11:04] ionutincau opened #1418 "Design for "Resolve sync conflicts" UI"
In the Resolve sync conflicts UI is a lot of whit space for item type, item id, property name, and the values I care about (server value and local value) are on the right are on right side in small columns.

Please make this screen bigger, maybe with a side by side view of changes (like git diff), and maybe item type, id on top like a title not a column

[2018-02-08 11:05] ionutincau commented on #1418
Also thanks :) Postman is awesome!

[2018-02-08 11:05] kunagpal commented on #1417
@ionutincau This issue tracker is exclusive to Newman. Could you create an issue here: https://github.com/postmanlabs/postman-app-support/issues/new?

[2018-02-08 11:05] #1417 closed

[2018-02-08 11:06] kunagpal commented on #1418
@ionutincau Thanks for the love, much appreciated. This issue tracker is exclusive to Newman. Could you create this issue here: https://github.com/postmanlabs/postman-app-support/issues/new? Thanks!

[2018-02-08 11:06] #1418 closed

[2018-02-12 10:42] JoGosGitHub commented on #712
I wrote a few lines to get the request/response (header and body) in the default html report
but I had difficulties to get the request headers.

I am getting the response headers in this way:
`<tbody>{{#each response.header}}<tr><td>{{this.key}}</td><td>{{this.value}}</td></tr>{{/each}}</tbody>`

I tried this:
`<tbody>{{#each request.header}}<tr><td>{{this.key}}</td><td>{{this.value}}</td></tr>{{/

[2018-02-12 15:19] prateeksarda opened #1422 "Newman fails to bail out"
1. Newman Version (can be found via `newman -v`): 3.9.1
 2. OS details (type, version, and architecture): Linux
 3. Are you using Newman as a library, or via the CLI? Newman NodeJS library
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: Collection to bail out for test assertion failure
 5. Command / script used to run Newman:
newman.run({

[2018-02-13 13:38] murthykanuri opened #1424 "Configuring NewMan in Mac Book"
I am not able to run tests using Newman on MacBook. Cananyone help me with instructions

[2018-02-13 14:01] kunagpal commented on #1424
@murthykanuri Could you also share the following details:
1. The Newman and Node versions (newman -v), (node -v)
2. Any error messages that show up when newman is being used.

[2018-02-13 22:22] wbruce31 opened #1426 "JUnite reporter xml results are not within JUnit reporting standards"
1. Newman Version (can be found via `newman -v`): `3.8.3`
 2. OS details (type, version, and architecture): using Docker image: `postman/newman_ubuntu1404`
 3. Are you using Newman as a library, or via the CLI? CLI in Docker `postman/newman_ubuntu1404`
 3. Did you encounter this recently, or has this bug always been there: I'm new to the tool
 4. Expected behaviour: JUnit reporter creates properly

[2018-02-14 17:17] kdp88 commented on #1241
My question is sort of related to this:
Is there a way to actually parse out 1 value inside a given header
example: postman gives me this response header

`X-Pagination →{"TotalCount":6,"PageSize":5,"CurrentPage":1,"TotalPages":2,"PreviousPageLink":null,"NextPageLink":"http://localhost/v1/accounts?searchQuery=nam&pageNumber=2&pageSize=5"}`

How do I extract TotalCount and its value?

[2018-02-15 02:36] sk039143 commented on #1162
@cladjules  Hello, I am running into this issue a well, no proxy etc.  Did upgrading newman help? I am at 3.8.3. I'm out of ideas, very frustrating, fails on different tests in the collection, not much of a pattern. I too use -k and a very high timeout,  no difference. Please reply back.

[2018-02-15 05:43] rkesh-singh opened #1430 "error:0B080074:x509 certificate routines:X509_check_private_key:key values mismatch"
Version and environment information:
1. Newman Versio  -  3.9.3
2. OS type - Red Hat Enterprise Linux Server release 6.9 (Santiago) x86_64
3. Newman CLI
4. New to newman.
5. Command
 newman run cci-ms-sample.json --ssl-client-cert /etc/ssl/infaca/ca-bundle.pem --ssl-client-key /e.pem  --ssl-client-passphrase changeit
7. **Error image**
![image](https://user-images.githubusercontent.com/15648968/36

[2018-02-15 11:08] Izidi opened #1431 "Environment Variables Sent as String instead of Int when added into POST Body"
1. Newman Version - 3.9.3
2. OS details (type, version, and architecture): Windows 10
3. Are you using Newman as a library, or via the CLI? CLI
3. Did you encounter this recently, or has this bug always been there: _Always - only used current version_
4. Expected behaviour: Taking a variable from the collection variables is being sent as a string instead of as an int.

**Steps to reproduce the pro

[2018-02-15 11:42] sk039143 commented on #1162
@cladjules  I am using Jenkins for CI, configured it with the highest version of NodeJS that would download and install, NodeJS 6.11.4 which installed NPM 3.8.3

[2018-02-15 13:47] Izidi commented on #1411
@ranujn I think that you want to change this to:
`pm.expect(pm.response.json.user.userRoles[0]).to.eql("xyzkjdshfls")`

[2018-02-15 14:19] sk039143 commented on #1162
@kunagpal  can we reopen this issue?

[2018-02-16 02:47] carlospliego commented on #398
getting the same issue now. version : 3.9.3. Tests pass in postman but not newman. Getting 422 in newman 200 in postman

[2018-02-16 07:55] prakharjoshi commented on #1430
@rkesh-singh can you confirm the certificates that you are using are valid? As you are passing the certificates correctly but it seems like the certificate and their keys are itself invalid.

[2018-02-16 08:04] cladjules commented on #1162
@sk039143 It's working really well for me since the last version.
Can you try with those params:
` newman run "https://api.getpostman.com/collections/$COLLETION?apikey=$KEY" -e "https://api.getpostman.com/environments/$ENV?apikey=$KEY" --bail --timeout-request 1800000 --timeout-script 1800000 -k
`

[2018-02-16 12:59] rkesh-singh commented on #1430
@pkaharjishi I tried same certificates with curl command and it's working fine.

[2018-02-16 13:10] sk039143 commented on #1162
@cladjules  Thanks so much for the reply. Would you mind doing a "newman run -v" so I know for sure what version you are using? I do think since I updated, I now see the --timeout-script parm option..I don't think it was there before. I too have it set high, to 1800000, yet we get failures on different tests on different runs:  â”‚ 'Unexpected Error occurred. Review the error in consol
  â”‚ e'

[2018-02-16 13:17] prakharjoshi commented on #1431
@Izidi Can you please share the collection and environment (If any) for which you are facing this issue. Feel free to remove sensitive information from collection and environment.

[2018-02-16 15:43] hlubovac opened #1434 "TypeError: Cannot read property '0' of undefined"
Could you take a look at this please:
https://github.com/postmanlabs/newman-docker/issues/86

The error that I reported there originates in newman, but I saw it trying to run tests within a docker container that's running it.

The example bash script currently in readme at https://github.com/postmanlabs/newman-docker:

![image](https://user-images.githubusercontent.com/3127736/36315033-e47bdf34-12

[2018-02-16 16:55] cladjules commented on #1162
Ho @sk039143 I am just testing right now with the version 3.9.3.
There is definitely a massive improvement. I really cannot tell you what changed...

Are you using a load balancer? What are your API based on?

[2018-02-16 17:06] hlubovac commented on #1434
I realized that the error is within presentation of the table within the console, so my workaround at the moment is `--reporter-cli-no-summary`.

[2018-02-16 17:11] sk039143 commented on #1162
@cladjules  Hmm, 3.9.3. This is all part of a Jenkins CI Build loop. Postman runs tests against SoapUI simulators, no load balancer, everything is "localhost", the ECONNRESETs seem to occur when requesting simulated responses/files from a local Apache service. In my Postman test I had to build in some loop/delays (small, 3 seconds, 15 at most for some tests) to allow the simulation to create the r

[2018-02-17 00:20] sk039143 commented on #1162
@cladjules  I found a way in jenkins to specify the version of npm, so it took care of 3.9.3. Definitely a difference insofar that I had to move the parms after the collection name, otherwise I got syntax errors on "newman run".  So I made those adjustments, but still getting ECONNRESETs.  I'm still digging....

[2018-02-17 10:59] cladjules commented on #1162
@sk039143 Yes, since the upgrade, the parameter are in a different order.
I have upgraded to node 8, That may make the difference.
node v8.9.1
npm v5.2.0 (But i don't think that would make a difference)
newman 3.8.3 or 3.9.3 works fine for me with that node

Make sure you have the latest node as well (8.9.1), that may be why it works.
Have you tried running newman locally rather than on Jenkins?

[2018-02-20 07:19] jayanthktn opened #1436 "is there any way to display pass percentage in terminal/html report ?"
Postman for Windows
Version 5.3.2
Win 7 / x64
Newman 3.9.3

My request is to display the pass percentage in the console log - Much easier for management people.
Additionally adding percentage of passed Test cases . 79 passed out of 93 means = 84.94%..

Something like that.

[2018-02-20 11:52] Ne4istb commented on #871
I solved this issue in a bit another way: have written a tool for combining several collections into one.
https://www.npmjs.com/package/postman-combine-collections

We successfully use it in CI run.

[2018-02-20 14:53] Mina05 commented on #1398
@kunagpal When will this issue be in progress? We have very large collections and it would be nice if this could be fixed.

[2018-02-20 19:58] allyn-psyonix opened #1438 "Latest postman api not working through Newman"
1. Newman Version (can be found via `newman -v`): **Newman v3.5.2 with Node v4.3.0**
 2. OS details (type, version, and architecture): **Google Kubernetes**

The tests are run from a docker image in Kubernetes. The base image is
`gcr.io/cloud-solutions-images/jenkins-k8s-slave:latest`

 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this b

[2018-02-20 20:40] mtoothman opened #1439 "Newman doesn't understand `pm.command`"
1. Newman Version (can be found via `newman -v`): 3.4.2
 2. OS details (type, version, and architecture): macOS 10.13.3 (High Sierra
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: always
 4. Expected behaviour: Able to export from Postman and run collection with newman.
 5. Command / script used to run Newman:
`new

[2018-02-20 22:00] kunagpal commented on #1439
@mtoothman The pm API is available with Newman v3.6.0 and above, as can be seen here: https://github.com/postmanlabs/newman/blob/develop/CHANGELOG.yaml

[2018-02-20 22:00] #1439 closed

[2018-02-20 22:01] kunagpal commented on #1438
Duplicate of https://github.com/postmanlabs/newman/issues/1439

[2018-02-20 22:01] #1438 closed

[2018-02-20 22:03] kunagpal commented on #1434
Closing as a duplicate of https://github.com/postmanlabs/newman/issues/885

[2018-02-20 22:03] #1434 closed

[2018-02-20 22:06] kunagpal commented on #1424
Closing due to inactivity. Feel free to revert if you're experiencing issues 😄

[2018-02-20 22:06] #1424 closed

[2018-02-21 08:34] kunagpal commented on #1436
While this isn't possible in the default reporter, setting percentage reports up using a custom reporter is quite straightforward, as can be seen below.

1. You can start off by checking out our docs for custom Newman reporters here: https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#custom-reporters
2. Next, you can build on top of the existing [HTML repo

[2018-02-21 08:34] #1436 closed

[2018-02-21 09:02] jayanthktn commented on #1436
I am getting the following error .

\helper-missing.js:19
      throw new _exception2['default']('Missing helper: "' + arguments[arguments.length - 1].name + '"');
      ^
Error: Missing helper: "percent"

Here's my main code,
 <script type="text/javascript">
    function writeJSON(mode, text) {
      if (mode == 1) {
        try {
          var ptext = text.replace(/&quot;/g, '"');
          // s

[2018-02-21 09:05] kunagpal commented on #1422
@prateeksarda Apologies for the delay, the `bail` option will stop the collection run after the current request's test script has completed, and not send any further requests. I've corrected our docs to reflect this here: https://github.com/postmanlabs/newman/pull/1442

[2018-02-21 09:11] kunagpal commented on #1436
@jayanthktn The `handlebars.registerHelper` call has to go within the custom reporter code, not in the script tags in the template. A sample of the file I was referring to can be found here: https://github.com/postmanlabs/newman/blob/develop/lib/reporters/html/index.js.

Using the steps mentioned here: https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#cus

[2018-02-21 09:26] kunagpal commented on #1412
@xiaweixing This is because file paths are not synced as a part of collection data, which is where the Postman API fetches collections and environments from. A workaround is to fetch the collection from the API URL and inject the src values into the paths as needed. This can then be written to a file, and run as usual using Newman.

I'll keep this issue open while a better fix is worked on. I can'

[2018-02-21 09:27] #1411 closed

[2018-02-21 09:45] jayanthktn commented on #1436
Hi Kunagpal,

I am not much aware of handlebars, i have only one .hbs file. do i need to change in hbs file or need to write separate js file.

Thanks,
Jayanth

[2018-02-21 09:53] kunagpal commented on #1436
@jayanthktn The `.hbs` file will contain just the template content (of the form `{{...}}`). The actual logic to will have to go into a separate JS file. A starter template can be picked up from https://github.com/postmanlabs/newman/blob/develop/lib/reporters/html/index.js. Once you've added the `handlebars.registerHelper` snippet in this file, you can publish these files as a custom reporter, whic

[2018-02-21 10:30] jayanthktn commented on #1436
Thanks kunagpal. It's worked.

[2018-02-21 11:41] prateeksarda commented on #1422
@kunagpal So bail is used to stop the collection during any failures in test script.
What if i have two assertion (in my case as mentioned in screenshot) and want to stop the request as soon as first assertion fails?

[2018-02-21 11:56] kunagpal commented on #1422
@prateeksarda This can be accomplished by using Newman programatically, and calling `process.exit(1);` inside the event listener for tests if a test has failed. Newman run events are documented here: https://github.com/postmanlabs/newman#newmanrunevents

[2018-02-21 12:13] prateeksarda commented on #1422
@kunagpal Thank you, that could work.

[2018-02-21 12:23] kunagpal commented on #1422
@prateeksarda No, as the Node process itself will come to a halt. Is there any special handling being done in the `done` event listener?

[2018-02-21 12:31] kunagpal commented on #1422
@prateeksarda The absence/presence of a `done` event listener won't affect actual execution, as these events are merely extensions to allow a greater depth of customizable behaviour, as is the case here. Once `process.exit` has been called for a failed test, the collection run will be stopped as well.

[2018-02-21 14:09] tegomass commented on #831
@kunagpal And what about that when using newman with node.js please ? I cannot find a solution....

[2018-02-21 14:16] kunagpal commented on #831
@tegomass You'll have to use the export options, like so:
[code]

[2018-02-21 14:22] tegomass commented on #831
Awesome, thank you !

[2018-02-21 15:57] tegomass commented on #831
Tested and worked. Awesome, thank you !

PS: @kunagpal : Is the exportEnvironment done after the entire collection run ?

Example, I want to reuse the {{sessionId}} which is set in the request1 (in the "Tests" tab) through :
`postman.setEnvironmentVariable("sessionId", '1234');`

But when I get the value in the event :

[code]
The console.log(sid) displays the old value and not the new one updated

[2018-02-21 16:10] mtoothman commented on #1439
@kunagpal sorry about that, thanks for the info.

[2018-02-22 16:42] LeonardoGonzales commented on #1241
@kdp88 did you try it:
var pageHeader = JSON.parse(postman.getResponseHeader('X-Pagination') );
console.log(pageHeader.TotalCount);

thank @ekarpie, your "work around" worked very well for me

Best Regards

Leo

[2018-02-22 16:54] kdp88 commented on #1241
@LeonardoGonzales  you are the man dude, that worked flawlessly
how about extracting the TotalCount key and not the value.

[2018-02-22 17:03] LeonardoGonzales commented on #1241
for(var key in pageHeader){
   console.log('Key'+key +' value: '+ pageHeader[key])
}

[2018-02-22 17:05] kdp88 commented on #1241
@LeonardoGonzales 2 for 2

I LIKE IT THANKS MAN!

[2018-02-23 03:01] ahaydarcrimson commented on #398
Same issue is happening here in newman 3.9.3.

[2018-02-23 09:25] vijaygroovey opened #1445 "Failed to run postman script through Newman when running behind corporate proxy"
1. Newman Version (can be found via `newman -v`):3.9.3
 2. OS details (type, version, and architecture):Windows 10
 3. Are you using Newman as a library, or via the CLI? :CLI
 3. Did you encounter this recently, or has this bug always been there: THis is the first script I am running through Newman behind proxy
 4. Expected behaviour: Should work as same when We run through Postman
 5. Command / s

[2018-02-23 11:00] abreitenfeld opened #1446 "Not taking enabled flag into account when applying environment variables"
1. Newman Version (can be found via `newman -v`): 3.9.3
 2. OS details (type, version, and architecture): mac OS High Sierra
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: newman should only apply environment values that are enabled
 5. Command / script used to run Newman:
`newman r

[2018-02-23 14:05] pinalbhatt commented on #1106
+1

[2018-02-23 14:51] vijaygroovey commented on #1100
Hi Team
I am also facing the same issue. Is here any update on this issue?

[2018-02-23 15:09] TheCoderGuyVlad commented on #1100
@vijaygroovey I have not hear anything. But as a work around, I added a tilde (~) in front of each number in my csv. This way, Newman reads it as a string and I wrote a function to strip the ~ from it and store it into an environment variable with different name, so there's no chance of using the wrong value.

Example:
`// Column name=employeeId
// Column value="~00108251"
var temp=data.employeeId

[2018-02-23 16:39] tegomass commented on #872
Sorry to reply on a closed topic, but, I don't know how to display the "console.log()" event on the html reports. Can you help me please ?

My code :

[code]

Thank you

[2018-02-26 07:44] kunagpal commented on #1422
@prateeksarda The documentation for `--bail` has been updated now. Thanks for reporting this, feel free to get back if you have any other questions 😄

[2018-02-26 07:44] #1422 closed

[2018-02-26 07:54] kunagpal commented on #1445
@vijaygroovey Could you take a look at https://github.com/postmanlabs/newman#proxy and confirm that the required system environment variables are being set?

[2018-02-26 10:39] aprixon01112017 opened #1449 "when running in newman alll HEAD request tests fail that work fine in postman"
Postman 5.5.3 on Windows 10
newman 3.9.3
collection v2.1.0

when running in newman alll HEAD request tests fail that work fine in postman

[2018-02-26 10:41] kunagpal commented on #1449
@aprixon01112017 Could you also provide a sample collection that would help us reproduce this issue?  Please mention the command/script used to run Newman as well.

[2018-02-26 10:42] zhlei616 commented on #1134
Hi there,
Did you resolve this issue? I got same issue now, if I run it in cmd window, everything is fine, but when I run the same command in Bamboo plan, got following error, I'm using the same bamboo admin user.
'newman' is not recognized as an internal or external command,
operable program or batch file.

[2018-02-26 11:03] aprixon01112017 commented on #1449
Got it:

When saving the collection Postman adds a body property to the HEAD request. I guess I duplicated it from the corresponding GET request. In Postman the Body tab for HEAD is deactivated, but it is in the JSON file.

newman apparently doesn't ignore it the same ways so the tests fail.

[2018-02-26 11:05] kunagpal commented on #1449
@aprixon01112017 Thanks for sharing that, we'll use this information to improve upon the request body handling mechanisms. 😄

[2018-02-26 11:05] #1449 closed

[2018-02-26 11:06] aprixon01112017 commented on #1449
Actually it seems to be a body from a response that is added to the HEAD entry

[2018-02-27 18:23] as-beaulieu commented on #398
What is the proper header for the Authorization? In Postman, I'm using a Bearer Token, set to variable {{authToken}}. But when I export it into a collection.json, my header is blank. I've tried the two following for the header:

[2018-02-28 12:26] vijaygroovey commented on #1445
Setproxy resolved this issue.

[2018-02-28 12:26] #1445 closed

[2018-02-28 16:05] jiarensuo commented on #941
same issue here. Is there any solution? Can I set npm --max-old-space-size to solve?

[2018-02-28 18:40] michelics commented on #1128
Hello,

I need help about header configuration for GET Postman BDD:

![image](https://user-images.githubusercontent.com/15693278/36806044-9ce939e2-1c9d-11e8-9031-e739fcab3666.png)

Can someone help me? :)

[2018-03-01 15:13] sk039143 commented on #1162
@cladjules Well had had to back off the nodejs...that broke other pieces of our jenkins build.  We are however still at newman 3.9.3 under that older version of nodejs..    Running these same tests in postman works great. Running from cmd line yields the same connection issues as in Jenkins, so at least that issue is consistent there:

newman run "D:\Jenkins\workspace\mycollection.json" --timeout

[2018-03-01 15:16] pshivapr commented on #158
You can print the response using console.log command. An example below to append your tests
		"event": [
			{
				"listen": "test",
				"script": {
					"type": "text/javascript",
					"exec": [
						"var jsonData = pm.response.json();",
						"console.log(jsonData)"
					]
				}
			}
		]

[2018-03-01 15:43] cladjules commented on #1162
@sk039143 I know that's frustrating, I really can't tell what changed for me... It just looks fine now. I will have a look trying to downgrade newman and see if I can replicate the previous issue,
That will give us a clear idea what is causing that.

[2018-03-01 16:31] sk039143 commented on #1162
@cladjules  I actually can reproduce the problem in Postman provided I run the collection. 1st test in collection always works, 2nd fails with connreset...I just reversed them, first one works, newly repositioned 2nd one fails.  I tinkered with Connection:close header in postman, to force close between each send, no difference. Still digging.

[2018-03-02 18:25] JaimeLynSchatz opened #1452 "Newman produces no output in cron, produces output from cli"
The following line in a bash script:
`newman run /home/teamname/tests/vm_smoke_tests.json -e /home/teamname/tests/devint_env.json --reporters html,cli > results.txt`

Produces output when run from the command line, but does not produce output when run in cron.

The bash script also contains other output such as:
`echo "I have just run the Newman tests and want to write this to a file" > /home/team

[2018-03-05 14:58] woolfel commented on #1235
I am getting this same error with newman v3.9.3.  I can run my collection in postman GUI fine, but when I run it with newman, it gets 403. I'm passing the collection and environment settings with -e

[2018-03-05 19:37] patrickgardella opened #1457 "Postman OK, Newman error: Unexpected token u in JSON at position 0 on globals variable?"
1. Newman 3.9.3, Postman 6.0.8
2. Windows 7 Enterprise SP1 x64 (win32 6.1.7601 / x64)
3. Running via CLI
4. This has worked until very recently. It still works in TFS for the last globals file which was checked in on 2/19. I do not know which version of Newman is running on the TFS build servers.
5. The test should complete with a 2 valid tests, as it does in Postman
6. Command used:

`newman run

[2018-03-06 12:47] kunagpal commented on #1457
@patrickgardella The option to specify global variable files is `--globals`, or `-g` for short. More details can be found here: https://github.com/postmanlabs/newman#newman-run-collection-file-source-options

Could you confirm that the `newman run` command works with `--globals` for you?

[2018-03-06 14:12] patrickgardella commented on #1457
@kunagpal Thanks for that.  Yes, it works with the `--globals` option, but gives the same result.

I had switched it to `--global` as a test step since the Postman website shows _that_ as the correct command: https://www.getpostman.com/docs/v6/postman/collection_runs/command_line_integration_with_newman

`-g, --global [file]             Specify a Postman globals file as JSON [file]`

[2018-03-06 14:31] kunagpal commented on #1457
@patrickgardella Thanks for mentioning the point about the docs, it is being corrected here: https://github.com/postmanlabs/postman-docs/pull/1005. As for your issue, could you add the following statement to the very beginning of your test script and confirm that the variables are not being resolved?
[code]

Additionally, could you share the globals file here? (feel free to replace the actual vari

[2018-03-06 15:25] patrickgardella commented on #1457
They are not in Newman (but are in Postman) with the fixed `--globals` option.  The empty `{}` before the error is the output of the pm.globals.toObject() log line:

[code]

**BUT** I did find the problem when I was triple checking things!  Previously, I could put the collection file file at the end of the command line, it worked.

Now, whatever is following `newman run` is ignored unless it is th

[2018-03-06 15:28] kunagpal commented on #1457
@patrickgardella Again, thanks for pointing that out, a similar discussion has happened here: https://github.com/postmanlabs/newman/issues/1336

TL;DR: The collection path is meant to the first argument after the run command.

[2018-03-06 15:28] #1457 closed

[2018-03-06 17:44] patrickgardella commented on #1457
Thanks, @kunagpal. You are correct, and the documentation is explicit.

The fallback mechanism that was discussed [here](https://github.com/postmanlabs/newman/issues/1336#issuecomment-350796642), allows for the collection to be at the end, but @deepakpathania comment said "but the options specified before the required collection path wouldn't take effect."

What I found shows that newman doesn't f

[2018-03-07 12:39] hitcl08 opened #1460 "Question: using authorization types with Newman"
Hi there,

Just wanting to find out if there is a way to use authorization types with Newman. Specifically **OAuth 2.0**. I see it can be done using Postman but can't find anything in Newman.

Is there a feature for this in Newman or should I look at other ways of going about authorization

Version and environment information:

 1. Newman Version (can be found via `newman -v`): 3.9.3
 2. Are you u

[2018-03-07 15:44] gkaiser85 opened #1461 "Incomplete junit report when having nested requests/tests"
1. Newman Version (can be found via `newman -v`):
3.9.3
 2. OS details (type, version, and architecture):
macOS 10.13.3
 3. Are you using Newman as a library, or via the CLI?
CLI
 3. Did you encounter this recently, or has this bug always been there: -
 4. Expected behaviour:
The junit reporter should include all assertions in a report (including those of nested requests). The CLI reporter and the

[2018-03-07 19:21] #1334 closed

[2018-03-08 08:20] kunagpal commented on #1460
Hey @hitcl08, you'll have to save your request to a collection, export that collection, and provide the file path as the first command to the `newman run ...` command. In the exported collection JSON file, you'll see an `auth` property that contains all the required properties for OAuth2 request handling.

In other words, no additional work is required to get OAuth2 working, all you have to do is

[2018-03-08 11:26] ymedlop commented on #842
Hello!,

Could be a option change the function to receive the  newman "insecure" parameter value ?

[code]

[2018-03-09 14:30] vdespa opened #1465 "Integer environment variables resolve to null"
1. Newman Version: 3.9.3
 2. OS details (type, version, and architecture): macOS
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: It used to work once :)

When setting an environment variable in the pre-request script:

`pm.environment.set("foo", 0);`

It is not sent in the request body:

[code]
Steps to reproduce th

[2018-03-12 12:26] elinbacklund commented on #345
I get `The request signature we calculated does not match the signature you provided.` when I try to use the `Range` and `Start` parameters of the Alexa `TrafficHistory` endpoint.

[2018-03-12 15:26] matiasmatteucci commented on #1398
We need this to be fixed too.

[2018-03-13 08:04] shamasis commented on #345
Hello all, can you report new issues? With more details on the endpoint that’s failing and perhaps with a sample collection to reproduce the issue at our end?

[2018-03-14 16:22] JebediahSpringfield commented on #1398
Just to put some pressure on the issue.

My problem happens in a very simple example
Request:   GET http://10.2.1.1/api?{{myVar}}
Pre-request Script: pm.globals.set("myVar", "param=paramValue");

Result: GET http://10.2.1.1/api?param=paramValue=

My workaround is adding the '&' so it creates a useless '=' parameter:
Pre-request Script: pm.globals.set("myVar", "param=paramValue" + "&");

[2018-03-14 17:55] kamalaknn commented on #1398
Hi, we've pushed a fix for this in our latest Canary apps. You can find the link to download the app [here](https://www.getpostman.com/canary).

Collections exported from this app will NOT add a trailing `=` when run with newman.

[2018-03-16 11:31] TheRobOne opened #1470 "ssl problem while running collection"
Newman version - 3.9.3
node version - 8.10.1
npm version - 5.6.0
OS - RHEL 7.4

When I'm running my collection the first error I'm getting is:
``139735228114752:error:1408F119:SSL routines:SSL3_GET_RECORD:decryption failed or bad recordmac:../deps/openssl/openssl/ssl/s3_pkt.c:535:``

However when I tried to run request using curl it worked fine.
Do you know what could be the problem?

I am not att

[2018-03-16 15:00] gas421 commented on #744
@shamasis please consider this feature into the roadmap of Newman. I would like to point out the parallel execution will be really useful in the context of be able to speedup tests and have faster feedbacks (NOT for load testing purpose).
Thanks!

[2018-03-19 09:31] saswatds commented on #1215
Hi @amnoman, we are now actively trying to resolve this issue, as a temporary fix you can quote numbers within a single quote `'89111702272002019559'` instead of double quote, in newman to preserve the number as a string and not loose precision.

The issue is the underlying `csv-parse` library which newman uses to parse csv files, for which we have raised an issue at https://github.com/adaltas/nod

[2018-03-19 12:35] TheCoderGuyVlad commented on #1100
Thanks @saswatds ! And thanks for the single quote suggestion!

[2018-03-20 20:32] #1460 closed

[2018-03-22 08:46] mituljain19 opened #1477 "Postman console log not allowing to write string in next line"
I am trying to display string into multilines with \n

Example: var mystr='line\n another line\n another line'; console.log(mystr);

Expecting:
line
another line
another line

Getting: lineanother lineanother line

Note: it is working as expected in firefox scratchpad.

[2018-03-22 10:38] prateeksarda commented on #1412
@kunagpal A similar problem I would like to mention for a file upload scenario

I have collection on my machine on Path A eg /data/collection/script.postman_collection.json
It was created on Postman tool and exported as json to my Linux box.

collection.json as downloaded from Postman tool
"body": {
					"mode": "formdata",
					"formdata": [
						{
							"key": "filename",
							"type": "file"

[2018-03-22 11:15] nickyadvokaat opened #1478 "Newman error object null on done even though there is an error in a test"
In the code below the `err` object is `null`, even though there is a failing test which is visible in the console output. The code will output 'collection run completed.' When I run the same collection using the CLI I do get an exit(1) error on my console.

[code]
 1. Newman Version 3.9.3
 2. OS details macOS High Sierra
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you en

[2018-03-22 11:34] kunagpal commented on #1478
@nickyadvokaat This is expected behaviour, the `err` argument in the done event handler will only be non-null if the internals of Newman encountered an error whilst trying to run your collection, such as in the case of invalid/missing options. Details on failed tests from your collection run can be derived from `summary.run.failures`, as can be seen here: https://github.com/postmanlabs/newman#newm

[2018-03-22 11:34] #1478 closed

[2018-03-22 11:41] nickyadvokaat commented on #1478
Thank you for clarifying this @kunagpal !

[2018-03-23 06:56] fengfan319 commented on #1379
@kunagpal  could you please help check? Any response?

[2018-03-23 08:43] rvolz commented on #1452
May I add, that the same behaviour shows up when run in Gitlab (enterprise instance)? My clients run newman as a library (see below), which works fine locally. When run on Gitlab the output via `util.log` appears, the jobs exits with success, but newman doesn't seem to work -- no output for cli, html or json. The job's execution time is far too short, so I guess that the collection is not run.

Di

[2018-03-23 10:42] rvolz commented on #1452
Addendum: using the newman cli utility (installed locally, via `./node_modules/.bin/newman`) in the configuration mentioned [above](https://github.com/postmanlabs/newman/issues/1452#issuecomment-375581700) works. The output appears in Gitlab/Docker. However, using the newman library would be much easier for us.

[2018-03-24 18:40] mituljain19 commented on #1477
Dear Kunal,
Any updates??

[2018-03-26 11:17] amanautomation opened #1482 "How to add wait before my tests starts execution after a request is sent"
1. Newman Version (can be found via `newman -v`): 3.9.3
 2. OS details (type, version, and architecture): MacOs
 3. Are you using Newman as a library, or via the CLI? Newman CLI
 3. Did you encounter this recently, or has this bug always been there: Started using newman recently
 4. Expected behaviour: After my request is sent, the tests should wait before the response is available and due to this

[2018-03-26 11:20] cladjules commented on #1162
@sk039143 I am now getting the issue again with newman. No reason why.

I have run the collection 100 times in Postman, no error at all.

[2018-03-26 11:22] kunagpal commented on #1482
@amanautomation The tests are not run until a response is received, it is highly likely that your request is timing out.

You can use the `--timeout-request 150000` option to force the collection run to wait longer than usual.

Next, you can confirm that the response exists while the tests are running by including `console.log(pm.response.text());` as the first line in your test script.

[2018-03-26 11:46] sk039143 commented on #1162
@cladjules  Was this because you were trying to reproduce my issue, or it just popped up unexpectedly?  We have shelved this issue for now but will have to revisit it.

[2018-03-26 11:50] amanautomation commented on #1482
@kunagpal, I tried to use the timeout as well but the same is not working for me. Here is section from my collection file:

                        "name": "xxxxxxx API",
                        "event": [
                                {
                                        "listen": "test",
                                        "script": {
                                                "i

[2018-03-26 11:51] cladjules commented on #1162
@sk039143 Just saw the error on Jenkins again...

[2018-03-26 11:58] sk039143 commented on #1162
@cladjules  I guess you are trying to figure out what may have changed or been upgraded on Jenkins etc?

[2018-03-27 07:29] songxing10000 commented on #778
it works
![image](https://user-images.githubusercontent.com/10040131/37952758-77650afc-31d3-11e8-846d-7e5ce9b29a07.png)

[2018-03-27 09:37] amanautomation commented on #1482
@kunagpal, please update on this. Looking forward to your reply

Thanks in advance!

[2018-03-28 10:40] amanautomation commented on #1482
@kunagpal, please update on this. Looking forward to your reply

Thanks in advance!

[2018-03-28 18:50] caddac commented on #871
I solved this by having a Command Line build step in TeamCity and running:

`for collection in ./tests/*; do newman run "$collection" --environment ./envs/dev.postman_environment.json' -r cli,teamcity; done`

[2018-03-29 10:12] rohitkashyapvatta commented on #398
I am also facing this error, getting following message on console " 1.  ReferenceError    pm is not defined
                       at prerequest-script "

Can you please advise what is the way out for this?

[2018-03-29 12:32] rohitkashyapvatta commented on #1380
@kunagpal : I am getting this error on Jenkins Console when collection was run via newman

The error **ReferenceError   pm is not defined  at prerequest-script**  is troubling my complete test suite. Could you please guide me what is the root cause of this problem?

[2018-03-29 13:08] rohitkashyapvatta commented on #1439
@kunagpal : I am on latest newman version newman@3.9.3 and still getting this error:

ReferenceError    pm is not defined
                       at prerequest-script

Could you please advise on the solution?

[2018-03-29 13:42] rohitkashyapvatta commented on #1438
@allyn-psyonix : How did you resolve this issue. I am still getting this error even though i am using latest newman version3.9.3

[2018-03-29 17:39] allyn-psyonix commented on #1438
@rohitkashyapvatta Upgrading to the latest Newman at the time did the trick for us. We didn't have to do anything else special.

[2018-03-29 19:04] Alextunchii opened #1483 "'JSONError in test-script' after migration to Desktop Postman"
Newman 3.9.3
Mac OS Version 10.12.6

Hi!
Finally migrated to Desktop Postman from Chrome App and encountered a small issue.
I have been using newman for API tests in TeamCity and after migrating to 'new' Postman I have some error related to JSON parse (i think)

`POST https://1.amazonaws.com/dev/api/v1/auth/sign-up [400 Bad Request, 900B, 363ms]
  1⠄ JSONError in test-script
`

As it seen, it's ju

[2018-03-30 07:36] Alextunchii commented on #1483
strange, but resolved just by this changes:
1. moved places for 1 and 3 row
2. changed the name of a variable

let JsonEmail = JSON.parse(responseBody);
console.log(JsonEmail);
postman.setEnvironmentVariable("email", JsonEmail.data.user.email);

[2018-03-30 07:36] #1483 closed

[2018-03-31 02:20] MarcosEllys commented on #1303
Hello, unfortunately this bug continue, is there are some date to fix this problem?

[2018-03-31 02:29] MarcosEllys commented on #1395
Hello, I also filter this, so I create my custom template with this filter and other things [newman-html-report-template-verbose
](https://github.com/MarcosEllys/newman-html-report-template-verbose)

[2018-04-01 20:13] #1395 closed

[2018-04-02 08:42] ankit-tripathi commented on #470
Hi All,

I have a very simple POST request to login to my application. Using Postman it works fine, but when I try to run it from Newman it gives error **handler._sign is not a function**.
![image](https://user-images.githubusercontent.com/9364431/38189482-017dbc62-367e-11e8-880a-51541d25eeaf.png)

My collection looks like this:
![image](https://user-images.githubusercontent.com/9364431/38189835-5

[2018-04-02 08:52] ankit-tripathi opened #1484 "Getting handler._sign is not a function error"
Hi All,

I am getting this error when ever I try to run my collection using Newman.
![image](https://user-images.githubusercontent.com/9364431/38190202-d8289398-3680-11e8-9a32-a4cd4268c052.png)

I have a very basic POST request which is used for log in to the application. When I run this using Postman, it runs fine, but gives error using Newman.
My collection:
![image](https://user-images.githubus

[2018-04-02 09:16] kunagpal commented on #1484
@ankit-tripathi I was unable to reproduce this with Newman v3.9.3 on Node v8.11.1. Could you confirm that this issue persists with Newman v3.9.3? Also, could you run your collection as follows and share the logs? Thanks!

[code]

[2018-04-02 09:29] ankit-tripathi commented on #1484
Same error :(

![image](https://user-images.githubusercontent.com/9364431/38191449-63e05358-3686-11e8-87b7-4c428e987602.png)

[2018-04-02 09:40] ankit-tripathi commented on #1484
@kunagpal , I can't update the newman as I am working on VM having restricted internet access.
Can you please help me with the procedure of updating Newman offline?

[2018-04-02 13:21] Schveitzer commented on #1395
@MarcosEllys Thank you! :D

[2018-04-02 17:49] amanautomation commented on #1482
@kunagpal, please update on this. Looking forward to your reply

Thanks in advance!

[2018-04-02 17:56] mattdeluco commented on #1400
I just encountered a similar issue.

I've got a JSON data file being loaded by Newman with a pre-request script that sets environment variables from the data file.  One of the values is 0 (zero) - when the request is run the value of 0 is not substituted into the body of the request.

For example, an application/json body such as:
[code]
In the environment the value for `bar` is 0 (zero), but when

[2018-04-03 15:39] impnguyen commented on #1380
Same issue. I have the latest newman module 3.93. Can someone help?

[2018-04-04 12:46] vinaysuri1 opened #1486 "Getting error - "TypeError handler._sign is not a function" in jenkins"
I have created postman scripts - exported my collection - pushed to my GIT repo - ran collection using newman - created a job in jenkins with GIT URL - triggered the job

Scripts are working fine in POSTMAN.
Scripts are working fine in NEWMAN.
But I am getting following error in JENKINS - console output -
TypeError handler._sign is not a function

Please help...
Thanks in advance

[2018-04-04 12:47] kunagpal commented on #1486
Closing as a duplicate of #1484

[2018-04-04 12:47] #1486 closed

[2018-04-04 13:11] vinaysuri1 commented on #1484
@kunagpal - scripts are working for me in NEWMAN but failing with this error in JENKINS.
What can be the reason for this issue? How can I resolve it?

[2018-04-05 21:55] flash286 commented on #744
I'm voting for parallel run and it's gonna be fantastic useful.
Until newman implementing this, i did small tool written on golang around it which can help to run it in parallel mode and get aggregated stats. But it still very experimental.
https://github.com/flash286/postman-load-testing

[2018-04-06 08:01] gas421 commented on #744
Hello, thanks @flash286 for your message even if I have a little concern: I think the overall idea and vision of Postman is not to be also a Load Test tool, for this you have many other different tools and option. I see Postman as an API functional validation tool.
My message was focused more on the integration with **Postman Newman** and **Jenkins** (or TFS...). My point was to have a possibility

[2018-04-06 11:27] sankar91 opened #1487 "i have downloaded newman .zip and i have installed all prerequisites nodejs v8.9.0,git cmd.while running npm install newman --global;got npm ERR! code ENOSELF npm ERR! Refusing to install package with name "newman" under a package npm ERR! also called "newman". Did you name your project the same npm ERR! as the dependency you're installing? npm ERR! npm ERR! For more information, see: npm ERR! <https://docs.npmjs.com/cli/install#limitations-of-npms-install-algorithm> npm ERR! A complete log of this run can be found in: npm ERR! C:\Users\sxn8309\AppData\Roaming\npm-cache\_logs\2018-04-06T10_24_48_938Z-debug.log;so i renamed the package.json name as newman1,after renaming and running newman run examples/sample-collection.json;newman is not recognised as the valid comman.Please help opn this."
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2018-04-06 11:34] kunagpal commented on #1487
@sankar91 I've edited the original title for brevity. npm does not allow installing packages as dependencies themselves. You can install Newman with `npm i -g newman` without having to download any zipped archives.

[2018-04-06 11:34] #1487 closed

[2018-04-06 16:16] parin921996 commented on #1303
@zodikadem  Is there any workaround for this bug? Or ETA when it will be fixed ?

[2018-04-06 20:36] hasanyc opened #1489 "newman HTML report only display first Iteration value that comes from csv file"
So in my csv file I have 37 values and when I run via terminal it triggers 37 iterations with no issue.: https://screencast.com/t/cftzQla6Iml
This is my script look like: https://screencast.com/t/eTWPiXctou9

Inside the HTML report, it does shows correct Iterations 37 and Request shows 703 since i had 19 postman request.
However method URL keep showing first value from csv file. After 19th Method

[2018-04-07 21:40] dudestc commented on #158
Could someone share entire steps to output API response in output file.

[2018-04-08 19:35] aking1012 commented on #1446
I ran in to this one too.  I had a variable I moved from environment to global and disabled the environment variable in the Postman UI.  The old environment variable was instantiated first and overrode a global variable of the same name.  Postman ran the collection properly, but newman bombed out.  If I delete that JSON chunk in the environment file (all structures with false in them), then it wor

[2018-04-09 06:12] tegomass opened #1490 "newman HTML report shows duplicate entries when request is sent through pre-request"
1. Newman Version (can be found via `newman -v`): 3.9.1
 2. OS details (type, version, and architecture): nodeJS 8.11.1 LTS
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: always been there
 4. Expected behaviour: not duplicated
 5. Command / script used to run Newman:

[code]

 6. Sample request to add to the c

[2018-04-09 21:31] EtonDoze opened #1493 "HTML report needs to include request response payloads"
1. Newman Version: 3.9.3
 2. OS details (type, version, and architecture): Mac OSX 10.11.6
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Its an enhancement request
 4. Expected behaviour: newman report to include Request Response Payloads along with Method Name, URL
 5. Command / script used to run Newman: newman

[2018-04-10 09:51] tegomass commented on #1493
Hi,

The request/response payload can be get with `requset.body` and `response.body`.
If you add in your .hbs report this information, you should have what you want.

Example :
Add :
[code]
After :
`<br/><div class="col-md-4">Status code</div><div class="col-md-8">{{response.code}}</div><br/>`

[2018-04-10 18:38] tegomass commented on #1493
You can add it into a `textarea`, the output should be better.
[code]

👍

[2018-04-11 11:27] mailtogj opened #1497 "Memory leaks over multiple iterations of Newman.run"
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Win 7 Enterprise SP1
 3. Are you using Newman as a library, or via the CLI? Using as a library
 3. Did you encounter this recently, or has this bug always been there:  encountered recently but after spinning cycles with existing code
 4. Expected behaviour: No memory leaks or spike in heapUsed

[2018-04-11 23:17] etspaceman commented on #1465
I've noticed something similar but with the `false` boolean. Using a boolean variable that is set to false (via postman.setEnvironmentVariable) in a query string results in an empty parameter in a query string that uses the variable.

[2018-04-12 03:54] Lovejeet1991 commented on #1196
hi, i am using postman version 6.0 and for my testing suite i am using csv for passing data.
my csv file containing 10 rows which i can in preview after file select but postman not able to count iteration for that. ii tried with both txt and json file

[2018-04-12 09:31] BarbaraGoeller-AIT commented on #1465
I have the same problem, that  some variables are not resolved correct in the request body when executing the tests in Newman.. I am using Newman 3.9.3.
Is there any workaround for this problem? I would really appreciate any help since this issue blocks us to run Postmantests in a CI-CD-pipeline.

[2018-04-12 10:26] arninio123 commented on #1303
@kunagpal Any update yet? :)

[2018-04-12 15:57] rfarinel opened #1498 "Feature Request: Add functionalty to compare PM Response to a saved example"
Version and environment information:

 1. Newman Version: 3.9.3
 2. Windows 10:
 3. Newman Library
 3. Did you encounter this recently, or has this bug always been there: N/A
 4. Expected behaviour: N/A
 5. Command / script used to run Newman: n?A
 6. Sample collection, and auxiliary files (minus the sensitive details): N/A
 7. Screenshots (if applicable): N/A

Hi, I was wondering if the was any w

[2018-04-16 06:51] santhosh2512 opened #1501 "Get request has body with invalid details when ran through newman"
1. Newman Version (can be found via `newman -v`):3.9.3
 2. OS details (type, version, and architecture):Version 6.0.10
win32 6.1.7601 / x64
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there: Always noticed this issue
 4. Expected behaviour:Due to wrong request, invalid response we are getting and due to that upcoming reque

[2018-04-16 07:00] kunagpal commented on #1501
@santhosh2512 GET request bodies are not supported currently. I'll mark this as a feature request. 😄

[2018-04-16 07:29] kunagpal commented on #1477
Hey @mituljain19, sorry for the delay. I've managed to reproduce this, and will update this thread when any progress is made.

[2018-04-16 07:32] kunagpal commented on #1461
@gkaiser85 Thanks for reporting this, I was able to reproduce the described condition with the collection you provided. I'll update this thread when any progress is made. Cheers! 😄

[2018-04-16 08:39] santhosh2512 commented on #1501
Hi,

That was not my issue actually. I am saying while running collection using Newman, it sends wrongly framed request. I did not pass body contents in GET request but not sure from where the body contents are picked and sent in a request.

Its a bug.

Thanks

[2018-04-16 13:03] #1398 closed

[2018-04-18 04:11] santhosh2512 commented on #1501
thanks for the explanation. I have removed the body by changing it to POST. This issue can be closed.

[2018-04-18 04:11] #1501 closed

[2018-04-18 17:59] dlpooja89 commented on #1141
@Srisaibersys Can you share the custom report you created ?

[2018-04-23 13:37] alit-0 commented on #1211
I am facing same issue, while reading csv file having data within "" and running with newman.
Below is the sample data from csv file

format-1  tried <runs fine with POSTMAN runner but fails with newman>
SlNo | loanProduct
2      | "Regular"

format-2  tried < failed in both POSTMAN and newman>
SlNo | loanProduct
2      | "\"Regular\""

While running in newman, error shows <Invalid closing quote a

[2018-04-24 23:59] dvan93 opened #1505 "Error replacing {{variable}} with value when 'variable' = 0 in body of POST request"
Postman for Windows 6.0.10
Newman 3.9.3
Windows 10, 10.0.15063, x64

When running newman via CLI with a postman collection, environment/data/global variables inserted into JSON body of a POST request (e.g. {{variable_name}}) are removed (become blank in request) **when the value of the variable is equal to 0 (int)**. This causes request to fail as the JSON is no longer valid.

Sample JSON in POST

[2018-04-25 09:05] bartdkmediahuis commented on #1398
@kamalaknn : Any idea when this will be deployed to the stable newman version ? We do have a lot of tests failing on this bug. Switching to canary is not an option at the moment.

[2018-04-25 13:10] shubsaini09 opened #1506 "Immediate changes not reflected in jenkins"
1. Newman Version (can be found via `newman -v`): 3.9.3
 2. OS details (type, version, and architecture): Rhel 7.1
 3. Are you using Newman as a library, or via the CLI? Using Jenkins
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Command / script used to run Newman: newman run your-link

If you make any change in the collection and run your build in jenkins,

[2018-04-25 15:08] shubsaini09 commented on #1506
For sometime it was 5 minutes but now i see no changes. Even after an hour i see my jenkins taking old changes. My link is of the form: https://www.getpostman.com/collections/076fa3034435234. Also refer to this issue [#4491](https://github.com/postmanlabs/postman-app-support/issues/4491)

[2018-04-25 15:13] kunagpal commented on #1506
Interesting. While we take a closer look at this, could you switch to using the Postman API instead? This will ensure that the latest edition of your collection is fetched for the run. More details on this can be found here: https://github.com/postmanlabs/newman#using-newman-with-the-postman-api

[2018-04-25 15:42] shubsaini09 commented on #1506
I see that you want me to access my collection using a different form of URL. I did that but i won't be able to test if what you said fixed my issue or not until my issue [#4491](https://github.com/postmanlabs/postman-app-support/issues/4491) is fixed. My changes are not syncing with postman's server due to which i am getting old date of collection even after going through your way.

[2018-04-25 15:51] saratrajan opened #1507 "Query: Does Postman/Newman support running Collections/Jsons from another Master Collection/Json?"
## App Details:

[code]

## Query:
Is there a way to run Collections from a master level?
e.g: I have module-wise collections for each APIs. I need to be able to run all of them (or some of them) by mentioning the items/order from another Collection (like a Master).

I am not sure if this was a Postman or Newman question. So posting on both the forums.

[2018-04-26 14:44] intellix opened #1510 "JSON output is huge (120mb) vs JUnit (24kb)"
1. Newman Version (can be found via `newman -v`): **3.9.3**
 2. OS details (type, version, and architecture): **OSX Sierra**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: **n/a**
 4. Expected behaviour: **much smaller JSON reporter output**
 5. Command / script used to run Newman: `newman run fapi.postman_coll

[2018-04-26 16:34] kunagpal commented on #1510
@intellix The JSON report is indeed meant to be a holistic representation of the collection run, right down to the fine details. I'll mark this as a feature request for `--reporter-json-skip-responses` to avoid adding response data to the  inbuilt JSON reporter.

[2018-04-26 16:39] kunagpal commented on #1507
@saratrajan Could you provide more context on how these collections are arranged relative to each other? If they're files in a folder, then you can use Newman as has been described here: https://github.com/postmanlabs/newman/blob/develop/examples/run-collections-in-directory.js, in order to run the collections together.

Alternatively, you can effectively trigger collection runs from within a coll

[2018-04-26 17:29] Mohammad-sabbagh commented on #1351
@kunagpal I am able to reproduce this issue using HTML and Junit reporters but it happens intermittently with the following environment:
Node v8.11.1
Newman v3.9.3
OS: Windows 10

[2018-04-26 17:47] saratrajan commented on #1507
Hey @kunagpal - Thanks for the response. I will surely check it out and update this thread.

[2018-04-26 19:17] michelics opened #1511 "Newman post x-www-form-urlencoded request return undefined"
When I run the command newman return: undefined.

But works using Postman Runner

![image](https://user-images.githubusercontent.com/15693278/39327019-1d83d69c-496d-11e8-946b-f83768dfd502.png)

![image](https://user-images.githubusercontent.com/15693278/39327045-360b37dc-496d-11e8-92ff-ec801b971478.png)

![image](https://user-images.githubusercontent.com/15693278/39327064-459ee662-496d-11e8-8028-6

[2018-04-26 20:08] samreenadil commented on #1070
Hi @kunagpal , Can you please elaborate how to create this (above screenshot) from Postman or please suggest any other tool to test API and generate HTML reports. Please help.

[2018-04-26 20:11] samreenadil opened #1512 "Please explain how to create this (below screenshot) from Postman or please suggest any other tool to test API and generate HTML reports. Please help."
![image](https://user-images.githubusercontent.com/38338777/39329463-5ea063da-496c-11e8-8add-735afe41e378.png)

[2018-04-27 04:03] prakharjoshi commented on #1512
Hi @samreenadil the above screen shot that you mentioned is Postman runner screen shot which you will see when you run the collection through Postman App.

Regrading HTML reporter, Newman supports HTML reporter and you can extract the summary in HTML from Newman run by passing an extra CLI option `--reporter-html`. Check this out for better understanding https://github.com/postmanlabs/newman#html-

[2018-04-27 05:12] prakharjoshi commented on #1511
Hi @michelics I have couple of doubts here, while sending request through Postman you are setting content-type in request body and disabled the content-type header. Can you please enabled the header and try to run it with Newman again? If it doesn't work do let us know and also share the sample collection and environment that you are using for Newman run.

[2018-04-27 16:46] deb761 opened #1513 "Newman 9.11.1 does not fill in Authorization header for OAuth 2.0"
1. Newman Version: v9.11.1 win32 x64
 2. OS details: Windows Server 2016, node 5.6.0:
 3. Are you using Newman as a library, or via the CLI?  CLI
 3. Did you encounter this recently, or has this bug always been there:  Not present on Windows 10 with node v8.10.0, newman 9.8.3
 4. Expected behaviour:  Newman to fill in Authorization header as specified in OAuth 2.0 settings
 5. Command / script use

[2018-04-29 02:46] sivcan opened #1514 "How to run docker for newman with environment and global json"
Issue originally opened by [Saripr](https://github.com/saripr)

https://github.com/postmanlabs/postman-app-support/issues/4504

--

Running newman docker with json throws could not find the file even though the file exists in the path and the path is correct
App Details:

Version 6.0.10
newman 3.9.1

Postman for Ubuntu
Version 6.0.10
ubuntu 16.04 LTS

Issue Report:
Did you encounter this recently,

[2018-04-29 20:05] saripr commented on #1514
Also tried in a newman version 3.9.2 and still having the issue

[2018-04-30 14:53] floppyrom opened #1516 "JavaScript heap out of memory"
Hi

I get this error when running my Postman tests on Jenkins with Newman 3.9.3

Security context: 0x2a7f428cf781 <JS Object>
    1: SparseJoinWithSeparatorJS(aka SparseJoinWithSeparatorJS) [native array.js:~75] [pc=0x1f862cee9cc5] (this=0x2a7f42804381 <undefined>,w=0x264fcb504739 <JS Array[8896703]>,F=0x1eb5b5f73599 <JS Array[8896703]>,x=8896703,I=0x2a7f428b7931 <JS Function ConvertToString (Shar

[2018-04-30 15:02] kunagpal commented on #1516
@floppyrom Could you share how exactly Newman is being used? (CLI/script)

[2018-04-30 15:04] kunagpal commented on #1507
@saratrajan Marking this issue as closed, feel free to revert if you're facing issues.

[2018-04-30 15:04] #1507 closed

[2018-04-30 15:07] floppyrom commented on #1516
Hi

I have a job which is executing tests on a docker container which holds a Wildfly 10.

I have some tests that check GETs, PUT and POST calls. A few of these GETs retrieve >20K records in JSON format.

This is how I call the newman from Jenkins

newman run test_collection.postman_collection.json --timeout-script 300000 --environment DEV.postman_environment.json --insecure --disable-unicode --re

[2018-04-30 15:35] kunagpal commented on #1516
@floppyrom Which version of Node are you using?

[2018-04-30 15:36] floppyrom commented on #1516
I have node v6.12.0

[2018-04-30 15:41] kunagpal commented on #1516
Could you retry this with: `--max_old_space_size-2048`? (underscore separators instead of hyphens)

v6.12.0 has a bug that was fixed in https://github.com/nodejs/node/pull/14093. Versions of Node beyond this one should accept both forms.

[2018-04-30 15:42] floppyrom commented on #1516
Awesome. I will update and let you know on wednesday. Thanks for the help so far :D

[2018-04-30 16:37] michelics commented on #1511
Newman command:
newman run test.postman_collection.json --folder xyz -e hti_env.postman_environment.json -g globals.postman_globals.json -r html,cli --reporter-html-template template-default.hbs --reporter-html-export reporter.html

[2018-04-30 16:44] michelics commented on #1511
I tried with content-type enabled and disabled doesn't work.
Is it necessary a differnt configuration to run by newman with success?
Because ran by Runner with success, but by newman fails. I think that is related x-www-form-urlencoded

[2018-05-01 02:39] adzhanson opened #1519 "Newman fails when run with WDIO/Mocha"
Hi,
I am pretty new to coding so this may well be a user issue.
However I am trying to run a collection from mocha using the Newman npm library. When I do so only the first request in the collection gets run. I don't see any errors in the console log and the results are not reported. I am using the default cli reporter.

If i run the same collection from a command line it completes all requests as

[2018-05-01 07:28] kunagpal commented on #1519
Could you share same Mocha test specs that would help us reproduce this behaviour? A snippet of the form below should run all collection requests correctly:
[code]

[2018-05-01 07:40] kunagpal commented on #1516
@floppyrom Marking this issue as closed, feel free to revert if you're having difficulties 😄

[2018-05-01 07:40] #1516 closed

[2018-05-01 15:15] porterfc commented on #1211
I had the same problem, the csv data file worked in Postman but not in Newman.
To resolve the issue, after saving the file from Excel I replace all "" with \".

[2018-05-01 21:13] adzhanson commented on #1519
Hi kunagpal

Thankyou for your response. I am using WebdriverIO to run the mocha framework. The WDIO config is here:

const env = require('process').env

const inBrowserstack = (env.E2E_ENV === 'browserstack')

let WdioTestRailReporter = require('./node_modules/wdio-testrail-reporter/lib/wdio-testrail-reporter')

exports.config = {
  //
  // ==================
  // Specify Test Files
  // ========

[2018-05-04 15:35] mtoothman commented on #1484
I also experienced this error, and it was resolved by updating to 3.9.3. Thanks!

[2018-05-08 12:53] Narendra-WAL opened #1522 "HTML report not getting created when using Postman through docker image"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2018-05-08 15:58] ChetanAdiverekar commented on #797
hey Guys...did you get to close this issue? i tried all the suggestions mentioned above with the latest node and newman versions but its still failing...can someone please help?

[2018-05-08 15:59] ChetanAdiverekar commented on #797
@kunagpal @czardoz can you guys please help here?

[2018-05-08 16:12] d82ej9du7 opened #1523 "connect ETIMEDOUT error with Newman, but not with Postman"
Hello everybody.

I'm having this problem. With POSTMAN, I'm sending, for example, a POST request to the IP: **https://postman-echo.com/post**
When I send it from POSTMAN, I got a response, but executing from NEWMAN (newman run Testing.json) I'm always getting the connect ETIMEDOUT error.
It is an example, but happend with any other project, works in POSTMAN but fails in NEWMAN.
My NEWMAN version

[2018-05-08 16:16] asalavadigit opened #1524 "Jenkins Console Output doesn't display the detailed test run result."
Jenkins console output displays just the SUCCESS/FAILURE message after the job is executed for the postman collection using newman. I would like the result to be displayed with more details with the test run like iterations, pass and fail status. any help would be appreciated!

![image](https://user-images.githubusercontent.com/38331691/39769436-d034774a-52b1-11e8-86d3-2dc89a0d866a.png)

However,

[2018-05-09 03:00] kyungmi commented on #764
I solved this problem with `-g` option.

`newman run -g environment.json --global-var "foo=bar"`

[2018-05-09 07:44] d82ej9du7 commented on #1523
Fixed!!! :)
It was a proxy matter. I wrote these two commands in the cmd console:
**set HTTPS_proxy=myuser:mypassword@ipoftheproxy:portoftheproxy**
**set HTTP_proxy=myuser:mypassword@ipoftheproxy:portoftheproxy**

Thanks :)

[2018-05-09 07:45] #1523 closed

[2018-05-09 08:06] abhishekprsetty opened #1526 "Not able to run newman command, getting error on Ubuntu 14.04"
1. Newman Version (can be found via `newman -v`):
On executing this command, getting error: usr/local/lib/node_modules/newman/bin/newman.js:235
        _.forEach(reporters, (reporter) => { parsed[reporter] = {}; });
                                         ^
SyntaxError: Unexpected token >
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Modu

[2018-05-09 08:08] abhishekprsetty commented on #1524
run this command to save the output:  newman run mycollection.json --reporters cli,json --reporter-json-export outputfile.json

[2018-05-09 11:09] kunagpal commented on #1526
@abhishekprsetty Newman does not support versions of Node below v4, you'll have to upgrade your Node version to at-least the latest v4.x release, which is v4.9.1 at the time of writing.

[2018-05-09 11:09] #1526 closed

[2018-05-09 11:12] kunagpal commented on #1514
@saripr Apologies for the delay, you'll have to run as follows:
[code]

[2018-05-09 11:13] #1514 closed

[2018-05-09 12:33] abhishekprsetty commented on #1524
Yes it was issue with Node version. On upgrading it. It worked fine.
Thanks a lot. 👍

[2018-05-09 12:35] abhishekprsetty commented on #1526
Yes on upgrading it. Worked fine thanks 👍

[2018-05-10 11:57] bartmanus opened #1527 "Default HTML report template multiplies folder and request IDs"
## Problem description

Default HTML report template at [newman/lib/reporters/html/template-default.hbs](https://github.com/postmanlabs/newman/commits/develop/lib/reporters/html/template-default.hbs) reuses folder and request IDs between iterations:

* Reuses folder ID (`parent.id`) for collapsible folderData `div` in the `{{#each aggregation}}` block
  * causing report with multiple iterations to

[2018-05-10 13:50] asalavadigit commented on #1524
Thanks for the response. However, I would like to view the detailed result on the Jenkins console output itself.  am i missing any additional step to display the result?

[2018-05-11 02:18] rohitparethodi opened #1529 "HTML report generated shows the same value for all iterations when using a data file with multiple data sets"
1. Newman Version : 3.9.3

 2. OS details : Windows 8 64 bit

 3. Are you using Newman as a library, or via the CLI? Node module and CLI. Both have the same issue

 3. Did you encounter this recently, or has this bug always been there: I encountered recently. Could have always been there

 4. Expected behaviour: the results for different data iterations on a collection should show up in the html r

[2018-05-12 22:59] adzhanson commented on #1519
Hi @kunagpal

I was just wondering if you had a chance to look into this?

[2018-05-14 01:55] saranyal opened #1530 "Jenkin Pipeline for Postman test using Newman is not successful"
Hi there,

I have a postman collection which I am successfully able to run in newman. I wanted to create a Jenkins pipeline on a Windows machine and followed the Blogpost under Postman site but I am facing error while building the project in Jenkins.

So, this is what the command I use to run the collection via newman:

**newman run Test.postman_collection.json -e Stage-Test.postman_environment.js

[2018-05-14 06:26] kunagpal commented on #1530
@saranyal This appears to be independent of Newman, as the shell script driver is missing. You can confirm this by running `where sh` on the build machine, which will result in the global path to `sh` being returned, or an error if `sh` can't be found. You can also confirm that Newman is installed by running `where newman` for the sake of completeness.

[2018-05-14 06:31] #1484 closed

[2018-05-14 15:00] mccannt opened #1531 "Request Headers in HTML Reports Not Working"
1. Newman Version (can be found via `newman -v`):
`3.9.3`
 2. OS details (type, version, and architecture):
`Mac OS Sierra 10.12.6`
 3. Are you using Newman as a library, or via the CLI?
`CLI`
 3. Did you encounter this recently, or has this bug always been there:
`First time trying it.`
 4. Expected behaviour:
`I was expecting that I would be able to see the Request headers in the HTML report. `

[2018-05-14 17:37] r3ticuli commented on #1497
Hi @kunagpal ,

I'm trying to use newman in an AWS lambda, and this "statistical aggregation" default setting may be the reason why I keep butting heads with the allocated lambda memory limit. Is there a way to disable this setting?

[2018-05-14 22:46] mchippag commented on #841
Hi, I am trying to execute a Jenkins pipeline in which one stage is dedicated for newman run(using collection). I want to know if I can abort the build if my newman assertions are failed.

[2018-05-15 00:14] saranyal commented on #1530
Thanks
I did the following and it worked.

C:\Users\saranya\AppData\Roaming\npm\newman -c "C:\\workspaces\\APITesting\\Test.postman_collection.json" -e "C:\\workspaces\\APITesting\\Stage-
Test.postman_environment.json"

And also I used "Execute as Windows batch "

[2018-05-15 00:14] #1530 closed

[2018-05-15 06:40] kunagpal commented on #1497
@r3ticuli In that case, a way to fix this would be to add a 'light mode' flag that disables aggregation and only holds data for the current request.

[2018-05-15 10:39] kunagpal commented on #1531
@mccannt Could you take a look at the workaround suggested in https://github.com/postmanlabs/newman/issues/1376?

[2018-05-15 11:43] mccannt commented on #1531
@kunagpal Thx for the quick reply.

Are you talking about something like this? ...
[code]

I tried that block of code and did not have any luck.

[2018-05-15 12:46] DieGraueEminenz commented on #1465
You can try the following workaround, while waiting for the solution of this issue. I know, it does not solve the real problem. But it makes the tests work for now.

There is a general problem with the variable handling in Postman and Newman.
Sometimes the variables aren't stored correcty, especially if there are not of type String. You can try to convert them toString manually with
[code]
or
[cod

[2018-05-15 13:29] 1dal opened #1532 "Docker: basic example not working"
1. Newman Version (can be found via `newman -v`): postman/**newman_alpine33**:3.9.3
 2. OS details (type, version, and architecture): Debian 9 (Stretch), x64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: i started with Newman in Docker today
 4. Expected behaviour: newman is executed...
 5. Command / script used t

[2018-05-15 13:40] kunagpal commented on #1532
@1dal This will be fixed with 3.9.4, which is scheduled to go out later this week.

[2018-05-15 13:41] cbarlow1993 commented on #1141
I'm getting an identical issue.
The documentation is not clear on how one creates, installs and uses a new customer reporter. There are examples of custom reporters but no help on how to use them. If anyone has any guidance, I'd love to hear.

[2018-05-15 13:46] porterfc commented on #1211
Replacing the double quotes worked with CSV, I wasn't using JSON.

[2018-05-15 13:51] kunagpal commented on #1141
@cbarlow1993 While the custom reporter documentation is currently present here: https://www.getpostman.com/docs/v6/postman/collection_runs/command_line_integration_with_newman#custom-reporters, I'll be adding it to the repository README in a few days, which will help prevent unnecessary redirection.

[2018-05-15 13:56] 1dal commented on #1532
@kunagpal: hi, it is working, thank you for quick response

[2018-05-15 13:59] #1532 closed

[2018-05-17 05:41] abhishekprsetty opened #1535 "How to check whether tests are failed or not on running newman tests with command line commands"
1. Newman Version (can be found via `newman -v`): 3.9.3
 2. OS details (type, version, and architecture): Ubuntu 16
 3. Are you using Newman as a library, or via the CLI? Yes
 3. Did you encounter this recently, or has this bug always been there:NA
 4. Expected behaviour:
If I am running following command, How to check if the tests are failed, execute some number of tests. Could you please help ho

[2018-05-17 06:09] prakharjoshi commented on #1535
@abhishekprsetty Can you share the sample collection that you are executing with Newman. You are bailing out if there is any error and skipping the Newman folder. Can you confirm, it is not the case? Also, If everything works fine then the tests result will be available at the `outputfile.json` which will be created in the same folder from where you are running the Newman.

[2018-05-17 06:33] abhishekprsetty commented on #1535
Yes, Its correct. /ingestion.postman_collection.json this is just collection of apis to run where I am checking only for response status code.

 Could you please help how I can check with newman if the tests are passed or failed by executing the command.?

[2018-05-17 13:26] MarcosEllys commented on #1303
@kunagpal Any update yet?

[2018-05-17 14:26] decu69 commented on #1461
Are there any news when this would be fixed? I lost couple of hours finding that my script is correct but junit reporter can`t interpret such request in a correct way.

[2018-05-17 14:28] zodikadem commented on #1303
@kunagpal, it is been more than 6 months since I reported this issue. Any plans on fixing it ?
if not, please let us know.

[2018-05-18 11:51] kunagpal commented on #1535
@abhishekprsetty The command will exit with a status code of 1 if any tests have failed, or other errors have occurred. You can use `$?` variable immediately after the newman run command in your snippet to check for the state of completed runs. Alternatively, you can add `set -e;` at the very beginning of your script, so that any failed command automatically causes the script to bail out with a no

[2018-05-18 11:52] kunagpal commented on #1519
Hey @adzhanson, apologies for the delay. Unfortunately, I haven't been able to look into this yet but will get back to you as soon as I have done so.

[2018-05-18 12:17] kunagpal commented on #1489
Apologies for the delay @hasanyc, but this is intended behaviour. The inbuilt HTML reporter aggregates statistics across multiple iterations.

[2018-05-18 12:17] #1489 closed

[2018-05-18 12:25] kunagpal commented on #1529
@rohitparethodi @chrisron95 This is intended behaviour, as the HTML report is meant to aggregate statistics across multiple runs. As for the request displayed in the markup, this is picked up from the first occurrence of that request, which would be the one from the first iteration.

[2018-05-18 12:26] kunagpal commented on #1531
@mccannt You'll have to use `@key` and `@value` for the request headers names and values respectively, instead of `this.key` and `this.value`.

[2018-05-18 12:30] kunagpal commented on #1413
Closing as a duplicate of #1203

[2018-05-18 12:30] #1413 closed

[2018-05-18 12:35] #642 closed

[2018-05-18 12:37] #1531 closed

[2018-05-18 12:38] #1512 closed

[2018-05-18 12:39] tegomass commented on #1303
+1 :D

[2018-05-18 13:03] kunagpal commented on #1477
Hey @mituljain19, a quick update: The string representation you see in the console output is intended to be as is (so as to provide exact string representations for better debugging). You can use separate console.log statements to achieve the desired newline effect.

[2018-05-18 13:03] #1477 closed

[2018-05-18 13:15] kunagpal commented on #1511
@michelics Apologies for the delay, could you share the following details?
1. The exported collection (so that I may verify that the Content-Type header is present). Feel free to remove any sensitive details.
2. The result of adding `console.log(pm.request.headers);` to your request's test script.

[2018-05-18 13:19] kunagpal commented on #1482
Hey @amanautomation, I haven't had any success trying to reproduce this. Are you still facing this issue?

[2018-05-18 13:31] kunagpal commented on #1363
Sorry about the delay in getting back to you @thalesEbsco, it looks like there could be an issue with handling assertions in deeply nested pm.sendRequest blocks. I'll have to construct a similar example and confirm. In the meantime, could you try increasing the timeout values and see if that helps? The options are documented here: https://github.com/postmanlabs/newman#newman-run-collection-file-so

[2018-05-21 01:39] rohitparethodi commented on #1529
@kunagpal be that as it may, the report has separate entries for those iterations and the end result is misleading. This behaviour  has made the html report almost unusable for my data driven tests

[2018-05-21 12:35] MarkSonghurst commented on #1465
I am also blocked by this bug :-(
For me query parameters defined by an environment variable (a number) set in my post scripts are not appearing in the URL when my collection is run through newman on the CLI.
I have no issues when running the collection with Runner (or manually step-by-step in Postman).

URL defined in Postman:
`https://{{host}}/users/{{user_login.user_id}}?org={{user_login.org}}`

[2018-05-21 13:58] decu69 commented on #1461
The true is that the issue is not about nested request. The issue could be easily repeated by using pm.sendRequest in Tests - in that case, junit reporter would ignore the result, even if you have pm.test() somewhere in your test definition.

[2018-05-22 07:05] kunagpal commented on #1412
@xiaweixing While this is not being worked on at present (since the change in behaviour spans multiple services and systems), a workaround is to fetch the collection from the URL manually and manipulate the collection to include the file paths. This could be done via a simple script that fetches the collection from the Postman API, injects the file paths in the JSON, and runs the collection using

[2018-05-22 07:08] kunagpal commented on #1465
@MarkSonghurst Thanks for chipping in, this bug will be fixed with the next release.

[2018-05-23 10:58] cbarlow1993 opened #1541 "Accessing an single array item in handlebars template does not work"
1. Newman Version (can be found via `newman -v`): 3.9.3
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? Both
 3. Did you encounter this recently, or has this bug always been there: Only recently used newman, can't say.
 4. Expected behaviour: As per the handlebar docs, individual nested array values should be accessible
 5. Comman

[2018-05-23 14:04] cbarlow1993 commented on #1541
@kunagpal Thanks for the response. I'm not trying to loop through the data. That works fine, as does the example above.

I'm trying to just reference the first item in the array, for example body.formdata.[0].value, without wanting loop through the rest of it.

Sorry for the confusion.

[2018-05-23 14:38] kunagpal commented on #1541
@cbarlow1993 Yes, this was an example that could be expanded. For your specific use case, you could use the following:
[code]

[2018-05-23 14:43] cbarlow1993 commented on #1541
Completely missed the adjustment - thanks for setting me straight!

Is there a summary of the differences between why this behaviour might run in Newman but not in normal handlebars. Just in case I come across something similar in the future?

[2018-05-23 14:59] cbarlow1993 commented on #1541
Great, thanks for the clarification 😄. I'll close this issue now.

[2018-05-23 14:59] #1541 closed

[2018-05-23 18:58] sk039143 commented on #1162
@cladjules I was able to get this working and reliably. I configured jenkins to use NodeJS 10.1.0 (maybe the latest available) with newman@3.9.3.  I think 3.9.3 may be the highest version of newman available as well.  It's been running well for 2 days now.

[2018-05-24 13:44] UA55 opened #1542 "Unable to run Postman collection in Newman which has dynamic variables and parsing in the test scripts"
First of all I tried to run the newman from the cmd but it didnt work (newman’ is not recognized as an internal or external command, operable program or batch file..) I tried all possible solutions and it doesn't seems to work.
so now I am using the node.js cmd and my collections seems to be running atleast but they are not recognizing my environment variables even when I export the environment fi

[2018-05-24 13:45] kunagpal commented on #1542
@UA55 Could you complete the provided issue template? It'll help us resolve your issue faster 😄

[2018-05-24 13:48] UA55 commented on #1542
What details am I missing??
Node Js verison : 10.1.0
npm version: 5.6.0
I am using Postman installed on my desktop and not the google chrome extension.
Let me know if you need any additional details

[2018-05-24 13:55] kunagpal commented on #1542
@UA55 Thanks for sharing those details, could you also go through the following?

1. Newman isn't recognized: Could you confirm that you have installed Newman globally using npm, like so? `npm i -g newman` (This might require you to open up a command prompt/PowerShell terminal in Administrative mode).
2. Could you also confirm that the Newman executable was added to your system path correctly by r

[2018-05-24 14:19] kunagpal commented on #1542
@UA55 No, the question mark was not needed. Could you go through the solution described here: https://stackoverflow.com/questions/23860262/npm-global-install-does-not-add-packages-to-path-on-windows-8-1?  There are known issues where globally installed `npm` modules would not become instantly usable in Windows.

[2018-05-24 22:28] lexon commented on #1524
What is the exact command you execute? Did you provide the cli reporter?
For me it’s working fine, although running on OS C.

[2018-05-24 22:32] lexon commented on #1511
For better debugging, run newman with: NODE_DEBUG=http newman run ...

[2018-05-24 22:52] lexon commented on #231
Over one year ago? Sounds simple to me:
1. just add a new entry in postman request context menu „disable for runner“
2. add a new bool flag in the json export
3. add if statement in the newman/runner request loader before starting request?
4. grayout/add icon in postman ui to mark the request as disabled

[2018-05-25 01:41] kunagpal commented on #1505
@dvan93 Could you try this out with Newman 3.9.4 and confirm that it works correctly?

[2018-05-25 01:42] #1505 closed

[2018-05-25 01:42] kunagpal commented on #1465
@MarkSonghurst @vdespa @DieGraueEminenz @BarbaraGoeller-AIT @etspaceman Could you try this with Newman v3.9.4 and confirm that it works correctly?

[2018-05-25 01:42] #1465 closed

[2018-05-25 01:43] kunagpal commented on #1431
@Izidi Could you try this out with Newman v3.9.4 and confirm that it works correctly?

[2018-05-25 01:43] #1431 closed

[2018-05-25 01:45] kunagpal commented on #1426
@wbruce31 This has been fixed with Newman v3.9.4 😄

[2018-05-25 01:45] #1426 closed

[2018-05-25 01:46] kunagpal commented on #1527
@bartmanus This has been fixed with Newman v3.9.4 😄

[2018-05-25 01:46] #1527 closed

[2018-05-25 01:46] kunagpal commented on #1367
@htmtester This has been fixed with Newman v3.9.4 😄

[2018-05-25 01:46] #1367 closed

[2018-05-25 04:31] MarkSonghurst commented on #1465
It works!! Many thanks.

[2018-05-25 08:06] yandongyan commented on #1489
I encounters the same issue. Is there any workaround to solve this?

[2018-05-25 11:21] enesyalcin opened #1547 "list failures stack in the html report"
It would be nice to have the failures stack in the html report.

![image](https://user-images.githubusercontent.com/17004938/40541837-cb220352-601d-11e8-9da9-661e87d9e38a.png)

This is not enough to grasp the exact error. Therefore the Information which is at the Bottom of the cli Output is also needed in the html report.

![image](https://user-images.githubusercontent.com/17004938/40541922-19534f

[2018-05-25 15:32] gaigaslab opened #1548 "Latest docker image breaks Basic Auth"
1. 3.9.4 (worked in 3.9.3)
 2. MACOS
 3. Both
 3. May 24, 2018 10am
 4. Basic Auth embedded in postman image works
 5. newman run <image> -k
 6.
[code]

7.  + npm install newman --global --no-spin
WARN engine hawk@6.0.2: wanted: {"node":">=4.5.0"} (current: {"node":"4.3.2","npm":"2.14.12"})
WARN engine hawk@6.0.2: wanted: {"node":">=4.5.0"} (current: {"node":"4.3.2","npm":"2.14.12"})
[code]

[2018-05-25 22:50] sambenison66 opened #1550 "Custom reporters are not loaded to newman run"
I tried to install a custom report 'teamcity' and tried to use it during newman run, and eventhough the package is installed properly, it throws 'reporter could not be loaded' error.

Please find the below details:
<img width="667" alt="newman" src="https://user-images.githubusercontent.com/5916505/40569011-257efb38-6033-11e8-9cd6-01006be90ce0.png">

Same issue happens when I created my own report

[2018-05-26 07:53] kunagpal commented on #1550
@sambenison66 I was unable to reproduce this on Node v10.2.1, and npm v6.1.0 with the following steps in a temporary folder that had just the collection file:
[code]

Could you try the above out and confirm that there is an issue?

[2018-05-26 12:43] kunagpal commented on #1527
@bartmanus A quick update: This is by design, as the HTML reporter is meant to display aggregated request results. The original P.R was merged in haste, I've issued a revert in #1552

[2018-05-27 09:12] MarkSonghurst opened #1556 "Environment variables used as query parameters are used literally %7B%7Byikes%7D%7D"
1. Newman Version (can be found via `newman -v`): 3.9.4
 2. OS details (type, version, and architecture): CentOS 7.latest
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Don't know, was blocked by #1465 previously.
 4. Expected behaviour: Environment variables in URL to be resolved by newman.
 5. Command / script us

[2018-05-28 09:28] MarkSonghurst commented on #1556
This was a bug in my Test script which was not assigning environment variables correctly.
Kinda ugly that newman doesn't detect and warn on this, but at least I figured it out.
Closing the issue.

[2018-05-28 09:28] #1556 closed

[2018-05-28 09:31] kunagpal commented on #1556
@MarkSonghurst Thanks for sharing that, we could consider adding a CLI reporter flag that displays warnings on missing variables.

[2018-05-28 09:33] MarkSonghurst commented on #1556
I think that would be really useful!

[2018-05-28 23:54] xiaweixing commented on #1412
@kunagpal I tried this yesterday and found that the json format for formdata section is same as exported one now, so I guess this issue was fixed somehow, maybe as a side effect by some other fix?  Anyway, it works well with newman now, but it's not working in postman runner, request body is empty, not sure why.

[2018-05-29 09:49] Narendra-WAL commented on #1522
This has been in the same state since quite some time.
Please let me know if you need any help in investigating this.

[2018-05-29 10:33] Izidi commented on #1431
@kunagpal sorry for the delays in responding. This is working for me now using v3.9.4.

Thanks 👍

[2018-05-29 21:08] rakeshk1987 opened #1557 "Test working in Postman but fails in Newman"
1. Newman Version : **3.9.3**
 2. OS details : **Win 7 64 Bit**
 3. Are you using Newman as a : **CLI**
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: The "**pm.expect(res).to.be.badRequest**" test is working fine in Postman but fails in Newman
 5. Command / script used to run Newman:

**Newman error:**
[code]

**Postman Test**: _pm.expect(

[2018-05-29 21:16] kunagpal commented on #1557
@rakeshk1987 Could you confirm that this bug was fixed with Newman v3.9.4?

[2018-05-30 11:27] alexisCata opened #1558 "--disable-unicode not working"
The newman output is the same using or not using --disable-unicode

 1. Newman Version: 3.9.4
 2. OS details: Windows 10 Enterprise 64bits
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour: Not show unicode chars
 5. Command / script used to run Newman:

newman run "PE.postman_collection.json" -

[2018-05-30 11:29] kunagpal commented on #1351
@EstherSalinas @Mohammad-sabbagh @termleech Could you check if this persists with Newman v3.9.4?

@benjamin-martin987 Your issue appears to be related to extracting reports from within a Docker container to outside of it. Could you take a look at https://github.com/postmanlabs/newman/issues/1522#issuecomment-393125766?

[2018-05-30 11:32] kunagpal commented on #722
@Kriz1881 Closing issue due to lack of activity. Feel free to create a new issue if you're facing difficulties. Thanks! 😄

[2018-05-30 11:32] #722 closed

[2018-05-30 11:39] kunagpal commented on #1558
@alexisCata I was unable to reproduce this locally with Newman v3.9.4. While I dig deeper, could you run this with the `--no-color` option as well and share the result?

Additionally, I'm assuming that `text` here is a custom reporter, as Newman does not have an inbuilt reporter by that name.

[2018-05-30 12:34] rakeshk1987 commented on #1557
Yes. The bug is fixed in Newman v3.9.4.

Please go ahead and close the bug.

[2018-05-30 12:37] #1557 closed

[2018-05-31 00:33] bhanupinninti opened #1559 "403 Error"
Hi Team,

We are using Postman chrome plugin extension. We encountered 403 error while doing a post request to our API.

 1. Newman Version- Postman for Chrome Version 5.5.2
 2. OS details - Windows 7 prof
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: Should post and get a response
 7.

[2018-05-31 06:46] rawaludin opened #1560 "Can't run docker newman with local file on Mac"
Steps to reproduce the problem:

[code]

As you can see the container can't see my collection.json file.

Here's my Mac docker sharing preference
<img width="612" alt="screen shot 2018-05-31 at 13 44 52" src="https://user-images.githubusercontent.com/1274849/40766238-0439c2aa-64d9-11e8-832d-623d06980053.png">

I can confirm that mount is working on alpine image:

[code]

What should I do to fix th

[2018-05-31 06:57] rawaludin commented on #1560
Found it, the command should be:

[code]

[2018-05-31 06:57] #1560 closed

[2018-05-31 18:35] SowmyaT commented on #525
@kunagpal , I have tried to upload the image file as binary data. That file is uploaded fine but not in valid format, gets conversion failure while running with Newman. Any idea about this, kindly let me know.

[2018-06-01 00:41] MarcosEllys commented on #1547
Hey @enesyalcin I had the same problem when I created my custom template and I shared it here https://github.com/MarcosEllys/newman-html-report-template-verbose.

If you want, you can test it

[2018-06-01 09:51] kunagpal commented on #1542
Hey @UA55, is this issue still occurring for you?

[2018-06-01 09:52] kunagpal commented on #1403
@Tiller Does this still happen with Newman v3.9.4?

[2018-06-01 09:54] kunagpal commented on #1379
@fengfan319 Could you check if this issue persists with Newman v3.9.4?

[2018-06-01 16:47] connorsadlervelo opened #1562 "newman globals exported with --export-globals cannot be loaded into postman"
newman: 3.9.4
postman: Version 6.1.3 (6.1.3)
Macbook Pro 16 GB , Sierra 10.12.6

I am running newman with "--export-globals" to produce a .json file containing global variable values.
I then try to Import that file into Postman but get an error:
Error while importing: format not recognized.

After some digging (comparing with a globals file exported from Postman) I found the "name" field is missin

[2018-06-01 16:54] connorsadlervelo commented on #1562
For completeness:

**File exported from newman:**
[code]

**File exported from Postman:**

[code]

[2018-06-01 18:30] kunagpal commented on #1562
@connorsadlervelo This is happening because the exported variables file will not have a name when there are no variables to begin with, as is the case here. Thanks for reporting this, I've created a patch here: #1563 😄

[2018-06-03 06:39] Mohammad-sabbagh commented on #1351
@kunagpal yes still can replicate this on Newman v3.9.4

[2018-06-03 14:08] junghanChoi commented on #1550
May I ask how to see the report? Do I have to install team city program?

[2018-06-04 06:14] kunagpal commented on #1550
@junghanChoi https://github.com/postmanlabs/newman#creating-and-using-custom-reporters

[2018-06-04 14:43] connorsadlervelo commented on #221
Is there no way of easily creating a file with each request/response pair in it?

[2018-06-04 17:13] sambenison66 commented on #1550
@kunagpal - The issue is fixed for team-city when I used -g to install globally, but I still see the issue for my own custom reports. Were you able to run your JSON with your own HBS file?

[2018-06-05 07:59] alit-0 commented on #1211
In CSV file, Replaced double quotes with backslash double quote.
Same my constructs my input JSON in CSV file. In more details I have a excel file having columns loanproduct, disclosure, loan amount, feemount and their corresponding values (\"Regular\", \"EIR\", \"25236.21\", \"175\"). Then I generates the input JSON in another column (ex: inputxyz). Post that SAVE the file in CSV format.
Now my i

[2018-06-05 14:07] Patrik9 commented on #1529
Yes, the template is not usable for multiple iterations. Do you plan to add tabs for example for multiple iterations of a same test? Thaaaat would be amazing. Otherwise good job on the template but I need to find something else because I need report with multiple iterations.

[2018-06-05 21:59] #1548 closed

[2018-06-05 22:40] shamasis commented on #153
Using custom NodeJS modules from NPM is not in near or mid term roadmap. Mostly because the provisioning and security concerns that we need to resolve first. Adding this feature even at Newman and app level will cause workflow issues for majority of people who move between Newman, monitors and the app frequently.

Presently, there are ways around this:
1. execute repeated code in collection / fold

[2018-06-05 22:40] #153 closed

[2018-06-05 22:59] shamasis commented on #276
I have put some comment on #231.

For this issue, we need to discuss one of the following approaches:
1. Multiple folder switches
2. Regex match in folder switches
3. Also, request switches (with regex matches)

The thing to also look into is how Postman App and Monitors would handle this. And how much of confusion will it create if say, person-a shares collection with person-b expecting to run th

[2018-06-05 23:06] bincygijo commented on #712
Hi kunagpal ,
I am running my collection through newman .I have 9 iterations with the different set of data and based on the data other request is going.I use postman.setNextRequest("nameofrequest").But in my html report showing error ,for each iterations same data is listing.

Can you give solution for this problem?

[2018-06-05 23:13] shamasis commented on #339
This has been addressed. Quite some time back. Guess we forgot to close this ticket.

[2018-06-05 23:13] #339 closed

[2018-06-05 23:15] shamasis commented on #358
It's been a while. I still think the best way to do this is to use a simple script to extract relevant info and passing it to newman.

[2018-06-05 23:15] #358 closed

[2018-06-05 23:16] shamasis commented on #413
Closing issue. Also on another note, someone can create a newman reporter that saves all responses to file :-p

[2018-06-05 23:16] #413 closed

[2018-06-05 23:17] shamasis commented on #505
@kunagpal still relevant?

[2018-06-05 23:18] #545 closed

[2018-06-05 23:19] shamasis commented on #545
Closing this since programmatic approach is more feasible. And with the new setTimeout support in scripts, collection and folder level scripts and future plan to expose execution control from scripts, this issue should be addressed

[2018-06-05 23:20] shamasis commented on #567
https://github.com/postmanlabs/newman/issues/276 marking duplicate and closing

[2018-06-05 23:20] #567 closed

[2018-06-05 23:34] shamasis commented on #744
This is being tracked in main postman-app-support tracker. This feature is needed, but not exactly in the way we are thinking of. We would need to think more on this. 🤔

[2018-06-05 23:34] #744 closed

[2018-06-05 23:36] shamasis commented on #777
This will be taken up as part of execution control support in scripts

[2018-06-05 23:36] #777 closed

[2018-06-05 23:40] shamasis commented on #785
@kunagpal - we get error message from runtime when things time out. we can do something on the html reporter around this.

[2018-06-05 23:42] shamasis commented on #786
HTML reporter should expose more info around the error.

[2018-06-05 23:44] shamasis commented on #891
Someone can write a simple script to do that using newman programmatically. :-p This does not seem to be a feasible feature to have built inside newman considering what newman is meant to be and how big dump files can get for many users.

[2018-06-05 23:44] #891 closed

[2018-06-06 01:40] tkssharma commented on #408
[code]

Plug it with nyc/istanbul so we can capture coverage on same server instance !! this will help a lot
i am still trying to figure this out how can be done with node APIs

[2018-06-06 02:00] lexon commented on #231
Programmatically makes it more complex and also not clearly visible in Postman itself. I don’t understand why it would bring confusion, it’s a simple flag that a request should not be picked up by the runner/newman. Simple as that. I guess you guys make it too complex and try to over  engineer this feature

[2018-06-06 06:19] rawaludin opened #1571 "Getting error about block scoped variable, PR submitted"
I'm using postman on docker, getting this error:

[code]

After some investigation, I believe the problem was in node version. I made a PR to bump the version.

https://github.com/postmanlabs/newman/pull/1570

Can anyone check? Thanks.

[2018-06-06 06:57] #1571 closed

[2018-06-06 09:19] gas421 commented on #744
@shamasis can you post the link to this "main postman-app-support tracker"?
Is there a way to follow and get updates about this topic?
How are you going to proceed?
Thanks

[2018-06-07 06:35] pranavvvvvv commented on #1199
I am still facing issue " JSONError in test-script", while I am simply consoling the object of the JSON which I am retriving.
OS configuration are:
Windows 10.
Node : 5.6.0.
newman: 3.9.4

The command I am running - $ newman run colllection_test -e collection_env

[2018-06-07 10:45] vinaysuri1 opened #1572 "Modification of handlebar template (template.hbs) to display results iteration-wise in newman HTML report"
Hi all,

**How do I modify the handlebar template (template.hbs) so that results are displayed iteration-wise in newman HTML report?**

As of now, the report getting generated has all the assertions (from all the iterations) - listed down in one block.
And as many iterations are there - that many number of blocks are repeated with same data i.e. list of assertions.

Version and environment informa

[2018-06-07 16:14] kunagpal commented on #1199
@pranavvvvvv Please create a fresh issue here: https://github.com/postmanlabs/newman/issues/new 😄

[2018-06-07 21:27] mverma-va opened #1573 "Common Test at the folder level are not showing up in xml reports"
1. Newman Version: 3.8.3
 2. OS details (type, version, and architecture): Win10, x64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: xml Report should contain common test results for each api call
 5. Command / script used to run Newman: newman run soti_connect.postman_collection.js

[2018-06-08 06:42] shamasis commented on #797
@kunagpal - we could do cipher ALL for -k insecure mode. Will that impact normal operation of -k? @czardoz

[2018-06-08 09:10] deepakpathania commented on #1573
Hey @mverma-va, can you try updating to the latest version, that is, 3.9.4 and see if the still persists for you? Please provide additional details about the issue if it does. Thanks.

[2018-06-08 13:35] Alextunchii opened #1574 "If test not passed, place its 'responseBody' at the end of output as long as condition is set"
Hi. Successfully use newman for testing API. out tests are placed on ES2 server in TeamCity CI.

We have more than 200 requests.
For each request added responseCode check and condition, for instance:
if(responseCode.code !== 200)
[code]
And when 500 returned, response revealed in build.log directly where this request is placed in the order of all requests blanket, and to see quickly info what happ

[2018-06-08 14:01] mverma-va commented on #1573
Thanks @deepakpathania , updating to the latest version 3.9.4 fixed the problem, closing the issue.

[2018-06-08 14:01] #1573 closed

[2018-06-09 06:51] kunagpal commented on #1295
@azharmohammedk This has been fixed in https://github.com/postmanlabs/newman/pull/1553, and will be rolled out with the next release.

[2018-06-09 06:51] #1295 closed

[2018-06-09 06:54] kunagpal commented on #1542
@UA55 Closing issue due to inactivity, feel free to revert if you're facing difficulties 😄

[2018-06-09 06:54] #1542 closed

[2018-06-09 07:02] kunagpal commented on #1572
@vinaysuri1 The inbuilt HTML reporter aggregates run statistics across all iterations, so the data object provided to render the template contains aggregated information. A way around this is to write your own reporter, as has been explained here: https://github.com/postmanlabs/newman#creating-custom-reporters.

Feel free to reach if you have any other questions 😄

[2018-06-09 07:02] #1572 closed

[2018-06-09 07:03] kunagpal commented on #1574
@Alextunchii Thanks for reporting this, I've marked it as a feature request 😄

[2018-06-09 07:08] kunagpal commented on #1524
@asalavadigit This can be accomplished by using a JUnit parsing plugin for Jenkins, as has been described here: https://wiki.jenkins.io/display/JENKINS/JUnit+Plugin

[2018-06-09 07:08] #1524 closed

[2018-06-09 07:11] kunagpal commented on #1550
@sambenison66 Apologies for the delay. To answer your question: yes, I was to use local reporters correctly. As a rule of thumb, reporters need to be installed on the same level as Newman, i.e., global for a global Newman installation and likewise for local installs.

[2018-06-09 07:14] kunagpal commented on #1482
@amanautomation Closing issue due to inactivity, feel free to revert if you have any other questions 😄

[2018-06-09 07:14] #1482 closed

[2018-06-09 07:16] kunagpal commented on #1363
@thalesEbsco Closing issue due to inactivity, feel free to revert if you have any other questions 😄

[2018-06-09 07:16] #1363 closed

[2018-06-09 07:27] #871 closed

[2018-06-09 07:28] kunagpal commented on #842
@atellezr @ymedlop Closing issue due to inactivity, feel free to revert if you have any additional questions. 😄

[2018-06-09 07:28] #842 closed

[2018-06-09 07:29] #224 closed

[2018-06-09 07:30] kunagpal commented on #505
@shamasis Yes, these tests are still skipped. I'll see if I can send a quick pull request to un-skip them.

[2018-06-09 09:43] Alextunchii commented on #1574
@kunagpal thank you for accepting!
Already imagined how cool it will be!🙄
Made my morning.

[2018-06-09 11:56] kunagpal commented on #1379
@fengfan319 Closing issue due to inactivity. Feel free to revert if you have any other questions 😄

[2018-06-09 13:13] #505 closed

[2018-06-11 08:30] kunagpal commented on #1379
@fengfan319 The error message says:

npm WARN registry Using stale package data from http://registry.npmjs.org/ due to a request error during revalidation.
npm ERR! code ETARGET
npm ERR! notarget No matching version found for newman@3.9.4
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

This indicates that npm i

[2018-06-11 13:58] Al54321 commented on #1426
Hi,

Using Newman 3.9.4, the classname value seems to always be set to `JUnitXmlReporter.constructor`, which I'm not sure is suitable. Please could you give the following your consideration?

Based on the example from http://help.catchsoftware.com/display/ET/JUnit+Format above, the required pattern seems to be that the classname property of a testcase should be set to the testcase's parent testsui

[2018-06-11 18:19] kunagpal commented on #1511
@michelics Closing issue due to inactivity, feel free to revert if you have any other questions 😄

[2018-06-11 18:19] #1511 closed

[2018-06-11 19:46] MarcosEllys commented on #1303
@kunagpal Any update yet?

[2018-06-12 13:24] dhrubesh commented on #1452
This issue is someway similar to [#97](https://github.com/postmanlabs/newman/issues/97).  @JaimeLynSchatz take a look at this.

[2018-06-13 03:45] bhanupinninti commented on #1559
@kunagpal I created ticket https://github.com/postmanlabs/postman-app-support/issues/4684

I have tried installing native postman but it didnt solve my issue.

[2018-06-13 03:54] bhanupinninti opened #1581 "Postman - Newman Error: tunneling socket could not be established, statusCode=403"
Team,

I am running my postman collection from postman runner (chrome extension) by passing my input csv file and it is executing successfully.

When I run the same collection with same input file using newman or native postman app (V6.1.3) it is failing with the "Error: tunneling socket could not be established, statusCode=403". Please find the screenshots below..

Console log:
![image](https://u

[2018-06-13 04:06] bhanupinninti commented on #1581
adding @kunagpal

[2018-06-13 06:13] shamasis commented on #224
@kunagpal can you please provide closing reasons? i.e link to the app repo issue where this resides, etc

[2018-06-13 23:15] shamasis commented on #1574
@kunagpal - I’ve added it to v4 triage board. Can we elaborate on the feature’s behaviour here?

[2018-06-13 23:19] shamasis commented on #1550
I guess this issue has been resolved. Closing it. Please reopen otherwise or create a new issue if it’s a different issue than originally reported.

Keeping the issue tracker clean! 🌲🎄🌿☘️

[2018-06-13 23:19] #1550 closed

[2018-06-14 02:46] shamasis commented on #797
So, feature is to add`--insecure-ciphers` after passing option to runtime that takes `insecureCipher` http requester option.

[2018-06-14 02:54] shamasis commented on #866
Oh God! This has been really long and unattended. Real apologies. We actually missed updating the thread with our findings.

The issue happens when for any reason (they may be many) the response received from server was not parsable. There a number of issues around that and with varied solutions.

We reproduced one such issue in one server that apparently needed a trailing backslash! But for you,

[2018-06-14 02:54] #866 closed

[2018-06-14 03:06] shamasis commented on #902
Damn... we definitely missed updating these issues. Ok, here's something from some of my old notes from a different HAProxy test that I was doing:

[code]

It seems that I did not face socket hangup, but I did configure a bunch of global settings while stressing the system. Sadly, I didn't;t record with configs. :-( Anyway, I also recall socket hangup, but from something else in HAProxy, caused wh

[2018-06-14 03:06] #902 closed

[2018-06-14 03:14] shamasis commented on #935
This should be resolved as we add reported flags to trim request and response payloads. But I really like the light JSON reporter. Will recommend your reporter meanwhile. @Paramagnetic

[2018-06-14 03:17] benjamin-martin987 commented on #1351
@kunagpal #1522 is not related. The reports are to be written to a directory local to the Docker container. No volume mounting.

Newman v3.9.4 still contains the issue.

[2018-06-14 03:17] shamasis commented on #941
@kunagpal @kamalaknn we need to build a newman core summary object flag that does not retain / accumulate stuff at all.

Else, we need to check if turning off all reporters (including CLI) ensures a light operation. If that is done, then we can write an article on turning off the reporters and maybe using a light reporter to run many many requests.

[2018-06-14 03:19] shamasis commented on #1065
This should be resolved by better TV4 assertion APIs we are planning in Postman Sandbox.

[2018-06-14 03:28] shamasis commented on #1134
This appears to be a Bamboo specific issue. I'm afraid, none of us use Bamboo out here. But I did spot a number of issues (both solved and still open) around NodeJS CLI packages not properly working on Bamboo. Most of them were usually a configuration change or little tweaks to fix.

Have a look at https://confluence.atlassian.com/bamboo/getting-started-with-node-js-and-bamboo-687213472.html and h

[2018-06-14 03:40] shamasis commented on #1171
The strict mode would open up a huge pit for newman to fall into! This would mean we would need to track collection schema versions in newman as well as add handling to URL response handlers. That's quite a lot of work and that too in the wrong place (sorry).

Collection schemas are available for download and TV4 or there validation CLI can do the trick.

Closing this for now.

[2018-06-14 03:40] #1171 closed

[2018-06-14 03:52] shamasis commented on #1241
So the debate is ... should we have a polymorphic function return signature for headers? i.e. return string for single and array for multiple. Or find a way to add another function that takes care of this?

So, what happens with query string duplication? @kamalaknn

[2018-06-14 03:55] shamasis commented on #1250
setNextRequest will set the next "request" and not folder. :-)

Can we correct the documentation if it says otherwise? @kunagpal @loopDelicious

[2018-06-14 03:55] #1250 closed

[2018-06-14 04:33] shamasis commented on #1309
care must be taken to sanitise the output.

[2018-06-14 04:42] shamasis commented on #1349
Moved to https://github.com/postmanlabs/postman-app-support/issues/4695

[2018-06-14 04:42] #1349 closed

[2018-06-14 04:50] shamasis commented on #1446
@kamalaknn we need to support this

[2018-06-14 07:10] shamasis commented on #1493
We will not add this feature in HTML reporter since response can be of various types. I suggest someone create a reporter that saves every request response to file.

[2018-06-14 07:10] #1493 closed

[2018-06-14 08:28] Kiran-B opened #1582 "Newman CLI sometimes generates JUnit report that is not compliant with JUnit.xsd"
1. Newman Version (can be found via `newman -v`):
3.9.4

 2. OS details (type, version, and architecture):
macOS 10.13.5 64-bit
Node v10.4.1

 3. Are you using Newman as a library, or via the CLI?
CLI (installed globally via `npm -g` command )

 4. Did you encounter this recently, or has this bug always been there:
Not sure whether it was always been there.

 5. Expected behaviour:
JUnit XML repor

[2018-06-14 10:27] Alextunchii commented on #1574
@shamasis, of course, sure

[2018-06-14 11:57] peushan commented on #1109
Has anyone found any alternative for duplication in the report? I also have one end point with different data (which I am passing from csv) but in report shows only the first data set in all 10 iterations. Thanks in Advance

[2018-06-14 12:12] kunagpal commented on #1529
@rohitparethodi That was due to a bug, which was fixed in https://github.com/postmanlabs/newman/pull/1553. This will be out with the next Newman release.

@Patrik9 That is a good suggestion, we could consider adding that in a future release.

[2018-06-14 12:18] kunagpal commented on #1403
@Tiller Closing issue due to inactivity, feel free to revert if you have any further questions 😄

[2018-06-14 12:18] #1403 closed

[2018-06-14 12:36] kunagpal commented on #1109
@peushan The HTML reporter is meant to aggregate statistics across all iterations, multiple iterations showing up in generated reports is a bug that was fixed in https://github.com/postmanlabs/newman/pull/1553. This will become available with the next Newman release.

[2018-06-14 12:58] kunagpal commented on #1582
@Kiran-B Thanks for reporting this, a fix has been added in #1583 😄

[2018-06-14 17:50] edwinboy0312 commented on #645
@kunagpal Hey is there anyway i can trim the name of the report generated to just 'newman-run-report' , i dont want the file name to be suffixed with the timestamp.

[2018-06-14 17:53] kunagpal commented on #645
@edwinboy0312 You can append the `--reporter-html-export newman-run-report.html` option to your `newman run` command in order to achieve this.

[2018-06-14 18:14] #1582 closed

[2018-06-14 18:16] Kal6 commented on #1351
I am also facing this issue, xml report is getting generated with no details and 1kb size of file. mentiond below the file output. however html report is getting generated.
[Reports.zip](https://github.com/postmanlabs/newman/files/2103533/Reports.zip)

<?xml version="1.0" encoding="UTF-8"?>
<testsuites name="OOF_V1" time="0">
  <testsuite/>
  <testsuite/>
  <testsuite/>
  <testsuite/>
  <testsuite

[2018-06-14 18:53] #1134 closed

[2018-06-14 23:14] benjamin-martin987 commented on #1351
I had a thought, checked the documentation, and identified the cause (in my case anyway).

As per the Newman documentation, all options are to be listed after the collection:
`newman run <collection-file-source> [options]`
Stating the desired reporters before the collection will be ignored by versions **after** `v3.8.3`.

Works with Newman `v3.8.3` and earlier:
`newman run -r cli,junit my_collecti