[2018-06-15 01:56] edwinboy0312 commented on #645
@kunagpal Thanks ...It worked.

[2018-06-15 06:49] #1351 closed

[2018-06-15 08:47] kunagpal commented on #1581
@bhanupinninti Are you running behind a proxy that requires authentication? This isn't currently supported by postman-runtime, the underlying library that powers both: the Postman App, as well as Newman.

If not, could you confirm that the `HTTP_PROXY` and `HTTPS_PROXY` environment variables are set appropriately? The `HTTP_PROXY` environment variable should point to a http proxy endpoint, while t

[2018-06-15 08:50] kunagpal commented on #1519
Hey @adzhanson, apologies for the delay. After reading up on WDIO in more depth, I see that this is an attempt to get Newman to work in a browser environment. This is currently not supported (and probably never be), as Newman needs to have IO access (disk, network, etc) in order to work correctly.

[2018-06-15 08:50] #1519 closed

[2018-06-15 08:51] #1452 closed

[2018-06-15 08:56] #885 closed

[2018-06-15 10:25] kunagpal commented on #785
@keithmork Apologies for the delay, this is being worked on in https://github.com/postmanlabs/newman/pull/1584

[2018-06-15 13:11] JaimeLynSchatz commented on #1452
#97 is similar but not the same issue. Was this closed because the issue was resolved? Or closed because this functionality is no longer supported?

[2018-06-18 06:15] shamasis commented on #1109
@cchretien @joshualyon - I understand the disappointment. And I am completely with you on your points. But, we need a way to not keep on adding features to the internal HTML reporter. Over the course of time, newman has ended up being HTML reporter upgrades.

With such popularity of HTML reporter, I suggest we port out the HTML reporter and create a new one for advanced HTML reporting that is more

[2018-06-18 10:41] ivodvb commented on #137
Came here with a Google search, the answer to the question of @BancarelValentin can be found on https://github.com/postmanlabs/postman-collection/issues/230#issuecomment-329689317

[2018-06-18 11:06] reftel commented on #1250
I think you misunderstood the problem. @mstanielewicz' collection, as far as I can see, does not try to switch folder, but is instead assuming that the folder is _not_ changed by the `setNextRequest` call. We have the same issue in our collections. If the request name used in a call to `setNextRequest` is not unique across the whole collection, postman may jump to a request in a different folder.

[2018-06-18 13:11] cchretien commented on #1109
Looks like this was addressed in the end #1553

[2018-06-18 14:51] Kal6 commented on #1351
@benjamin-martin987 - Thanks for your reply, I have used the below command line in the same way as you mentioned. But still xml is getting generated with no results (1kb file). I have multiple folders for different API tests, So i used to folder as param in the command line to pick that particular folder tests to run.

newman run C:\Users\kkaku\Documents\Fulfillment\Framework\OOF_V1.postman_collec

[2018-06-18 22:36] kavigopal commented on #871
@Ne4istb - can you give some example? if you combine collection how to specify the data file for each of the collection while combining?

if its single we are specifying lik example below
"newman run collection.json -e QA_environmentvariable.json -g globalvariable.json -d Data.csv"

[2018-06-19 00:51] bhanupinninti commented on #1581
I am running behind the proxy :(..so do u recommend me to wait until postman give support for this

[2018-06-19 03:30] peushan commented on #1109
@kunagpal  Thanks heaps for the update.

[2018-06-19 14:54] ManikandanRajendran commented on #375
could someone help me using _.includes(). below is my case where am not getting expected result.

var a = 10.63
var b = 10.635

var c = _.includes(a);  ==> i want to check whether b.includes(a)

but am getting c value as false.

could you please advise. thanks in advance.

[2018-06-19 16:18] stevenscg opened #1588 "Newman run cli-reporter echos "newman""
The Newman (version 3.9.4 on Linux) cli-reporter seems to output the string "newman" at the start of each collection. I don't recall seeing this behavior with earlier versions of newman.

Is this intentional and necessary? If so, is there a flag to suppress it while retaining other standard output?

We typically loop through directories of collection using bash and "newman run" each of them. This

[2018-06-20 01:03] zcoffin86 opened #1590 "--reporter-junit-export syntax is inconsistent (and not documented?)"
Other command line options like `--environment` accepts an `=` delimiter, whereas `--reporter-junit-export` does not. Why is this? Where is this documented? Only after checking out the repository and reading MIGRATION.md was this apparent.

For example, in the command line `newman run "test/postman/newman/v1.postman_collection.json" --environment="test/postman/newman/environments/Quality.postman_e

[2018-06-20 13:02] codenirvana commented on #1590
@zcoffin86 Thanks for reporting this, a fix has been added in #1594 which will be rolled out with the next release.

[2018-06-20 13:22] #1590 closed

[2018-06-21 13:07] shadone commented on #1398
Hi there,

I just hit the same issue - Postman app work correctly and does *not* append trailing`=` sign but the newman cli does. Is there a chance this will be fixed?

[2018-06-21 13:16] kunagpal commented on #1398
@shadone Which Newman version are you on?

[2018-06-21 13:21] connorsadlervelo commented on #1574
I modified the reporter template to include request/response on every request - that could be an option for you?

[2018-06-21 15:05] Kal6 commented on #986
Yes, it is hard drill down the report and find out the root cause if any failures occurred, I am also having the same issue with it. I have multiple folders in the collection, each folder has some tests which will access the csv file to drive the data, when i see the report it is not understandable as i have working as qa automation architect i would recommend to have this resolved. As you folks k

[2018-06-21 20:29] Alextunchii commented on #1574
@connorsadlervelo thanks! But if get you right, just to know:
I and everybody don't need request/response on every request. It can be done simply with
[code]
All I need it's to have response output on the bottom of build.log and in order not to search resposne body of the failed request in stack race

[2018-06-22 08:35] connorsadlervelo commented on #1574
Sounds good - where exactly do you put that code? On every request, or at folder level somewhere? Cheers

[2018-06-22 09:04] Alextunchii commented on #1574
Depends of folder and collection;
If in folder very request has response code 200
then I put it on Folder level:

[code]
and then you see the response body in build log if (for instance) 500 server eror occurred

[2018-06-22 10:55] mstaalesen commented on #1250
@shamasis : As @reftel states, we have to use unique names on all requests in a collection to ensure that postman.setNextRequest("name") does not jump to a request in another folder inside the same Collection.

But I think that the documentation can perhaps just be a bit confusing. Does the following just mean that if you start the runner on "folder level", instead of "collection level"?

Basicall

[2018-06-25 06:53] shamasis commented on #1588
@kunagpal - we can actually have a `--reporter-cli-no-banner`. Trivial.

[2018-06-25 06:54] shamasis commented on #1588
Added to v4 milestone. @stevenscg - it will take a while - around a month. hope that's okay.

[2018-06-25 11:03] #1588 closed

[2018-06-25 11:05] kunagpal commented on #1588
@stevenscg Thanks for reporting this, the `--reporter-cli-no-banner` option has been added in #1596 and will be available with the next release.

[2018-06-25 15:36] stevenscg commented on #1588
@shamasis @kunagpal Thanks. Looks like a great solution.

[2018-06-25 20:51] djo504 commented on #398
I am having this same issue. Any solution at all?

[2018-06-26 02:59] Katolus opened #1597 "Pulling environmental variables from the Postman profile"
Hi there,

I was wondering whether it is possible to run a collection using environmental variables stored in the Postman profile without exporting them to a .json file?

`newman run "sample.postman_collection.json" -e ${Postman's environment identification}`

Another approach to this problem would be to export the environmental variables using newman's cli, before running the collection. Question

[2018-06-26 08:55] #785 closed

[2018-06-27 07:19] RamyaRamasamyCentrica commented on #1128
hi i followed the above steps. I copied that postman-bdd.min.js and I opened using webserver in my machine like http://localhost:8090/postman/postman-bdd.min.js and moved it as first request .still i'm getting describe is not defined error.Please help me

[2018-06-28 06:22] shamasis commented on #1597
Have you looked into - https://docs.api.getpostman.com ? `newman` can procure environment from URLs. There is no way to get collection from app's storage location yet. But that is a great thought.

[2018-06-28 06:46] kunagpal commented on #1597
@Katolus Do take a look at https://github.com/postmanlabs/newman#using-newman-with-the-postman-api as well 😄

[2018-06-28 06:46] #1597 closed

[2018-06-28 13:48] SMES03 opened #1599 "Postman - Newman Error:407 Proxy Authentication Required"
Hi everyone,

Informations first:

 1. Newman Version (can be found via `newman -v`):3.9.4
 2. OS details (type, version, and architecture):Windows Server 2016 x64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: this bug always been there (but i use it only since few days)
 4. Expected behaviour: a response from the

[2018-06-28 14:30] enorm opened #1600 "Failed iterations count is always zero - even if an iteration had assertion errors"
Hello there,

Version and environment information:

 1. Newman Version: 3.9.4
 2. OS details: Mac and CentOS
 3. Are you using Newman as a library, or via the CLI? Library
 4. Did you encounter this recently, or has this bug always been there: I think it has always been there

**5. Expected behaviour:**

When assertions within an iteration fail, I expect the iteration fail count to increase. Inste

[2018-06-28 19:17] #1379 closed

[2018-06-28 19:19] kunagpal commented on #1599
Hey @SMES03, it looks like you're using Newman within a Proxy network environment, and that your proxy requires authentication. Unfortunately, Newman does not support Proxy authentication at the moment. I'm more than happy to mark this as a feature request, though 😄

[2018-06-28 19:21] kunagpal commented on #1581
@bhanupinninti Closing as a duplicate of #1599, we'll track progress over there 😄

Thanks again for reporting this!

[2018-06-28 19:21] #1581 closed

[2018-07-01 02:29] amitsaxena4u opened #1604 "even after successful installation of Newman, "-bash: newman: command not found" error is thrown"
I have installed NPM and then Newman successfully but when I am trying to check Newman version or running newman for  run my JSON file, it is always giving me error as : -" bash: newman: command not found"
NPM version installed is: 6.1.0
Newman version installed as shown after installation is: newman 3.9.4

Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`):

[2018-07-01 14:45] kunagpal commented on #1604
@amitsaxena4u This issue is nvm specific, there's an extensive discussion on the same here: https://github.com/creationix/nvm/issues/668. 😄

[2018-07-01 14:45] #1604 closed

[2018-07-02 10:37] Al54321 commented on #1426
Hi @kunagpal, please could this issue be re-opened based on the above comment? The classname always being set to the same value results in very poorly structured reporting of failing tests, so the JUnit reporting standard isn't being followed correctly. Thanks!

[2018-07-02 13:54] mgortzak commented on #1582
@kunagpal, do you know when the next Newman release will be? I'm getting the same error and I'd rather not wait a few months until this is resolved.

[2018-07-02 21:54] kunagpal commented on #1426
@Al54321 This is being fixed in https://github.com/postmanlabs/newman/pull/1612

[2018-07-03 08:49] kunagpal commented on #1430
@rkesh-singh Closing issue due to inactivity, feel free to revert if you have any other questions 😄

[2018-07-03 08:49] #1430 closed

[2018-07-03 14:21] xsrvmy commented on #398
Can confirm this is a problem. I am getting fails when postman passes.

[2018-07-03 16:36] may811204 opened #1613 "Environment variables not replaced in the generated JSON report files"
1. Newman Version
3.9.4

 2. OS details (type, version, and architecture):
macOS High Sierra version 10.13.4

 3. Are you using Newman as a library, or via the CLI?
CLI

 3. Did you encounter this recently, or has this bug always been there:
Not sure this is a bug or a feature requested?

 4. Expected behaviour:
I use newman CLI to run the collections with environment files. The environment file i

[2018-07-03 16:57] shamasis commented on #1613
Can you elaborate a bit more on what were you expecting? This can be looked at both ways. For example, there are multiple places variables reflect in output JSON report.

The concern is that outputting the resolved variable inside JSON reporter can be a security issue. As such, can you point out where in JSON file do you expect the resolved variables? Such as, each request definition or execution

[2018-07-03 17:05] shamasis commented on #1600
Yep. Agreed. This should be addressed. The summary computation should mark failed iteration +1 if any test failed / request failed in that iteration.

[2018-07-03 17:06] shamasis commented on #1600
@kunagpal - what needs to be changed in runtime for this? can it not be done completely from CLI reporter?

[2018-07-03 17:47] #643 closed

[2018-07-03 23:27] karthikkashi9 opened #1614 "TypeError: Cannot read property 'to' of undefined"
My tests are failing with Status code is 200 | TypeError: Cannot read property 'to' of undefined.

[2018-07-03 23:28] #1614 closed

[2018-07-04 16:32] kunagpal commented on #1562
@connorsadlervelo This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1547
@enesyalcin This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1529
@rohitparethodi This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1590
@zcoffin86 This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1588
@stevenscg This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1582
@mgortzak @Kiran-B This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1571
@rawaludin This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1548
@gaigaslab This has been fixed in Newman v3.10.0 😄

[2018-07-04 16:32] kunagpal commented on #1527
@bartmanus This has been fixed in Newman v3.10.0 😄

[2018-07-05 08:13] mgortzak commented on #1582
@kunagpal, I've ran 5 jobs, but still no error (or any other error for that matter). So I think it's fixed 👍 .

[2018-07-05 10:18] Al54321 commented on #1426
@kunagpal That's brilliant, thanks for turning it around so quickly too!

[2018-07-05 13:13] stevenscg commented on #1588
Thanks @kunagpal!

[2018-07-06 12:45] saikatharryc opened #1620 "Postman Collection verify if response of all api 200 or something defined."
is there any option to verify of all api in the collection is getting 200 in response .
without going to each api and write test block to check status of it?

as its currently getting status 500 and still accepting.

[2018-07-06 13:07] kunagpal commented on #1620
@saikatharryc This can be done with a test inside a collection level script, like so:
[code]

More details here: https://www.getpostman.com/docs/v6/postman/scripts/test_scripts#adding-a-test-script-to-a-collection-or-folder

[2018-07-06 14:20] Dragomitch commented on #831
For my application, what I do is that i parse the "args" and modify it as I want.

[2018-07-06 14:58] saikatharryc commented on #1620
@kunagpal  i mentioned that, already. that is the other way i have to write inside every api i guess.
it could be a feature request if currently cant handled by newman.

[2018-07-06 18:58] arjunpat commented on #1156
+1

[2018-07-06 23:19] kunagpal commented on #1620
@saikatharryc My bad, I wasn't clear enough. As mentioned above, you can add tests at a collection level, which will be run after **each** request without having to duplicate the same code all over the place 😄

So, the following collection will always run the 200 OK tests for each request, regardless of the level of nesting/number of requests in the collection:
[code]

In the example above, notice

[2018-07-06 23:19] #1620 closed

[2018-07-10 06:40] madalinaptj opened #1621 "JUnit reporter does not create any summary report .txt file, only the .xml files"
1. Newman Version (can be found via `newman -v`): 3.9.4
 2. OS details (type, version, and architecture): Windows 10 with local Jenkins server
 3. Are you using Newman as a library, or via the CLI? .js file (below) executed with node command in Jenkins
 3. Did you encounter this recently, or has this bug always been there: I'm new to the tool
 4. Expected behaviour: JUnit reporter creates .txt fil

[2018-07-10 06:45] kunagpal commented on #1621
@madalinaptj You can customize the file to which reports are written as follows:
[code]

[2018-07-10 07:01] #1562 closed

[2018-07-10 07:40] madalinaptj commented on #1621
Hi @kunagpal,

I'm sorry, I realize I did not express myself clearly.
I don't want to change the path of the export file, I need to have 2 files: 1 with the .xml JUnit log and the other in .txt format with just the summary of the results.

The .txt file would contain something like this:
-------------------------------------------------------------------------------
Test set: Postman Echo
--------

[2018-07-10 08:22] kunagpal commented on #1621
@madalinaptj This can be done using https://www.npmjs.com/package/newman-reporter-text :)

[2018-07-10 09:07] madalinaptj commented on #1621
@kunagpal I used this text reporter but the result is a full log of the tests execution. What I need is just a summary report, so just 1 line in a .txt file that sums up how many tests were run successfully and how many passed.

I thought about maybe parsing myself the JUnit .xml file and determining this, but I am not yet sure how I would achieve that.

I thought you might consider adding this op

[2018-07-10 14:51] joshnorwich commented on #1461
On top of JUnit not reporting pm.test calls nested inside pm.sendRequest, it also seems to ignore reporting on pm.test in Collection or Folder level scripts on the collection. Rather than have my "test for status 200" script on each individual request I use a Collection level script. Now my JUnit report in Jenkins seems to think there are only 5 tests in the collection, despite the CLI report show

[2018-07-11 09:35] kunagpal commented on #1621
@madalinaptj This can be accomplished by using Newman programmatically, like so:
[code]

[2018-07-11 11:18] madalinaptj commented on #1621
@kunagpal This is great! Thank you so much for this! It's exactly what I was looking for.
The only change I made was to use ${summary.collection.name} because otherwise it throws an undefined error.

This is a very nice example of how to output simple files that might be needed for other plugins (like SonarQube) and how easy they can be achieved by using Newman programmaticall. Hope it will help o

[2018-07-11 11:22] #1621 closed

[2018-07-11 12:36] kunagpal commented on #1621
@madalinaptj I see, there is a difference between tests and assertions. I understand that you were looking for the respective category counts of various assertion results. Feel free to let me know if you have any other questions 😄

[2018-07-11 13:55] chrisron95 commented on #1529
In my opinion it's now worse than it was before the fix. Now each iteration is just combined into the first iteration of the call. So in my case, when I'm checking the status of the order and using delays and repeating the order status call until it's complete, if one of those order status calls has an error it's all combined into one because now any call that's the same as another gets mashed int

[2018-07-11 18:48] xiaotang923 commented on #1510
@kunagpal  Hi, I'd really appreciate it if you can solve this issue in the next release! I'm really troubled by this issue right now, it's exceeding the capacity of string, so I had to use a custom reporter to just keep the automated testing going. I'd really want to switch back to the built-in reporter ASAP, so please take consideration, thanks a lot!

[2018-07-12 15:37] iampeterbanjo commented on #883
How would I determine that there was an error from the event summary?

[From the docs](https://www.npmjs.com/package/newman#newmanrunevents) I have failing tests but the sample code doesn't work - it always logs "collection run completed".

[code]

[2018-07-13 09:15] georgekucher opened #1624 "Can't set up multiple reporters"
1. Newman Version 3.10.0
 2. OS details Windows Server 2012R2
 3. Newman CLI
 3. Encountered recently
 4. Expected behavior:
Newman uses both reporters specified
 5. Command / script used to run Newman:
newman run Collections\$collectionName.json -e Environments\$environmentName.json --disable-unicode -r cli,teamcity
6. Actual behavior:
Newman uses ONLY FIRST reporter specified.

Issue wasn't pres

[2018-07-13 09:20] monishcoverfox opened #1625 "403 error when running tests via newman."
I am receiving a 403 error when attempting to run my tests via newman. The same tests run fine when I run them via the collection runner in Postman. I am getting csrf token first request and save it as a Global variable using Tests tab. Then using this csrf variable in subsequent requests.
Please help me in solving this error
[code]

[2018-07-13 09:32] kunagpal commented on #1624
@georgekucher I'm unable to reproduce this with Newman v3.10.0, for various combinations of both: inbuilt and external reporters. It should be noted that the TeamCity reporter provides CLI output. Using the CLI and teamcity reporters together will cause the output from both to be mixed. Needless to say, this is likely to confuse any TeamCity report parser.

For your specific use case, I got the fo

[2018-07-13 10:13] georgekucher commented on #1624
I had a similar report on old CI server running Windows 7
By the way installing newman 3.8.0 (which is installed on old CI) on new CI (Win server) and trying to run tests with both reporters says "newman run: error: Unrecognized arguments: cli."
Magic?

[2018-07-13 10:15] georgekucher commented on #1624
[code]
this is with teamcity only

[2018-07-13 10:29] georgekucher commented on #1624
May problem is in Windows Server2010R2

[2018-07-13 10:42] kunagpal commented on #1625
@monishcoverfox I can see that the initial request to fetch the CSRF token completed successfully. Could you explain exactly how the other requests are sent? Usually, such issues occur when any auth token present in environment/global variables in the app is not explicitly passed with the `-e`/`-g` flag within `newman run ...`.

[2018-07-13 10:45] kunagpal commented on #1624
@georgekucher Ah, this could be a Windows-specific issue. As you can see from our Changelog here: https://github.com/postmanlabs/newman/blob/develop/CHANGELOG.yaml#L65, we had changed our underlying CLI parser library, which could have caused this behaviour. Could you enclose the `-r` arguments in quotes, like so: `-r "cli,teamcity"` and let me know if that works for you?

Thanks! 😄

[2018-07-13 10:49] georgekucher commented on #1624
yes it works))
thanks!!

[2018-07-13 10:50] #1624 closed

[2018-07-13 10:51] monishcoverfox commented on #1625
Hi Kunal,

Please see Postman collection link below:
https://www.getpostman.com/collections/685963f7dd5d9b038649

I am running from newman with below command:
newman run https://www.getpostman.com/collections/685963f7dd5d9b038649

Regards,
Monish Correia

On Fri, Jul 13, 2018 at 4:12 PM, Kunal Nagpal <notifications@github.com>
wrote:

--
Regards,
Monish Correia

--
 <https://www.coverfox.com/>

<h

[2018-07-13 20:31] cchretien opened #1626 "collection execution and script execution timeouts occur when api options timeout or timeoutScript are omitted"
1. Newman Version (can be found via `newman -v`): **3.10.0**
 2. OS details (type, version, and architecture): **Windows 7 Enterprise 64Bit, node 8.11.3 64Bit**
 3. Are you using Newman as a library, or via the CLI? **Library**
 3. Did you encounter this recently, or has this bug always been there: Bug was **not present in 3.8.3**
 4. Expected behaviour: No timeouts during long collection or test

[2018-07-13 20:59] RadhikaPostWoman opened #1627 "unable to load form file for upload: "[object Object]" - happening when using POSTMAN RUNNER only"
I am seeing an issue when running collections via postman RUNNER only which involves uploading files . This is not an issue when running them from standlone postman app. any idea why we are unable to run collections which involves uploading files via RUNNER>?

unable to load form file for upload: "[object Object]"

[2018-07-16 06:43] SowmyaT opened #1629 "Now a days, Newman stopping in-between the requests and started to run again if more than 100 requests."
Version and environment information:

 1. Newman Version (can be found via `newman -v`): **3.10.0**
 2. OS details (type, version, and architecture): **MacOS Sierra & osx**
 3. Are you using Newman as a library, or via the CLI? :  **LIBRARY**
 3. Did you encounter this recently, or has this bug always been there: **Recently**
 4. Expected behaviour: **It should be applicable for whole 3000 request

[2018-07-16 10:33] kunagpal commented on #1627
@RadhikaPostWoman This is because the file paths are not saved as a part of the collection. A workaround in Newman is to process the collection JSON and inject the paths/variable references yourself, and then run the collection as usual.

Closing as a duplicate of https://github.com/postmanlabs/postman-app-support/issues/812

[2018-07-16 10:33] #1627 closed

[2018-07-16 14:16] cchretien commented on #1626
One thing I noticed is if I explicitly set the timeoutScript to 0 it still triggers a timeout as if it were omitted.

[2018-07-17 12:08] pritamprasd commented on #1625
Hi Monish,

I'm also facing the same issue, have you got any solution to this problem?

[2018-07-17 12:10] monishcoverfox commented on #1625
No Pritam, still stuck with the same issue.

On Tue, Jul 17, 2018 at 5:38 PM, Pritam Prasad <notifications@github.com>
wrote:

--
Regards,
Monish Correia

--
 <https://www.coverfox.com/>

<https://www.facebook.com/Coverfox.Insurance> 
<https://plus.google.com/+Coverfox>  <https://twitter.com/Coverfox> 
<https://www.instagram.com/coverfox_insurance/> 
<https://in.linkedin.com/company/coverfox-insur

[2018-07-17 12:21] codenirvana commented on #1625
@monishcoverfox `csrftoken` global variable is set to undefined, there's no `csrftoken` cookie in the response.
That's the reason why subsequent requests are failing.

[2018-07-17 13:02] monishcoverfox commented on #1625
Hi Udit,

But I am setting csrftoken global variable in Tests tab under request 1.
Then also why it is not getting set?
It works perfectly fine via Postman. So should work via newman as well,
right??

On Tue, Jul 17, 2018 at 5:51 PM, Udit Vasu <notifications@github.com> wrote:

--
Regards,
Monish Correia

--
 <https://www.coverfox.com/>

<https://www.facebook.com/Coverfox.Insurance> 
<https://plus

[2018-07-17 13:48] codenirvana commented on #1625
@monishcoverfox `pm.cookies.get("csrftoken")` is undefined, Try removing [cookie](https://www.getpostman.com/docs/v6/postman/sending_api_requests/cookies) from the Postman App and retry. There's no `csrftoken` cookie set in the initial request.

I would suggest to store `csrftoken` as an environment/collection variable and use the same in the headers and subsequent requests also.

[2018-07-18 17:53] filipeamaral commented on #1309
I was able to successfully apply markdown -> html transformations, in collection and requests descriptions, by implementing a workaround with the help of [Remarkable](https://github.com/jonschlinkert/remarkable).
Just take the default template used by newman and apply the following changes:

###Add to <head> (provide different lib versions if necessary)
[code]
###Add to end of <body>
[code]

Don't

[2018-07-19 05:14] wangdongna opened #1631 "the case is no test when add pm.sendrequest () on Tests, only repro when run it with newman"
Version and environment information:

Newman Version (can be found via newman -v): **3.9.4**
OS details (type, version, and architecture): **Linux version 3.16.0-4-amd64 (debian-kernel@lists.debian.org) (gcc version 4.8.4 (Debian 4.8.4-1) ) #1 SMP Debian 3.16.43-2 (2017-04-30)**
Are you using Newman as a library, or via the CLI? : **CLI**
Did you encounter this recently, or has this bug always bee

[2018-07-19 08:04] SowmyaT commented on #1629
@kunagpal Any update on this.

[2018-07-19 08:05] kunagpal commented on #1626
@cchretien This is because the global timeout still takes precedence in this case, you'll have to set `timeout: 0` explicitly. A similar case has been discussed and resolved here: https://community.getpostman.com/t/error-callback-timed-out-why/1508/19

[2018-07-19 08:13] kunagpal commented on #1631
Hey @wangdongna, I'm not quite sure what the issue is here. Did you mean that the tests don't show up when `pm.sendRequest` is used in a test script? If so, could you share the smallest possible collection that helps us reproduce this issue? Thanks! 😄

[2018-07-19 09:08] wangdongna commented on #1631
Hi,

Thanks for your quick reply.

When pm.sendRequest is used in a test script, like this:
 <
var jsonData = pm.response.json();
var sid = String(jsonData.Result.Id);
var delUrl = pm.environment.get('host') + "/api/chart/deletetreenode/"+ sid;
pm.test("Status code is 200", function () {
    pm.response.to.have.status(200);
});

pm.sendRequest(delUrl, function (err, response) {});

And run the col

[2018-07-19 09:12] wangdongna commented on #1631
Sorry for close it with incorrect operation and now reopen it. I am sorry for that

[2018-07-22 13:50] kunagpal commented on #1355
@bbartoni The figure of 180 seconds (3 minutes) here is interesting as it is exactly equal to the [default global timeout](
https://github.com/postmanlabs/postman-runtime/blob/develop/lib/runner/index.js#L9) used by  [postman-runtime](https://github.com/postmanlabs/postman-runtime) (the underlying library to unify collection run behaviour across Postman monitors, the app, and Newman.). Here, the g

[2018-07-22 13:51] kunagpal commented on #1629
@SowmyaT Apologies for the delay. Please see my comment here: https://github.com/postmanlabs/newman/issues/1355#issuecomment-406868194 for additional context (and a possible resolution too!).

[2018-07-22 13:51] #1629 closed

[2018-07-22 13:52] kunagpal commented on #1355
In addition, a fix (of sorts) has been added in https://github.com/postmanlabs/newman/pull/1630, and will be available with Newman v4.

[2018-07-22 21:08] shamasis commented on #1355
@kunagpal - could it be that runs are forcing through even after the outermost timeout has been fired? If that is the case then we would need to check if abort signal is being properly sent from outside after the outermost setTimeout is fried.

[2018-07-23 03:17] kunagpal commented on #1355
@shamasis Yes, that is also a possibility. We need to confirm the exact underlying cause.

[2018-07-23 09:33] bbartoni commented on #1355
This is not an issue for me any longer, @kunagpal .
after temporary roll-back to v3.8.3, we recently added explicit `timeout=120000` (which suites our needs, but still limits the exec), I then updated to `newman -v 3.9.3` and been running without any problems to this day.

[2018-07-23 09:34] #1355 closed

[2018-07-24 09:14] #1547 closed

[2018-07-24 09:16] kunagpal commented on #1529
@chrisron95 We're looking at ways to improve the arrangement of information in line with your suggestions above, which will be taken up as a part of the Newman v4 line of releases.

[2018-07-24 09:16] #1529 closed

[2018-07-24 10:54] musanas opened #1635 "Single Collection : session cookies are not managed well : Can not have two requests with and without auth"
Hey,
Assume I have a single collection.
In this collection I have two requests, both hitting on the same api end point.
I have configured my first request with a basic authentication.
I have configured my second request with no authentication
I add various tests for these two checking both happy paths and not so happy paths. All these are done in postman GUI.

Now I am running this collection in N

[2018-07-24 18:23] SowmyaT opened #1636 "Getting Unicode chars in the report while Newman running even if disableUnicode,noColor options are true."
1. Newman Version (can be found via `newman -v`): **3.8.3 or 3.10.0**
 2. OS details (type, version, and architecture): **OS X EL Capitan, 10.11.6**
 3. Are you using Newman as a library, or via the CLI? LIBRARY
 3. Did you encounter this recently, or has this bug always been there: **Recently after node upgraded**
 4. Expected behaviour: **Unicode chars should be removed**
 5. Command / script us

[2018-07-24 20:58] AndreMaz opened #1637 "[Feature Request] - Add CoAP protocol support"
This is a feature request to add support for [CoAP protocol](http://coap.technology/).
CoAP can be seen as a lightweight version of HTTP that is specially designed for Internet of Things.
**Detail**
Since the Web of Things is becoming *the thing* (pun intended) (examples: [W3C](https://www.w3.org/WoT/WG/), [Mozilla IoT](https://iot.mozilla.org/), [OCF](https://openconnectivity.org/)) where even co

[2018-07-24 22:02] codenirvana commented on #1636
@SowmyaT Are you facing this issue in both `3.8.3` & `3.10.0`?

Also, can you share the following details, to help reproduce the bug:
- Options passed in `newman.run`
- Your Node version

[2018-07-25 04:49] SowmyaT commented on #1636
Yes @codenirvana , Am facing this issue in both 3.8.3 & 3.10.0.

- Options passed in `newman.run` only like,

newman.run({
	 reporters: ['cli', 'junit'],
	 collection: "Examples.postman_collection.json",
         disableUnicode: true,
         noColor: true
})

- Node version is v8.6.0 now

[2018-07-25 15:53] civonavets opened #1638 "Newman can't read variable from enviroment"
1. Newman Version (can be found via `newman -v`): 3.10.0
 2. OS details (type, version, and architecture): Win 10 Home x64 v1803 ( Build 17134.165 )
 3. Are you using Newman as a library, or via the CLI?: CLI
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: Since it executes in Postman, it should execute in Newman as well
 5. Command / script

[2018-07-25 15:58] civonavets commented on #1638
Steps to reproduce the problem: (since it wasn't included in the bug itself)

1. Download http://s000.tinyupload.com/index.php?file_id=01550279211467632549
2. npm install - for dependencies
3. npm run switch - to run it

[2018-07-26 08:12] codenirvana commented on #1636
@SowmyaT I tried to reproduce the issue using the same options you provided.
`disableUnicode` is working fine for me, but I do see there's some problem with `noColor`.

I need to investigate further to pinpoint the issue, will update you once it is fixed.

[2018-07-26 15:56] praveenkannambadi commented on #1109
I am using newman Version 3.10.0 . The HTML reporter is  not aggregating statistics across all iterations, multiple iterations.  Can you please let me know if this is the expected behavior

[2018-07-26 15:58] praveenkannambadi opened #1639 "HTML report Aggregator issue in newman"
I am using newman Version 3.10.0 . The HTML reporter is not aggregating statistics across all iterations, multiple iterations. Can you please let me know if this is the expected behavior. I am just getting a report with the 1st record of my csv file

[2018-07-26 22:47] a7ger commented on #326
I'm trying to set newman to report in nunit as well. @saeliux, @czardoz  I looked at the README.md file and see three options that start with "t". All of them are for specifying time settings though. Am I looking at the wrong README.md file? Can you link the correct one that specifies how to use said "-t" flag to format the report to nunit ?

[2018-07-27 06:53] SowmyaT commented on #1636
@codenirvana , We couldn't find this is the newman or node  or OS **version** issue. And we don't need to use `disableUnicode` & `noColor`. And also we updated the latest `node` versions as v8.11.3 and tried, still facing the same issue.

The same below library options worked fine earlier in that same Mac OS:

<img width="187" alt="screen shot 2018-07-27 at 12 12 32 pm" src="https://user-images.gi

[2018-07-27 13:03] GrogyLbn commented on #1635
Hello,

I have the same issue.
I make a first request to a login api to get my session id cookie.
When i do my seconde request my session cookie is not use and have a 401.

Regard's
Grégory

[2018-07-27 15:00] GrogyLbn commented on #1224
hello,

Any news on this issue ?
I have the problem, on call to auth et get the cookie, after with newman always 401, but it work with postman.

Can we get cookie for a firts requset and send it to another ?

Regards
Gregory

[2018-07-27 16:25] sagardonthineni opened #1641 "Error There was an error sending this request Error code UNABLE_TO_GET_ISSUER_CERT_LOCALLY"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2018-07-27 16:29] #1641 closed, assigned to nobody

[2018-07-30 09:57] jesbinsoftworks opened #1645 "Newman is not outputting the test Results when its been ran"
Hi Team,

I am running the Postman collection through newman in power shell as well as Jenkins. I am currently facing issue, that the Test results are not been synced properly. The output been shown is something that I had saved last week as the new updates of new endpoints are not been recognized in Newman when it's been ran in Jenkins.

Thanks,
JJames

[2018-07-30 09:57] jesbinsoftworks commented on #1645
@kunagpal  @a85

[2018-07-30 14:02] kunagpal commented on #1645
@jesbinsoftworks Could you provide more details on your setup, particularly on exactly how the collection is being run?

Also,

Unlike collection runs in the app, Newman run results are isolated and are not synced to our servers.

It looks like you're running collections via a Postman API reference, as has been described here: https://github.com/postmanlabs/newman#using-newman-with-the-postman-api

[2018-07-30 15:04] jesbinsoftworks commented on #1645
Hi,

        Yes , the collection returned by the API is out of date when it's been compared to the actual collection in the postman App.I was comparing a collection of endpoints against a global variable collection with the same endpoints for comparison.There are few endpoints which I created latest which did appeared on the app but not on the output of results from the global variable collection

[2018-07-31 05:55] swejaljain opened #1646 "Newman HTML report does not shows correct assertion count and URL for the original request which has used pm.sendRequest method in tests tab, instead it takes the pm.sendRequest url as the original url and shows no assertions."
1. Newman Version (can be found via `newman -v`): 3.10.0
 2. OS details (type, version, and architecture): Windows 8 64 bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Always
 4. Expected behaviour: Count should be correct in report
 5. Command / script used to run Newman: newman run API_Automation.postman_colle

[2018-07-31 06:03] kunagpal commented on #1646
Duplicate of #1303

[2018-07-31 06:03] #1646 closed

[2018-07-31 09:21] jesbinsoftworks opened #1647 "Newman won't output the entire Test scripts after the run"
Hi Team,
I am Having Issues with Newman, as when I run the scripts on Jenkins the output only came in a complete different format compared to the output on postman. In Newman It's not outputting the entire test scripts that I wrote for each endpoints.It's only displaying few of the scripts as I can't figure out why is it picky in displaying only few of them.
![githubnewman1](https://user-images.gi

[2018-07-31 12:36] mipatter commented on #929
Hi Guys,

I see that Newman is not exporting the failures that postman is.  Here is the snippet from the log from newman:
Attempting to set next request to User: Create a User - addUser

Root User: Create a User - addUser
  POST https://10.30.10.27/fcgi/scrut_fcgi.fcgi   4. Status code is 2020
  5. The newly created name matches what is in the environment
  6. Username is not a duplicate.
  -
  |

[2018-08-02 08:16] pschumacher opened #1655 "Newman does not print response in json report"
1. $ newman --version
3.10.0
2. MacOS 10.13.6
3. CLI
4. JSON report should contain response information
5. newman run test.postman_collection.json -r json
[newman-run-report-2018-08-02-08-13-04-770-0.json.txt](https://github.com/postmanlabs/newman/files/2252684/newman-run-report-2018-08-02-08-13-04-770-0.json.txt)

[2018-08-03 03:35] shamasis commented on #1655
I’m afraid this is by design. The body is not retained since it can get too big for most cases and cause things to crash.

Newman stores report on memory until end when it flushes it to disk. This behaviour needs to change before adding this feature.

[2018-08-03 07:00] pschumacher commented on #1655
Thanks for the quick response :)

Maybe it can be limited to only log the body of requests that failed a test. My intention is to debug failed requests a little bit better.

[2018-08-03 22:33] shanthalarb commented on #1524
asalavadigit  , Did you found a solution ? Even I don't see result in Jenkins console.

![image](https://user-images.githubusercontent.com/41392923/43668564-a4ecbbf4-974b-11e8-8af8-b2115b34c127.png)

Any help will be appreciated!

[2018-08-05 08:10] Nandhaks2 commented on #1548
I'm using newman v3.10.0 . I'm still getting this error when run from jenkins. It works fine if I run directly from postman.
┌
  │ [90m'runtime~basic.auth: could not sign the request:
  │ binary is not a function'[39m, [TypeError: binary is
  │ not a function]
  └

Any help is very much appreciated. Thanks.

[2018-08-06 05:34] SowmyaT commented on #1636
@codenirvana , What is the status of this issue.. Kindly let me know.

[2018-08-06 06:00] codenirvana commented on #1636
@SowmyaT a fix has been added in #1653 which will be rolled out with the `v4` release.

You can test this using [v4.0.0-beta.2](https://www.npmjs.com/package/newman/v/4.0.0-beta.2).
The color option is updated, you can check the updated API Reference [here](https://www.npmjs.com/package/newman/v/4.0.0-beta.2#newmanrunoptions-object--callback-function---run-eventemitter).

For your use case, try us

[2018-08-06 06:26] codenirvana commented on #1638
@civonavets I see you're using `pm.environment.get("switch");` in the test script but in `newman.run` options `globals` is set not `environment`.

You need to update the options in `switch.js` to:
[code]

In case you want to use Global Variables, use `pm.globals.get`.  Also, you can check our [guide on Variables](https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables) to kno

[2018-08-06 06:26] #1638 closed

[2018-08-06 06:35] SowmyaT commented on #1636
@codenirvana . Thanks for the Update! After installed the latest version `4.0.0-beta.2`.. Its works fine now.

[2018-08-06 07:39] civonavets commented on #1638
@codenirvana You are absolutely right. Despite the fact that I double checked everything, I don't know how I missed the global part.

[2018-08-06 11:09] splitt3r commented on #1224
The ASP.NET SessionId Cookie seems to work without problem but setting the Auth Cookie via Set-Cookie: ... Header does not.

![Auth](https://user-images.githubusercontent.com/1869584/43713423-d931f1d8-9979-11e8-8249-51f5a60e856f.png)

Any idea how to fix that?

[2018-08-06 12:31] dduford01 commented on #1224
I have been checking on this every once in a while and it has been saying 'Feature Request' since I put in this issue.  I don't think it is going to be an option any time soon, but there is always hope it will.

[2018-08-07 05:28] kunagpal commented on #1224
@dduford01 @GrogyLbn @splitt3r One workaround here is to explicitly set the value of the `Set-Cookie` header to an environment variable and reference that environment variable in the `Cookie` header of subsequent requests.

[2018-08-07 05:33] codenirvana commented on #1100
@biplabpramanik007 @TheCoderGuyVlad @davefreireich @vijaygroovey a fix has been added in #1609 which will be rolled out with the v4 release.

You can test this using [v4.0.0-beta.2](https://www.npmjs.com/package/newman/v/4.0.0-beta.2).

[2018-08-07 05:33] kunagpal commented on #1645
@jesbinsoftworks It looks like there was an issue with your local data being synced correctly. Could you head over to the `Sync` section in the App settings and use the `Re-sync` option to update your data?

[2018-08-07 05:35] kunagpal commented on #1647
@jesbinsoftworks https://github.com/postmanlabs/newman/issues/1645#issuecomment-410938417

[2018-08-07 05:35] codenirvana commented on #1215
@amnoman a fix has been added in #1609 which will be rolled out with the v4 release.

You can test this using [v4.0.0-beta.2](https://www.npmjs.com/package/newman/v/4.0.0-beta.2).

[2018-08-07 05:36] codenirvana commented on #1346
@mgroeneweg a fix has been added in #1609 which will be rolled out with the v4 release.

You can test this using [v4.0.0-beta.2](https://www.npmjs.com/package/newman/v/4.0.0-beta.2).

[2018-08-07 06:30] splitt3r commented on #1224
I will give that a try :+1:

[2018-08-07 12:01] codenirvana commented on #1636
@SowmyaT This has been fixed in Newman v4.0.0.

[2018-08-07 12:01] #1636 closed

[2018-08-07 12:02] codenirvana commented on #1100
@biplabpramanik007 @TheCoderGuyVlad @davefreireich @vijaygroovey This has been fixed in Newman v4.0.0.

[2018-08-07 12:02] #1100 closed

[2018-08-07 12:02] codenirvana commented on #1215
@amnoman This has been fixed in Newman v4.0.0.

[2018-08-07 12:02] #1215 closed

[2018-08-07 12:03] codenirvana commented on #1346
@mgroeneweg This has been fixed in Newman v4.0.0.

[2018-08-07 12:03] #1346 closed

[2018-08-07 12:04] codenirvana commented on #1626
@cchretien This has been fixed in Newman v4.0.0.

[2018-08-07 14:47] cchretien commented on #1626
Still broken. Using the same collection and toying with the same script that i've attached originally.
[code]

Output:

[code]

[2018-08-07 21:49] vidnand opened #1664 "Getting error "binary is not a function " when testing API's using newman v3.10.0 through Jenkins"
1. Newman Version (can be found via `newman -v`): 3.10.0
 2. OS details (type, version, and architecture): Ubuntu
 3. Are you using Newman as a library, or via the CLI? CLI

tags: AWS, Jenkins, Postman, Newman
<img width="863" alt="screen shot 2018-08-07 at 2 44 53 pm" src="https://user-images.githubusercontent.com/34011490/43804451-f0a75f06-9a50-11e8-9de6-fec50e771af5.png">
<img width="863" alt="

[2018-08-07 21:55] vidnand opened #1665 "Getting Error " binary is not a function" when Testing api's using Newman 3.10.0 through Jenkins"
1. Newman Version (can be found via `newman -v`): 3.10.0
 2. OS details (type, version, and architecture): Ubuntu
 3. Are you using Newman as a library, or via the CLI? CLI

I'm using newman v3.10.0 . I'm still getting this error when run from jenkins(pls refer to this issue https://github.com/postmanlabs/newman/issues/1548) . It works fine if I run directly from postman. ┌ │ �[90m'runtime~basic.a

[2018-08-07 21:56] vidnand commented on #1665
Console output from Jenkins:

Started by user XXXXX
Building in workspace /var/lib/jenkins/workspace/AuthTest
No emails were triggered.
[AuthTest] $ /bin/sh -xe /tmp/jenkins25127671984778.sh
+ cd /home/ubuntu/QA/api/pmscripts
+ newman run Collection1_Auth.postman_collection.json -e XXX.postman_environment.json -g XXX.postman_globals.json
newman

Collection1_Auth

→ Sign Up Copy
  ┌
  │ [90m'Elaps

[2018-08-08 01:28] mohank1986 opened #1666 "Postman collection with basic auth which was working in postman is failing when running via Newman"
**Issue Description**
In the collection that i have, we are using basic auth as Authorization type and this collection running successfully from postman. When we run the same collection via newman, it was failing with 'CONNECT ETIMEDOUT". Please assist us in fixing this issue.

Note: We didn't make any changes to the working collection which was exported from postman before running it in newman.

[2018-08-08 06:14] kunagpal commented on #1664
Duplicate of #1665

[2018-08-08 06:14] #1664 closed

[2018-08-08 06:42] kunagpal opened #1667 "Newman readme example run command needs to be updated"
The snippet in the section here: https://github.com/postmanlabs/newman#using-newman-cli references a getpostman.com collection link, which will respond with collections in the v1 format. This has to be updated.

[2018-08-08 10:29] #1667 closed

[2018-08-08 11:13] evgenyshandrik commented on #1109
Hi @kharod!

Can you share a template (*.hbs) for report?

[2018-08-08 14:14] filipeamaral commented on #1631
@kunagpal Isn't this issue related with [1303](https://github.com/postmanlabs/newman/issues/1303)?

[2018-08-08 15:29] filipeamaral opened #1671 "First request reports, in the HTML exported report, one more Pass Count and one more Total passed tests, for each pm.sendRequest that is executed within collection or folder Pre-request Scripts"
1. Newman Version (can be found via `newman -v`):
4.0.1

 2. OS details (type, version, and architecture):
Mac OS X, 10.13.6, x86_64/i386

 3. Are you using Newman as a library, or via the CLI?
Node library

 3. Did you encounter this recently, or has this bug always been there:
At least since 3.9.4

 4. Expected behaviour:
The request report should only report an assertion count (Pass Count) base

[2018-08-08 19:42] codenirvana commented on #1400
@htmtester @mattdeluco Not able to reproduce this, Is this issue still persists with Newman v4.0.1?

[2018-08-08 23:51] mrtibs2000 commented on #564
Still running into the same problem on version 3.9.3.

[2018-08-09 11:02] filipeamaral commented on #1671
I could help. Just send me an e-mail.

Also, I've discovered a new bug related with the HTML reporter.
Should I open an issue on https://github.com/postmanlabs/newman-reporter-html/issues or still here?

[2018-08-09 16:38] vidnand commented on #1665
Here comes the JSON file.  Hope this helps.

                      "request": {
                                "auth": {
                                        "type": "basic",
                                        "basic": [
                                                {
                                                        "key": "password",

[2018-08-09 16:44] kunagpal commented on #1665
Hey @vidnand Which Node version are you on? The issue you're referring to was due to an old Node version being used, you'll have to upgrade to at least the latest v6, which is 6.14.3 at the time of writing.

[2018-08-09 16:44] #1665 closed

[2018-08-10 13:08] kunagpal commented on #564
@mrtibs2000 @Ramyasri1212 This is happening because the resultant stringified summary is larger than the largest possible string in JavaScript, which is just under 2^28 for Node v6, and just under 2^30 for Node v8 and Node v9. Could you try updating to the latest v8.x release of Node (which is 8.11.3 at the time of writing) and check if the issue still persists?

Another alternative is to try the

[2018-08-10 13:26] cchretien commented on #1626
@kunagpal,

Can this be reopened and fixed?

[2018-08-11 09:00] 121arijit opened #1674 "I have developed a postman collection. exported as json and runing from jenkins with batch command as.... "newman -c CollectionName.json -O output.json – H Reports.html". Binary getting populated in jenkins screen."
I have developed a postman collection. exported as json and runing from jenkins with batch command as.... "newman -c CollectionName.json -O output.json – H Reports.html". Binary getting populated in jenkins screen....
Example... (copied from jenkins console)[90mâ”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€[39m[90mâ”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€[39m[90mâ”¬â”€â”€â”

[2018-08-11 12:01] kunagpal commented on #1674
@121arijit Please upgrade to the latest version of Newman and use the following command:
[code]

[2018-08-11 12:01] #1674 closed

[2018-08-11 12:28] 121arijit commented on #1674
Hi Kunagpal,
Thanks for your support, I have tested above command and below error is showing in jenkins console.

the file at Reports.html does not contain valid JSON data
Unexpected token < in JSON at position 0 while parsing near '<!DOCTYPE html><htm...'
Build step 'Execute Windows batch command' marked build as failure
Finished: FAILURE

[2018-08-11 15:08] 121arijit commented on #1674
Thanks , it is working fine now

[2018-08-13 04:49] vidnand commented on #1665
Yes. It works.  Thanks Kunagpal.   I really appreciate this.

[2018-08-14 10:13] sanjayb1992 commented on #1029
Hi,
I want to set environment variable in one request and use it in another request in a single run. Using that --export command didn't help. Can anyone help me out in this?

[2018-08-14 16:01] zankhanarana9 commented on #1303
Any update on this?

[2018-08-14 20:10] nblock opened #1678 "JUnit reporter: Invalid content was found starting with element 'error'"
1. Newman Version (can be found via `newman -v`): 4.0.2
 2. OS details (type, version, and architecture): Jenkins 2.212.2, xUnit 2.1.0
 3. Are you using Newman as a library, or via the CLI: CLI
 3. Did you encounter this recently, or has this bug always been there: Just started using it
 4. Expected behaviour: xUnit should be able to parse the XML file.
 5. Command / script used to run Newman: `ne

[2018-08-16 13:24] g7skim opened #1679 "Sync updated environment variables during the Newman run"
1. Newman Version (can be found via `newman -v`): Newman 4.0.0
 2. OS details (type, version, and architecture): MacOS 10.13.4 (17E199)
 3. Are you using Newman as a library, or via the CLI? CLI

I use the Newman and Postman software to testing website.

My construction looks like:

`newman run "https://api.getpostman.com/collections/<collection_id>?apikey=<my_postman_api_key>“ --environment "http

[2018-08-17 04:41] sutianli commented on #712
My Newman report does not generate any data, only the field name, the data is displayed as 0 How to handle

[2018-08-17 04:42] sutianli commented on #712
![image](https://user-images.githubusercontent.com/40749958/44248063-08c8e380-a21b-11e8-99fa-7faa1eecb696.png)

[2018-08-17 05:42] codenirvana commented on #712
@sutianli There are no requests in `Requests` sections as well. Can you verify collection is selected correctly?
Also, test if you are getting the same result in CLI reporter.

[2018-08-17 08:35] codenirvana commented on #1666
@mohank1986 not able to reproduce this.
Can you share more details like sample collection used (minus the sensitive details), Command/Script used to run Newman?

[2018-08-17 08:45] codenirvana commented on #1679
@g7skim `--export-environment` option accepts the *path to the file* where Newman will output the final environment variables file.

Newman doesn't update the changes made in the environment during the run yet.
But this looks like a feature request, we need to figure out a better way to implement this.

[2018-08-17 08:50] codenirvana commented on #1625
@monishcoverfox Closing due to inactivity.
Feel free to re-open the issue if this still happens.

[2018-08-17 08:50] #1625 closed

[2018-08-20 08:00] musanas commented on #1461
+1 for fixing this issue
Until this is fixed, there is no point in hitting on the same request with multiple test data if you are relying only on junit report ( as that can be accomplished only by doing `` postman.setNextRequest`` and then passing the same request name as the argument to it).

and if the second set of data supplied to the request has resulted in failure, the jUnit report will sile

[2018-08-20 08:41] musanas commented on #1461
@joshnorwich
I do not face the issue that you have mentioned above, the tests added at the folder level is being considered in the Junit report as expected.
Newman version used 3.9.6
Thanks

[2018-08-20 08:44] musanas commented on #1303
+1 for this

[2018-08-22 03:23] noibfromgloib opened #1685 "Journal not posting even with status 200 OK"
1. Newman Version (can be found via `newman -v`):3.10.0
 2. OS details (type, version, and architecture): Windows 10 x64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: I haven't ever had it work
 4. Expected behaviour: That the journal posts through CLI and GUI
 5. Command / script used to run Newman: newman run "j

[2018-08-23 04:39] shamasis commented on #1685
That shouldn’t happen. It should go through the GUI as well as the CLI.

Now, to debug this, we need to know more. First, I don’t know what API we are talking about here? If it is a well known public API, can you share more details that are not sensitive?

[2018-08-23 18:50] Guilherme-Sensedia opened #1689 "Command java script substr not working in Newman but working Postman"
Command java script SUBSTR not working in Newman but working Postman.

[2018-08-23 21:21] #1685 closed, assigned to nobody

[2018-08-24 03:39] kunagpal commented on #1647
@jesbinsoftworks Closing issue due to inactivity, feel free to revert if you have any other questions 😄

[2018-08-24 03:39] #1647 closed

[2018-08-24 03:41] kunagpal commented on #1689
@Guilherme-Sensedia Could you share the Node version you're on? I wasn't able to reproduce this with Newman v4 and Node v8.x

[2018-08-24 09:24] Sephirioth opened #1690 "Multiple newman runs in Jenkins job - report issue"
Hello,

I have some innue running my tests on Jenkins.
I've manage to make it doing single rest like that:
SVN report is triggering Jenkins job and in Building I'm doing newman run etc...
After that I'm pushing report.html in e-mail with job status. It works ok but...

I need now to trigger primary test package and generate report from it and then, depending on svn commit comment (I'm grabbing fro

[2018-08-24 09:48] codenirvana commented on #1666
@mohank1986  Closing due to inactivity.

[2018-08-24 09:48] #1666 closed

[2018-08-24 09:50] codenirvana commented on #1645
@jesbinsoftworks Closing due to inactivity.

[2018-08-24 09:50] #1645 closed

[2018-08-24 09:54] codenirvana commented on #1639
@praveenkannambadi Could you confirm if this issue persists with Newman v4 & [Newman Reporter HTML](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md#using-html-reporter).

[2018-08-24 10:15] codenirvana commented on #1344
@mgroeneweg Could you confirm if this issue persists with Newman v4?

[2018-08-24 10:34] codenirvana commented on #1344
@mgroeneweg Thanks for the response, I am also not able to reproduce this issue.
A lot of CSV parsing issues are fixed in [Newman v4](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md#csv-auto-parse). Closing this for now.

[2018-08-24 10:34] #1344 closed

[2018-08-24 12:01] Guilherme-Sensedia commented on #1689
@kunagpal node version: v10.8.0

[2018-08-24 12:06] Guilherme-Sensedia commented on #1689
@kunagpal I'm go update node version for more tests

[2018-08-24 14:09] Guilherme-Sensedia commented on #1689
@kunagpal I'm use node version v8.11.4 and newman version 4.0.2, but not working command substr javascript.

![captura de tela de 2018-08-24 11-08-27](https://user-images.githubusercontent.com/40179240/44589165-2e5f6b00-a78e-11e8-8fbc-c99a1891f350.png)

[2018-08-26 06:55] mrtibs2000 commented on #564
I'm now getting a "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory". Any recommendation there?

[2018-08-26 09:57] cbarrerah opened #1691 "Running more than 10000 assertions seems to break the run"
1. Newman Version (can be found via `newman -v`):
3.9.4
 2. OS details (type, version, and architecture):
Newman  run on ubuntu 16.04
 3. Are you using Newman as a library, or via the CLI?
Run as a CLI command integrated into a Jenkins Job
 3. Did you encounter this recently, or has this bug always been there:
Wouldn't say, not arrived to 10000 assertions before, i think
 4. Expected behaviour:
If

[2018-08-26 10:11] kunagpal commented on #564
@mrtibs2000 Could you share the command/script used to run the collection?

[2018-08-27 05:12] kunagpal commented on #564
@mrtibs2000 See the workaround described in https://github.com/postmanlabs/newman/issues/1516#issuecomment-385433003

[2018-08-27 05:39] codenirvana commented on #1689
@Guilherme-Sensedia Are you using `substr` in your test script?
As you mentioned its working in the App, can you share your test script(minus sensitive data)?

Also, share the command used to execute the Newman run, because if you are using the environment variables in App you need to pass the same in Newman as well.

[2018-08-27 06:41] mrtibs2000 commented on #564
Still the same error:

[code]

[2018-08-27 06:44] kunagpal commented on #564
@mrtibs2000 Looks like your specific run is consuming large amounts of memory. Could you increase the value to 4096 and re-try?

[2018-08-27 16:18] kieronlangdon opened #1692 "Newman docker jenkins pipeline collections issue"
Hi,
Im seeing an issue as part of the jenkins pipeline which uses the newman_ubuntu1404 docker image
1 out of 10 times it will find the collection in the workspace
The code is housed in github and pulled from artifactory
This is my step in the larger jenkins file:
[code]
Example error seen:
[projectbuildname_master-FOSPOKGVSAWFE7SOECOW3VH7STOR2NG44KPBCXIO4PUTQPHZI5DA] Running shell script
+ newman

[2018-08-27 20:59] Guilherme-Sensedia commented on #1689
I use substr in test script.

Command used:

var jsonData = JSON.parse(responseBody);

var mensagem_email = jsonData.snippet;

mensagem_email = unescape(mensagem_email);

mensagem_email = mensagem_email.substr(72, 6);

console.log("test: " + mensagem_email);

postman.setEnvironmentVariable("senha_email", mensagem_email);

pm.test("Status code is 200 e a senha: " + mensagem_email, function () {

[2018-08-28 05:38] codenirvana commented on #1689
@Guilherme-Sensedia The test script looks fine to me.
That error is possible only if `mensagem_email` is set to `undefined`, Can you debug on `responseBody` to verify response is sent correctly?

[2018-08-29 06:54] codenirvana commented on #276
@igladun @bgaillard @contactprad @darrylkuhn
Ability to select multiple folders has been added in **Newman v4.1.0**.

In CLI `--folder` option can be used multiple times and, for Library array of folder name/id can be passed to `folder` property.

[2018-08-29 06:54] #276 closed

[2018-08-29 06:57] codenirvana commented on #1359
@oabdelsamad Ability to select multiple folders has been added in **Newman v4.1.0** by specifying `---folder` option multiple times.

[2018-08-29 12:02] debjchak opened #1695 "Scripts run in Postman but throws error in Newman"
1. Newman Version:4.0.2,Postman Version:6.2.5
 2. OS details (type, version, and architecture): Windows 7,64 bit production Imagev1.16.00.AO.B19
 3. Newman via the CLI
 3. Did you encounter this recently, or has this bug always been there: Recently started using
 4. Expected behaviour: Scripts run through Postman passed and Newman should also have passed
 5. Command / script used to run Newman: "n

[2018-08-29 12:35] codenirvana commented on #1695
@debjchak you can disable SSL verification check and allow self-signed SSL certificate by using `--insecure` flag.

- `JSONError` is because of `pm.response.json()`  in test script tries to JSON parse response body but the request is failed because of SSL verification first.

- To use `global variables` you need to specify them like `--global-var "url=http://localhost"`.

Check all the available N

[2018-08-29 12:54] debjchak commented on #1695
Hi Udit,

Since I am completely new to Postman and Newman, I really do not know how
to execute the solutions you provided.Could you please elaborate a bit to
explain how to I run the command to allow self signed SSL certificate by
using the insecure flag?
Also, i need to know how to use --global-var "url=http://localhost"?Should
I just type this in before running my collection in Command Prompt ?

[2018-08-29 13:12] codenirvana commented on #1695
@debjchak you can use the above mentioned options like this:
[code]

You can know more  about using Postman and Newman from the following documentations:
- [Postman Documentation](https://www.getpostman.com/docs/)
- [Newman Documentation](https://github.com/postmanlabs/newman/blob/develop/README.md)

[2018-08-29 15:44] Guilherme-Sensedia commented on #1689
Command substr working in newman, my mistake.

@codenirvana you know url for redirects in newman, i use in postman:
https://www.getpostman.com/oauth2/callback

But not working in newman.

[2018-08-29 17:55] harrywhitehouse commented on #564
Any idea where things are heavy? Would it be my specific version of newman/postman/node? Or would it be the size of my Postman collection? Would it be my application server/docker/infrastructure?

[2018-08-29 17:56] mrtibs2000 commented on #564
4096 did work. Any idea where things are heavy? Would it be my specific version of newman/postman/node? Or would it be the size of my Postman collection? Would it be my application server/docker/infrastructure?

[2018-08-29 19:46] AisoRed opened #1697 "Newman version mismatch after upgrading to v4"
**Version and environment information:**
 1. Newman Version (can be found via `newman -v`):  **3.10.0 or 4.1.0**
 2. OS details (type, version, and architecture):  Windows 7 64-bit
 3. Are you using Newman as a library, or via the CLI?  CLI
 3. Did you encounter this recently, or has this bug always been there:  Just tried to update.
 4. Expected behaviour:  I expect to be on version 4.1.0.
 5. Co

[2018-08-30 04:38] kunagpal commented on #1697
@AisoRed This could be happening due to an issue with your version of `npm`. Could you try `npm i -g newman` and confirm that the latest version installs correctly?

[2018-08-30 05:56] codenirvana commented on #1689
@Guilherme-Sensedia Can you create a separate issue for this with detailed description and steps to reproduce.

[2018-08-30 05:56] #1689 closed

[2018-08-30 06:37] debjchak commented on #1695
Hi Udit,

Thanks for your quick response. The issue I am facing now is with global
variables. Everything works as expected if I do not use Global variables
in my url. but the moment I use them, i get the following error. Please
suggest.

Thanks & Regards,

DEBJANI CHAKRABORTY
IBM Test and Defect Management team-BAT
IBM Client Innovation Center - India

Phone: +91 33 71088911 | Mobile: +91 98304322

[2018-08-30 08:14] codenirvana commented on #1695
@debjchak Can you specify the error and Newman command used?

[2018-08-30 08:37] debjchak commented on #1695
Hi,
The errors I receive are
1. "connect ECONNREFUSED 127.0.0.1:80"
2.Unexpected token u in JSON at position 0 at assertion :0 in test script

[2018-08-30 08:49] codenirvana commented on #1695
@debjchak I see that you updated the request URL to `{{url}}/applyUPUI`.
Now using `--global-var "<global-variable-name>=<global-variable-value>"` option, you can replace the **{{url}}**(*global-variable-name*) with the required requesl URL(*global-variable-value*).

The above error is because you used `--global-var "url=http://localhost"` directly from my previous example, here you need to change

[2018-08-30 09:03] debjchak commented on #1695
Below is my command for which I still receive error stating "Invalid URI".
newman run https://www.getpostman.com/collections/e20dc7daa589e7dd2a22 --insecure --global-var "<url>=<https://10.144.31.156/apic-dev/sb/primaryrepository/api/productmovements>"

[2018-08-30 09:07] codenirvana commented on #1695
@debjchak You are missing **global-variable-name** i.e `url` in you case. It should be:
[code]

[2018-08-30 09:10] debjchak commented on #1695
The Global variable name got hidden some how. Rectified now.All work as expected. Thank you so much for the quick responses and resolution.

[2018-08-30 09:13] #1695 closed

[2018-08-30 15:48] shamasis commented on #1303
We just moved the reporter out of newman. PR welcome on this https://github.com/postmanlabs/newman-reporter-html

[2018-08-31 05:35] Abhijitofss commented on #728
Hi @kunagpal ,

I am trying to run :-newman run D:\newman\ACMTestSuiteCreationpostman_collection.json -d  D:\newman\ACMwithLoanOrigination.csv

but getting error message: Invalid closing quote at line 2; found "\"" instead of delimiter ","

[2018-08-31 05:39] Abhijitofss commented on #728
Hi @kunagpal ,

if i remove the -d & trying to run the command then its working but its not loading the  ACMwithLoanOrigination.csv file...

[2018-08-31 09:02] kunagpal commented on #728
@Abhijitofss Looks like you have an unescaped double quote in your CSV file. If this is intentional, you can escape the double quote with a backslash, like so: `\"`

[2018-08-31 15:06] adamp524 opened #1698 "Blocking event listeners"
Hi,

I'm running postman collections using the newman node runner. I would like to intercept calls to various events such as 'start', 'beforeRequest', 'request' but have them block before continuing to the next stage. As far as I can tell, the handlers that are currently exposed are just triggers on events and can't block.

[code]

Does anyone know if it's possible to intercept events and block in

[2018-08-31 20:45] AisoRed commented on #1697
This worked for me. Thank you!

My `npm` was on version `5.6.0` when I first tried this.

[2018-09-01 06:52] kunagpal commented on #1697
@AisoRed Thanks for sharing that, npm v5.6.0 is known to have more than it's fare share of quirky bugs. :sweat_smile:

[2018-09-01 06:52] #1697 closed

[2018-09-01 06:54] kunagpal commented on #1698
@adamp524 This isn't currently possible, as event handling works in fire and forget mode, so to speak. Could you elaborate a bit on your use case?

[2018-09-01 08:30] fritzieleo opened #1699 "Empty parameters are not parsed as Null"
1. Newman Version (can be found via `newman -v`):4.1.0
 2. OS details (type, version, and architecture):Windows 10, node v10.9.0
 3. Are you using Newman as a library, or via the CLI?CLI
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: null values should be passed to the URL
 5. Command / script used to run Newman:
 6. Sample collection, and

[2018-09-01 09:37] fritzieleo commented on #1400
It still exists in Newman v4.0.1, if empty parameters are passed it adds '=' with the url.

[2018-09-01 17:10] adamp524 commented on #1698
We're running Newman tests on a network with a corporate proxy. I'm trying to parse a proxy pac file and set the http_proxy and https_proxy environment variables before the main request is issued.
The proxy destination changes depending on the request URL so we can't just hardcode the proxy environment variables at the beginning of the script.

If Newman had support for setting a proxy Pac URL tha

[2018-09-02 04:02] Abhijitofss commented on #728
I have changed my payload accordingly ...but still facing the same issue...this is my json payload inside csv file
{
   \"applicationCategoryName\":\"NEWACM3\",
   \"applicationCategoryDesc\":\"na\",
   \"productPreferences\":[
      {
         \"productCode\":\"WCAP\",
         \"productDesc\":\"Working Capital loan\",
         \"defaultValue\":\"Y\"
      }
   ],

[2018-09-03 00:09] mtoothman opened #1700 "Fatal memory error with large response"
1. Newman Version (can be found via `newman -v`):
4.1.0
 2. OS details (type, version, and architecture):
Alpine Linux 3.7.0, in docker container
 3. Are you using Newman as a library, or via the CLI?
CLI
 3. Did you encounter this recently, or has this bug always been there:
Recently
 4. Expected behaviour:
No timeouts during long collection or test script execution when options are omitted.
No o

[2018-09-03 05:28] kunagpal commented on #1700
@mtoothman As we can see from your shared CLI snippet, the 21.79MB response is not being handled all that well. As a workaround, could you try the following command and confirm that the collection runs correctly?
[code]
Note that you may have to adjust the value of --max-old-space-size, which is in megabytes.

A proper long-term fix is to allow ignoring responses from the underlying collection run

[2018-09-03 05:40] kunagpal commented on #1698
@adamp524 Thanks for the context. Based on the snippet you'd shared above, you could shift the logic in the start event handler to before the run even starts. This ensures that the run only starts after your preparatory logic has completed its work. Based on the file parsing structure, you can update the values of the proxy environment variables in the `beforeRequest`/`beforeItem` event handlers.

[2018-09-03 05:44] kunagpal commented on #1691
@cbarrerah This is identical to https://github.com/postmanlabs/newman/issues/1145.

[2018-09-03 05:53] kunagpal commented on #1692
@kieronlangdon Apologies for the delayed response, could you update the `sh` section in your build block to include an `ls -la;` before the `newman run ...` command and share the results?

[2018-09-03 13:38] shamasis commented on #1698
Yep. There’s no way to block it. Even I wanted to block some events for a newman debugging reporter I was planning. On top of it, blocking events is first an anti pattern and secondly it would go against the architecture of newman’s internals. So, on that ground we have nowhere to go - as far as I can think of.

For the proxy PAC file thing, we have support for that in our app. Wondering what effo

[2018-09-03 13:38] #1698 closed

[2018-09-03 13:40] shamasis opened #1701 "Feature request: support for proxy definitions"
This is in line with a preceding use case here at https://github.com/postmanlabs/newman/issues/1698#issuecomment-418118274

One way would be to accept proxy list as part of CLI / file.

[2018-09-05 10:03] kthulsidoss opened #1702 "New man unable to locate teamcity reporter"
Hi I installed team city reporter at
C:\Users\Administrator>npm install -g newman-reporter-teamcity
+ newman-reporter-teamcity@0.1.11
updated 1 package in 2.484s

┌────────────────────────────────────────────────────────────────────┐
│                      npm update check failed                       │
│                Try running with sudo or get access                 │
│                to the

[2018-09-05 10:19] kunagpal commented on #1702
@kthulsidoss Could you also share the exact command/script used to run Newman? Also, could you share the result of `where newman` and `npm config get prefix`? Thanks!

[2018-09-05 10:28] kthulsidoss commented on #1702
Hi thank you for the quick response -appreciate it , please kindly add to doc the following 👍
this needs to be added 👍
•One tricky thing is to get Jenkins to recognize npm commands. To do this, I had to copy the NPM packages to a location that Jenkins can have access to. That is why I change to the directory to C:\npm\node_modules\newman\bin with the CD command
e.g 👍 copy from C:\Users\Administrat

[2018-09-05 10:58] kunagpal commented on #1702
@kthulsidoss Glad it worked out for you, we'll add some more docs around usage in Jenkins :)

[2018-09-05 10:58] #1702 closed

[2018-09-05 13:44] xell66 opened #1703 "Wrong SSL Version"
1. Version 4.1.0
 2. Ubuntu 16.04.1 LTS
 3. CLI use
 3. Did you encounter this recently, or has this bug always been there: -
 4. Expected behaviour: get response
 5. Comand: 'newman run collection.json --ssl-client-cert client.cer --ssl-client-key keyfile.key'

Hi there,
I have a Problem with Newman and I am not sure if its a Bug. First thing, this works on the same machine with the Postman appli

[2018-09-05 13:53] kunagpal commented on #1703
@xell66

This commonly occurs when you're using a proxy, but there's an attempt to send an HTTPS request via an HTTP proxy. Could you confirm that the `HTTPS_PROXY` environment variable is set correctly?

Similar to: https://github.com/postmanlabs/newman/issues/235

A detailed explanation can be found here:
1. https://github.com/nodejs/node-v0.x-archive/issues/6779
2. https://github.com/nodejs/nod

[2018-09-06 06:39] m3dbedb opened #1706 "newman 4.1.0 doesn't execute test scripts and assertions"
1. Newman Version: 4.1.0
 2. OS details: windows 7 32
 3. Are you using Newman as a library, or via the CLI? Newman is used via CLI
 3. Did you encounter this recently, or has this bug always been there: This is my first exercise with newman, I didn't try older versions
 4. Expected behaviour: old-style test scripts to be executed (the scripts work sucsessfully with runner 6.x for windows) accordi

[2018-09-06 09:13] donotello commented on #1303
Hi,

Please note that this is not HTML reporter issue. This is also the case e.g. for junit reporter (tested on 4.10). Here is what I get in junit report:

[code]

Because of this empty testsuite `xunit` plugin in Jenkins fails to generate trend.

So I would consider this as a high priority item on reporters.

P.S. Should we close [#1671](https://github.com/postmanlabs/newman/issues/1671) and [#16

[2018-09-06 10:43] kieronlangdon commented on #1692
Sorry for the late reply,
Got it sorted, needed a
sh "cd ../" to find the dir in the workspace
So
[code]
Hopefully this is useful to others!
Please close this

[2018-09-06 10:44] #1692 closed

[2018-09-06 13:57] xell66 commented on #1703
Thanks for the advice. The Problem was that I used https_proxy and not HTTPS_PROXY.

[2018-09-06 14:00] kunagpal commented on #1703
@xell66 That's odd, the variable should work regardless of case 🤔

[2018-09-07 01:58] codenirvana commented on #1706
@m3dbedb I am not able to reproduce this issue, tried with the same collection and environment as well.

Can you try to reinstall Newman and check if the issue persists?

[2018-09-07 03:14] shamasis commented on #1703
Marking this as solved for now. Will revisit case issue during future chores.

[2018-09-07 03:14] #1703 closed

[2018-09-07 05:26] SowmyaT opened #1707 "In Newman, Do we have the option for `--reporter-cli-no-failures` in the CLI LIBRARY to run from the script file."

[2018-09-07 06:04] codenirvana commented on #1707
@SowmyaT You can set [options](https://github.com/postmanlabs/newman#newmanrunoptions-object--callback-function--run-eventemitter) for reporter using `options.reporter`.

Like in this case:
[code]

[2018-09-07 06:58] SowmyaT commented on #1707
@codenirvana Thanks !

[2018-09-07 11:35] m3dbedb commented on #1706
Sure, but I can't uninstall it:

npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\user\pac
kage.json'

C:\Users\user>**npm uninstall newman**
up to date in 0.098s
C:\Users\user>**npm install newman**

[2018-09-07 11:40] esbenbach commented on #1412
@xiaweixing  - did you modify the collection locally and it was synced to postman servers or how did you get the src/file path into the collection on the servers?

[2018-09-07 11:41] codenirvana commented on #1706
@m3dbedb Looks like Newman is installed globally. To uninstall run:
[code]

and re-install using:
[code]

[2018-09-07 15:05] chrisgbaker commented on #808
@uadev was `--no-color` removed? when running `npx newman run ./postman_collection.json -e ./postman_environment.json -r cli,junit --reporter-junit-export ./Test-Results.xml --disable-unicode --no-color` the command now fails `  error: unknown option `--no-color'` as the output.

[2018-09-07 15:08] chrisgbaker opened #1709 "Using --no-color flag causes newman to fail"
Possible regression on https://github.com/postmanlabs/newman/issues/808

Running the command

`npx newman run ./postman_collection.json -e ./postman_environment.json -r cli,junit --reporter-junit-export ./Test-Results.xml --disable-unicode --no-color`

has been working in our CI/CD environment for some time, but tests have also been broken for awhile. looking into logs, it appears the `--no-color`

[2018-09-07 16:31] codenirvana commented on #1709
@chrisgbaker The behavior of `color` option is changed in `Newman v4`.

For Disabling the colored output:

**V3 command**
[code]

**V4 equivalent**
[code]

Check [V3 to V4 migration](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md#migrating-from-v3-to-v4) guide to know more.

[2018-09-07 16:31] #1709 closed

[2018-09-07 22:51] josuamanuel opened #1710 "Environment variables that are not enabled are found by pm.environment.get"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): macOS Sierra 10.12.6
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: I encounter this recently. I dont know if it was present before or always.
 4. Expected behaviour: Environment variables that are not enabled

[2018-09-08 08:41] kunagpal commented on #1710
Closing as a duplicate of https://github.com/postmanlabs/newman/issues/1446

[2018-09-08 08:41] #1710 closed

[2018-09-10 07:11] m3dbedb commented on #1706
After reinstallation test scripts appeared in newman test run details table, but newman didn't use environment variables and didn't execute test scripts as I stated in my first message. If I open the same collection and environment in postman app, everything works good.

newmal run output with my comments begining with `***` applied
[newmanlog.txt](https://github.com/postmanlabs/newman/files/23654

[2018-09-10 08:53] codenirvana commented on #1706
@m3dbedb From the logs shared I can see you are missing the `-e` option to specify an environment file path.
[code]

Also, note that your environment variable `url` is ending with a leading `/` which will make `{{url}}/start` have two `/`s.

[2018-09-10 12:49] m3dbedb commented on #1706
Thank you, now everything goes fine, and there in no mistake in url:
url = http://192.168.6.6:8089/api/v1
 {{url}}/serv makes http://192.168.6.6:8089/api/v1/serv

[2018-09-10 18:55] #1706 closed

[2018-09-10 18:59] shamasis commented on #1706
Great to see all issues solved. Closing the issue.

[2018-09-10 19:00] shamasis commented on #1700
Node v9 and above increases these limits. Please try this out and let us know.

[2018-09-11 09:53] kthulsidoss opened #1712 "running tests in parallel -what options to specify to view the responses"
Dear PostMan Support , greetings. I have been trying to use the parallel runner to run test parallely .I used the support mentioned here https://github.com/postmanlabs/newman/blob/develop/examples/parallel-collection-runs.js . There is a parallel issue albeit not a similar one here Feature request: Run test in parallel #744.
I need to check the responses that are sent out , what do i specify so th

[2018-09-11 17:57] MahmudulMannan08 commented on #1524
@kunagpal the issue is not resolved. Please reopen this. I am also having same issue

[2018-09-11 18:11] MahmudulMannan08 commented on #1524
I guess you also copied shell executable path C:\Windows\system32\cmd.exe on Jenkins configuration. I think if we do that it is not actually running our shell commands inside the project. You can run without any commands at all and it will still show success!

[2018-09-11 22:39] mianamirrashid commented on #1679
Any update facing same kind of issue

[2018-09-12 10:54] numaanashraf commented on #1712
@kthulsidoss Could you try adding `console.log(pm.response.text())` in the test script? That should log to the stdout.

[2018-09-12 11:09] kthulsidoss commented on #1712
@numaanashraf  sorry no output received
C:\npm\node_modules>node parallel-collection-runs.js
Defect74971GetApiDataCombinedUsedByISIN ran successfully.
Defect74971GetApiDataCombinedUsedByISIN ran successfully.
Defect74971GetApiDataCombinedUsedByISIN ran successfully.

C:\npm\node_modules>

i added the code to the script postman.setEnvironmentVariable("JSONResponse", pm.response.text())

console.log

[2018-09-12 11:17] codenirvana commented on #1712
@kthulsidoss You are using Newman as a library, to get `console.log` in stdout you need to use CLI reporter.

In your `newman.run` [options](https://github.com/postmanlabs/newman/blob/develop/examples/parallel-collection-runs.js#L16) add `reporters: 'cli'` to enable CLI reporter.

[2018-09-12 15:29] mianamirrashid opened #1713 "Postman Collection Level Pre Scripts request runs fine in Postman but failing in Newman"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): Windows 8
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:Just start using it in CLI
 4. Expected behaviour: For "Pre Request - Script"  should be able to get resposne body and save that value in Environment vari

[2018-09-13 11:34] codenirvana commented on #1713
@mianamirrashid Can you share a sample collection (minus the sensitive details) with this behavior?

[2018-09-13 14:01] mianamirrashid commented on #1713
Folder A (Parent ) - Pre-request Scripts (Nothing else in it )

const echoRequestfortoken  = {

    url : "https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    method : 'POST',
    header: {Accept:"application/json","Content-Type":"application/json",   "Api_key": "xxxxxxxxxxxxxxxx", "cache-control":"no-cache"    },
    body: {
        //mode:'raw',
        mode: 'application/json',
        raw: JSON.str

[2018-09-14 07:48] Manojkumar05 commented on #1713
Newman Version (can be found via newman -v): 4.1.0
OS details (type, version, and architecture): Windows 7
Are you using Newman as a library, or via the CLI? Library in Node Modules
Did you encounter this recently, or has this bug always been there:Just started using
Expected behaviour: **As it is working fine in postman, The same is expected in Newman.**
Sample collection, and auxiliary files (mi

[2018-09-14 09:40] namelessvoid opened #1715 "Security Issue with Alpine-based Docker Images"
Hello there!

The current release of Alpine 3.8.1 contains an important security fix for the apk package manager: https://alpinelinux.org/posts/Alpine-3.8.1-released.html

Are there any plans to upgrade the alpine based newman image `newman_alpine33` to the latest version?

Maybe I could provide a pull request updating the image. A first round of testing revealed no compatibility breaking changes

[2018-09-14 09:46] kunagpal commented on #1715
@namelessvoid Thanks for bringing this up, feel free to send a pull request to create a new `newman_alpine` image. The `newman_alpine33` would eventually be deprecated (in the long-term future), we'll leave that as is for now (except Node and Newman version updates, of course).

[2018-09-14 09:54] cbarrerah commented on #1145
Still happening with npm 6.4.1 with example collection with the 10k assertions and the node options
NODE_OPTIONS='--max-old-space-size=8192' newman run testAssertions.postman_collection.json  --reporter-cli-no-failures
[testAssertions.postman_collection.zip](https://github.com/postmanlabs/newman/files/2382858/testAssertions.postman_collection.zip)

[2018-09-14 09:54] Manojkumar05 commented on #1713
Please find attached zip files for your reference

[AddFolder.zip](https://github.com/postmanlabs/newman/files/2382857/AddFolder.zip)

[2018-09-14 09:56] cbarrerah commented on #1691
I attached an example collection that still shows the same bug and has been tested with npm 6.4.1

[2018-09-14 10:16] Alextunchii commented on #1574
@kunagpal Hello!
When can we expect this nice approvement in Newman stack-trace report?

Thank you for answer in advance!

[2018-09-15 04:28] codenirvana commented on #1713
@Manojkumar05 This works fine for me, can you share the script used to run Newman?

[2018-09-15 10:59] #1715 closed

[2018-09-17 10:41] kthulsidoss commented on #1712
it does work ,thanks all, how ever there is a new issue which i'm reporting

[2018-09-17 10:41] #1712 closed

[2018-09-17 10:44] kthulsidoss opened #1718 "running tests in parallel , there is no request to the server at all"
Hi greetings. Here is the postman parallel request that i adopted
https://github.com/postmanlabs/newman/blob/896a7b61955ee59bc8bfcfa144e7c5aa3639194e/examples/parallel-collection-runs.js , with help from the support i added the options to get the console output.
How ever i dont see the responses
C:\npm\node_modules>node parallel-collection-runs.js
newman

MFD_R9
newman

MFD_R9
newman

MFD_R9

┌───

[2018-09-17 10:58] kthulsidoss commented on #1718
There is no responses back at all as you can see from total data received so this output saying that MFD_R9 ran successfully is misnomer ?
Tx
K.thulsi Doss

[2018-09-17 11:36] codenirvana commented on #1718
@kthulsidoss Can you share a sample collection (minus the sensitive details) and the script used to run Newman with this behavior?

[2018-09-17 11:49] Manojkumar05 commented on #1713
`newman.run({
            collection: require(collectionPath),
            iterationData: "D:\\Work\\Automation\\API\\testdata.csv",
            environment : "D:\\Work\\Automation\\API\\Variables\\EnvVariables\\Env1.json" ,
            iterationCount: iterCnt,
            asLibrary: true,
            stopOnError: false,
            reporters: 'html',
            reporter: { "html": { "export": ex

[2018-09-17 16:16] kthulsidoss commented on #1718
Hi since this is more of IBM environment , please schedule a webex/goto meeting where we can show the screen tx k.thulsi

[2018-09-18 04:18] Manojkumar05 commented on #1713
I am facing parsing error issue for both input data in csv or json format.

Error Information:
UnhandledPromiseRejectionWarning: Error : Parse Error: expected: '"' got: ':' . at ': {\n\
at parseEscapedItem: fast-csv\lib\parser\parser.js:80:19
at parseStream.parseLine: parse.js: 192:30
at parser_stream.js

We are using 4.1.0 version for Newman and this is being used as a library.
We are using Postm

[2018-09-18 08:40] kthulsidoss commented on #1718
i see the response after tweaking my collection containing the request. How to make postman to send the response to html ? i changed the option to reporters: [ 'html','cli'] it does not do that.

[2018-09-18 08:50] codenirvana commented on #1718
@kthulsidoss [HTML Reporter](https://github.com/postmanlabs/newman-reporter-html) won't include response in the report.
You can check #1493 thread for more detail.

[2018-09-18 08:57] kthulsidoss commented on #1718
okay we can close this

[2018-09-18 08:57] #1718 closed

[2018-09-19 03:57] shamasis commented on #1713
@mianamirrashid @Manojkumar05 - are both of your issues related? It would be very difficult to resolve two issues on a single thread. If they aren’t related, I would urge @Manojkumar05 to file a separate issue please.

[2018-09-19 09:31] jpavansharma commented on #1713
@shamasis These two issues are related. Both of them have issues running collection in newman exported from Postman.
@codenirvana : I am too working with Manoj on running collection exported from Postman to Newman. Re verify from your side on Newman front. fast-csv library is used internally by Newman api. This is not done by us. From the command line too the collections exported from Newman are n

[2018-09-19 11:15] vincepeng opened #1720 "mac postman app curl not url encode"
mac 6.3.0

### curl not urlencode
**origin** :`http://partner.qima-inc.com:7001/partner/com.youzan.beauty.partner.api.naturade.promotion.group.GroupActivityService/1.0.0/getGroup?json={"activityId":"1","userId":102707,"shopId":1138}`

**use app curl**

curl -X GET \
  'http://partner.qima-inc.com:7001/partner/com.youzan.beauty.partner.api.naturade.promotion.group.GroupActivityService/1.0.0/getGrou

[2018-09-20 03:44] shamasis commented on #1720
Thanks for reporting. I am reporting the issue in the right issue tracker on your behalf. Please follow up at: https://github.com/postmanlabs/postman-app-support/issues

[2018-09-20 03:44] #1720 closed

[2018-09-20 07:55] codenirvana commented on #1713
@jpavansharma Thank you for the clarification.

The collection supplied for testing was not portable since it had internal local endpoints. By modifying them to external endpoints, we were not able to reproduce the issue.

To summarise your problem, you are seeing script execution error and server 5xx when running collection. It seems to be an issue with the way things are scripted in the collecti

[2018-09-20 09:04] shamasis commented on #1713
Closing this issue for now, since this is not related to Newman. Postman also has extensive documentation that you can refer to quickly unblock yourselves from issues such as this. Visit: https://learning.getpostman.com/

Also, if your issue is more of an "how-to" help and not a product bug, we have an active user community forum that will help to solve them. Visit: https://community.getpostman.co

[2018-09-20 09:04] #1713 closed

[2018-09-21 05:45] bagrip commented on #1679
Facing same issue where I need to update access token from Newman to run it from Jenkins as well, Postman no issue

[2018-09-21 07:49] codenirvana commented on #1679
@mianamirrashid @bagrip can you confirm that your issue is related to the same issue discussed above?

For clarification, the issue is to sync the updates made to environment variables during the Newman run.

@g7skim I also updated the issue title to avoid confusion.

[2018-09-21 11:20] codenirvana commented on #1639
@praveenkannambadi Closing due to inactivity.

[2018-09-21 11:20] #1639 closed

[2018-09-21 14:43] mianamirrashid commented on #1679
@codenirvana yes my issue is linked to Newman not able to sync variables especially those which are being used in pre request. For me it is happening when I try to get response body in pre request and it is getting null while in postman it is getting response body.

[2018-09-21 15:26] 121arijit opened #1727 "Unable to generate output.json with time stamp in file name."
I am using command as ---> newman run Collection1.json -r json,html --reporter-json-export newman/output.json –-reporter-html-export newman/Reports.html

Report getting generated with a timestamp in the file name but ouput.json file doesn't have any timestamp in the file name and it is getting overwritten every time. Is there any other option or command I can use to generate an ouput.json with the

[2018-09-21 16:06] MStahl15 opened #1728 "Custom error messages in color"
Version and environment information:
 1. Newman Version: 4.1.0
 2. OS details:  Windows 10
 3. Are you using Newman as a library, or via the CLI?: CLI

I am using the "--color on" which works great but...

Is there a way to apply color to a error message that is caught and thrown other than the generic error messages that appear at the end of the request path?

For example I'm grabbing my response

[2018-09-21 17:00] bagrip commented on #1679
yes, newly generated token from Newman is not getting updated in Environment file and because of that next requests are failing because token is not updated and existing token expired.
So Envrinment variables are not syncing up from Newman.

[2018-09-21 18:57] shamasis commented on #1728
Hey - use console.error() 😛 it will do the job.

Do post a screen of what you finally get!

[2018-09-23 17:57] cajund opened #1729 "Syntax Error in Semaphore Build"
Hi Folks,

I have API tests set up to run during a Semaphore build. The following lines used to work, but I am now getting an error when these commands are issued:

First this runs fine:

[code]

Then this results in an error:

[code]

Here's the error:

[code]

This is a bare bones machine from Semaphore. The specs are here (Ubuntu 16.04 LTS 64-bit):

https://semaphoreci.com/docs/supported-stack.

[2018-09-24 04:53] kunagpal commented on #1727
@121arijit See https://stackoverflow.com/questions/203090/how-do-i-get-current-datetime-on-the-windows-command-line-in-a-suitable-format

[2018-09-24 04:53] #1727 closed

[2018-09-24 04:58] kunagpal commented on #1729
@cajund It looks like you're on Newman v4 or above, which drops support for Node v4. You'll have to use at least Node v6, which can be done as follows:
[code]

[2018-09-24 04:58] #1729 closed

[2018-09-24 04:58] #1728 closed

[2018-09-24 11:35] eloyucu opened #1730 "Globals vairables URL"
Hi everyone.

I am sorry to make this low level question, but I didn´t find the solution by myself. Where to find the url for global variables in a workspace??

Thanks.

[2018-09-24 11:50] sivcan commented on #1730
@eloyucu Sorry if I misunderstood your question, did you mean the Docs link for globals?
If yes then here: https://www.getpostman.com/docs/v6/postman/environments_and_globals/manage_globals

Or if you've some other issue in using the globals can you elaborate more?
Possible record a video / GIF and share your OS details & your Postman App version.

[2018-09-24 11:51] cajund commented on #1729
Thanks!

[2018-09-24 12:01] eloyucu commented on #1730
Hi @sivcan

No I mean... I have a workspace with its own set of global variables, to use them on newman I have to save them as a json file, and everytime I want to change something on those variables I need to download again, overwrite the old json file, commit and push.

On this repo I have seen this:

So I want to use the url instead the path for the json file. Or... does the URL means that you

[2018-09-24 12:41] codenirvana commented on #1730
@eloyucu Using URL you can fetch collection/environment from [Postman API](https://docs.api.getpostman.com) or from an external source where your data is hosted.

Check [Using Newman with the Postman API](https://github.com/postmanlabs/newman#using-newman-with-the-postman-api) section in README.

However, Global environment can't be fetched via API yet.
For now, you should either fetch the variabl

[2018-09-24 13:01] eloyucu commented on #1730
Hi @codenirvana.
I prefer continue using the `--globals` flag to pass it the path to the json file with all the globals vars.

But it could be great can use a postman´s url for globals of a workspace that allows the auto synchronization, instead use the static json file.

Thanks.

[2018-09-24 16:03] g7skim commented on #1679
@codenirvana Yes, the new issue title is more informative. Will this feature be added in some of the next releases?

[2018-09-25 11:59] codenirvana commented on #1730
@eloyucu I completely agree with your point but, global variables can't be fetched via API yet.

Marking this as a feature request. Will update you once its ready.

[2018-09-25 12:16] codenirvana commented on #1679
@g7skim I can't assure you an exact release date/version. 😅

But, we are working on a feature which will help to build sync features like this easily.

[2018-09-25 12:32] codenirvana commented on #1679
@mianamirrashid @bagrip your issues are actually not related to this, it looks like environment variable is not being set or updated from the pre-request or test script.

Refer to [scripts](https://www.getpostman.com/docs/v6/postman/scripts/intro_to_scripts) and [variables](https://www.getpostman.com/docs/v6/postman/environments_and_globals/variables) documentation for more detail.
This is most li

[2018-09-25 22:53] bagrip commented on #1679
@codenirvana Actually same script and environment variable setup working fine in Postman but when I run it from Newman seeing issues where env variable (generated token) in environment file is not getting synced up.

[2018-09-27 08:45] codenirvana commented on #1679
@bagrip You can export the final environment variables file before completing a run using the `--export-environment <path>` option.

In order to update the same input file, run:
[code]

[2018-09-27 12:22] Ramya-From-Postman opened #1732 "Cipher customization support"
The collections that are run using Newman is not working & resulting in the following error while the same works with curl command & when run through postman app. Please help resolve the issue.

[code]
Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`): 3.9.3
 2. OS details (type, version, and architecture): mac OSX high sierra 10.13.4
 3. Are you using Newm

[2018-09-27 14:49] luizfzs commented on #1655
That would be good. I saw other posts suggesting adding `console.log()` to the tests but my test suite is over 1000 test cases and it is unpractical.

[2018-09-28 04:07] shamasis commented on #1655
Add your console.log to the test script of collection. As such adding one script will make it run for all responses. @luizfzs

[2018-09-28 04:09] shamasis commented on #1732
Ciphers are fixed while making request. Let’s take this up as a feature request to configure ciphers using easy to use protocol profile flags @udit.vasu

[2018-09-28 06:04] shizijiao opened #1733 "the request method is get contain？ & .but reponse null"
1. Newman Version (can be found via `newman -v`):3.9.4
 2. OS details (type, version, and architecture):debian 8
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if a

[2018-09-28 07:57] ThisIsABug commented on #1461
Actually this is exactly the issue. Every request which holds a nested request created with pm.sendRequest fails to output a result. If the nested request is in a folder, every test in the whole folder will end up creating an empty testsuite  "<testsuite/>". To work around that problem we currently have a dedicated request without nesting, but it messes up our collections pretty much, additionally

[2018-10-03 00:05] pycaster opened #1736 "newman attempting to set the next request but not executing the request in the collection"
1. Newman Version (can be found via `newman -v`):
```4.1.0```

 2. OS details (type, version, and architecture):
```Linux ubuntu 4.15.0-34-generic #37-Ubuntu SMP```

 3. Are you using Newman as a library, or via the CLI?
```CLI```

 3. Did you encounter this recently, or has this bug always been there:
```Recently```

 4. Expected behavior:

I expect to see Request 4 run as well because I am seein

[2018-10-03 05:58] codenirvana commented on #1733
@shizijiao Can you please elaborate?

[2018-10-03 06:13] codenirvana commented on #1736
@pycaster `--folder` selects a folder or a request with the provided name and only executes requests inside the selected folder or in this case the selected request `"Request 1"`.

You need to drop `--folder "Request 1"` to fix this behavior.

[2018-10-03 14:20] pycaster commented on #1736
So if I drop --folder, should I see only execution of "Request 1" and "Request 2" because I causing for such redirection?

Or my question would be, how to skip some requests in the folder here? Thanks.

[2018-10-04 05:49] codenirvana commented on #1736
@pycaster You can move "Request 1" & "Request 2" into a folder say "Folder 1" and use the `--folder "Folder 1"` option to run requests within that particular folder.

[2018-10-04 14:01] prateeksarda opened #1737 "What is the difference between AssertionError and AssertionFailure"
1. Newman Version (can be found via `newman -v`): latest
 2. OS details (type, version, and architecture): Linux
 3. Are you using Newman as a library, or via the CLI? NodeJS library
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: (See point 5)
With bail set as true, while command (a) stops the execution of collection as it fails
but command

[2018-10-04 15:35] k0enf0rNL commented on #1679
I'm running into the same issue, My test also creates a global variable with a generated ID. I need that ID in the next test. It works fine in postman but it doesn't work in newman because the variables don't get filled during a run.

[2018-10-05 02:48] Sussumu opened #1738 "Unexpected identifier on any whitespace from imported csv data file"
1. Newman Version (can be found via `newman -v`): _4.1.0_

 2. OS details (type, version, and architecture): _Windows 10 Pro x64_

 3. Are you using Newman as a library, or via the CLI? _library (not working) and CLI (working fine)_

 3. Did you encounter this recently, or has this bug always been there: _found it now_

 4. Expected behaviour: _parse csv data and run the collection via library int

[2018-10-05 05:49] codenirvana commented on #1738
@Sussumu CSV files can't be `require`d like this.

You have to specify the path to the CSV file to use `iterationData`, like:
[code]

[2018-10-05 05:49] #1738 closed

[2018-10-05 06:10] codenirvana commented on #1679
@k0enf0rNL As mentioned above [#1679 (comment)](https://github.com/postmanlabs/newman/issues/1679#issuecomment-424324313), this issue is about syncing the updated environment variables with Postman Cloud.

[2018-10-05 15:34] Sussumu commented on #1738
Nice, thanks!

[2018-10-08 11:13] dojones1 opened #1740 "TypeError: Cannot read property '0' of undefined"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): Docker newman-alpine33
 3. Are you using Newman as a library, or via the CLI? Docker image
 3. Did you encounter this recently, or has this bug always been there: Can't say - new to newman.
 4. Expected behaviour: Newman should complete gracefully, and then indicate failure.
 5. Command / scri

[2018-10-10 06:53] Muralinie opened #1744 "Newman HTML reporter : Unable to to export test results in html"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): Linux  3.10.0-862.9.1.el7.x86_64
 3. Are you using Newman as a library, or via the CLI? - Using CLI
 3. Did you encounter this recently, or has this bug always been there: This is new setup
 4. Expected behaviour: HTML report  report should be created in the workspace directory
 5. Command / s

[2018-10-10 07:48] kthulsidoss opened #1745 "SyntaxError: Unexpected token S in JSON at position 0"
Hi
I adapated this help to write postman responses to files (https://github.com/postmanlabs/postman-app-support/issues/3033#issuecomment-301758179). Here are files used
SIA_Ext_Gateway Additional Test Cases.postman_collection.json ,
writeToDiskSIA_EXt_GatewayAdditionalTestCasesKN.js

However when i run the files i get the following error

SyntaxError: Unexpected token S in JSON at position 0
    a

[2018-10-10 15:03] luisfestevez opened #1747 "Newman SSL Cert - tunneling socket could not be established, statusCode=403"
1. Newman version: 4.1.0
 2. OS details: Windows 7 - 64 bits
 3. Using Newman via the CLI
 3. Recent issue.

 4. Expected behaviour: The API Request correctly reach the server and returns a 200 OK response (like in Postman).

 5. Command / script used to run Newman:
set HTTPS_PROXY=myproxy:8080 && newman run mycollection.json --insecure --ssl-client-cert mycertificate.crt --ssl-client-key mycertif

[2018-10-12 09:14] SDixit1 opened #1749 "Getting Error Unexpected end of input at test-script"
I am running my  collection via  POSTMAN its running successfully but if I run the same collection via Command line (newman collection ) its giving error. my Request is SOAP request (xml).

my test script is

 var jsonObject = xml2Json(responseBody);
console.log(jsonObject);
pm.test("Status code is 200", function () {
    pm.response.to.have.status(200);
});

pm.test("Verify CPWN", function () {

[2018-10-12 12:16] kunagpal commented on #1749
@SDixit1 In your second pm.test block, you've split the first argument to `pm.expect` across multiple lines, which in this case is invalid JavaScript. You can rewrite this as follows:
[code]

[2018-10-12 12:16] #1749 closed

[2018-10-12 12:29] kunagpal commented on #1747
@luisfestevez Could you prepend `https://` to your `HTTPS_PROXY` value?

[2018-10-12 12:40] kunagpal commented on #1737
@prateeksarda Apologies for the delay here.

**AssertionError**
`pm.expect` assertions (as well as other assertions in general) work by throwing an error when When a `pm.expect` statement is present outside the `pm.test` wrapper, an assertion failure will cause an error to be thrown, causing a script error. This is what would cause your collection run to exit prematurely (if the bail flag has been

[2018-10-12 12:40] #1737 closed

[2018-10-12 16:46] prateeksarda commented on #1737
@kunagpal Thanks Kunal that explains it well.

[2018-10-15 07:40] lajos-thiel-fielmann commented on #1715
@kunagpal Would you be able to build and push newman_alpine to docker hub so we can use it in our builds without having to build from dockerfile?

[2018-10-15 08:54] luisfestevez commented on #1747
Thank you @kunagpal for your response. I appreciate the assistance you provide.

I am actually using `http://` which is working for other API requests that don´t have certificate validation.
E.g. `set HTTPS_PROXY=http://myuser:mypassword@myproxy:8080 && newman run mycollection.json --insecure --ssl-client-cert mycertificate.crt --ssl-client-key mycertificate.key`

I might be wrong, but I think tha

[2018-10-15 11:23] Ramya-From-Postman opened #1752 "Export a different environment filename per iteration"
I’m using Newman and want to do the following: I want Newman to export the environment filename with a timestamp for each iteration. I can't seem to get this to work using the params. Here is my command which I thought would work. I’m on a mac running this command on my machine. Newman is only creating 1 filename with the timestamp. It’s not creating a unique filename for each run.

[code]

After

[2018-10-15 12:29] SDixit1 opened #1753 "Pass dynamic data to xml body"
Request is SOAP request (xml)
I have to write a test for different CPWNRef.

            <mes:CPWNRef>1538996411111</mes:CPWNRef>

if I write,   <mes:CPWNRef>'{{$cpwn}}'</mes:CPWNRef>   and inside pre-request Script
 I defined the variable   like  var cpwn =["1538996411111"]       it shows <ns3:CPWNRef>&apos;{{$cpwn}}&apos;</ns3:CPWNRef>   as output

[2018-10-16 10:13] SDixit1 opened #1754 "How to parameterised SOAP(xml) request."
Hi want to run my request multiple time with different  data. Is it possible in POSTMAN?
For Example in below xml I want to sent request multiple time with different {{CPWN}}

<soapenv:Header/>
   <soapenv:Body>
      <ipt:confirmOrder>
         <ipt:in0>
            <mes:CPWNRef>{{CPWN}}</mes:CPWNRef>

[2018-10-16 10:51] codenirvana commented on #1754
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/5367

[2018-10-16 10:51] #1754 closed

[2018-10-16 11:00] #1753 closed

[2018-10-16 16:23] kvvineesh opened #1755 "I'm getting 2 issues while running my script on a docker in GitLab. Issue #1. Unable to get local issuer certificate at request. Issue#2. Assertion Error: Status code is 200 expected { Object (id, _details, ...) } to have property 'code' at assertion:0 in test-script. It's working fine when I run the script in both Postman and Newman. Can you please help me on this?"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): Windows 7, 64 bit
 3. Are you using Newman as a library, or via the CLI?: library
 3. Did you encounter this recently, or has this bug always been there: I noticed this recently as I started running my script through GitLab.
 4. Expected behaviour: I should get the Status as 200 and my asserti

[2018-10-16 23:51] tdonovic opened #1756 "Unable to Run Newman on Ubuntu 18.04"
Version and environment information:

 1. Newman Version: 4.1.0
 2. OS details: Ubuntu 18.04 in a container, tried with Node 8.latest and 10.latest
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Only started using recently.
 4. Expected behaviour: Runs my job successfully.
 5. Command / script used to run Newman: `

[2018-10-17 04:23] saradraj opened #1757 "Newman html report displays chained requests as only one request."
In my collection, I am looping one request multiple times with different data set. When I view the newman html report, chained requests are displayed as one request. Is this by design in newman html report? I am expecting each request to be displayed separately with its assertions in html report even though same request is looped.
![2018-10-16_23-18-29](https://user-images.githubusercontent.com/16

[2018-10-17 06:39] codenirvana commented on #1757
Duplicate of #1688

@saradraj https://github.com/postmanlabs/newman/issues/1688#issuecomment-415644238

[2018-10-17 06:39] #1757 closed

[2018-10-17 07:06] codenirvana commented on #1755
@kvvineesh You need to setup SSL client certificates using the `--ssl-client-cert` & `--ssl-client-key` option. Know more: https://github.com/postmanlabs/newman#ssl-client-certificates

The second issue is an assertion error because the response status is not 200, due to request failure.

[2018-10-17 07:06] #1755 closed

[2018-10-17 07:12] codenirvana commented on #1733
@shizijiao Closing due to inactivity.

[2018-10-17 07:12] #1733 closed

[2018-10-17 07:12] codenirvana commented on #1400
@fritzieleo Closing due to inactivity.

[2018-10-17 07:12] #1400 closed

[2018-10-17 07:13] codenirvana commented on #1736
@pycaster Closing due to inactivity.

[2018-10-17 07:13] #1736 closed

[2018-10-17 18:14] kunagpal commented on #1715
@lajos-thiel-fielmann We're in the midst of updating our build scripts to account for this change, and will have the images ready shortly. 😄

[2018-10-19 20:23] mixels opened #1759 "The HTML reporter is not installed to the postman/newman_ubuntu1404 Docker container"
1. Newman Version (can be found via `newman -v`):
    4.1.0 via Docker image postman/newman_ubuntu1404
 2. OS details (type, version, and architecture):
    Docker image postman/newman_ubuntu1404
 3. Are you using Newman as a library, or via the CLI?
    CLI
 3. Did you encounter this recently, or has this bug always been there:
    Recently, but I have not tested old container builds.
 4. Expecte

[2018-10-20 08:30] kunagpal commented on #1759
@mixels As can been seen from the Newman changelog here: https://github.com/postmanlabs/newman/blob/develop/CHANGELOG.yaml#L22, the inbuilt HTML reporter was extracted out into its own module to allow faster (independent) iteration and avoid having to make a Newman release for any HTML reporter change.

As for the question of Docker images not including the HTML reporter by default, this was done

[2018-10-20 08:30] #1759 closed

[2018-10-22 10:59] ecastor commented on #1316
Hi! @kunagpal is there a way to use 2 different data files for a single folder? Thanks!

[2018-10-22 11:00] ecastor commented on #1316
Hi! @kunagpal is there a way to use 2 different data files for a single folder? Thanks!

[2018-10-22 11:27] SDixit1 opened #1760 "Run Multiple collection with different Data file"
Hi,
Could you please suggest how to execute multiple  collections with different testdata file.
Collection1.json - Testdata1.json
collection2.json - Testdata2.json
-
-
-
collectionN.json - TestdataN.json

[2018-10-22 12:31] kunagpal commented on #1760
Closing as a duplicate of https://github.com/postmanlabs/newman/issues/1316. The example provided there can be expanded upon to satisfy this use case.

[2018-10-22 12:31] #1760 closed

[2018-10-22 12:52] mixels commented on #1759
NPM is reporting that a peer of newman@4 is required but none is installed. From NPM, I don't see a version of the HTML reporter that is compatible with 4.1.0. Is that the case?

[2018-10-23 19:13] Singwai opened #1762 "Docker image not able to export html because 4.0.0 change extracted html reporter"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): docker with any image ( alpine or ubuntu).
 3. Are you using Newman as a library, or via the CLI?: cli
 3. Did you encounter this recently, or has this bug always been there: since 4.0.0
 4. Expected behaviour: docker image able to export test result to html.
 5. Command / script used to run N

[2018-10-23 19:18] kunagpal commented on #1762
@Singwai See https://github.com/postmanlabs/newman/tree/develop/docker#using-newman-docker-images-with-custom-reporters for documentation on how to use Docker images with custom reporters.

[2018-10-23 19:18] #1762 closed

[2018-10-23 19:35] kunagpal commented on #1762
@Singwai See https://github.com/postmanlabs/newman/issues/1759#issuecomment-431560704 for context on why the HTML reporter was turned into its own package.

[2018-10-23 19:36] kunagpal commented on #1762
Duplicate of https://github.com/postmanlabs/newman/issues/1759

[2018-10-24 08:37] davidmpaz opened #1763 "Newman v4 deprecates support for the v1 collection format"
Hi,

thanks for postman! I just start using the test scripts feature these days and did noticed this message in cli output:

[code]
I get this when invoking `newman` from `cli`. So, my expectations are that, I will have my collection exposed through links with support to the newest version. If older version is needed some alternative link should be provided maybe?

Does this make sense to you guys

[2018-10-24 09:13] codenirvana commented on #1763
@davidmpaz Is the collection URL generated from `Share Collection` or you are using [Postman API](https://docs.api.getpostman.com/) to fetch the collection?

[2018-10-24 10:05] davidmpaz commented on #231
Hi,
I am having the same scenario as @rhlKumar. I would like to run/execute only requests that have tests specified.

For me this looks simple. As the title of this issue state: **Flag to only run the requests having tests**

We want to execute (through **runner** or **newman**) requests only containing tests scripts. If we look at an exported collection we can see something like this:

[code]

so

[2018-10-24 13:15] Ocsidot opened #1766 "Custom reporters could not be loaded."
1. Newman Version:  **4.1.0**
 2. OS details: **Win7 64 bits**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: **Since my update to 4.0.1**
 4. Expected behaviour: **My custom exporter should work :)**
 5. Command / script used to run Newman:  newman run myCollection.json --reporters cli,html,xml
 6. Sample coll

[2018-10-24 13:37] codenirvana commented on #1766
@Ocsidot This should not happen. You need to make sure that:
- Newman & custom reporter are installed in the same root path (`npm root -g`).
- Name of the package is of the form `newman-reporter-xml`.

[2018-10-24 13:43] Ocsidot commented on #1766
Here is the result of the npm list -g command. As you can see, both newman and my reporter are installed as the same level and can be found by npm
[npm-tree.txt](https://github.com/postmanlabs/newman/files/2510711/npm-tree.txt)

And a screenshot of the node module root path
![2018-10-24 15_42_28-node_modules](https://user-images.githubusercontent.com/6094145/47434759-84a75500-d7a3-11e8-8461-6552bb

[2018-10-24 14:01] codenirvana commented on #1766
@Ocsidot This looks fine. How did you installed the custom reporter?
Can you try installing the package using [npm pack](https://docs.npmjs.com/cli/pack), and check if the issue persists?

[2018-10-24 14:20] martijnvandervlag commented on #1766
I noticed this during developing my own reporter! I noticed that if I comment ``` util = require('./util'), ``` and copy the function needed from ``` util.js ``` to ```index.js``` it works!

I have not investigated futher what is causing this issue but it seems to be in ```util.js```.

[2018-10-25 08:41] mohit-sentieo commented on #276
+1 for running request by name or tag. Along with friendly ids we could do request with Ids.

[2018-10-25 10:01] Ocsidot commented on #1766
@codenirvana I've tried and I have the same behavior :(
@martijnvandervlag I've also tried it and no change.

I'll attached another reporter that was developed, named output and maybe you can find the issue on it
[newman-reporter-output.zip](https://github.com/postmanlabs/newman/files/2514313/newman-reporter-output.zip)

Regards

[2018-10-25 10:14] codenirvana commented on #1766
@Ocsidot I found two issues in the reporter code.

1. At `Line:14` change `getFullName:` to `getFullName =`.
2. At `Line:93` variable `body` is declared already at `Line:75`.

[2018-10-25 10:17] Ocsidot commented on #1766
Code fixed but the issue remains here is the console output.

newman: "output" reporter could not be loaded.
please install reporter using npm

[2018-10-25 10:18] codenirvana commented on #1766
@Ocsidot can you share the updated reporter code?

[2018-10-25 10:46] codenirvana commented on #1766
@Ocsidot This works fine for me.
Just make sure reporter is installed in the same root directory as of Newman.

For debugging, try switching to the directory and running Newman like:
[code]

[2018-10-25 12:37] Ocsidot commented on #1766
@codenirvana Did you tried to install output reporter and run it?

I've checked that my reporter is installed in the same root directory as of Newman

[2018-10-25 12:59] codenirvana commented on #1766
@Ocsidot Yes, try directly moving the reporter to the directory. Don't install like: `npm i <folder>`.
I am facing issue with the packaged(`npm pack`) version.

[2018-10-25 13:14] Ocsidot commented on #1766
@codenirvana Finally, I've found where to place my package to make it works  :smile:

If my package is in C:\Users\MyUser\AppData\Roaming\npm\node_modules\newman\node_modules, the exporter works

[2018-10-26 05:54] codenirvana commented on #1766
@Ocsidot Great to hear that!
You can also check other custom reporters like [newman-reporter-html](https://github.com/postmanlabs/newman-reporter-html) for reference.

[2018-10-26 05:54] #1766 closed

[2018-10-29 17:19] JordanFriendshuh opened #1768 "noAssertions cli option not working in script, newman 4.1.0"
Version and environment information:
-->
 1. Newman Version 4.1.0
 2. Ubuntu 16.04
 3. Using newman as library

I encountered this bug when I upgraded to 4.1.0 from 3.8.3.  I do not see in the docs that this should have changed.

Basically what I am looking for is silent except the summary table.

newman call:
`newman.run({collection: currentCollection,
                        environment: environ

[2018-10-29 17:28] JordanFriendshuh commented on #1768
Actually, it is different than no assertions, but I'm getting output that I don't want and don't know how to get rid of.  I want the summary table and failures, but I don't see an option to make this output go away except with silent.
I have tried noAssertions: true, noConsole: true, noBanner: true, noSuccessAssertions: true
`❏ 00. Mgmt
↳ Login (Org 1)
  POST https://fnetidentityapi-test.herokuapp

[2018-10-30 09:11] cbarrerah commented on #1691
Hi @kunagpal  any update on this issue, it is kind of limiting the utility of newman for API testing in an automated proccess, because when it breaks the run, it ignores the reporters that you have set up and simply stops running without saving any results, and as you can assume, a run with 10000 assertions is kind of important and loosing all thoose results is kind of hurting.

Thanks

[2018-10-30 09:48] cbarrerah commented on #1690
Hi,

Maybe you can set the -x option on the newman run, and parse the resulting junit results for each newman run on the jenkinsfile, and depending on the presence of failures in them, trigger a boolean that gives the global PASS/FAIL status of the whole Job.

If you don't pass the -x parameter to the newman execution, any newman run that fails will stop the whole pipeline and mark it as failure.

[2018-11-01 20:26] vbtelus opened #1771 "Please fix security issues"
This project has several vulnerabilities in the dependencies as reported by npm audit.

 1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): macOS Version 10.13.6
 3. Are you using Newman as a library, or via the CLI?: library
 3. Did you encounter this recently, or has this bug always been there: since npm 5.7 added `npm audit` command
 4. Exp

[2018-11-01 21:10] kunagpal commented on #1771
@vbtelus Thanks for opening this issue. Due to increased friction resulting from hawk being included in request, it was replaced with an in-house implementation [here](https://github.com/request/request/pull/2943) and removed in request v2.87.0. The v4.1.0 release of Newman uses a fork of request based off of v2.86.1. The current unreleased version of Newman effectively uses v2.88.1 (as can be see

[2018-11-01 21:28] Sjain01 opened #1772 "Upload multiple files not working using newman command"
newman version = 4.1.0
Using it as CLI to run via Jenkins

Running an API using Newman command in Jenkins which currently uploads a single file. My requirement is to upload multiple files using this same API.

My current code which uploads a single file looks like this:-

                    "header": [],
                    "body": {
                        "mode": "formdata",

[2018-11-02 08:44] Dennizzzzz opened #1773 "Error: you are not authorized by the server"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): Windows 10 Pro.
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: Run collection from postman web
 5. Command / script used to run Newman: newman run https://web.postman.co/collect

[2018-11-02 08:52] kunagpal commented on #1773
@Dennizzzzz See https://github.com/postmanlabs/newman#using-newman-with-the-postman-api for information on how to run a from a URL. The Postman Dashboard collection links are meant to be human-friendly.

[2018-11-02 08:52] #1773 closed

[2018-11-02 09:01] Dennizzzzz commented on #1773
Thanx for the info.

[2018-11-02 15:05] filipmelik opened #1774 "repo postman/newman_alpine is empty"
Hello,

I tried to use new (non-deprecated) image as referenced in documentation, but the repository on the docker hub is empty (as indicated on DockerHub - Last pushed: never) and does not contain the specified image: https://hub.docker.com/r/postman/newman_alpine/ .

[code]

Thanks for fixing this.

[2018-11-02 20:57] mixels opened #1775 "Please echo full path of each exported report after execution and reporting completion."
Small enhancement request here. This is mainly for the benefit of Docker users. File system matching gets complicated when working with Docker on top of a system like Jenkins running in Kubernetes. It would be tremendously helpful if Newman could echo the location of each test report it saves to the console at the end of execution and reporting.

For me, this would help me figure out why Newman is

[2018-11-03 10:59] ajijshaikh opened #1777 "How can I automate the process of sharing collection via postman? Could it be done using newman ?"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2018-11-03 14:12] shamasis commented on #1777
As of now, Newman can only execute a collection already shared. You could put in a word in our community forum (community.getpostman.com) to expose the sharing feature via Postman API.

[2018-11-03 14:12] #1777 closed

[2018-11-03 19:56] kunagpal commented on #1771
@vbtelus Newman v4.2.1 resolves the first vulnerability, the other two will require code changes in our dependency chain. I'll keep this issue open until those two are resolved.

[2018-11-03 19:57] kunagpal commented on #1774
@filipmelik See https://hub.docker.com/r/postman/newman/tags/

[2018-11-05 04:15] amyyuqian opened #1781 "Newman library on AWS Lambda keeps using same request"
1. Newman Version (can be found via `newman -v`): 4.1
 2. OS details (type, version, and architecture): Node.js 8.10
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: always been there afaik
 4. Expected behaviour: Newman should run the collection with a new datafile
 5. Command / script used to run Newman:
 6. Sa

[2018-11-05 07:40] kunagpal commented on #1781
@amyyuqian This is happening because the disk you're writing the file back to is scrapped post Lambda run, effectively leading to your changes being lost. Each Lambda invocation starts from a state that is defined and maintained separately by AWS Lambda. In order to affect changes onto a data file, you could either store it in S3, fetch before the run and write it back once done. Alternatively, yo

[2018-11-05 07:40] #1781 closed

[2018-11-05 19:59] steckdev commented on #1316
So for our solution we ended up using the Newman Ubuntu docker image which we created with
`docker run -v %cd%/../:/etc/newman --name postman_test --entrypoint /bin/bash -t postman/newman_ubuntu1404 "./Scripts/ci-dev-test.sh"`
then ran the tests using this bash script.
`rm -r "./Results"; mkdir -p "./Results"
newman run './Collection.postman_collection.json' -e ./Environment/Dev.postman_environmen

[2018-11-05 19:59] steckdev commented on #871
So for our solution we ended up using the Newman Ubuntu docker image which we created with
`docker run -v %cd%/../:/etc/newman --name postman_test --entrypoint /bin/bash -t postman/newman_ubuntu1404 "./Scripts/ci-dev-test.sh"`
then ran the tests using this bash script.
`rm -r "./Results"; mkdir -p "./Results"
newman run './Collection.postman_collection.json' -e ./Environment/Dev.postman_environmen

[2018-11-06 12:54] stofte commented on #780
Is there any actual support for parallel execution, esp the report generation aspects? That script is hardly much better then a batch file, and you stilll need to agg. the data you care about yourself.

[2018-11-06 13:06] stofte opened #1782 "Iteration flag for newman"
What's the proper way to indicate to newman when running as an npm package that it should iteration N number of times? Doesn't seem to matter what option I use, such as "n" or "iteration-count" or "iterationCount".

var newman = require('newman');

newman.run({
  collection: 'API.postman_collection.json',
  environment: { key: 'URL', value: process.env.URL },
  reporters: ['cli'],
  n: 100
});

[2018-11-06 13:16] kunagpal commented on #1782
@stofte This can be done via the `iterationCount` option.

[2018-11-06 13:16] #1782 closed

[2018-11-06 13:34] stofte commented on #1782
@kunagpal Thanks, I could swear I tried that, but oh well! :)

[2018-11-07 04:51] worldspawn opened #1783 "Newman Api - override variable defined in collection"
Hi, i have a few variables defined in my collection:

[code]

and would like to provide different values to newman when running.

[code]

however the behaviour I am seeing is the value from the collection is always used. How can I override this?

[2018-11-07 04:53] worldspawn commented on #1783
I set the variables in the environment hash instead and its all good 👍

[2018-11-07 04:53] #1783 closed

[2018-11-07 09:23] #1771 closed, assigned to kunagpal

[2018-11-08 01:15] dchBrandify commented on #1763
@codenirvana I get this error when using the collection URL generated from Share Collection.
Is Postman updating the Share Collection functionality to support v2 format?

[2018-11-08 07:01] codenirvana commented on #1763
@dchBrandify Yes, keeping this thread open until Share Collection adds support for`v2` format.

[2018-11-08 07:20] davidmpaz commented on #1763
Hi @codenirvana,

thanks for answering. My first attempt was to use the `Share Collection` approach.

Later, did tried to find alternatives and head up with the Postman API, which yes, it solved my problem of having a reliable export.

I also think keeping the thread open untill supports for v2 lands in the `Share Collection` functionality is a good idea.

Cheers

[2018-11-12 11:39] OliverZou commented on #1772
test run  for uploading a file usig form-data also results a fail........maybe the same issue,help

[2018-11-12 11:44] OliverZou commented on #1627
closed?why?Any workaround in postman testrunner without newman?

[2018-11-12 12:00] codenirvana commented on #1772
@Sjain01 What's the response you received for the second example?

I tried to reproduce this, works as expected:
[code]

**Response:**
![file-upload](https://user-images.githubusercontent.com/4865836/48346218-7365b000-e6a0-11e8-9501-56ac340b0e7a.png)

[2018-11-12 17:16] shamasis commented on #1627
@oliverzou - it’s closed as a duplicate of an issue reported on the correct issue tracker - https://github.com/postmanlabs/postman-app-support/issues/812

[2018-11-13 06:34] atqmetry commented on #1426
Not sure whether I should create a separate issue for this, but only failed test cases have _classname_ in XML. I've just verified this with newman _4.2.2_ on Windows 10 64-Bit.

AFAIK JUnit XML format has classname in all test cases irrespective of their status. We are having trouble with such implementation. _Is it possible to add classname attribute for all test case elements in nearest future

[2018-11-14 05:40] tkruse opened #1788 "Make custom reporter event regstration possible via library usage"
Hi,

I want to extend newman behavior with something like a custom reporter, but I don't want to go through the process of publishing and letting my module be found by newman via require.

it seems to me the documentation covers writing custom reporters, publishing them, and using them via cli-options (with support of all emitted events listed in https://github.com/postmanlabs/newman#newmanruneven

[2018-11-14 05:41] tkruse commented on #1788
This relates to #935, but for using newman as a library.

[2018-11-14 05:48] tkruse commented on #1788
Ah, sorry. I guess that is

    newman.run({
    }).on(...)

[2018-11-14 05:48] #1788 closed

[2018-11-14 14:59] shamasis commented on #1788
@tkruse - glad you found it. I also think a link to programmatic usage of Newman would be great in the reporter section. Will keep a note.

[2018-11-15 12:21] Peropoko opened #1789 "Option --data does not work on Docker"
- Info

1. Newman Version : docker version postman/newman:ubuntu (4.2.2)
 2. OS details (type, version, and architecture): Ubuntu
 3. Are you using Newman as a library, or via the CLI? Docker
 3. Did you encounter this recently, or has this bug always been there: Just found it
 4. Expected behaviour: Include data files to run along iterations
 5. Command / script used to run Newman: docker run -v

[2018-11-15 12:23] #1789 closed, assigned to kunagpal

[2018-11-15 12:42] Peropoko commented on #1789
Thank you for your quick response! I was looking at the wrong documentation.

[2018-11-15 16:30] Kamoshin1 opened #1790 "Newman CLI treating strings in CSV differently from POSTMAN - parsing failure"
1. Newman Version (can be found via `newman -v`): 4.2.2
 2. OS details (type, version, and architecture): Windows 10 Pro Version 1803  Running all files locally, but hitting internal API
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:  This is a new collection
 4. Expected behaviour: I need to use a CSV file to impo

[2018-11-15 17:21] Kamoshin1 commented on #1790
Please close this issue.  It was the result of human error.

I was able to fix this by correctly using the syntax suggested elsewhere.

"bin","pcn","group_id","member_id","last_name","first_name","dob","sex","pharmacy_npi","prescriber_npi"
"\"012353\"","\"01920000\"","\"TESTD  273444\"","\"Z9699879901\"","\"Covg\"","\"MC\"","\"19500101\"","\"2\"","
\"1427091255\"","\"1134165194\""

[2018-11-15 17:21] #1790 closed

[2018-11-15 17:48] codenirvana commented on #1790
@Kamoshin1 Glad you found the fix.
Updated your previous comment. You can wrap the CSV data in back-ticks(```).

 Also, we are working on both Newman & App to have parity in CSV parsing.

[2018-11-16 15:04] Sjain01 commented on #1772
Could make it work using multi-post request to upload files post discussion with a developer who confirmed that backend doesn't support uploading multiple images using single post request.

So this issue can be closed.

[2018-11-16 15:04] #1772 closed

[2018-11-20 09:15] musanas opened #1794 "Can not fetch global variable value in to the newman html report"
1. Newman Version (can be found via `newman -v`): 4.1.0 , newman-html-reporter : 1.0.2
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? Tried both Library and CLI
 3. Did you encounter this recently, or has this bug always been there: Looks like its been there
 4. Expected behaviour: should be able to customize the HTML report with

[2018-11-20 10:09] codenirvana commented on #1794
@musanas You got this error because `globals` is an instance of [VariableList](https://www.postmanlabs.com/postman-collection/VariableList.html) and in handlebars `{{summary.globals.values}}` tries to get string value out of it i.e, `summary.globals.values.toString()`.

For your use case, to list all the global variables:
[code]

or, to get the value of global variable named `testEnv`:
[code]

[2018-11-20 10:09] #1794 closed

[2018-11-21 09:47] kthulsidoss opened #1795 "NewMan appending the test responses"
Hi Kunal ,greetings. We have a small issue with NewMan tool, when i generate the responses using newman as node JS , i find the responses being appended .

For e.g
response 1
[
    "{\n    \"transaction-id\":\"567d22b3-5d67-409e-829e-a102a9548f97\",\n    \"results\":[\n        {\n            \"Currency\":\"USD\",\n            \"Simulation Date\":\"2018-10-10\",\n            \"ID\":\"501044CT6=RRPS

[2018-11-21 09:51] Sjain01 opened #1796 "Use of conditional statement results in assertion failure"
Newman Version: 4.1.0

I am using following conditional statement as test-script:-

    if (tests["Body does have verification finished string"] = (responseBody.has("verification.finished"))){
     console.log('Hi');
     }
     else {
     postman.setNextRequest("Webhooks Url status check");
      }
     If the condition is false, the Jenkins job fails with an assertion error in the script statin

[2018-11-21 10:29] kthulsidoss commented on #1795
[UCTestResult0-foo.txt](https://github.com/postmanlabs/newman/files/2603840/UCTestResult0-foo.txt)
[UCTestResult1-foo.txt](https://github.com/postmanlabs/newman/files/2603841/UCTestResult1-foo.txt)
Here are the two responses file , you can see that from transaction id , these are getting appended.

[2018-11-23 11:27] ChillarAnand opened #1798 "How to run local postman collection with newman?"
In the docs, there are examples to run a downloaded collection from postman and postman URL collections. But there is no documentation on how to run postman collections in my local system. How can I run those collections with newman from CLI?

I don't want to download postman collection and run it because whenever there is an update, I have redownload it.

[2018-11-23 12:05] codenirvana commented on #1798
@ChillarAnand you can specify the file path or URL of the postman collection.

If I understand your question correctly, you don't want to export the collection every time you make changes. In that case, you can use [Postman API](https://www.getpostman.com/docs/v6/postman/postman_api/intro_api) to get the synced copy of your collection.

[2018-11-23 13:43] ChillarAnand commented on #1798
@codenirvana You are right. I dont want to export it everytime.

I want to avoid Postman API calls. Doesn't postman store collections on local system?

[2018-11-23 14:35] kthulsidoss commented on #1795
I moved the var results in the front and problem vanished.

[2018-11-23 14:35] #1795 closed

[2018-11-26 08:56] codenirvana commented on #1798
@ChillarAnand No, you have to use Postman API for that.

[2018-11-26 08:56] #1798 closed

[2018-11-26 10:43] paoloalba commented on #1162
Hi. I am experiencing the same issue. @sk039143 could you give more details on the most updated solution?

[2018-11-26 13:17] paoloalba commented on #1162
Hi @sk039143, I am not currently using pm.sendRequest, and honestly said I have no experience with it at all. What I tried so far was to perform a call from a batch file using the neuman command and the generated json file for the postman collection.

Then about your suggestion, I tried to include the "connection" field in my request header, but it did not succeed.

I also tried to import the glob

[2018-11-26 13:43] sk039143 commented on #1162
We develop all our tests in the Postman UI, into collections, and run from Jenkins via newman.  The timeouts never occur when running in the UI, but we like you, cannot run them that way automatically.  Pm.sendrequest was the Postman API where we were experiencing those socket issues.

[2018-11-28 09:53] qb-sneha commented on #777
How to skip the execution of request A ?

[2018-11-28 11:17] dkutetsky commented on #764
This is not exactly in line with feature request - in our case we are building CI/CD pipeline and have environment json file from developers. So, we need to provide env.json file and override some of the variables by using some "env-var" flag. Also, it could work if newman could recognize data variables from CLI.

Approach with global variables will not work because env variables have higher prior

[2018-11-28 11:20] dkutetsky opened #1799 "Provide flag to override environment variables as key=value (some sort of "--env-var" flag)"
This is not exactly in line with feature request - in our case we are building CI/CD pipeline and have environment json file from developers. So, we need to provide env.json file and override some of the variables by using some "env-var" flag. Also, it could work if newman could recognize data variables from CLI.

Approach with global variables will not work because env variables have higher prior

[2018-11-28 19:53] carlowahlstedt commented on #1678
Looks like someone found [this issue](https://github.com/carlowahlstedt/NewmanPostman_VSTS_Task/issues/42#event-1992211269) using Newman via AzureDevOps.

[2018-11-28 22:15] venkat318 commented on #185
Hi,
I have successfully installed newman(globally npm install newman-global) as a npm module in windows.
![newman installation](https://user-images.githubusercontent.com/13761410/49185809-e1f96d80-f330-11e8-9872-19082dff62f6.JPG)

and when I try to get the version(newman -v) of it I got the following error, Please help me to resolve this issue.
![newman error](https://user-images.githubusercontent

[2018-11-30 03:19] musanas opened #1801 "How to fetch folder description to html report"
Hi,

In my collection, I have arranged different apis in to different folders
And each folder has some small descriptions like below
![folder](https://user-images.githubusercontent.com/25841256/49266435-2bf96500-f491-11e8-8615-04a5f8015211.png)

I am trying to display this in the newman HTML report
Basically like {{folder name}} - {{the description}}

I have played with it much
I understand the be

[2018-11-30 09:08] gederian commented on #1801
I appreciate your work sir and some day I'll be back to use them.  ;)

On Thu, Nov 29, 2018, 7:19 PM Musaffir <notifications@github.com wrote:

[2018-11-30 09:08] gederian commented on #1801
And asking questions with the chicks and stuffs :)

On Thu, Nov 29, 2018, 7:19 PM Musaffir <notifications@github.com wrote:

[2018-11-30 15:11] bassie1995 commented on #1756
Something seems wrong with your file, I couldn't import it in Postman. The error seems to indicate the same thing: an invalid character in the collection or something?

[2018-12-02 21:39] QuinnBast commented on #398
Agreed, this is still a problem
Local postman: 14/14 pass
Local newman: 14/14 pass
Travis-CI newman: 13/14 pass - failing test will result in a 409 error.

Restarting the Travis-CI build 4-5 times will eventually result in all tests passing. For some reason newman is causing different request status codes.

[2018-12-03 13:01] JohnnyBarry commented on #1303
+1
Any update?
We are also having this issue with both HTML and Junit reporters.

[2018-12-03 18:58] deepakmehra10 commented on #1189
Hi,
I have a situation where all my test cases would run fine on local machine i.e. request to a load balancer would be made and then assertion would be done works fine. However, it would always cause timeout when the same request would be made from DCOS, Any idea?

[2018-12-04 00:58] bitnahian opened #1803 "certificate "key" and "cert" load error"
1. Newman Version: 4.2.2
2. OS details: Linux <user> 4.14.83-1-MANJARO #1 SMP PREEMPT Fri Nov 23 18:20:11 UTC 2018 x86_64 GNU/Linux
3. Newman as CLI
4. Recently
5. Expected behaviour: Runs without encountering certificate "key" load error and certificate "cert" load error.
5. Command:
[code]
6. Shown in command

I've run this collection in the Postman UI, but am failing to run this with newman CLI

[2018-12-04 01:32] #1803 closed

[2018-12-06 10:11] kthulsidoss opened #1807 "Paginated HTML reporter"
Dear PostMan-NewMan,Greetings. I have a feature request  to make , this would help our company
IBM in the quality & test side .  Here are the feature requests
1.Bringing the Failed Tests on the top of the Pile. (i know we dont have that in the default out of the box one)
2.Paginating the reports , let us say there are 100 (or it could be 1000) , we could have the reporter to show
1..10 , 11..20 ,2

[2018-12-06 20:16] stephanos commented on #885
Just hit this as well. I'm running newman on CircleCI (ie a Docker environment) and don't have a lot of control about how it's being run.

[2018-12-12 12:08] debjchak opened #1819 "Modifying data in one workspace modifies data in other workspaces too"
Newman Version:4.0.2,Postman Version:6.2.5
OS details (type, version, and architecture): Windows 7,64 bit production Imagev1.16.00.AO.B19
Newman via the CLI
Did you encounter this recently, or has this bug always been there: Recently started using
Expected behaviour: Scripts modified in one workspace should not reflect in others
 Could you please let me know why a script or a collection modified i

[2018-12-12 15:37] shamasis commented on #1819
Postman workspaces allow you to neatly classify your collections based on your collaboration needs. https://www.getpostman.com/workspaces

Please use the appropriate issue tracker if you want more help. https://github.com/postmanlabs/postman-app-support

https://www.getpostman.com/community

[2018-12-12 15:37] #1819 closed

[2018-12-14 12:15] ackris opened #1820 "403 forbidden error [behind a corportate network]"
Hi Everyone

 1. Newman Version (can be found via `newman -v`): _**version is 4.6**_
 2. OS details (type, version, and architecture): _**RHEL 7.4**_
 3. Are you using Newman as a library, or via the CLI? _**Downloaded Newman via npm**_
 3. Did you encounter this recently, or has this bug always been there: _**We are executing our postman collections through newman in Jenkins for the first time.**

[2018-12-14 14:39] gardner8689 opened #1821 "Depreciated js package "Circular-JSON""
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2018-12-14 14:40] #1821 closed

[2018-12-14 14:43] gardner8689 opened #1822 "Depreciated js package "Circular-JSON""
1. Newman Version (can be found via `newman -v`): 4.2.2
 2. OS details (type, version, and architecture): Windows Server 2016 Standard
 3. Are you using Newman as a library, or via the CLI? :using Via the CLI
 3. Did you encounter this recently, or has this bug always been there: Encounter today
 4. Expected behaviour: Successful Newman install
 5. Command / script used to run Newman: npm install

[2018-12-17 10:19] AlphaWong opened #1824 "Do not sync readme in dockerhub"
In dockerhub readme ( https://hub.docker.com/r/postman/newman/ )
![image](https://user-images.githubusercontent.com/5622516/50080865-09ed3a00-0228-11e9-811c-bf74e7c8f277.png)

In github readme ( https://github.com/postmanlabs/newman/tree/master/docker )
![image](https://user-images.githubusercontent.com/5622516/50080930-2be6bc80-0228-11e9-991f-bdf6d664ab49.png)

# Issue
following sh will not work.

[2018-12-17 12:57] slavenantic opened #1825 "The environment variable set in sendRequest (prerequest script) during Newman execution not accessible in testscript. Works in Collection Runner and Postman."
1. Newman Version (can be found via `newman -v`): 4.2.2
 2. OS details (type, version, and architecture): Windows 10 Pro, 64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: To update the environment variable inside the sendRequest in the same manner as from Collection Runner and Post

[2018-12-17 14:36] troe88 opened #1826 "How to catch before/after pm.test event"
Hello everyone,

I'm going to create my own reporter, so it is quite important for me to handle with before/after pm.test

![image](https://user-images.githubusercontent.com/8250210/50088296-a9ec9880-0213-11e9-961f-d5d17fe40006.png)

I've gone through available events that was mentioned in documentation, but solution hasn't been founded.
Is this possible to handle with this events in the first pla

[2018-12-17 18:20] codenirvana commented on #1826
@troe88 No, There's no before & after `pm.test` event. But, for every new assertion in the test scripts `assertion` event will be triggered.

[2018-12-18 08:38] kunagpal commented on #1824
Fixed 😄

[2018-12-18 14:44] slavenantic commented on #1825
Is there any chance to send these things to you via email?

[2018-12-18 18:03] mixels opened #1827 "Newman JSON reporter not saving response objects"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): Alpine Linux v3.3 (official Alpine Docker image)
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Recent, have not tried old versions.
 4. Expected behaviour: JSON reports should contain response objects but inst

[2018-12-18 18:14] codenirvana commented on #1825
@slavenantic You can attach the collection JSON file(minus the sensitive details) in GitHub comment itself.
For that collection, don't use your private endpoint, you can use any sample or echo domain.

[2018-12-18 18:24] codenirvana commented on #1827
@mixels The response object will be stored at `run.executions.response` irrespective of the assertion failure.

[2018-12-18 19:01] mixels commented on #1827
I see it, thank you for that!

It seems odd to me that request is copied to run.failures.[].source but response isn't. That's what threw me off. I can use this to cross reference by ID. Thank you!

Is it expected that request is copied to run.failures.[].source?

[2018-12-19 06:14] slavenantic commented on #1825
Here they go.

[sample.postman_collection.zip](https://github.com/postmanlabs/newman/files/2693478/sample.postman_collection.zip)

[2018-12-19 16:18] #1822 closed

[2018-12-20 05:47] mrinalblr opened #1830 "newman cli version 4.2.3 and 4.2.0 giving wrong result but postman return correct result"
Tests in postman passes as the api returns the 200 ok response, but the same postman collection in newmnan cli returns failed assertions as results even for the passed test (200 ok).

 1. Test for checking response to return 200 status code passed in postman but failed in newman cli with the failure details as :

    Status code is 200
    expected { Object (id, _details, ...) } to have property '

[2018-12-20 11:46] rathodamol commented on #1152
Is there any update on the issue on NTLM auth using the newman cli ?
I am still stuck :)

[2018-12-20 13:56] mrinalblr commented on #1830
It got resolved.It was my fault i did not specify the certificates path correctly while triggering the newman command as the API were 2 way ssl secured.

[2018-12-20 13:56] #1830 closed

[2018-12-20 14:05] troe88 commented on #1826
@codenirvana Thank you for the answer.

[2018-12-20 14:05] #1826 closed

[2018-12-20 14:47] m3dbedb opened #1831 "newman [4.2.3] doesn't pass qouta inside field"
Version and environment information:

 1. Newman Version 4.2.3
 2. OS details Debian 9
 3. I use Newman via the CLI?
 3. I have encountered this recently
 4. Expected behaviour: as Runner do, pass "," as quota sign
 5. Command / script used to run Newman: newman run с1.json -d fiz.csv
 6. Sample collection, and auxiliary files (minus the sensitive details):
[c1.zip](https://github.com/postmanlabs/

[2018-12-20 15:11] m3dbedb commented on #1831
Solutind for people who would face the issue: you may send comma and quotas using urlencoding for testing web pages: "Canada%2C Toronto" stands for  "Canada, Toronto"

[2018-12-20 16:49] codenirvana commented on #1831
@m3dbedb You can wrap the values in quotes like: `"value 1","value 2, 3"`
Also, we are working on both Newman & App to have parity in CSV parsing.

[2018-12-20 16:49] #1831 closed

[2018-12-21 09:14] Roger535 opened #1832 "response in json report is not readable"
1. Newman Version (can be found via `newman -v`):4.1.0
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:newman run suixi.postman_collection.json -e prod_r.postman_environment.json --reporters cli,html,jso

[2018-12-21 11:09] rathodamol commented on #1820
Try using insecure tag in cli.
Eg: newman run postman_collection.json --insecure

[2018-12-21 17:47] codenirvana commented on #1832
@Roger535 You can load the JSON file and convert the response to string using:
[code]

[2018-12-21 17:47] #1832 closed

[2018-12-24 06:16] Ssuhaaktas commented on #1763
Hi @codenirvana ,

any updates about this issue? still waiting for v2 support with "Share Collection".

Thank you.

[2018-12-26 20:13] m3dbedb commented on #915
There is no opportunity to assert such situation when requested service does not answer. May I ask you for such a feature? Currently previous assertion get green mark and collection run breaks.

[2018-12-27 08:04] looploooop opened #1838 "Handling graphql errors"
1. Newman Version (can be found via `newman -v`): 4.3.1
 3. Are you using Newman as a library, or via the CLI? CLI

Graphql error handling does not use http status codes. Those requests will therefore always answer with 200 OK. Leading to a false positive. Errors are available in the json response. See [Graphql error handling](https://www.apollographql.com/docs/apollo-server/features/errors.html).

[2018-12-27 09:34] looploooop commented on #1838
Alright my bad i just found out how to do this via Postman test scripts.

[2018-12-27 09:34] #1838 closed

[2018-12-27 10:08] dtalex opened #1839 "Multiple ssl key and cert in the same test"
Hi,
I use newman latest verssion of newman via cli
I have the need to send https requests to different servers supporting mutual authentication in the same test simulating different users.
As of now in newman I can only set one couple key/cert.

I implemented it Q&D for my use here [https://github.com/dtalex/newman/tree/myMod](url)

Basically here
[code]

I feed a configuration file done as follow

[2018-12-27 10:36] #1461 closed

[2018-12-27 14:08] adeshmukh123 commented on #93
I'm getting "TypeError in test-script" error when i try to run a collection through new man. The Get calls are failing particularly. I'm attempting to parse the JSON response i get and trying to get value
of id key from the response and storing it in an environment variable.

The same call is running fine when i run it via postman.

Following is the JSON Response
{
    "httpStatusCode": 200,
    "

[2018-12-27 15:18] knollfear opened #1841 "Collection TImes out in Docker only"
1. Newman Version (can be found via `newman -v`): 4.2.3 locally/4.3.1 in docker
 2. OS details (type, version, and architecture): Mac OS
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:  I just started using newman so I do not know
 4. Expected behaviour:  When I run my test collection on my local machine with newman

[2018-12-27 18:04] knollfear commented on #1841
I added "--timeout-script", "99999", to the entrypoint and it was successful.  THat variable is poorly documented and required reading other help articles to find.  Also, setting it to 0 for unlimited seems to not be supported correctly.  Finally, it doesn't make sense that this would fix it as the execution time locally and in docker should be equivalent.

[2018-12-27 21:07] JGjumpshot commented on #1285
That works --disable-unicode. Thank you @kunagpal

[2018-12-28 10:36] ssharmasurender3 commented on #1376
@kunagpal : can you specify the exact keyword to be used
i tried:
{{this.key}}
{{@this.key}}

but nothing worked

[2018-12-28 10:55] ssharmasurender3 commented on #1531
I tried {{@key}}
but response is

members |  
-- | --
reference |  
Type |  
_postman_listIndexKey |  
_postman_listIndexCaseInsensitive |  
_postman_listAllowsMultipleValues

and for {{@value}}
blank values.

can you please help
@kunagpal

[2019-01-02 14:50] SDixit1 opened #1845 "403 Error while running with Newman,"
I am getting 403 Forbidden error while running script via Newman. Its working fine when running with Postman

[2019-01-02 16:21] shamasis commented on #1845
There might be a million reason for this.

- missing variables
- issue with scripts
- network setup issue
- cookie issue
- collection export issue
- Newman bug

I can help narrow down if you can help me reproduce this locally and also eliminate some of the points above by checking the same at your end.

[2019-01-03 04:56] pragyaparashar commented on #1141
Hi,
I want to count no. of assertions in all the test cases of a suite and print it in table. I tried a lot but not sure how to do that. Can anyone help me with that.

[2019-01-03 05:11] pragyaparashar opened #1847 "Hi, total assertions in alltest cases of a test suite"
Hi,

I want to show total no. of assertions in all test cases of a test suite in my newman report. Can anyone please help me doing that.

issue example:
I have a collection with 2 test suites and each test suite contains 10 test cases with multiple assertions. say:
 test suite 1 - test cases 10- total assertions in 10 test cases 50- 20 pass and 30 fail
test suite 2 - test cases 9- total assertions

[2019-01-03 08:17] codenirvana commented on #1847
@pragyaparashar When an assertion fails, it throws an exception and stops the further execution of that particular suite. So, getting the count for failed assertions is not possible.

Its expected behavior in most of the testing frameworks, I suggest you divide your test suites into multiple atomic `pm.test` blocks.

Also, share your use case where this kind of behavior is required so we better un

[2019-01-03 11:04] SDixit1 commented on #1845
Shamasis, My scripts are not new script those were working fine since long .Recently they are failed. I can look into cookie issue ,if you can suggest what to do. what is Newman bug? Is there any bug introduced in Newman?

[2019-01-03 11:34] codenirvana commented on #1845
@SDixit1 Can you please provide more information regarding this issue? How can we reproduce this locally?

[2019-01-03 11:37] codenirvana commented on #1820
@ackris Are you still facing this issue? Have you tried using `--insecure` flag?

[2019-01-03 11:57] codenirvana commented on #1796
@Sjain01 Using `--bail` flag, if any of the assertions fails it stops the collection execution.

Here, you can just check for the existence of the required string in the response body like this:
[code]

[2019-01-03 11:57] #1796 closed

[2019-01-03 12:56] slavenantic commented on #1825
There you go:
newman run "C:\PathToCollection\laplace.postman_collection.json"   --folder "3_4_1_CheckRecipesWithImagePerformance" -e "C:\PathToEnvironment\qa.postman_environment.json" -d "C:\PathToFile\allImageIds_nl.json" -n 100 --reporters cli  --disable-unicode > "C:\PathToReports\3_Images\3_4_PerformanceTests\3_4_1_CheckRecipesWithImagePerformance\cli\20190103135332\allImageIds_nl.txt"****

[2019-01-03 13:14] codenirvana commented on #1825
@slavenantic Can you try execution the attached collection using:
[code]
Modified your scripts to reproduce the issue locally. The environment variable `recipeResponseTime` is set in `sendRequest` correctly.

[NEWMAN-1825.zip](https://github.com/postmanlabs/newman/files/2723798/NEWMAN-1825.zip)

[2019-01-03 14:09] slavenantic commented on #1825
I can still reproduce the same issue with your modifications (I don't see any relevant changes in your collection). The variable is still set at the same place in pre-request script. What changes did you make actually?

[2019-01-03 14:14] codenirvana commented on #1825
@slavenantic I just changed the request endpoint to an echo server to execute the collection.

Are tests failing for you? Can you try updating Newman to the latest version and check if the issue still persists?

[2019-01-03 23:12] pragyaparashar commented on #1847
@codenirvana, I have script with multiple pm.test only but I want to count them and display in total.

Currently I am getting like this
![image](https://user-images.githubusercontent.com/46336748/50666475-9b1e2800-1000-11e9-9c7a-dc2e578719d6.png)
 but I want total of all fail and pass test cases.

I hope this will help you and if you need furthur information, please let me know.

[2019-01-07 00:37] pragyaparashar commented on #1847
Hi,

Do you have any update on this?

[2019-01-07 01:18] pragyaparashar commented on #1847
or instead of assertions you can help me with number of test cases in both suites. Below is example for clarity of issue:

If I have two suites A and B
A suite contains 10 test cases out of which 4 are passed and 6 are failed and test suite B contains 12 test cases among which all are pass and 0 is failed and I want to show them as below table:

Test Suite | Pass Testcases | Fail Test cases
-- | -

[2019-01-07 01:51] pragyaparashar commented on #1847
Hi @codenirvana @kunagpal , could you please help me with this.

[2019-01-07 06:55] codenirvana commented on #1847
@pragyaparashar Here, a test suite means a `request` or `pm.test`?

I assume a test suite is a `pm.test.` block and from test cases, you mean assertions (`pm.expect`).
As mentioned above, it's not possible to count the number of passed & failed assertions.

Can you share a sample collection to refer from?

[2019-01-08 01:46] pragyaparashar commented on #1847
@codenirvana , is there any update?

[2019-01-08 03:49] pragyaparashar commented on #1847
FOr More clarification if my collection structure is like below table:
Collection
--
Test Suite A |   |  
Tc_001 | Pass |  
TC_002 | Pass |  
TC_003 | Pass |  
TC_004 | Fail |  
Test Suite B |   |  
Tc_001 | PAss |  
TC_002 | PAss |  
TC_003 | Fail |  
TC_004 | Fail |  

I want table in report like below:
Output   I want to show
--
Table | Pass | Fail
Test Suite A | 3 | 1
Test SuiteB | 2 | 2

I am

[2019-01-08 05:16] niranjankhare opened #1851 "newman CLI should support fully qualified path for running scripts in a subfolder"
Issue:
I'm unable to specify a specific folder for execution with newman CLI, when the leaf level folder name is repeated somewhere else in the folder heirarchy for a Postman Collection.
Its quite possible that I'm making a silly mistake, but researching online didn't give me specific answers, maybe documentation needs to include an example if the ability exists.

 1. Newman Version 4.3.1
 2. OS d

[2019-01-08 05:49] niranjankhare commented on #1851
[PRODUCTS newman.postman_collection.json.zip](https://github.com/postmanlabs/newman/files/2735325/PRODUCTS.newman.postman_collection.json.zip)

[2019-01-08 05:53] codenirvana commented on #1851
@niranjankhare This is not supported yet.
For now, you can specify a unique name to your `_identifier` and pass that to `--folder` option.

[2019-01-08 13:33] debjchak opened #1852 "Saving Collections not possible"
Newman Version:4.0.2,Postman Version:6.2.5
OS details (type, version, and architecture): Windows 7,64 bit production Imagev1.16.00.AO.B19
Newman via the CLI
Did you encounter this recently, or has this bug always been there: Recently started using
Expected behaviour: Scripts modified in one workspace should not reflect in others

I modified my scripts and saved the collections. A day later I see m

[2019-01-08 18:11] theoreinke92 opened #1854 "Test results differ between v4.2.3 and 4.3.*"
1. Newman Version 4.2.3 and 4.3.0
 2. Windows 10 Enterprise 64bit
 3. Newman CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: Tests pass or fail consistently between versions of newman
 5. Command / script used to run Newman: newman run Repsonse_testing.postman_collection.json
 6. Sample collection:
[Response_testing.postman_collection.js

[2019-01-09 00:52] codenirvana commented on #1847
@pragyaparashar Got it.
It is a very specific use case, you have to fork the required reporter and make these custom changes on top.

Which reporter are you referring here?

[2019-01-09 01:51] pragyaparashar commented on #1847
html reporter i am using

[2019-01-09 03:50] codenirvana commented on #1847
@pragyaparashar You need to first compute the required stats, which can be done by iterating the `this.summary` which holds both the collection as well as failure object. And pass that result to the handlebars compiler:
https://github.com/postmanlabs/newman-reporter-html/blob/v1.0.2/lib/index.js#L161

Finally, use the resultant in the handlebars template:
https://github.com/postmanlabs/newman-repo

[2019-01-09 04:31] codenirvana commented on #1847
@pragyaparashar Reporters works independently, you don't need to make any changes in Newman.

[2019-01-09 04:53] pragyaparashar commented on #1847
Hi @codenirvana , Implementing this i am still not getting count of requests. I am getting all the failures in all requests but I don't need that..I need just the count. Please help me if I am getting it wrong

[2019-01-09 05:38] kamalaknn commented on #1852
@debjchak If you are editing the same collection that exists in more than one workspace the changes would propagate to all the worksapces. If you do not want this, you can duplicate the collection in one of your worksapces.

I'm closing this because this is the expected behavior and not a bug or a feature request.

Thanks

[2019-01-09 05:38] #1852 closed

[2019-01-09 06:03] codenirvana commented on #1847
@pragyaparashar There's no update step, changes made in reporter are independent of Newman.

Closing this issue for now, since this is not related to Newman. We have an active user community forum that will help to solve further issues. Visit: https://community.getpostman.com/

[2019-01-09 06:03] #1847 closed

[2019-01-09 06:58] pragyaparashar commented on #1847
If you are working on assissting then you should complete it...why you closed it before confirmimng that it is working or not

[2019-01-09 07:47] numaanashraf commented on #1847
@pragyaparashar This is a public issue tracker for `newman` where we track feature requests and issues. We do not provide continued support and assistance regarding how to use `newman` or debug your specific use cases here. As @codenirvana mentioned, we recommend reaching out to the wider Postman community at https://community.getpostman.com/ for continued assistance or support.

Issue Guidelines:

[2019-01-09 23:09] pragyaparashar commented on #1847
Okay...thank you

[2019-01-10 08:15] ArtVandelay101 commented on #1709
Hi,

Although I'm using the '--color off' option I'm still getting the color output (weird characters) when I run following cmd in TFS:

`run $(Build.SourcesDirectory)\src\Postman\xxx.json -e $(Build.SourcesDirectory)\src\Postman\DEV.postman_environment.json -g "$(Build.SourcesDirectory)\src\Postman\xxx.postman_globals.json" --delay-request 50 --reporter-html-export --folder "xxx" --color off`

An

[2019-01-10 09:20] dojones1 opened #1855 "Random test failures between runs: getaddrinfo ENOTFOUND for request leads to child test failures and double counting."
1. Newman Version (can be found via `newman -v`): 4.2.2-alpine

 2. OS details (type, version, and architecture): Centos x86 7.6.1810

 3. Are you using Newman as a library, or via the CLI?: Via docker container

 3a. Did you encounter this recently, or has this bug always been there:
Recently. CI driven test runs were stable (Ran every 5 minutes for a week without issue)
Now persistently and rand

[2019-01-10 09:31] dojones1 commented on #1855
Issue found to be due to rogue entries in my /etc/resolv.conf file

[2019-01-10 09:31] #1855 closed

[2019-01-10 20:15] shamasis commented on #1855
@codenirvana - maybe a debug mode in future that outputs where the DNS was resolved from. 😛😛

[2019-01-10 21:55] ajaygoeleb commented on #1346
@codenirvana I just upgraded newman to 4.3.1 but it seems like it is still dropping leading zero :-(

[2019-01-11 07:33] rickywu opened #1856 "How to read cookie value in response"
[code]

I got ReferenceError: args is not defined

[2019-01-11 08:00] ArtVandelay101 commented on #1709
thanks, that was it :)

[2019-01-11 08:03] mandeepm91 commented on #1531
Facing the exact same problem as @ssharmasurender3 . The `@key` is not showing the actual headers that I am sending in the request and `@value` is all blanks.

[2019-01-11 09:10] rickywu commented on #1856
Works well, thanks

[2019-01-11 09:10] #1856 closed

[2019-01-11 10:43] codenirvana commented on #1346
@ajaygoeleb Make sure you wrap your number in quotes. Example:
[code]

Will be converted to:
[code]

[2019-01-11 10:59] codenirvana commented on #1854
@theoreinke92 It's because of a known issue in our assertion library, which is fixed in `Newman v4.3.0` and `Postman 6.7.1`
More detail: https://github.com/postmanlabs/postman-app-support/issues/3592

The error you are facing here is because of the following assertion:
[code]

Reference:
[code]

[2019-01-13 17:51] arikhaz commented on #603
Hi

How can run the command with javascript :
const newman = require ('newman');
....
...
collection : require('c:/tmp/aaa.json -k ) ,reporters:'cli'
...
..
It always failed , any suggestion ?
Thanks

[2019-01-14 08:06] ackris commented on #1820
@codenirvana

Yes. It is still showing the same error.

[2019-01-14 08:18] ackris opened #1858 "ECONNRESET error in Proxy based environment"
Hi

We are trying to execute postman collections using Newman inside Jenkins. But we got hit with `ECONNRESET` error. But the collections execute well in postman.

- Our DCLAN team found out that there is no restriction on firewall level because API servers & Jenkins server are in UAT VLAN.
- We have added host entries of api servers in our Jenkins master, and vice-versa.
- Jenkins server is able

[2019-01-15 14:11] alicja-malewska commented on #1189
Hi,
I have similar issue. I had Newman version 4.1.0 and it wokred fine, but on version 4.3.1 it throws "error: Script execution timed out" after request that has 14 MB response - request passes, response is received and tests pass, but instead of sending next request, it throws mentioned error.

[2019-01-15 17:07] sergiybuch commented on #398
Same here, using pre-request script to get a token. Runner works great but getting errors in Newman.

[2019-01-15 18:09] sergiybuch opened #1859 "Test Passes in Postman but fails in Newman for oAuth2.0"
So I am using 2 requests, they both are ok in Postman Collection Runner, but somehow in Newman one of the requests is always  [401 Unauthorized]. I am using pre-request script to get a token and I was using it only in 1st request, then I switched requests, used script in both requests but 401 always in the same request.

 1. Newman Version 4.3.1:
 2. Windows 10:
 3. Are you using Newman as a libra

[2019-01-15 20:20] sergiybuch commented on #1859
Looks like I found what was the issue, to have it working in Newman you need to select OAuth 2.0 in Authentication. Postman works great when there selected No Auth because I am using pre-request script and Newman wants to have OAuth 2.0 selected.

[2019-01-16 06:57] slavenantic commented on #1825
I am still having the same issue, even after newman update to 4.3.1.

[2019-01-16 07:14] codenirvana commented on #1825
@slavenantic As discussed above, I am not able to reproduce this issue.
Check the attached collection in which a variable set in sendRequest(prerequest) is accessible in the test script.

[NEWMAN-1825.json.zip](https://github.com/postmanlabs/newman/files/2763013/NEWMAN-1825.json.zip)

[2019-01-20 18:50] sravan449 commented on #1859
I am facing the similar issue,

**Following is my scenario**

I am generating an offline token from the server manually and in the Postman I have created an environment variable for token and passing this token variable in the requests by selecting OAuth 2.0 authentication

![image](https://user-images.githubusercontent.com/42779110/51443582-e2026200-1d10-11e9-94fa-9e2549b806ab.png)

I am able to

[2019-01-21 15:09] adarshpandeyrinku opened #1864 "Unable to post request with Path and Body parameters together in a post request."
Hi Team,

I am using visual studio code and node js terminal to generate postman collection using swagger2-postman-generator node package. while I am running the yaml it is not showing the body parameters in postman rather displaying a message provided for body parameter. Here are the snapshot of my code:

![image](https://user-images.githubusercontent.com/12835237/51480984-87244580-1db8-11e9-83f7

[2019-01-21 20:15] Keshav16021991 commented on #1763
HI @codenirvana ,
This issue is blocking me on test suite containing v1 and v2 both APIs, please whomsoever concerned fix this issue asap.

[2019-01-22 03:08] shamasis commented on #1763
This is just a warning message and doesn’t block anything. @Keshav16021991, could you upgrade to latest Newman and tell me what’s blocking Newman usage?

[2019-01-22 06:39] Keshav16021991 commented on #1763
Actually, I have Newman version 4.3.1 but for this version when I am
running my suit it throwing me an exception with that v1 APIs not supported
in version 4, But I am having v1 API, then how to go further.

On Tue, Jan 22, 2019 at 8:38 AM Shamasis Bhattacharya <
notifications@github.com> wrote:

[2019-01-22 08:32] shamasis commented on #1763
This is only warning message that it will be removed in future major version upgrade. It works just as normal now.

[2019-01-22 19:23] nickpatel2019 commented on #1351
HTML reports are not getting generated when using newman as a library in the following environment

Version and environment information:

Newman Version: 4.3.1
OS details (type, version, and architecture): macOS Mojave version 10.14.2
Are you using Newman as a library, or via the CLI? As a Library
Did you encounter this recently, or has this bug always been there: recently
Expected behaviour: crea

[2019-01-24 11:01] InFog opened #1866 "Better help on CLI"
Current output from `-h` on CLI is:

[code]

It would be better to have more documentation here, something like:

[code]

And so on. So, what is available in https://github.com/postmanlabs/newman#command-line-options.

[2019-01-24 12:17] deepakpathania commented on #1866
Hey @InFog, what you're describing is exactly what we used to show in version 3.9.x. We decided to move away from that behavior to support better help text for multiple commands, in the near future, `run` being one of them.

So if you would like to see all the options for a particular command, you'll have to specify that command now. So in your case,
[code]
should show all the supported options.

[2019-01-24 13:36] InFog commented on #1866
Thank you for the reply, @deepakpathania.

True, running `newman run -h` will show that. But this is not documented there. Since currently there is only one command, I think showing the options by default is nice. But I also understand the plans to have more commands.

What about documenting this behavior like:

[code]

What do you think?

[2019-01-25 09:41] arkils opened #1867 "Report does not show results for all the iterations if Data file is used"
I'm using Newman CLI command to run my postman request and iterating it with data sets available in my Data file.
but while generating report it only shows result of last iteration in report.xml, even though test failed in previous iterations.
the detail is available in attached file.
[NewmanIssue.docx](https://github.com/postmanlabs/newman/files/2795485/NewmanIssue.docx)
also I've attached my scr

[2019-01-25 18:09] bkosborne commented on #764
Looks like the ability to override env vars was added in PR #1799. Now we just need to wait for the next release 🤞

[2019-01-25 19:38] aditki opened #1868 "Newman CLI reporter better organization on parallel collection runs"
1. Newman Version (can be found via `newman -v`): 4.1.0
 2. OS details (type, version, and architecture): Mojave OS
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: Started using newman library recently
 4. Expected behaviour: CLI logs to be organized rather than mixed up when run with multiple collections in par

[2019-01-26 00:13] shamasis commented on #1868
Can you elaborate on how you’re doing parallel collection runs?

[2019-01-26 00:39] aditki commented on #1868
Newman.run in  Async.parallel

[2019-01-26 07:40] shamasis commented on #1868
Oh. Okay. I see what you’re trying to do. So, the only way I can see this work is output CLI reporter separately and then print it at the end of run. Because of the fact that two Newman instances have no awareness of each other, they report to the console in a confusing manner.

As of now, I see no way Newman can internally handle it unless it’s captured from outside and printed at the end - that’

[2019-01-26 09:03] ackris commented on #1820
@codenirvana  @rathodamol

Now we are getting this error [1858](https://github.com/postmanlabs/newman/issues/1858). We are scratching our heads because it should work in a straightforward manner.

Regards
Aditya

[2019-01-28 05:17] deepakpathania commented on #1866
Makes sense, would you be interested in sending a PR for the same? :)

[2019-01-28 08:07] InFog commented on #1866
Yes, I can do that. Can you point me where to look for on the source?

[2019-01-28 09:06] InFog commented on #1866
I found it. I'll send the PR.

Am Mo., 28. Jan. 2019, 06:17 hat Deepak Pathania <notifications@github.com>
geschrieben:

[2019-01-28 13:54] Legenyanya69 commented on #1858
Hello!

Totally same here :
+ newman -v
4.3.1
newman run postman_collection.json -g postman_globals.json -k
 POST https://host:port/path [errored]
     tunneling socket could not be established, cause=read ECONNRESET

On windows local machine it works perfectly somehow,but in linux it doesnt.

[2019-01-28 20:58] jhardin-aptos opened #1871 "Newman JSON parser cannot handle files (environment, possibly test collection) having byte-order marker (Unicode data)"
We're attempting to automate data-driven API testing by generating a Postman environment file including query output for use with Newman.

We're using the standard Windows Powershell cmdlets for handling JSON data and text files to do this, and they work well except: without specifying an encoding, `Out-File` encodes using UTF16-LE _with byte order marker_. Newman chokes on the BOM, emitting this

[2019-01-29 08:08] shamasis commented on #1871
Well, since we are using another module for better json error help, this may be tricky. But it seems that `.trim()` removes BOM too.

[2019-01-29 08:08] wxqanl opened #1872 "self-defined header can not run correctly in newman."
1. Newman Version (node_modules/newman/bin/newman.js -v
3.6.1 ):
 2. OS details (type, version, and architecture):--linux
 3. Are you using Newman as a library, or via the CLI?--CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Scr

[2019-01-29 16:01] jhardin-aptos commented on #1871
That's not surprising as the BOM is actually an encoded optional-whitespace character...

I hesitate to jump on the `.trim()` bandwagon absent testing to ensure that doing so does not lead to corruption of any Unicode data that may be in the file...

I haven't actually gotten test data with that yet (I'm still working on the basic data-driven testing framework itself), but I'd like to ask you ensu

[2019-01-29 18:55] sedge commented on #1635
I'm experiencing something similar and it's really frustrating 😭

Considering this is fundamentally different behaviour from the GUI it makes me wonder what else is different in the two environments. Is this documented somewhere?

[2019-01-30 02:41] shamasis commented on #1871
Yeah. Test suite has Unicode characters. And that did not fail.

[2019-01-30 17:33] shamasis commented on #1871
@jhardin-aptos https://github.com/postmanlabs/newman/pull/1874 should fix your issue. Can you check that out? git install the repo and switch to that branch and then do npm install with that directory as source. If that's too much work ;-) then we will keep this issue updated as release happens.

[2019-01-30 17:56] jhardin-aptos commented on #1871
At the moment just forcing ASCII encoding has unblocked us. When the next Newman release happens I'll test it and we'll upgrade the QA environment. If we _do_ get any tests that fail in the meantime due to that mangling non-Latin characters I'll note the cause and we'll ignore it.

Thanks!

[2019-01-31 14:34] emersonf commented on #276
Can someone at Postman chime in on why this isn't properly resolved? A `--request` flag is all that's needed here, but this issue has been closed without that feature.

Those of us using Postman to manually test and hit our APIs have put hundreds of hours into creating requests and curating our collections. The folder structures we've come up are meant for human consumption, not Newman. The abilit

[2019-01-31 20:03] shamasis commented on #1871
Alright, spoke too soon (thanks @codenirvana). The file you sent has more than the BOM, it's entire encoding is UTF8-LE (how stupid of me of even thinking otherwise.)

Automatic character encoding detection is tricky and using any third-party library to do that has the following two challenges:
1. They need OS bindings and are OS specific.
2. The detection libraries are HUUUUGE in size.

So, what

[2019-01-31 20:32] jhardin-aptos commented on #1871
It is actually UTF16-LE.

I can see the pain in trying to detect whether a file is ANSI or UTF8... _But:_ you have a BOM, so that's not necessary. I'm a bit surprised JS isn't automagically interpreting that if you've specified you're reading from a text file.

Perhaps rather than just blindly discarding the BOM via `trim()`, do this: after reading the file check whether there is a BOM present (th

[2019-02-01 20:51] skylineApiTesting opened #1879 "pm.response missing info using Newman but not Postman"
1. Newman Version 4.3.1
 2. OS details: Debian 8, Debian 3.16.51-3 (2017-12-13) x86_64 GNU/Linux
 3. Are you using Newman as a library, or via the CLI? CLI, reporting to Testrail
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour: pm.response object returns full object when the response is HTML (works using postman)
 5. Command / script used to run Newma

[2019-02-02 01:35] elijah-hawk opened #1880 "Newman CLI ignores the "Body" section of a GET request"
**Describe the bug**
Newman CLI ignores the "Body" section of a GET request. In other words, Newman does not "process" the Body section (otherwise known as request.data) of a GET request but the Postman desktop app does.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Postman desktop app 6.7.2 (macOS)
2. Install Newman 4.3.1 package via npm (macOS)
3. Create a GET request in Postman

[2019-02-03 23:17] shamasis commented on #1880
Yep, this could be a bug. Just putting down my thoughts here so that others may short circuit some reproduction work.

- postman runtime uses protocolProfileBehaviour property in Item of SDK to let know that body should be sent
- as such, during export, postman app should include this configuration object in collection JSON (cc @numaanashraf, @kamalaknn)
- Newman should have latest runtime and sho

[2019-02-04 06:35] codenirvana commented on #1879
@skylineApiTesting Can you share a sample collection(minus the sensitive details) to reproduce this issue?

[2019-02-04 06:39] codenirvana commented on #1872
@wxqanl Can you verify if this issue persists for you in the latest version of Newman?

[2019-02-04 12:05] aberx1 opened #1881 "JUnit reporter not including request when using extra request to get testdata in test"
1. Newman Version (can be found via `newman -v`): 4.3.1
 2. OS details (type, version, and architecture): Linux 3.10.0-514.21.1.el7.x86_64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: tried on version 4.1.0 & 4.3.1, both didn't work.
 4. Expected behaviour: JUnit reporter outputs the file with the testSuite conta

[2019-02-04 12:31] skylineApiTesting commented on #1879
Yes, sorry.
The environment variables used in these tests are pretty self explanatory. All of the above tests fail but work when using the Postman runner. The error reported for these is "Test failed: expected { Object (id, _details, ...) } to have property 'code'", which is because the pm.response object just does not have 'code' as one of the fields.

[samplecollection.txt](https://github.com/po

[2019-02-04 17:20] groov1kk opened #1882 "Incorrect summary.run.executions information while running asynchronous requests"
1. Newman Version (can be found via `newman -v`): **4.3.1**
 2. OS details (type, version, and architecture): Windows **7**
 3. Are you using Newman as a library, or via the CLI? **Both**
 3. Did you encounter this recently, or has this bug always been there: **Always**
 4. Expected behaviour: summary.run.executions array on "beforeDone" event has to contains proper information about current execu

[2019-02-04 20:15] elijah-hawk commented on #1880
Hello again, I tested this out using the Postman-Echo endpoints. here is a collection I can share:

[postman-echo-get.txt](https://github.com/postmanlabs/newman/files/2829674/postman-echo-get.txt)

Make sure to change the file extension to JSON. You will see that the tests made here pass in the Postman Desktop app but fail in Newman. The "protocolProfileBehavior" object exists in the collection. T

[2019-02-04 22:48] shamasis commented on #1871
I have updated the branch to do auto detection - for a limited subset of encodings.

[2019-02-04 23:11] codenirvana commented on #1880
@elijah-hawk Here's the local server used for that test collection: [echo server](https://github.com/postmanlabs/newman/blob/develop/npm/server.js#L11)

Also, the postman-echo collection you shared is working fine for me.
<img width="541" alt="screenshot 2019-02-05 at 4 40 54 am" src="https://user-images.githubusercontent.com/4865836/52243626-3fe19d00-2900-11e9-99ac-a50ac1e3168e.png">

I see you s

[2019-02-04 23:57] elijah-hawk commented on #1880
Interesting! You are correct, using the vanilla "newman run" command, I see success!

<img width="552" alt="vanilla-newman-run-is-successful" src="https://user-images.githubusercontent.com/20306765/52245055-f871f700-2894-11e9-8e2d-8aa530d784f2.png">

However, my Newman configuration uses a customer reporter. Here is an example command that I use in my terminal:
"JENKINS_BRANCH=local node newman-ru

[2019-02-05 01:01] elijah-hawk commented on #1880
Here is an image of the run, the fact that the custom reporter is simply a wrapper around Newman, shouldn't cause this problem should it? Maybe there is an update I need to make on the customer reporter? I did try to uninstall and re-install Newman to no avail:
![custom-reporter-results](https://user-images.githubusercontent.com/20306765/52247381-869eab00-289e-11e9-9ed1-91f29e9f35df.png)

[2019-02-05 01:11] elijah-hawk commented on #1880
Looking further into our own codebase for the custom reporter, here is a list of options that we have at time of running Newman:
[code]
Is there an option that is enabled in vanilla newman that we aren't setting at runtime?

Possibly, something to do with?
[code]
Thanks.

[2019-02-05 01:21] codenirvana commented on #1880
@elijah-hawk No, this looks fine.
Can you verify the Newman version used in your `newman-runner.js`?
Check its `package.json` or `node_modules/newman/package.json` or `npm list newman`.

[2019-02-05 01:38] elijah-hawk commented on #1880
@codenirvana, @shamasis, I figured it out! The package-lock.json needed updating, it was using Newman version 3.10.0).

I ran `npm install newman` which updated the package-lock.json and the package.json for the custom reporter.

On Friday, before I reported this issue I used `npm install -g newman` which for some reason did not update the package-lock.json.

Afterwards, I re-ran the collection an

[2019-02-05 01:47] codenirvana commented on #1880
@elijah-hawk Glad it worked for you!
`npm install -g` install's a package globally, it will not update your local package or package-lock.

[2019-02-05 01:47] #1880 closed

[2019-02-05 01:49] elijah-hawk commented on #1880
Thanks, guys!

[2019-02-05 05:14] codenirvana commented on #1879
@skylineApiTesting I am not able to reproduce this issue. Your collection and assertions look fine.

I don't feel this is an issue with Newman. For issues like this, we have an active user community forum that will help to solve further issues. Visit: https://community.getpostman.com/

[2019-02-05 10:43] #1866 closed

[2019-02-05 14:27] 9av1n-j0hn50n opened #1884 "error: invalid command - after trying to run tests"
Hi,

I've recently created a repo to run some tests against a CMS API.

I've added Newman via the following command in the projects directory on my machine:
`yarn add newman --dev`

It appears that everything installed correctly.

I've exported my collection via Postman and added the file (`publishApiTests.json`) to the project.

But when I run the following script in the project:
`yarn newman pub

[2019-02-05 15:55] codenirvana commented on #1884
@9av1n-j0hn50n You need to specify the `run` command:
`yarn newman run publishApiTests.json`

Usage documentation: https://github.com/postmanlabs/newman#usage

Also, for issues like this, we have an active user community forum that will help to solve further issues. Visit: https://community.getpostman.com/

[2019-02-05 15:55] #1884 closed

[2019-02-05 18:53] 9av1n-j0hn50n commented on #1884
@codenirvana thanks for your help!

[2019-02-07 12:08] ram6666 commented on #472
Hi,

i try to run postman collection with envirement but more than one certificate

how can i start this script? i try to run a postman collection using windows command line

[2019-02-08 07:25] aberx1 commented on #1881
I've read through the already open issues. I believe this to be duplicate to #1631 where there was no more user response regarding the issue.

[2019-02-08 13:11] p00j4 commented on #221
@kunagpal which alternative can be used for newman's higher versions?
i'm on 4.3.1 and I want to view both request and response body in the logs (on the same screen)

[2019-02-08 16:03] SORC3r3r opened #1886 "newman iterations from environment"
Is it possible to use an environment variable as count for the iterations I want my newman to run?

[2019-02-09 20:21] shamasis commented on #1886
Not directly. But if you have the data in environment variable in a json or remote file, you can use the `jq` utility extract that variable and pass it to newman execution command.

[2019-02-11 07:01] #1886 closed

[2019-02-11 16:02] shamasis commented on #1882
Closing as duplicate. Track the other issue for progress.

[2019-02-11 16:04] shamasis commented on #1303
@codenirvana @kunagpal - this issue is manifesting in various forms in all reporters. Let’s consolidate them in one issue, close the rest and schedule a fix.

[2019-02-12 08:20] aberx1 commented on #1881
It appears that as soon as a "pm.sendRequest" is inside the test script the junit reporter does not work anymore, even if the response is not used at all. adding sample with a //donothing in pm.sendRequest.
You can run the added files against a server that returns your request as the response for an example and the difference, i will also add screenshots
![cmd capture](https://user-images.githubus

[2019-02-12 09:33] donotello commented on #1678
Are you using `postman.sendRequest` in your tests? If so then it's related to  #1303.

[2019-02-14 06:18] aberx1 commented on #1690
Hi,
Jenkins executes by building block.
To have it continue you could place both newman run commands in the same shell script.
Another option is to place it in different pipelines and trigger them from the main pipeline while saying that it can continue and does not have to wait for the result.

[2019-02-14 19:18] bhreinb opened #1890 "Question: Running A Single Operation From A Postman Collection Within A Folder"
1. Newman Version (can be found via `newman -v`): 4.3.1
 2. OS details (type, version, and architecture): macOS High Sierra
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: Encountered this recently
 4. Expected behaviour: Ability to target a single resource within a folder

Steps to reproduce the problem:

1. I

[2019-02-15 03:40] codenirvana commented on #1890
@bhreinb You can use the `folder` option to run a specific folder(s) instead of the entire collection.
For your use case, add `folder: 'Operation 1 Folder 1'` in your `newman.run` options.

[2019-02-15 05:30] shamasis commented on #1879
@codenirvana - I am seeing a blank array in the sample collection’s response property. What can lead to this?

Was this exported from the app? If so, which version?

cc @numaanashraf

[2019-02-15 06:38] bhreinb commented on #1890
Hi @codenirvana

Thanks for the suggestion. However let's say

[code]

So I can target Folder 1 per your suggestion. But if I only wanted to target one of the requests in the folder that is where the issue lies does it not? Their is a use case for me to not target all APIs within a subfolder. Any ideas on how to solve that?

[2019-02-15 06:42] codenirvana commented on #1890
@bhreinb If your request name is unique(across the collection, otherwise all the duplicates will be executed), you can specify the request name in the folder option and that single request will be executed.

[2019-02-15 06:45] bhreinb commented on #1890
Oh I wasn't aware of that...I will investigate further on my end. Thanks for answering all my questions 🙂. Have a nice day.

[2019-02-15 06:45] #1890 closed

[2019-02-15 19:02] bhreinb commented on #1890
Hi @codenirvana

Apologies last question. So I tried out what you mentioned above.

I use the parameter folder and I'm able to target a request name per your suggestion as long as it's unique. Thanks for that.

Now where the issue lies is

1. if their is requests in the collection that have the same name regardless of folder structure (the first in the collection is picked...no duplicates are exec

[2019-02-16 05:41] codenirvana commented on #1890
@bhreinb You are right, that's not supported yet. We are tracking this feature request here: #1851

[2019-02-16 09:48] bhreinb commented on #1851
:+1: for this too 🙂

[2019-02-18 11:53] jhardin-aptos opened #1898 "Collection Runner and Newman: a request that got no response does not abort the collection, no way to do so programmatically"
I have a fairly large test collection that I'm working on right now. This morning I fired it off in Newman with HTML output against my dev environment and... it just sat there.

Disabling HTML output showed pretty clearly that the webservice wasn't responding - oops, forgot to start it up. D'oh! :(

So I've been digging around in the Postman docs to see how to catch this and do `postman.setNextReq

[2019-02-18 11:54] shamasis commented on #1898
Moved it to newman and would make part of release that tackles better execution control.

- allowing failed requests to still run test script
- option to bail on request error

[2019-02-19 00:42] jhardin-aptos opened #1902 "Newman - command-line option to suppress test success details from output"
We're developing data-driven test collections that perform a lot of validations using requests generated from sets of data retrieved from the database. The Newman output from a test run is becoming ... rather unwieldy.

It would be really nice if there was a way to tell newman to not report the details of successful tests, just failed ones.

That would collapse this verbose clutter down to one row

[2019-02-19 09:34] DannyDainton commented on #1902
@jhardin-aptos Would using a different reporter, that doesn't aggregate the executions help in the short term?

https://www.npmjs.com/package/newman-reporter-htmlextra

[2019-02-19 09:38] adityapant1286 commented on #872
[code]

[2019-02-19 15:13] #1871 closed

[2019-02-19 15:51] jhardin-aptos commented on #1902
Hm. Potentially.

I also didn't think to take a look at the HTML template options to see if there's a way to create a template that doesn't include the test successes.

Thanks for the suggestion, I will take a look at both possibilities.

[2019-02-19 16:45] filfreire opened #1904 "TypeError: Cannot read property '0' of undefined on Docker postman/newman execution"
@kunagpal getting this error that is similar to issues: https://github.com/postmanlabs/newman/issues/1434 https://github.com/postmanlabs/newman/issues/1740, https://github.com/postmanlabs/newman/issues/885 **BUT** getting this via the container execution.

 1. Newman Version (can be found via `newman -v`): the one used in latest docker `postman/newman` image
 2. OS details (type, version, and arch

[2019-02-19 17:04] filfreire commented on #885
@kunagpal what was the solution to close this issue?

[2019-02-19 17:13] filfreire commented on #1904
Removing the `-t` in the docker command fixed it.

Related comment on previous issue: https://github.com/postmanlabs/newman/issues/885#issuecomment-343039846

🤷‍♂️