[2017-03-31 10:20] kunagpal commented on #970
@srpramod We've identified and created a fix for this bug, and will update this thread when the Newman release has completed.

[2017-03-31 11:35] PriyaKumaar commented on #966
Thanks..!I got the output...The tests script succeed..

[2017-03-31 11:35] kunagpal commented on #966
Glad it worked out for you. Have fun developing with Newman and Postman! 😄

[2017-03-31 11:35] #966 closed

[2017-03-31 11:47] kunagpal commented on #944
@srpramod You issue is slightly different from the one above, I've opened up a dedicated issue here: https://github.com/postmanlabs/postman-app-support/issues/2874

@crnattress We're marking this issue as resolved on our end, feel free to re-open if you're facing difficulties 😄

[2017-03-31 11:47] #944 closed

[2017-03-31 15:54] srpramod commented on #970
Thanks Kunal Nagpal for your replay. Will be waiting for the new version.

[2017-03-31 17:27] JessiAlvarez commented on #367
Command to execute the collection:
newman run "WS Dummy.postman_collection.json"

[2017-04-03 06:00] AcidZeppelin commented on #367
Please include delayRequest and try once.

[2017-04-03 09:27] kunagpal commented on #963
Yes, it is 😄

[2017-04-03 09:27] #963 closed

[2017-04-03 09:28] #970 closed

[2017-04-03 09:34] kunagpal commented on #850
@ShilAggarwal Closing issue due to inactivity, feel free to re-open if you're experiencing difficulties.

[2017-04-03 09:34] #850 closed

[2017-04-03 09:35] kunagpal commented on #922
@kiranwilson Closing issue due to inactivity. Feel free to re-open if you're experiencing difficulties.

[2017-04-03 09:35] #922 closed

[2017-04-03 09:45] kunagpal commented on #885
@czardoz This could be due to a missing `.toString()` call here: https://github.com/postmanlabs/newman/blob/develop/lib/reporters/cli/index.js#L60, as compared to https://github.com/postmanlabs/newman/blob/develop/lib/reporters/cli/index.js#L65

[2017-04-03 09:49] kunagpal commented on #392
@rapidroamer We've included folder names JUnit reports (since Newman `v3.5.0`), do check it out 😄

You can update newman with: `npm i -g newman`

[2017-04-03 09:49] #392 closed

[2017-04-03 10:02] kunagpal commented on #788
@nuubis-mso Apologies for the delay, but could you try with the following request body and see if that works for you?
[code]

[2017-04-03 11:34] kunagpal commented on #803
@tariqghalib Closing issue due to inactivity. Feel free to re-open if you're facing issues 😄

[2017-04-03 11:34] #803 closed

[2017-04-03 11:34] #792 closed

[2017-04-03 11:36] kunagpal commented on #868
Closing as a duplicate of #751

[2017-04-03 11:36] #868 closed

[2017-04-03 11:46] kunagpal commented on #821
Closing as a duplicate of #751

[2017-04-03 11:46] #821 closed

[2017-04-03 11:47] kunagpal commented on #664
This should have been fixed in the latest releases of the Postman app, and Newman.

[2017-04-03 11:47] #664 closed

[2017-04-03 17:15] estebancoria opened #977 ""path must be a string" message using --ssl-client-cert flag"
Hi!, I'm using Newman v3 Cli, and I need to use ssl cert, but it doesnt work, and I don't know why.

 1. Newman Version: 3.5.2
 2. OS details (type, version, and architecture): Ubuntu 16.10 64bits
 3. Newman CLI
 3. My first time with this issue
 4. Request with ssl client cerificate
 5. newman run 'collections/mycollection.json' -d 'data/mydata.json' -e 'environments/rc.json' --ssl-client-cert my

[2017-04-03 18:10] brimchan commented on #963
that's awesome!

[2017-04-04 07:13] kunagpal commented on #977
@estebancoria Your issue (`self signed certificate in chain...`) can be resolved by including the `-k` CLI argument in your `newman run` command (which will disable SSL certificate validation). The final command would be:
[code]

Feel free to get back to us if you're facing difficulties 😄

[2017-04-04 07:13] #977 closed

[2017-04-04 12:35] estebancoria commented on #977
@kunagpal thanks a lot. And sorry.

[2017-04-04 12:37] kunagpal commented on #977
@estebancoria No worries. Have fun developing with Postman and Newman!

[2017-04-05 07:37] maxAdyoulike commented on #647
I totally agree with both @ractive and @msadasivam, credentials should not be hardcoded in a git repo or json file.

[2017-04-05 21:57] Dasarobr commented on #972
+1

[2017-04-06 10:30] Arjunmaan commented on #456
okk

[2017-04-06 13:56] e2themillions opened #983 "Authorization problem when "No auth" should be used"
Hello,

I have a request that works perfectly well when I run it in Postman, but when I use either the Collection Runner or newman to run the same request, the server responds with a 401.2 Unauthorized (I should notice that it "sometimes" work when I use Collection Runner, but never in newman). The server supports windows authorization, but doesn't require it and I believe it would only return 401

[2017-04-06 15:12] shamasis commented on #983
Off the top of my head, this is caused when authentication method ends up adding the header to the request and then the request is saved with this header. Now when auth is turned off, these headers are still sent.

We are working on streamlining this behaviour. Meanwhile, if my hunch is right, can you delete extra authorisation headers in your request and then save the collection without sending i

[2017-04-06 17:32] czardoz commented on #983
Yep, here's the link to the relevant issue: https://github.com/postmanlabs/postman-app-support/issues/1463

[2017-04-07 13:38] nanduriv75 opened #985 "Not able to import CSV files"
[Misc.zip](https://github.com/postmanlabs/newman/files/905717/Misc.zip)

 1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilli

[2017-04-07 13:59] czardoz commented on #985
@nanduriv75 We need more details on what is wrong here. What's the expected behavior, and what's the actual behavior? Can you please fill in the form given in the issue?

[2017-04-09 13:17] RatanShreshtha opened #986 "HTML reporter is not generating right report."
Newman - 3.5.2
Fedora - 25
node - v7.6.0
I am using Newman for API testing and I have observed that the report generated by default HTML template is not right if I run the same request with different data from a CSV file.
It gives me the wrong URL in report and number of assertion for each request is also wrong.

I would like to fix this but I don't know how to write a template for Newman.

[2017-04-10 12:37] SMohamedMubarish opened #988 "Customize html report"
I wish to do some customization in HTML report generated from newman.
I wish to display the request data in the html report if request method is not a get method. How could I acheive that?

I tried something like
`{{#if method EQUALS "POST|PUT"}
                                <div class="col-md-4">Payload Parameters</div><div class="col-md-8" style="white-space: pre-wrap;">{{request.data}}</div>

[2017-04-10 17:45] kikesilva commented on #986
Same issue here. Html report always shows first URL in every request block of the report. And data belongs to the first call of iterations

[2017-04-11 08:39] kunagpal commented on #986
@RatanShreshtha @kikesilva This behaviour is intended, as the HTML reporter aggregates statistics across multiple iterations. Details like the response code and url are shown as per the first iteration. If complete details on all requests across all iterations are needed, you can check out the JSON report:
[code]

The file `report.json` will now contain the complete summary of the collection run.

[2017-04-11 08:40] kunagpal commented on #972
@SMohamedMubarish @Dasarobr Is this still causing an issue for you?

[2017-04-11 15:22] RatanShreshtha commented on #986
Yeah but the JSON produced is too large, I want to write a template for my use, can you guide me for this.

[2017-04-12 05:45] svenkat1 commented on #841
Hi i am having an issue with newman integration. I am running newman parallely which will execute 5000+ test conditions, when i am using junit,html,cli reporter it running fine but in case i use json reporter means it throwing this error

1347905 ms: Mark-sweep 1226.7 (1422.5) -> 1216.6 (1424.5) MB, 539.5 / 0.0 ms [allocation failure] [GC in old space requested].
 1348451 ms: Mark-sweep 1216.6 (14

[2017-04-12 07:21] kunagpal commented on #841
@svenkat1 Although using `--max-old-space-size` is a quick workaround, a more lasting solution is to stream reports to files, as has been discussed here:

https://github.com/postmanlabs/newman/issues/935#issuecomment-284329866
https://github.com/postmanlabs/newman/issues/564#issuecomment-242437859

[2017-04-12 07:47] svenkat1 commented on #841
@kunagpal
I am declaring newman script like this
Example:-
 newman.run({
            collection: collectionFileName,
            globals : globalsEnv,
            environment : runtimeEnv,
            reporters: ['json','junit'']
        });

Here i declared json and junit in my reporters. Error occuring only when i give json in reporters, so while in runtime, newman produces json reports which is

[2017-04-12 07:49] kunagpal commented on #841
@svenkat1 I was referring to streamed reports as an improvement within Newman, not something that can be enabled with an option. This is an important change, and we will keep you updated on any progress that happens on this.

[2017-04-12 07:53] svenkat1 commented on #841
@kunagpal Thank you for your response. once you made the changes let me update.

[2017-04-12 08:09] czardoz commented on #986
@RatanShreshtha You would have to write your own reporter and use it. We don't have proper documentation on how to go about writing one yet, but in a nutshell,

1. Create a new npm package using `npm init` (the name should be `newman-reporter-<something>`)
2. Add an index.js file. You can listen to all the Newman events documented in the [Readme](https://github.com/postmanlabs/newman#newmanruneven

[2017-04-12 11:50] RatanShreshtha commented on #986
Ok thanks

[2017-04-13 02:34] RatanShreshtha commented on #988
As far as I know Newman uses mustache templating engine for HTML reports, which is a Logic-less templating engine.
Mustache expressly forbids things like this. That's logic, and you're trying to put it in your template :)

[2017-04-13 06:37] czardoz commented on #988
@RatanShreshtha, we actually use handlebars, which allows some logic in the templates​ :)

[2017-04-13 19:07] mtoothman opened #992 "Outdated Jenkins/newman documentation"
1. Newman Version (can be found via `newman -v`): 3.4.2
 2. OS details (type, version, and architecture): macOS Sierra 10.12.3
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: n/a
 4. Expected behaviour: n/a
 5. Command / script used to run Newman: `newman -c jenkins_demo.postman_collection --exitCode 1`
 6. Sample c

[2017-04-14 19:10] shamasis commented on #992
We are updating the docs. Even then, the postman-docs repository is open source for contribution. 😊

[2017-04-14 19:11] shamasis commented on #992
By the way, there's a MIGRATION.md that outlines the changes between Newman v2 and v3. They should be deprecated but not discontinued. We will look into whether any old command has any issue.

[2017-04-14 19:45] mtoothman opened #993 "Deprecated node_module installed with newman"
1. Newman Version (can be found via `newman -v`): 3.5.0
 2. OS details (type, version, and architecture): alpine 3.3
 3. Are you using Newman as a library, or via the CLI? cli
 3. Did you encounter this recently, or has this bug always been there: always
 4. Expected behaviour:
 5. Command / script used to run Newman: part of `docker build`
 6. Sample collection, and auxilliary files (minus the se

[2017-04-15 05:18] shamasis commented on #993
node-uuid is used by one of our dependencies and not directly by newman. This shouldn't cause any problem since the deprecation is merely semantics to use the uuid package name.

[2017-04-15 05:18] #993 closed

[2017-04-15 05:25] czardoz commented on #915
Okay, the first two screenshots tell me that your proxy is returning a "400 Bad Request" code.

Can you add a `console.log(responseBody);` at the top of your test script? That will allow us to see why it's a bad request.

[2017-04-17 16:04] mtoothman commented on #992
Sounds good, thanks. I'll send a PR in future.

[2017-04-17 16:04] #992 closed

[2017-04-18 18:04] tariqghalib commented on #892
@kunagpal @mcdan @chrisscott @jimthedev @piotrowski  Any update on this guys? This was fixed for native apps recently. Can we fix this for Newman please.

[2017-04-18 18:09] shamasis commented on #892
Newman and postman native apps share similar code base. It should behave similarly in Newman.

Cc @czardoz @kunagpal

[2017-04-19 07:36] RatanShreshtha commented on #986
Can you tell me how to use a custom reporter for newman from a node script ?

[2017-04-19 07:46] kunagpal commented on #986
@RatanShreshtha https://github.com/postmanlabs/newman#creating-and-using-custom-reporters

[2017-04-19 12:27] obender commented on #545
This is what I Ended with:

[code]

[2017-04-20 11:52] fistach opened #995 "Cannot run newman right after installation"
When I try to execute a collection of test from the cli like this:

newman run my_collection.json

I get

/usr/bin/env: "node": No such file or directory

 1. Newman Version (can be found via `newman -v`):
newman -v does not work, but newman was installed today with "npm install -g newman".
 2. OS details (type, version, and architecture):
Ubuntu 16.04.2 LTS, x64
 3. Are you using Newman as a libr

[2017-04-20 11:55] fistach commented on #995
As a workaround it helps if I install

sudo apt-get install nodejs-legacy

[2017-04-20 11:59] czardoz commented on #995
@fistach This is because you do not have `node` in your path. I would recommend you install Node using `nvm` on Ubuntu (https://github.com/creationix/nvm), which ensures that the right paths etc are configured, and does not need superuser permissions.

There used to exist a `node` binary, which conflicted with `nodejs`, so they ended up renaming `node` to `nodejs`, which has in turn caused more is

[2017-04-20 11:59] #995 closed

[2017-04-20 12:53] fistach commented on #995
Ok, thanks for the explanations.

[2017-04-20 18:28] tariqghalib commented on #892
@shamasis Verified above and its working as mentioned above. We can close this Ticket

[2017-04-20 18:28] #892 closed

[2017-04-21 19:08] sivakrishnajee opened #997 "oAuth 2.0 - Authorization Code request results in error - proper client ssl certificate was not presented"
Hi,

When trying to get a new access token for oAuth 2.0 - Grant type of "Authorization Code" results in the following error:

error: invalid_request
Description: proper%20client%20ssl%20certificate%20was%20not%20presented

Version and environment information:

 1. Postman Version ): Version 4.10.7 - win32 6.1.7601 / x64
 2. OS details (type, version, and architecture): Windows 7
 3. Are you using

[2017-04-21 20:08] sivakrishnajee opened #998 "Postman is not getting oAuth 2.0 - Access Token when there are 2 SSL certificates in windows certificate store"
Hi,

When there are multiple SSL certificates are attached to the Windows certificate store, Postman is having issues in getting the oAuth 2.0 - Access Token.  Postman is responding with the error message:

Error getting access token from client_credentials flow. Could not send request

**Note the following conditions:**
1. There are 2 certificates attached with the windows certificate store.
2. P

[2017-04-25 08:26] kunagpal commented on #986
@RatanShreshtha More detailed information can be found here: https://www.getpostman.com/docs/newman_intro#custom-reporters

[2017-04-25 08:26] #986 closed

[2017-04-25 08:41] kunagpal commented on #997
@sivakrishnajee I've created a new issue at https://github.com/postmanlabs/postman-app-support/issues/2975, this repository is for Newman related issues only 😄

[2017-04-25 08:41] #997 closed

[2017-04-25 08:54] kunagpal commented on #998
@sivakrishnajee As was the case with #997, this issue has been transferred to https://github.com/postmanlabs/postman-app-support/issues/2976, you can track it's progress there 😄

[2017-04-25 08:54] #998 closed

[2017-04-25 09:08] kunagpal commented on #972
Closing issue due to inactivity, feel free to revert here if your issue persists 😄

[2017-04-25 09:08] #972 closed

[2017-04-25 09:15] kunagpal commented on #788
@nuubis-mso Closing issue due to inactivity, feel free to revert here if you're facing difficulties 😄

[2017-04-25 09:15] #788 closed

[2017-04-25 21:09] bpatram opened #1002 "Karma test runner adapter/plugin?"
I think it would be amazing to make a plugin/adapter for [Karma](http://karma-runner.github.io/1.0/index.html). That would allow people to more easily integration newman into an existing test process. Unfortunately, I do not have the knowledge or time to begin development of such a plugin. But I think it would be important to know if this is even something people want.

Info on how to create Karma

[2017-04-26 18:49] sivakrishnajee commented on #997
Kunagpal, Thank you for moving the ticket into the appropriate queue.

[2017-04-26 21:55] arturonuman opened #1004 "Socket hang up for HTTPS requests with self-signed certs"
Using Newman for HTTPS requests for an API with SelfSigned Certificates fails, however, Postman runs successfully.

1. Newman Version: 3.5.2
2. OS details:
 - Linux 4.4.0-71-generic #92-Ubuntu SMP Fri Mar 24 12:59:01 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
3. Using Newman CLI
3. Encountered this recently
 - Never used newman CLI before until now.
 - Created collection and environment using Postman

[2017-04-27 04:42] czardoz commented on #1004
Client side certificate is entirely different from what you want. Try passing `-k` to Newman, which disables SSL validation.

[2017-04-27 12:21] kunagpal commented on #985
@nanduriv75 Closing issue due to inactivity. Feel free to revert here of you're facing difficulties. 😄

[2017-04-27 12:21] #985 closed

[2017-04-27 14:32] arturonuman commented on #1004
Seems like the same output:
[code]

[2017-04-27 22:53] arturonuman commented on #1004
It turned out to be my no_proxy settings, I had:
`no_proxy=localhost,127.0.0.1`
However, I was executing all requests to my actual IP, so, once I included it in no_proxy it worked perfectly  (feeling not so smart)

Thank you!

[2017-04-27 22:53] #1004 closed

[2017-04-28 14:49] arturonuman commented on #1004
Now that I think about it, it's kinda weird that Postman works with my previous no_proxy configuration but for Newman, I have to specify mi actual IP.
Shouldn't both of them work the same?

[2017-04-28 15:08] czardoz commented on #1004
Postman will peek into the OS proxy settings, but Newman can't do that. Maybe that's the problem?

[2017-04-28 15:14] RickvdStaaij commented on #764
Bumping this. I'm building an deployment pipeline including review applications, where every review applications gets his own URL. It would be way nicer to pass an specific environment variable into the CLI instead of having to write it to a file first.

[code]

Don't understand me wrong, the below code works, but it's nasty if you ask me:

[code]

[2017-04-28 17:40] arturonuman commented on #1004
Maybe... I'm glad to know it worked at the end by just adding my IP to the no_proxy env variable.

[2017-05-01 15:50] mtaylorSF commented on #276
@czardoz  Any update on this feature? When is it slated for release in your roadmap? Thanks

[2017-05-01 16:05] darrylkuhn commented on #276
Hey all - while we all wait for this feature this may be of use. We have a collection that we use for integration testing with ~650 calls broken into many sub-folders. We have a "Fixtures" folder to do all the set up that each of the subsequent folders rely on. So in our set up we needed to be able to run "Fixtures" and then another folder. Using the simple bash script below we were able to achiev

[2017-05-03 13:09] michaelajr opened #1013 "Feature Request: Pass environment variables on the command line"
We could really use a way to pass an environment variable on the command line. We have set up environments and can specify an environment file from the command line, but I do not want to put secrets in the environment files. Things like oauth2 secret key should be passed in for a run and added to (or override) variables specified in the environment file.

[2017-05-03 13:13] michaelajr commented on #1013
This would be useful when running from Jenkins. We could put the oauth2 secret in the Credentials Store and pass it to the pipeline code suing the `withCredentials` wrapper.

[2017-05-09 05:10] czardoz commented on #885
@grioja, any chance you could share the collection causing this problem?

[2017-05-09 11:38] Guru426 commented on #221
@czardoz , can you please help me with this... because i am getting the below error when using -O or --outputFileVerbose

I am using newman v3.5.2 on windows10 machine

command issued : newman run E:\postman_collection.json -e C:\environment.json -d C:\data.json -O E:\new.txt
console output: newman run: error: Unrecognized arguments: -O E:\new.txt.

[2017-05-09 11:45] czardoz commented on #221
@Guru426 Check the readme for supported options: https://github.com/postmanlabs/newman#readme

Specifically, the reporter options :)

[2017-05-09 15:27] grioja commented on #885
@czardoz

Attached my collection, and associated error. This is blocking our Jenkins build process currently...
[GoldenPath.postman_collection.json.zip](https://github.com/postmanlabs/newman/files/987128/GoldenPath.postman_collection.json.zip)

[code]

[2017-05-09 15:31] grioja commented on #885
I think this is strictly related to printing out the results of the test (which it happens when my collection succeeds or fails). I'm using `--no-color --bail`

[2017-05-10 08:58] majoer opened #1019 "Feature discussion: Provide 'no escape' option in HTML reporter"
The postman application renders HTML in, for instance, the description field of a collection. I feel like the newman html reporter should provide a 'no escape' flag without having to modify the default template.

[https://github.com/postmanlabs/newman/blob/develop/lib/reporters/html/template-default.hbs](url)
My problem can be solved by using handlebars' tripple stash on the 'content' attribute:
`

[2017-05-10 10:22] czardoz commented on #1019
@majoer Thanks for reporting this!

This is actually the very reason why we've allowed customizable templates for HTML reporter. There are a really large number of customizations everyone requires, and it usually bloats up the reporter, making it slow & ugly if we try to address all of them. Especially in this particular case, since it's a change to the template itself, the right thing to do is pr

[2017-05-10 10:22] #1019 closed

[2017-05-10 21:42] grioja commented on #885
I am now explicitly setting `cli` as the reporter, and use `--insecure` and it appears to be working now

[2017-05-11 15:31] sudharsan81 commented on #595
If you wish client need not verify server, please use "-k" option like this:

newman run your_collections.json -k

[2017-05-11 15:52] bijoej commented on #562
Can we have a report with total number of assertions on each test script?

[2017-05-11 15:59] bijoej opened #1020 "Running the postman script using Newman on remote Jenkins server"
Hi,
 Can anyone let me know how to run the Postman generated json script on a remote Jenkins server using Newman.

 My requirement is:
 - I have created lots of tests and can run it easily locally from terminal using Newman command
 - I basically want to run the test from remote Jenkins

What should I do for this?

Regards,
Bijo

[2017-05-11 16:02] chit786 opened #1021 "Reference Error - Navigator not defined when using JSEncrypt library to encode the Password"
1. Newman Version (can be found via `newman -v`):

3.5.2

 2. OS details (type, version, and architecture):
WIN7 / 32 bit
 3. Are you using Newman as a library, or via the CLI?

CLI
 3. Did you encounter this recently, or has this bug always been there:

Tried first time and received error.
 4. Expected behaviour:

 5. Command / script used to run Newman:

C:\Users\UID\Postman>newman run collectio

[2017-05-11 18:24] shamasis commented on #1021
Can you provide the script that you're using inside test or prerequest? (Remove sensitive aspects)

By knowing the script / libraries that you are calling from inside the script, I can confirm whether it is an issue in our library or not.

Otherwise, all I can conclude is you are referring to "navigator" somewhere and Newman is will not have browser specific variables.

It could also be a bug wher

[2017-05-11 19:52] chit786 commented on #1021
Thank you for response , I am using JSEncrypt JavaScript code to encrypt the PIN inside one of the get response in test script where it's failing. But in postman it's working fine. Only issue is while trying with newman.

[2017-05-12 05:34] czardoz commented on #1021
@chit786, looks like your library is trying to access some browser related features, which are not supported in Newman (or even our non-chrome apps). We've included CryptoJS in the sandbox, maybe you could use that as an alternative?

[2017-05-12 09:07] chit786 commented on #1021
@czardoz thanks for your suggestion and yes I went through the encryption library and it does uses navigator, which is expected to work in chrome apps. However I replaced it in code to use the chrome specific string values wherever the navigator is used and its working fine, so now I get next exception with window is not defined which is again a browser specific.  And now i am stuck how to replace

[2017-05-12 10:09] chit786 commented on #1021
https://npmcdn.com/jsencrypt@2.3.0 this is the encryption library I used in test-script which is failing so would like to know which is the similar encryption I can use from the CryptoJS. Thank you!

[2017-05-12 10:28] czardoz commented on #1021
@chit786 I have never used JSEncrypt before, so I cannot tell more about alternative functionality in CryptoJS. It does however support AES, DES & Triple DES. Check out these links for more information:

https://www.npmjs.com/package/crypto-js
https://code.google.com/archive/p/crypto-js/

[2017-05-12 12:01] chit786 commented on #1021
Thanks Aniket I solved it! changed encoding javascript and I am successfully able to encode using JSEncrypt.

Note : JSEncrypt itself uses asymmetric encoding as compared to CryptoJS so can't use it in my scenario since I am pretty restricted to use JSEncrypt.

thank you for your support ~chitrang

[2017-05-12 12:01] #1021 closed

[2017-05-12 15:14] kunagpal commented on #970
@srpramod Newman v3.6.0 has been released with a fix for this issue, do go ahead and try it out. 😄

[2017-05-14 09:19] Saturnyn opened #1024 "newman behaves incorrectly if options.ignoreRedirects is not set"
1. Newman Version _3.5.2_
 2. OS details: _Win7_
 3. _library_
 3. First use of newman
 4. Expected behaviour: newman should behave the same if options.ignoreRedirects is not set or set to false
 5. Command / script used to run Newman:
[code]
and
[code]

I have a set of postman collections that were set up using the postman app, and I have now added a script that uses newman to run those collectio

[2017-05-15 07:29] kunagpal commented on #983
@e2themillions Did the suggested fixes work for you?

[2017-05-15 07:30] kunagpal commented on #904
@Sidrock28 A fix for this issue has been added in #1026, we'll update this thread when it has been released.

[2017-05-15 07:38] kunagpal commented on #1020
http://blog.getpostman.com/?s=newman+jenkins

[2017-05-15 07:38] #1020 closed

[2017-05-15 07:52] czardoz commented on #751
@kunagpal Just need to add a test and close this up

[2017-05-15 07:55] czardoz commented on #615
Closing this in favor of #612

[2017-05-15 07:55] #615 closed

[2017-05-15 08:08] #621 closed

[2017-05-15 08:09] kunagpal commented on #568
To be done via custom reporters: https://github.com/postmanlabs/newman#creating-and-using-custom-reporters

[2017-05-15 08:09] #568 closed

[2017-05-15 08:12] kunagpal commented on #988
@SMohamedMubarish This can be accomplished using a combination of Handlebars helpers (http://handlebarsjs.com/expressions.html), and Newman custom reporters: https://github.com/postmanlabs/newman#creating-and-using-custom-reporters. Feel free to get back if you're facing issues :smile:

[2017-05-15 08:12] #988 closed

[2017-05-15 08:13] kunagpal commented on #309
@fluidjeel This can be accomplished by creating and using your own custom Newman reporter: https://github.com/postmanlabs/newman#creating-and-using-custom-reporters

Feel free to get back if you're facing issues. 😄

[2017-05-15 08:13] #309 closed

[2017-05-15 08:37] #421 closed

[2017-05-15 09:37] kunagpal commented on #751
@czardoz The appropriate options to enable/disable `GET` request bodies will also have to be added to Newman.

[2017-05-15 09:39] kunagpal commented on #751
@ajsb85 Newman `v3.6.0` has been released with a fix for this issue, do go ahead and try it out 😄

[2017-05-15 09:39] #751 closed

[2017-05-15 09:48] ajsb85 commented on #751
Thank you very much

[2017-05-15 11:13] kunagpal commented on #964
![newman github 964](https://cloud.githubusercontent.com/assets/7289840/26055167/3d7d302e-398d-11e7-8bf4-7375d48f11d9.png)

@jdiaz4517 The complete error messages are displayed together, at the end of the collection run.

[2017-05-15 11:13] #964 closed

[2017-05-16 12:22] urosjarc opened #1028 "Event property "disabled" is dead feature."

[2017-05-16 20:32] sophiecdd commented on #929
@kunagpal when running the "newman run collection.json -e env.json", if in one request, it does setEnvironmentVariable("value", "value"), does it automatically update the env file? so that in the following request can I do as below? It seems doesn't work for me from command line, but it works fine from POSTMAN client.
"request": {
	"url": "http://{{base_url}}/login/security_check",
	"method": "POS

[2017-05-16 20:45] shamasis commented on #929
Newman is not supposed to update the environment file unless you instruct it to specifically export the environment data to a file using --export-* commands. See README.

If you still have issues, I suggest we continue the conversation in a new issue as that will help us keep better track of it.

[2017-05-16 21:08] sophiecdd opened #1029 "How to set an environment variable in the previous request and then pass it into the following request?"
1. Newman Version (can be found via `newman -v`): 3.6.0
 2. OS details (type, version, and architecture): windows7
 3. Are you using Newman as a library, or via the CLI? via CLI
 3. Did you encounter this recently, or has this bug always been there: just started to use newman recently
 4. Expected behaviour: I am expecting the environment variable get set during request1 then from request2, I can

[2017-05-17 06:34] shamasis commented on #1029
Perfect. You can variables use like that. Is there any issue coming up when you use it like that?

[2017-05-17 15:44] sophiecdd commented on #1029
It didn't work for me through command line, from UI works fine. But running from command line gave me back errors, is there a way to printout the actual response body in the console output?

[2017-05-17 15:47] sophiecdd commented on #1029
And also, same question as I asked on the closed thread earlier yesterday. Since the value of that environmental parameter is change dynamically, is it possible that the following test case is not getting the updated value?

[2017-05-17 15:55] dwertheimer commented on #375
@kunagpal thanks. I just loaded Newman and have Node with ES6 previously. Am getting these errors. How do I force Newman to use a newer Node.js?

[2017-05-17 16:03] schobster commented on #885
Running into the same problem as well. I am seeing the problem when running the [newman-docker image](https://github.com/postmanlabs/newman-docker) within a Jenkins build pipeline.

[2017-05-17 16:23] kunagpal commented on #375
You'd have to install the desired version of Node, which can be accomplished with a tool like https://www.npmjs.com/package/n to manage multiple node versions on your computer.

[2017-05-17 16:27] kunagpal commented on #1029
@sophiecdd Could you share the command used (if different from the command provided in the opening comment), the error encountered? Also, you'd have to add `--export-environment <the-name-of-your-env-file>` to your `newman run ...` command so that the original environment file get's replaced with the updated one.

[2017-05-17 17:20] sophiecdd commented on #1029
Here is what I am doing in my test:
1. get request to load a login page (get a cookie which will be passed into the rest of the request in the header)
2. post request to pass the authentication with username/password
3. get request(need the cookie from step #1), the test is failing here for me

I am using the following command to run it through command line:
newman run collection.json -e env.json

[2017-05-17 17:22] sophiecdd commented on #1029
BTW, the reason why I have to do the first two step is, we have to by pass a firewall and a cross product authentication. And I know this is not good from testing point of view, but I have no control of these :)

[2017-05-17 18:44] shamasis commented on #1029
Good that you mentioned Cookie. You cannot set cookie programmatically from postman or Newman, everything else retains whatever you do with variables through all requests in a run.

So, when you get cookie from 1, you can set its value as anything else in 3, but not as cookie.

https://www.getpostman.com/docs/chaining_requests

[2017-05-17 19:58] sophiecdd commented on #1029
@shamasis Thanks for your reply, but something here I don't understand, if like what you said that postman and newman doesn't support setting cookie programmatically, why it is working for me from postman client? Also with the Interceptor ON, I do see cookie get set though.

[2017-05-17 20:59] shamasis commented on #1029
That's odd. @numaanashraf @czardoz can you help out here? Maybe I missed something.

[2017-05-17 21:24] sophiecdd commented on #1029
I found this post: https://www.linkedin.com/pulse/how-read-cookie-value-postman-request-chaining-ishan-girdhar-oscp

[2017-05-18 01:55] dwertheimer commented on #375
@kunagpal

Just checked
My Node --version is 6.9.4

That should be plenty good for es6 but Newman still gives me TypeErrors which Postman does not. Thoughts?

[2017-05-18 03:50] kariasbolster opened #1030 "Automating AWS API Testing Using Postman and Newman"
I was given the task to automate API testing and came across postman which was great because it supports AWS Signature authentication. So I played with it and the results were good, I am able to successfully test my api. So this was all done manually, I have a code to generate my access key Id, secret key Id  and session token and manually add them in the authentication tab. So what I wanted to kn

[2017-05-18 07:56] kunagpal commented on #1030
@kariasbolster To ensure that authentication details are included in exported collections, the `Save helper data to request` checkbox next to the authentication fields will have to be checked. If you'd like to use dynamically generated AWS API access keys, you'll have to:

1. Add a request to your collection to generate an id-key pair using the AWS IAM API: http://docs.aws.amazon.com/IAM/latest/AP

[2017-05-18 08:00] kunagpal commented on #375
@dwertheimer I was unable to reproduce your issue. Could you share the following details?

* The Newman version.
* The error message.
* The collection.

[2017-05-18 09:20] kariasbolster commented on #1030
Hi @kunagpal thanks for the answer. I don't think I will be needing ( or maybe I don't have the knowledge yet ) to do step 2 and 3 as I already have a code to get the AccessKey, SecretKey and SessionToken. So I tried step 1, the save helper data to request, and  when I exported my collection, the helper attributes are included in the collection.json. That's all good, but the next thing I want to k

[2017-05-18 09:31] czardoz commented on #1030
@kariasbolster, you can set the value of the keys to Postman variables.

e.g:

Access Key: `{{my_access_key}}`

In your pre-request script, you can then use the Sandbox helper functions to change these values:
[code]

For more information, check out our documentation: https://www.getpostman.com/docs/postman/environments_and_globals/variables

Hope this helps :)

[2017-05-18 09:45] kariasbolster commented on #1030
@czardoz thanks for the answer.  this helps. but i now have a next question, my keys are programmatically generated. I have a code to generate them and it seems I can't add my code in the pre-requisite script tab, so I thought since I'm using newman, I'll just add newman into my code and then add the environment variables in there, but the problem if I use that is I lose the out of the box functio

[2017-05-18 09:56] czardoz commented on #1030
@kariasbolster AWS Auth _is_ supported out of the box in Postman and Newman. You just need to set the correct AWS Access Key and Secret Key in Postman.

So basically, you don't need custom code to generate them programmatically.

[2017-05-18 10:23] kariasbolster commented on #1030
@czardoz Oh okay I thought its only supported in postman. So you mean, I can just the same Access Key and Secret for all my future http calls? Sorry Im not really a technical guy but I'm trying to learn. But what about the Session Token? It expires every hour. The reason why they told me to generate new Access Key, Secret Key is because Session Token expires every hour that is why I need to login

[2017-05-18 10:55] czardoz commented on #1030
@kariasbolster The validity of Access Key and Secret depends on your particular AWS Account policies, so you should talk to someone who manages your AWS Account for details around that.

Essentially, it is possible to have an Access Key & Secret of indefinite validity. However, that may not be compliant with your organizations security policies. In that case, you would need to use a Session Token.

[2017-05-18 10:59] kariasbolster commented on #1030
@czardoz Oh great! Thanks a lot @czardoz , you helped me big time.

[2017-05-18 11:00] #1030 closed

[2017-05-18 11:01] kunagpal commented on #1030
@kariasbolster Marking this issue as resolved. Feel free to re-open if you're facing issues 😄

[2017-05-18 11:09] #1028 closed

[2017-05-18 11:12] kunagpal commented on #945
@dudeofawesome The `--variables` option suggested by @shamasis is not provided by Newman yet, the premise of loading environment of global variables via the CLI will have to be addressed first.

[2017-05-18 11:15] kunagpal commented on #1002
@bpatram Thanks for your suggestion. While Newman can already be easily integrated into existing test suites, we'd also like to know why you believe that a Karam plugin is even needed.

[2017-05-18 11:17] kunagpal commented on #836
@gkumbhat Marking issue as resolved. 😄

[2017-05-18 11:17] #836 closed

[2017-05-18 11:19] kunagpal commented on #724
@cdanielsen Work on a better way to handle such cases is in progress, we'll update this thread when it's available. 😄

[2017-05-18 16:03] dwertheimer commented on #375
Thanks. @kunagpal I am sure I am missing something simple here. It's just frustrating to write and test code in Postman and have it work fine, only to have it fail in Newman. Here are a couple of basic examples.

[code]

[2017-05-18 22:01] sophiecdd commented on #1029
Hi, it is me made a mistake, postman client remembers the cookie from the web login, so it worked for me from there. but not newman command line. @shamasis You are correct! Thanks for your input.

[2017-05-19 06:06] shamasis commented on #1029
You're welcone.

[2017-05-19 06:06] #1029 closed

[2017-05-19 08:23] kariasbolster opened #1032 "Data Variables Can't Be Used In Request Body?"
I have different scenarios for my api testing and the data for those scenarios are inside a json file which I passed in newman as a data variable file. But it doesn't seem to work. Is there another way I can accomplish this?

 This is what my request body looks like
[code]

[2017-05-19 09:06] czardoz commented on #1032
@kariasbolster Here's a walkthrough on how to use Data Variables: http://blog.getpostman.com/2014/10/28/using-csv-and-json-files-in-the-postman-collection-runner/

Basically, your data file needs to contain something like this:
[code]
and your request body needs to contain:
[code]

[2017-05-19 09:06] #1032 closed

[2017-05-19 09:10] kariasbolster commented on #1032
@czardoz this is what my data variables file looks like
[code]
So data variables only work on the first level?

[2017-05-19 09:26] czardoz commented on #1032
@kariasbolster Yes :)

[2017-05-19 10:01] kariasbolster commented on #1032
@czardoz so I tried your answer and modified my body to this.

<img width="604" alt="screen shot 2017-05-19 at 5 59 41 pm" src="https://cloud.githubusercontent.com/assets/16870304/26243012/fcf04fd6-3cbc-11e7-8cf8-d69cb6aaf7fd.png">

However the values weren't substituted as you can see in the request below

![screen shot 2017-05-19 at 5 59 01 pm](https://cloud.githubusercontent.com/assets/16870304

[2017-05-19 10:26] kariasbolster commented on #1032
@czardoz never mind my last question stupid of me, I did not enclosed the {{}} in parenthesis.

[2017-05-19 13:25] barrycie commented on #647
I agree - would love to see this feature added

[2017-05-22 11:37] deyhle opened #1037 "v3.6.0 no longer has `summary.run.executions.response.body`"
1. Newman Version (can be found via `newman -v`): 3.6.0
 2. OS details (type, version, and architecture): macOS 10.12.5 / node.js v6.10.2
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: since 3.6.0
 4. Expected behaviour:
Until the latest release (up to 3.5.*) the `summary.run.executions` objects would include `

[2017-05-22 11:43] kunagpal commented on #1037
@deyhle The `v3.6.0` equivalent is `summary.run.executions[0].response.text()`.

[2017-05-22 11:54] deyhle commented on #1037
Thanks for the quick response.
However, `summary.run.executions[0].response.text()` also returns undefined, `summary.run.executions[0].response.json()` (the response is JSON) fails with the following error:

    at Object.parse (native)
    at parse (.../node_modules/liquid-json/lib/index.js:36:21)
    at Object.parse (.../node_modules/liquid-json/lib/index.js:58:20)
    at Object.json (.../node_m

[2017-05-22 12:00] kunagpal commented on #1037
@deyhle Could you share the collection - environment pair that causes this? Also, could you see if `summary.run.executions[0].response.stream.toString()` works correctly?

[2017-05-22 12:21] deyhle commented on #1037
Alright, here is my simplified code.
`summary.run.executions[0].response.stream` is also undefined.

[code]

The called API responds with HTTP 201 and a JSON response body.

[2017-05-22 12:32] kunagpal commented on #1037
@deyhle Thanks, I was able to reproduce the issue with the above.

[2017-05-23 08:29] rapidroamer commented on #192
-t is discontinued, anyone looking to log response, please use:
--reporters json and optionally
 --reporter-json-export <File>

[2017-05-23 10:16] codeKonnect opened #1038 "Provide the custom report path from command ??"
Hello all,

This is more like a query than an issue.

I wanted to know if there is any way where we can pass the custom report template(path) to the newman command in jenkins so that it picks this path and generates the report. I am trying to modify the existing Junit template to meet our requirements for minimal log.

Thanks in advance,
codeKonnect

[2017-05-23 10:40] kunagpal commented on #1038
@codeKonnect The JUnit reporter does not support a custom template yet, but this could be a useful addition.

[2017-05-24 13:15] codeKonnect commented on #1038
@kunagpal  Thank you for the faster response.
Is this feature available for the other reporters ? like HTML report?
If yes , is it possible to pass the path of the report template from command ?

[2017-05-24 13:35] kunagpal commented on #1038
@codeKonnect Yes, the HTML reporter supports custom templates via the `--reporter-html-template` option. This template must be a [handlebars](http://handlebarsjs.com/) file, and must accept the template object here: https://github.com/postmanlabs/newman/blob/develop/examples/reports/html-reporter-template-data.json

[2017-05-25 01:01] punitag opened #1042 "newman CLI does not offer any way to persist variables across requests"
newman version 3.6.0

[2017-05-25 19:51] varma22333 opened #1045 "Reference in test script issue"
1. Newman Version : 3.5.2
 2. OS details (type, version, and architecture): windows 10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: this is the first time i am running this kind of script in newman
 4. Expected behaviour:
 5. Command / script used to run Newman:
**newman run C:\Users\samudunu\PreProd.postman_coll

[2017-05-25 22:21] wierzba3 opened #1046 "Feature request for specififying postman environment variable on command line"
I asked about this in the slack chat and I was told it would be in a future release.
How can I follow this feature so I can know when it is live?

[2017-05-26 04:42] shamasis commented on #1046
We will update this issue once we release something that allows you to send data from CLI args to the collection run.

[2017-05-26 10:31] czardoz commented on #1046
@wierzba3 @shamasis This is a duplicate of https://github.com/postmanlabs/newman/issues/1013, so we can track the updates there.

Closing this issue in favor of #1013

[2017-05-26 10:31] #1046 closed

[2017-05-26 10:45] nishantkyal commented on #238
How can I set Cookie header in newman request?

[2017-05-28 10:32] therahulprasad opened #1047 "newman run collection.json -e env.json --reporters html" throws error"
1. Newman Version (can be found via `newman -v`): 3.6.0
 2. OS details (type, version, and architecture): Ubuntu 16.04 64bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: no-error
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensit

[2017-05-28 10:34] therahulprasad opened #1048 ""newman run collection.json -e env.json --reporters html" throws error"
1. Newman Version (can be found via `newman -v`): 3.6.0
 2. OS details (type, version, and architecture): Ubuntu 16.04 64bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: no-error
 5. Command / script used to run Newman: newman run collection.json -e env.json --reporters html
 6. S

[2017-05-28 10:34] czardoz commented on #1047
@therahulprasad need more details on what the errors are (preferably a screenshot of your terminal).

[2017-05-28 10:36] czardoz commented on #1047
Closing in favour of #1048, which has details about the error :)

[2017-05-28 10:36] #1047 closed

[2017-05-28 10:38] therahulprasad commented on #1047
Don't know why Github created two issues, I just edited the description.

[2017-05-28 12:36] sophiejacquin opened #1049 "html report with duplicate information for multiple iterations"
1. Newman Version (can be found via `newman -v`): 3.5.2
 2. OS details (type, version, and architecture): ubuntu 16,04 64 bits
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: my first try
 4. Expected behaviour: When I run a collection with n iteration i would like to get a html

 report with a single resume but I g

[2017-05-29 08:24] deyhle commented on #1037
Any updates on this? When can we expect a fix?

[2017-05-29 08:33] czardoz commented on #1037
@deyhle we're a little swamped on some work on postman runtime (https://github.com/postmanlabs/postman-runtime/pull/266 in case you're curious), but we'll try to push out a fix early next week.

In the meantime, feel free to downgrade to v3.5.2 if this bug is a show-stopper for you :(

[2017-05-29 11:22] czardoz commented on #1049
@sophiejacquin Can you elaborate on what the expected behavior is? Newman aggregates results across multiple iterations for the HTML reporter.

[2017-05-29 12:12] sophiejacquin commented on #1049
The collection contain 3 test:
-get_nb_objects
-create
-check_object_added

In the report we can see that there are 9 results description blocks, so 3(which is the number of iterations) for each test, but all of them give a resume of what happens accross all the iteration.
So it is a bit redundant. I ideally would like to have only one block result for each test that aggregates results across the

[2017-05-29 12:27] czardoz commented on #1049
@sophiejacquin Newman does not do that by default, but you can totally do this by [writing your own reporter](https://github.com/postmanlabs/postman-docs/blob/0e4f2b2a5525565ed9414e6456397d7b484013f1/_posts/06_api_testing_and_collection_runner/2016-07-11-newman_intro.md#building-custom-reporters).

For a simple example of a reporter, check out our Emoji reporter: https://github.com/postmanlabs/new

[2017-05-29 12:27] #1049 closed

[2017-05-30 13:18] maxherson commented on #555
Hello! Not sure is this the same problem, but all my get request have response 401 {"error_code":"UNAUTHORIZED","message
  │ ":"Invalid signature"}'
How can I add params to header like in POSTMAN https://goo.gl/iCfkDQ at newman

[2017-05-30 13:39] maxherson opened #1052 "Issue with OAuth 1.0a and add Authorization in Request Headers"
Version and environment information:

 1. Newman Version (can be found via `newman -v`): 3.5.2
 2. OS details (type, version, and architecture): Win 10 64
 3. Are you using Newman as a library, or via the CLI? via the CLI
 3. Did you encounter this recently, or has this bug always been there: always
 4. Expected behaviour:
 5. Command / script used to run Newman: newman run api_reg2.postman_collec

[2017-05-30 13:51] maxherson commented on #1052
That is how my collection looks like GET with Authorization  https://goo.gl/OqDEPY

[2017-05-30 13:58] maxherson commented on #1052
In the POSTMAN with "Add params to header" checkbox  https://goo.gl/J7t6cH looks good
Without it https://goo.gl/tTBcpL

[2017-05-31 08:34] sophiejacquin commented on #1049
I am just a bit curious on why it is done like that. Are there some cases were it will not be redundant?

[2017-05-31 10:17] czardoz commented on #1049
@sophiejacquin Over the last couple of years, we've noticed that a lot of people have very specific reporting needs, someone may want an aggregated report, whereas someone else is interested in the details, which can help them debug issues.

Since it's not possible to allow the huge number of these customizations within Newman core, we've built it to allow people to use their own custom reporters.

[2017-05-31 15:49] varma22333 commented on #1045
Hi Kunagpal,

I got that issue fixed. I have used -k to ignore SSL it is working fine

[2017-05-31 15:50] #1045 closed

[2017-06-01 08:18] wooramy commented on #1042
Not sure if related, but I found a regression from newman 3.6.0 which works fine on newman 3.5.1.

1. Send POST request and save ID from the response to postman environment variable like
  - `postman.setEnvironmentVariable('itemId', body.id);`
2. Send multiple GET request using {{id}} variable
  - `GET /items/:itemId`

Result: `:itemId` does not get replaced with saved environment variable but sen

[2017-06-01 09:24] bijoej commented on #1020
Sorry for the late reply...

Since my Json file is in my local, can I generate the sharelink and pass that in jenkins job to run my tests?
In the following way under "Execute Shell":-

newman -c https://www.getpostman.com/collections/d1574ef972de1ee4a7c2 --exitCode 1

But it fails immediately while running.
Do we need "Newman" to be installed in the Jenkins Server first?

Regards,
Bijo

[2017-06-01 09:26] gqy117 opened #1054 "Newman Cli Treats Number as String in CSV Data Files"
1. Newman Version (can be found via `newman -v`): **3.6.0**
 2. OS details (type, version, and architecture): **Windows 10 Pro (x64)**
 3. Are you using Newman as a library, or via the CLI? **Cli**
 3. Did you encounter this recently, or has this bug always been there: It's not necessary a bug. But it's been at least since v3.4.3
 4. Expected behaviour:
When running a collection with iterationData

[2017-06-01 09:36] czardoz commented on #1042
@wooramy Yours seems to be a different issue, can you open a new issue?

@punitag you can use `postman.setEnvironmentVariable()` to set values which persist variables across requests, see https://www.getpostman.com/docs/chaining_requests for details :)

[2017-06-01 09:36] #1042 closed

[2017-06-01 09:39] czardoz commented on #1038
Closing this, @codeKonnect feel free to reopen if you're having issues :)

[2017-06-01 09:39] #1038 closed

[2017-06-01 14:31] bijoej commented on #1020
Finally I succeeded to run in a dockerized manner.
Thanks for your help

Regards,
Bijo

[2017-06-02 15:06] krogold commented on #851
Hello,
would you mind describing how you solved it ?
thank you

Alexandre

[2017-06-03 09:33] etaty opened #1055 "Newman run should not return success with a not found collection"
**I believe this bug can have huge consequence with an continuous integration system!!!**

 1. Newman Version (can be found via `newman -v`): 3.6.0
 2. OS details (type, version, and architecture): docker & osx
 3. Are you using Newman as a library, or via the CLI? cli
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run N

[2017-06-03 10:59] shamasis commented on #1055
Very valid. This should be for both collection and environments. Global too.

Ideal behaviour:

- this should apply for both URL and file based arguments

- it should not fail for empty collection / environment

- it should fail if the input object does not have base structure of collection / environment

- it should fail on non 200 response from input URLs (but should follow redirects)

[2017-06-06 09:54] gornialberto commented on #142
It seems with the latest release it dind't work anymore!

There was an error in evaluating the Pre-request Script:  TypeError: btoa is not a function

[2017-06-06 09:55] gornialberto commented on #1052
If i try to use in the pre-request script btoa() methods i'm getting this error:

There was an error in evaluating the Pre-request Script:  TypeError: btoa is not a function

Before the Postman last update it was working!!

[2017-06-08 13:27] reinouts commented on #1048
In https://stackoverflow.com/a/44042745/412834 it is suggested to comment index.js line 76 which should solve the issue. It appears that line 76 is the only place where reducedExecution.response is used(?).

[2017-06-08 15:41] kunagpal commented on #1048
@therahulprasad Can you share the `collection.json` and `env.json` files that cause this?

[2017-06-08 18:32] kunagpal commented on #875
@aarongundel Marking this issue as resolved 😄

[2017-06-08 18:32] #875 closed

[2017-06-08 19:05] DotNetRockStar opened #1059 "set exit code on failed tests."
Hi there.  I have been searching and searching for how to enable exit code > 0 when a test fails but i cannot get it to work to save my life.

**newman version:** 3.6.0
**command that runs tests:** newman run https://api.getpostman.com/collections/{myCollectionId}?apikey={myApiKey}

What do I need to add to this command to make the console return an exit code > 0 when execution of these tests fail

[2017-06-08 19:14] kunagpal commented on #1059
@DotNetRockStar A non zero exit code is returned by default for collection run failures. Could you share more details about the node version(`node -v`), and the operating system/environment where newman is being used? Also, could you check and share the exit code for `newman run ...` as follows:
For Windows:
[code]

Other operating systems:
[code]

[2017-06-08 19:45] DotNetRockStar commented on #1059
Something I forgot to leave out is that I am using Powershell to script execution of the tests inside of Octopus Deploy.

In command prompt:
when i did echo %errorlevel% the value is:
1

I am on Windows 10
I also need to run this on Windows 2012 R2

If the exit code is working in a batch file/command prompt then it should be working in powershell right?  The problem is that my powershell script is

[2017-06-08 20:56] DotNetRockStar opened #1060 "HTML Reporter exception"
I am getting a very weird error when I try to run tests and use the html reporter to spit out an html file for me.  Here is the command I am using (api key starred out for security purposes):
C:\Users\MY_USERNAME\AppData\Roaming\npm\newman run https://api.getpostman.com/collections/01bfe56f-9cdd-7b94-3b66-9f8f6cc82ddc?apikey=************ --reporters cli,html --reporter-silent --reporter-html-expor

[2017-06-08 21:14] Nasafato opened #1061 "(Feature Request) Error out for non-existent folders"
**Problem I'm facing**
If I run Newman with command line arguments (such as URLs) for the collections, environment, and folder I want to test, it won't tell me if it's actually found the resources at those URLs.

Instead, if the collection you specified does not exist, or you mispelled the name of the folder, Newman will run and exit with a non-error status code. It will simply display that no tes

[2017-06-08 21:17] Nasafato commented on #1061
Didn't realize someone also had an issue with collections #1055.

[2017-06-08 21:19] Nasafato commented on #1055
That would be awesome. Also, it would be nice if you included Folders in there, too. Since if you try to run `newman` on a folder that doesn't exist, it will also pass all the tests #1061.

[2017-06-09 07:22] therahulprasad commented on #1048
Can't 😞

[2017-06-09 07:29] rapidroamer commented on #1048
On Fri, 9 Jun 2017 at 5:22 pm Rahul Prasad <notifications@github.com> wrote:

My guess is it happenes only in node on windows and not on unix.

[2017-06-09 07:38] reinouts commented on #1048
@rapidroamer Negative, it happens on Linux as well.

[2017-06-09 07:40] czardoz commented on #1048
What node version are you guys on?

[2017-06-09 07:41] kunagpal commented on #1060
Duplicate of #1048

[2017-06-09 07:41] #1060 closed

[2017-06-09 07:48] reinouts commented on #1048
@czardoz Docker node:6-alpine comes with 6.11.0 according to the documentation.

[2017-06-09 07:57] therahulprasad commented on #1048
For me, It happened on Linux

[2017-06-09 08:10] kunagpal commented on #1059
Since you're using PowerShell, could you check the return code as follows:
[code]

[code]

[2017-06-09 09:18] #1054 closed

[2017-06-09 13:28] DotNetRockStar commented on #1060
Wait, so this is a duplicate of #1048 and it was resolved saying that I need to comment out a line of code from the actual source to fix this?  It is not clear to me what the solve was in #1048.

[2017-06-09 13:32] kunagpal commented on #1060
The issue has been fixed in #1062, I'll update this thread when a new version has been released.

[2017-06-09 13:34] czardoz commented on #1060
I just re-opened it. Github had auto-closed it because of the PR description, @DotNetRockStar :smile:

[2017-06-09 13:36] DotNetRockStar commented on #1059
Thanks @kunagpal.  The exit code is indeed that is returned is 1. Should I store this in a variable, test to see if it is greater than 0, then issue an actual exit of the script if it is > 0?  Or is the intention that newman should be performing the "exit 1"?

[2017-06-09 13:39] kunagpal commented on #1059
https://octopus.com/blog/powershell-exit-codes

[2017-06-09 13:40] czardoz commented on #1059
@DotNetRockStar Newman has no control over your shell script, so you will have to issue it manually.

If you want it to happen automagically, I guess you can refer to this: https://stackoverflow.com/questions/9948517/how-to-stop-a-powershell-script-on-the-first-error :)

[2017-06-09 13:41] DotNetRockStar commented on #1059
Okay, cool.  That is exactly what I was about to try.  I'll look for the exit code and handle it in the script appropriately.  Thanks!

[2017-06-09 15:36] #1059 closed

[2017-06-09 17:31] kunagpal commented on #1048
This issue has been fixed in Newman v3.6.1, do check it out 😄

[2017-06-09 17:31] #1048 closed

[2017-06-09 17:31] kunagpal commented on #904
This issue has been fixed in Newman v3.6.1, do check it out 😄

[2017-06-09 17:31] #904 closed

[2017-06-09 17:31] kunagpal commented on #1060
This issue has been fixed in Newman v3.6.1, do check it out 😄

[2017-06-09 17:31] kunagpal commented on #1054
This issue has been fixed in Newman v3.6.1, do check it out 😄

[2017-06-09 18:09] rajbhandaris opened #1064 "How can I fail Jenkins build if any assertions fail using newman run?"

[2017-06-09 18:25] kunagpal commented on #1064
By default Newman exits with a non-zero return code for failed runs. More information can be found here: https://github.com/postmanlabs/newman/issues/1020#issuecomment-301399504. Feel free to revert if you're facing issues 😄

[2017-06-09 18:45] rajbhandaris commented on #1064
information here http://blog.getpostman.com/2015/09/03/how-to-write-powerful-automated-api-tests-with-postman-newman-and-jenkins/ ONLY works for newman but not for newman run
I am using newman version 3.5.2
Sample newman run command: newman run test.postman_collection.json -e test.postman_environment.json

[2017-06-09 18:49] kunagpal commented on #1064
Yes, as this post was written for a version of Newman that is now deprecated. You can check out https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md to bridge the gap, so to speak.

[2017-06-09 19:24] rajbhandaris commented on #1064
can you give me a working example?

[2017-06-09 20:57] correajd opened #1065 "New modules and settings to make newman more flexible for both manual and automated runs"
Details
-->
 1. Newman Version 3.5.2
 2. OS details Mac OS Sierra and Jenkins running Debian
 3. Newman Library
 3. Not a bug
 4. Desired not expected
 5. N/A
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

Hello, my team is starting to use newman for automated api testing. We are excited about the opportunity to use this for our develop

[2017-06-12 18:36] abhishek-kandala opened #1068 "Facing Issue while generating Newman report Through Jenkins Pipeline"
Hello,
I am trying to generate Newman Report through Jenkins Pipeline. I have added my postman collection in my bitbucket repository and add the location in jenkinsfile.yaml "newmanScriptDir: test". I have even added "mail" parameter to whom I need to send the HTML reports. My scenario is after the API is deployed to an environment it should run my collection and generate the Newman report and sen

[2017-06-12 20:41] mayukataoka opened #1069 "CSS styles missing in HTML report when opened from Jenkins UI dashboard"
newman 3.6.1.

The CSS styles are missing in the HTML test report when it is opened from the Jenkins UI dashboard.  Without using the Jenkins UI, if I directly open the html report.  The CSS styles work.

[2017-06-13 11:02] czardoz commented on #1069
It's probably your servers content security policy that is now allowing the styles to show up. Unfortunately, there's nothing we can do in this case.

[2017-06-13 11:04] czardoz commented on #1068
@abhishek-kandala Your best bet is to enable the CLI reporter using `--reporters html,cli` and debugging the error from there. I suspect it has nothing to do with Newman, and are probably actual errors caught by Newman.

If you think it's a Newman bug, feel free to re-open this issue :)

[2017-06-13 11:04] #1068 closed

[2017-06-13 11:08] czardoz commented on #1064
@rajbhandaris Newman will by default exit with a non-zero status code. I am not all that familiar with Jenkins, so I cannot give you a working example, but there are a number of Jenkins users on our Postman Community Slack. Feel free to join up [here](https://www.getpostman.com/slack-invite), and I am sure someone will be able to help you out :)

[2017-06-13 11:08] #1064 closed

[2017-06-13 14:07] tariqghalib opened #1070 "Ability to generate HTML reports similar to the test reports generated form postman runner"
1. Newman Version (can be found via `newman -v`): v3.5.2
 2. OS details (type, version, and architecture): Windows 7 Professional
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: with V3+
 4. Expected behaviour: Should have ability to generate HTML report that mimics how we see reports from postman runner
 5. Command

[2017-06-13 14:33] rajbhandaris commented on #1064
I have joined the Postman Community Slack channel and posted my question. I don't know who will respond to my question when. Please do not close this issue until it is resolved. Thanks!

[2017-06-13 14:58] mrjaiswar opened #1071 "Not able to execute Postman collection when base URL is passed from Env Variable"
Newman version - 3.1.1
windows 7 64 bit
Nodejs v5*

Same works when I execute from Postman when throws error when executed via Newman
Command line - newman run https://www.getpostman.com/collections/3b56786e1884f1f74e62

Error -
Test Newman

→ Authenticate
  POST {{url}}/api/user/authenticate [errored]
  2? ReferenceError in test-script

┌─────────────────────────┬──────────┬──────────┐
│

[2017-06-13 15:01] czardoz commented on #1071
@mrjaiswar Check the readme for an example of how to provide an environment to Newman (it's the `--environment` option).

[2017-06-13 15:01] #1071 closed

[2017-06-14 03:39] jltoo commented on #778
@nitinEd I also replicated the issue you've mentioned here. How did you fixed it? I didn't get how to setup the PATH.. A step for fixing this would really help. Thanks in advance.

[2017-06-14 03:46] jltoo commented on #778
Nevermind. I figured it out now.

1. Go to Jenkins > Configure Jenkins > Search for Environmental Variables
2. Add the env PATH /usr/local/bin:$PATH newman -v

[2017-06-14 09:39] cedricherve opened #1072 "Newman run DELETE request fails - ESOCKETTIMEDOUT"
1. Newman Version (can be found via `newman -v`): v3.3.0
 2. OS details (type, version, and architecture): Windows
 3. Using newman as a library of NodeJs 6.1.0
 4. Bug always occured

Steps to reproduce the problem:

1. I use postman to execute my API automated tests
2. I export my collection containing about 4-6 requests (GET, POST, PUT, DELETE)
3. I run newman with the followings command line

[2017-06-14 10:58] czardoz commented on #1064
@rajbhandaris Feel free to comment here if you're having issues with Newman, and I will re-open this issue :)

For help with Jenkins, I won't be able to help much unfortunately, but the Jenkins docs should help: https://jenkins.io/doc/pipeline/tour/running-multiple-steps/

[2017-06-14 11:42] sophiejacquin opened #1073 "using newman to run file-post request, the file path being defined in data file (option -d)"
Newman Version (can be found via newman -v): 3.5.2
    OS details (type, version, and architecture): ubuntu 16,04 64 bits
    Are you using Newman as a library, or via the CLI? CLI
    Did you encounter this recently, or has this bug always been there: always
    Expected behaviour:

I want to send a post-file request from newman, I follow what is explained [here](https://www.getpostman.com/docs/p

[2017-06-14 20:10] pradeepkusingh opened #1075 "Send notification with test result to different channels(feature request)"
1. Newman Version (can be found via `newman -v`): : NA
 2. OS details (type, version, and architecture): Linux
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: NA
 4. Expected behaviour: Send notification to different channel like emails, Slack
 5. Command / script used to run Newman: NA
 6. Sample collection, and au

[2017-06-15 05:16] jltoo opened #1078 "PUT Request not working"
I'm trying to do a PUT Request via terminal using newman but instead it just do a GET request. This is working using POSTMAN and when I run it using newman this part just fails.

Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`): 3.6.1
 2. OS details (type, version, and architecture): MACOS Sierra 10.12.1
 3. Are you using Newman as a library, or via the CL

[2017-06-15 05:18] czardoz commented on #1078
Check your redirection settings. You can turn auto-redirect off in Newman using a command line flag :)

[2017-06-15 05:44] jltoo commented on #1078
@czardoz I got it working now. It's with the URL I've used. I removed the "/" before the parameters and now it works. I'm not sure why this is running PASSED with POSTMAN . Thanks anyway.

[2017-06-15 05:44] #1078 closed

[2017-06-15 06:06] kunagpal commented on #1075
@pradeepkusingh This can be done by adding a request to your collection, which points to a preconfigured Slack web hook url. Slack web hook urls are documented here: https://api.slack.com/incoming-webhooks

[2017-06-15 06:06] #1075 closed

[2017-06-15 12:52] pradeepkusingh commented on #1075
How can I capture the result to send on notification ?

Thanks,
Pradeep Singh
Please excuse typos.

On Thu, Jun 15, 2017 at 12:06 AM, Kunal Nagpal <notifications@github.com>
wrote:

[2017-06-16 08:04] kunagpal commented on #1037
@deyhle A fix for this bug has been added in #1080, and will be rolled out with the next Newman release. We'll update this thread accordingly 😄

Thanks for reporting this!

[2017-06-16 09:41] kunagpal commented on #923
@jbnok Unfortunately, this is beyond the scope of the built in Newman reporters. However, you're more than welcome to create your very own custom reporter for the same. For more details, check out https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#custom-reporters.

[2017-06-16 09:41] #923 closed

[2017-06-16 09:41] kunagpal commented on #873
@chaitanyasivalanka Unfortunately, this is beyond the scope of the built in Newman reporters. However, you're more than welcome to create your very own custom reporter for the same. For more details, check out https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#custom-reporters.

[2017-06-16 09:41] #873 closed

[2017-06-16 09:41] kunagpal commented on #712
@vitoo Unfortunately, showing request data in the generated report(s) is beyond the scope of the built in Newman reporters. However, you're more than welcome to create your very own custom reporter for the same. For more details, check out https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#custom-reporters.

[2017-06-16 09:41] #712 closed

[2017-06-16 10:29] Grepsy commented on #963
Haha, that's hilarious. I wasn't sure it was a reference :-)

[2017-06-18 15:37] #1069 closed

[2017-06-19 06:17] kunagpal commented on #1073
@sophiejacquin Could you share the collection and data file that causes this issue? Also, for the sake of completeness, please mention your Node version as well. 😄

[2017-06-19 09:05] czardoz commented on #1072
@cedricherve A socket timeout means that Newman could not connect to your server. Do you use a firewall or a proxy? Those sometimes block DELETE requests.

[2017-06-19 09:42] kunagpal commented on #1037
@deyhle This bug has been fixed in Newman v3.7.0. Do go ahead and check it out!

[2017-06-19 13:17] cedricherve commented on #1072
In fact i'm a local environment

I can see trace and logs on my API server side : deletion is well done, ie newman is able to access to the server.

Just remains this issue with newman and esockettimeout.

Is there a way to see verbose logs with newman?

[2017-06-19 13:28] czardoz commented on #1072
Yes, can you set an environment variable "NODE_DEBUG" to the value "http" and run Newman? It would help us debug. Remember to scrub out any sensitive information, endpoints, auth data etc.

[2017-06-19 22:20] pphelan69 commented on #153
Postman was checking all the boxes for rest api automation and then I hit this issue (i.e. not allowing to import custom js) this would be such a useful feature and in my opinion complete Postman.

[2017-06-20 14:40] DominicGunn opened #1085 "Authorization Issues - 3.7.0"
1. Newman Version (can be found via `newman -v`): 3.7.0
 2. OS details (type, version, and architecture): Mac Sierra 10.12.5
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there: Bug occurs in 3.7.0+, does not occur in 3.6.1.
 4. Expected behaviour: Enviromental variables should be injected into newman.
 5. Command /

[2017-06-20 14:43] czardoz commented on #1085
@DominicGunn What do you mean by "injected"? Are your variables not getting resolved? Or are they not available in the script sandbox?

[2017-06-20 14:48] DominicGunn commented on #1085
Sorry, I mean it's as if they were not being passed in through options at all, they're not available and do not resolve to anything. The behaviour is new to 3.7.X releases.

[2017-06-20 19:41] mccannt commented on #647
Just finding this thread now and I also agree that support for this would be huge as I am facing similar issues where making a code change does not make sense for something that could change on every run. @shamasis Can we have this reopened and added as a feature request?

[2017-06-20 20:57] shamasis commented on #647
Yes. I think I am tracking this in another issue. I think we've found a way for this - by introducing a new feature to pass in data and get result via stdin and stdout respectively. It's hypothetical still. Either that or command line arguments to override globals.

PRs welcome for the latter too.

[2017-06-20 23:29] mccannt commented on #647
Awesome. Thanks. I didn't see it on Trello so I wanted to put my 2 cents in on this.

[2017-06-21 09:12] kunagpal commented on #1085
@DominicGunn I'm unable to reproduce this issue with Newman `v3.7.0` and Node v`4.x`/`6.x`. Could you also mention your Node version and a failing example? Please include the complete collection and environment file.

[2017-06-21 11:39] DominicGunn commented on #1085
Did something change with postman collections, perhaps this isn't an environmental issue? I'm using node version v7.10.0.

Our app.js runs the following code in both `3.6.1` and `3.7.0`.

[code]

Perhaps this should be made into a separate issue, here's the [postman collection](https://gist.github.com/DominicGunn/a436cb0f7bdbba37c80359c8c2438e63) and the [environmental vars](https://gist.github.co

[2017-06-21 11:50] kunagpal commented on #1085
@DominicGunn It looks like the both links point to the same Gist.

[2017-06-21 12:18] DominicGunn commented on #1085
Sorry, here's the [collection](https://gist.github.com/DominicGunn/25b4d2d7616dfb94ebe9c9df232e6697)

[2017-06-21 12:34] kunagpal commented on #1085
@DominicGunn I ran the collection with the environment provided (with added logs to check the environment and request body being sent). This is what came up in the logs:
[code]

If your issue was related to the variable not being resolved in the request name itself, (`→ POST {{host}}/v1/users`), that is not currently supported.

[2017-06-21 12:51] DominicGunn commented on #1085
Is that something that is no longer supported as of 3.7.x? My confusion here stems from the fact the suite runs without failure in 3.6.1, and does fail with 3.7.x.

[2017-06-21 13:03] kunagpal commented on #1085
@DominicGunn That's weird, as sending any requests to https://api.example.com results in host resolution errors, meaning that the host probably doesn't exist anymore. I am seeing collection run failures with both Newman v3.7.0, as well as Newman v3.6.1. Could you try using https://postman-echo.com instead of https://api.example.com and see if that works for you?

[2017-06-21 15:43] DominicGunn commented on #1085
Sorry, you're right. Those collections point to non-existent endpoints. I'm not sure I could share our actual test suites.

We've been doing some digging, and it looks like under 3.7.x, requests are being rejected because of an authorization issue.

[code]

This issue doesn't occur under 3.6.1, and no code has changed on our service end, or in any of the tests. The only changing factor is the vers

[2017-06-21 20:50] encharaananthamurthy opened #1087 "Getting error while running collections from Jenkins"
1. Newman Version (can be found via `newman -v`): 3.7.0
 2. OS details (type, version, and architecture): Linux fe-webCOSbuild 2.6.32-642.el6.x86_64
CentOS release 6.8 (Final)
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: newman collections should work on jenkins without hitting th

[2017-06-21 21:13] DominicGunn commented on #1087
This looks like the authentication issue under investigation [here. (1085)](https://github.com/postmanlabs/newman/issues/1085)

[2017-06-22 04:12] aksbenz commented on #1037
We are using the {{response.body}} in a custom html template. Which doesn't work anymore.
And you cant put function calls in handlebar templates, so cant do response.text() or response.json().
Any suggestion on how we can put the json body in custom template ?

[2017-06-22 07:58] sophiejacquin commented on #1073
@kunagpal My node version is v6.10.3.
For example these are problematic files ( I just change the extension as json format is not accepted):
[data.json.txt](https://github.com/postmanlabs/newman/files/1094011/data.json.txt)

[database_init.postman_collection.json.txt](https://github.com/postmanlabs/newman/files/1094004/database_init.postman_collection.json.txt)

My problem is that when i run the c

[2017-06-22 08:49] deyhle commented on #1037
In v3.7.0 at least `response.text()` and `response.json()` work.
However, as @aksbenz noted, `response.body` is still undefined which can lead to problems.
Would be great to just add a `response.body = response.text()` somewhere to fix backwards compatibility.
Right now, it is definitely a breaking change, which violates Semantic Versioning.

[2017-06-22 10:47] reinouts commented on #1085
We are also being affected by this issue. Authentication errors in tests suites with 3.7.0 which are running perfectly fine in 3.6.1.

[2017-06-22 10:52] czardoz commented on #1087
This is not the authentication issue, @DominicGunn (it's a SyntaxError, and there's no auth information in the OP's collection)/

@encharaananthamurthy Seems that you are using an old version of Node, which does not support arrow functions, maybe try updating to a newer version?

[2017-06-22 12:23] reinouts commented on #642
Why are all these command line options marked as DEPRECATED, and what is their suggested replacement?

[2017-06-22 12:28] kunagpal commented on #642
@reinouts See https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md

[2017-06-22 16:22] rzizza opened #1088 "Newman JSON reporter saves Response Body as String, not JSON format"
1. Newman Version: 3.5.2
 2. OS details : Windows 7
 3. I am calling Newman from Powershell
 3. This behavior has existed since I've used Newman
 4. Expected behavior: The Response Body saved in the JSON output file should be in JSON format, not a string, so it can be accessed (from Powershell, etc.)
 5. Command / script used to run Newman: Powershell

Steps to reproduce the problem:

1. I ran my

[2017-06-22 18:40] encharaananthamurthy commented on #1087
@czardoz I am in the node version v7.6.0
 I will upgrade and let you know.
Thanks for the response

[2017-06-23 03:05] Scottsuen opened #1089 "Newman run stop after 1st folder finished running within collection"

[2017-06-23 03:43] anantnaugai commented on #1085
Newman 3.7.1 doesn't pass environment variables to the Authorization fields:
![image](https://user-images.githubusercontent.com/21303028/27465903-e833366c-5819-11e7-854f-d6f91448dbe0.png)
 Works perfectly fine on Postman App and Postman Runner. I had to degrade newman version to 3.5.2.

[2017-06-23 04:57] Scottsuen commented on #1089
Please close this issue
Sorry, my mistake.

[2017-06-23 07:34] #1089 closed

[2017-06-23 08:13] czardoz commented on #1085
This is being fixed here: https://github.com/postmanlabs/postman-runtime/pull/291

We'll release the bugfix ASAP :)

[2017-06-23 09:21] sisillV opened #1090 "Can not run other command in bat file after newman command"
Hi Newman team,
I try to run a bat file that first change my database then run postman test and then clear the data base.
I I do steps manually in the console everything is ok.
But when i put them in bat file, the command after newman command don't start at all and the cmd is closed.

Can you give me some advice?

bat file :
[code]

After "newman run XXXXXX.postman_collection.json -g globals.postm

[2017-06-23 11:56] czardoz commented on #1085
Released in v3.7.2

[2017-06-23 11:56] #1085 closed

[2017-06-26 04:21] aksbenz commented on #1037
As an improvement (also a workaround) can we have the [handlebars-helpers](https://github.com/helpers/handlebars-helpers) library included as part of newman html reporter. This will give access to a lot more helpers in creating custom templates.

[2017-06-26 09:18] cedricherve commented on #1072
Before launching the newman command line, I set
'set NODE_DEBUG=http'

FI, I'm on a windows environment.

But it changes nothing on my terminal, none additional logs.

Anyway, I found in xml report result the following error

[code]

Just confirm that it's a esockettimeout

`  self.req.on('socket', function(socket) {
    var setReqTimeout = function() {
      // This timeout sets the amount of tim

[2017-06-26 09:42] czardoz commented on #1072
@cedricherve I _think_ your server might be setting a content-length / content-type header, which can be confusing for Node.

I cannot say for sure without debug logs though. Can you try setting the `NODE_DEBUG` variable to `http,https,net`?

[2017-06-27 08:01] czardoz commented on #193
This is fixed with the `pm.request` object. More details here: https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

[2017-06-27 08:01] #193 closed

[2017-06-27 17:45] encharaananthamurthy commented on #1087
@czardoz I have updated the Node and now I am able to run the script.
Thanks so much for the help!

[2017-06-27 17:45] #1087 closed

[2017-06-28 13:00] chinna205 commented on #525
Hey kunagpal,
I have been really trying hard to do a file upload using the newman collection,and i tried the above code that you had given for a try and when I execute the collection from newman,I got the following ...can you please look in to it,(It seems the file is not getting uploaded based on the total data received )

G:\>newman run 1.json -e 2.json
newman

file-uploads

→ Form data file upl

[2017-06-28 13:34] kunagpal commented on #1037
@deyhle @aksbenz Fixed in #1098

[2017-06-29 04:30] aksbenz commented on #1037
Raised pull request https://github.com/postmanlabs/newman/pull/1099 with an update to fix.

[2017-06-29 10:02] kunagpal commented on #1037
@aksbenz Fixed in Newman v3.7.4

[2017-06-29 10:02] #1037 closed

[2017-06-30 10:03] kunagpal commented on #692
@shmup @bsingh727 Does this issue persist for you with Newman v3.7.4?

[2017-07-03 06:58] biplabpramanik007 opened #1100 "Test script passes in Postman but fails in Newman with Numbers in double quotes"
newman -3.7.4
-->OS: Windows 10
--> CLI
-->Expected Behaviour: The test should pass in newman with numbers in double quotes. Numbers without quotes in response are working but when numbers are coming in double quotes its not working.

Test Scripts:
var jsonData = JSON.parse(responseBody);
tests["Last4Digit of Car Passed"] = jsonData.vehicles[0].last4VinDigits===data.last;
console.log(responseBody)

[2017-07-03 07:36] kunagpal commented on #692
Closing due to inactivity. Feel free to revert here if you're facing issues 😄

[2017-07-03 07:36] #692 closed

[2017-07-03 12:55] shankyty opened #1102 "Error: this is not a typed array"
[This change is introduced in version 6](https://github.com/postmanlabs/newman/commit/f86a9efb92ef92dcb058fe93995861452f25c1d5)

Please refer [this](https://nodejs.org/api/buffer.html#buffer_buffer)

Hence need to upgrade node version in package.json

[2017-07-03 13:09] shankyty commented on #1102
Issue in java
TypeError: this is not a typed array.
    at Function.from (native)
    at /home/shashankt/repo/regression/node_modules/newman/lib/reporters/html/index.js:79:65
    at /home/shashankt/repo/regression/node_modules/newman/node_modules/lodash/lodash.js:13767:16
    at arrayEach (/home/shashankt/repo/regression/node_modules/newman/node_modules/lodash/lodash.js:537:11)
    at Function.tra

[2017-07-03 13:10] shankyty commented on #1102
https://github.com/postmanlabs/newman/pull/1103

[2017-07-03 13:31] kunagpal commented on #1102
@shankyty Thanks for reporting this. Could you also mention the exact Node version?

[2017-07-03 14:51] krogold opened #1104 "Customize failure reporting in postman/newman JUnit reports"
1. Newman Version (can be found via `newman -v`):
newman v3.7.4
 2. OS details (type, version, and architecture):
windows ten
 3. Are you using Newman as a library, or via the CLI?
use newman in command lines, though this issue concerns reporting for both Postman an Newman

Hello,
I'm using postman/newman to implement automated tests and I export results in JUnit format, so I can exploit them unde

[2017-07-04 08:13] kunagpal commented on #1102
@shankyty A fix for this bug has been added in #1105, and will be rolled out with the next Newman release.

[2017-07-04 09:16] krogold commented on #1104
In my current investigation, I found out that this data is set in newman/lib/reporters/junit/index.js at line 110. Unfortunately I don't know about javascript and I'm trying to find more information about the "failures" class, which are its attributes and so on. I would be grateful if you could post a link where to get this kind of information.
Will it be possible to set "response" data at this po

[2017-07-04 10:00] krogold commented on #1104
Actually I'd like to display the informations that I get in postman console when I display responseCode (ie. code, detail, name or standard name) or  the informations that I get when I display JSON.parse(responseBody), ie. status, description, hint, exception.message.

[2017-07-04 10:02] krogold commented on #1104
Besides, I'm trying to extend 'teamcity' reporter to see what I can get in the console reporting but I encounter the same problem as for junit reporting : I can't figure out 'response' object arguments.

[2017-07-04 12:42] krogold commented on #1104
I managed to improve teamcity reporter's output, but I realized that, in fact, I don't need it and I can output relevant information directly through the console.

[2017-07-04 14:49] krogold commented on #1104
Well, finally I found out how to proceed (not a clean way but sufficient for my purpose, so far):

I impact C:\Users\<myself>\AppData\Roaming\npm\node_modules\newman\lib\reporters\junit\index.js

Request's data and response can be recovered from 'executions' object:
`stringExecutions = JSON.stringify(executions);` provide information about the arguments of the object "executions" and from this I c

[2017-07-04 14:49] #1104 closed

[2017-07-04 15:09] krogold opened #1106 "How can I add custom snippets to postman for other users"
1. Newman Version (can be found via `newman -v`):
Postman v5.0.2
 2. OS details (type, version, and architecture):
Windows 10

Hello,
I'm currently using postman to automate some tests and everything I'm doing is a preparatory work for other people. They may not be developpers at all and may have difficulties to handle javascript testing.
I would like to know if it is possible for me to write code

[2017-07-04 23:38] biplabpramanik007 commented on #1100
Body Response: Where ever numbers are coming with double quotes are failing.
{
    "vehicles": [
        {
            "vehicleID": "66027145",
            "vehicleModel": {
                "manufacturer": {
                    "code": "FORD",
                    "description": "FORD"
                },
                "manufactureYear": 1987,
                "manufactureMonth": 1,

[2017-07-05 05:54] malaubay opened #1107 "newman 3.7.4 failed with "TypeError: this is not a typed array". on "reducedExecution.response.body""
reducedExecution.response.body = Buffer.from(reducedExecution.response.stream).toString();
Newman execution failed with "TypeError: this is not a typed array".

[2017-07-05 07:51] kunagpal commented on #1107
Duplicate of #1102

[2017-07-05 07:51] #1107 closed

[2017-07-05 07:53] kharod opened #1109 "Duplicate Tests results displayed in the HTML report, when using workflow to iterate through same request n times"
Hey Guys,

Scenario and Request Setup:
I have written my postman request in a way that each request is running 4 times with different test scenarios. Using the workflow of the requests.

Request1 : Post
it has      Test1
               Test2
               Test3
               Test4
               Test5 in it
         at the end it calls itself to run with different set of data values (this happen

[2017-07-05 09:43] stephan-nordnes-eriksen commented on #788
I am having the same issue. I have tried what you suggested @kunagpal, but it did not appear to work.

[2017-07-05 09:46] stephan-nordnes-eriksen commented on #788
I got this to work by the way:

[code]

I got the content-length of the file with the following command in osx-terminal: `stat -f%z 640.jpeg`

[2017-07-06 02:30] kharod opened #1112 "TeamCity keep logging this exception "Incorrect property name." in logs"
In my TeamCity Build logs, I see the following:

##teamcity[testStarted name='xxxxTest Namexxxx' captureStandardOutput='true']
[11:41:22]
Incorrect property name.
Valid property list format is (name( )*=( )*'escaped_value'( )*)* where escape symbol is "|"

[2017-07-06 06:19] abhshekkec322 commented on #224
Any update on this issue?  I am also facing similar problem.

[2017-07-06 07:45] kunagpal commented on #1106
@krogold Are you referring to the ability to add custom scripts? If so, please see https://github.com/postmanlabs/postman-app-support/issues/675.

[2017-07-06 07:47] kunagpal commented on #1112
@kharod The newman teamcity reporter is a custom reporter, please file this issue at https://github.com/leafle/newman-reporter-teamcity/issues/new

[2017-07-06 07:47] #1112 closed

[2017-07-06 07:51] kunagpal commented on #1070
Are you referring to the following report?

![](http://blog.getpostman.com/wp-content/uploads/2016/11/1.png)

[2017-07-06 07:54] krogold commented on #1106
Exactly. If found this feature very useful as, when I started using postman, I was a total beginner in javascript. As some of my teammates are not even developpers, I would be happy to provide them with snippets that they would just assemble together, like a puzzle, after functional features only so they would just have to do minor customization. It would be awesome to have it directly in postman

[2017-07-06 09:10] kunagpal commented on #1090
@sisillV To ensure continuity across batch file commands, you'll have to prepend `call` to any custom commands, like so:
[code]

[2017-07-06 09:10] #1090 closed

[2017-07-06 09:51] kiranwilson opened #1113 "Download response file using Newman"
We can use "send and download" option in Postman to download a response file. Do we have any option or command to download a file(eg excel) using Newman command in newman's current working directory?

[2017-07-06 09:55] kunagpal commented on #782
Closing as a duplicate of #413

[2017-07-06 09:55] #782 closed

[2017-07-06 09:57] kunagpal commented on #1113
Duplicate of #413

[2017-07-06 09:57] #1113 closed

[2017-07-06 10:01] kiranwilson commented on #413
Do we have any update regarding this feature?

[2017-07-06 10:03] kunagpal commented on #413
@kiranwilson This isn't in the works presently, but we'll update this thread when any progress is made.

[2017-07-06 10:10] kiranwilson commented on #413
@kunagpal Thanks for the response

[2017-07-06 10:48] Pikachung opened #1114 "Newman doesn't ignore the parameter of which unchecked in postman"
1. Newman Version (can be found via `newman -v`): 3.7.0
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Not sure if it's a bug
 4. Expected behaviour: Newman should ignore the parameters i unchecked in postman
 5. Command / script used to run Newman: newma

[2017-07-06 12:13] nadagamal commented on #373
Dear Guys,

I have the same issue. Did anyone solve it.

Thank you

[2017-07-06 12:27] kunagpal commented on #1114
@Pikachung Could you share the collection (without the sensitive details)?

[2017-07-06 12:41] kunagpal commented on #1114
@Pikachung Could you share the following details:
* The version of the Postman app you're using.
* The collection file that causes this.

[2017-07-06 13:07] sisillV commented on #1090
Thank you! It is working like this.

[2017-07-06 13:47] kunagpal commented on #1109
@kharod Could you also share:
* The command / script used to run the collection
* The collection that causes this.
* The generated HTML report.
* The Newman and Node versions.

[2017-07-06 13:59] kunagpal commented on #1073
As a temporary workaround, could you see if the following collection works for you?
[code]

[2017-07-06 14:11] kunagpal commented on #1088
@rzizza The ConvertFrom utility requires parsing depth to be specified as `-Depth`, notice the capitalized `D`. Feel free to reopen this issue if you're experiencing difficulties. 😄

[2017-07-06 14:20] kunagpal commented on #1072
@cedricherve Does this issue still persist for you?

[2017-07-06 14:29] kunagpal commented on #153
@wkuckro moment-js is available in Neman v3.7.0 and above, you can use it in your test scripts as follows:
[code]

[2017-07-06 14:51] cedricherve commented on #1072
At the moment no, I using a framework API which by default set content-length / content-type to output response.
Just like czardoz said: I think that should be the key element to workaround this behaviour from newman.

Anyway I think I won't use newman at the end to automate full tests : on my portal, and with postman it works, I am not going to change source code just to make the automated test w

[2017-07-06 15:42] kunagpal commented on #1061
@Nasafato The fix for this bug is distinct from #1055, and will be dealt with accordingly. Thanks for letting us know! 😄

[2017-07-06 15:43] kunagpal commented on #1055
@etaty A fix for this bug has been added in #1115

[2017-07-06 16:16] rzizza commented on #1088
Thanks @kunagpal, but this does not solve the issue.

First of all, I assume you mean ConvertTo, not ConvertFrom, since ConvertFrom does not have a -Depth parameter. The issue is that the _original_ JSON saved from the Postman/Newman results is not saving the Response Body as JSON.

To elaborate, after my Newman execution, the JSON report file from Postman is saved such that the response body look

[2017-07-06 16:32] kunagpal commented on #1088
In that case, a workaround would be to use Newman programmatically, like so:
[code]

With the above code in a file (script.js, say), you could run your collection like so:
[code]
Within the forEach block in the above snippet, you could process the JSON response bodies in any desired way.

[2017-07-06 21:26] jnarwold opened #1116 "Powershell can't seem to properly handle the output from newman reporters"
Version and environment information:
-->
 1. Newman Version: 3.7.0
 2. OS details: Windows 10
 3. I'm running Newman via bash script & powershell script
 4. Did you encounter this recently, or has this bug always been there: Recently. New code, new issue.
 5. Expected behaviour: Same output for both powershell & cmd
 6. Command / script used to run Newman:

[code]

[code]

For both paths, my tests

[2017-07-07 03:49] Pikachung commented on #1114
@kunagpal Thank you for your response, here's the details

- The version of the Postman app you're using :

- The collection file that causes this.
I take google map api for example
`{
	"variables": [],
	"info": {
		"name": "GoogleMapAPI",
		"_postman_id": "ad0822d2-8eb5-1e90-5953-fa0be521a302",
		"description": "",
		"schema": "https://schema.getpostman.com/json/collection/v2.0.0/collection.json"

[2017-07-07 05:46] shamasis commented on #1116
Turn off coloured output. `--no-color` or something similar.

[2017-07-07 06:18] kunagpal commented on #1114
@Pikachung Thanks for the information, we'll update this thread when any progress is made.

[2017-07-07 06:33] kunagpal commented on #1052
@maxherson If this issue persists for you with the latest versions of the app (5.0.2) and Newman (3.7.4), would you also mind sharing collections with both: Save params to header turned on, as well as off? Feel free to exclude sensitive details.

@gornialberto Your issue is distinct from this one, please open up a new issue here: https://github.com/postmanlabs/postman-app-support/issues/new if it

[2017-07-07 06:40] kunagpal commented on #1024
@Saturnyn Since `ignoreRedirects` is false by default, a difference in behaviour for missing `ignoreRedirects` versus `ignoreRedirects: false` would be a bug. Could you run your collection as follows and verify that the right sequence of requests is being sent across?
[code]

PS: The latest version of Newman is `v3.7.4`, so you'd want to test with that instead of `v3.5.2`.

[2017-07-07 06:45] kunagpal commented on #1106
Related to #734

[2017-07-07 06:48] kunagpal commented on #1088
Additionally, you'll also have to change `$collection`, etc in the provided sample, to `$env:collection`, so that newman can pick up those values correctly from the environment.

[2017-07-07 11:01] #1102 closed

[2017-07-07 12:33] kunagpal commented on #1116
@jnarwold Could you also add `--disable-unicode` to your `newman run ...` command and see if that helps?

[2017-07-07 13:32] rzizza commented on #1088
Thank you, this looks like it might work for me. I will let you know when I get around to implementing it!

[2017-07-07 13:34] kunagpal commented on #1088
@rzizza Glad to hear that. I'm closing this issue for now, but feel free to get back 😄

[2017-07-07 13:34] #1088 closed

[2017-07-07 15:33] jnarwold commented on #1116
Good call @kunagpal - looking quite a bit closer to what I was expecting:

![image](https://user-images.githubusercontent.com/1001669/27964945-a7d10ffe-62ff-11e7-8bbe-ac23a5413229.png)

[2017-07-07 19:52] Paramagnetic commented on #935
I wrote a reporter that basically just cuts out a bunch of stuff. It cut what was a 92.5 MB report  (in the standard JSON reporter) down to 315 KB, while keeping what I consider the important data. This doesn't use a streamer, still JSON.stringify, but I haven't run into the Invalid String Length issue since switching to it. Hopefully this is useful to other people as well: https://www.npmjs.com/p

[2017-07-10 04:57] kunagpal commented on #1055
@etaty This bug has been fixed in Neman v3.7.5

[2017-07-10 04:57] #1055 closed

[2017-07-10 14:19] earth2016 commented on #153
Hi, Is it going to be possible to add this feature? I think is good to use own libraries to not repeat too much yourself.

[2017-07-10 15:15] cbarrerah-sogeti commented on #470
I seem to be having an issue related to this, i get the following error:
  #  failure           detail

 1.  TypeError         handler._sign is not a function
                       at request
                       inside "PF_073_002_Send a Message to the Created queue / SendMessages to queue"

When running the collection in newman , but works flawlessly in Postman.

Any hints?

[2017-07-10 16:17] kunagpal commented on #470
@cbarrerah-sogeti This has been fixed in #1111, and will be rolled out with the next Newman release.

[2017-07-11 03:31] Pikachung commented on #1114
Hi @kunagpal,

Today i also found that Postman Collection Runner also has the same issue.

[2017-07-11 04:20] kharod commented on #1109
Hi @kunagpal,

Command Used:
`newman run C:\Test\Test.postman_collection.json -e C:\Test\Dev.postman_environment.json --reporters cli,teamcity,html --reporter-html-template C:\Test\Custom_template.hbs --reporter-html-export C:\Test\tests-report.html`

Collection:
[Test.postman_collection.zip](https://github.com/postmanlabs/newman/files/1137706/Test.postman_collection.zip)

HTML Report:
[tests-repo

[2017-07-11 04:21] kharod commented on #1112
Thanks @kunagpal

[2017-07-11 06:04] cbarrerah-sogeti commented on #470
Ok, thanks. :)

[2017-07-11 12:53] shamasis commented on #724
This has been addressed using the new `pm.test` https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference

A test that looks like the following on URL that returns non 400 status, yields an output as appended:

[code]

[code]

[2017-07-11 12:53] #724 closed

[2017-07-12 19:21] gauravshetti opened #1126 "Import Folder doesn't work from v5"
From v5 onwards, importing folders containing collections, enviornment and global variables doesn't seem to work anymore.

[2017-07-12 20:17] kunagpal commented on #1126
@gauravshetti Thanks for reporting this. However, this issue tracker is exclusively for Newman issues. I've opened up a dedicated issue, you can track it here: https://github.com/postmanlabs/postman-app-support/issues/3267

[2017-07-12 20:17] #1126 closed

[2017-07-14 10:59] bijoej commented on #626
Happens for me as well trying to run the test from Newman.
The test runs fine from Postman, but fails from Newman saying "ReferenceError describe is not defined".
But I have got all latest version updated in my machine.
Any solutions?

[2017-07-14 11:03] kunagpal commented on #626
@rodrigogs @bijoej Could you create separate issues for this? We'll take a look.

[2017-07-14 11:06] bijoej commented on #626
sure kunal

[2017-07-14 11:13] bijoej opened #1128 ""ReferenceError" describe is not defined from Newman"
Hi,

 I was using Postman with plenty of tests in collection and it runs fine from Postman.
 I had installed Newman and all the tests runs fine from command line using Newman.
 Also integrated to Jenkins and works so good.

 But recently came to know about PostmanBDD and tried making the tests using BDD style Java Script coding following the link: https://www.npmjs.com/package/postman-bdd. It runs

[2017-07-14 20:22] BigstickCarpet commented on #1128
Hi, @bijoej.  I'm the author of PostmanBDD, and I'd be glad to help you with this problem.  I test Postman BDD in the Postman app and in the Newman CLI on my Mac. I also test it using Newman on [Linux](https://travis-ci.org/BigstickCarpet/postman-bdd/jobs/241760921#L1509) and [Windows](https://ci.appveyor.com/project/BigstickCarpet/postman-bdd/build/1.0.36/job/ressrhn1m4edcalb#L1612), but perhaps

[2017-07-17 03:54] keithmork opened #1130 "Can environment variables be passed in command line?"
Our build system use different ports every time when deploying services, so I can't hard code the ports in environment files.

Is there any option to define/overwrite env vars in command line?

[2017-07-17 07:35] kunagpal commented on #1130
@keithmork Closing as a duplicate of #1013

[2017-07-17 07:35] #1130 closed

[2017-07-17 09:29] bijoej commented on #1128
Hi @BigstickCarpet,

 Please find the answers for you Questions below:

1. OS X EI Capitan Version: 10.11.6
2. Postman App Version: 5.0.2 [Postman for Chrome]
3. Newman Version: 3.7.5
4. Tried the sample and it fails the Cookies Tests while running from Postman but all the tests goes green from Newman.
5. Screenshot of Tests TAB in Postman:
![postman_tests_tav_screenshot](https://user-images.githu

[2017-07-17 19:20] BigstickCarpet commented on #1128
@bijoej - I recommend that you install [Postman for Mac](https://www.getpostman.com/apps).  The Postman for Chrome app [is deprecated](https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html), and we're encouraging all users to [migrate to the native apps](http://blog.getpostman.com/2017/03/14/going-native/).

It looks like you're not installing PostmanBDD as part of your collection.  Pleas

[2017-07-17 20:52] #1116 closed

[2017-07-18 09:44] bijoej commented on #1128
Thanks @BigstickCarpet ...finally got it resolved.
First mistake from my side was, I ran the postman installation before making the other tests but didn't have it in my collection.
Secondly after keeping the postmanBDD GET request in my collection, it was still failing as the postmanBDD GET request was running after my test, so changed the order and it worked.

Thanks once again.

[2017-07-18 13:30] BigstickCarpet commented on #1128
Happy to help.  Glad you got it working!

[2017-07-18 13:30] #1128 closed

[2017-07-18 15:11] andrewowen opened #1132 "Feature Request: Allow for iterating over environments"
Simply put, it would be nice when running a collection via node to allow for an `environments` key that can take multiple environments so that a single test can be iterated over with different environments. At the moment, it looks like you can only specify one environment at a time.

[code]

[2017-07-18 15:33] kunagpal commented on #1132
@andrewowen What you've described is possible with data variables, and can be done as follows:
[code]

[2017-07-18 15:43] andrewowen commented on #1132
@kunagpal thank you for response, however this doesn't seem to work properly with data that is put in environment json files. If I run my node module with the environment set to a postman_environment.json file it works fine, but if I take that data out of the file and try to put it into an array of environments, the tests fail.

[2017-07-18 16:06] kunagpal commented on #1132
If you're looking to use variables from environment files directly, you can do something like this:
[code]

[2017-07-18 16:16] kunagpal commented on #413
@swapnilpatne @kiranwilson @shikhartanwar As a workaround, you can have the following snippet in a file, say `newman-run.js`:
[code]

You can then run the script above with `node newman-run.js`, which will save responses to any file of your choice.

[2017-07-18 17:01] andrewowen commented on #1132
@kunagpal that worked wonderfully! thanks! is there any chance of implementing this in a less DIY sense? I think it would make a great addition to the library

[2017-07-18 17:09] kunagpal commented on #1132
@andrewowen Well, there's no plan to implement something like this presently. The idea of an environment is to be singular with respect to a collection run. Iteration data, on the other hand, is meant to let a collection run cycle through a list of variable sets, as is the case here.

Feel free to let us know about any other suggestions/concerns/issues you may have. 😄

[2017-07-18 17:09] #1132 closed

[2017-07-19 04:32] ckanakadas opened #1134 "Is it compulsory to provide full path of the newman,in order to run the postman json files"
I have a bamboo plan which is connected to run the node.js files. But when i run the **newman run command** in the server its running fine. But when i try to run from the bamboo UI im getting below error
module.js:471
throw err;
Error: Cannot find module '/datavg/bamboo-home/xml-data/build-dir/131073/ZD-TES-JOB1/newman'
at Function.Module._resolveFilename (module.js:469:15)

But when i give full p

[2017-07-19 08:26] Ernesto-Maserati-CH commented on #92
I don't understand the latest state of this issue.
Is it now built into Newman?
Or does it to be converted with a custom script by each guy who wants a xUnit report?

[2017-07-19 12:40] kunagpal commented on #470
@cbarrerah-sogeti Could you try this out with v3.7.6 and let us know if you're facing issues? 😄

[2017-07-19 23:06] kulanup opened #1136 "Unable to POST raw json via newman, works in Postman."
OS & other details:
 1. Newman Version (latest 3.7.6)
 2. OS details (macOS Sierra 10.12.5):
 3. using Newman as  the CLI
 3. Bug always been there
 4. Expected behaviour: Able to post json data.

I am trying to login to a site via newman client. This login is a two step process
1) Get the token info.
2) Use the info retrieved in step 1 & invoke the actual login method which is a 'POST' call. Thes

[2017-07-20 04:55] kulanup commented on #224
I am also facing similar problem https://github.com/postmanlabs/newman/issues/1136

[2017-07-20 05:55] ckanakadas commented on #1134
Its very urgent can you please provide the solution

[2017-07-20 07:28] kunagpal commented on #1134
@ckanakadas Could you also share:
* The target operating system involved.
* The version of Newman for which this happens.
* The relevant bamboo CLI configuration, sans sensitive details.
* The version of Node(`node -v`) and npm(`npm -v`) on which this happens.

In addition to the above, please mention whether Newman was installed globally (using `npm install -g newman`, or locally (without the `-g

[2017-07-20 18:40] kulanup commented on #1136
@kunagpal Could you please provide the updates on this or share an example of HTTP POST call that has a JSON request body that pulls the json attribute values from environment variables ? e.g.

JSON body:-
[code]

[2017-07-20 19:40] kunagpal commented on #1136
As an additional check, could you also add `console.log(environment);` to the test scripts in both collections and verify that the environments are actually being initialized correctly?

By the way, I'm able to make successful POST requests with the collection environment pair shared below:
[code]
[code]

[2017-07-20 20:03] efrenette11 commented on #1106
+1

[2017-07-21 02:06] kulanup commented on #1136
Yes, your post call works but if you debug the request object using `console.log("-- request--- " + JSON.stringify(request));` and compare with postman you would see the difference. e.g.
Check the  `foo` attribute,  it is surrounded by two backslashes in newman while only one in postman. The value `random` is anyway not stringified so backslshes there. But, when you need to store the stringified v

[2017-07-24 09:23] kunagpal commented on #1013
@michaelajr Support for this is being worked on in #1138, we'll update this thread with time 😄

[2017-07-24 12:06] ckanakadas commented on #1134
newman 3.7.6  and 3.10.10
Both the ways the newman is installed
Linux

On Thu, Jul 20, 2017 at 12:58 PM, Kunal Nagpal <notifications@github.com>
wrote:

[2017-07-24 12:18] michaelajr commented on #1013
@kunagpal GREAT! Thank you!

[2017-07-24 15:06] kulanup commented on #1136
@kunagpal It would be great if you could provide updates on this. Thanks!

[2017-07-25 01:30] Srisaibersys opened #1141 "Newman html report is not showing separate failed test like cli output."
1. Newman Version: 3.7.6
 2. OS details (type, version, and architecture): Windows 7, 64 bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Seeing it First Time
 4. Expected behaviour: html report should show separated failed test like CLI
 5. Command / script used to run Newman: `newman run "data.postman_collectio

[2017-07-25 05:59] kunagpal commented on #1141
@Srisaibersys Although the inbuilt HTML reporter does not show failed assertion details like the CLI reporter, you can accomplish this by building your own custom reporter, by following the instructions here: https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#custom-reporters

Feel free to get back if you're facing difficulties 😄

[2017-07-25 05:59] #1141 closed

[2017-07-25 06:08] biplabpramanik007 commented on #1100
@kunagpal : Is there any progress on this?

[2017-07-25 06:12] kunagpal commented on #1134
@ckanakadas Based on the error message, it appears that the global Newman installs just fine, as `newman run ...` works correctly. As pointed out earlier, it'll be difficult to determine the exact cause without the relevant Bamboo configuration, as well as the node file being run. Please share those details, as well as how and where `/usr/bin/newman` is being used.

[2017-07-25 06:13] kunagpal commented on #1100
This isn't being worked on right now, but I'll update this thread once work starts. 😄

[2017-07-25 06:51] kunagpal commented on #1073
Hey @sophiejacquin, does this issue still persist for you with the latest versions of Newman (v3.7.6) and the app (5.1.2)?

[2017-07-25 07:00] kunagpal commented on #1070
@tariqghalib Closing issue due to inactivity Feel free to get back with any other feature requests you may have 😄

[2017-07-25 07:00] #1070 closed

[2017-07-25 07:02] kunagpal commented on #1013
@michaelajr This has been released with Newman `v3.8.0`, please see https://github.com/postmanlabs/newman#newman-run-collection-file-source-options for details on how to use this feature 😄

[2017-07-25 07:02] #1013 closed

[2017-07-25 07:03] kunagpal commented on #1130
@keithmork  This has been released with Newman `v3.8.0`, please see https://github.com/postmanlabs/newman#newman-run-collection-file-source-options for details on how to use this feature 😄

[2017-07-25 07:09] ckanakadas commented on #1134
@bamboo configuration plan the /usr/bin/newman is used
The configuration is in the client server and we dont have access for it

On Tue, Jul 25, 2017 at 11:42 AM, Kunal Nagpal <notifications@github.com>
wrote:

[2017-07-25 11:07] shankyty opened #1143 "Support for another ajax call in pre test and post test ."
Hi all,
I have requirement to fire an api to to clear data in server before test.
And mark end of test on server.
Is there a provision to do that in newman command line.

TIA

[2017-07-25 11:14] kunagpal commented on #1143
Although AJAX calls are not supported, you can still make requests, like so:
[code]

Since the Postman Collection SDK is available inside the Postman Sandbox, you can use the above with Newman v3.7.6 and Postman v5.1.2 or above. For details on creating different kinds of requests, see https://github.com/postmanlabs/postman-collection/blob/develop/test/unit/request.test.js.

[2017-07-25 22:18] rkortmann commented on #1073
@kunagpal I'm on Newman 3.7.6 and still get this issue. Using the `src` attribute hardcoded works correctly, but passing the `src` attribute with a variable attempts to pass the variable name as a string resulting in: `form-data: ENOENT: no such file or directory, open '{{file}}'`

Relevant folder in collection file
[code]

Data file:
[code]

[2017-07-26 02:51] Srisaibersys commented on #1141
Hey @kunagpal,

Thank you to pointing me to correct way to move with this.

I tried to create custom `myreporter` which is named as `newman-reporter-myreporter`
**Steps Followed**
* `npm init`
* Added index.js
* Installed this package locally using running `npm install` in the same directory.
* If I look for locally installed packages(`npm list`) then it's showing me that package(`newman-reporter-

[2017-07-26 03:44] Srisaibersys opened #1145 "Getting Invalid error length for CLI report in failures are greater than 10000"
1. Newman Version (can be found via `newman -v`): 3.7.6
 2. OS details (type, version, and architecture): Windows 7  64 bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: not sure
 4. Expected behaviour: It should show all failure on the console
 5. Command / script used to run Newman: `newman run "data_copy.postma

[2017-07-26 04:29] keithmork commented on #1130
@kunagpal
Now I use nodejs to change the environment obj and remove base path before sending request, problem solved.

The new feature is awesome, but sadly doesn't meet our needs. The hosts are defined as env vars, IIRC env vars always overwrite globals with the same name?

Thanks anyway. Great job guys : )

[code]

[code]

[2017-07-26 07:52] kunagpal commented on #1145
@Srisaibersys On the surface, this appears to be an issue with the available memory.

[2017-07-26 07:53] kunagpal commented on #1143
@shankyty Marking this issue as resolved, feel free to revert if you're facing difficulties 😄

[2017-07-26 07:53] #1143 closed

[2017-07-27 03:54] sravanisatharla opened #1147 "Json script error in different API's while running postman collection in newman"
Issue:
Json script error in different API's while running postman collection in newman

Steps to Reproduce:

Created a collection with different input data in the input json

Run the collection with input json in newman
newman run Collection_name.postman_collection.json -n 15 -d Input_P_S.json -e PD.postman_environment.json -r html,cli

Getting Json script error while running it for different API'

[2017-07-27 03:56] sravanisatharla opened #1148 "Same url is getting returned in the newman report though we see different urls in the newman while executing Postman collection for many iterations(15)"
Team,

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there:
This was encountered recently, Same url is getting returned in the newman report though we see different urls in the newman while executing Postman collection for many iterations(15).
 2. Expected behaviour:
It should take different input data from input sheet and hit different urls

[2017-07-27 07:41] kunagpal commented on #1147
@sravanisatharla Please include the following details as well:
* The Node and npm versions (`node -v`, `npm -v`)
* The Newman version (`newman -v`)
* The reduced collection, environment, and data files that cause this (minus the sensitive details)
* A screenshot of the error would also help.

[2017-07-27 07:45] kunagpal commented on #1148
@sravanisatharla If you're referring to the URLs being grouped in the generated HTML reporter, then this is by design, as the inbuilt HTML reporter aggregates information across multiple iterations (which is the case here, due to your input data sheet). If you wish to view the extended details, please refer https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newma

[2017-07-27 08:05] sravanisatharla commented on #1147
nodejs version;
v6.10.2

npm Version
3.10.10

newman version
3.5.2

Can not send the collection and screenshot as this is related to client

[2017-07-27 08:08] kunagpal commented on #1147
Alright, could you verify if this issue still occurs with Newman v3.8.0?

Secondly, a JSON script error usually indicates that there was a failed attempt to parse a string to JSON. Could you try wrapping `JSON.parse` calls in your test/pre-request scripts in a try-catch block and see if you can trap the errors there?

[2017-07-27 15:18] kunagpal commented on #1148
Marking issue as resolved, feel free to get back for any other questions you may have 😄

[2017-07-27 15:18] #1148 closed

[2017-07-27 18:46] kulanup commented on #1136
@kunagpal You can close this issue. We got around with the login mechanism. The latest newman version that allows passing the global variables via command line sorted the issue. Thanks!

[2017-07-27 18:47] #1136 closed

[2017-07-27 18:54] harikirancs224 opened #1150 "Newman HTML Report for Failure"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2017-07-28 10:39] KishoreMeda opened #1151 "Issue while publishing Newman html report in Jenkins"
Hi,
Help required while publishing Newman HTML in Jenkins Post-Action.
Jenkins is not identifying Test Results from HTML report.

[2017-07-28 15:57] chitzinwin commented on #413
I run as  `node newman-run.js collection.json `  but no file was created. do I have to change in the script?

[2017-07-28 16:15] kunagpal commented on #413
@chitzinwin Could you share your collection?

[2017-07-28 16:17] kunagpal commented on #413
@chitzinwin You'll have to specify the collection as an option in the first argument to `newman.run`. See https://github.com/postmanlabs/newman#newmanrunevents for a working example.

[2017-07-28 16:42] chitzinwin commented on #413
Perfect!  It's working now. @kunagpal Thank for prompt response!

[2017-07-28 21:04] AndreySurzhan opened #1152 "Fail to authenticate via NTLM"
1. Newman Version: `3.7.5`
 2. OS details (type, version, and architecture): `Win 7 Enterprise SP1 64-bit`
 3. Are you using Newman as a library, or via the CLI?: `CLI`
 3. Did you encounter this recently, or has this bug always been there: `n/a`
 4. Expected behavior: `newman should support NTLM auth`
 5. Command / script used to run Newman: `see below in test steps`
 6. Sample collection, and au

[2017-07-29 12:55] kunagpal commented on #1150
@harikirancs This can be accomplished with the help of a custom HTML reporter template, documented [here](https://github.com/postmanlabs/newman#html-reporter-options). A sample of the data object passed to the HTML reporter template can be found here: https://github.com/postmanlabs/newman/blob/develop/examples/reports/html-reporter-template-data.json.

Feel free to get back if you have any other q

[2017-07-29 12:55] #1150 closed

[2017-07-29 12:56] kunagpal commented on #1151
@KishoreMeda https://wiki.jenkins.io/display/JENKINS/HTML+Publisher+Plugin would shed some more light on this issue.

[2017-07-30 06:47] shamasis commented on #1152
NTLM is still under development. We will look into the issue reported though.

[2017-07-30 06:53] czardoz commented on #1152
@AndreySurzhan, you've chosen to provide a username and password as a part of your URL, which results in Basic Auth, not NTLM. In order to use NTLM, you need to define an `auth` key in your request. Check schema.getpostman.com for the exact structure :)

[2017-07-31 10:17] KishoreMeda commented on #1151
Hi Kunagpal,
Thanks for the quick response.
Actually I am able to publish the html report as a link within Jenkins page but, it is not considering to display in "Test result trend". Appreciate if you provide help to configure "Test Result Trend" from newman generated html report.

Thanks & Regards,
Kishore

[2017-07-31 14:34] AndreySurzhan commented on #1152
@shamasis @czardoz Thanks for your responses.
@czardoz Looking at the [collection schema v2.0.0](http://schema.getpostman.com/json/collection/v2.0.0/collection.json) and there is no HTML auth type.
As @shamasis mentioned it is under development.

I guess there is no way run tests with requests that are using HTML auth via newman  right now, is it?

[2017-07-31 21:08] DotNetRockStar opened #1154 "BUG: Empty header works in postman not in newman"
Hi there.  I think I found a bug so I wanted to post here to verify with someone else that it is.  I spent 2 hours figuring this out.  I am using Newman 3.8.0.

Scenario:

1) Create collection TESTING (name doesn't matter; just adding this step for brevity)
2) Create test against GET https://www.google.com and put it in TESTING collection
3) Add a header but do not put a key or value in the header

[2017-08-01 08:22] shankyty opened #1156 "Server Side event testing"
Hi,
How to handle server side events, in postman/newman.
Handling and verifying all events.
Regards,
shanky_ty

[2017-08-01 08:36] kunagpal commented on #1154
Could you also share:
1. The Node version
2. The reduced collection that causes this.
3. Error messages that come up in the `newman run ...`

[2017-08-01 10:58] kunagpal commented on #1154
@DotNetRockStar To add to the previous message, I was able to get empty headers working with the following collection on Node `v6.11.1`:
[code]

[2017-08-01 15:53] DotNetRockStar commented on #1154
I just checked and I can reproduce the issue for sure.  Works in Postman tool but not Newman.

1. Node version is v7.10.0
2. *Attached*
[google test.postman_collection.zip](https://github.com/postmanlabs/newman/files/1191173/google.test.postman_collection.zip)
3. What is the best way to get the error message from newman? The console itself didn't throw an error, I just checked the error code and r

[2017-08-01 16:54] kunagpal commented on #1154
@DotNetRockStar Thanks, I was able to reproduce this bug.

[2017-08-02 09:58] jayanthktn commented on #777
I don't want to run request C.
How can i do that ?
Req : A, B and C
@kunagpal

[2017-08-02 10:07] kunagpal commented on #777
@jayanthktn In the test script of request `B`, you can add the following statement:
[code]

[2017-08-02 11:02] jayanthktn commented on #777
Thanks @kunagpal

[2017-08-03 08:03] SeekerResource commented on #626
reproduce...

Invalid URI
     "http:///%7B%7Bat_e_hostname%7D%7D/da%…
at request

newman version: 3.7.5

[2017-08-03 08:13] kunagpal commented on #626
@SeekerResource It looks like you're trying to reference the variable called `at_e_hostname`, which is missing. Could you do the following to confirm that you're using the environment correctly?

1. Update Newman to v3.8.0.
2. Ensure that the `newman run ...` command includes an option to load the environment file, like so: `newman run collection.json -e env.json`. If you're using Newman as a libr

[2017-08-03 08:26] SeekerResource commented on #626
this's my command to run newman:

`newman run ${file_api} -e ${file_env} -e ${file_standard} -g ${path_global_test} --color`

but i used two env files, both have environment variables with different name,  the variable named 'at_e_hostname' is in file ${file_env}, files look like this:

${file_env}
[code]

${file_standard}
[code]

is this the reason?

[2017-08-03 08:32] kunagpal commented on #626
Yes, Newman does not support multiple `-e` flags as of now, so only the last specified file will be considered.

[2017-08-03 09:17] SeekerResource commented on #626
@kunagpal thx, and do we have a plan to support multiple `-e` flags. this is out case:

1、run newman to get result and write them into environment and export to new env files;
2、run newman again whenever using same env file and new env file from step 1,  to compare api result with result that already in environment, if same to, then test passed, or failed

[2017-08-03 09:25] kunagpal commented on #626
@SeekerResource
1. You can use the `--export-environment new-env.json` option to place the current environment into and specified file of your choice.

2. It looks like you want to check that responses are consistent across multiple requests. You can do this in the test script as follows:
[code]
In the snippet above, `responseBody` is the response string, and `_` is the inbuilt Lodash v3.10.1 obje

[2017-08-03 09:59] SeekerResource commented on #626
@kunagpal this doesn't work for me. because if you changed some environment value in request, pre-req. or tests,  when you export to new-env.json, they will take different values. and you will get different response if using as env when you run newman again. so i don't want to change value for variable from import env file when export to new env file, just only insert some new variable.

[2017-08-07 14:16] ManishaUni opened #1159 "The API tests which run in Postman sometimes fail in Newman"
1. Newman Version (can be found via `newman -v`):3.4.3
 2. OS details (type, version, and architecture): MACOS
 3. Are you using Newman as a library, or via the CLI? : Using as a command prompt
 3. Did you encounter this recently, or has this bug always been there: I encountered this recently.
 4. Expected behaviour: All the tests which runs on Postman should possibly run in newman as well.
 5. Co

[2017-08-07 14:41] kunagpal commented on #1159
Could you confirm whether this issue can be reproduced with Newman v3.8.0 as well?

Also:
1. Please share the error details as well (snapshots would be helpful).
2. The reduced collection and environment that cause this issue. (Feel free to exclude sensitive details)
3. Additionally, ensure that the endpoints you're trying to hit work consistently and reliably.

[2017-08-09 08:39] ManishaUni commented on #1159
Hi Kunagpal,

Yes, the tests fails in the newman V3.8.0 as well.

1. Screen shot attached.
![screen shot 2017-08-09 at 10 35 06](https://user-images.githubusercontent.com/25951995/29112659-d36e38fe-7cee-11e7-84f2-fcaba8636fa6.png)

2. The endpoints are correct, other tests in the same folder works correctly. Only few of them fails.

[2017-08-09 11:17] maxherson commented on #1052
We find out issue, I clone POST with body, then change it to GET body was hidden BUT after export collection body was there for GET request. This is the reason.

[2017-08-10 16:52] cladjules opened #1162 "Error: socket hang up while running a long request"
Hi there,

I am running a long POST request using newman, and it always fails.

It is configured exactly the same way as all the other request, I have specified the "--timeout-request 1800000", which is much more than the expected time (around a minute).

The request is working fine on postman and also a simple JS request.
But not test runner or cli...

 1. Newman Version 3.8.0
 2. OS details MAC

[2017-08-11 16:14] steveburton4 opened #1163 "Duplicated content within a request header in Newman"
Hi,

I have the following part of my collection.

Firstly, a test runs a login route and gets back the the cookie header which it sets as an environment variable:

[code]

From console loggingI know the value of "token1" at this point is:

_uppeat=s%3AqjOCjvL9Ep9iUY2r2u16VLAVzU72ggeZ.e6ySVk06W  │ p1fJ%2Bn6LIfJBptrzNu%2BgmYqi365jdtBies_

The next test clears the variable in a pre-request script:

`

[2017-08-11 16:32] arashidkargo commented on #527
Currently Running newman 3.6.1 . When executing newman run https://www.getpostman.com/collections/265d94c75d9bc5cf8976

I get following assertion error: 1.  AssertionFailure  Response time is less than 1500ms
                       at assertion:4 in test-script
                       inside "DEV-Request / DEV:Post-Create Brand" of "DEV-Request"

 2.  AssertionFailure  Response time is less than 50

[2017-08-11 18:48] crowcoder commented on #221
@czardoz what part of that link gives information regarding "Unrecognized arguments: -O" ?

[2017-08-11 18:50] kunagpal commented on #902
Possibly related to #818

[2017-08-11 18:54] kunagpal commented on #1162
@cladjules Off the surface, this looks like an issue with the proxy settings. The Postman App picks these settings directly from the operating system, while Newman doesn't do so presently. That could be what is causing this difference in behaviour.

Do take a look at https://github.com/postmanlabs/newman#proxy for more details on configuring Newman for use in a Proxy based scenario.

Additionally,

[2017-08-11 19:02] kunagpal commented on #527
@arashidkargo Please test this out with Newman v3.8.0 and create a new issue [here](https://github.com/postmanlabs/issues/new) if this behaviour persists.

[2017-08-11 19:05] kunagpal commented on #221
@crowcoder The `-O` option comes from Newman v2, and has been discontinued as of Newman v3. More details [here](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md#cli-migration-table).

[2017-08-11 19:14] arashidkargo commented on #527
Hey Kunagpal It's working in V3.8.0. Thanks....

[2017-08-11 21:44] kunagpal commented on #1147
@sravanisatharla Does this issue still persist for you?

[2017-08-11 21:46] kunagpal commented on #945
@dudeofawesome As of Newman v3.8.0, you can pass variables via the command line with the `--global-var key=value` option.

[2017-08-11 21:46] #945 closed

[2017-08-11 21:51] kunagpal commented on #856
@gaieges @DanielLarsenNZ With Newman v3.8.0 and above, you can pass in variables via the CLI as follows:
[code]

If you're on Windows, replace `$variable` with `%variable%` or `$env:variable` for cmd and PowerShell respectively.

[2017-08-11 21:51] #856 closed

[2017-08-11 21:56] gaieges commented on #856
@kunagpal This ticket is about env vars, not cli vars.  CLI stuff works fine for me just making sure you want to close this ticket since that's not what its about.

[2017-08-11 22:02] kunagpal commented on #856
The idea here is that `process.env.VAR` and `$VAR` are equivalent. For instance,
[code]

would result in:
[code]

To add more clarity, if you'd like to add the environment variable called `URL` in the newman collection run, you could do it as follows:
[code]

This will cause all occurrences of `{{url}}` in your collection to be replaced with the corresponding process environment variable.

[2017-08-11 22:06] gaieges commented on #856
Yeah understood on the latter part.  On the former, are you saying I can do

[code]

And have anything in `collection.json` with `$VAR` or `VAR` get the value `blah`?  That's sort of how I'm defining env vars vs cli vars - just automatically inserted.

[2017-08-11 22:21] kunagpal commented on #856
As discussed earlier, automatic insertion bring with it security concerns. You'd have to use the `--global-var` option as demonstrated above

[2017-08-13 08:02] cladjules commented on #1162
hi @kunagpal,

thanks for your answer.

I have seen those issue before I post and tried using `export no_proxy="*"` or passing my domain.

But all the other request for the same domain, are working perfectly fine, only those few request taking longer time to execute would fail.

Thanks for your help :)

[2017-08-14 19:34] mverma-va commented on #1147
I also got similar error, not sure how to fix it.
C:\>node -v
v6.11.2
C:\>npm -v
3.10.10
and latest version of newman, installed on 20170814
![newman_error](https://user-images.githubusercontent.com/4573058/29288246-0ea54172-8106-11e7-8905-b71885c8508d.png)

[2017-08-16 08:40] kunagpal commented on #276
Would an option similar to `--folder` like `--request` do?

[2017-08-16 18:25] arjunshukla commented on #276
Hi @czardoz @kunagpal any updates on this issue?
--request will work, but we are looking to execute this as a node module.
The intent for us is not to run in terminal but from node app.

[2017-08-16 18:34] kunagpal commented on #276
@arjunshulka, Yes, the request option is intended to be available in both forms. There's no ETA on this, but this thread will be updated whenever any conclusion is reached.

[2017-08-18 08:28] jvkaam commented on #1055
Are you sure this is fixed? I'm running with 3.8.0 and when I feed newman with a regular json file (not a postman collection) it exits without an errorlevel..

[2017-08-18 08:29] kunagpal commented on #1055
@jvkaam It appears that your issue is distinct from the thread here, could you open fresh issue at https://github.com/postmanlabs/newman/issues/new? Thanks!

[2017-08-18 09:43] jvkaam opened #1171 "Running with a json file (not a postman collection) doesn't set an errorlevel"
1. Newman Version 3.8.0
 2. OS details (Windows 7):
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Yes always been there
 4. Expected behaviour: setting of errorlevel
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2017-08-18 09:47] jvkaam commented on #1055
Thanx, added: [https://github.com/postmanlabs/newman/issues/1171]

[2017-08-18 18:33] kunagpal commented on #1154
@DotNetRockStar This has been fixed in Newman v3.8.1.

[2017-08-18 18:33] #1154 closed

[2017-08-19 19:48] concordion2k opened #1176 "Existing global variables do not update their values if you try to change them using setGlobalVariable()"
1. Newman Version (can be found via `newman -v`): **3.8.0**
 2. OS details (type, version, and architecture): **macOS 10.12.6**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: **Recently**
 4. Expected behaviour: **Global variables can have their values overwritten using Newman as the test runner**
 5. Command /

[2017-08-19 19:49] concordion2k commented on #1176
When I tried to reproduce this in the Postman UI, I could not. Global variables can be overwritten there.

[2017-08-19 20:25] kunagpal commented on #1176
@concordion2k Is this issue specific to variables passed via `--global-var`, regular global variables, or just any global variables?

[2017-08-19 20:29] concordion2k commented on #1176
The specific variable I was having an issue with was not one of the variables I passed via `--global-var`. My use case is specific to using regular global variables when running a collection using Newman.

[2017-08-19 20:56] kunagpal commented on #1176
I was unable to reproduce this issue on Node v6.11.2, Newman v3.8.1, with the following collection and global file:

Collection
[code]

Globals
[code]

The command used was: `newman run collection.json -g globals.json --global-var "alpha=beta"`.

[2017-08-19 20:58] concordion2k commented on #1176
to be clear, I did not supply a globals JSON file to the command. only --global-var items.

[2017-08-19 21:02] kunagpal commented on #1176
Yes, either way, the update sequence works. Could you try this out with Newman v3.8.1 and let me know if you're having difficulties?

[2017-08-19 21:05] concordion2k commented on #1176
I upgraded to Newman 3.8.1, and my test still fails.

I have a request that pulls a phone number and processes it to read "%2B16035554321". I set this to a new global at runtime in the pre-request script of the test. I use the global in the test, and it works.

A second test later in the suite sets a new value to the same global above. I use it in the request, and the old value is used instead of

[2017-08-19 21:06] kunagpal commented on #1176
@concordion2k Alright, could you share the collection that causes this?

[2017-08-19 21:07] concordion2k commented on #1176
https://www.getpostman.com/collections/458ed771c8543e4a5dc6

[2017-08-20 15:55] cladjules commented on #1162
hi @kunagpal,

do you think about anything else?

I tried everything, though on Postman it's fine,
is there another setting or anything I could debug for you?

Thanks,

[2017-08-21 05:55] shamasis commented on #1162
How long is it taking? Can you verify whether the timeout option is working?

[2017-08-21 06:57] Abhisa opened #1178 "Issue with Postman 5.0.2"
Hi,

When we try to run collection which has split() function , gives error in Postman 5.0.2. While same works fine in Postman 4.9.0. Is there any limitation in latest version of Postman.
“There was an error in evaluating the test script:  TypeError: Cannot read property 'split' of undefined “.

[2017-08-21 07:28] kunagpal commented on #1178
@Abhisa At a glance, the error message implies that the array variable you're trying to call `.split` on is either uninitialized or has been assigned undefined before splitting. If you're getting this array from the response, or some part of it, then a malformed response is the likely culprit here. Could you share the snippet that causes this issue?

[2017-08-21 07:37] AndreyYevtukhov opened #1179 "URI malformed"
Hi!
I've got an error each time I start the newman run, but I can't get why it fails.

 1. Newman Version
- 3.8.0
 2. OS details (type, version, and architecture):
- WIN10 x64
 3. Are you using Newman as a library, or via the CLI?
- CLI
 3. Did you encounter this recently, or has this bug always been there:
- all the time
 4. Expected behaviour:
- no errors :)
 5. Command / script used to run Newm

[2017-08-21 07:55] kunagpal commented on #1179
@AndreyYevtukhov At a glance, this could be related to a failure in `encodeURI`/`decodeURI`.

[2017-08-21 08:03] prakharjoshi commented on #1171
@jvkaam Newman will not attempt to validate the passed collection file against the schema. We can consider adding a `--strict` option (or something similarly named) to enforce valid collections.

In your case, you can keep a check on API response (which generates a postman collection) and then pass it to newman.

[2017-08-21 08:19] AndreyYevtukhov commented on #1179
@kunagpal I have 2 requests to the same API method, and in second I use `JSON.parse(responceData)` to get params, and save it with `postmant.setEnvironmentVariable("csrf", jsonData.csrf)`.

Maybe something is wrong here?

---
Also, this tests works fine in Chrome Postman app

[2017-08-21 09:06] Abhisa commented on #1178
Hi Kunal,

Thanks for quick response. Here is the snippet

 body = JSON.parse(responseBody);
var requestbody = JSON.stringify(request.uri);
var URI_String= requestbody.split('buyers/');
var URI_String= URI_String[1].split('"}');
var BiddingEventId_Req = URI_String[0];
tests["biddingEventId from request = " + BiddingEventId_Req.toLowerCase()]
= true;

var responseData= JSON.stringify(body.data);
va

[2017-08-21 09:24] farthVader91 commented on #1163
Hi,

Cookies are implicitly passed in the request headers. This is in compliance with the [HTTP State Management RFC](https://tools.ietf.org/html/rfc6265).

Explicitly setting the Cookie header in a request, results in a _merged_ cookie value(if cookies exist) or it simply uses the provided value as is. Further, merge is done is via simple string concatenation.

From what you've stated, you seem t

[2017-08-21 10:10] jvkaam commented on #1171
@prakharjoshi thanks for your response. The --strict option would be nice and for us to do a schema check on our generated postman collection is something we are considering but I still think that if we call Newman with a json file that's clearly not a postman collection you should set the errorlevel.

[2017-08-21 12:46] kunagpal commented on #1179
@AndreyYevtukhov Could you also share your Node ('node -v') and npm (`npm -v`) versions?

[2017-08-21 14:30] AndreyYevtukhov commented on #1179
node -v
v7.10.0

npm -v
5.3.0

[2017-08-22 06:40] softbrada commented on #685
any updates on this? this would be really helpful. It is really a pain to debug failed tests right now when runing them with Newman

[2017-08-22 07:50] ManikandanRajendran commented on #712
Am not getting Headers and response body in HTML report. could someone help me on this please.

![image](https://user-images.githubusercontent.com/17049131/29554412-a24bf092-873c-11e7-8b1a-b47d17655929.png)

[2017-08-22 07:51] ManikandanRajendran commented on #712
@vitoo - could you please advice on above issue please?

[2017-08-22 08:51] vitoo commented on #712
Sorry i can't help you with reports, try customizing

or the https://github.com/postmanlabs/newman/issues/712#issuecomment-257480793 solution

[2017-08-22 13:10] kunagpal commented on #1147
@mverma-va This commonly occurs when one tries to double click on the newman.js file on windows, and is not related to the original issue.

@sravanisatharla Closing issue due to inactivity. Feel free to reopen if you need help with anything 😄

[2017-08-22 13:10] #1147 closed

[2017-08-22 13:12] #1072 closed

[2017-08-22 13:14] prakharjoshi commented on #1176
@concordion2k I looked into the collection you provided.

1. In `Customer Search Via Phone Num` request, you are setting `customer_phone_number` as a local environment variable and not as a Global environment variable.

2. Now in the other request `Verify Number` you have set the `customer_phone_number` as the global variable.

As local environment overwrites the global environments, you are seein

[2017-08-22 13:14] #1002 closed

[2017-08-22 13:18] kunagpal commented on #764
This is now possible with the `--global-var key=value` option.

[2017-08-22 13:18] #764 closed

[2017-08-22 13:19] kunagpal commented on #915
@jburdeos Closing issue due to inactivity. Feel free to let us know if need help with anything else 😄

[2017-08-22 13:19] #915 closed

[2017-08-22 13:21] kunagpal commented on #763
@Freakishmahesh Although this isn't supported by default, you can accomplish the same with custo reporters: https://www.getpostman.com/docs/postman/collection_runs/command_line_integration_with_newman#custom-reporters

[2017-08-22 13:21] #763 closed

[2017-08-22 13:31] prakharjoshi commented on #1159
@ManishaUni The links you provided are not correct, Please provide the valid links for collection and environment (exclude the sensitive data).

[2017-08-22 14:40] kunagpal commented on #612
@rmarczynski Asynchronous tasks in pre-request and test-scripts are supported in Newman v3.8.1, do go ahead and try it out 😄

[2017-08-22 14:40] #612 closed

[2017-08-22 14:46] mverma-va commented on #1147
@kunagpal but I am getting this error when I run newman from windows cmd, but it works fine from git bash cmd line. Not sure how can i fix it.

[2017-08-22 15:21] awaisabir commented on #935
Was running into the same issue. I'll try your reporter out @Paramagnetic !

[2017-08-22 16:15] kunagpal commented on #1147
Please open a separate issue here: https://github.com/postmanlabs/newman/issues/new

[2017-08-23 00:16] concordion2k commented on #1176
... and here I thought I caught all instances of setEnvironmentVariable.

Thank you for that. All is now well.

[2017-08-23 01:03] kunagpal commented on #1178
@Abhisa On line 2 of the provided snippet, there's no property called `uri` on the inbuilt `request object`, you're probably looking for `request.url`. Also, `request.url` provides the request URL, not the request body, which is available via `request.data`. The `JSON.stringify` call is redundant as well. A type safe way to extract the required data would be:
[code]

[2017-08-23 01:37] concordion2k commented on #1176
This is resolved. Thank you - apologies for not catching that nagging environment method.

[2017-08-23 06:07] #1176 closed

[2017-08-23 09:49] prakharjoshi commented on #1151
@KishoreMeda AFAIK this has nothing to do with Newman HTML report. There must be some configuration issue with your Jenkins.

Hope this helps you https://stackoverflow.com/questions/7731146/jenkins-test-result-trend-graph-empty-but-tests-are-run

[2017-08-23 11:23] KishoreMeda commented on #1151
@prakharjoshi Thanks for the info. Yes, I have done this already.
Actual problem started with JUnit report only because, postman/newman considering each assertion within the Test script as a single 'testcase' while generating xml (JUnit) report. i.e., If a test script has 5 assertions newman JUnit report is giving count as 5 testcase so, JUnit report trend is displayed wrongly.

[2017-08-23 14:21] prakharjoshi commented on #1151
@KishoreMeda The things you mentioned above is the normal behaviour of Newman and the default reports work with the normal behaviour of Newman.

Each request can have multiple assertions and Newman will show the result for each assertion for a request. So Junit reporter is also providing an output with the same behaviour where each `testsuite` element is a request and under each element, we have `

[2017-08-23 16:07] KishoreMeda commented on #1151
@prakharjoshi Thanks for your prompt response.
I agree with you that JUnit report has the testsuite element for a request but, still I am not able to find the number of executions from that because JUnit report is treating multiple executions of a same test as single and all assertions are coming within a single testsuite (instead multiple testsuite/s) so, execution count is mismatching from actua

[2017-08-24 07:06] prakharjoshi commented on #1151
@KishoreMeda As I mentioned earlier `testsuite` represent a request and `testcase`  under each `testsuite` represent assertions, so you will get multiple `testcase` for a `testsuite`.

So Junit reporter will trend to show single `testsuite` for a request and under that `testsuite` you will get multiple `testcase` (which represent assertions).  This is the behaviour of Newman and that is what is sh

[2017-08-24 07:09] ManikandanRajendran commented on #712
@vitoo  - thanks for your reply. am sorry to ask you again. you mentioned as you are getting responses in html report when you reporting this issue (starting of this issue). I tried with that sample code you gave and still am not getting the response in report. please guide me if you have any idea.

[2017-08-24 08:19] KishoreMeda commented on #1151
@prakharjoshi Hi, yes I agree with you but, hear count is mismatched between html report and JUnit report because JUnit report has single testsuite for a request which have posted with different input however, html report has two different test requests.
For example if i make a same get request with two different parameters HTML report has two saperate requests but, in JUnit report has single "Tes

[2017-08-24 08:37] prakharjoshi commented on #1151
@KishoreMeda Can you provide the collection on which you are facing such issue? (Feel free to remove sensitive data from the collection)

[2017-08-24 10:07] carstenmuellerlemberg opened #1182 "Collection get does fail"
Hello,

as of today newman 3.8.1 running in node.js  6.9.* stopped working.
The issue we get is:

/app/node_modules/postman-collection/lib/collection/request.js:55
method: (_.get(options, 'method', 'GET')).toUpperCase()
TypeError: Cannot read property 'toUpperCase' of null

We reference the collectionusing newman.option:
newmanOptions.collection = "https://api.getpostman.com/collections/collection

[2017-08-24 10:25] kunagpal commented on #1182
@carstenmuellerlemberg This appears to be an issue with a malformed request method in your collection, and is not related to the Node version. Could you share the reduced collection JSON that causes this so that we may confirm? Feel free to remove any sensitive details.

[2017-08-24 13:18] carstenmuellerlemberg commented on #1182
The collection JSON is return directly from Postman cloud. I can share via mail it if required. It is currently 44K lines.

[2017-08-24 13:42] carstenmuellerlemberg commented on #1182
We analyzed the issue and found that the JSON we get has an invalid entry.
First of all no postman id second that invalid JSON part.

               "request": {
                    "url": null,
                    "method": null,
                    "header": [],
                    "body": {},
                    "description": null
                },
                "response": []
            }

[2017-08-24 17:33] kunagpal commented on #1182
@carstenmuellerlemberg Thanks for responding, that sheds more light on this issue. I've added a fix for the original error message you shared here:  https://github.com/postmanlabs/postman-collection/issues/444.

As for synchronization issues, I'm looping in @kamalaknn and @sobtiankit, who can dig deeper into this.

[2017-08-24 17:35] kunagpal commented on #1182
@carstenmuellerlemberg Thanks for responding, that sheds more light on this issue. I've added a fix for the original error message you shared here:  https://github.com/postmanlabs/postman-collection/issues/444.

As for synchronization issues, I'm looping in @kamalaknn who can dig deeper into this.

[2017-08-25 19:49] prakharjoshi commented on #1151
@KishoreMeda seems like you have found your solution. Closing this issue, feel free to open it.

[2017-08-25 19:49] #1151 closed

[2017-08-26 08:40] kunagpal commented on #1163
Hey @steveburton4, did the proposed suggestion work out  for you?

[2017-08-28 07:39] Jignesh28 commented on #1109
I am having the exact same issue. I ran the collection which consists of 5 steps and ran 6 iterations with different data. All the 5 steps were repeated 6 times with the exact same stats in the html report.

[2017-08-29 13:43] johndoethe1st commented on #249
I just installed version 5.1.3 and it seems this is still a current issue. When I send out a POST request with raw data then I don't get a 'Content-Length' header automagically. If I already create it but leave it empty the value is not being updated. When I try to manually set the value I get nothing but timeouts.

[2017-08-29 15:59] prakharjoshi commented on #249
@johndoethe1st can you confirm the Newman version `newman -v`? Also, can you share the collection and environment files (excluding the sensitive data) for which you are getting the error.

You mentioned `version 5.1.3`, I am assuming this is the postman App version :).

[2017-08-30 12:05] prakharjoshi commented on #249
Closing issue on our end due to inactivity. Please let us know if this still persists.

[2017-08-30 12:05] #249 closed

[2017-08-30 12:27] kunagpal commented on #1163
Closing issue due to inactivity, feel free to revert if you're facing difficulties 😄

[2017-08-30 12:27] #1163 closed

[2017-08-30 12:27] kunagpal commented on #1178
Closing issue due to inactivity, feel free to revert if the proposed solution didn't work out for you. Thanks! 😄

[2017-08-30 12:27] #1178 closed

[2017-09-01 00:14] LowcodeLogan commented on #885
I'm seeing this same issue as well using the newman-docker image running from jenkins. Everything works good except the failure-details summary

[2017-09-06 14:22] pbellchambers opened #1189 ""Script execution timed out." on large json responses"
On a get request which returns a large json response (7.21MB and 369417 lines long in this case), newman fails with a script execution timeout. This collection doesn't have any tests/assertions, it receives the response and then hangs and fails.

The same request runs fine in postman (v5.2.0 on windows and mac), though it does hang the app for a few seconds before becoming responsive again.

1. Ne

[2017-09-06 14:38] jcoutu-va opened #1190 "Feature Request: Parallel Run Support for load testing"
I often have to load test api endpoint and ensure that under load the system still maintains our 95% percentile performance characteristics. I can encode these as tests, but I then need to put the system under load.  Currently I use multiple parallel runs of my newman script to achieve this.   Support for load testing would be a nice next feature.

[2017-09-06 15:14] kunagpal commented on #1190
Related to #744

[2017-09-06 19:49] marcelogaray commented on #224
In the request body, I need to use something like your question:
"and in body it looks like this
{ "login":"{{user.login}}", "password":"{{user.password}}" }"

Any update?

Please, thx

[2017-09-07 13:44] prakharjoshi commented on #1189
@pbellchambers It looks like the memory issue with your system. I was not able to reproduce the same issue with huge response APIs. It will be helpful if you can provide the collection and environment for which you are facing those issues (excluding sensitive issues).

[2017-09-07 14:02] carstenmuellerlemberg commented on #1190
This is a requirement we also have. Would also be nice to be configured in Postman Monitor cloud service

[2017-09-07 17:04] pbellchambers commented on #1189
I don't think it is memory related. The machine has 16GB ram available, and I've tried increasing the memory available for the node process with the `--max_old_space_size` flag, but it still fails.

When it fails the memory used of the node process isn't always at the same value (varies between 1.2GB and 1.7GB ...further suggesting it's not a memory issue as otherwise it would always fail at the s

[2017-09-09 19:11] shamasis commented on #1190
Indeed. We are definitely considering working on this in near future, but not in Newman though.

Closing this as duplicate of #744

[2017-09-09 19:11] #1190 closed

[2017-09-09 19:17] shamasis commented on #1189
Have you tried bumping up the timeout optios?

[2017-09-11 09:44] RakeshMadhavan opened #1196 "Issue with reading data from csv"
Hi,

I am trying to run a Collection from newman CLI which uses a CSV file to read data. The issue I'm facing is, the CSV file has 6 rows of data. But when the tests are run, the collection runs for 6 times, as expected, but with only the first row's data. It skips the data from the remaining 5 rows.

The command I've run is:

newman run https://www.getpostman.com/collections/xxxxxx -e env.json -n

[2017-09-11 09:48] RakeshMadhavan commented on #1196
FYI, below are the details of the Newman version I'm using:

Newman Version (can be found via newman -v):
5.2.0

OS details (type, version, and architecture):
Windows 8(x64)

Are you using Newman as a library, or via the CLI?
CLI

[2017-09-11 10:41] kunagpal commented on #1196
@RakeshMadhavan It looks like `v5.2.0` is the Node version, as the latest Newman version at the time of writing is `v3.8.1`. Could you also share the CSV file that causes this?

Also, I can see that the `-n` and `-d` flags have been used together. Could you check if the collection run works fine with just `-d`?

[2017-09-11 15:57] pbellchambers commented on #1189
I can't find any option for increasing the script execution timeout, do you know what it is?

[2017-09-12 06:12] prakharjoshi commented on #1189
@pbellchambers  Here is the list of CLI options you can pass https://github.com/postmanlabs/newman#newman-run-collection-file-source-options

[2017-09-12 06:41] RakeshMadhavan commented on #1196
Thanks for correcting me on the version, Kunal. I have used only -d option and the issue persists.  I'm unable to upload the CSV file here, so pasting its contents instead:

Street | City | State | Zip
123 street | City1 | State1 | 12345
124 street | City2 | State2 | 12346
125 street | City3 | State3 | 12347
126 street | City4 | State4 | 12348
127 street | City5 | State5 | 12349
128 street | City6

[2017-09-12 07:43] kindrix commented on #224
I was facing the same problem with nested objects in Postman - not sure if it applies to the problems mentioned above but this is what I did.

1. Added in  the Pre-request Script
[code]

2. In the body:
`{{temp}}`

Hope it works for someone else too.

[2017-09-12 11:20] pbellchambers commented on #1189
@prakharjoshi yes, there's no option for increasing the script execution timeout in that list. The only timeout related option is `--timeout-request <ms>` which increases the request timeout, which in this case is never a problem as the request returns in 1080ms (as shown above).

[2017-09-12 11:53] prakharjoshi commented on #1189
@pbellchambers is there anything you have done in `Pre-request Script` or `Test Script`. I am asking you this because I am not able to reproduce this on my machine. I tried with a huge response, even increased the latency of the endpoint still Newman runs as required.

[2017-09-12 12:00] pbellchambers commented on #1189
There's nothing in the pre-request script or test script.

[2017-09-12 14:17] jeroenheijmans commented on #885
I was also experiencing this issue. My hypothesis is that this occurs because newman explicitly calls `cli-table2` with `colWidths = undefined`. You can see this exact behavior for example with a free-style jenkins pipeline project with this definition:

[code]

This will provide output like this:

[code]

I think the error is inside the `parseFailures` function in `index.js` [when setting `colWid

[2017-09-12 15:20] jeroenheijmans commented on #885
Forgot to mention, you can also repro this issue by running `newman run coll.json` locally on this collection:

[code]

If you do it in a *really* small window (under 20 characters wide). Which makes sense given the `if` statement mentioned in previous comment.

[2017-09-13 11:15] amod-eqw opened #1199 "Different execution results on AppVeyor against local environment"
Version and environment information:

 1. Newman Version (can be found via `newman -v`): 3.7.0
 2. OS details (type, version, and architecture):
 Local: Windows10 and AppVeyor: Runtime Environment
   OS Version: Microsoft Windows NT 6.3.9600.0
   CLR Version: 4.0.30319.42000
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been

[2017-09-13 11:34] prakharjoshi commented on #1199
@amod-eqw Could you share the reduced collection and environment JSON that causes this so that we may confirm? Feel free to remove any sensitive details.

[2017-09-13 11:41] amod-eqw commented on #1199
Attaching reference collection.

Thanks,
Amod

From: prakhar [mailto:notifications@github.com]
Sent: Wednesday, 13 September, 2017 05:05 PM
To: postmanlabs/newman <newman@noreply.github.com>
Cc: Amod Raje <amod@eqw.io>; Mention <mention@noreply.github.com>
Subject: Re: [postmanlabs/newman] Different execution results on AppVeyor against local environment (#1199)

@amod-eqw<https://github.com/amod-

[2017-09-13 13:28] amod-eqw commented on #1199
Updated newman version to latest on both local and AppVeyor, still facing the same issue
Newman version: 3.8.1

[2017-09-13 13:57] amod-eqw commented on #1199
I made a change, replaced:
//tests["Test2: Valid Status Code Name : OK"] = responseCode.name.has("OK");
with
pm.test("Test2.1: Valid Status Code Name : OK", function () {
    pm.response.to.have.status("OK");
});

Now TypeError is gone, probably Newman understands the newer way of writing tests?

JSONError still persists. What does this message exactly mean: "Unexpected token u at test script"
Any

[2017-09-13 14:45] prakharjoshi commented on #1199
@amod-eqw it will be easier to debug if you share the collection here. Also yes new pm APIs are available and you can read about them here https://www.getpostman.com/docs/postman/scripts/postman_sandbox_api_reference. Also, try this test
[code]

[2017-09-13 15:14] amod-eqw commented on #1199
Unexpected token u at test script is given while parsing responseBody.
Tried both ways of parsing response with no luck.
var responseData = pm.response.json();
var responseData = JSON.parse(responseBody);

[2017-09-13 15:21] prakharjoshi commented on #1199
@amod-eqw Could you share the reduced collection and environment JSON that causes this so that we can figure out the exact issue here? Feel free to remove any sensitive details.

[2017-09-13 15:26] amod-eqw commented on #1199
Attaching collection and environment jsons
[json.zip](https://github.com/postmanlabs/newman/files/1299931/json.zip)

[2017-09-14 05:52] prakharjoshi commented on #1199
@amod-eqw At a glance, it seems to be an issue with test scripts. Try to convert values to strings before you are setting environment variables.

[2017-09-14 05:57] amod-eqw commented on #1199
If test scripts are culprit then how is it that those run just perfectly fine in Collection Runner for that matter even when i run the scripts locally using Newman i dont get the errors? Neither i get typeerror nor jsonerror locally, it justs shows up in AppVeyor environment.

So i dont think there is any issue with scripts. As i mentioned earlier JSONError is there while parsing response body.

[2017-09-14 07:36] amod-eqw commented on #1199
Will node version impact test execution?

Runtime Env:
newman --version
3.8.1
node --version
v4.8.4
npm --version
2.15.11

Local Env:
newman --version
3.8.1
node --version
v6.2.0
npm --version
3.8.9

[2017-09-14 14:19] amod-eqw commented on #1199
Any update???

[2017-09-15 07:50] amod-eqw commented on #1199
@prakharjoshi any updates, did you get chance to debug more?

[2017-09-15 08:22] prakharjoshi commented on #1199
@amod-eqw the collection that you shared uses env_variables without braces, you should have used (`{{hostname}}` and not `hostname`), assuming that was intentional from you while editing the collection and you have used the correct way of using environment variables in your original collection.

Also, you are using `hostname` as an env variable in URL and your environment contains variable `Hostna

[2017-09-15 08:28] amod-eqw commented on #1199
Yes both were intentional, if not i guess the tests would have failed locally too.
Sorry but I cannot share the collection or config file.

In AppVeyor i am just running the newman command under Tests->After test scripts
$ newman run <collection.json> --environment <environment>.json

Can difference in node version be resulting in json parsing error?

[2017-09-15 09:20] kunagpal commented on #1196
The provided file is invalid CSV, I was able to get the run working as desired (within the app as well as Newman) with the following content:
[code]

[2017-09-15 14:46] amod-eqw commented on #1199
@prakharjoshi you can reproduce this issue, you can run any collection on Appveyor. This will help you to dig more as issue lies with newman running on Appveyor environment.

[2017-09-15 15:37] cchretien opened #1203 "feature request to turn off text wrapping or force a width larger than 60 for console.log events"
The CLI reporter should have to ability to configure the text wrap limit for console.log events.
In a build environment such as TeamCity we are restricted to just [60 chars](https://github.com/postmanlabs/newman/blob/develop/lib/reporters/cli/cli-utils.js#L117). The requests api's and their stats are not wrapped at all. This behaviour was not present in release 2

The user should be able to....
*

[2017-09-18 09:32] amod-eqw commented on #1199
@prakharjoshi any update?
were you able to reproduce by creating Appveyor job?

[2017-09-18 11:53] shamasis commented on #1203
We could give --terminal-width as an option.

[2017-09-18 12:32] kunagpal commented on #1196
Closing issue due to inactivity. Feel free to revert if there's anything else you need help with 😄

[2017-09-18 12:32] #1196 closed

[2017-09-18 17:26] englishm-llnw commented on #856
I understand the concern for users who may inadvertently allow the exfiltration of sensitive environment variables by malicious collections. However, there is another security concern to consider here, too.

On many UNIX-family operating systems, the full command line (including arguments) for each process is visible to all. This means that if I want to pass an API token to a collection and use `n

[2017-09-19 06:14] #1052 closed

[2017-09-19 16:09] mikeder commented on #885
I'm running into this issue running the newman docker container in a Jenkins pipeline, I've found that adding the `--reporter-cli-no-failures` flag to my command gets me past the failure until this is fixed.

[2017-09-20 13:29] kbuzby opened #1207 "[Postman Sandbox] Can Browserify be made a devDependency"
1. Newman Version (can be found via `newman -v`): 3.8.2
 2. OS details (type, version, and architecture): Windows 10 x86_64
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: Browserify is a devDependency

The Browserify package is a pretty heavy package and has a lot of dependencie

[2017-09-20 16:05] andrewowen opened #1208 "Running newman via NodeJS does not replace the global variables you set in the command line"
1. Newman Version: 3.8.2
 2. OS 10.12.5
 3. Using via Node with Newman as a package dependency
 3. Today 09/20/17
 4. Should take globals set via the `--global-var` key and insert where needed
 5. `node runner.js --global-var "foo=bar"`
 6.
[code]
 7. Screenshots (if applicable):

[2017-09-20 16:08] kunagpal commented on #1208
@andrewowen This is expected behaviour, `--global-var` was introduced to allow users to include sensitive variables without having to add them to an environment JSON. However, you can parse the CLI args from `process.argv` and include them in the options to the `newman.run` command if needed.

[2017-09-20 16:08] #1208 closed

[2017-09-20 17:32] andrewowen commented on #1208
but shouldn't this work the same way regardless if I use `newman run` or a JS file that does `newman.run`?

[2017-09-20 22:50] kbuzby opened #1209 "HTML Reporter will not fail or create results if directories do not exist"
1. Newman Version (can be found via `newman -v`): 3.8.2
 2. OS details (type, version, and architecture): Windows 10 x86_64
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: encountered today
 4. Expected behaviour: Either error if directories don't exist or try to create them.
 5. Command / script used to run New

[2017-09-20 23:47] kbuzby commented on #1209
Actually, this might be a bug just that the export path is not working, at least for the html reporter. I can't get it to provide an output even using an existing path. It's only providing a report when I don't provide the "reporter" option.

[2017-09-21 06:55] prakharjoshi commented on #1209
@kbuzby Thanks for reporting that issue. It seems to be a bug in Newman. We will get back to you once we have a fix for the same.

[2017-09-21 07:58] kunagpal commented on #1208
Well no, because `--global-var` is an option that makes sense for `newman run`, but not to a script that contains `newman.run`.

[2017-09-21 14:15] etune commented on #962
Bummer about the chrome app. I like using Postman on my Chromebook.

I think Electron apps are bad for the open web.

[2017-09-21 14:35] prakharjoshi commented on #1209
@kbuzby Can you provide me the path where you are exporting the reports and also can you confirm you are running Newman in Administrative Mode.

I am not able to replicate the same issue.

[2017-09-21 16:27] kbuzby commented on #1209
I found a process.exit() in my main loop that was getting called before Newman could finish running.

I believe I've got this running correctly now, thank you for looking into this though!

[2017-09-21 16:27] #1209 closed

[2017-09-21 21:00] amnoman opened #1211 "Invalid opening quote at line 3"
1. Newman Version (can be found via `newman -v`): 3.8.0
 2. OS details (type, version, and architecture): Microsoft Windows [Version 10.0.15063], AMD64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Have only recently tried
 4. Expected behaviour: Newman should parse the JSON data file successfully
 5. Command / sc

[2017-09-21 21:01] amnoman commented on #1211
It works for only csv file

[2017-09-21 22:18] shamasis commented on #1207
Yeah. Seems to me as a mistake. The whole idea of taking the pains to cache bundle was to not include dependency on browserify. @postmanlabs/newman-geneticists or anyone send a PR please.

[2017-09-21 22:41] shamasis commented on #1207
Ok, I have gone ahead and send the PR. It was trivial. :-)

[2017-09-22 06:08] prakharjoshi commented on #1199
@amod-eqw I tried running the collection provided by you in windows env, I got the same result in both Windows and Mac OS. Can you once confirm on your side that you have everything configured correctly in your Appveyour job? Also if you can run the collection locally on a windows machine and confirm the output?

[2017-09-22 14:22] amnoman opened #1215 "How to work with long number with csv file?"
1. Newman Version (can be found via `newman -v`): 3.8.0
 2. OS details (type, version, and architecture):  Microsoft Windows [Version 10.0.15063], AMD64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Always been there
 4. Expected behaviour: Suppose to parse the Long number without changing last 3-4 digit with 0.

[2017-09-22 14:45] amnoman commented on #1211
[Practice.zip](https://github.com/postmanlabs/newman/files/1324875/Practice.zip)

Even with this simple collection facing same problem.

C:\Practice>newman run Practice.postman_collection.json -n 2 -d Practice.json
Invalid opening quote at line 3

[2017-09-22 15:45] kbuzby commented on #1207
Awesome, thanks @shamasis !

[2017-09-22 15:45] #1207 closed

[2017-09-25 05:29] amod-eqw commented on #1199
When i run the collection locally it works fine and the output was shared, copying it again
I get different execution result when i execute same collection on different environments

Local environment:

Newman Version : 3.7.0
OS details (type, version, and architecture): Windows 10
Execution result:
image

We have automated execution using Newman and AppVeyor
Runtime Environment details:

Newman V

[2017-09-25 05:32] amod-eqw commented on #1199
In Appveyor i had added the newman install and execution of collection under Tests tab.
Is there anything else i should be doing to configure the job properly? What do you suggest/guidelines if we have to run a postman collection as job in Appveyor?
If there is anything i am missing i can add and re run the collection.

Basically the collection is executed, but errors are logged while parsing resp

[2017-09-25 08:18] otteroe commented on #1189
I just wanted to add in that I had the same problem using 3.8.2, the one who wrote the tests in question for me used version 3.4.3 and it worked fine for him. When he upgraded to 3.8.2 the tests ran much slower and we thought the tests which timed out for me would for him as well, but they managed to get done in time.

I now tested to downgrade to 3.4.3 and it ran smoothly without any problem.

In

[2017-09-26 07:50] kunagpal commented on #1215
@amnoman Thanks for reporting this, I was able to reproduce the bug with the details you provided. I'll update this thread when a fix is being worked on.

[2017-09-26 08:50] kunagpal commented on #1211
@amnoman This is happening because the contents of your JSON data file have an extra space at the beginning, which is invalid JSON. While a patch is released, a temporary workaround is to remove the leading space from the JSON data file.

[2017-09-26 10:40] kunagpal commented on #1211
@amnoman A fix for this bug has been added in #1218, I'll update this thread when it has been released.

[2017-09-26 10:53] kunagpal commented on #1215
I've opened a dedicated issue here: https://github.com/adaltas/node-csv-parse/issues/152

[2017-09-26 14:27] amnoman commented on #1211
Thanks for the finding but after removing all extra space getting different error:

Invalid closing quote at line 3; found ":" instead of delimiter ","

Practice.json
[
{
"Iteration":"1",
"MNO":"Verizon"
},
{
"Iteration":"2",
"MNO":"ATT"
}
]

[2017-09-28 19:38] TheCoderGuyVlad commented on #1054
Hi Newman Team,
I believe this fix is causing a new issue.

If I load a CSV data file like this:
ValueA,ValueB
05,"05"

Both are being processed as numbers and give the value 5 in my Postman collection. I believe this is a bug because 05 should be read as a number and "05" should be read as a string.

I am using Newman 3.8.0

(I am new to this site. Please let me know if you want me to open a new

[2017-09-29 07:54] kunagpal commented on #1054
@TheCoderGuyVlad This has been reported in #1100

[2017-09-29 07:55] kunagpal commented on #1114
@Pikachung Could you try this out with Newman v3.8.3-beta.1?

[2017-09-29 07:55] kunagpal commented on #1182
@carstenmuellerlemberg Could you try this out with Newman v3.8.3-beta.1?

[2017-09-29 07:56] kunagpal commented on #1211
@amnoman Could you try this out with Newman v3.8.3-beta.1?

[2017-09-29 13:29] amnoman commented on #1211
After updating to v3.8.3-beta.1 it's working fine. Thanks :)

[2017-09-29 13:41] #1211 closed

[2017-09-29 14:21] pbellchambers commented on #1189
Just to confirm the above, 3.4.3 also works fine for me. Completes without hanging or timing out.

[2017-09-29 18:13] dduford01 opened #1224 "Request works in Postman and fails in Newman with Auth token cookie"
I have an auth token in a cookie that I created.  When I run the tests in Postman GUI they all pass, but when I run them through Newman I get a Status Code 200 on every test.

Newman Version: 3.8.2
OS details: Windows 8.1 and 10
Are you using Newman as a library, or via the CLI? : Using as a command prompt
Did you encounter this recently, or has this bug always been there: I encountered this recen

[2017-09-29 19:30] prakharjoshi commented on #1224
@dduford01  First of all I am little confused with `when I run them through Newman I get a Status Code 200 on every test`. Can you confirm that and also can you share the collection, environment and globals that you are passing to run that collection through Newman (Feel free to exclude the sensitive information).

[2017-09-29 19:40] dduford01 commented on #1224
Oops sorry I meant to say on Newman I get a status code of 401 Unauthorized.  I will try to get the collection, environment and global, but I believe everything about them would be sensitive information.

[2017-09-29 19:42] prakharjoshi commented on #1224
@dduford01 Okay I need to clear one more thing here, you are passing cookies or tokens for authentication? and how are you passing them?

[2017-09-29 19:54] dduford01 commented on #1224
I have a cookie with a auth code in it.  I created this cookie with the Postman GUI.  I manually replace the auth code in this cookie to refresh it.  As of now are authentication setup won't work with standard authentications, which is why I have to create the cookie manually.
I validated that the cookie is in the postman collection file that I use, this the correct auth code.  I don't do anything

[2017-09-29 20:26] dduford01 commented on #1224
Modified Example of cookie:
WEB_UI_FORMS=FF3DA56936721EDC814D15F7F083C7B76DETG200D0CC6F3E310288AD685B43298267032C118CFF56ADBE27B64E8E7222C33FCB15A8CDD3514165F1AF68061EA962779F82FFB993614B0BB43F305AFE9DC321C3C8724D6BD2C3E7CA0C6F8DBDF0AE78A1C13035AD8374GH657FJ; path=/; domain=myDomain; HttpOnly; Expires=Tue, 19 Jan 2038 03:14:07 GMT;

[2017-10-02 14:24] TheCoderGuyVlad commented on #1100
Hi Newman Team,
I am seeing a similar behavior in Newman CLI version 3.8.0. Here is a simplified example:

If I load a CSV data file like this:
[code]
I expect the ValueA to be treated as a number and give 5, and ValueB to be treated as a string and give 05. Instead, they are both treated as numbers and return 5. This works correctly in Postman itself, and I believe this bug was introduced by the

[2017-10-02 14:49] prakharjoshi commented on #1199
@amod-eqw There is nothing different to be done to run Newman inside Appveyor.

[2017-10-03 16:00] amod-eqw commented on #1199
In your job, is json parsing working? For me the parsing error is causing issue.
Could you share the node version being used when running the collection.

[2017-10-04 07:23] kunagpal commented on #1189
@pbellchambers @otteroe Newman v3.8.3 has been released with a `timeout-script` option similar to the `timeout-request` option, you can now pass in a sufficiently high millisecond value to get your scripts working.

[2017-10-04 07:33] kunagpal commented on #1114
This should have been fixed in `v3.8.3`, feel free to let us know if you have any other questions. Thanks! 😄

[2017-10-04 07:35] kunagpal commented on #1182
This should have been fixed in Newman v3.8.3, feel free to revert if you have any other queries 😄

[2017-10-04 07:35] #1182 closed

[2017-10-04 19:01] cchretien commented on #1109
[template-html-with-responses.zip](https://github.com/postmanlabs/newman/files/1357053/template-html-with-responses.zip)
+1
newman 3.5.2
nodejs 6.11.3 or 8.1.4

Here's my sample template.

[2017-10-04 19:10] shamasis commented on #1109
I suggest creating a new reporter and/or a new template for the built in HTML reporter. After all, this was the whole purpose of exposing the easy to use reporter api. 😊

Closing this ticket.

[2017-10-04 19:10] #1109 closed

[2017-10-04 19:15] cchretien commented on #1109
It's not a template issue. It's an issue with the aggregator. That's unfortunate that you won't support reporter fixes

[2017-10-04 19:51] bradschafer commented on #871
Shamasis - Thanks for the example on reading a folder form disk..
I plan to use it for smoke tests as well.

How might one define the folder for the output directory in node?
I've tried :
export: 'path to place output'

and I can't use dashes in a object key  ( cli-export, json-export etc..)
So I am not sure what to use to set the path.

[2017-10-06 04:12] matheusro commented on #220
@gleuck I was strugling with proxy variables until your feedback about uppercase saved my life 😄

[2017-10-06 10:06] saiudayakella opened #1232 "Block-Scoped declarations error when running the collection from TeamCity"
Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Build Agent is on Linux machine (observed on another build agent which is on windows machine)
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Integrated scripts with CI

[2017-10-06 10:09] kunagpal commented on #1232
Could you share the versions of node on your machine and the Linux agent?

[2017-10-06 10:11] saiudayakella commented on #1232
@kunagpal  I'm installing node version 4.0 ( min supported version) as the first build step using NVM. When I change the block-scope to global scope the collection ran successfully from Team City.

[2017-10-06 10:12] kunagpal commented on #1232
Could you try this out with Node v6.11.4 LTS on the agent and let me know if the issue still persists?

[2017-10-06 10:19] prakharjoshi commented on #1224
@dduford01 You are passing env variables and Global variables, so can you once confirm that you are extracting access_token from correct variable scope (environment/globals)?

Also, can you try it with latest Newman version?

[2017-10-06 12:21] dduford01 commented on #1224
Let me clarify.  I am not extracting the access token from the cookie.  I manually put the access token in the cookie, and the cookie should be passed for authentication.  This works in Postman GUI, but not in Newman using the exact same tests on the same machine.

[2017-10-06 12:33] sophiejacquin commented on #1073
Hello,

@kunagpal  Sorry for not having answer earlier, but the work around works very well!

Thank you !

[2017-10-06 12:44] kunagpal commented on #1073
@rkortmann Apologies for the delay but this looks like an issue with the environment variable setup.
@sophiejacquin Glad to hear it worked out for you 😄

[2017-10-06 12:44] #1073 closed

[2017-10-08 11:49] prakharjoshi commented on #1199
@amod-eqw First of all apologies for late reply. Here is a sample `appveyor.yml` file which runs a collection https://github.com/prakharjoshi/test/blob/master/appveyor.yml. This collection calls the echo endpoint and there is a test for checking its response and its working fine.

[2017-10-08 15:13] prakharjoshi commented on #1179
@AndreyYevtukhov You mentioned using `JSON.parse(responceData)`,  there is a typo in `responseData`, can you confirm its not there in your collection? Also, to fetch the response in test script from requests you have to use `JSON.parse(responseBody)`.

[2017-10-09 03:19] saiudayakella commented on #1232
@kunagpal  - Issue does not persist after installing Node v6.11.4. Thanks for your suggestion.
Probably you guys should update the documentation as >=4 can be tricky.

[2017-10-09 05:29] shamasis commented on #1232
@kunagpal @saiudayakella - is this error coming from Newman’s codebase or from within the scripts written inside collection?

If this is from inside collections, I would say that in the place we mention Newman works in node v4+, we do write that if you’re using any feature within your scripts that are not supported by the node version you’re running on, try upgrading node.

If this is from Newman

[2017-10-09 05:30] #1232 closed

[2017-10-09 05:58] saiudayakella commented on #1232
@shamasis  -This error occurs when block scope declarations are specified in the scripts under a collection. So, I reckon this is from inside collections. Also, in the build log, I do not see any particular errors to identify whether it is coming from newman's code base. I just see the failure as 'Syntaxerror'
@kunagpal

[2017-10-09 06:56] kunagpal commented on #1232
@shamasis This is not a Node version related issue, a description about the same will have to be added.

[2017-10-09 07:16] kunagpal commented on #1189
Closing as we now have a `timeout-script` option. Feel free to get back if you have any questions 😄

[2017-10-09 07:16] #1189 closed

[2017-10-09 07:46] amod-eqw commented on #1199
Thanks for the update @prakharjoshi , my guess issue lies with node version.
Since you didnt get json parsing error, probably due to node version being 6. In my case I was getting paring error for response body and eventually next tests failed.

Runtime Env:                                 Local Env:
node --version                              node --version
v4.8.4

[2017-10-09 07:47] prakharjoshi commented on #1224
@dduford01 As you mentioned earlier `I don't do anything specific to pass the cookie`, so right now you have set the cookies through Postman GUI and run the collection through postman runner and it worked fine because you have set the cookies there for that domain.

When you run the collection with Newman, the cookies that you have set through Postman GUI are not available during Newman run, so ri

[2017-10-09 13:06] dduford01 commented on #1224
@prakharjoshi This does clear up the reason for my tests failing in Newman run, since the auth is passed in the cookie and since Newman does not pass cookies.  Thanks you for your time.

[2017-10-12 01:31] amandabouman opened #1235 "Helper auth method doesn't appear to function correctly"
Newman Version: 3.8.3

In Postman and Collection runner, my AWS signature auth works perfectly, but fails in newman.

The collection export saved the following:
                        "currentHelper": "awsSigV4",
			"helperAttributes": {
				"accessKey": "{{accessKey}}",
				"secretKey": "{{accessSecret}}",
				"service": "s3",
				"saveToRequest": true
			}

Additionally, I deleted my headers pr

[2017-10-13 01:27] joshualyon commented on #1109
@shamasis thanks for your feedback and taking the time to respond. I have to agree with others that this seems to be a bug. It fundamentally doesn't make sense for the report output to iterate `n` times over X requests and then show each request `n` times but with the name aggregated data everytime. Was this really the expected output for the aggregations in the JSON object?

At the very least, co

[2017-10-13 05:34] TheCoderGuyVlad commented on #1100
Hi Team,
Could you please help us resolve this? Our company is moving to automated API testing through Postman. A big corner stone of this is being able to automate the tests using Newman scripts, but currently this is being blocked because our data has many fields which are stored as numeric strings (digits in double quotes) and a large number of these begin with 0 as the first digit. When we loa

[2017-10-13 10:51] sandello-alkr commented on #935
Same issue here... Would be useful to be able to filter out successful runs.

[2017-10-16 13:18] felixdjost commented on #223
see also here https://github.com/felixdjost/newman-html-report-template-verbose for usage of a custom templates which dumpes http headers and body (which we found to be useful for debugging)

[2017-10-16 22:22] ishepherd commented on #221
@kunagpal, to summarize what I found from those links:

To get request/response logging, you must use the JSON reporter.
(Or make your own reporters or templates)

Is that correct?

[2017-10-17 09:25] nikhileshshah opened #1239 "Scripts are failing in newman where as it is working in Postman"
**Overview:** We have created End To End automation script in Postman, now we were trying to execute postman collections using Newman so that we can run regression and get HTML report.

**Issue:** We were able to run postman client collection using Newman but few of the Test script were failing and we did not get any reason and step name that where & why exactly it is failing. When we run same col

[2017-10-17 17:28] shamasis commented on #1239
Not sure there is enough information for me to go on. Can you do console.log on the responses and check whether Postman and newman returns same response?

Also, maybe log `expKeys` and `data` to see what difference you see in Postman vs Newman?

[2017-10-18 02:20] snk20501 opened #1241 "postman.getResponseHeader cant's get full content of Header value"
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Ubuntu 16.04.02 64bit LTS server
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: always been there
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (mi

[2017-10-18 14:44] kunagpal commented on #1241
@snk20501 Could you confirm that this still works correctly with v5.3.1 of the Postman app? I'll dig deeper into the header fetch issue in the meantime. 😄

[2017-10-19 06:33] snk20501 commented on #1241
@kunagpal The version I use is v5.3.0 and it works correctly. Thank you for looking into this problem. :)

[2017-10-19 23:56] Gans79 opened #1243 "create _postman_id dynamically"
Hi ,
I want to create a collection dynamically during runtime using javascript and nodejs, I see that each collection had a **_Postman_Id** and Environment has a **id** , how can i assign this dynamically  , or can i omit this if it is not mandatory .

Regards
Ganesh

 1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a

[2017-10-20 08:40] dskinnerMg commented on #375
Hi,

I received this issue, today as well. I encountered it when storing an array into an environment variable, this seems to convert it to text. The I used .split(',') converting it back to an array. This works in postman but not newman.

As a work around I used:
`.toString()`
this makes it work in postman and newman.

Test case for the issue:
`{
	"info": {
		"name": "Newman Split Test ",
		"_pos

[2017-10-20 10:44] prakharjoshi commented on #1243
@Gans79 If you are creating collections using cloud API then you can omit the ids and the new collection will be created with new ids. Cloud API will handle the creation of new collection ids.

[2017-10-20 13:55] mstanielewicz opened #1250 "setNextRequest() not scoped to folder"
Hello!
1. Newman Version (can be found via `newman -v`):    3.8.3
 2. OS details (type, version, and architecture):    macOS High Sierra 10.13
 3. Are you using Newman as a library, or via the CLI?    CLI
 3. Did you encounter this recently, or has this bug always been there:    Just started to use newman
 4. Expected behaviour:    setNextRequest() should be scoped to folder (as Postman documentat

[2017-10-20 14:27] nikhileshshah commented on #1239
ok will try and come back soon.

[2017-10-20 17:32] kunagpal commented on #1199
@amod-eqw Does this issue persist for you?

[2017-10-20 17:33] kunagpal commented on #1152
@AndreySurzhan Could you try this out with Newman v3.8.3 and see if it works correctly?

[2017-10-20 23:48] sakthiveltk opened #1252 "Pass data file when Using Newman as a NodeJS module"
How to pass the data json file, when using Using Newman as a NodeJS module

[2017-10-21 00:11] kunagpal commented on #1252
You can use the `iterationData` option as a file path or array of data objects, as can be seen here: https://github.com/postmanlabs/newman#api-reference

[2017-10-21 00:11] #1252 closed

[2017-10-23 09:18] dcalina opened #1253 "Postman BDD+Newman -- ReferenceRrror in test-script - runtime:extenstions~request: request url is empty"
1. Newman Version (can be found via `newman -v`): 3.8.3
 2. OS details (type, version, and architecture): Windows 10
 3. Are you using Newman as a library, or via the CLI? via CLI
 3. Did you encounter this recently, or has this bug always been there: just tried the tool and got stucked
 4. Expected behaviour: to execute the tests with success from cmd line as well, from Postman GUI it works fine.

[2017-10-23 09:55] prakharjoshi commented on #1253
@dcalina can you confirm while initializing Postman BDD, you are setting `postmanBDD` as globals and not as environment variables and eval it as `globals.postmanBDD`? If not, You need to set the `postmanBDD` as globals in the initialization request and eval it as `globals.postmanBDD`.

[2017-10-23 09:57] dcalina commented on #1253
Hi, yes -- this is how I have set it:
`eval(globals.postmanBDD);

it('should be a successful response', () => {
    response.ok.should.be.true;
    response.should.have.status(200);
    response.statusType.should.equal(2);
    response.error.should.be.false;

});

it('should respond in a timely manner', () => {
    response.time.should.be.below(2000);
});
etc....`

[2017-10-23 10:19] prakharjoshi commented on #1253
@dcalina In you error trace this is the first error `Error runtime:extenstions~request: request URL is empty at request`, can you confirm you are providing correct URL in the setup request and not using an environment variable in setup request?

[2017-10-23 11:16] dcalina commented on #1253
I confirm, I'm providing correct URL, and not using an env variable. Hope the Screenshot helps
![postmantests](https://user-images.githubusercontent.com/30461772/31886336-8a5584da-b7fc-11e7-9280-f06e0d1e3f02.JPG)
![postmantests2](https://user-images.githubusercontent.com/30461772/31886401-ccbf392e-b7fc-11e7-880f-4002882fbc29.JPG)

[2017-10-23 11:36] prakharjoshi commented on #1253
@dcalina can you show me the `001-setup -> PostmanBDD` request? A screenshot will work.

[2017-10-23 11:44] dcalina commented on #1253
![capture](https://user-images.githubusercontent.com/30461772/31887335-9acfedce-b800-11e7-9667-8b31799d826a.JPG)

[2017-10-23 11:48] prakharjoshi commented on #1253
@dcalina From the screenshot, I can see that you are not setting the `responseBody` from the request to a global variable in your tests script. Can you confirm that once? You need to store the response from this request as a global variable and you can eval that variable in other request's scripts.

[2017-10-23 11:55] dcalina commented on #1253
Ahhhh, I've set it, but somehow was not saved I assume. Now it works. Sorry :(. But how come did the tests work fine from GUI?

[2017-10-23 11:56] dcalina commented on #1253
Thank you

[2017-10-23 11:58] prakharjoshi commented on #1253
@dcalina One possible reason is you might have set it once before and the collection run picks the globals environment from App so it was available there while you run the collection through App. You might be able to see `postmanBDD` as a global variable in your app. On the other hand in Newman, there was no global env named `postmanBDD` during a run.

[2017-10-23 11:58] #1253 closed

[2017-10-23 14:04] sakthiveltk commented on #1252
Thank you. That worked for me.

[2017-10-23 16:58] AndreySurzhan commented on #1152
@kunagpal I wish I could. But we've reworked our API recently. So I cannot retest it. We are not using NTLM auth anymore. Sorry
Let me know if I can do anything else

[2017-10-23 16:59] AndreySurzhan commented on #1152
I would appreciate a link to the commit with change that I can take a look at though

[2017-10-24 03:43] Gans79 commented on #1243
Hi ,
I dont have a postman pro, is there anywork around ? can i generate an random 32char_posman_id  , will the CLI accept this random id ?

[2017-10-24 08:15] kunagpal commented on #1152
@AndreySurzhan This commit is not in Newman, but in `postman-runtime`, an underlying library that is used to ensure uniformity. The pull request in question can be found here: https://github.com/postmanlabs/postman-runtime/pull/390

[2017-10-24 08:15] #1152 closed

[2017-10-25 02:30] Gans79 opened #1255 "Newman Parallel collection execution"
Hi,
Does newman has any option to run collections in parallel ?
can you let us know with an example snippet

Regards
Ganesh

 1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script us

[2017-10-25 02:32] kunagpal commented on #1255
https://github.com/postmanlabs/newman/blob/develop/examples/parallel-collection-runs.js

[2017-10-25 02:32] #1255 closed

[2017-10-27 08:45] BreatheDigital opened #1256 "Fails to install newman using npm on CentOS7"
Version and environment information:
newman: 3.8.3
node v6.11.3
npm 3.10.10
running on  CentOS7, x64

Are you using Newman as a library, or via the CLI? CLI

Usecase & Error:
When I use ''npm install newman -g'' and it returned the following errors:

npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "newman" "-g"
npm ERR! node v6.11.3
npm ERR! npm v3.10.10
npm ERR! path ../lib/node_modules/ne

[2017-10-27 12:43] kunagpal commented on #1256
@BreatheDigital This could prove useful: https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md

[2017-10-28 00:55] gaieges opened #1258 "Add support to run newman from yaml files"
This is simply a feature request to support the ability to run yaml files (both collections and environments) via newman in the same way that json is run.

The benefit that this would provide is to allow for easier access to modify and write postman files by hand instead of having to manage the json syntax, which could then be used to convert on the fly and upload to postman api

@macejiko

[2017-10-31 14:18] rahuln93 opened #1259 "A very basic question, Is it possible to get the actual response of a GET request in a JSON file using NEWMAN."
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxilliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2017-10-31 14:54] kunagpal commented on #1259
This can be accomplished using Newman as a library, as follows:
[code]

[2017-10-31 14:56] kunagpal commented on #1258
Could you provide more context on how this is useful? You can use the [Postman app](https://getpostman.com/apps) to interact with collections in a streamlined manner.

[2017-10-31 14:56] kunagpal commented on #1256
Closing issue due to inactivity, feel free to revert if you're facing issues 😄

[2017-10-31 14:56] #1256 closed

[2017-10-31 15:00] gaieges commented on #1258
Readability of the files (ie if i dont want to use the app)

[2017-11-01 01:29] jisooh commented on #1259
An older version of Newman used to output the response to the json logs. However, I do not see this anymore and see a response stream instead. Is there no way to get the response of requests anymore because using Newman as a module?

[2017-11-01 09:51] elmnas opened #1260 "failed to install newman"
Hi everyone,

I try to install newman
I have got npm version:5.5.1
also Windows 7 enterprise 64 bit SP1.

also when I try to install newman by following commands:
npm install -g newman
npm install newman --global;
I get following error in cmd:
rollbackFailedOptional: verb npm-session 44a352b36509b82

![g66dipj](https://user-images.githubusercontent.com/17006430/32269448-a41d51ac-bef2-11e7-99b6-692

[2017-11-01 14:20] #1260 closed

[2017-11-06 08:55] prakharjoshi commented on #1243
@Gans79 can you share the collection and environment with which you are trying to create a new collection? I want to know the way you are creating a new collection.

[2017-11-06 16:54] Sam-Levene opened #1264 "Running Newman behind a proxy with --global-var or set HTTP_PROXY fails"
**1. Newman Version:** 3.8.3
 **2. OS details (type, version, and architecture):** Windows 7 Enterprise  64-bit
 **3. Are you using Newman as a library, or via the CLI?** CLI
 **3. Did you encounter this recently, or has this bug always been there:** Encountered recently
 **4. Expected behaviour:** Expected Newman to work correctly
 **5. Command / script used to run Newman:**
- `newman run C:\User