[2016-02-24 14:31] hackintoshrao commented on #335
The error vanishes when the body is changed from xxx-www-form-urlencoded  to form-data , but  the body was anyways empty !

[2016-02-24 14:56] TimFowle commented on #273
Has this made it to the roadmap yet?  Just curious.
Thanks

[2016-02-24 14:57] a85 commented on #273
@TimFowle Yep. We are testing it internally. This has a dependency on token management that will be putting out in parallel. Expecting this to be out within the next 2 weeks.

[2016-02-24 15:47] TimFowle commented on #273
cool

[2016-02-24 22:19] harshavardhana commented on #335
For the time being use raw mode and it works @hackintoshrao , Additionally there is also no need to set 'Content-Length'  is handled internally by aws4 library to verify if body is indeed empty.

But there is a bug in side

[code]

if the request.transformed.data is empty there is no reason to even go entirely into this function,  one can return quickly and it should work fine.

For example using

[2016-02-25 03:03] czardoz commented on #335
Absolutely :+1:

Thanks for pointing these issues out, will release a fix in the next version :)

[2016-02-25 15:59] srbangre opened #337 "running individual test cases using newman command?"
Can we run individual test cases using newman command?
I know we can run entire collection or folders inside the collection. I need to a way to run individual test cases using newman command. is it possible?

[2016-02-25 16:00] srbangre commented on #337
benefit of this is :- integration with test management tools will be super easy.

[2016-02-25 18:08] srbangre opened #338 "not able to run individual test folders when running collections from URL"
few things here -

1.

 My collection is stored in stash. so i am using -u command to run the collection. but when i give -f 'folder name' i get error - The folder does not exist.
How to run test folders inside collection if run using -u command?

2. My environment variable files are also stored in stash. so to run the collection from url, i cannot specify -e 'environment variable'.
to run it i ha

[2016-02-26 00:42] jgroom33 opened #339 "Support line feed in csv cell values"
The following csv content should be supported:

[code]

The above should be interpreted as:

[code]

[2016-02-26 06:33] czardoz commented on #338
Environments contain secrets, which should not be exposed over a public endpoint. That's why Newman does not support using an environment from a URL.

[2016-02-26 08:20] #335 closed

[2016-02-26 09:06] #331 closed

[2016-02-26 11:40] czardoz commented on #338
Also, I am not able to reproduce the issue with URLs and folders. I ran this command:

[code]

and it only ran the folder with the name "Headers".

[2016-03-02 19:26] sbutalia commented on #168
Adding this code after execute is complete helped in my case ...

Under Newman.js -> execute -> if (typeof callback === "function")
[code]

[2016-03-04 04:07] bwolski opened #343 "Newman Imports Empty Strings from CSV as Null Unlike Postman"
Hi, my requests sometimes require empty query parameter values, which I am importing from CSV. Postman does not have an issue with importing empty strings from CSV, but Newman sets these values as Null.

That logic is in the CsvHelper, so I just removed it: [Pull Request](https://github.com/postmanlabs/newman/pull/342)

Thanks!
Benjamin

[2016-03-04 12:21] czardoz commented on #343
Fixed with 6d817faa2d9632a310230142c7466cc5769f6fb6

[2016-03-04 12:21] #343 closed

[2016-03-04 12:21] czardoz commented on #343
Thanks, @bwolski for the PR!

[2016-03-04 18:52] kmacharg commented on #338
@czardoz

I was having the same issue as @srbangre about the "folder not found error".  I was able to resolve it by going to the parent collection and clicking "Update Link" under the sharing options.  Is it possible something isn't being updated / synced about a collection if you have previously generated a collection URL?

[2016-03-04 21:03] abhijitkane commented on #338
@kmacharg A collection link is not automatically updated. You'll need to click 'Update Link' everytime you want Postman's changes to be reflected.

[2016-03-07 16:44] roeschjohannes opened #344 "Feature-Request: Parameter to change result symbol to text"
It would be great if you add a command line parameter to replace the symbols for Passed (✔) or Failed (✗) with the text like "PASS" or "FAIL".
They are replaced with confusing symbols (�) in different charsets.

[2016-03-07 20:39] willrichboa opened #345 "The request signature we calculated does not match the signature you provided."
Hey I am attempting to execute a POST request that is signed by AWS signature v4.   My POST request is using the header "Content-Type":"application/json".  This works great as long as you don't use a variable in the body of the POST request.  When you attempt to use a variable (environment or data) in the request body the signature calculation fails and I get the error message in the title.  I sus

[2016-03-07 21:19] abhijitkane commented on #345
@willrichboa Thanks for reporting this. We've fixed this in our internal build, and will be rolling out the fix to users over this week.
Duplicate of https://github.com/postmanlabs/postman-app-support/issues/1663

[2016-03-08 04:58] sterfa02 opened #346 "Variable as query parameter works in Postman but not in Newman"
I've been attempting to use Newman to run a collection with a single GET request which has one query parameter along with several oauth 1.0 header parameters (at least I've distilled it down to this). Giving the query parameter explicitly (URL Parameter key is start, value is 2016-03-07) works perfectly in both Postman and Newman, BUT when I try to give start using a variable instead (URL Paramete

[2016-03-08 05:28] czardoz commented on #346
@sterfa02, very weird. If possible, can you send a small collection that reproduces this issue to help@getpostman.com

[2016-03-08 07:03] czardoz commented on #345
Re-opening this, @abhijitkane this is a Newman issue, not a Postman issue. Will check before closing..

[2016-03-08 07:21] #345 closed

[2016-03-08 07:24] czardoz commented on #338
@srbangre Closing this issue, feel free to reopen if you're still having issues! :)

[2016-03-08 07:24] #338 closed

[2016-03-09 14:20] hugovanderlei commented on #242
any about this issue?

[2016-03-10 22:34] jeremyrader opened #347 "EventEmitter memory leak detected"
If I try to call Newman.execute within the callback of another Newman.execute call I get the following error:
    `(node) warning: possible EventEmitter memory leak detected. 11 requestExecuted listeners added.     Use emitter.setMaxListeners() to increase limit.`

I was hoping to be able to call Newman twice and then compare the results.

[code]

I have already posted a question on [SO](http://st

[2016-03-11 16:21] roeschjohannes opened #348 "Feature-Request: Responsetime in JUnit Reports"
Could you add the responsetime to the JUnit report?
With response times in the reports, its possible to compare different runs of newman in jenkins.

[2016-03-14 14:24] srbangre commented on #251
Issue still exists. why did you close my ticket #311 and tagged it with this one when it was not worked upon?

[2016-03-14 14:27] DCamillus opened #349 "Different behavior in Newman vs. Postman for empty requests"
We have a test collection on my team involving an empty request for a negative test.  We stumbled on what I believe to be a bug in that the test results are different for the same collection against the same URL from the same requesting machine based on whether we use Newman to run the collection, or use Postman Collection Runner to run it.  In Postman, we had the request setup to send an empty re

[2016-03-14 14:31] czardoz commented on #251
@srbangre #311 was about `--outputFileVerbose`, not about HTML report. It has been fixed in v2.0.1

This issue is about adding the same information in the HTML report. That has not been worked upon, and therefore this issue is not closed.

[2016-03-14 14:33] DCamillus commented on #344
Just want to say my team would love this feature too!  I would have requested this feature if it weren't already requested here.

[2016-03-14 14:34] czardoz commented on #349
@DCamillus were you setting a `Content-Type` header?

[2016-03-14 14:43] DCamillus commented on #349
In the Postman builder’s body section for the POST, we had chosen “Text” where our positive tests all use “JSON (application/json)”.  Does that answer your question?  We didn’t do anything explicit about the Content-Type header in Newman.  We just saved the collection to a file and ran it with newman –c.

From: Aniket Panse [mailto:notifications@github.com]
Sent: Monday, March 14, 2016 10:34 AM
To

[2016-03-14 15:36] RangerDan commented on #349
Does your target server have case-sensitive header parsing (content-type != Content-Type)?  I encountered a difference in the capitalization of headers between Postman and Newman, and it tripped up an older HTTP parser on a mainframe.

[2016-03-14 16:11] srbangre commented on #311
This issue still exists.

[2016-03-14 16:12] srbangre commented on #251
#311 is not working. i am still having issues with outputFileverbose not printing request body.

[2016-03-14 16:23] czardoz commented on #311
@srbangre I'm not able to reproduce this with Newman v2.0.1

What version of newman are you using?

[2016-03-14 16:48] RangerDan opened #350 "Import as Copy copies existing collection rather than importing from file and appending 'copy'"
When I import a collection that has the same name as a collection in my repository, it copies the collection already in Postman rather than using data from the file as I expect.  No data from the file is used.
1) Create a collection and add a request (I used a  GET to http://www.google.com)
2) Export the collection
3) Change the request (I changed to POST)
4) Import the collection
5) Click Import

[2016-03-14 17:22] abhijitkane commented on #350
@RangerDan Thanks for pointing this out. Not sure how we missed this. Will be pushing a fix for this tomorrow.

[2016-03-15 02:29] sterfa02 commented on #346
I have been using a workaround for this, and I'm having trouble reproducing the error, so I'm closing the issue. If it resurfaces, I'll probe the issue some more. Thanks!

[2016-03-15 02:29] #346 closed

[2016-03-15 08:17] czardoz commented on #349
Ah, I think I found out the issue. Postman adds a "Content-Type: text/plain" header by default, while Newman does not.

@DCamillus You can select "text/plain" when creating the collection (which will explicitly add the header for you), until I push out a fix for this :)

[2016-03-15 10:20] allexeye opened #351 "How to import swagger file to collection with command line?"
Is it possible to do that automatically? f/e I updated a URL with swagger.json and I want to run all the tests against the new version of API? Are there any options to do that?

[2016-03-15 12:43] gadelkareem commented on #168
@sbutalia solution fixed it for me. I hope this can be added to newman@1

[2016-03-15 13:06] abhijitkane commented on #351
@allexeye You'll need to import the updated URL into Postman (there's an import link in the top navigation bar). The will add a collection in your app, which you can then run in the Runner.

[2016-03-15 13:14] abhijitkane commented on #168
@czardoz

[2016-03-15 13:41] DCamillus commented on #349
@czardoz That makes sense as a problem that would cause our symptom.  Thanks!

[2016-03-15 18:16] willrichboa opened #353 "Issue with AWS signature using variables in the signature"
More AWS signature issues.

This works in postman.  Set up a get request that has an AWS signature.  Use environment variables in the "Access Key" and "Secret Key" columns.  The values are replaced and the Get request works.

If you then download the collection and environment file and run them in newman the authorization header that is calculated has the "Credential" value as undefined and the re

[2016-03-15 18:35] allexeye commented on #351
@abhijitkane yes, but I want to do it automatically via command line.
I need something like:
`newman convert -u http://www.myapi.com/swagger.json > postman_collection.json`
and then
`newman -c postman_collection.json`

[2016-03-15 18:47] czardoz commented on #353
Are you setting "Save Params to Request" in the AWS Auth helper?

[2016-03-15 18:50] willrichboa commented on #353
Yeah I have "saveToRequest": true in the collection.

Newman
2.0.2
Postman
4.0.4
( win / x86-32 )
( Chrome 49.0.2623.87 )

[2016-03-15 18:59] willrichboa commented on #353
I think I might have figured this out.  I noticed that some of the other requests had a slightly different format for their AWS helperattributes.

"currentHelper": "awsSigV4",
			"helperAttributes": {
				"accessKey": "{{aws-access-key}}",
				"secretKey": "{{aws-secret-key}}",
				"awsRegion": "{{aws-region}}",
				"serviceName": "{{aws-service}}",
				"saveToRequest": true
			},
instead of the f

[2016-03-15 19:23] srbangre commented on #311
2.0.0-beta.5

[2016-03-15 19:48] czardoz commented on #353
That's not normal. Is this from Postman v4.0.4?

[2016-03-15 19:54] czardoz commented on #351
@allexeye We use this library for our imports:
https://github.com/postmanlabs/swagger2-to-postman

It should be easy to write a small CLI to convert a file from Swagger to a Collection. Check out the tests for an example use: https://github.com/postmanlabs/swagger2-to-postman/blob/b28db9cf42a95456a658e40046ffa88bd5db4b75/test/converter-spec.js

We don't really plan on adding this functionality to

[2016-03-15 19:54] #351 closed

[2016-03-15 20:01] willrichboa commented on #353
Doesn't appear to be happening when saving in 4.0.4.  I've cleaned up the collection to use the correct format, and I don't see it any of my other collections either.  Not sure what might have caused it, but it doesn't appear to be occurring any more.  If you can't reproduce this on your end may as well close this issue.

[2016-03-15 20:04] allexeye commented on #351
@czardoz ok, thanks for the links :+1:

[2016-03-15 20:19] czardoz commented on #311
It was fixed after that version was released. You'll have to update Newman to get the fix :)

npm install -g newman@2.0.1

[2016-03-15 20:19] #311 closed

[2016-03-15 20:27] Zambonilli commented on #290
Is there any update on this?  The linked node bugs seem to reference each other and tail off w/o a solution.

[2016-03-16 03:14] contactprad commented on #289
@czardoz  This option is still not working for me with your latest changes.

Below is my request data. please note that there are 3 param passed as data in request body, Oauth header are passed with Authorization

Request headers:
{
 "authorization": "OAuth oauth_consumer_key={{consumerKey}},oauth_signature_method=\"HMAC-SHA1\",oauth_timestamp=\"1458097765\",oauth_nonce=\"IhQt1T\",oauth_version=\"

[2016-03-16 03:49] aaronweatherall opened #354 "Newman Cloud"
Hey Team,

With your new cloud service we *really* want to run newman against our cloud based collections for CI/CD.

I know that as an individual user I can share a URL then use the -u parameter to run against that remote colllection. The problem is that this link is associated with my account, not the team and it';s not auto-updated.

What's the timeline on this?

[2016-03-16 04:15] sobtiankit commented on #354
@aaronweatherall A few weeks actually! I'll keep you posted.

[2016-03-16 05:04] czardoz commented on #289
@contactprad what Newman version are you using?

[2016-03-16 07:53] czardoz commented on #353
Yes, it seems to be an issue in an older version of Postman.
It's definitely been fixed in newer versions, but do reopen the issue if you face it again :)

[2016-03-16 07:53] #353 closed

[2016-03-17 10:11] roeschjohannes opened #355 "JUnit (XML) detail on failure #278"
Could you please merge the pull request [278](https://github.com/postmanlabs/newman/pull/278)? This feature would be very helpful.

[2016-03-20 08:28] GabbyChang opened #356 "newman"

[2016-03-20 08:31] #356 closed

[2016-03-20 08:49] DaisySu opened #357 "how to install newman behind corporate proxy (with command npm install -g newman@beta)"
32 error Windows_NT
33 error argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "-g" "newman@beta"
34 error node v5.9.0
35 error npm  v3.7.3
36 error code ETIMEDOUT
37 error errno ETIMEDOUT
38 error syscall connect
39 error network connect ETIMEDOUT
40 error network This is most likely not a problem with npm itself
40 er

[2016-03-20 12:15] DaisySu commented on #357
Type with the command:
npm --proxy http://myusername:mypassword@proxy.us.somecompany:8080 \
--without-ssl --insecure -g install
See http://stackoverflow.com/questions/7559648/is-there-a-way-to-make-npm-install-the-command-to-work-behind-proxy

[2016-03-20 12:33] #357 closed

[2016-03-20 12:51] czardoz commented on #357
Hi @DaisySu, Newman stable now supports Node v4+, so you can drop the '@beta' tag during installation :)

[2016-03-21 00:23] aaronweatherall commented on #354
Perfect!

[2016-03-21 02:18] DaisySu commented on #249
@czardoz Same here. Is there one solution for this issue?

[2016-03-21 02:26] czardoz commented on #249
@DaisySu, does your server require case sensitive headers?

[2016-03-21 02:59] DaisySu commented on #249
@czardoz Thanks for your reply. I have resolved it with "-k" in the command.

[2016-03-21 07:20] DaisySu opened #358 "How to include the common collection while run a scenario case in postman and newman"
For tester, some case, like login/logout cases are frequently used before/after business scenario. I want to extract them to one common file,  instead of importing them to each collection, to avoid maintain each case once some common change. How to reach this target in postman and newman?

[2016-03-21 07:32] czardoz commented on #358
There's currently no way to have a "common" subfolder. One workaround is to create your own collection, but that is a bit of work :)

[2016-03-21 07:34] czardoz commented on #347
@jeremyrader Newman core is being rewritten, and we hope to have an alpha release out soon.

[2016-03-21 18:12] johnmckinzie commented on #249
@czardoz I'm having a similar issue. The collection runs fine in Postman, but I get a We are in the prototyping phase and not using SSL/TLS, so the "-k" did not solve our issue.

[code]

[2016-03-21 19:08] slackboxster opened #359 "Newman does not run folders in order"
I have a set of folders named with numbers so that they sort alphabetically:
[code]
At the very least, my 010 General *MUST* run before the other two, as General contains a login request that populates an authentication token environment variable.

In my specific case, the file is running the 010 General last. It does not appear that newman respects the names of the folders. At the very least, a f

[2016-03-21 19:12] slackboxster commented on #359
So this is probably a bug with the export from postman more than it is with the newman runner, but I notice the collection export json file looks like this:

[code]

[2016-03-21 19:30] srbangre commented on #311
yep its working with new version of newman.
thanks :)
once you close the issue please specify if we need to install new version of Newman. Bcoz unlike postman, newman doesnot  get updated automatically.
Thanks anyways. new report looks good :)

[2016-03-21 19:36] willrichboa opened #360 "When using AWS signature PATCH requests fail."
Take a look at https://github.com/postmanlabs/newman/blob/develop/src/utilities/HelperProcessor.js

Line 51 in _useAWSSigV4Auth  is  var body = this._getRequestBody(request);

Within _getRequestBody line 322 is  if (request.method.toLowerCase() === "post" || request.method.toLowerCase() === "put") {

PATCH also requires a request body so should be included in this if.

PATCH with AWS signature wor

[2016-03-21 19:58] slackboxster commented on #359
So basically, Postman is not ordering the folders properly in the json when it exports.

[2016-03-21 20:03] abhijitkane commented on #359
@slackboxster We fixed this a few versions ago. Can you head to chrome:/extensions, enable 'Developer Mode', and click 'Update extensions now'?

[2016-03-21 20:19] srbangre opened #361 "feature request - test description needs formatting in html report option"
Hi,
I have following as my test description in the postman tool -
Test ID: TC_MemberDetails_01

Test Objective: Test to verify if Get Member web service is returning all the Member Details like Name, Address, Email ID

Test Expected Result: web service returning all Member Details

Pre-conditions: Auth token request should be submitted before executing this test case

Data:
1. User = XXXX
2. Auth

[2016-03-21 21:36] beatsbears opened #362 "Redirects are automatically avoided"
In version 2.0.3 all redirects are currently being avoided, making the -R flag redundant.  This should be changed so that redirects are automatically followed, unless the -R flag is supplied.

[2016-03-22 01:09] kurtfm commented on #251
This would be awesome!  I was looking for this... or some way to correctly results between the two files easier.

[2016-03-22 01:11] kurtfm commented on #153
Yes! Need this!!!  You can push a lib into a global variable but clumsy.

[2016-03-22 07:26] czardoz commented on #360
Thanks, @willrichboa for reporting this :smiley:

Fixed this in v2.0.4

[2016-03-22 07:26] #360 closed

[2016-03-22 07:35] czardoz commented on #362
@beatsbears Thanks a lot for the PR!

I'm not able to reproduce this issue however. I have this collection: https://www.getpostman.com/collections/0b500894597958ffce2f which has a request that does a single redirect.

Without the "-R" option, I get the 200 response (which is expected):
[code]

When I run it with the "-R" option, it avoids the redirects, and shows the actual 302 response code:
[cod

[2016-03-22 07:53] czardoz commented on #355
@roeschjohannes I'm working on a different way of showing errors.. adding a new test does not seem right. I'll update this issue :+1:

[2016-03-22 07:59] czardoz commented on #361
@srbangre I've fixed the issue, it will be available in the next release

[2016-03-22 12:13] beatsbears commented on #362
Interesting I'll look into it a bit more if I get some time.  The only major difference that I'm seeing right now is that in my call I'm doing a POST, which gets redirected to a GET request rather than a GET redirecting to another GET. Looking at the HTTP spec, it doesn't sound like this is the 'correct' way to do things, but it is how it's commonly handled.
[More here.](http://stackoverflow.com/q

[2016-03-22 12:43] czardoz opened #365 "Variables with values containing a "/" are not handled properly"

[2016-03-22 13:48] srbangre commented on #361
@czardoz can you also see if test run summary can also be at the end of the report? just like the one displayed in the newman.
and if you can then is it possible to tell in the summary that no of test cases failed/passed instead of numbers of assertions?

[2016-03-22 14:09] czardoz commented on #361
The summary is best kept at the top of the report, which is generally the norm.

Also, if you'd like to do more processing around test results, check out the "-t" option, which outputs the results in an easy to use XML format. You'll be able to process the file using any XML parsing library :smiley:

[2016-03-23 03:31] gpicazo commented on #254
+1000

[2016-03-23 05:14] artiya4u opened #366 "Newman request response time is extremely slower than in Postman Runner."
I've notice that request response time on Newman is extremely slower than Postman runner (2 Times). Maybe the DNS Prefetching in Chromium does play in this situation.

![runner](https://cloud.githubusercontent.com/assets/3830524/13976256/b658fcda-f0f0-11e5-9842-df0dfda98cf9.png)

![newman](https://cloud.githubusercontent.com/assets/3830524/13976125/352fe76e-f0ef-11e5-8cc0-b3a4c28f18b9.png)

[2016-03-23 05:21] czardoz commented on #366
I'll see if I can reproduce this :-)

[2016-03-23 12:26] czardoz commented on #366
I tried this, and while I'm able to reproduce it, I'm pretty sure it's because DNS is not cached as you said.

There's not much we can do about that, Newman internally uses https://github.com/request/request which is what actually makes the request.

[2016-03-23 13:29] czardoz commented on #361
@srbangre This has been released in Newman v2.0.5. You'll need to update newman to get this fix :)

[2016-03-23 13:29] #361 closed

[2016-03-24 09:16] czardoz commented on #359
Should be fixed in Postman v4.1.2. @slackboxster feel free to reopen the issue if you're still having  problems :)

[2016-03-24 09:16] #359 closed

[2016-03-24 09:21] contactprad commented on #276
already feeling the pain about not able to select folders. This issue is blocker for me. we should have a way to include folders to run

[2016-03-24 13:35] davidrudder23 commented on #330
Hi @czardoz,
Thank you for the response.  My concern is running these from Jenkins. I would like these kinds of errors to be marked in the FailCount column.  Is it possible to do that without adding a new key into the tests?
Thanks,
Dave

[2016-03-24 19:37] wkuckro opened #367 "tests results pass in postman but fail in newman"
Using the exact same environment , a test that passes when run in postman doesn't pass when run in Jenkins.

[code]

Is there anything about this that wouldn't work properly in newman

[2016-03-24 19:39] abhijitkane commented on #367
@wkuckro Can you include the raw response body from Postman here?

[2016-03-24 19:43] wkuckro commented on #367
{
  "ApiMessages": [
    "API Message: Response initialized.",
    "API Message: UpdateSurveyFromModel successful."
  ],
  "ResultCount": 1,
  "Survey": {
    "AccountID": 1,
    "SurveyStatusCode": "06",
    "SurveyPriority": 11,
    "SurveyNumber": 121615,
  }
}

I had to truncate it for business purposes

[2016-03-24 21:05] mstaalesen commented on #367
Try console.log to see if there is a differense in response in postman and newman.

console.log("Comparing: " + responseJSON1.Survey.SurveyNumber.toString() + " with: " + postman.getEnvironmentVariable("SurveyNumber"));

Or, instead of doing toString() on the response, you can do:
tests["Survey number is as created"] = responseJSON1.Survey.SurveyNumber === parseInt(postman.getEnvironmentVariable("

[2016-03-24 21:15] wkuckro commented on #367
I changed to ParseInt( ) and that solved the issue. thanks

[2016-03-25 07:21] czardoz commented on #367
Thanks, @mstaalesen!

Keeping this issue open until I resolve the discrepancy :)

[2016-03-25 07:22] czardoz commented on #350
@abhijitkane Is this fixed?

[2016-03-25 07:34] abhijitkane commented on #350
Yep
@RangerDan Can you confirm this fixed in v4.1.2 of the Chrome app?

[2016-03-25 09:51] artiya4u commented on #366
I ran another test without using DNS (use fixed IP) the result is seem like Postman Runner using persistent connection to reduce latency in another request.

![runner2](https://cloud.githubusercontent.com/assets/3830524/14042144/b2a5c0a4-f2a9-11e5-9487-ea2cd7bd6fce.png)

![newman2](https://cloud.githubusercontent.com/assets/3830524/14042146/b8b69d1a-f2a9-11e5-90a8-ef1d77a0dee3.png)

[2016-03-25 10:01] artiya4u commented on #366
I checked the connection in Wireshare and I found that Postman Runner use persistent connection. Maybe we could improve Newman performance using same technique.

[2016-03-28 23:14] RangerDan commented on #350
Confirmed as fixed.
- Export collection
- Delete requests wholesale
- Import as Copy or Replace: restores content
- Modify contents in place
- Import as Copy or Replace: restores content
- Do not modify contents
- Import as Copy or Replace: does not adversely affect content.

[2016-03-28 23:15] #350 closed

[2016-03-29 18:50] willrichboa commented on #249
Is it possible to do better error handling on these request timeout errors.  They are not captured by -O.  The request and response just are skipped entirely in that report.  -t and -H both record if an assigned test fails, but show a statusCode.code of "0" and a responseBody of "undefined".  Which is widely unhelpful.

I set a -r 10000 and had to look at my Jenkins console log to find this error:

[2016-03-30 07:38] #344 closed

[2016-03-30 08:50] KumG opened #369 "Execute multiple queries simultaneously from multiple threads"
An important kind of type of test for our application is to have simultaneous calls to the same method from multiple threads, to test the concurrency and the data integrity.

Is there a way to reproduce this kind of tests with Postman/Newman, or is it planned ? Otherwise, what do you think about this kind of tests, should I use another tool ?

Thanks

[2016-03-30 08:54] czardoz commented on #369
Hi @KumG

You can run multiple Newman processes to achieve this scenario. While it would probably not be a part of Newman CLI, we'll soon be releasing a library that should allow you to write your own Node programs which concurrently run multiple Newman runs.

[2016-03-30 08:54] #369 closed

[2016-03-30 15:05] srbangre opened #370 "target_type = 'collection' instead of 'folder' when i am generating newman html reports"
Hi,
I have modified the html report script in my local to display the summary in html report generated by newman.
if i am running a folder and not entire collection then the target_type should be 'folder' instead of 'collections'.

[2016-03-30 15:59] srbangre commented on #370
wrong issuE

[2016-03-30 15:59] #370 closed

[2016-03-31 15:04] guillegr123 opened #371 "Failed test due to javascript error not reported as failed"
Suppose I get this response:

`{y:10}`

I have a test similar to this (being explicit and shorter):

[code]
(I know that I should test before if x is whitin the response, but sometimes this kind of situations slip away)

The item in postman collection that has this test fails, and newman returns 1. This is also displayed when newman is run from the command line. However, in the logs that newman ou

[2016-03-31 16:23] abhijitkane commented on #371
@guillegr123 `{y:10}` is invalid JSON. It needs to be `{"y":10}`
Screenshot attached.
<img width="537" alt="screen shot 2016-03-31 at 21 53 00" src="https://cloud.githubusercontent.com/assets/681190/14182865/faffdda4-f78a-11e5-9c45-5a8b1af8df8f.png">

[2016-03-31 19:47] willrichboa opened #372 "Random node request.js timeout when building request"
I am getting random timeout errors using newman 2.0.5.  The errors occur occur before the request is sent, and the below stack trace is generated.

The errors are occurring on requests that have passed previous iterations in the same run sometimes. This has happened for all methods, Put, Patch, Del, Get, Post. AWS signatures are included in all requests, as well as parameterized headers and json b

[2016-04-01 14:45] matteogit opened #373 "Random HTTP status code 0"
Hi all,
we are using postman / newman to have continuous API testing, the flow is:
- make / test requests from Postman
- save and share collection, to get collection link URL
- NodeJS script which runs newman passing each collection URL,  in series

The problem is that, randomly, and in all environments ( local, staging, production ), we are getting an HTTP code 0, while when running them from Pos

[2016-04-02 05:10] guillegr123 commented on #371
Indeed, sorry, it is {"y":0}. I forgot to put the quotes when was describing the issue.

[2016-04-02 13:57] IchordeDionysos opened #374 "Running newman nodejs library only with url"
As I read in your docs, there are at least two ways to select which collection should be run during the test:
1. Via a collection.json file (`newman -c mycollection.json`)
2. Via a Postman url (`newman -u https://www.getpostman.com/collections/cb208e7e64056f5294e5`)

Now I wondered if I could run a collection from url in Node.js as well, so I tried this:

    newmanOptions = {
        url: "https:

[2016-04-03 22:20] srbangre opened #375 ".includes & .split is not a function in newman"
.includes() and .split() is not working in newman although postman understands the command.
I found it the hard way. my postman collection was running successfully in postman but in newman my tests were always failing. i modified my collection order, use different env variable names, prescript etc. but then i found out that newman does not understand .includes command.

[2016-04-04 08:14] czardoz commented on #373
@matteogit Response Code 0 happens when there is a network error when the request is sent. Are you seeing any errors on your console?

For reference: https://github.com/postmanlabs/newman/blob/a3c467231e8758a3882bc17fd83533780f9fe41a/src/runners/RequestRunner.js#L189

[2016-04-04 08:15] czardoz commented on #375
Are these the Lodash commands?

[2016-04-04 08:17] czardoz commented on #374
Hi, Newman does allow doing this. The caveat is that you'll have to download the collection from the URL yourself.

Check out https://github.com/postmanlabs/newman#library for more :)

[2016-04-04 08:17] #374 closed

[2016-04-04 08:19] czardoz commented on #372
Newman has no control over timeouts. They are raised by the internal "request" library which Newman depends upon.

Could these be intermittent network level issues?

[2016-04-04 13:39] srbangre commented on #375
they are javascript commands

[2016-04-04 20:42] akapoor47 opened #376 "Getting module version mismatch error when running postman collection in newman"
Getting below error when trying to run a postman collection from newman. Node Version is - v4.4.2 NPM version is - 2.15.0 Newman version is - 2.0.5

[code]

[2016-04-05 01:09] krisgutta opened #377 "Dynamic Variables with Newman"
It looks like Dynamic Variables are not supported in newman? If so, do you have plans for adding support?

I am using {{$timestamp}}, {{$randomInt}} and works just fine from Postman, but newman doesn't substitute with the actual values when executed in the command line. I am running node v4.4.2 and newman v2.0.5

Thanks,
-Kris

[2016-04-05 04:38] czardoz commented on #376
Hi, seems like you recently updated your node version. Newman v2.0.5 does not depend on contextify module which we see in the error.

Can you try reinstalling Newman?

[2016-04-05 09:09] czardoz commented on #377
Hi Kris,

I wasn't able to reproduce this issue. I created a collection: https://www.getpostman.com/collections/ae4651f73d3b232a43a9

Where the request body contains `{{$timestamp}}`and `{{$randomInt}}`, and the sent request contained the substituted values:
[code]
The substitution is working with headers too.

Could you perhaps share a collection where this is not working for you?

[2016-04-05 15:04] jdedeyne opened #378 "newman not sending body data"
Working set from Postman is saved, newman makes the call but doesn't send data in the body.
The saved file looks like this.
{
			"id": "b2d47fd6-7f26-3e6c-5b35-ac93f4517417",
			"headers": "",
			"url": "http://localhost:8080/zeticon/TextMiningOcari",
			"preRequestScript": "",
			"pathVariables": {},
			"method": "POST",
			"data": [
				{
					"key": "OcariText",
					"value": "{   \"Text\": {

[2016-04-05 20:05] jdedeyne commented on #378
The collection originated from an old version of Postman.  Recreating the collection from scratch gave the correct structure with the enabled flag.  Now it's sending correctly.
"method": "POST",
			"data": [
				{
					"key": "key1",
					"value": "{\"test\":\"een waarde\"}",
					"type": "text",
					"enabled": true
				},
				{
					"key": "key2",
					"value": "{\"test\":\"een waarde\"}",

[2016-04-05 20:05] #378 closed

[2016-04-06 16:08] srbangre commented on #375
.sort() command is not recognized by postman even though it is js command.

[2016-04-06 16:12] srbangre commented on #375
how do i check if element exists in an array?

[2016-04-06 16:16] czardoz commented on #375
Hi,

While we do a dive deep into this issue, you can use the equivalent lodash commands as a workaround.

E.g:

[2016-04-06 17:58] krisgutta commented on #377
Hi,

Thanks for the quick response, I've done some testing and it looks like the issue is with POST and not GET. Here is my newman command, newman -u https://www.getpostman.com/collections/ebdf54e05f85cf0c4fc5 -O Downloads/dynamic_bug.json -e Downloads/Test.json

You can get the Test.json file from https://drive.google.com/a/twilio.com/folderview?id=0B5JXE0oJeowgODg2NjRPN1FvSTQ&usp=sharing

I also

[2016-04-06 18:38] srbangre commented on #375
okay, i could use _.includes() command but command _.split() is not recognized. i get error - There was an error in evaluating the test script:  _.split is not a function

here is what i am doing -

var ListOfStores = postman.getEnvironmentVariable('storelist')
var storelist = _.split(ListOfStores, ',', 2)

[2016-04-07 08:15] czardoz commented on #376
Closing this issue now, @akapoor47 feel free to reopen if you're still facing this issue :)

[2016-04-07 08:15] #376 closed

[2016-04-07 08:56] czardoz commented on #375
Okay, I did some digging about this right now.

1. `.includes` is a ES6 feature which is not available in Node yet :-(
You will have to use `_.includes` (which works fine)

2. `.split()` works fine for me in Postman (and Newman).
I wrote a small test:
[code]
and it passes in Newman as well as Postman.

3. `.sort()` works fine for me in Postman and Newman.
I wrote another small test:
[code]
Can you

[2016-04-07 11:04] czardoz commented on #377
Fixed this on the develop branch, and it'll be out in the next release (sometime this week) :cake:

[2016-04-07 14:10] davenewza opened #379 "Error: unexpected end of file at Zlib._handle.onerror"
Running newman 2.0.6 on our build is now throwing the following error:

The collection is built using Postman 4.1.3.  The collection runs perfectly fine in the Postman Collection Runner.

It's happening on a few items in our collection.  This is one of them:

[code]

I have tried replacing it but to no avail.

[2016-04-07 14:30] davenewza commented on #379
This seems to be happening on around half of our requests out of the blue.

[2016-04-07 16:08] czardoz commented on #379
@davenewza, what Node version are you using?

[2016-04-07 17:23] krisgutta commented on #377
Awesome ... Thanks very much, i will keep a look out for the release.

[2016-04-07 19:17] #377 closed

[2016-04-08 06:21] davenewza commented on #379
@czardoz v5.10.1

[2016-04-08 06:45] czardoz commented on #379
Ah, looks like a duplicate of https://github.com/postmanlabs/newman/issues/319

1. Are you able to consistently reproduce this issue?
2. Do you run into this with Node v4.x as well?

[2016-04-08 07:06] davenewza commented on #379
1. Yes, it consistently fails on specific requests.
2. Just tested this and it runs fine on Node v4.x. Will have to downgrade (thanks)

[2016-04-08 21:58] aqyblitz opened #380 "Folder name missing from request description in test report file"
The JUnit XML file produced by setting a value to the testReportFile option is great, but it doesn't have the folder the request was in attached to the request's description.

I am using each folder as a way to isolate a functional test case as a part of the sequence, and can't generate a meaningful result summary without having the folder name. Could this be added?

[2016-04-08 22:22] aqyblitz opened #381 "More test cases returned than executed in a single call"
I call Newman three separate times from Node.js on individual collections, all with their own Postman tests. However, in both the testReportFile and the outputFile, I get all of the test cases that were run in the scope of the Node.js script.

In order to match the aggregate test results to a folder, I am currently using the outputFile. I grab the "folders" object, and use the request codes to mat

[2016-04-11 22:10] rodgeve commented on #249
I solved my problem, I was getting ESOCKETTIMEOUT errors from Newman for the same (GET) request that was succeeding in Postman.  After comparing the Postman requests to Newman and an equivalent curl command in Wireshark I determined the difference to be the 'Connect' header values.  I'm using Newman with Node.js v5.x (the same problem is present in Node.js v4.x).

The fix:
1. Set the 'Connect' hea

[2016-04-12 06:31] stiasta commented on #315
What is the progress on the rewrite?

[2016-04-12 23:31] krisgutta commented on #377
Is there an ETA on this update?

[2016-04-14 11:10] matteogit commented on #373
Thanks for your feedback, unfortunately in Node console there are no errors, maybe would be nice if we get as result the related connection error ( `ECONNRESET` , `ETIMEDOUT` ... )
Maybe will try to log whats inside the `error` parameter

https://github.com/postmanlabs/newman/blob/a3c467231e8758a3882bc17fd83533780f9fe41a/src/runners/RequestRunner.js#L181

[2016-04-14 11:26] wendyyy commented on #235
Could you please explain this more details?
I run my test successfully with postman plugin. But when I try to execute with command line (newman). It fail: "
RequestError: [cd00d2ed-75e1-c8bc-0e9b-d0ebc094e41e] 'get_auth_rmaxx_HANA copy' terminated. Complete error:
Error: tunneling socket could not be established, cause=write EPROTO
    at ClientRequest.onError (/usr/local/lib/node_modules/newman/n

[2016-04-14 12:11] blowsie commented on #235
@wendyyy

In windows you can configure your proxy in the internet options
![image](https://cloud.githubusercontent.com/assets/308572/14527484/452bfafe-0242-11e6-8d18-9dfea1074c64.png)

Advanced:
If this conflicts with your existing settings, you can run a local proxy using something like CNTLM.

[2016-04-14 13:09] czardoz commented on #377
Hi, this was released in `v2.0.7`. Updating Newman should bring in the fix.

[2016-04-14 13:12] czardoz commented on #235
Yep that should do it! :)

@wendyyy If you're using Mac/Linux, you can run Newman like this:

[code]

[2016-04-14 18:40] czardoz opened #382 "Handle deflate encoded responses"
Newman currently is unable to process `deflate` encoded responses. Try to work around this without forking the `request` library

[2016-04-14 18:41] abhijitkane opened #383 "Deflate encoding not supported"
GET https://echo.getpostman.com/deflate works in Postman, but not in Newman.

The `Content-Encoding →deflate` header seems to be causing problems in the request module.

[2016-04-14 18:42] abhijitkane commented on #383
Duplicate of https://github.com/postmanlabs/newman/issues/382

[2016-04-14 18:42] #383 closed

[2016-04-15 08:10] vrushali3110 opened #384 "no way to specify content-type for raw data in request"
I am trying to send POST request to url with raw data and content type as json.
Somehow i am not able to post request successfully with data and it gives me 404 error
same collection works well with postman but exporting and using it in newman does not send successful request with raw json data.

[2016-04-15 09:12] czardoz commented on #384
Hi, are you setting the `Content-Type` header value? Postman adds the header automatically if you select json in the drop-down.

A response of 404 means that the URL is incorrect. Can you outline the exact steps you took upon adding the request?

[2016-04-15 10:17] czardoz commented on #382
https://github.com/request/request/issues/2171

[2016-04-15 12:15] sergeev-v opened #385 "HelperProcessor didn't replace request url"
HelperProcessor didn't replace request url for OAuth1.

I found that `setUrlParamStringWithOptBlankValRemoval `function uses `request.url` instead `request.tranfromed.url`
https://github.com/postmanlabs/newman/blob/develop/src/utilities/HelperProcessor.js#L488
in line 490 and 518.

[2016-04-15 18:36] cwbell1 opened #386 "Feature Request- Provide more information in JUnit output file"
I think the JUnit testcase file output could be more robust.

1. Append the collection name in full or partial in the test case name record.
1. Provide the request/response details on failed test case records.

[2016-04-15 18:43] cwbell1 opened #387 "Feature Request - Run multiple collections from command line"
Passing in a run argument you should be able to run more than one collection in a single call to newman. Possibly by passing in the name of a folder, or a filename pattern matcher. Also you should be able to specify if these collections run synchronously or in parallel.

[2016-04-16 17:28] czardoz commented on #387
Hi @cwbell1,

In a way, collections are single units by themselves. Running multiple collections in one go sort of goes against that philosophy, so I don't think Newman will support it in the near future.

That being said, it is fairly straightforward to write a Bash script that can launch multiple Newman processes, so you might want to consider that option :-)

Cheers!

[2016-04-16 17:28] #387 closed

[2016-04-18 10:00] #319 closed

[2016-04-18 10:02] czardoz commented on #379
Fixed on develop, will be available in the next release.

[2016-04-18 10:02] #379 closed

[2016-04-18 10:02] czardoz commented on #385
fixed on develop, will be available in the next release.

[2016-04-18 10:02] #385 closed

[2016-04-18 10:03] czardoz commented on #382
Fixed on develop with the latest version of the request library. Will be available in the next release.

[2016-04-18 10:03] #382 closed

[2016-04-18 16:42] wendyyy commented on #235
Thanks @czardoz and @blowsie. I use mac. The socket error is gone after I add HTTP_Proxy...
But now it is ETIMEOUT error ...

[2016-04-18 21:23] cwbell1 opened #389 "Newman does not dereference variables the same as Postman"
I found a situation where newman does not completely dereference a variable.
Assume the following are set in the pre-request script.
[code]
Assuming I do not know the value of salutation ahead of time (as it could change), in the body of the request I send "{{{{salutation}}Name}}". In this situation Postman dereferences 'salutation' to 'Hello', finally dereferencing 'HelloName' to get the end resu

[2016-04-18 22:07] cwbell1 commented on #389
I noticed that if I export my globals the following shows:
[code]

[2016-04-18 22:08] abhijitkane commented on #389
@cwbell1 In your scripts, the {{..}} notation won't work.

Use `postman.setGlobalVariable(globals.salutation+"Name"," World");`

[2016-04-19 02:16] ronteddu opened #390 "Newman returning 500 UNEXPECTED_ERROR for a request that worked in Postman"
I have a collection with one request that gets content from a micro service. This works fine when run in Postman with a 200 and response body as expected. I have 2 tests to check for status code and body content.

There are no environment variables to this request. When I run this collection in Newman, I am receiving a 500 UNEXPECTED_ERROR response (checked the verbose log).

Console log of the re

[2016-04-19 07:06] czardoz commented on #235
@wendyyy Please open a new issue for that :-)

[2016-04-19 07:22] ronteddu commented on #390
To get this working I had to add Accept:application/json in the header. I still wish Newman could handle this.

[2016-04-19 07:34] czardoz commented on #390
@ronteddu If you select "JSON" in the dropdown, Postman will add the header automatically.

![19-apr-2016 01 03 33pm](https://cloud.githubusercontent.com/assets/3726484/14631078/43694078-062f-11e6-9946-4ae319f4e5d2.png)

[2016-04-19 07:34] #390 closed

[2016-04-19 07:37] czardoz commented on #390
Unless explicitly specified, Newman will never add any headers, because the header will then be sent to servers which may not support them :)

[2016-04-19 07:52] ronteddu commented on #390
@czardoz The request method is GET, so cannot select anything as the body would be disables :)

[2016-04-19 08:09] czardoz commented on #390
Actually, I misread your comment. I thought you were talking about the `Content-Type` header, which is inserted when you select a value in the dropdown :)

For the `Accept` header, the same logic applies though, it's not possible to know in advance what the server accepts :)

Glad you got your issue fixed though. We'll update our documentation to mention this common case.

[2016-04-19 10:54] niraida commented on #153
@abhijitkane are any news about these features?

[2016-04-19 13:50] davenewza commented on #249
@rodgeve @johnmckinzie I'm having the same ESOCKETTIMEOUT issue with newman using Node.js 4.x.  I've tried the 'Connect' header but still the problem persists. This only appears to be happening on GET requests.

[2016-04-19 13:53] davenewza commented on #249
Working!  The header is 'Connection', not 'Connect'.

[2016-04-19 23:57] ronteddu commented on #390
Thanks @czardoz

[2016-04-20 16:32] srbangre commented on #375
unfortunately i cannot share my code here but i was able to use custom functions just the way you explained above. Thank you so much for that.  so i guess you can close this ticket.

[2016-04-21 05:12] czardoz commented on #375
Great, glad to hear things are working fine :)

[2016-04-21 05:12] #375 closed

[2016-04-21 12:53] #389 closed

[2016-04-21 13:56] davenewza commented on #386
If each test could be prefixed with the request name (as an option), it would not only provide more context to each test but also will give each test a unique name (great for build reports!)

[2016-04-22 17:46] ebelanger commented on #386
I would really like this feature too and would probably add to ask that the folder name be present too.  The way I organized my tests is that we have one collection which contains one folder for each test case.

It is near impossible right now with this scenario to determine what request failed since they all share similar names because the folder is the discriminator.

[2016-04-23 13:46] rodgeve commented on #249
Thanks for the correction.  I've updated my post.

On Tue, Apr 19, 2016 at 9:53 AM, Dave <notifications@github.com> wrote:

[2016-04-26 04:46] anyone-can-test opened #392 "Add the collection/folder name to test name in xml result."
I run collection in Jenkins.
Test name is only request name in xml result (like JUnit).
If I have several folders and requests, then tests is not structured like class/method.

So, I want that test name has request and folder name.
For example.
[collection name].[folder name].[request name]

Thank you.

[2016-04-26 06:33] deanrather opened #393 "Usage as library doesn't resolve variables in URI"
- in one test I use a pre-request script to set a variable (req 1 has a Test script with: `postman.setGlobalVariable("myKey", "myVal");`)
- in another test, I use that variable in the uri. (req 2 has the uri: `https://myhost/{{myKey}}`)
- this works on postman UI
- works on newman CLI
- doesn't work on newman as a library - unless you put `responseHandler: 'TestResponseHandler'` in the options.

I

[2016-04-26 06:37] abhijitkane commented on #393
@deanrather This is mentioned in the 'Library' section at https://www.npmjs.com/package/newman
@czardoz Will it make sense to add TestResponseHandler as a default for now?

[2016-04-26 09:14] sergeev-v opened #394 "HelperProcessor reference error for underscore"
Related issue: https://github.com/postmanlabs/newman/issues/385

[code]

[code]

[2016-04-28 07:28] kanishka84 commented on #367
I am facing similar problem.
tests["Status code is 500"] = responseCode.code === 500;
tests["Body matches string"] = responseBody.has("conflict: Document update conflict.");

these tests passes in Postman but fails in Newman

[2016-04-28 08:00] czardoz commented on #367
@kanishka84 could you open a new issue with more details? I'm specifically looking for:
1. Does Newman show any error message?
2. Does your request use any specific content type?
3. Is it an HTTPS request?
Thanks!

[2016-04-28 11:56] ok11 commented on #377
Seems to not work in 2.0.9
What I'm doing, is setting a random user name in a prerequest script:
`"preRequestScript": "postman.setEnvironmentVariable(\"userLogin\", \"user{{$randomInt}}\");\n",
`
and then use in a request body
[code]
Works fine in Postman, what I get as a `userLogin` in Newman, is `user{{$randomInt}}`.

I must admit, I'm new at Newman, maybe I misunderstand the concept, but I thou

[2016-04-28 17:50] ebelanger commented on #380
#392

[2016-04-28 17:52] ebelanger commented on #380
#392
#386

Both of these issues have been opened afterwards for similar reasons.

[2016-04-29 08:24] ok11 commented on #221
Sorry, I may be blind, but the log file (I tried both -t and -o) does not have request and response data. Are there any other settings I have to care about?

[2016-04-29 08:39] czardoz commented on #221
@ok11 The correct option is `-O` (note that the "o" is capital).

You can also use `--outputFileVerbose`, which is an alias to `-O`.

[2016-04-29 08:57] ok11 commented on #221
Thank! The issue was that I typed small o, not capital. It works now.

[2016-04-29 16:19] #221 closed

[2016-04-30 13:45] Zambonilli commented on #290
I was able to find a work around by changing the bin/newman shebang to pass --max-old-space-size=8192 to node.

[2016-05-02 01:44] anyone-can-test commented on #355
I like this feature.

[2016-05-04 20:40] reggi opened #395 "Discrepancy with fail count"
For some reason the first failure is not being added to my fail count.

[code]

[2016-05-04 20:41] abhijitkane commented on #395
@reggi A test failure is when a `tests[testName]` is set to false. In the first request, since JSON.parse threw an error, the rest of the test script was never executed.

The 24 refers to test cases, not requests.

[2016-05-04 20:55] reggi commented on #395
gotcha thanks!

[2016-05-05 02:40] kulisics opened #396 "Newman Blows Up on Tests"
I created a path in Postman as follows.

{{BASEURL}}/{{FILES_SERVICE}}/{{FILES_VERSION}}media/system/{{storageSystemId}}/{{TEST_DIR_ENCODED}}/apps

I created a directory, wc-1.00, at the resulting location.

I then access the constructed directory to upload a file. The URL is:

{{BASEURL}}/{{FILES_SERVICE}}/{{FILES_VERSION}}media/system/{{storageSystemId}}/{{TEST_DIR_ENCODED}}/apps/wc-1.00

When t

[2016-05-05 04:34] ronteddu opened #397 "Newman not executing tests that involve an array when there is an error but moves on to the next request"
I do know that -s and -x switches are for stopping on error and continuing on error. However, in this specific scenario I am extracting an array number into a variable when the required data is found in a specific array and use that array number to do my remaining tests passed as a variable.

Upon encountering an error such as not finding the required data in any of the array results, Newman passe

[2016-05-05 06:14] kanishka84 opened #398 "Test Passes in Postman but fails in newman"
@czardoz
I created some tests using Postman, they work fine in postman and the results passes this is what i expected.
Now when I started running these tests in Newman some of the test started failing.
I introduced delay in running the test's in newman. They solved the problem for a while but time to time these tests fail. This has led me to believe that using delay is not a very good solution.

T

[2016-05-05 06:14] kanishka84 commented on #367
@czardoz
I introduced delay while running the tests in newman. Initially the test's started passing but they fail time to time. I do not believe using using delay is a good solution and i am still looking for a better solution. For your answers
1. Does Newman show any error message?
- No it shows no error, only the tests fail.
2. Does your request use any specific content type?
- Content type for

[2016-05-05 07:36] #395 closed

[2016-05-05 07:45] czardoz commented on #396
Weird, I'm not able to reproduce this. Can you share a sample collection that blows up this way?
I think that it's the request _after_ this one that's causing the failure.

[2016-05-05 07:55] czardoz commented on #397
With the `-x` option, Newman will return a non-zero exit code, which indicates the run failure. There are two things at play here:
1. Errors <- Meaning Newman was not able to successfully run the test
2. Test failures <- The test did not pass

Newman does not report Errors in the summary currently. One workaround is to wrap your code in a try-catch:

[code]

[2016-05-05 07:58] czardoz commented on #398
Since these failures are intermittent, they are probably caused by some race condition between the server and Newman.

Can you log the responseBody in your test script and see what it is when the test fails?
[code]

[2016-05-05 08:00] czardoz commented on #397
As an aside, APIs should not return JSON Arrays, for security reasons: http://flask.pocoo.org/docs/0.10/security/#json-security

[2016-05-05 08:45] kanishka84 commented on #398
I have tried the console.log(responseBody)
The response body contain a bunch of error message which is send from our couch DB. Also the status code is 500 which is verifying in the test bellow as a negative test case
tests["Status code is 500"] = responseCode.code === 500;

Now getting back to the response the response contains a message from couch which is again used in a test.
"message": "confli

[2016-05-05 08:57] czardoz commented on #398
The next time your negative test case fails, can you check what the response body is, and post it here?

[2016-05-05 09:01] kanishka84 commented on #398
This is the response body

{
  "name": "CouchError",
  "message": "conflict: Document update conflict.",
  "error": "conflict",
  "reason": "Document update conflict.",
  "headers": {
    "server": "CouchDB/1.6.1 (Erlang OTP/R16B03)",
    "date": "Thu, 05 May 2016 08:59:59 GMT",
    "content-type": "text/plain; charset=utf-8",
    "content-length": "58",
    "cache-control": "must-revalidate",

[2016-05-05 09:12] czardoz commented on #398
Well, you're testing for error code 500, but the status in the response is 409. Is that the issue?

[2016-05-05 10:04] kanishka84 commented on #398
Good point. I have made some changes to see if this is the problem.

I changed my test totests["Status code is ok"] = responseCode.code === 409;; and run the test from postman as well as newman. In both the case the TC failed.
I am attaching a screen shot from postman which captures the status code to be 500
![capture](https://cloud.githubusercontent.com/assets/18544878/15041058/c642fec2-12d6-11e6

[2016-05-05 13:53] kulisics commented on #396
I'd send you the collections, but they'd probably be of little help if I
strip out the authentication information required to run them. In any case,
I have found the exact problem.

Here is the Postman version:

4.1.3
linux / x86-64
Chrome 50.0.2661.75

The problem is that when you use 'form-data` as the body type and choose a
file to upload as a field, (called 'fileToUpload' in my case, for examp

[2016-05-05 15:39] davenewza opened #399 "{{$guid}} to generate new GUIDs within the same request"
Using `{{$guid}}` more than once in the same request yields the same GUID. A new GUID should be generated each time.

[2016-05-05 19:17] bartpowers commented on #242
I would just like to stay updated on the issue that this function is not supported via newman.

postman.getResponseCookie is not a function 200 137ms https://...

Please let me know if this will be addressed or if i need to work on a different platform to handle these requests.

any other options to achieve this?

[2016-05-06 01:23] ronteddu commented on #397
Thanks @czardoz. I'll try the try catch above and consider the security reason as well.
It'd be very nice if Newman can try and run those tests and fail them instead of writing error to console which the user may or may not see. If the tests are failed then at least the count will show that there are failed tests in that folder or collection which the user can view in the logs.

For the time being

[2016-05-06 07:14] czardoz commented on #396
File uploads are actually a known limitation for which we've not yet found a good solution. The problem is, collections are meant to be shared amongst teams, and everyone keeps files in different directories, so storing the file path does not make sense.

Another option is to store the file content in the collection itself, but that can become just too big, so we don't do that.

This use case is d

[2016-05-06 07:16] czardoz commented on #399
Hi, what newman version are you using?

[2016-05-06 07:26] davenewza commented on #399
I am using 2.0.8.

[2016-05-06 07:36] czardoz commented on #399
Makes sense.. until I fix this, you can use this small snippet to generate one:

[code]

[2016-05-06 17:01] kulisics commented on #396
I don't think that you understand the problem. This is not a problem with
my understanding of the use cases. ** This is a real bug. **

I was running the collection from newman as described in the link, and the
uncaught exception and application fault in my original post was from a
newman run.

The problem is that Postman produced a JSON file that was incorrect. It
didn't include a filename for th

[2016-05-06 17:52] deardooley commented on #396
+1 this is the reason we're not onboarding our entire dev team to a paid annual cloud subscription. Sync regularly deletes tests we're writing in different collections and import/export changes the tests we've written so we can't effectively collaborate and still maintain integration with our existing build/test process. Great tool, just stuff like this keep it from being enterprise ready...as muc

[2016-05-06 17:59] a85 commented on #396
@deardooley We'd like to see why sync is regularly deleting stuff for you or your team. Can you email us at help@getpostman.com. Post video calls what we have found out is people keeping old requests open and then overwriting someone else's tests. We have an activity feed in the website now that should help in diagnosing these issues. This + notifications is coming in the app in May.

@kulisics We

[2016-05-06 20:10] bclodius opened #400 "Auth issue for helperAttributes formatting"
We've run across the following issue for some of our test cases.

Postman exported file creates some helperAttributes like such.

[code]

This will cause a test case that passes in Postman to fail in Newman until the formatting is updated like such.
[code]

[2016-05-07 06:03] contactprad commented on #289
2.0.5 it is.

[2016-05-07 13:24] davenewza commented on #399
That's great!

Something to consider is that this may be a breaking change for some clients.  The fact that the GUID generated remains the same regardless of the number of {{$guid}}s used may be something that someone out there is intentionally utlising.

[2016-05-09 07:24] abhijitkane commented on #396
@kulisics Right. We'll be pushing a fix for this in the next version of the app.

[2016-05-09 07:41] czardoz commented on #289
@contactprad are you providing an environment to Newman, using the `-e` option? None of the variables in your request have been resolved to their values.

[2016-05-09 07:43] czardoz commented on #400
@bclodius This was a problem, but has been fixed in the latest version of Postman. Can you update Postman and try exporting again?

[2016-05-09 11:50] czardoz commented on #399
Postman only generates a single one, so generating a new one in Newman breaks compatibility. I'm marking this as deferred for now.

[2016-05-09 11:53] czardoz commented on #398
Hmm, hazarding a guess here, since I don't have a concrete test case to reproduce the issue. Can you try changing your test case to this?

[code]

[2016-05-10 21:35] praphull commented on #339
Tried to implement this, but it's a little difficult to figure out CsvHelper, as it is minified.

[2016-05-10 22:49] KavithaFP opened #402 "Newman breaks if header is empty"
Got error
/usr/local/lib/node_modules/newman/src/utilities/Helpers.js:112
        headers.split('\n').forEach(function (str) {
               ^

TypeError: Cannot read property 'split' of undefined
    at Object.jsface.Class.generateHeaderObj (/usr/local/lib/node_modules/newman/src/utilities/Helpers.js:112:16)
    at Object.jsface.Class._getRequestOptions (/usr/local/lib/node_modules/newman/src/ru

[2016-05-12 13:06] bclodius commented on #400
@czardoz I've imported and exported a number of postman collections and used them with newman since and haven't seen any issues.  I think the formatting issue was left from a much older export from a much older version of postman.

[2016-05-12 13:06] #400 closed

[2016-05-13 06:07] ckingsbu opened #403 "JSON.parse(): Unexpected end of input200"
Hello, I have a set of tests that are working fine from Postman, but randomly failing when run from newman.  The output of newman has the following:

200 1069ms TICK QuoteTicks [GET] https://private:443/api
    ✔ Check 2 bars returned
    ✔ Check instrument
    ✔ Check timeStamp
    ✔ Check bidPrice
    ✔ Check askSize
    ✔ Status code is 200
Encountered an error during JSON.parse(): Unexpected e

[2016-05-13 07:16] czardoz commented on #403
Weird. Can you try logging the response body using:
[code]
in your Test script?

[2016-05-16 04:42] ckingsbu commented on #403
Hi @czardoz, please ignore my email.  After further investigation, it actually appears to be a bug in the server thats triggered when the test run in a particular order.   Newman actually did exactly what its supposed to, great!

[2016-05-16 04:42] #403 closed

[2016-05-16 09:36] abhijitkane commented on #396
@kulisics Can you confirm this fixed in the latest version of the app?

[2016-05-17 14:30] bruno-lopes commented on #134
This is a very good question. @wbrooks1981 you found an answer to your case, but in my opinion, Newman should permit that we pass a Postman dump file (possibly with lots of collections), and use this as parameter, in order to run all the collections defined in Postman.

[2016-05-17 17:09] tk-codes opened #404 "Custom TestResponseHandler"
Now I just pass the existing reponse handler.
`responseHandler: "TestResponseHandler"`

This is very limited. Is it possible to write a custom response handler, which extends the TestResponseHandler?
If yes, could you please instruct me, how to do it?

[2016-05-17 21:12] brestrepo opened #405 "All tests fails even though they work in postman"
I tried newman with different environments and all the tests that I have working in POSTMAN fails. I think it's not sending the x-www-form-urlencoded declared on the collection.

![image](https://cloud.githubusercontent.com/assets/3628924/15339440/6f24dcac-1c52-11e6-885f-51bc23523bf8.png)

[2016-05-18 08:40] czardoz commented on #405
@brestrepo Does the Content-Type header exist in the request?

[2016-05-18 12:22] brestrepo commented on #405
This is how the request looks when I exported the collection:

`{
                "id": "166a55d9-6cff-b1c2-3b1b-d10283c56b36",
                "headers": "",
                "url": "{{url}}/oauth/authorize?response_type=code&client_id=cid&state=xyz",
                "preRequestScript": "",
                "pathVariables": {},
                "method": "POST",
                "data": [

[2016-05-18 14:15] kulisics commented on #396
As far as I can tell so far, the problem appears resolved. Thanks.

On Mon, May 16, 2016 at 9:36 AM, Abhijit Kane <notifications@github.com>
wrote:

[2016-05-18 14:16] #396 closed

[2016-05-19 09:00] czardoz commented on #405
That is the tv4 validation failing. Can you do a "console.log(data)" before calling tv4 and see if it's the expected value?

[2016-05-19 12:45] brestrepo commented on #405
It's not the expected data. The response[] and the [] in the print screen is the result of this:

[code]

The response comes empty because newman is not passing any post data to the endpoint. If it passed wrong data I'll get this as a response

"User not found"

![image](https://cloud.githubusercontent.com/assets/3628924/15393642/73f4f6ea-1d9c-11e6-8ee9-88e9f3a7ba01.png)

When I remove the data it

[2016-05-25 15:19] lordspace74 opened #406 "Newman breaks with underscore 1.5.2"
The newman dependency for underscore is 1.x.x but I've detected an issue for underscore 1.5.2, the function now() does not seem to present!

/newman/src/utilities/VariableProcessor.js:27
        timestamp: _und.now(),
                        ^
TypeError: _und.now is not a function ...

My suggestion is to increase the underscore version to the required minimum

[2016-05-26 07:23] pollenflugkalender commented on #398
I have a comparable issue.

I extract content from the response header "location" via postman.getResponseHeader("Location") and save it in the env variable targetUri via postman.setEnvironmentVariable("targetUri", postman.getResponseHeader("Location"));

Then I request (GET) this URI in the next testcase. This works in postman without problems but if I run the same code in Newman the Variable targ

[2016-05-26 07:29] czardoz commented on #398
@pollenflugkalender Can you try logging the environment variable value after setting it?
[code]

[2016-05-26 08:02] pollenflugkalender commented on #398
I guess I found the underlying problem. The POST request I do before fails therefore there is nothing to extract. And it seems that Newman sends the request body differently then Postman. The backend returns a 400 an in the server side log I see the following error: INVALID_PAYLOAD|Invalid json format

[2016-05-26 08:34] pollenflugkalender commented on #398
Okay, now it becomes weired. According to the server logs the body is empty and therefore invalid. Newman does not send the body in the POST request.

[2016-05-26 08:53] czardoz commented on #398
Seems like a bug! Can you tell me the following:
1. Newman version
2. Node version
3. Can you export your collection from Postman, open it in a text editor, search for your request using the name, and post the entire request JSON block here?

It should look something like this (but it can have other stuff in it too):
[code]

I am especially interested in the `data`, `dataMode` and `rawModeData` at

[2016-05-26 09:48] pollenflugkalender commented on #398
1. Node version: v5.3.0  (Windows)

2. Newman version:
└─┬ newman@2.0.9
  ├─┬ jsdom@7.1.0
  │ ├── cssstyle@0.2.36
  │ └─┬ htmlparser2@3.9.0
  │   └─┬ readable-stream@2.1.4
  │     └── buffer-shims@1.0.0
  ├─┬ postman-collection-transformer@1.5.6
  │ └─┬ intel@1.0.2
  │   └── symbol@0.2.3
  └─┬ xml2js@0.4.16
    └─┬ xmlbuilder@4.2.1
      └── lodash@4.13.1

3. This I have to check that with our sec

[2016-05-26 09:50] czardoz commented on #398
Okay. Ideally, if the request should have the following:
1. `dataMode` should be "raw"
2. `rawModeData` should contain your JSON body
3. `headers` should contain a `Content-Type` header, set to `application/json`.

[2016-05-26 09:56] pollenflugkalender commented on #398
1. "dataMode" : "raw",

2. "rawModeData" : "{\"start\":\"2016-02-22T12:45:37Z\",\"end\":\"2016-10-22T12:45:37Z\",\"displayStart\":\"2016-02-22T12:45:37Z\",\"displayEnd\":\"2016-10-22T12:45:37Z\",\"weight\":30,\"type\":\"Info\",\"text\":{\"en\":{\"title\":\"en Title\",\"text\":\"Text\"},\"fr\":{\"title\":\"fr Title\",\"text\":\"Text\"},\"de\":{\"title\":\"de Title\",\"text\":\"Text\"},\"it\":{\"tit

[2016-05-26 17:18] reggi opened #408 "Is there any way for newman tests to contribute to code coverage?"
Not even sure what this really entails. But the idea is I'd like to pipe in newman tests to account for my code coverage. Is this something that is possible?

[2016-05-26 17:57] willybill commented on #377
I updated newman on my windows workstation to 2.1.0 and am running 2.0.9 on the linux server and I am still seeing this behavior in both places.  In my data file I set variable "filename": "RunnerTestDoc{{$timestamp}}" and when I run a test using Postman Runner it sets filename to (RunnerTestDoc1464285327.docx) but when I run the same test using newman it sets filename to (RunnerTestDoc{{$timestam

[2016-05-27 09:46] czardoz commented on #408
Interesting. This is totally dependent on your technology stack though. If it allows measurement of code coverage when running certain external commands, maybe it's possible.

E.g: If I were using Python's `unittest` module, I could _probably_ write a test-case that calls Newman, and generate code coverage reports using something like coveralls.

I don't think there's any chance of having such a f

[2016-05-27 09:46] #408 closed

[2016-05-31 16:48] airios commented on #261
Was this removed in recent releases? @abhijitkane @czardoz

[2016-06-01 03:14] czardoz commented on #261
@airios, no, it wasn't removed. Are you having problems with this?

[2016-06-02 15:30] molleti-vamshi opened #410 "Orchestration layer which support integration with multiple clients"
@shamasis : Could you gimme a list of integrations that you want to do?

[2016-06-02 15:31] srbangre opened #411 "Newman is not sending {{property}} if it contains special characters like %"
i am hitting the GET url - {{EndPoint}}/member/pre_enrolled?card_number={{PreEnrolledAlias}}&security_code=1111&mobile_number={{2BPhoneNumber}}
 it works in postman but in newman its failing.
value stored in 2BPhoneNumber is - %2B11234567891
server logs says -

pre_enrolled?card_number=314784020&security_code=1111&mobile_number=**%7B%7B2BPhoneNumber%7D%7D**

[2016-06-03 02:01] Scottsuen opened #412 "html report inline CSS style can not display properly in jenkins workspace"
newman version: 2.0.9
OS: os x 10.11.5

chrome console report that：
[code]

[2016-06-03 17:46] swapnilpatne opened #413 "handle file download request from Newman"
How to handle file download request from Newman? Can someone please answer?

[2016-06-03 19:45] hantuzun opened #414 "Verbose output file is not logged in the end of execution"
Verbose output file is logged at the end of execution like output file and html report.

options:
<img width="346" alt="screen shot 2016-06-03 at 12 43 24" src="https://cloud.githubusercontent.com/assets/2770895/15790888/e20c3cc2-2988-11e6-94ac-fb1b9a361c5b.png">

output:
<img width="423" alt="screen shot 2016-06-03 at 12 42 53" src="https://cloud.githubusercontent.com/assets/2770895/15790889/e20f

[2016-06-03 19:52] hantuzun opened #415 "Parent column is too narrow in execution summary"
For our use case Parent names are longer than the space provided in summary table.

For example:
<img width="438" alt="screen shot 2016-06-03 at 12 41 49" src="https://cloud.githubusercontent.com/assets/2770895/15790943/5a0d9d24-2989-11e6-8189-2c518291bf28.png">

This makes it harder to follow individual errors.

A solution can implement the followings:
 * Parent column may have a minimum number o

[2016-06-03 20:02] hantuzun opened #416 "Response time of the first request in collection is longer"
Response time of the first request in collection is around 200ms longer than the real request time.

Currently we work around this issue in our performance critical application by adding a dummy request on top.

[2016-06-04 03:40] czardoz commented on #416
This is the DNS resolution happening. I don't see any way of working around this.

[2016-06-04 05:16] deporter opened #418 "lodash version needs to be updated"
I get an error when trying to run newman on the command line caused by `_.get()` not existing. As far as I can tell this method doesn't exist on lodash 3.5.0 which is the dependant version for newman 2.1.0. It only gets introduced in lodash 3.7.0. The newman execute method utilizes the `_.get()` method from lodash.

[2016-06-06 15:33] srbangre commented on #411
ok i found the issue.
i was generating this 2BPhoneNumber property file using some script so that it will automatically create the property variable. that inserted some junk characters(not visible to eye).
I had to go to manage environments, delete that prop variable and manually create it. after that it worked.
So problem is with creating env variables thru scripting inserts some junk value.

[2016-06-07 07:40] czardoz commented on #413
@swapnilpatne You mean saving the request to a file?

[2016-06-07 07:57] swapnilpatne commented on #413
I mean when a response of a request is file e.g. pdf or zip or xml file etc

[2016-06-07 07:59] czardoz commented on #413
Hmm, Newman will expose the responseBody as the `responseBody` parameter in your tests, but there's currently no way to save responses to a file.

[2016-06-07 08:04] swapnilpatne commented on #413
Is there a way by which from "tests" tab in Postman I can read the filename returned in response header and then write a javascript code to get that response written in file? And then can run those requests from newman?

[2016-06-07 08:16] czardoz commented on #405
@brestrepo Does this collection work in your Newman? https://www.getpostman.com/collections/14c687ae74ac0d0d93b8

It contains a sample POST request to echo.getpostman.com, which contains two URL-encoded parameters

[2016-06-07 08:55] #402 closed

[2016-06-07 08:55] #406 closed

[2016-06-07 08:55] #418 closed

[2016-06-07 10:36] emrehan commented on #416
I see. We can try to resolve all the domains in the collection initially. Would it worth the complexity it will bring?

[2016-06-08 01:34] wkuckro opened #421 "Error on install OSX 10.11"
[code]

[2016-06-08 20:49] qrobinson opened #424 "TypeError: 'caller' and 'arguments' are restricted function properties and cannot be accessed in this context."
xxxxxx@xxxxxxx:/opt/node-v5.9.1-linux-x64/bin$ ./npm version
{ npm: '3.9.5',
  ares: '1.10.1-DEV',
  http_parser: '2.6.2',
  icu: '56.1',
  modules: '47',
  node: '5.9.1',
  openssl: '1.0.2g',
  uv: '1.8.0',
  v8: '4.6.85.31',
  zlib: '1.2.8' }

xxxxxx@xxxxxxx:/opt/node-v5.9.1-linux-x64/bin$ ./newman --version
1.3.2

xxxxxx@xxxxxxx:/opt/node-v5.9.1-linux-x64/bin$
./newman \
-O '/home/xxxxxx/Docume

[2016-06-09 03:25] czardoz commented on #424
This is because of a version mismatch (you're probably using an older version of Node)

Check the readme for details, we have detailed instructions on installing the correct version.

[2016-06-09 07:13] #424 closed

[2016-06-09 07:29] gauravphoenix opened #425 "Newman says- "Error: read ECONNRESET" but postman test runs fine"
Using newman version "2.1.1" in a pretty standard way:

`newman -c myCollection.json -e myEnv.json
`
There is only one request in the collection which makes an HTTP POST to localhost:8080.

When I run the test using PostMan Runner  everything works fine but newman gives error-

[code]
How can I debug this further? I tried using "-O" option but the file isn't created. When I use "-o" option I see o

[2016-06-09 07:41] czardoz commented on #425
What do your server logs say? That error is coming from Node, and your server seems to be closing the connection.

[2016-06-09 07:43] gauravphoenix commented on #425
Server gives no error at all! I am running postman and newman side by side and postman and all other clients are working fine. Only newman is having trouble.

[2016-06-09 07:54] gauravphoenix commented on #425
Just did a packet capture. I observe that when Postman makes connections, the request headers look like this-

[code]

When newman makes connection, the request headers are-

[code]

As you can see , the Connection header is being set to close. I think that is the culprit.

My node version is v5.3.0

[2016-06-09 08:04] rkmresh commented on #398
I also have same issue. How to fix it?

[2016-06-09 08:09] gauravphoenix commented on #425
Thanks to docker for Mac, I was able to quickly spin off a docker container with node version v6.2.1 installed. Everything works fine with that version.

I guess something is off with node HTTP client that comes with v5.3.0.

[2016-06-09 14:03] qrobinson commented on #424
node version 5.9.1 is provided in the report, as is newman 1.3.2

[2016-06-09 14:18] czardoz commented on #424
As documented in [the readme](https://github.com/postmanlabs/newman#supported-node-versions), you need to use Newman v2.0+ (the latest is v2.1.1)

[2016-06-13 18:33] robertmazzo commented on #295
That indeed did work - just now. @abhijitkane +1

[2016-06-13 20:00] srbangre commented on #411
closing this issue for now. will open a new one if i find this again.

[2016-06-13 20:00] #411 closed

[2016-06-14 16:11] gpicazo commented on #196
**Aug 4, 2015**

@abhijitkane Is there an ETA/update on this feature yet?

[2016-06-15 05:43] krishna6100 commented on #105
I am also facing the same issue with ssl certificates, is there any update on this ?
Using newman version -2.1.1

[2016-06-15 06:41] czardoz commented on #196
@gpicazo Newman now allows you to export the environment variables at the end of the run (with the --exportEnvironment option). Is that what you're looking for?

[2016-06-15 23:14] spark85 commented on #404
I'd like to know this as well, I'd like to use Newman for response scrapping as well

[2016-06-19 08:57] riccardo-89 commented on #105
hi, also having same issue trying to contact api gateway with newman, any news?

[2016-06-21 10:08] qinfeng opened #428 "Error running in Jenkins after upgrade to v2 format"
after I upgrade the collection format to v2,  I got "Missing request: undefined" error when running the testing in Jenkins:

jenkins@f4ce0b0af0ee:~/jobs/postman_test/workspace$ newman -c grid_test.json.postman_collection
Missing request: undefined

[2016-06-21 10:24] qinfeng commented on #428
Here are some details on the environment I was running the newman:

it's a jenkin container with node v4.4.5, npm 3.9.6, newman 2.1.1

[2016-06-21 10:43] czardoz commented on #428
@qinfeng Can you share the collection file with help@getpostman.com? (If it contains sensitive information, feel free to remove those parts)

[2016-06-21 17:07] rkatsyuryna opened #429 "Test for cookies is cleared by response fails in Newman/ pass in Postman"
I have test that check if logout clear cookie for "token" and redirect to some page. I expect in response to receive  Set-Cookie header with value "token=;".

And i receive this and validate by executing:

tests["Token is cleared from cookie"] = postman.getResponseHeader("Set-Cookie").has("token=;");

or

responseHeaders["Set-Cookie"] === "token=; Path=/; Expires=Thu, 01 Jan 1970 00:00:00 GMT";

B

[2016-06-21 20:31] gerrymcgovern1 opened #430 "403 error when running tests via newman."
I am receiving a 403 error when attempting to run my tests via newman. The same tests run fine when I run them via the collection runner in Postman. We are using basic auth and my tests add the authorization header as a custom header. I have added the following to my tests in an attempt to glean more information:

`console.log(responseCode);`
`console.log(JSON.stringify(request.headers["Authorizat

[2016-06-22 01:48] qinfeng commented on #428
@czardoz the same error happens even i run against the default Postman Echo collection exported as v2. However, it works fine with default Postman Echo collection exported as v1.

[2016-06-22 01:49] abhijitkane commented on #428
Could be related to https://github.com/postmanlabs/postman-app-support/issues/2143

[2016-06-22 01:59] abhijitkane commented on #430
@gerrymcgovern1 The message says the request was legal, so the auth header is probably being sent. Can you check why the server might return a 403?

[2016-06-22 02:18] qinfeng commented on #428
@abhijitkane I am still using Postman 4.3.2 and don't have the folder issue mentioned in #2143

1. Postman Version: 4.3.2
2. App (Chrome app or Mac app): Chrome 51.0.2704.84
3. OS details: OS X / x86-64

I have no issue to run the test with newman in my local Mac terminal. I have the issue to run v2 collection exported from my local Postman App in my Jenkin Container with node v4.4.5, npm 3.9.6, n

[2016-06-22 07:21] czardoz commented on #430
@gerrymcgovern1 Can you also add a `console.log(responseBody)` and see if the response contains any information about what is failing?

[2016-06-22 13:10] gerrymcgovern1 commented on #430
@abhijitkane - I can't figure out why it is returning a 403 hence the question here! Seems very odd as it passes using the Postman collection runner.

[2016-06-22 13:32] gerrymcgovern1 commented on #430
@czardoz - Hi, in the response body I get an "Unauthorized access token" message. I have edited my collection, to include 2 tests. The first test makes a request for an access token using valid credentials and gets a response with the access token. I then saved this token into a global variable and pass this in the body of my next test. Works fine via collection runner, but not in newman. I have a

[2016-06-22 13:37] czardoz commented on #430
Hmm, there are a number of reasons why this could happen:

1. Are you using the Interceptor in Postman? If yes, are you logged in to some website which has set Cookies for this domain?
2. Do you need to use an environment with this collection? If yes, are you giving it to Newman?
3. Are you using any Auth helpers in your requests? If yes, have you saved the helper data to the request? (There's a c

[2016-06-24 10:09] garylogin opened #431 "Postman - newman responseBody"
Hi
all works good in postman...but in newman I get this in as part of output log...
"tests": "//Convert the response to JSON\nvar jsonObject = xml2Json(responseBody);

Using this collection...
https://www.getpostman.com/collections/60634c131d78f0956559
the response is soap
it appears that in newman there is no responseBody returned.
Must be doing something wrong?

[2016-06-24 10:15] czardoz commented on #431
@garylogin Your collection is missing the `Content-Type` header in every request. Can you try adding one? Usually the value should be `application/xml` :)

[2016-06-24 10:42] garylogin commented on #431
fixed!
for a simple get on an html page I assume
Content-Type:text/html ?

[2016-06-24 10:42] garylogin commented on #431
running through newman where does console.log() write to?

[2016-06-24 10:43] garylogin commented on #431
thanks

[2016-06-27 19:10] gpicazo commented on #196
@czardoz Yes, that's what I was looking for. Thank you very much.

[2016-06-28 13:45] Singh400 opened #432 "Scheduling tests/collections to run at various intervals"
I know I can export my requests/tests to a collection and run them via Newman, and I know I have some control over test execution. By using the `--number` and `--delay` arguments.

But I was hoping that I could just run a collection every x minutes indefinitely.

Many thanks,
Singh

[2016-06-28 14:04] drpoggi commented on #432
Use [Cron](https://en.wikipedia.org/wiki/Cron).

[2016-06-28 14:10] Singh400 commented on #432
I saw that, but I was hoping that Newman could do it directly. Thanks though.

[2016-06-28 14:29] czardoz commented on #432
There are no immediate plans to add something like this to Newman, there certainly are more elegant solutions like @drpoggi pointed out.

[2016-06-29 17:58] Singh400 commented on #432
Alright, that's fair.

Many thanks,
Singh

[2016-06-29 17:58] #432 closed

[2016-06-30 13:05] IgnasiAA opened #433 "XmlHttpRequest() is not defined in Newman but works in Postman"
Hi,
I have this snippet in my tests code in Postman for reading a file from local disk:

**_var ref_file = globals.referenceFileVTT;
var request = new XMLHttpRequest();
request.open("GET", ref_file, false);
request.send(null);_**

It works fine when launching the tests in Postman, but when I run the collection in Newman, I get the following error:

**_XMLHttpRequest is not defined_**

Any help on

[2016-07-01 05:57] czardoz commented on #433
@IgnasiAA XMLHttpRequest is not supported in the Postman Sandbox, The only supported libraries and objects are documented here: https://www.getpostman.com/docs/sandbox :-)

[2016-07-01 08:42] IgnasiAA commented on #433
Thanks @czardoz.
Do you know by chance if there is any way to read a file from you local disk using any of the supported libraries?
Thanks again!

[2016-07-01 08:53] czardoz commented on #433
@IgnasiAA No, there's no way to do that in Newman. It's a security issue, allowing collections to read files. You could however spin up a small server,

```python -m SimpleHTTPServer 8080```

And add requests to get the files you need to use.

[2016-07-01 11:10] IgnasiAA commented on #433
Many thanks again, @czardoz.
I got it working the way you said. I really appreciate your help :).
Cheers,
Ignasi

[2016-07-04 07:20] czardoz commented on #433
Awesome!

[2016-07-04 07:20] #433 closed

[2016-07-04 12:02] andineck commented on #295
I just ran into the same problem. `--insecure` worked.

But why is this required?

I tried to access a server with a valid certificate listed under https://hg.mozilla.org/mozilla-central/raw-file/tip/security/nss/lib/ckfw/builtins/certdata.txt which is used by node as default trusted ca (tls.createSecureContext(options)) http://mxr.mozilla.org/mozilla/source/security/nss/lib/ckfw/builtins/certdata

[2016-07-04 12:24] czardoz commented on #295
@andineck Just having a trusted CA is not enough. SSL will also check for things such as misconfigured domain names. SSL verification will also fail if the server does not support the encryption protocols supported by the client (in this case, Node.js).

[2016-07-04 13:18] andineck commented on #295
@czardoz Thank you for your answer. Do you think a wildcard certificate could be the problem?

[2016-07-04 13:45] czardoz commented on #295
I use Newman with wildcard certificates all the time, so that should not be a problem. Any number of things could be wrong really. You might want to try hitting the endpoint from the command line (with `curl` or `wget`) which usually give more descriptive error messages.

[2016-07-06 13:47] benhowes opened #435 "Certain JSON validations broken by a conflict with sugar"
Hi,

Just been hitting my head  against a problem where JSON was validating fine in the postman app, however would not pass the validation in newman.

The validation error is always: `[ValidationError: Invalid type: function (expected object)]` and I've only seen it happen when used with the `patternProperties` JSON schema sections.

After some hunting, I think I've found that the offending lines

[2016-07-06 16:14] benhowes commented on #435
Also tried with a newer version of tv4 to no avail

[2016-07-06 16:58] benhowes commented on #435
Right - as it happens, I actually had a property in my json schema with the key `keys`, which of course is also a function, so it was resolving this as a function rather than a property. In my case this was actually just a mistake (which doesn't cause any issues in postman). Problem lies with the name clash and I can't see that it's very easy to resolve.

Closing because the problem is not in newm

[2016-07-06 16:58] #435 closed

[2016-07-06 18:48] testkptest opened #436 "Newman not updating global variables"
Hi,
I am having problem with newman not updating global variables when i have response in html format.
It works fine when i run it thru postman but thru newman it is not updating global variables.
Could you please help !!

var doc = document.implementation.createHTMLDocument("none");
doc.documentElement.innerHTML = responseBody;
var value = doc.getElementsByClassName('test')[0].innerHTML;
postman.

[2016-07-08 11:39] xenogew opened #437 "Is newman has problem with using 'localhost' as a host, but Postman can do fine"
Hello newman team

I have a problem with using `newman`. I try to follow your instruction, run `newman` with my `collection.json` and `env.json`.

But just the little different host name specific return different result, even it should be the same because I use '`localhost`' and '`172.31.98.128`'. That's my machine, it's the same, and yeah `Postman` can do it fine, or even call with my web browser

[2016-07-08 11:44] czardoz commented on #437
@xenogew Your server is responding with a status code of 404. Can you add a
[code]
to your test script and paste the output here?

[2016-07-08 12:02] xenogew commented on #437
Here I found.

[code]

And what after this is the same as the picture I posted before.

[2016-07-08 12:05] czardoz commented on #437
This is a problem with your network configuration. You're probably using some sort of a firewall or proxy which is not able to resolve the DNS name "localhost".

[2016-07-08 12:09] xenogew commented on #437
So how can I solve this?

And yes, my working network has proxy setting. Can you guide me like Google keyword, I'll try to find a way myself then.

Thanks for your help.

[2016-07-08 12:23] xenogew commented on #437
I found it.

For everyone who may found same problem with me.
If you running `newman` under network with proxy setting.

Set the environment variable `NO_PROXY` with value `localhost,127.0.0.1` (or some kind like this)

Thanks very much to @czardoz who concern with my problem.

[2016-07-08 12:23] #437 closed

[2016-07-08 20:15] gerrymcgovern1 commented on #430
Hi, sorry about the delay in getting back to you on this, was on vacation.

And yes, I had used Interceptor for creating my tests. I re-wrote my test manually and it now works via newman! I believe your theory was correct regarding some cookies been set by Interceptor.

Thanks for your help!

[2016-07-08 20:15] #430 closed

[2016-07-11 21:27] re010ma opened #438 "$timestamp is a different number of digits than in Postman"
I need a 10-digit, random, unique number that does not start with zero. Unix epoch time is perfect. When I run my collection in Postman, $timestamp returns a 10-digit number, like this: 1468271500. However, when I run the collection in newman, I get a 12-digit number, like this: 1468271587648. I can write a few lines of script to get what I want and pass it in on the command line. However, is ther

[2016-07-12 14:09] dmitry-gerasimov opened #439 "Cyrillic is broken in Newman, but works fine in Postman"
I'm creating an environment variable in one request and I'm using it in another request as value of the "person" parameter. This is what the variable contains:
`"name_middle":"Александрович"`

When I run the request in Postman I see the following in the server logs:
`&person=%22name_middle%22:%22%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D0%B8%D1%87%22`

That is the correct

[2016-07-13 13:20] dmitry-gerasimov commented on #433
@czardoz In the test I need to download an image by URL and check that it's not empty. How can I do that without XMLHttpRequest?

[2016-07-13 13:47] czardoz commented on #433
@dmitry-gerasimov You can create a new request in your collection with the proper URL, and then check whether `responseBody.length` is a non-empty string.

[2016-07-13 13:49] czardoz commented on #433
For information on supported libraries inside the sandbox, check out https://www.getpostman.com/docs/sandbox

[2016-07-13 17:34] re010ma commented on #438
FYI, I worked around this by putting the following in my pre-request script:
'var my_timestamp = new Date();
postman.setEnvironmentVariable('phone', my_timestamp.getTime().toString().slice(0,10))'

[2016-07-14 05:14] GlobalAutomation commented on #398
Hi facing similar issue it seems as if body is not getting parsed in newman but test runs fine in postman.

[2016-07-14 14:30] jannemann commented on #242
I would suggest that the newman should support the same functionality as postman does. Testing authentication and especially cookies is quite important.
On the other hand, if newman acts exactly like postman we could prevent managing split collections for each "application"

[2016-07-14 16:25] jannemann commented on #429
looks like a duplicate of #242

[2016-07-15 16:58] michaelajr commented on #412
Same in Safari.
```Blocked script execution in 'https://.../output/index.html' because the document's frame is sandboxed and the 'allow-scripts' permission is not set.```

[2016-07-18 11:36] dmitry-gerasimov opened #444 "Feature request: Show subfolder names in the test run output"
There could be requests with similar names in different subfolders. Testing for different usage, fails, etc. So when you're looking into the long output to find out details of a failed test it's quite easy to loose context. Sectioning of the output by subfolder names would help a lot.

[2016-07-21 14:58] robizz opened #454 "launch AWS API Gateway Postman export as collection gives no output"
Hi,

I'm trying to automate my  AWS API Gateway testing using newman with a API GW Postman export json file.

I tried to launch the following command adding also global variables and method specific variable

newman -c dldxxxse-qa-postman.json -f v0 -e get_asset.postman_environment.json -g globals.postman_globals.json

with

"dldxxxse-qa-postman.json" is the API GW postman export
"get_asset.postma

[2016-07-21 15:02] czardoz commented on #454
@robizz Can you share your Newman version and your Node version?

[2016-07-21 15:14] robizz commented on #454
@czardoz

newman --version
2.1.2

node --version
v4.4.1

I noticed that the operation that I do in postman to execute an AWS API GW collection is to import the aws generated json via the "import" button

in fact an api gw postman export is totally different from an exported postman collection.

maybe am I missing something?

thanks!

[2016-07-21 15:36] czardoz commented on #454
Yep, API Gateway exports a Swagger based format that Postman supports, not a collection file.
You would have to import it into Postman, and export it from Postman, so that Newman understand the file :)

[2016-07-21 15:43] robizz commented on #454
Ok, I did missed something :)
would be great if also newman could support the format, in this way I could automate the download of the export from api gw whenever change the API set / create a new one, and with the same json env globals and params launch the testing.

importing the collection and export it manually from postman introduces a manual step in the flow unfortunately! :)

is there somet

[2016-07-22 04:01] czardoz commented on #315
Hi, the rewrite is being worked upon in this branch (https://github.com/postmanlabs/newman/tree/feature/v3), and is quite usable, especially if you want to use it as a Node library. Do give it a shot :)

[2016-07-22 07:22] czardoz commented on #454
You could use this library to convert that file to a Collection before passing it to Newman:
https://github.com/postmanlabs/swagger2-to-postman

There are no immediate plans to support running Swagger files directly though :)

[2016-07-22 07:22] #454 closed

[2016-07-22 08:06] WalterInSH opened #456 "Do not know how to attach a file with "binary dataMode""
Hi
I'm running a newman json file. It's a post request sending a file to servers.
I successfully run this same request on Postman client. But I don't know how to attach a file with newman.

I've tried this post:https://www.getpostman.com/docs/run_file_post_requests
But it's not working to me.

[code]

Here is the json file

[code]

Hope get your reply soon, thanks!

[2016-07-25 09:20] bessuaba opened #459 "Post parameter is array instead of string"
I am trying to run Postman tests in Newman. One of my tests sends POST request with following data:

[code]

For some resosons newman sends parameter "size" as array ("size":{"1":"80"}) instead sending it as string ("size":"80") like in Postman. In the log file it looks correct:
[code]
Also, if change "size" key to something like "sizeValue", newman sends string as expected

[2016-07-25 21:19] shamasis commented on #439
This is being addressed in upcoming newman v3.x. In fact it is already fixed there. Try it out if possible - https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-25 21:21] shamasis commented on #438
This is being addressed in upcoming newman v3.x. In fact it is already fixed there. Try it out if possible - https://github.com/postmanlabs/newman/tree/feature/v3

Once released, it will unify the underlying runtime of Postman and Newman. More info on the upcoming runtime at http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-07-25 21:23] shamasis commented on #436
Hi,

Newman does not play well with HTML when used inside DOM since it is not a browser. Any chance you can achieve what you are using without DOM?

[2016-07-25 23:37] shamasis commented on #110
Newman supports `--folder`. If multiple folder execution support was added, will that serve the need?

[2016-07-25 23:45] shamasis commented on #162
This seems to be pending for long. Can somebody from the original participants summarise this if it is still relevant? Else, scheduling for close in near future.

[2016-07-25 23:48] shamasis commented on #166
Synchronous execution of collections will not be feasible. The amount of anti-pattern it brings to current NodeJS and collection run paradigm that it would end up being equivalent to developing Newman twice over!

Closing this issue.

[2016-07-25 23:48] #166 closed

[2016-07-25 23:49] shamasis commented on #168
This is being addressed in upcoming newman v3.x. In fact it is already fixed there. Try it out if possible - https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-25 23:51] shamasis commented on #171
This is being addressed in upcoming newman v3.x. In fact it is already fixed there. Try it out if possible - https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-25 23:52] shamasis commented on #174
This is being addressed in upcoming newman v3.x. In fact it is already fixed there. Try it out if possible - https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-25 23:53] shamasis commented on #193
@czardoz - in upcoming postman api, we could have two request instances, the original one and the one post authorisation.

[2016-07-25 23:55] shamasis commented on #209
What would be a sure-shot way to reproduce this on OSX? Based on that, I can check whether the upcoming v3.x fixes this issue. Try it out if possible - https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-25 23:56] shamasis commented on #216
This is being addressed in upcoming newman v3.x. In fact it is already fixed there. Try it out if possible - https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-25 23:57] shamasis commented on #217
@CodeObsessed - can you file this in https://github.com/postmanlabs/postman-app-support?

[2016-07-25 23:57] #217 closed

[2016-07-25 23:59] shamasis commented on #220
Seems like it has been quite a while. Was unable to reproduce this issue without further information. Is this issue relevant any longer? If not, will close it in near future.

[2016-07-26 00:01] shamasis commented on #224
What would be a sure-shot way to reproduce this? Maybe a scaled down collection and other details would help.

[2016-07-26 00:05] shamasis commented on #231
Not sure how this fits into the long-term goals of collections. There has to be some alternate way to classify such requests than just the presence of test script.

What if the request depends upon prerequest of some other script to set variables for it, the test will fail and it will be very hard to debug.

[2016-07-26 00:08] shamasis commented on #242
@czardoz - can we have a cookie store for newman provided as a file maybe? TBD

[2016-07-26 00:08] shamasis commented on #245
Fixed in v3.0.0-beta.x Thanks a tonne

[2016-07-26 00:08] #245 closed

[2016-07-26 00:10] shamasis commented on #249
We need to re-examine this on our v3.x beta branch.

[2016-07-26 00:12] shamasis commented on #254
Upcoming v3.x has feature to output environment and globals, you should be able to set the export location same as import location to output environment and globals.

Not sure if data files will be done the same way.

[2016-07-26 00:14] shamasis commented on #273
Ah! Seems like Postman Monitors / Cloud API products. Guessing that this has been resolved so far. Closing. Please reopen if otherwise.

[2016-07-26 00:15] shamasis commented on #276
@czardoz - why can we not have multiple `--folder` switches?

[2016-07-26 00:19] shamasis commented on #290
Newman v3.x fixes this issue. Give it a try - https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-26 01:20] Zambonilli commented on #290
will do, thank you!

[2016-07-26 12:23] robizz opened #470 "newman does not update the aws token before sending request"
Hello,

I have a problem launching newman using AWS Signature option to authenticate my call to my AWS API Gateway Endpoint. Configuring AWS access key and secret key as global variables in postman (exported for newman in the globals.postman_globals.json),and exporting the collection and launching it in newman I obtain this error

[code]

the configuration regarding the api is the following (extra

[2016-07-26 14:02] anirupdutta opened #472 "Support Client Side Certificate Authentication"
So the API we are testing against requires us to use a certificate to authenticate. From what I have read it may not be something we will be able to incorporate with newman. It would be nice to have support for it.

[2016-07-27 05:51] linjin-harvey commented on #242
I encountered the same problem, i think this is very important feature. Can anyone help put it in the high prioritize

[2016-07-27 06:12] zxning opened #476 "The certificate is expired"
In Mac OS X,  I want to capture https request from mobile，so  I  refer to the following page
http://www.getpostman.com/docs/self_signed_certs

but, the certificate is expired

what should I do next????

[2016-07-27 09:35] soundstep opened #477 "Install error (node v4.3.2)"
Hi, got an install error with:

newman: 2.1.2
node: 4.3.2
npm: 2.14.12
osx: 10.10.5

A grunt problem it seems, here is the log:

[code]

[2016-07-27 09:48] czardoz commented on #476
Hi, you can toggle off the certificate verification in Postman Canary: http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

If you're using Newman, you can specify the `-k` or `--insecure` option on the command line to turn what SSL verification.

[2016-07-27 09:48] #476 closed

[2016-07-27 09:52] czardoz commented on #477
It seems that you have a lot of conflicting npm packages installed. Do you already have a different version of Newman installed?

[2016-07-27 11:00] soundstep commented on #477
I had one but I also tried ```npm uninstall -g newman``` before re-installing.
I found the problem I think. I had an old grunt module (1.0.1) installed globally.
Removing it solved the problem.
It is just strange that the newman installation was affected by it.
Thanks for help, I guess you can close.

[2016-07-27 11:07] czardoz commented on #477
Yes, globally installed NPM packages share the same namespace, which causes these issues. Glad your problem is resolved.

[2016-07-27 11:07] #477 closed

[2016-07-27 12:31] obender opened #479 "Add Authorization Header to Each Request"
Hi,
At firs great job, very useful product.

I am wondering if there is an option to add a Header to each executed collection of postman ?

[2016-07-27 14:30] shamasis commented on #330
The upcoming newman v3 shows stack trace and failures for syntax and script errors! Check it out https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-27 14:30] shamasis commented on #330
Closing since this is fixed in v3.0-beta.1

[2016-07-27 14:30] #330 closed

[2016-07-27 14:34] shamasis commented on #337
Use it programmatically now with newman v3 where programmatic usage has now become stable enough to use. Try https://github.com/postmanlabs/newman/tree/feature/v3

In v3, try

[code]

[2016-07-27 14:34] #337 closed

[2016-07-27 14:37] shamasis commented on #347
Newman v3 (beta) should have this fixed. We tested and checked. Can you test in your environment and let us know: https://github.com/postmanlabs/newman/tree/feature/v3

Closing this issue. Reopen if it misbehaves in your environment @jeremyrader.

[2016-07-27 14:37] #347 closed

[2016-07-27 14:38] shamasis commented on #348
This is on its way in v3. + @czardoz

[2016-07-27 14:41] shamasis commented on #349
We are on our way to unify the underlying runtime of Postman and Newman. The v3 beta has this implemented. https://github.com/postmanlabs/newman/tree/feature/v3

You should now see unified behaviour in Postman Canary and Newman v3. http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/

[2016-07-27 14:43] shamasis commented on #354
You can now use our Cloud API service to use synchronised collections and share using an API Key. https://api.getpostman.com/

[2016-07-27 14:43] #354 closed

[2016-07-27 14:45] shamasis commented on #355
The v3 of newman should be the target for achieving this. Maybe more details can be posted in this issue as a requirement and then we can work together on the new branch

https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-27 14:48] shamasis commented on #358
The programmatic use can make it super easy in newman v3.
Maybe we could create a sample JS file elaborating this. @czardoz :-P

Also, supporting multiple collections through CLI? ;-)

[2016-07-27 14:49] shamasis commented on #362
@czardoz can we come to a conclusion on this?

[2016-07-27 14:51] shamasis commented on #366
This is addressed in Newman v3 https://github.com/postmanlabs/newman/tree/feature/v3

If otherwise, please reopen.

[2016-07-27 14:51] #366 closed

[2016-07-27 14:54] shamasis commented on #371
The upcoming newman v3 does this a bit differently and includes all forms of errors. Closing this since now script errors are included in failures for newman v3.0 beta. https://github.com/postmanlabs/newman/tree/feature/v3

Please reopen if otherwise.

[2016-07-27 14:54] #371 closed

[2016-07-27 14:55] shamasis commented on #373
Newman v3 beta should highlight request errors.
https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-27 15:04] shamasis commented on #394
This has been fixed in latest newman

[2016-07-27 15:04] #394 closed

[2016-07-27 15:06] shamasis commented on #398
Does this have same behaviour in [newman v3 beta](https://github.com/postmanlabs/newman/tree/feature/v3) vs [Postman Canary](http://blog.getpostman.com/2016/06/14/introducing-postman-runtime-more-power-better-control/)?

This issue (and similar ones) should go away once Newman v3 goes out.

[2016-07-27 15:29] shamasis commented on #399
Newman v3 genereates a new GUID on every use. try it out - https://github.com/postmanlabs/newman/tree/feature/v3

Closing this issue meanwhile

[2016-07-27 15:29] #399 closed

[2016-07-27 15:29] shamasis commented on #404
The upcoming newman v3 will allow one to listen to `test` as an event. :-) https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-27 15:30] shamasis commented on #412
We are removing all CSS styles in newman v3 HTML report and using pure HTML tables.

[2016-07-27 15:32] shamasis commented on #414
The new v3 newman will have a JSON reporter which is always verbose!

[2016-07-27 15:33] shamasis commented on #416
It is not just DNS... the TCP connection itself is established first time and cached next time onwards.

[2016-07-27 15:34] shamasis commented on #415
Try the new newman v3 output - it has a tree style output owing to popular demand
https://github.com/postmanlabs/newman/tree/feature/v3

[2016-07-27 15:34] #415 closed

[2016-07-27 15:35] shamasis commented on #425
Seems this is beyond our control as of now. Marking as closed.

[2016-07-27 15:35] #425 closed

[2016-07-27 15:36] shamasis commented on #438
Closing as of now. Please reopen if it is not fixed for your use case

[2016-07-27 15:36] #438 closed

[2016-07-27 15:37] shamasis commented on #444
This is addressed in v3 https://github.com/postmanlabs/newman/tree/feature/v3 closing

[2016-07-27 15:37] #444 closed

[2016-07-27 16:00] shamasis commented on #470
What if you delete the headers before saving the request, then export and run in Newman?

[2016-07-27 16:02] shamasis commented on #472
Newman maintains feature parity with postman app. Need to check how this will work in postman app before implementing in Newman.

[2016-07-27 16:30] tdurden82 commented on #472
In OSX Postman, the cert appears to be managed by Chrome (via Keychain).

It would be nice to tie/define a certificate in the environment so we can switch.

[2016-07-27 18:56] gauravphoenix commented on #425
Perhaps the newman documentation can be updated to reflect the fact the one must use node version 6+

[2016-07-27 20:34] robizz commented on #470
@shamasis it worked thanks, removing all headers from requests and exporting makes newman regenerate correctly the token.

Also this time I was missing something :)

Thanks a lot

Roberto

[2016-07-27 20:34] #470 closed

[2016-07-28 07:06] zxning commented on #476
I want to using Postman Proxy to Capture https requests  from  Android Devices,  but ,according to the following:
http://blog.getpostman.com/2016/06/26/using-postman-proxy-to-capture-and-inspect-api-calls-from-ios-or-android-devices/

In Android Devices my app's request failed

[2016-07-28 07:38] czardoz commented on #479
If you add headers to your collection on the Postman UI, Newman will automatically use them. If your auth method is supported, you can also use https://www.getpostman.com/docs/helpers :)

[2016-07-28 07:38] #479 closed

[2016-07-28 07:51] obender commented on #479
Yes, But I mean 1 Header per Collection , not add it to Each request by hand.

[2016-07-28 08:34] shamasis commented on #470
@czardoz in latest runtime do we override saved headers when it comes to AWS auth and other such auths?

[2016-07-28 08:43] czardoz commented on #470
@shamasis yes

This has been fixed in Newman v3.0

[2016-07-28 09:05] czardoz commented on #479
Ah, that's not supported yet unfortunately, but we are working on inherited auth helpers. Will that solve the issue for you?

[2016-07-28 09:10] zxning opened #483 "The Chinese character can't display properly"
In the cmd,  enter the following content:
newman -c XXXXX.postman_collection.json -H result.html

Because the collection  and  description used by Chinese character in the result.html，so，the result.html can't display properly(gibberish)

what should I do ?

[2016-07-28 10:15] ArniDzhan commented on #459
@shamasis might be useful, if we change property name "size" to for instance to "sizeValue", it stops behaving like that. Looks like it is some special case with "size" property

[2016-07-28 10:59] obender commented on #479
Yes,
If you wish I can assist to develop it.

[2016-07-28 17:13] xs2bharat commented on #249
I am still getting error  after adding "Conenction" header 'keep-alive'. Error is coming POST request while running newman v 2.1.2 from jenkins.

[39m[31mError: connect ETIMEDOUT 10.201.174.139:443
    at Object.exports._errnoException (util.js:1007:11)
    at exports._exceptionWithHostPort (util.js:1030:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1080:14)[39m[31m
[39m[31m

[2016-07-28 18:29] shamasis commented on #459
This is so odd that I am not even sure where to begin. I am thinking whether to spend time fixing this in v2.x or if you're okay, look into it for v3.x scheduled to go production ASAP.

Also, can you try newman@next v3 beta and see if it is reproducible. Note that v3 is still in beta.

https://github.com/postmanlabs/newman/tree/feature/v3?files=1

[2016-07-29 02:13] NeilCross commented on #174
Nice work

[2016-07-29 02:13] #174 closed

[2016-08-02 15:13] TimFowle commented on #273
I still want to be able to run the team collections locally using newman, not externally. Hence still looking for this feature.

[2016-08-02 16:58] shamasis commented on #472
Now that we moved to NodeJS driven runtime, this feature has been bumped up in priority.
+ @numaanashraf @czardoz

The goal:
- understand the Chrome magic when it picks up the certificate
- possibly add better user experience around certificates
- implement it across the board

[2016-08-02 17:33] shamasis commented on #273
But you can do so. Wait - let me do a smal write up and link it here.

Essentially - it would show how to run shared team collections using Newman and CloudAPI.

[2016-08-02 21:13] darrylkuhn commented on #276
+1 for multiple folder switches. In our case we have a folder of "test fixtures" that does some boiler plate stuff like get an access token, and fetch a list of valid values, etc... same as you might have in your typical unit testing implementation. Then once those fixtures are run we run the specific tests we're interested in. Having the ability to specify multiple folders would make it easy to l

[2016-08-04 12:09] shamasis commented on #483
@zxning can you try with newman v3 (beta) and tell us if the output is readable?

[code]

If it does not work, please attach a scaled down sample collection.

[2016-08-04 12:11] shamasis commented on #472
@tdurden82 - yes, either via environment or using an in-app certificate store (like our cookie store) should make the workflow better.

[2016-08-05 11:42] kunagpal opened #502 "Shift `NEWMAN_ASCII` to preinstall section"

[2016-08-05 15:20] baldemarch commented on #223
We definitely need this, urgently.

[2016-08-06 21:59] shamasis commented on #428
@qinfeng both formats should work for now

[2016-08-06 22:02] shamasis commented on #436
Any update? Your script might be erroring out (due to DOM issues) before event it reaches the `setGlobalVariable` line. Can you check that?

PS: You should seriously consider moving away from DOM since we have already discontinued DOM. Newman v3 will not support it at all.

[2016-08-07 20:50] kunagpal opened #505 "Fix issues with skipped integration tests"
At present, the `helper` postman collection file has been skipped, which needs looking into.

[2016-08-08 06:34] lts8989 opened #506 "response parameter unknown encoding format"
I send a response use chinese like this.
{{B_host}}black/index/test?param=中文中文

I got a log like this from nginx log.
[08/Aug/2016:14:25:33 +0800] "GET /black/index/test?param=-\x87-\x87 HTTP/1.1" 200 130 "-" "PostmanRuntime/2.2.5"

Who can tell me which kind of encoding format postman used?

I test that in Postman(OSX 4.5.0) and Newman(3.0.0)

[2016-08-08 07:04] lts8989 commented on #439
@shamasis I try it in newman v3.x .But it doesn't work.
Please test this bug again。

{{B_host}}black/index/test?param=Александрович

172.16.2.113 - - [08/Aug/2016:15:00:13 +0800] "GET /black/index/test?param=\x10;5:A0=4@>28G HTTP/1.1" 200 99 "-" "PostmanRuntime/2.2.5"

[2016-08-08 10:39] kunagpal opened #508 "JSDoc"
Add [JSDoc](https://www.npmjs.com/package/jsdoc) to generate documentation for Newman.

[2016-08-08 10:40] kunagpal opened #509 "Replace console log instances with appropriate info / warn / error where applicable"

[2016-08-08 10:46] darshil09 commented on #220
I am facing similar issue
i can run tests on postman, but failing on newman.
its https://url.. tried -k/--insecure switch.

here is the error:
Error: tunneling socket could not be established, cause=getaddrinfo ENOTFOUND 8080 8080:80
    at ClientRequest.onError (C:\Users\darshil\AppData\Roaming\npm\node_modules\newman\node_modules\tunnel-agent\index.js:176:17)
    at ClientRequest.g (events.js:28

[2016-08-08 17:13] kunagpal opened #516 "Windows build integration"
Use [Appveyor](https://www.appveyor.com/) to incorporate Windows build functionality.

[2016-08-08 19:42] fantagaro opened #517 "api tests run well on Postman, but has error "Encountered an error during JSON.parse(): Unexpected token" through Newman."
We have tests that run well on Postman, but got error "Encountered an error during JSON.parse(): Unexpected token" run through Newman.

Same JSON.parse() works fine in other api tests. Only 3 api tests failed on JSON.parse(). The only difference about these api endpoints were these 3 endpoints used to return text/html before. We recently changed it to application/json, so that all of the tests are

[2016-08-08 19:50] abhijitkane commented on #517
@fantagaro What version of Newman are you using? You can use `newman -V`.

Also, can you attach a screenshot of your command line?

[2016-08-08 20:00] fantagaro commented on #517
2.1.2

Which part of command line? We export the test collection to json file and run by Newman in Jenkins.

[2016-08-08 20:09] shamasis commented on #517
@fantagaro - you mind trying out some basic debugging first?

Can you put each json.parse in try catch block and log the errors?

[code]

[2016-08-08 20:10] shamasis commented on #517
Also log the responseBody in those cases.

[2016-08-08 20:25] fantagaro commented on #517
I replaced responseJSON = JSON.parse(responseBody); to
try {
    responseJSON = JSON.parse(responseBody);
catch (err) {
    console.log(err);
    console.log(responseBody);
}

In the Jenkins console log, I got "Unexpected token catch" instead of "Encountered an error during JSON.parse(): Unexpected token". No other info prints out.

[2016-08-08 20:30] fantagaro commented on #517
![screen shot 2016-08-08 at 1 29 51 pm](https://cloud.githubusercontent.com/assets/6394941/17495037/3f1c6cea-5d6c-11e6-90dd-6c6f7cf6680c.png)

[2016-08-09 00:49] lts8989 commented on #506
Who can help me?

[2016-08-09 03:29] elssar commented on #517
@fantagaro there is a typo in the code snippet, its missing closing braces for the try block

Try this instead

[code]

[2016-08-09 15:56] PFarrell89 opened #522 "Exporting Postman tests containing "true" or "false" do not run as desired in Newman"
**Newman Version: 2.1.2**

Forgive me as I'm not massively technical:

I've been exporting my Postman test collections and running them using Newman for a couple of weeks now, however the issue below is one I always have to manually amend in a text editor.

Would like some idea if this is a genuine issue with Newman or with something that I'm doing when exporting/writing my tests.

**Issue:**
The

[2016-08-09 16:28] fantagaro commented on #517
Thanks @elssar!
Here's the new error message:
![screen shot 2016-08-09 at 9 27 29 am](https://cloud.githubusercontent.com/assets/6394941/17524466/99097eb2-5e13-11e6-9a03-3fee05894d0f.png)

[2016-08-09 16:28] fantagaro commented on #517
So looks like Newman has trouble with the params in the URL.

[2016-08-10 07:55] czardoz commented on #517
@fantagaro can you add a `console.log(responseBody)` at the top of your test script, and paste the output here?

[2016-08-10 14:07] shamasis commented on #136
newman now  (v3.x) has separate `failure` and `executions` array in `json` reporter

[code]

The report will be saved in `newman/html-run-report.html`

[2016-08-10 14:07] #136 closed

[2016-08-10 14:08] shamasis commented on #168
This has been addressed in newman v3

[code]

[2016-08-10 14:08] #168 closed

[2016-08-10 14:12] shamasis commented on #171
newman v3 now has the following

programatically:

- in summary object has `executions` array and the last item should have all relevant info
- there is also a separate `failures`array that keeps track of failures and it has `item` object in it which has `request`

CLI:
- the CLI stops on error when `--bail` is true having information regarding last failure

[2016-08-10 14:12] #171 closed

[2016-08-10 14:13] shamasis commented on #223
newman v3 has the base for doing this. we will soon expose this - perhaps in 3.1

+ @czardoz @kunagpal

[2016-08-10 14:14] shamasis commented on #254
Newman 3.x has the following switches

[code]

not data though.

[2016-08-10 14:14] #254 closed

[2016-08-10 14:16] shamasis commented on #291
Newman v3 now has ability to show only summary: https://github.com/postmanlabs/newman#cli-reporter-options

[code]

[2016-08-10 14:16] #291 closed

[2016-08-10 14:17] shamasis commented on #315
https://github.com/postmanlabs/newman#api-reference api for library usage of newman v3

[2016-08-10 14:17] #315 closed

[2016-08-10 14:18] shamasis commented on #332
This is WIP in v3. The current html template is crude and by 3.1 (hopefully) we will have a richer HTML

[2016-08-10 14:19] shamasis commented on #349
Postman Mac app and Newman v3 now has same behaviour

[2016-08-10 14:19] #349 closed

[2016-08-10 14:20] shamasis commented on #327
newman v3 lays the foundation for this. it would be added soon.

[2016-08-10 14:21] shamasis commented on #380
JSON reporter now provides extensive run information in newman v3.x+

[2016-08-10 14:21] #380 closed

[2016-08-10 14:22] #502 closed

[2016-08-10 14:22] shamasis commented on #414
fixed in newman v3 - though the format is a lot different

[2016-08-10 14:22] #414 closed

[2016-08-10 14:23] shamasis commented on #412
addressed in newman v3. the output is very crude now and will be uplifted soon.

[2016-08-10 14:23] #412 closed

[2016-08-10 14:28] shamasis commented on #404
Newman v3 now has event driven API. It has `test` event you can use
https://github.com/postmanlabs/newman#newmanrunevents

sample to use events - https://github.com/postmanlabs/newman/blob/develop/examples/find-unique-urls-in-run.js

[2016-08-10 14:28] #404 closed

[2016-08-10 14:29] shamasis commented on #398
This has been fixed when run between Postman Native apps and Newman. Chrome app will get this soon.

[2016-08-10 14:29] #398 closed

[2016-08-10 14:30] shamasis commented on #367
Can you try this in latest Newman v3 and let us know? Newman v3 and Postman native apps will have the same behaviour.

[2016-08-10 14:32] shamasis commented on #216
newman v3 now has

- failure summary referred using numbers
- programatic use has a failure array sent to callback

[2016-08-10 14:32] #216 closed

[2016-08-10 14:32] shamasis commented on #439
@kunagpal - can you take this up?

[2016-08-10 14:38] tk-codes commented on #404
Thank you for the implementation and example.

[2016-08-10 14:40] shamasis commented on #404
@tk-codes - we would love to hear if the new newman API helps you. :-)

[2016-08-10 15:48] wkuckro opened #524 "cannot upgrade to newman 3.0"
Ubuntu 16.04, node v6.3.0

Already have newman 2.1.2 installed

Cannot upgrade to 3.0 using `npm upgrade newman --global:`

Attempted to remove newman and reinstall using `npm install newman --global;`  : still failure

[2016-08-10 16:28] fantagaro commented on #517
@czardoz Added console.log(responseBody); to the top of the test script and attached the result.
![screen shot 2016-08-10 at 9 27 25 am](https://cloud.githubusercontent.com/assets/6394941/17561852/d04b4be8-5edc-11e6-93cf-91ddc1ae040a.png)

[2016-08-10 16:28] fantagaro commented on #517
Thanks for looking into it! @czardoz

[2016-08-10 18:34] samcayford opened #525 "POST requests not sending files on newman v3?"
Got a collection exported from postman (4.4.3) which makes a GET request for a URL and then POSTs to that URL with a file.
The combo works in postman, the file appearing at the destination.

The exported collection works in newman 2.1.2, again the file appearing at the destination.

However in newman 3.0.0 no file appears. Looking in the summary object i can see a bad multipart request object.

Le

[2016-08-10 18:56] kunagpal commented on #439
@shamasis: Yes.

[2016-08-10 19:29] leejoon opened #526 "Invalid xml generate if test name contains an ampersand."
Suppose you gave a postman collection that starts with:
{
	"variables": [],
	"info": {
		"name": "This & That",
		"_postman_id": "c032ff0c-2480-62a1-c09f-24ef6c45bb89",
		"description": "",
		"schema": "https://schema.getpostman.com/json/collection/v2.0.0/collection.json"
	},
....

After using newman to run the test and generate the junit report, the generated xml will have the fragment:
<testsuit

[2016-08-10 20:07] shamasis commented on #526
Which Newman version are you using?

[2016-08-10 20:11] shamasis commented on #525
Thanks for reporting. Will get back to you shortly.

[2016-08-10 20:11] leejoon commented on #526
We are using newman 2.1.2

[2016-08-10 20:13] shamasis commented on #526
This issue should already be addressed in v3 since we are building the XML as an object instead of string. Can you check if it works?

[2016-08-10 20:57] leejoon commented on #526
I confirm that this is fixed in v3. Thanks for the quick replies!

[2016-08-10 22:10] bishtawi opened #527 "Failing tests exit successfully"
I have newman v3.0.0 installed globally. I am executing newman from the commandline using:
`newman run ContractsAPI.postman_collection -e DEV_QA_User.postman_environment`

I get this assertion failure:
[code]

But newman exits with the successful exit code of 0. I am not passing in `-x`, `--suppress-exit-code`, or `--bail`. I would expect a failing exit code (like 1).

[2016-08-11 07:08] shamasis commented on #526
Thank you @leejoon. 😊

[2016-08-11 07:08] #526 closed

[2016-08-11 09:03] tojagrut opened #528 "Newman 3.0 - Request fails with disabled http request headers in collection"
I had some disabled http headers as part of my postman collection.  With upgrade to newman 3.0, seems like they are no longer ignored.  I can remove them as I do not see they are needed at this moment, but not sure if it is intentional change or a bug in 3.0 version.

Fails with error:
_`TypeError       Header name must be a valid HTTP Token ["//Accept"]`_

Disabled headers are exported with prefi

[2016-08-11 13:06] mordi34 commented on #527
@kunagpal Do you have any idea when your fix will be released?

[2016-08-11 13:09] kunagpal commented on #527
Hey @mordi34 @bishtawi, a fix has been created [here](https://github.com/postmanlabs/newman/pull/530), it will become available in the next release. I'll update this thread with the ETA for the same when ready.

[2016-08-11 14:24] molyakov commented on #525
I have the same issue.
POST "form-data" body fails: multipart request has not attached file
[code]

[2016-08-11 21:57] shamasis commented on #528
@tojagrut - this bug has been fixed in our runtime. ( @czardoz - right?) and we would bump runtime version in newman real soon.

[2016-08-12 06:21] kunagpal commented on #524
Hey @wkuckro, could you provide more details on the error you faced?

[2016-08-12 06:54] ncthbrt commented on #525
I also am experiencing this problem. I've replaced the relative paths with absolute ones, as suggested by an earlier tutorial, but still no cigar.
Here is the request in question:
[code]

[2016-08-12 07:03] kunagpal commented on #522
@PFarrell89 As a workaround, you could alter the given condition within the Postman Client test editor, like so:

[code]

Exporting a collection with the above saved request (and it's corresponding environment file, of course), will maintain consistency with the type checks all over. Postman variables (environment, global, or data)  are stored as strings, which in turn may require intermediate pro

[2016-08-12 08:30] PFarrell89 commented on #522
Apologies!
That's exactly how I'm writing my tests in Postman as it converts variables to string.
`if (environment.canCancel == "true")`

When exporting the test collection from Postman it changes to:
`"if (environment.canCancel == \"true\")`

The tests in Newman fail at that point when they pass in Postman.

I've just re-tested this on Newman v3 and it's still occurring.

[2016-08-12 08:42] kunagpal commented on #522
I see. I am unable to replicate this issue, could you share your collection and environment, sans the sensitive details?

[2016-08-12 10:26] tojagrut commented on #527
I faced the same problem.  As an additional feature, I am generating xml report (junit one) and using Junit parser to parse  it which fails the build in case of any failed test cases.  This is pretty useful when you want to know only the failed test cases out of thousands of total test cases.

[2016-08-12 15:49] alexastro commented on #456
Hi guys!

It will be awesome if you could support base64-encoded file content in json (as binary data).

[2016-08-12 21:30] robosung commented on #242
`postman.getResponseHeader("Set-Cookie")` returns `undefined` when server has sent multiple "Set-Cookie" header. Therefore, I'm essentially blocked from using newman on our CI

[2016-08-13 03:24] komajunjun opened #533 "Is there a shortcut that can close postman window?"

[2016-08-13 03:31] shamasis commented on #242
Which version of Newman are you on? @robosung

[2016-08-13 09:33] BurlySlayerFan opened #534 "Dynamic iteration through data file no longer works?"
Hi,

Previously I used v2 newman, and I'm sure when passing in data files, I used -n which iterated through all the rows. Using v3 now, it requires a number e.g. -n 2. Can we fix this?

Regards,

Aaron

[2016-08-13 15:40] robosung commented on #242
@shamasis I'm using newman through docker (postman/newman_ubuntu1404) so it's version 2.1.2. It turned out the real issue was that 302 status code that the server was returning.  Adding "-R" resolved this issue. Thank you @czardoz and @siddhant for the help.

[2016-08-13 16:53] shamasis commented on #242
@elssar - this then means time to bump up Newman docker! 😜

[2016-08-14 15:34] shamasis commented on #439
@lts8989 can you send a sample collection file?

[2016-08-15 09:40] kunagpal commented on #533
@komajunjun: Please create an issue [here](https://github.com/postmanlabs/postman-app-support). This this issue section is for Newman only.

[2016-08-15 09:40] #533 closed

[2016-08-15 15:19] Zambonilli commented on #290
Still failing with the 3.x release.  I got to iteration 75/8845 and then got this GC error:

`<--- Last few GCs --->

  325805 ms: Mark-sweep 1205.2 (1458.0) -> 1205.0 (1458.0) MB, 1163.8 / 0 ms [failed to reserve space in paged or large object space, trying to reduce memory footprint] [GC in old space requested].
  327014 ms: Mark-sweep 1205.0 (1458.0) -> 1205.2 (1458.0) MB, 1208.7 / 0 ms [failed

[2016-08-15 16:15] Zambonilli commented on #290
Modifying the she bang for node to include --max-old-space-size still works in 3.x.  However, the memory growth rate of the 3.x newman vs 2.x looks to be much much worse.  With 16GB of memory, I used to be able to get through ~8,000 iterations in 2.x while in 3.x I am not even getting to 750 iterations before it's hitting 16GB and starting to hard stop for GC on every iteration.

I'm going to expl

[2016-08-15 17:28] pawelka commented on #472
Hi,

Here is my proposition to solve the problem:

[code]

Usage of above patch:
[code]

Only thing that left is to add new parameter to CLI with accept json file with certInfo configuration.

[2016-08-15 17:30] srbangre commented on #524
I am also facing this issue.
i have windows 7 64 bit, newman installed 2.1.2

i don't receive any error. neither i am seeing any progress bar.
![image](https://cloud.githubusercontent.com/assets/16723968/17672870/7d8ed99c-62ec-11e6-8268-7e22b739484d.png)

[2016-08-15 19:29] shamasis commented on #472
Yes. This is what we are looking into as well. We want to make the json structure common to a cookie store - so that they look similar and easier to parse using a common algorithm.

Give us a while to decide what would be the input file structure. We should be able to support domains and wildcards as well.

[2016-08-15 19:31] shamasis commented on #290
I think the issue is primarily because of storing executions and responses. We would add an option to store responses only when configured to do so. @czardoz

[2016-08-15 19:45] wkuckro commented on #524
with the 3.0.1 update, using `npm install newman --global;` now works on Ubuntu 16.04

[2016-08-15 19:45] #524 closed

[2016-08-15 20:46] wkuckro commented on #367
not experiencing in newman 3.0.1

[2016-08-15 20:46] #367 closed

[2016-08-15 20:49] wkuckro opened #536 "cannot pass --environment url"
Where are --environment urls supposed to come from? Are they from the hosted environments in Postman?

Currently there isn't a way to create a URL link to an environment itself from Postman. I tried hosting my own .json file and it wouldn't pull that file from the URL either

[2016-08-15 21:19] kunagpal commented on #524
@srbangre: Could you please re-try by running `npm i -g newman` with a command prompt / Power Shell instance opened in administrative mode?

[2016-08-15 21:48] kunagpal commented on #536
@wkuckro: Environments specified as URLs need not necessarily be hosted on Postman, they can be any valid URL that returns a valid environment JSON. If possible, do send us the link to your remote environment, and we'll be happy to help you out.

[2016-08-15 22:06] kunagpal commented on #527
This issue should have been fixed in Newman `v3.0.1`, do post here if that is not the case.

[2016-08-15 22:28] bishtawi commented on #527
Works for me, thanks!

[2016-08-16 08:33] mordi34 commented on #527
Me too, thanks

[2016-08-16 08:52] kunagpal commented on #527
Marking the issue as resolved.

[2016-08-16 08:52] #527 closed

[2016-08-16 09:41] czardoz commented on #536
@wkuckro Environment URLs can come from the Postman Cloud API: api.getpostman.com

[2016-08-16 09:52] DeadEye0112 commented on #525
Hi, same problem here !
The same request works on Newman 2, but since Newman 3, file-POST won't work.

[code]

Following, my request.
[code]

[2016-08-16 14:56] wkuckro commented on #536
@czardoz THanks. Using the Cloud API, i was able to get it. might be useful to include that in your documentation for newman somewhere

[2016-08-16 14:56] #536 closed

[2016-08-16 15:35] PFarrell89 commented on #522
Hi, feel free to close this issue.
After updating to v3 this appears to be working fine now.
Thanks!

[2016-08-16 15:45] mykhaylo- opened #537 "empty globals file is generated when using --export-globals option"
Hi
My collection has the following code in one of the tests:
[code]
When I run the following command
[code]
newman executes my collection successfully and generates globals.json file. But it is generated without any global variables while I expect "x_auth_token" to be there:
[code]
Please suggest.

[2016-08-16 16:46] max-preuschen commented on #525
Same problem here.
This is the file form-data (which should get submitted):
[code]
But server responds with: `Form field with name=file required`
**Meaning:** File (key) doesn't get passed along.

[2016-08-16 16:56] #522 closed

[2016-08-16 17:48] fantagaro commented on #517
Hi @czardoz we tested locally using newman, same error.
Here's the command line:
clone the repo
npm install
npm run test-mobile-sdk-production

[2016-08-16 17:49] fantagaro commented on #517
@abhijitkane thanks for logging the bug, and look forward to solutions. Thanks!

[2016-08-17 07:59] kunagpal commented on #528
@tojagrut: This bug should have been fixed in Newman `v3.0.1`, do get back to us if that is not the case.

[2016-08-17 15:14] shamasis commented on #509
What's the rationale behind this? We ideally want to move the print module to top level and ban direct usage of console. (Thinking aloud)

[2016-08-17 19:35] #509 closed

[2016-08-18 04:13] snk20501 opened #540 "[newman v3.0] X-CSRFTOKEN authentication not working"
I usually login my RESTful Web with X-CSRFTOKEN header and token value. In v2.1.2, it works fine but not in v3.0.1. Please kindly refer to my test steps and help to advice.

[Test Steps]
Step 1. Provide username and password to RESTful Web to get "CSRFToken" value, then create a global var first.
`var data = JSON.parse(responseBody);`
`postman.setGlobalVariable("spx-rest-csrftoken", data.CSRFToken

[2016-08-18 08:25] tojagrut commented on #528
Alright thanks.  I'll have a quick check and let you know.

[2016-08-18 11:42] Nudink commented on #196
@czardoz Is there a way in which I can persist new environment variables during a run. For example, with the first request i create an incremental value which I set as a variable and want to use in my second request in the same run.

[2016-08-18 12:40] MaxGfeller commented on #273
I just came across this issue because i wanted to do the same. And it is actually really easy with the Cloud API.

- First you need to [generate an API key](https://app.getpostman.com/dashboard/integrations)

[2016-08-18 12:45] MaxGfeller commented on #273
I just came across this issue because i wanted to do the same. And it is actually really easy with the Cloud API.

- First you need to [generate an API key](https://app.getpostman.com/dashboard/integrations)
- Get a list of your collections using this link: https://api.getpostman.com/collections?apikey=<yourApiKey>
- Get the link for the specific collection using it's `uid`: https://api.getpostman

[2016-08-18 19:29] kunagpal commented on #421
@wkuckro Closing issue due to inactivity. Please revert here if your issue still persists.

[2016-08-18 19:41] kunagpal commented on #365
@czardoz Is there a specific case where this issue persists? I've tried using variables with `/`, and they are being processed correctly.

[2016-08-18 19:45] kunagpal commented on #339
@jgroom33 Newman `v3.0.1` includes improved CSV support. Could you try running with CSV content included?

[2016-08-19 02:10] qinfeng commented on #428
@shamasis I still have the same error with newman 2.1.1. But it works with newman 3.0.1 after I upgrade newman in my jenkins container.

Anyway it works now, I'll close the issue. Thanks.

[2016-08-19 02:11] #428 closed

[2016-08-19 05:54] #273 closed

[2016-08-19 07:03] alowenst opened #545 "retry in case of failure"
Use case is using Newman as a monitor tool and tests to make sure that response code is correct, response time is reasonable and that response values are correct.
In some cases, due to network hiccups or some other system conditions, some requests might end up with timeouts or incorrect values that will resolve if the same request was processed a few seconds later.
in such cases I would like to re

[2016-08-19 07:11] shamasis opened #546 "upgrade newman v3 html report to match newman v2"

[2016-08-19 08:31] #534 closed

[2016-08-19 11:27] rishivishnoi opened #547 "timeout-request option is not working with newman 3.0.1"
I tried using the new available option 'timeout-request ' in place of '-r' with newman 3.X but its throwing error as "Unrecognized arguments"

a) Using --timeout-request option with non zero value  -> Fails
argcmd = "newman -c PreCheckCollection.json -g GlobalInput.json --timeout-request 200 -S -C -x -O C:\out.log"

Error in logs:
8/18/2016 18:44:35,fsbkrestore,DEBUG,
08/18/2016 18:44:35,fsbkresto

[2016-08-19 11:53] czardoz commented on #547
@rishivishnoi
Newman's CLI arguments have changed in v3.0, check the migration guide: https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md

a) `--timeout-request` can be specified with the run options:
Example:
[code]
b) `--timeout-request` only works with the `run` subcommand, like above
c) I've created a fix for this. However, the value is assumed to be zero by default (which means th

[2016-08-19 12:06] #547 closed

[2016-08-21 13:34] shamasis commented on #545
@alownst - I understand making this feature work if there is a timeout or other network level error, but retry based on incorrect response from server is something that is best done at your test level and then control the flow of collection using our workflow functions - https://www.getpostman.com/docs/workflows

[2016-08-21 13:35] shamasis commented on #545
@alowenst 👆🏼

[2016-08-21 17:09] shamasis commented on #517
We could not replicate this issue. It would be best if you can mail us at help@getpostman.com. We might need additional information to debug this and they might not be shareable in public forum.

Also, before mailing, you may try running this collection in latest Newman v3. Newman v3 provides a better stack trace for debugging your error.

Closing this issue here.

[2016-08-21 17:09] #517 closed

[2016-08-21 21:03] wkuckro opened #551 "upgrading to newman 3.0.1 on OSX 10.12 betas"
OSX 10.12 Beta (16A286a), node 6.3.0, npm 3.10.5

When installing newman 3.0.1 on top of an existing newman install (2.1.2), the install process fails using either `npm install newman --global;` or `npm upgrade newman --global;`.

An alias file `newman` is left at `/Users/USER/.nvm/versions/node/v6.3.0/bin/` that must first be deleted.

Deleting that file allows you to then use `npm install newman

[2016-08-21 21:34] shamasis commented on #551
Interesting. This must have caused quite a headache to figure out! Thinking aloud - could this be an NPM bug since NPM is supposed to fully take over the creation and deletion of aliases?

[2016-08-21 21:36] wkuckro commented on #551
Not that hard to figure out, just a while to verify. The install error told me where the file was. Possibly an npm bug, but I have not had the issue with anything else, so I can't say for certain.

[2016-08-21 21:39] shamasis commented on #551
Ok one thing I can tell you is a difference between Newman v2 and v3 is that we changed the file name of the bin script. Previously it was just newman -> newman, and this time we made it newman.js -> newman. This should not cause any issue and NPM should remove old and add new binary. Let us check if we can reproduce it locally and maybe put some check in Newman v3 script to do that by itself duri

[2016-08-22 15:36] tojagrut commented on #528
It works.

[2016-08-22 15:37] #528 closed

[2016-08-22 17:55] jangchoe opened #553 "--export-globals possibly exporting in wrong postman format for Newman v3.0.1"
I noticed with the `--export-globals` option, I get a .json file in this format:

[code]

shouldn't there be a `key` field instead of an `id` field? eg.
[code]

When I try to read the exported globals using `--globals <source>` it's not able to substitute the variables because it isn't using the `key` field.

[2016-08-23 02:37] snk20501 commented on #540
Hi~ Anyone can help on this? Thanks~

[2016-08-23 08:11] czardoz commented on #540
Hi, @snk20501 can you send a sample collection where we can reproduce the issue? I tried setting a header in a global variable and it worked fine for me :)

[2016-08-23 11:21] nick2060 opened #555 "GET request with access token/access token secret not working"
I've got a postman test which is not working on newman. All tests are OAuth 1.0, but this one is the only GET Request which uses the access token and I believe this is what I believe may be causing the issue.

So to add a bit more context, I run a test which gets the request token, and then another test which uses the request token to get the access token. I run a POST request that uses the access

[2016-08-23 12:56] nick2060 commented on #555
1. I'm running the entire collection of tests which is inside a .json file with `newman run xxx.json`
2. Newman 3.0.1

[2016-08-23 19:13] calebrepkes commented on #242
Hey @shamasis,

I see you closed this issue. Since last e-mail about Newman v3 and other Postman updates, Im running the new newman npm in a Windows environment and still receiving the same error as above.

I read multiple threads about this and the whole documentation. I have the feeling I cannot use:
postman.getResponseHeader("ActualCookieName") in my Newman. But should I write extra JS code to

[2016-08-23 19:18] calebrepkes commented on #429
@jannemann @shamasis Ticket #242 is closed. :)

[2016-08-23 19:34] shamasis commented on #242
Oh damn. This got closed because we deviated from context and I lost track - oh dear. Apologies.

[2016-08-23 19:35] calebrepkes commented on #242
No worries :-)

[2016-08-23 22:11] fantagaro commented on #517
My coworker sent an email to help@getpostman.com and the issue has been solved!

[2016-08-24 00:07] #546 closed

[2016-08-24 00:12] kunagpal commented on #537
@mykhaylo- Thanks for reporting this issue! A fix for this bug has been added within Newman `v3.1.0-beta.1`.

Please re-try exporting your run variables after installing Newman with `npm i -g newman@beta`, and let us know if your issue has been resolved.

[2016-08-24 00:16] kunagpal commented on #436
@testkptest: We're closing the issue due to inactivity. Please let us know if the issue still persists.

[2016-08-24 00:16] #436 closed

[2016-08-24 00:23] kunagpal commented on #223
@pradeepmurugesan @baldemarch

Newman `v3.1.0-beta.1` is now available, and comes with an improved HTML reporter, default template overriding options, and other bug fixes. You can install it with: `npm install -g newman@beta`.

An option to specify custom templates for the HTML report is provided via the `--reporter-html-template <path-to-handlebars-template-file.hbs>` CLI flag. A sample template

[2016-08-24 01:54] snk20501 commented on #540
Hi @czardoz , Thank you so much for the reply. The global variable setting works on my side, too. The issue I'm facing is the authentication mechanism via X-CSRFTOKEN doesn't work with v3.x Newman but  ok with v2.x or POSTMan. I use the same collection to get above result. Our RESTful API use X-CSRFTOKEN to build session. I send a mail with test collection attached to you. Please check the mail an

[2016-08-24 05:58] shamasis commented on #517
Thank you. Would you be able to summarise the solution here? Would help others when the stumble over this issue. 😊

[2016-08-24 06:45] aaronweatherall opened #556 "CLI output broken in CI/CD"
Hey guys, great work on the new release BUT..

[code]

The cool characters and colors are nice BUT they're totally broken on bamboo and out other CI/CD tools.. where's the option to *not* use funky characters??

I've tried running with ` run /etc/newman/collection.json -e /etc/newman/environment.json --no-color --reporter-junit-export="junit/junit.xml`

But still get the same results

[2016-08-24 06:57] shamasis commented on #556
I see that the colours have actually turned off automatically. That's because otherwise it would have looked funkier!!! Even the spinners automatically turned off.

What did not get turned off is the tick marks. I am wondering why bamboo is not rendering those since they're standard UTF code page characters? They even work on Windows!

Tried Newman on travis and Shippable. They work fine as well.

[2016-08-24 07:04] shamasis commented on #556
@aaronweatherall also would you be able to test out a beta release and let us know? Would then experiment with different variants of tick marks!! 😜

[2016-08-24 07:05] aaronweatherall commented on #556
Yeah we're running your docker container, so should be easy enough

[2016-08-24 07:11] shamasis commented on #556
Also @aaronweatherall can you verify this - https://confluence.atlassian.com/bamkb/how-to-change-the-wrong-encoding-in-bamboo-that-is-causing-the-application-to-crash-318670134.html ?

@elssar is the locale and code page of our docker set to UTF8?

[2016-08-24 07:34] aaronweatherall commented on #556
Actually that's a good point, there's no default encoding in your dockerfile for alpine.

[code]

I'm about to try it with the utf8 env variables

[2016-08-24 08:43] shamasis commented on #556
@aaronweatherall - were you able to fix the UTF8 thing in docker? @elssar can you release the latest newman beta as an image?

[2016-08-24 10:15] shamasis commented on #553
@jangchoe - we are fixing this. we also spotted that environment name is not exported. will fix that too

[2016-08-24 13:25] #553 closed

[2016-08-24 14:07] baldemarch commented on #223
@kunagpal awesome! Will try asap. Thanks for the update!

[2016-08-24 14:08] kunagpal commented on #223
@baldemarch The link has been fixed.

[2016-08-24 14:09] baldemarch commented on #223
@kunagpal thanks :)

[2016-08-24 15:22] calebrepkes commented on #242
@shamasis is it an idea to implement what suggested:

[2016-08-24 16:56] srbangre opened #562 "reporter summary is not correct"
cli reporter summary is not correct.
when i run collection having 15 requests, one of the request's assertion is failing. but in the summary report, it shows that the assertion failed = 1, but requests failed = 0. Shouldn't it be requests failed = 1 too?
see below -
![image](https://cloud.githubusercontent.com/assets/16723968/17939778/21e9f346-69fa-11e6-97c4-25aabada3f4b.png)

[2016-08-24 16:58] czardoz commented on #562
@srbangre, "request" in the summary refers to the actual HTTP request. If Newman had issues sending the request (connection errors, etc), those will show up in the failed request count.

[2016-08-24 17:31] srbangre commented on #562
so in case of multiple assertions failure across tests, how will i make sure how many test cases are failed just by looking at the summary report?

[2016-08-24 18:01] srbangre commented on #562
one more question - how do i run 2 folders in a collection? --folder folder1 --folder folder2 command is running only folder2

[2016-08-24 18:09] shamasis commented on #562
@srbangre - maybe an assertion failure could mark its corresponding scripts as failed. But that would add no extra information than what you're getting now except whether tests failed in one request or in more than one. Also, in future we will have more than one script per request, that would further make it difficult to know if one request failed or more. Adding to that, using setNextRequest, a r

[2016-08-24 18:12] srbangre commented on #562
yeah i agree to your point above.
thanks for your quick reply.  do you want me to close this one and create 2 feature requests or you can do it?

[2016-08-24 18:20] shamasis commented on #562
I think you've already taken efforts to bring this to the notice of this community. 😊 Let me save you some time and will create two issues, link it here and then you can review whether I interpreted your issues accurately.

Thanks again.

[2016-08-24 18:23] shamasis commented on #242
@calebrepkes have a look at the above PR.

Step 1: we are enabling the jar
Step 2: Allow a way to provide and export a cookie jar as a file to Newman.

[2016-08-24 18:47] suhasgaddam commented on #517
I work with @fantagaro and emailed help@postman.com.

@czardoz noticed there was an extra character at the beginning of our api response. The character turned out to be the [BOM](https://en.wikipedia.org/wiki/Byte_order_mark). After removing the stray BOM, node is able to successfully call `JSON.parse`.

Confirmed the issue with:

`curl --silent $URL | hexdump -C` and the first bytes were `0xEF 0x

[2016-08-24 18:58] shamasis commented on #517
We are working on a variant that does the same. :-)

[2016-08-25 05:56] asifpasha29 opened #563 "Newman Html report issue"
how to include the custom msgs in the html report and we are getting header and body in html report in newman v 3.0.1

please assist on the above issue

[2016-08-25 07:46] calebrepkes commented on #242
Im sorry I didnt see it that quickly. Thnx.

[2016-08-25 08:24] BalanagarajanArumugam opened #564 "Summary of the results and exported output files are not generated"
Hi Team,
After execution of the test suite, the summary of the test results are not generated.We got the following error message.Is it an issue from our side(the command which we used for execution)?

**Result:**
C:\Users\x087528\AppData\Roaming\npm\node_modules\newman\lib\reporters\json\index.js:13
            content: JSON.stringify(_.omit(o.summary, 'exports'), 0, 2)

[2016-08-25 09:30] kunagpal commented on #564
@BalanagarajanArumugam: Could you provide the command used please?

[2016-08-25 09:35] BalanagarajanArumugam commented on #564
In bamboo, we configured the executable command as below:

-c "node/node lib/node_modules/newman/bin/newman run src/test/resources/collection.json --environment src/test/resources/env.json --reporters html,json,junit --reporter-json-export src/test/resources/output.json --reporter-junit-export src/test/resources/output.xml --reporter-html-export src/test/resources/output.html --timeout-request 300

[2016-08-25 10:10] kunagpal commented on #563
@asifpasha29 It appears that your question is related to overriding the default HTML report template within Newman. You can do this by adding the `--reporter-html-template <path-to-template-file.hbs>` option to your collection runs. For a sample template reference, please refer the [default template](https://github.com/postmanlabs/newman/blob/develop/lib/reporters/html/template-default.hbs) used w

[2016-08-25 10:12] kunagpal commented on #564
@BalanagarajanArumugam We're looking into this, thanks for letting us know.

[2016-08-25 14:41] mykhaylo- commented on #537
@kunagpal many thanks. it works in v3.1.0-beta.1

[2016-08-25 14:41] #537 closed

[2016-08-25 14:45] mykhaylo- commented on #556
I've faced similar issue when invoking newman from Jenkins. But this doesn't seem to be an issue with newman. As I understand it just generates output in utf-8, but CI/CD use different encoding.
After applying the fix from https://issues.jenkins-ci.org/browse/JENKINS-31096 (basically just need to add `-Dfile.encoding=UTF-8`) I've get rid of this issue.

[2016-08-25 15:41] shamasis commented on #564
@BalanagarajanArumugam Is it possible that you are running out of memory? Since a very large object will cause this type of error.

[2016-08-25 15:46] shamasis opened #567 "Add ability to run multiple folders"
Derived from #562. https://github.com/postmanlabs/newman/issues/562#issuecomment-242155183

[code]

[2016-08-25 15:47] shamasis opened #568 "Add a request-level summarisation in CLI output"
Derived from #562
https://github.com/postmanlabs/newman/issues/562#issuecomment-242157641

[code]

[2016-08-25 15:47] #562 closed

[2016-08-25 15:51] shamasis commented on #564
If it is a memory issue then the following could be solutiuon:

1. increase max memory of node
2. we build a new "streaming" verbose reporter
3. we reduce the verbosity of the summary object (and make an option to increase it)

[2016-08-25 15:52] shamasis commented on #556
@mykhaylo- thanks.
@aaronweatherall - were you able to fix this by setting the encoding

[2016-08-25 16:04] shamasis commented on #516
added project

[2016-08-25 16:41] mykhaylo- opened #569 "globals handling needs to be more intelligent"
I'm using postman 3.1 beta with fix for #537 . Now globals are exported. But when I use exported globals in next newman run exported globals file looks weird.
Here are globals I've got after first run:
[code]
Then I run the collection second time with feeding previous file as globals and exporting into new file. What I've got:
[code]
Looks like after second run I've got not only "gl1" but also "_p

[2016-08-25 16:47] kunagpal commented on #563
@asifpasha29 A sample of the object provided to the HTML report generator is given [here](https://github.com/postmanlabs/newman/blob/develop/examples/reports/html-reporter-template-data.json).

[2016-08-25 17:43] coltonlw opened #570 "3.1.0 breaks support for file fields"
Hi, after our builds starting failing without any changes we tracked the issue down to newman failing a request with a file field, message "path must be a string".  We have pinned version 3.0.1 and the issue went away.  It is not the problem with saving "value" property from postman, we manually verified the "value" property of the file field is set correctly in our collection json.

[2016-08-25 18:16] srbangre commented on #563
question for @kunagpal  - how do i get this json object mentioned above? I am trying to create my own html template and current json reporter is not able to give me 'results' object as before newman 3.0

[2016-08-25 19:27] kunagpal commented on #570
@coltonlw Please change the key on [this line](https://github.com/scitran/core/blob/master/test/integration_tests/postman/integration_tests.postman_collection#L25) to `"src"` instead of `"value"`, like so:

[code]

[2016-08-25 19:57] kunagpal commented on #563
@srbangre This object is created and passed to the HTML report writer internally. The decision to use the default HTML report template, or the one provided by the user depends on whether or not a template has been specified.

As an example, one can override the default HTML template like so:
[code]

In the above example, there are two distinct files involved. We see that `<optional-path-to-output-

[2016-08-25 20:21] coltonlw commented on #570
Can you explain more about what you think is happening?  Was the collection specification changed?

[2016-08-25 22:13] shamasis commented on #570
@coltonlw postman did not accurately export file fields. But we could not re use the same field as older apps would start breaking. But in the new format - we use separate fields. Can you try exporting collection in v2 format from the app?

Another note, even if you export in v2 format, since the chrome app variant does not get access to real path (chrome app limitation) the export will never work

[2016-08-26 10:09] malaubay commented on #563
Does the JSON object passed to the HTML report generator contains the "Folder" information of my requests?
I have a Collection with multiple Folders, and I want to see Folder information in my HTML report.

[2016-08-26 10:10] kunagpal commented on #563
@malaubay Currently, requests have not been segregated according to folder.

[2016-08-26 11:53] kunagpal opened #573 "Export - import consistency issues between Newman and Postman client(s)"
@czardoz @shamasis @numaanashraf @abhijitkane

Related issues: #594, #569, #564, #553, #537, #389, #350, #289, #254, #196, #150, #102, #31

Consider the following workflow:
1. Files are exported from the App.
2. The exported files are used by Newman and exported again.
3. The exported files are then used in two distinct ways:

a.  Used within Newman for a subsequent collection run: No variable res

[2016-08-26 12:46] czardoz commented on #573
@kunagpal Can you add more details here? I want to see what Newman exports right now, and what the App expects.

[2016-08-26 15:17] darrylkuhn opened #574 "v3 Migration Guide doesn't mention --insecure flag"
The [v3 Migration guide](https://github.com/postmanlabs/newman/blob/develop/MIGRATION.md) doesn't make mention of the insecure flag to interact with self signed certificates (e.g. `newman run collection.json --environment foo.json --insecure`) which is critical for us to allow developers perform testing on their sandboxes. So two questions?

 * Is this an option that is staying around?
 * Would yo

[2016-08-26 15:23] kunagpal commented on #574
@darrylkuhn The `--insecure` option is indeed available, and has not been mentioned within the migration guide as it has remained unchanged during the transition from Newman v2 to v3. Please see the [list of available CLI options](https://github.com/postmanlabs/newman#newman-run-collection-file-source-options) for more details.

[2016-08-26 15:26] darrylkuhn commented on #574
Fair enough - thanks for the quick response

[2016-08-26 15:26] #574 closed

[2016-08-26 15:50] shamasis commented on #573
1. Let's first ensure all aspects of collection exported from current native apps work

2. Environments then (also globals)

3. Items exported from Newman should work in Newman!

[2016-08-26 15:52] kunagpal commented on #573
Points one and two have seen no issues so far. As far as point three goes, the inconsistency in formats makes exported files non-reusable.

[2016-08-26 20:23] gleuck commented on #220
I'm getting the same error. I've already tried setting the HTTP_PROXY and HTTPS_PROXY env vars in the same command when running newman. No success.
It works fine in Postman.

[2016-08-27 07:52] shamasis commented on #220
We're working on adding proxy support - both as file and per domain as well as global.

[2016-08-28 23:06] rossmckelvie commented on #573
I ran into this issue. I exported the initial collections and environment from postman. The first collection runs to create a bunch of stuff and exports an updated environment file which I try to run with the second collection to delete them all.

The newman exported environment needs a `name` key at the root level, and each of the elements of `values` needs the `id` field renamed to `key`. I'm no

[2016-08-29 00:51] tomhall commented on #567
This would be very good - if it could also run the specified folders in the specified order too, even better.

[2016-08-29 13:14] umesh-bhalerao opened #578 "Getting error: newman run: error: Unrecognized arguments: --disable-unicode"
I tried using the --disable-unicode option that replaces the --noTestSymbols option for V2 but I end up getting the following error:

C:\test>newman run mycollection.json -g myenv.json --disable-unicode --reporters json,cli --reporter
-json-export C:\test\out.log
usage: newman [-h] [--version] {run} ...

The command line Collection runner for Postman. More information:
https://github.com/postmanla

[2016-08-30 13:18] #508 closed

[2016-08-30 13:20] #525 closed

[2016-08-30 13:21] #332 closed

[2016-08-30 13:22] kunagpal commented on #332
@MAOliver The HTML template has been improved in Newman `v3.1.0`, do go ahead and try it out.

[2016-08-30 13:23] #223 closed

[2016-08-30 16:42] gleuck commented on #220
It is now working for me. It seems that http_proxy and HTTP_PROXY are completely different things. :-)
Set the correct (uppercase) environment variable and everything works fine.
Nevertheless, Postman seems to consider uppercase and lowercase env vars.

[2016-08-30 18:29] shamasis commented on #220
Interesting find. @czardoz - possibly a bug in request module?

[2016-08-30 19:30] Mkoopajr opened #581 "HTML Reporter"
So I'm not sure if this is a Windows issue or not. However I'm getting an error when running newman in the cli or as a node-module and using the html reporter. The cli and json reporters seem to be fine. The error is "TypeError: Expected a finite number" and seems to stem from the pretty-ms call [here](https://github.com/postmanlabs/newman/blob/develop/lib/reporters/html/index.js#L75).

[2016-08-31 03:19] lightswitch05 commented on #581
Getting this on a mac too - so not windows specific

[2016-08-31 04:10] MAOliver commented on #332
@kunagpal very nice. Thanks for the attention.

[2016-08-31 15:47] kunagpal commented on #581
@Mkoopajr @lightswitch05 The bug has been confirmed, successfully reproduced on our end, and fixed in #582. It should be added to the next Newman release.

[2016-08-31 17:51] tranhungt commented on #289
+1
Can confirm, I'm also having issues with exported collections using OAuth 1, signing with consumer key/secret with no token.
I see the PR with a chained reference here. Hope it works.
https://github.com/postmanlabs/newman/pull/579

[2016-08-31 21:59] imthefrizzlefry opened #583 "Unable to specify multiple reporters"
When I specify multiple comma separated reporters with newman 3.0.1 or 3.1.0, I get an error indicating the last reporter is an unrecognized argument.
Example command (altered collection and environment names):
`newman run .\My.postman_collection.json' --delay-request 4000 --environment .\My.postman_environment.json --reporters cli,html`

Output:
`newman run: error: Unrecognized arguments: html.`

[2016-09-01 12:21] kunagpal commented on #563
@asifpasha29: Closing issue due to inactivity. Please revert if you have any other queries / concerns.

[2016-09-01 12:21] #563 closed

[2016-09-01 12:51] kunagpal commented on #583
@imthefrizzlefry In the command provided, there appears to be a stray `'` mark right after your collection file name.

[2016-09-01 16:15] imthefrizzlefry commented on #583
That is because the original file name has a space in it.  I missed that when I changed the file name.  Please note that the command I ran does work properly if I only specify one reporter.

[2016-09-01 17:56] shamasis commented on #525
One quick update on this - we are working to ensure that when you export a collection from postman app - the file name should be stored along with it. As such, in Newman, if those files are found relative to the PWD, it will be uploaded.

Thoughts?

[2016-09-01 18:11] kunagpal commented on #525
@shamasis SGTM.

[2016-09-02 06:50] ncthbrt commented on #525
I'd be quite happy.

[2016-09-02 23:33] desygn opened #586 "Form data with file type parameter that has an empty value throws an error"
When using the new NodeJS module with existing postman test collections I get an error when I attempt to execute a request that has a form data file parameter with an empty value parameter.

The error "TypeError: path must be a string" is returned.

The full stack trace is:

"TypeError: path must be a string\n
 at TypeError (native)\n
 at Object.fs.open (fs.js:540:11)\n
 at ReadStream.open (fs.js:

[2016-09-02 23:53] #586 closed

[2016-09-02 23:53] desygn commented on #586
Just noticed there is another open bug for this. Sorry for the duplication!

[2016-09-03 09:48] #516 closed

[2016-09-06 04:12] keithmork opened #591 "Unable to separate results from different iterations in html report"
When using Newman to do data-driven test, results from different cases mixed together in the summary report...
The request name doesn't support variables, like `whatever title - {{caseName}}` didn't work
(in JMeter you can change sampler name through iterations and the result will be displayed separately).

data file:
(I want to use 1 data file for 1 API, it contains both success and failure cases

[2016-09-06 04:34] keithmork commented on #591
I just found `iteration` variable in Postman, now the result will do, but still a bit inconvenient : (

[code]

[2016-09-06 05:01] shamasis commented on #591
Having a better way to distinguish iterations will surely go a long way. But I'm afraid that this is not something we are working on currently. There's an option to add your own HTML template and soon we will document how to write your own reporter. That should help for a while till we add more fidelity to the HTML reports.

[2016-09-06 09:55] kunagpal commented on #583
@imthefrizzlefry Could you re-try the command, but with quotes around the list of reporters, like so:
[code]

[2016-09-06 13:49] kunagpal commented on #429
@calebrepkes @jannemann @rkatsyuryna This issue should have been fixed in Newman v3.1.0, do get back to us if that is not the case.

[2016-09-06 13:52] kunagpal commented on #431
@garylogin `console.log` will write to `stdout`. It appears that your issue has been resolved, and we're closing it on our end. Feel free to get back to us for any other queries / suggestions / issues you might have.

[2016-09-06 13:52] #431 closed

[2016-09-06 13:54] kunagpal commented on #362
@shamasis @czardoz Are we good to close this issue?

[2016-09-06 14:00] kunagpal commented on #249
@xs2bharat Could you re-try with the latest version of Newman?

[2016-09-06 14:02] kunagpal commented on #162
@princedrez Closing the issue due to inactivity. Do let us know if this problem still persists.

[2016-09-06 14:02] #162 closed

[2016-09-06 14:34] kunagpal commented on #227
@DR-BoneZ  @digital-abyss Newman now supports file uploads correctly, do go ahead and try it out.

[2016-09-06 14:34] #227 closed

[2016-09-06 15:53] calebrepkes commented on #429
Hey @kunagpal regarding your remark, I updated to Newman v3.1.0 and then I added some console login to my request:
`console.log('>>> ABOUT TO READ COOKIE FROM postman.getResponseCookie("blabla")')
            var cookieLongevity = postman.getResponseCookie("LBCSS");
            console.log('>>> JUST READ THE COOKIE, and I think it failed.... because the cookie should now not be UNDEFINED and it is

[2016-09-06 17:28] imthefrizzlefry commented on #583
so, the specific placement of the quotes you wrote didn't work, but when I moved the quotes around just the reporters (not including the parameter name) the command executed as expected.

`newman run .\My.postman_collection.json --delay-request 4000 --environment .\My.postman_environment.json --reporters "cli,html"`

[2016-09-06 17:47] shamasis commented on #429
Curious - this test is passing - https://github.com/postmanlabs/newman/blob/develop/test/integration/cookie-jar.postman_collection.json

[2016-09-06 18:25] jangchoe opened #594 "--export-globals exporting in wrong format"
This is possibly related to [573](https://github.com/postmanlabs/newman/issues/573).

When using the `--export-globals` option, it seems like newman is exporting the global files as environment files instead of global files. Currently, it exports them like this:

[code]
That is an postman environment file format. Globals are simply an array of objects. Like so:
[code]

[2016-09-06 22:14] anirupdutta commented on #472
@shamasis Any updates on this issue?

[2016-09-07 04:56] rapidroamer commented on #392
+1

[2016-09-07 05:22] shamasis commented on #472
Yes. Work is underway. Will take a week to Geet around to finish integration at Newman level after all underlying modules are updated.

[2016-09-07 07:31] kunagpal commented on #583
Alright, that cold be thought of as a workaround, while we look for a better fix. Thanks a lot for informing us about this issue, we'll get back to you when we have updates on the same.

[2016-09-07 08:38] kunagpal commented on #594
@jangchoe The globals file format was an array of objects, and has now been changed to closely resemble the environment export format, leading to overall uniformity in variable handling operations. All exports are intended to use the object format, with a `values` key and other metadata present. The latest version of the Postman client uses this format too.

[2016-09-07 09:43] umesh-bhalerao commented on #578
The unicode characters in the output breaks our logger that worked with newman 2.X, any update on this defect ?

[2016-09-07 09:53] kunagpal commented on #578
@umesh-bhalerao We're working on a fix that works correctly, regardless of the presence / absence of unicode encoding support, please stay tuned for more updates.

[2016-09-07 11:48] DivyaKalyanakrishnan opened #595 ""ReferenceError in test-script" while running newman"
Hi,
I have a postman collection which runs fine from postman. In the script, i have some tests that do some basic validations on the responseData.
But when launching it with newman in my machine, i get error as: "ReferenceError in test-script".
In detail:
1. Error - Invalid Protocol
2. ReferenceErr - responseBody is not defined at test-script:5:31

-The same script works fine from other machine, u

[2016-09-07 11:53] kunagpal commented on #595
@DivyaKalyanakrishnan Could you provide details on your Postman version, type (Chrome app or native app) and operating system, please?

[2016-09-07 12:20] shaishab opened #596 "newman.run doesn't work in nodejs module"
I am trying to run newman.run from grunt task but it doesn't work. I tried

[code]

no error shown and also not shown "Postman collection run complete!" what I am doing wrong. please help me

also tried using promise:  [Stackoverflow question](https://stackoverflow.com/questions/39367385/newman-nodejs-module-does-not-work)

[2016-09-07 12:29] kunagpal commented on #596
@shaishab By default, grunt treats all task registrations synchronously. Please follow  http://gruntjs.com/creating-tasks#why-doesn-t-my-asynchronous-task-complete for steps on how to fix this.

[2016-09-07 12:48] shaishab commented on #596
yes now it's working :)

[2016-09-07 12:54] kunagpal commented on #596
@shaishab That's great! We're marking the issue as resolved, feel free to get back to is if you face any other issues.

[2016-09-07 12:54] #596 closed

[2016-09-07 13:18] #581 closed

[2016-09-07 14:30] jangchoe commented on #594
Ah it seems to be true. I just updated my postman and checked the globals. However, unless I'm mistaken, it seems like the `--globals` flag is still taking the old format. I think that was my original problem when I couldn't read the globals files that was exported by `--export-globals`.

[2016-09-07 14:34] kunagpal commented on #594
@jangchoe We're working to release a proper fix for the same, you can track it's progress [here](https://github.com/postmanlabs/newman/pull/579)

[2016-09-07 20:39] imthefrizzlefry commented on #583
Yea, I think it works.  Also note that the README.md and MIGRATION.md files both contain examples that cause this issue.  I'm not sure if this is an issue you want to update the documentation for, or perhaps it is better to fix the issue.  I would be happy either way!

[2016-09-07 20:41] shamasis commented on #362
I think our goal is to closely mimic XHR behaviour so that requests are as close to the browser as possible. closing this.

[2016-09-07 20:41] #362 closed

[2016-09-07 20:44] shamasis commented on #583
It could be an argparse or Windows command interpretation difference - @czardoz

[2016-09-08 06:50] snk20501 commented on #540
Hi folks,
I think I find the cause. When I create the test collection, I didn't remove content in request body even if I use "GET" method. Seems Newman v3 will always sent request body no matter which request method used. This might need to be addressed?

After I remove the body and re-export collection, issue fixed, so I close this issue. Let me know if any.

[2016-09-08 06:51] #540 closed

[2016-09-08 09:01] kunagpal commented on #556
@aaronweatherall @mykhaylo- We've added a fix in #597, it will become available in the next release.

[2016-09-08 09:24] calebrepkes commented on #429
Hey @shamasis

Im trying out the snippet you supplied. I copied it and paste as import in Raw Text of Postman.
Then I executed (within a XenDesktop Wind 7 environment).

I get this error when executing via Postman:
![image](https://cloud.githubusercontent.com/assets/16575936/18342746/94a1c3f2-75b0-11e6-9440-43f0444822cf.png)
![image](https://cloud.githubusercontent.com/assets/16575936/18342760/a0e

[2016-09-08 13:04] jangchoe commented on #594
I'll close and call it a duplicate.

[2016-09-08 13:06] kunagpal commented on #594
@jangchoe Well, #579 is a pull request, and this is an issue. They are related, no doubt, but not duplicates of each other.

[2016-09-08 13:19] jwilkey commented on #595
I was seeing this as well and it turned out be an SSL error. In postman I was seeing "Could not get any response" which went away when I used http instead of https (even thought he server was properly completing the request at https). Anyway, changed to http and newman worked. Don't know if this is your issue, but either way the error output for me was misleading and not helpful.

[2016-09-08 14:14] DivyaKalyanakrishnan commented on #595
@kunagpal :
Postman version: 4.7.0 ; win / x86-32; Chrome 52.0.2743.116. My system is a Windows 7, 64-bit OS.
Newman version : 3.1.0

@jwilkey : My url uses http & doesnot work in https mode.
the snapshot attached is the one obtained while running newman command in cmd prompt, to launch the same collection.
newman run AssetModel_CountValidations.postman_collection -n 1 -r junit --reporter-junit-ex

[2016-09-08 14:19] kunagpal commented on #595
@czardoz :point_up_2:

[2016-09-08 14:51] czardoz commented on #595
Hi Divya, can you run newman with these commands and paste the output here?

If you are on Linux/OSX:
[code]
If you are on Windows:
[code]

[2016-09-08 16:41] max-preuschen opened #599 "It shouldn't be possible to create GET-requests with a 'body'"
I had a couple of GET-requests failing with newman v3.1.0, which did work before with v2.1.2

I realised, that the GET-requests were failing, because the requests had a body specified in the collection:
[code]

This happened by accident and took me quite some time to figure out, what was wrong.

This is how you can create a GET-request with a body:

1. Create a new POST-request in Postman and ente

[2016-09-08 18:01] jwilkey opened #600 "Statistical Summary table in cli reporter does not render with failed tests"
When a test fails, the statistical summary table does not complete printing, nor anything afterwards. Passing --reporter-cli-no-summary allows the failure details to print without the table.

Mac 10.10.5, Postman 4.7, newman 3.1

→ /encrypt/{input}
  GET http://localhost:8123/encrypt/123459 [200 OK, 193B, 17ms]
  ✓  Status code is 200

┌─────────────────────────┬──────────┬──────────┐
│

[2016-09-08 18:26] kunagpal commented on #578
@umesh-bhalerao This bug has been fixed in #593 and #597, and will be out in the next Newman release.

[2016-09-08 18:29] kunagpal commented on #600
Hey @jwilkey, could you provide a sample of the command used to run the collection?

[2016-09-08 18:30] kunagpal commented on #599
@madebysid :point_up_2:

[2016-09-08 19:37] madebysid commented on #599
@max-preuschen We've seen this issue before [here](https://github.com/postmanlabs/postman-app-support/issues/2308) and are working on a fix and it'll be out ASAP

[2016-09-08 19:48] max-preuschen commented on #599
Great! 👍
Thanks for the reply.

[2016-09-08 22:50] shamasis commented on #429
From the Newman CLI output - I am seeing that your request itself is erroring out - even before anything related to cookie can be done.

Is it a local server? If yes, check with 127.0.0.1 instead of localhost.

[2016-09-09 06:13] calebrepkes commented on #429
Hey I think you missed the point where I said that I used the same collection as you. :-) So Im trying to hit: "url": "https://echo.getpostman.com/cookies/set?foo=bar",

Where as I verified it also in Postman itself by hitting it without SSL:
"url": "http://echo.getpostman.com/cookies/set?foo=bar",

And in both cases I dont get Cookies.

[2016-09-09 08:07] calebrepkes commented on #429
Wow this is strange, the first time I call it, its undefined. But then second time calling it, (or third, fourth) its always finding it.

Plus, Im also unable to ping http://echo.getpostman.com when in CMD. So I figure there is a problem there somewhere.

[2016-09-09 08:19] chit786 opened #603 "Error : Self-signed certificate in certificate chain"
Newman is throwing error using newman run <collection.json> -e <environment.json> command,

Getting error "SELF SIGNED CERTIFICATE IN CERTIFICATE CHAIN"

ut when I execute same collection in postman it runs perfectly.

![image](https://cloud.githubusercontent.com/assets/18376182/18380124/2cb1f0f2-7676-11e6-965a-c7db4ffe8a7a.png)

I am using Win7 - 32 bit machine
Node version -  v4.5.0
npm version

[2016-09-09 08:36] czardoz commented on #603
@chit786 Try running Newman with the `-k` flag:
[code]

[2016-09-09 08:40] chit786 commented on #603
Awesome it worked! Could you please advice if there is some info about this documentation.

[2016-09-09 08:40] #603 closed

[2016-09-09 09:42] kunagpal commented on #603
@chit786 The complete set of available CLI options can be found at https://github.com/postmanlabs/newman#command-line-options.

[2016-09-09 12:16] DivyaKalyanakrishnan commented on #595
@czardoz : I get the same error still. complete snapshot attached.
![errorsnapshot2](https://cloud.githubusercontent.com/assets/16604655/18386535/58b071c6-76b5-11e6-98b5-21c95b213518.PNG)

[2016-09-10 09:32] shamasis commented on #429
I think we need to do a more realtime chat and get this sorted. Can you ping me on our slack community and then we can work on solving this together.

[2016-09-10 23:10] kunagpal commented on #599
@max-preuschen Closing, as this issue is related to the app, and not Newman. Please see https://github.com/postmanlabs/postman-app-support/issues for any other app related issues.

[2016-09-10 23:10] #599 closed

[2016-09-10 23:15] kunagpal commented on #290
@mstaalesen @Zambonilli  A fix for this issue is under construction, you can follow it's progress [here](https://github.com/postmanlabs/postman-runtime/pull/59).

[2016-09-10 23:17] kunagpal commented on #242
Closing as the issue has been fixed on our end.

[2016-09-10 23:17] #242 closed

[2016-09-10 23:18] kunagpal commented on #193
@czardoz @shamasis Are we good to close this issue?

[2016-09-11 06:21] shamasis commented on #193
No. Will close when we have a solution.

[2016-09-11 06:24] shamasis commented on #591
This is being internally tracked. Closing this.

[2016-09-11 06:24] #591 closed

[2016-09-11 06:31] shamasis commented on #595
If it helps: from the report it seems that the request itself has errored out (error 1). Error 2 is simply a side effect of that. I did an initial googling of the error "invalid protocol". Seems like this usually happens if there's an issue with proxy settings. Is that machine of yours using proxy?

[2016-09-11 17:37] kunagpal opened #606 "Test coverage"
Test coverage with [Istanbul](https://www.npmjs.com/package/istanbul) needs to be added.

[2016-09-12 10:29] umesh-bhalerao commented on #578
Thanks @kunagpal, when can we expect the next Newman release ?

[2016-09-12 10:36] kunagpal commented on #578
@umesh-bhalerao A release is expected this week, I'll update this thread accordingly.

[2016-09-12 14:48] nsitbon commented on #456
👍

[2016-09-12 23:01] shamasis commented on #456
since we stream upload and ensure we do not read the entire file at one go (performance), the encoding will only happen in chunks. this might not result in same output. need to see if we can reserve a chunk and ensure the concatenation point of two chunks are accurate.

@a85 FYI.

[2016-09-12 23:05] shamasis commented on #456
Regarding the original question, export the collection in v2 format from postman app and ensure that the file references are mentioned as path in a key called `src`.

[2016-09-13 08:46] nsitbon commented on #456
@shamasis it doesn't work in raw mode even though it does in form-data mode. Still stuck with my tests I can't automate posting binary file in raw mode.

[2016-09-13 15:42] coltonlw commented on #570
After switching to "src" attribute (instead of "value") and collection format v2 this is resolved for us and fixes the issue with postman desktop app clearing the "value" of file fields, since "src" is now what's used by newman.

[2016-09-13 15:42] #570 closed

[2016-09-13 15:44] kunagpal commented on #570
@coltonlw Glad to hear that :+1:

[2016-09-13 15:47] kunagpal commented on #413
@swapnilpatne Well, writing to a file will require using one of the write methods from [fs](https://nodejs.org/api/fs.html), which is currently not included within the Postman Sandbox.

[2016-09-13 16:17] #365 closed

[2016-09-13 20:29] jonniedarko opened #610 "Tests not executing when using newman programmatically"
If I try to run my postman collection tests using the following code it does not fail but does not execute:
[code]

this produces the output:
[code]

But if I just run using the globally install newman command
[code]
I get the expected output:

[code]

The file used in both cases is the exact same and was exported from postman (using Collection v1)

I have verified this behaviour on both `node v6.

[2016-09-14 10:41] kunagpal commented on #610
Hey, @jonniedarko I'm unable to reproduce this issue on my end. Would it be possible for you to share the collection file, sans the sensitive details?

[2016-09-14 10:52] kunagpal commented on #229
@davenewza Please see #570 for more details, sincerest apologies for the delay.
Closing issue due to inactivity.

[2016-09-14 10:52] #229 closed

[2016-09-14 12:50] jonniedarko commented on #610
@kunagpal Sure, here it is:
[code]

[2016-09-14 13:27] kunagpal commented on #610
@jonniedarko Thanks for reporting this bug, we'll be adding a fix for the same.

[2016-09-14 17:47] gsterg commented on #456
ok so in terms of v2 json is the following is the expected format to stream a file?

I have tried a few permutation and I cannot get it to work.

"body": {
	"mode": "raw",
	"src": "/path/filename.xml"
},

If the v2 format does now work with binary is there possibly a way to do it with v1?

	"data": [],
	"dataMode": "binary",

how is the filepath specified within data??

[2016-09-14 18:12] shamasis commented on #456
@czardoz @kunagpal - 👆🏼

[2016-09-14 18:16] shamasis commented on #456
Can you try by setting the mode to "file" in v2?

[2016-09-14 18:28] gsterg commented on #456
nice file worked... I had to use "file" though in both lines including the key/value for path

"body": {
     "mode": "file",
     "file": "/path/filename.xml"
},

[2016-09-14 21:21] nsitbon commented on #456
works for me too using the same structure as @gsterg (thx by the way)

[2016-09-14 22:14] shamasis commented on #456
By the way, this is actually a bug. It should read from mode: file and src:path/to/file.

Hope it is okay for you to change it back when we fix this. In fact, care will be taken to close this issue only AFTER a release has been done with this fix, so that you can track and update when you can. Apologies in advance.

@czardoz FYI

[2016-09-15 07:32] nsitbon commented on #456
that's fine for me @shamasis

[2016-09-15 17:04] rmarczynski opened #612 "Allow async tasks in event callbacks"
My use-case is that I would like to perform some async tasks before each iteration, i.e. in the`'beforeIteration` event callback.  Specifically, I'd like to update the database so that it aligns with the iteration-data.  Currently there seems to be no way to pause the execution of an iteration's tests while we wait for the async task to complete.

[2016-09-15 17:15] kunagpal commented on #612
@czardoz

[2016-09-15 19:30] shamasis commented on #612
As of now you can set fixed delay between requests. But that's not ideal. Newman is running on an evented model - I would need to think deeper as to how your usecase can fit in. @czardoz i have an idea where we can do event third argument as a resolver function to resolve the event. However it has to be noted that it would be a total anti pattern for evented paradigm.

Thirdly, Can we do a .pause

[2016-09-15 20:14] shamasis commented on #483
I had recently tested that Chinese and Russian characters rendered just fine in HTML for Newman v3. However for best compatibility, we should set charset UTF8 meta in head tag.

@kunagpal 👆🏼

Closing this issue. Please reopen if the issue persists.

[2016-09-15 20:14] #483 closed

[2016-09-16 05:29] shamasis commented on #209
Since v3.0, I couldn't spot much difference between Newman and postman response times. So closing this ticket. Please reopen if otherwise.

[2016-09-16 05:29] #209 closed

[2016-09-16 08:32] soundstep opened #615 "Async tests / libraries"
Feature request.
It would be nice to allow async tests.

[code]

I give you a use case, if I need a library to do some special assertions, I would be able to load it using whatever it is running on (xhr, request).
For example, [tv4](https://github.com/geraintluff/tv4) has been included, but I might need other means of validation.
I could also look at [pact dsl](https://github.com/DiUS/pact-consume

[2016-09-16 11:24] kunagpal opened #616 "Add tests for `options.iterationCount` vs `options.iterationData.length`"
iterationData.length  | iterationCount  | Result
:-:|:-:|:-:
 -  | - | 1
 - | ✔️  | `iterationCount`
 ✔️  | - | `iterationData.length`
 ✔️  | ✔️  | `iterationCount`

[2016-09-16 14:31] qarasha commented on #276
+1 for multiple folders. It's a feature that we need as well 👍

[2016-09-19 15:21] tslape commented on #456
Tried the way that @gsterg used and am getting 501 Not implemented. Any body else getting that?

[2016-09-19 15:33] shamasis commented on #456
@tslape - can you check if you could otherwise upload file using Postman clients. Is it possible to debug why your server is returning not inplemented.

It could either be that Newman is sending the API in a format your server does not support but Postman app is doing it right - if so, we should investigate this (possibly in a new issue and not in this one)

If not (I.e. The request fails on both

[2016-09-19 15:56] wkuckro commented on #551
ran this in the latest gold master release for 10.12, same issue

[2016-09-19 16:14] tariqghalib opened #619 "[Newman] - Exception while generating HTML report"
**Problem Statement**:
I am seeing an error when I try to create an HTML report while running the collection through newman. The whole execution completes and at the end when its trying to generate an HTML report its throwing exception. Following are the details:

**Newman Version** :
3.1.0

**Command**:
newman -c .\collection.json -y 500 --environment .\enviornment.json -H myReport.html

**Error

[2016-09-19 16:54] tslape opened #621 "PUT request returning 501 Not Implemented when uploading an image from Newman or in Postman Windows App"
I tried uploading an image using Newman as described in #456 and it returns 501 Not Implemented.

I tried using the Windows App as well on Windows 10 and used the binary upload and received the same error as in Newman.

The same calls work perfectly fine when using the Chrome Extension.

[2016-09-19 16:56] tslape commented on #456
@czardoz @shamasis  I opened a new ticket #621 and it works in the Chrome Extension, but not in Newman or the Windows Application

[2016-09-20 03:28] rapidroamer commented on #595
I too had a similar issue, with only a high level information..

My case
=====

POST http://myendpoint [errored]
2⠄ ReferenceError in test-script

And reporter failed with below message.
/postman/node_modules/newman/node_modules/pretty-ms/index.js:8
throw new TypeError('Expected a finite number');

After analysis:
It turned out I had set a  --requestTimeout value and my url didn't respond by that

[2016-09-20 03:41] rapidroamer commented on #276
+1

[2016-09-20 11:32] kunagpal commented on #619
@tariqghalib A fix for this bug has been added in #582, and will be rolled out within the next Newman release.

[2016-09-21 18:49] danonorato opened #626 "newman.run() not pulling in the environment option"
It appears newman.run() parses a exported  Postman environment JSON file w/out error but fails to use the environment at run-time.

here is the console output from a very simple test.js file as well as running the same collection and environment via newman CLI(which works as expected).  I've attached the newman_pos.js file along with the environment and collection files.

The newman_poc.js script

[2016-09-21 18:53] kunagpal commented on #626
@danonorato This had been identified as a bug in #614, and will be rolled out in the next Newman release.

[2016-09-21 18:57] danonorato commented on #626
great,  any idea when that release may come out?    Also,  will newman ever support automatically printing out the details of failed asserts?   IE.  looking for responseCode 200 but got 503.  Currently we only see that a assert failed, but not why it failed.  This is normally something any test framework includes. ie.. rspec, jasmine, junit.  etc...   Seeing the reason for failure out of the gate

[2016-09-21 19:00] kunagpal commented on #626
@danonorato The release will be out before the end of this week, we'll update this thread right after the release. As for the failed assertion details, there is a distinct section at the bottom of each collection run's CLI output, which aids debugging.

[2016-09-21 19:04] danonorato commented on #626
yes,  I've see the section,  but its truly insufficient, unless i'm missing the missing the detail.  For instance,  if I expect the responseBody to === "Foobar".  the output only prints that the Foobar assert failed, but it does not tell be why.    IE.  expect responseBody == Foobar  actual = BarFoo

[2016-09-21 19:06] kunagpal commented on #626
@danonorato Interesting. We'll take a closer look at your suggestions, thanks. :+1:

[2016-09-22 09:54] kunagpal commented on #626
@danonorato This bug should have been fixed in Newman `v3.1.1`, please check it out and get back to us if your issue persists. Thanks!

[2016-09-22 09:54] #626 closed

[2016-09-22 09:55] kunagpal commented on #619
@tariqghalib  This bug should have been fixed in Newman `v3.1.1`, please check it out and get back to us if your issue persists. Thanks!

[2016-09-22 09:55] #619 closed

[2016-09-22 09:55] kunagpal commented on #610
@jonniedarko  This bug should have been fixed in Newman `v3.1.1`, please check it out and get back to us if your issue persists. Thanks!

[2016-09-22 09:55] #610 closed

[2016-09-22 09:55] kunagpal commented on #578
@umesh-bhalerao This bug should have been fixed in Newman `v3.1.1`, please check it out and get back to us if your issue persists. Thanks!

[2016-09-22 09:56] kunagpal commented on #556
@aaronweatherall @mykhaylo-  This bug should have been fixed in Newman `v3.1.1`, please check it out and get back to us if your issue persists. Thanks!

[2016-09-22 09:56] #556 closed

[2016-09-22 09:57] kunagpal commented on #290
@mstaalesen @Zambonilli The memory usage should have been cut down in Newman `v3.1.1`, please check it out and get back to us if your issue persists. Thanks!

[2016-09-22 09:57] #290 closed

[2016-09-22 16:15] coltonlw commented on #158
There should be a CLI option for this, I think the most useful option would be print response body on test failure

[2016-09-23 10:30] vrinek opened #628 "Interaction between `--bail` & `--iteration-count`"
Assume `collection.json` with 2 requests and the following command:

[code]

The behaviour I can observe now is that if the first request on the first iteration fails, nothing else is run.

The behaviour I would expect is if the first request on the first iteration fails, the second iteration still runs. The reason I expect this behaviour is that I use `--iteration-count` to test for flaky vs brok

[2016-09-23 11:01] kunagpal commented on #628
Hey @vrinek, you've made an interesting point there. @czardoz @shamasis

[2016-09-23 17:15] samcayford opened #630 "Encoded strings in response. Postman vs newman"
Rather than blather on, here is an example of the issue:

`tests["Message"] = jsonData.message == "Import Successful";`
return success in Postman, but fails in Newman. In Newman the string is encoded with + replacing the space.
In order to get the test to pass in both apps i had to do:
`tests["Message"] = jsonData.message.replace(/\+/g,  " ") == "Import Successful";`

Doesn't bother whether the st

[2016-09-25 21:35] jonniedarko commented on #610
👍

[2016-09-26 06:17] umesh-bhalerao commented on #578
Thanks @kunagpal , I see most of the issues observed earlier fixed with Newman v3.1.1.
But in certain cases I still see a unicode character "?" in the output, in this case step3, step4, step5 pasted below.

The "--disable-unicode" switch was used in the newman command:

Command:
newman run TestCollection.json -g GlobalInput.json --export-globals RuntimeEnv.json --timeout-request 0 --no-color --dis

[2016-09-26 06:54] shamasis commented on #578
@kunagpal @czardoz - we need to make print module do the Unicode replacement. Otherwise these teeny tiny Unicode items will keep cropping up.

[2016-09-26 06:56] shamasis commented on #578
But before that we can address this single issue and push a fix?

[2016-09-26 08:12] kunagpal commented on #578
@umesh-bhalerao @czardoz @shamasis Working on it

[2016-09-26 15:49] wkuckro commented on #153
This is needed

[2016-09-27 12:46] kunagpal commented on #606
https://github.com/postmanlabs/newman/pull/638

[2016-09-27 14:53] dmartin-patientping opened #642 "Help CLI parameter is not returning full help"
The abbreviated help is less useful than the full:

[2016-09-28 07:25] shamasis commented on #628
I'm thinking of a concept of "bail mode" that can be passed optionally as parameter to --bail

[2016-09-28 07:26] shamasis commented on #630
What's jsonData? Is it `JSON.parse(responseBody)`?

[2016-09-28 07:29] #606 closed

[2016-09-28 08:57] ractive opened #643 "reporter-junit-export does not handle directories"
The documentation for the reporter-junit-export command line argument states:

When setting it to a directory with `--reporter-junit-export /etc/newman/foo`, newman reports:

If the directory does not exists, a file called /etc/newman/foo with the junit report gets created.

IMHO newman should handle the argument like:
- if it's a directory, create the files with the default naming scheme in this

[2016-09-28 10:24] kunagpal commented on #643
Hey @ractive, thanks a lot bringing this issue to our notice, we're working on a fix for the same :)

[2016-09-28 10:37] kunagpal commented on #643
Hey @ractive, the could you send us a command used to run the collection?

[2016-09-28 10:43] kunagpal commented on #564
@BalanagarajanArumugam Apologies for the delay. Newman `v3.1.1` has been released with memory leak fixes, please try it out and get back to us if your issues persist.

[2016-09-28 10:47] BalanagarajanArumugam commented on #564
@kunagpal : Will check and update you.

[2016-09-28 10:47] kunagpal commented on #564
@BalanagarajanArumugam Cool 👍

[2016-09-28 10:55] kunagpal commented on #578
@umesh-bhalerao The reported issue was fixed in #634, and will be rolled out in the next Newman release.

[2016-09-28 11:13] kunagpal commented on #600
@jwilkey I'm unable to reproduce this issue on our end, could you check with the latest release of Newman? (`v3.1.1`)

[2016-09-28 11:43] kunagpal commented on #621
Hey @tslape, I'm able to upload images using PUT requests (in binary body mode) to https://echo.getpostman.com/put, with a `Content-Type` header of `image/jpeg`. This works correctly for Newman, as well as the native Postman Client for Windows. Could you try with the Echo link as the target endpoint and see if it works for you?