[2020-11-28 10:37] DannyDainton commented on #2533
In the file that you just sent, the id that's in the test script, doesn't match any of the request ids

So although this id
_083e46e7-53ea-87b1-8104-f8917ce58a17_ is mentioned, it's not going to go anywhere when run with Newman because that is not a valid request id in that collection.

I have no idea when you go the Collection from or what documentation your referencing.

[2020-11-28 11:39] saiudayakella commented on #2533
I have explained the reason for picking request id rather than the name when I logged the issue itself.  We often copy setup folders across different collections and they tend to have same names. Unfortunately postman still doesn't provide to set the next request via the syntax - `Folder/Request`. So, renaming duplicate requests could be one option but when the project grows, this approach is not

[2020-11-29 08:50] MikiManor commented on #2172
Hi,

Wondering if this functionality has been addressed as we are having the same scenario.

Thanks

[2020-11-30 08:03] praveendvd commented on #2560
Really a good feature , i also feel this hectic i have to create new temp csv to test  a sngle line

[2020-11-30 08:10] praveendvd opened #2565 "Newman doesn't sync with postman cloud so mockserver tests fails"
1. Newman Version (can be found via `newman -v`): 5.2.1
 2. OS details (type, version, and architecture): windows 10
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Always there

Steps to reproduce the problem:

1. Create a  mock server with response body as

{ "name" : "{{name}}"}

where name variable is in the env

[2020-12-01 17:44] DannyDainton commented on #2533
As you're using a static JSON file exported from the app - the request ids are not part of the file and get recreated at runtime so the request ids from the `setNextRequest()` function are not matching. I have printed the `pm.info.requestId` in a test so you can see it changing.

This is using an exported file:

![Screenshot 2020-12-01 at 17 35 59](https://user-images.githubusercontent.com/1708954

[2020-12-02 00:51] saiudayakella commented on #2533
In this case I can use Postman API to fetch the request id as well rather than using the exported id which you suggested. Is that right?

[2020-12-02 08:45] DannyDainton commented on #2533
You would need to run Newman with the Postman API call that gets the single collection, to ensure that the ids are going to match.

For example:

[code]

By only using the exported JSON file for the run, it's not going to have the same request ids.

[2020-12-02 14:37] jammymalina opened #2566 "[Feature Request] Enable running single request from the folder/collection"
1. Newman Version (can be found via newman -v): 5.2.1
2. OS details (type, version, and architecture): Linux
3. Are you using Newman as a library, or via the CLI? CLI
4. Did you encounter this recently, or has this bug always been there: Always

Steps to reproduce the problem:
1. newman run collection.json -e dev_env.json --folder RequestFolder/PostRequest

Expected behaviour:
- should run the sin

[2020-12-03 00:18] saiudayakella commented on #2533
You are referring to running part which I got it. I'm asking about fetching respective request ids. I was using postman api for fetching request ids which you said was not the right way and asked me to export the file and find the ids.

Can I continue my existing approach for fetching request ids?

[2020-12-03 07:10] DannyDainton commented on #2533
Use the Postman API or the Web version of Postman (https://go.postman.co) to get the ids. Get the _request id_, do **not** use and of the ids on the pre-request or test sections.

Add those to the Collection, in the app UI's `Tests` section, as the `setNextRequest()` value.

Run Newman using the **Postman API URL** that you used to get the Collection ids.

[code]

Do **not** use the exported JSON

[2020-12-03 07:26] kshitij86 commented on #2566
@jammymalina What is the error on the CLI, if any ?

[2020-12-03 09:00] jammymalina commented on #2566
@kshitij86 There's no error, the request doesn't even start.
`newman run collection.json -e dev_env.json -g globals.json --folder FolderName/RequestName`

[code]

[2020-12-03 21:23] hungtdao commented on #2165
Has this been implemented or resolved?  I got a same error when running newman for a Postman collection

Error:
_tls_common.js:135
      c.context.setCert(cert);
                ^

Error: error:0909006C:PEM routines:get_name:no start line
    at Object.createSecureContext [as __createSecureContext] (_tls_common.js:135:17)
    at Object.tls.createSecureContext (C:\Users\DaoH02\AppData\Roaming\npm\n

[2020-12-05 11:42] LTRichHouse commented on #1879
I'm getting the same problem

[2020-12-05 12:27] DannyDainton commented on #2566
If the request has a unique name, you can use the `--folder "<requestName>"` syntax without specifying the folder.

[2020-12-07 07:38] cainzhong commented on #935
I use big-json to generate the summary.json instead of using JSON.stringify(). It works. The code looks like below.
[code]

[2020-12-07 14:56] einhorneyal opened #2570 "[Feature Request] Use Windows certificate store as a source for client certificate"
Newman Version (can be found via newman -v): 5.2.1
OS details (type, version, and architecture): Windows Server 2019
Are you using Newman as a library, or via the CLI? CLI
Did you encounter this recently, or has this bug always been there: always
Expected behavior: Should be possible to use windows certificate store instead of CRT&KEY files/PFX file as a source for client certificate.

Hey friends

[2020-12-07 15:14] rakyarrows commented on #964
I am facing the same issue while running on newman, It is working fine on postman runner.

![image](https://user-images.githubusercontent.com/21131320/101368276-f30cdb80-3874-11eb-810d-2cf42e9cb0cf.png)

[2020-12-08 08:40] jammymalina commented on #2566
Unfortunately that's not the case.

[2020-12-08 08:41] jammymalina commented on #2566
If you let me I can try to create a PR for it.

[2020-12-08 08:58] DannyDainton commented on #2566
Could you elaborate more on that and show what's happening on your side.

[2020-12-08 09:12] jammymalina commented on #2566
I am trying to run a single request from the collection. I am trying to use this command to run it:
`newman run collection.json -e dev_env.json -g globals.json --folder FolderName/RequestName`

RequestName is **not** a unique request name within the collection. After running the command I get this output - meaning request doesn't start:
[code]

[2020-12-08 09:30] DannyDainton commented on #2566
So the request name isn't unique in the Collection - It would need to be unique to run the single request. :(

My suggestion was more of a workaround than a final solution to the issue you're facing.

[2020-12-08 09:38] jammymalina commented on #2566
Ok, I can try to work with that in the meantime. I can try to open a PR for this if I manage to find time.

[2020-12-09 08:54] PVoola commented on #1162
I use newman version 5+ and I still get the same issue when sending POST requests alone

[2020-12-23 12:18] IgorokNerovnyi1980 commented on #2460
it looks like the problem came back again. can't install npm package

[2020-12-23 21:00] unmultimedio commented on #885
Still running into this issue. I'm on `newman@5.2.1` and also I can't control the `-t` flag in the docker command. From the CLI it works ok.

[code]

Also, from @jeroenheijmans [comment](https://github.com/postmanlabs/newman/issues/885#issuecomment-328867015), the current branch still has the issue exposed.

In [here](https://github.com/postmanlabs/newman/blob/98d08bd4690b5922ab8c48430a7f8e84a3213

[2020-12-24 12:17] rmnscb commented on #1859
i have the same problem

[2021-01-01 14:10] splitt3r commented on #2557
What about writing a small reporter https://github.com/postmanlabs/newman#creating-your-own-reporter to push your results to the Prometheus Push Gateway? I think that would be a relatively easy job and a great addition to Newman.

[2021-01-03 11:54] #2515 closed

[2021-01-03 12:04] TheSlimvReal opened #2581 "Bug: unknown option '--env-var "..."'"
I use newman to create an integration test with `helm test`
I fetch the `postman/newman` image and provide the path to the collection via the GitLab API.
The collection contains a reference: `{{baseUrl}}` which I want to define when I run newman using the `--env-var` option.

In my helm template:
[code]
When I run `helm test` I get the follwing error:
`error: unknown option '--env-var "baseUrl=<te

[2021-01-03 12:10] codenirvana commented on #2581
@TheSlimvReal The Newman `run` command expects a collection path or URL followed by the run options.

I hope this will fix your issue: `newman run  <collection_path> --env-var "baseUrl=<url>"`.

[2021-01-03 12:10] #2581 closed

[2021-01-03 12:19] TheSlimvReal commented on #2581
Actually, what fixed the issue is that the `postman/newman` container already executes the `newman` command. I had to change my template to
[code]
This resolved the problem.

[2021-01-03 12:24] TheSlimvReal commented on #2581
Unfortunately, the changed order does not change anything. The same error message is displayed.

[2021-01-03 12:42] TheSlimvReal opened #2582 "Bug: unknown option '--env-var "..."'"
My previous issue (#2581) got closed but the proposed [fix](https://github.com/postmanlabs/newman/issues/2581#issuecomment-753607633) does not help. I open this issue with the suggested changes from the previous one.

I use newman to create an integration test with `helm test`
I fetch the `postman/newman` image and provide the path to the collection via the GitLab API.
The collection contains a re

[2021-01-04 08:28] cvdwaart opened #2583 "Update (deprecated) packages in postman/newman alpine docker image"
1. Newman Version (can be found via `newman -v`):
Dcoker Alpine image  5.2.2

Steps to reproduce the problem:
1. When downloading the image the following errors are visible in the console:
[code]

[2021-01-04 23:29] JoyShafer commented on #712
The verbose feedback is certainly verbose, but not useful for troubleshooting many issues. It would be great to have Newman log what the Postman console logs.
I'm trying to troubleshoot an auth issue. We run a pre-request script to generate and fetch an auth token from a couple of internal websites. This works fine in Postman but in Newman the response from the first auth request is 400 Bad Reques

[2021-01-05 15:42] PVoola commented on #1679
It can be achieved with the following:

Ensure that environment values are updated to their desired values using postman.setEnvironmentVariable("var_name", "var_value");, or postman.setGlobalVariable in your collection request test scripts, where applicable.

    To update the environment / globals file, you can use --export-environment / --export-globals, like so:

newman run coll.json -e env.jso

[2021-01-08 08:11] ellachrystelle commented on #2532
@Alphasaurs any updates on this? I'm having the same issue

[2021-01-08 22:28] sweetnoods commented on #2117
That does seem incredibly useful for CI/CD.

[2021-01-12 15:13] awasall opened #2589 "Probleme with token in newman"
Hello when I run my collection with newman I have problem with token like that:
 Token or expiry date are missing' and time out

[2021-01-12 15:15] awasall commented on #2589
Iuse the docker like you but With postman i have not a problem but with newman I have problems

[2021-01-14 12:25] longetree opened #2590 "junit/xml reporter can't show failed testcases if the postman collection used pm.sendRequest"
Version and environment information:
 1. Newman Version 5.1.0
 2. OS details : Windows 8

`
if ( xxx ){
    pm.test(" code is 0", function () {
        var jsonData = pm.response.json();
        pm.expect(jsonData.code).to.eql(0);
    });
   if (check_url.length >= 1){
       for(let i in check_url){
             var test_url = check_url[i];
             console.log("test url:",test_url);

[2021-01-20 17:17] soujanya1511 commented on #1224
Hi All,

Trying to automate GraphQL API from POSTMAN.Using bearer token(from header and authorization)the collections run succesfully on POSTMAN UI but same exported JSON collection fails with NewMan from cmd (same m/c)with 401 unauthorized error.Below pic FYI

![newman-401](https://user-images.githubusercontent.com/16749597/105210789-2055d600-5b11-11eb-9939-a7dea319a8ee.PNG)

Please suggest what

[2021-01-20 20:00] ashishvd1 opened #2594 "newman 5.2.2 is running 0/0 iterations for any export from postman 7.36.1"
newman does not recognize any request in the postman export.
newman always runs 0/0 iterations.
This started once I upgraded to latest postman. There is some issue in postman export. Quick comparison, I see the ID attribute is missing in export.

Version and environment information:

 1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture): Windows1

[2021-01-21 02:56] johnwyles commented on #224
If I do the following in the `Pre-request Script` it will work in both Postman and Newman:

[code]

[2021-01-21 13:35] TheSlimvReal commented on #2582
The problem was that `--env-var` and `baseUrl=<...>` were in the same argument. They need to be separated in order to be parsed correctly. The cause and solution are explained [here](https://stackoverflow.com/a/65820175/10713841)

[2021-01-21 13:35] #2582 closed

[2021-01-22 16:06] grimsa opened #2595 "Script execution timeout despite using the default timeout values (Infinity)"
1. Newman Version (can be found via `newman -v`): `5.2.2`
 2. OS details (type, version, and architecture): `Linux 4.4.0-1118-aws #132-Ubuntu SMP Fri Nov 13 18:22:45 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Saw it the first time, but there are similar issues reported

[2021-01-22 16:07] petrisorionel opened #2596 "Additional CLI reporter options"
Please add an option in CLI Reporter --reporter-cli-no-payload "This turns off to print the request payload in CLI Reporter".
Please add an option in CLI Reporter --reporter-cli-only-dots "This will print in CLI one dot for every test".

Version and environment information:

 1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture): Windows 10, Ubunt

[2021-01-22 16:13] petrisorionel commented on #1880
It is a possibility to ignores the "Body" section for all type of request (POST / PUT / PATCH / DELETE ) ?

[2021-01-23 11:11] DannyDainton commented on #2589
Hey @awasall

Can you expand of the details of the problem you're facing, please?

[2021-01-25 11:57] mheine commented on #2293
@DannyDainton Sorry to dig up an old ticket, but we've recently encountered the same issue as well. We're running `newman 4.5.7` (and updating to `5.2.2` does not appear to help) using npm and running it as the embedded library (as opposed to the original issue which uses the CLI). We're using `Jenkins` and `docker-compose`, and running `node 5.2.2`.

We're also encountering the same problems with

[2021-01-26 06:53] yusong0926 opened #2601 "output request timing details for each request"
not sure if there is a way to output request timing details (dns, firstBytes .....) for each request. I can only find timing details for the whole collection. For each request, only response time is available in the output file.

 1. Newman Version (can be found via `newman -v`): 5.2.0
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI? cli
 3.

[2021-01-27 04:17] ashishvd1 commented on #2594
This is not a bug. I had folder set in the options and totally forgot about them. Those folder were not part of the new collection.

[2021-01-27 04:17] #2594 closed

[2021-01-27 20:05] DannyDainton commented on #2601
Using the `--verbose` flag should show the detailed timing information for the requests.

[2021-01-28 11:00] LindaMohacsi opened #2602 "Deprecate-warning for har-validator@5.1.5"
1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI? cli
 3. Did you encounter this recently, or has this bug always been there: recently
 4. Expected behaviour: no deprecation warning when installing newman
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files

[2021-01-30 09:41] yusong0926 commented on #2601
I actually used verbose flag. it only shows responseTime in each request metrics. For dnsTime, firstBytes, I can only find aggregated values like average/min/max aggregated by all the requests in the collection.

[2021-01-30 09:51] yusong0926 commented on #2601
"timings": {
      "responseAverage": 186,
      "responseMin": 186,
      "responseMax": 186,
      "responseSd": 0,
      "dnsAverage": 15.191342000000077,
      "dnsMin": 15.191342000000077,
      "dnsMax": 15.191342000000077,
      "dnsSd": 0,
      "firstByteAverage": 125.70972300000005,
      "firstByteMin": 125.70972300000005,
      "firstByteMax": 125.70972300000005,
      "firstByteSd": 0

[2021-01-30 09:52] yusong0926 commented on #2601
"responseTime": 186,
          "responseSize": 42858

[2021-01-30 20:18] DannyDainton commented on #2601
You mentioned that you're using the CLI in the original issue details, is this not the output from the library?

[2021-02-01 04:01] yusong0926 commented on #2601
the output was from json reporter.

[2021-02-01 12:18] RamyaJaya opened #2605 "Newman run gives 403 error randomly for some test cases (not always)"
1. Newman Version (can be found via `newman -v`): 5.2.0 ( used in the Docker image - postman/newman:5-ubuntu)
 2. OS details (type, version, and architecture):  EC2 (AWS) - m5.xlarge (1st or 2nd generation Intel Xeon Platinum 8000 series processor (Skylake-SP or Cascade Lake) with a sustained all core Turbo CPU clock speed of up to 3.1 GHz, 4 vCPU, 16GB memory)
 3. Are you using Newman as a librar

[2021-02-01 17:45] twoodhouse commented on #2197
@rycornell, can we reopen this? Adding a plugin as a dependency doesn't fix the issue internal to newman. The standard junit reporter should have been smart enough to handle this.

[2021-02-01 20:56] splitt3r commented on #2274
This bug is really annoying while building a custom reporter 😞

[2021-02-04 12:50] adityaofficial10 commented on #2601
@DannyDainton
Hey!
Can I work on this issue?

[2021-02-04 21:24] Sam-Automation-2021 opened #2606 "NEWMAN EXTRA Report sharing in slack channel & Postman monitoring html report setup"
I have done slack integration using postman monitoring. it's working as expected, prob is I am sharing the basic execution report status in my slack channel, I am planning the share the detailed report like the NEWMAN report in slack. we are looking for a detailed report format like HTML or PDF report. which you be more helpful in our project.

we are using POSTMAN monitoring,  do we have an optio

[2021-02-05 12:08] momentumsubash commented on #2122
did any one had sucess with this , i have a pre-request script in the top folder for creating session token and im passing this token for all the requests that i have in folders and sub folders, but when i try to run it using newman, it keeps giving me error with session token, but im pretty sure same script works by using postman tool , i even have returned the variables in console, and in postma

[2021-02-05 12:10] momentumsubash commented on #2589
@DannyDainton im not sure if my issue is same but, i have a problem with pre-request script using newman only ,
i have a pre-request script in the top folder for creating session token and im passing this token for all the requests that i have in folders and sub folders, but when i try to run it using newman, it keeps giving me error with session token, but im pretty sure same script works by usin

[2021-02-05 12:16] momentumsubash opened #2607 "Problem running mainfolder level pre-request script using newman"
Hi Team,

Help appreciated, im running a postman collection using newman with a url , and a env variable, so what im doing is some thing like,
 newman run https://www.getpostman.com/collections/XXXXXXX-e lambda\ 01.postman_environment.json

it runs fine but, every endpoint gives session token error , but i have a pre-request script written to login first generate the token and add it to the variab

[2021-02-05 16:16] Lampei commented on #2215
@shamasis You had asked for an example of usage of this feature...I just now ran into one.
I currently have my data files setup as a dev/qa/stg etc as the values being passed in those environment *could* be different (IDs, etc)
For those values that do *not* change though, I would like to have one data file that can be used across environments.
e.g. my-api.multi.json my-api.dev.json
This way, I'm

[2021-02-05 18:56] Christopher-Kane commented on #1513
Yeah I think this still is happening, I just opened a support issue through Postman support for I'm pretty sure the exact same thing.

[2021-02-05 19:00] Christopher-Kane commented on #1513
It is Postman Support Issue 67107, and I had recorded a video to explain what I was seeing. We've been utilizing pm.sendRequest in pre-request scripts in order to work around this issue I believe but it's come to ahead where we now need to no longer use that in order to implement another tool we'd like to use, and I was not aware until recently that it seems like it should actually have the abilit

[2021-02-06 13:47] adityaofficial10 commented on #2601
@yusong0926 Actually it gives all the details using a cli reporter with --verbose option.
But the output is the same as you cited above using a json reporter.
So @DannyDainton,
Can I open a PR for adding the required details?

[2021-02-06 13:50] DannyDainton commented on #2601
I'm not going to stop anyone actively wanting to do any work - You don't need permission from me 😂

[2021-02-06 13:51] adityaofficial10 commented on #2601
Ok thanks😅.

[2021-02-07 12:12] adityaofficial10 commented on #2601
@DannyDainton  @yusong0926
I've opened a pull request with a fix for this issue.
A sample of the new report is presented below for review:
"timings": {
      "responseAverage": 503.3333333333333,
      "responseMin": 238,
      "responseMax": 935,
      "responseSd": 188.1494677702337,
      "dnsAverage": 9.528401999999915,
      "dnsMin": 9.528401999999915,
      "dnsMax": 9.528401999999915,

[2021-02-07 12:14] adityaofficial10 commented on #2601
@DannyDainton @yusong0926
I've opened a pull request with a fix for this issue.
The screenshot of the new report is attached herewith:

<img width="954" alt="report" src="https://user-images.githubusercontent.com/65034276/107146091-ef2c3100-696b-11eb-82d2-72dcda0df4b1.png">

[2021-02-08 00:01] taehoshino opened #2615 "[Question] Request for clarification on "How to run a collection with OAuth2.0 using newman""
**This issue is filed by Product Support**

**Issue summary**

 1. Newman Version (can be found via `newman -v`):5.5.2
 2. OS details (type, version, and architecture): Mac
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: There are a few similar topics that are closed https://github.com/postmanlabs/newman/issues/1859

[2021-02-08 04:24] s4ik4t commented on #1839
Do not see any mention for pfx files, is that supported too?

[2021-02-08 15:58] impnguyen opened #2616 "newman custom http header"
Hi,

I tried to execute an exported postman collection in the newman cli.
Basically they behaviour differently. In the Postman Gui I can fetch an http x-csrf-token. In the I also can see the fetched token.

The same exported collection does not work in newman cli (in my docker container).
If I log the "pm.response.headers" and "pm.request.headers" in postman. I can see the value "Fetched" and  the

[2021-02-08 16:08] Christopher-Kane commented on #2615
I believe this issue is being opened as a result of the issue documented in https://github.com/postmanlabs/newman/issues/1513 but the reporter no longer had access to the windows machine that he had originally seen and reported the issue on. I do believe this issue is still present.

[2021-02-08 16:33] adityaofficial10 commented on #2607
Hey @momentumsubash !
It would be really great if you could provide a bit more details like screenshots.
That would help digging out the problem.

[2021-02-08 20:51] iSeiryu commented on #221
It's 2021 and I still cannot find any. I wish they could at least include a default custom logger for that purpose.
Postman's Runner has "Save responses" flag. It would be very helpful to have it on newman too.

[2021-02-09 03:58] momentumsubash commented on #2607
The problem is with the postman public url, i deleted the url regenerated again, than it works, if i update something again, I will have to recreate a new url. So changing url worked for.me.

[2021-02-09 07:59] adityaofficial10 commented on #2607
Ok great.

[2021-02-09 17:24] johnaschroeder commented on #2615
Yep, just ran into it today.

[2021-02-10 02:04] taehoshino commented on #2615
Hey @Christopher-Kane and @johnaschroeder!

I have discussed with my team on this issue and the issue here lies in the understanding of the nature of OAuth authentication flow against that of newman as an automation tool.

As an example, please refer to [Spotify doc](https://developer.spotify.com/documentation/general/guides/authorization-guide/). OAuth is end-user authentication and the generated

[2021-02-10 14:54] johnaschroeder commented on #2615
Hi @taehoshino, thanks for the detailed and thoughtful reply.  I have oauth2 working based on 1) above.  That said, I'm confused by why this can't work.  Here's what I have so far:

-  My pre-request script runs successfully and logs a new token to the console, so that works
-  My request then runs, but fails because the token isn't substituted.

In the app, I have a variable for the token:
![imag

[2021-02-10 16:43] adityaofficial10 commented on #2532
Actually your postman collection consists of 7 empty scripts with 3 of them being test scripts and the rest pre-request scripts.
I think you need to check the way you exported the collection from Postman.
After removing them, the results are correct as shown below:
<img width="848" alt="Screenshot 2021-02-10 at 10 12 04 PM" src="https://user-images.githubusercontent.com/65034276/107541444-265d4500

[2021-02-10 16:57] adityaofficial10 commented on #2590
@longetree Can you please elaborate on the issue?
That will help digging out the problem.

[2021-02-10 17:05] adityaofficial10 commented on #2500
@DannyDainton  Is this issue closed?

[2021-02-10 17:31] Christopher-Kane commented on #2615
@johnaschroeder Hey John, if you're already using a pre-request script to grab the token, could you not just save that token to a collection level variable and then setup the collection to use that variable and set the rest of the requests to inherit auth from the collection? Because I have OAuth2.0 working on the command-line today using pre-request scripts and collection level variables in the e

[2021-02-10 18:06] adityaofficial10 commented on #2596
@DannyDainton
So are we looking forward to this feature request?
If yes, can I work on this?

[2021-02-10 18:25] adityaofficial10 commented on #2465
@DannyDainton Are we looking forward to this request?
If yes, I can work on this as this is similar to another feature request related to options.

[2021-02-10 18:47] adityaofficial10 commented on #2197
Is anyone already working on this issue?
If not, I am ready to start.

[2021-02-10 19:16] adityaofficial10 commented on #2197
#2601

[2021-02-10 19:18] adityaofficial10 commented on #2197
This is the same as Issue #2601
That was for json reporter.
@DannyDainton
Merging #2614 will make it easy for me to open a PR for this issue.

[2021-02-10 20:01] lflucasferreira commented on #831
The only workaround I found was to unset the variable in the pre-request or test tab.

[code]

[2021-02-10 22:22] petrisorionel commented on #2596
@adityaofficial10 this one will be nice to have it --reporter-cli-only-dots "This will print in CLI one dot for every test".

[2021-02-11 06:36] adityaofficial10 commented on #2596
Yes @petrisorionel,
But do I have the thumbs up to go ahead with this?

[2021-02-11 07:11] adityaofficial10 commented on #2601
I've updated this configuration by adding iteration count and item name as shown below:
<img width="391" alt="Screenshot 2021-02-11 at 12 40 32 PM" src="https://user-images.githubusercontent.com/65034276/107609976-70ced800-6c66-11eb-9bfe-633009457a25.png">

[2021-02-11 08:35] petrisorionel commented on #2596
From my side, yes. It will be a great feature, for example I'm running collections in Jenkins and produce a lot of noise.

I don't want to use --reporter-cli-silent and see the result at the end.

Will be nice to see the progress with dots.

[2021-02-11 08:43] DannyDainton commented on #2596
Could you just not use the `progress` reporter instead on the CLI reporter, if you don't want 'noise' 😁

`newman run collection.json -r progress`

[2021-02-11 17:05] Alphasaurs commented on #2532
@adityaofficial10 thanks for correcting and identifying the problem in this issue, I am closing this issue now.

[2021-02-11 17:05] #2532 closed

[2021-02-11 19:38] DannyDainton commented on #2500
Hey @adityaofficial10

The best person to tag is @vvs11 🏆

[2021-02-11 19:39] DannyDainton commented on #2465
Hey @adityaofficial10

The best person to tag is @vvs11 🏆

[2021-02-12 01:32] taehoshino commented on #2615
@johnaschroeder Thanks for your response!

When auth type is set to OAuth, the app will not export the value to json.
So it would work if you instead select "Bearer Token" type and then pass the value {{accessToken}}.
Please do let me know if there is anything else I can help here.

[2021-02-12 05:57] adityaofficial10 commented on #2465
Sure, thanks for guidance.

[2021-02-12 14:36] nurfet-becirevic opened #2617 "Problem with combining --environment and --env-var flags"
Hi,

I am using newman to run tests via CLI. It works well when I either provide environment variables though a json file using `--environment` flag or via multiple `--env-var` flags. In the the test scripts I set additional env variables used by other tests.

The problem is when I combine `--environment` and `--env-var` my tests fail as the variables I set in the scripts are not found. In one of

[2021-02-12 19:47] adityaofficial10 commented on #2617
Hey @nurfet-becirevic ,
Can you attach a screenshot or something of what happened?
That would make it easy to dig out the issue.

[2021-02-15 04:16] adityaofficial10 commented on #2596
So @petrisorionel ,
Is your problem solved with the progress reporter or should we move ahead with the feature request?

[2021-02-15 22:20] nurfet-becirevic commented on #2617
Closing this as the source of the problem was not in newman.

[2021-02-15 22:20] #2617 closed

[2021-02-17 12:04] Rey17Alexander commented on #2602
8. Screenshot:
![изображение](https://user-images.githubusercontent.com/56083726/108201788-d7666100-7152-11eb-9140-5ad66985b923.png)

[2021-02-17 14:24] seyguai opened #2621 "SyntaxError with nullish coalescing operator (??)"
Postman v8.0.6, Windows 10 Pro
newman v5.2.0, inside docker image postman/newman:ubuntu

Using the CLI to run the sample provided (`newman run <file>`), with this pre-request script:
`let test = null ?? "foo";`
Works perfectly fine with Postman, but fails with newman.

[nullish-coalescing-operator.postman_collection.json.txt](https://github.com/postmanlabs/newman/files/5996289/nullish-coalescing-o

[2021-02-18 08:03] tester-xm opened #2622 "The modification of the pm.globals and pm.environment is not supported by newman with folders?"
1. Newman Version newest.

1. These variables can be modified and shared by postman when my requests use them in the other folders.
2. These variables can be modified and shared by newman when my requests use them in the other folders.
3. Should I rewrite "-g" "-e" in order to support *.json modification?
4. My request about getting token, I create it in one folder, my globals:token is not shared

[2021-02-18 08:45] DannyDainton commented on #2622
Hey @tester-xm

It's difficult to understand your current flow - Can you provide some steps to reproduce the problem and some visual examples of what you can see happening.

[2021-02-18 08:58] tester-xm commented on #2622
Sorry, it is my mistake, I have write a pm.globals.clear(); in my pre-script in collection.

[2021-02-18 08:58] #2622 closed

[2021-02-18 19:07] Christopher-Kane commented on #1882
@shamasis @codenirvana Can we get some clarification on this issue based on what @vikyd stated? I'm tracking to track down an issue that is causing an issue in Report Portal and this or #1868 seems to be the issue.

[2021-02-18 19:16] shamasis commented on #1882
Let me have a look at it again. I'm reopening this just in case.

[2021-02-18 20:02] DannyDainton commented on #2606
Hey @Sam-Automation-2021

Newman custom reporters cannot be used with a Monitored Collections in Postman. These are only used with Newman.

I'm going to close those as it feels like it would be a great question to raise on the Postman community page.

https://community.postman.com

[2021-02-18 20:02] #2606 closed

[2021-02-18 20:04] DannyDainton commented on #2605
Hey @RamyaJaya

Is this still happening for you?

[2021-02-18 20:10] Christopher-Kane commented on #1882
I appreciate it @shamasis. If I can speak to my issue a little bit more. This issue reported here: https://github.com/reportportal/agent-js-postman/issues/8 the people responsible for that open source project believe that the issue that they are experiencing is caused by: https://github.com/postmanlabs/newman/issues/1868 which is still open. From what I can gather it seems that using pm.sendReques

[2021-02-19 08:05] timhuff opened #2623 "Add documentation about what is passed to event listeners for each event."
I spent about 45 minutes tracking down that, in `.on('request', (err, obj)=>{})`, that obj has the type signature

[code]

where each of those types comes from the `postman-collection` library. This is not obvious at all.

(didn't bother figuring out what history was)

[2021-02-19 11:13] shamasis commented on #2623
Yep. We did write down parts of it in the postman-runtime repo.

@codenirvana @mohitranka lets set aside some time to consolidate it here.

@timhuff if you'd like to help, we are more than happy to partner up.

[2021-02-19 17:21] 9Rune5 commented on #2154
It would make a lot of sense to have this in newman so that we don't all have to roll our own docker image containing wait-on or whatnot.

`newman -waitforOK <url>`

That way we can easily pass this parameter when incorporating postman/newman into our docker-compose files.

[2021-02-20 02:48] timhuff commented on #2623
@shamasis Sorry I missed your comment but I came back to share this with everyone. I'm glad you also find this attention worthy.

This was generated by me tapping the event emitter and programmatically generating a rough sketch. Then I had to dive deeper into a few aspects of it (such as wtf an `Execution` is. not sure if that's properly defined somewhere). There are still a few properties that ar

[2021-02-20 02:52] timhuff commented on #2623
Ah, whoops. I missed `exception`.

[2021-02-20 02:59] timhuff commented on #2623
@shamasis if you've already seen my last comment, refresh the page. Had a few things I forgot to change for the public.

[2021-02-20 03:15] timhuff commented on #2623
@shamasis also, while I've got your guys' attention, how feasible would it be to provide a property in the event object that is a function that permits you to modify the runtime variables? It'd be great if I could inject information into the runtime based on the information I receive in the event listener. I'd be willing to make this change, provided that my pull request would be considered =P

@c

[2021-02-20 08:39] shamasis commented on #2623
@timhuff while I parse your comments in detail, here's a quick reply.

Almost all the names constructors you see in the event should be documented here https://www.postmanlabs.com/postman-collection/ since they're mostly collection SDK object instances.

Regarding being able to modify the variables on event, it may already possible (not through anything documented) but by getting access to the run

[2021-02-20 08:49] timhuff commented on #2623
@shamasis Thanks for getting back. I came to realize that all but a small number were postman-collection classes. But, being someone who just started using newman, I was completely lost. I didn't even realize postman-collection was a thing.

You're totally right about the runner instance. I didn't want to flood this thread but while working with the event listeners, I found a method that was... it

[2021-02-20 08:55] shamasis commented on #2623
Oh. I feel your pain.

We have a tonne of objects and a lot of deep embedded features and even have documentation. But it's disconnected and scattered all over. With a bit of help from everyone, I think we can make it easier for everyone. (And PS - no use case is far off. I'm glad newman is helping you.)

@mohitranka @codenirvana Let's introduce a document with reference to descriptions of these e

[2021-02-20 08:58] timhuff commented on #2623
@shamasis Let me know if I can lend a hand. I'm unfamiliar with the codebase but if you have some grunt work, I'd be happy to contribute. This is a great tool you guys have here.

[2021-02-20 09:01] shamasis commented on #2623
Thank you for your generous offer. It is definitely our responsibility but we wouldn't have been able to create what we did without the love and input from everyone.

We will document a few events, iterate on it and leave it open for everyone to complete.

[2021-02-20 10:54] DannyDainton commented on #2607
This looks like it's be resolved, going to close this issue.

[2021-02-20 10:54] #2607 closed

[2021-02-20 11:06] DannyDainton commented on #2503
Hey @cHaLkdusT

I'm not entirely sure what we could do here to help with this issue.

Was there anything in the linked SO post that would help with your integration?

[2021-02-21 19:52] adityaofficial10 commented on #2566
@DannyDainton
Sorry for tagging you yet again.😅
But if this has stalled, can I go ahead with this?

[2021-02-21 19:59] adityaofficial10 commented on #2226
@codenirvana @shamasis
Can I take up this issue?

[2021-02-21 20:31] shamasis commented on #2226
I haven't deep dived into the issue yet, but @adityaofficial10 do we know what solution we are planning?

Is it a disparity in default settings between app and newman?

[2021-02-21 20:52] DannyDainton commented on #2566
I personally think that if you're willing to give anything a go and want to work on a solution - go for it everytime. 😂

It will be reviewed by folks here and they will certainly let you know if it fits into the bigger picture and long term plans of the project. 🏆

[2021-02-22 06:33] adityaofficial10 commented on #2566
Ok thanks a lot.
I am moving ahead with this.

[2021-02-23 20:48] adityaofficial10 commented on #2103
I am going ahead with a PR for this.
Kindly review it.

[2021-02-25 12:21] rahulbhide-droid opened #2631 "Newman unable to Read/write global variables during collection run (runs in Postman but Newman API scripts fail)"
1. Newman 5.2.1
 2. Ubuntu 18.04
 3. Newman cli
 4. Expected behaviour: Newman during runtime should be able to read/write global variables that are specified all through out the requests.
 5. Command / script used to run Newman: newman run <collection>.json -e environment.json -g GlobalVariables-test.json
 6.
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshot

[2021-02-25 16:07] adityaofficial10 commented on #2631
Hey @rahulbhide-droid !
Can you share your your environment and GlobalVariables-test file if possible?
That will help in digging out the issue..

[2021-02-26 03:07] yusong0926 opened #2632 "add feature to limit the response body size newman can process instead of running out of memory"
Newman Version (can be found via newman -v): 5.2.0
OS details (type, version, and architecture):
Are you using Newman as a library, or via the CLI? cli
Did you encounter this recently, or has this bug always been there:
Expected behaviour:
Command / script used to run Newman:
Sample collection, and auxiliary files (minus the sensitive details):
Screenshots (if applicable):

[2021-02-26 09:58] adityaofficial10 commented on #2632
@yusong0926
Can you elaborate this a little please??

[2021-02-26 20:40] lonnymontoya opened #2633 "'@postman/form-data@~3.1.1' is not in the npm registry."
1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture): OS X Catalina 10.15.7
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: new
 4. Expected behaviour: Installation with "npm install -g newman" completes successfully
 5. Command / script used to run Newman:
 6. Sam

[2021-02-27 07:26] adityaofficial10 commented on #2226
@shamasis
This needs a bit more thought for me to plan a solution.
Can we have this as a GSoC project idea?

[2021-02-28 06:22] adityaofficial10 commented on #2631
Also, newman has more precedence for environment variables than global variables.
So in case of variables with same names, environment variables will override the global variables.
Check if this is the case...

[2021-02-28 12:22] adityaofficial10 commented on #1775
@mixels
You basically want the location of the saved report using a particular reporter. Right?

[2021-02-28 15:08] mixels commented on #1775
@adityaofficial10 Yep, that's all!

[2021-02-28 18:17] adityaofficial10 commented on #1775
Also, if the path is passed, then the report gets saved to the path only.
But in case if no path is passed, the report is always written to newman/ in the current working directory.
But still, this information on the console is useful for the user.

[2021-03-02 14:31] adityaofficial10 commented on #2085
@codenirvana @shamasis
I think the incorrect order of results is related to postman-runtime.
Can I try to come up with a solution?

[2021-03-02 16:39] rufreakde commented on #2117
Will we then be able to provide a list of pairs sharing the same global scope that might be changed during the run?
`run -g <global.json> --collectionEnvPair <colection.json1> <env.json1> --collectionEnvPair <colection.json2> <env.json2>`

Would I be able to have an authentication collection run first and all the other ones with its environment afterwards?

[2021-03-02 20:37] rufreakde commented on #2117
nvm can somulate this with, just "found --export-globals <path>" :)

[2021-03-02 21:33] felipecrs opened #2638 "Newman --color auto should give precedence to TERM over CI=true"
Newman should give precedence to `TERM` environment variable, even if `CI=true` ([Jenkins supports colors](https://plugins.jenkins.io/ansicolor/)).

With `TERM` and `CI=true`:
![image](https://user-images.githubusercontent.com/29582865/109717959-7c3a6280-7b85-11eb-890f-66cffd48bb5c.png)

With `TERM` and without `CI=true`:
![image](https://user-images.githubusercontent.com/29582865/109717988-85c3ca

[2021-03-03 16:14] MathieuAA commented on #1972
Hello there, as of newman v5.2.2, this issue is still being reported by an `npm audit` (can't be fixed with `npm audit fix`.

[2021-03-04 09:30] senthilvadivu123 opened #2641 "Back ground has dots"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2021-03-04 09:33] senthilvadivu123 commented on #2641
![Postman Background](https://user-images.githubusercontent.com/58381091/109943076-a70ddf00-7c89-11eb-94df-d3d13e120034.png)

[2021-03-04 18:39] adityaofficial10 commented on #2641
@senthilvadivu123
I don't think this is related to Newman..

[2021-03-09 02:20] gpabo commented on #1918
+1 for this feature request. We have a use case where the pre-request script retries the request to an endpoint for 'x' number of times until the server is up/ready and continues running the rest of the collection.

This is from following the advice on this post: https://community.postman.com/t/retry-a-failing-request/5934

However, at the end of the collection run, newman returns the result as a

[2021-03-09 07:18] kilimandzsaro opened #2645 "API endpoint request to GET the global variables"
Hi,

My team is using postman collections in CI with environments. We are using the url of the environment to run our collection (with newman). Also we have some global variables which works as quazy constants. Recently I tried to use newman's "-g" switch to setup the tests with not only the environment variables, but with global variables. I tried to use the URL of the global variables, and while

[2021-03-09 09:25] aritrasinha108 commented on #2327
Hii @DannyDainton @shamasis @codenirvana  @umeshp7  If this issue is still open to contributions, I'll be happy to take this up.

[2021-03-10 03:35] Cronus1007 commented on #2533
@DannyDainton Shall I work upon this issue?

[2021-03-10 03:41] Cronus1007 commented on #2623
@shamasis Shall I work upon this issue.

[2021-03-10 06:47] Cronus1007 commented on #2064
@DannyDainton shall I implement this issue.

[2021-03-10 06:50] Cronus1007 commented on #2605
@DannyDainton any updates regarding this issue.

[2021-03-10 06:51] DannyDainton commented on #2064
You are not required to seek permission if you feel it's something you would like to work on 😂

We encourage people to contribute to the project 🏆

Cc @vvs11

[2021-03-10 06:52] DannyDainton commented on #2605
As there has been no response in 19+ days, I'm going to close this issue.

It can be reopened again if users are facing the same problem.

[2021-03-10 06:52] #2605 closed

[2021-03-10 07:29] DannyDainton commented on #2645
Hey @kilimandzsaro

Although you're using Newman, this issue feels like it's more suited for the main `postman-app-support` repo where the team who handle that part of the product can take a look. 🏆

Could you raise the issue there please?

https://github.com/postmanlabs/postman-app-support/issues

I'm going to close this one for now.

[2021-03-10 11:45] adityaofficial10 commented on #2602
@DannyDainton
Are we open to using a replacement to har-validator here?
If yes, I have a solution ready..

[2021-03-10 12:01] DannyDainton commented on #2602
I'm not the person to answer those questions 😁

@vvs11 @codenirvana

[2021-03-10 13:02] adityaofficial10 commented on #2602
I'm sorry for this but you're definitely the person who responds the quickest.😅

[2021-03-11 05:43] adityaofficial10 commented on #2621
@codenirvana @vvs11
I think this one is related to postman-runtime.

[2021-03-11 05:45] adityaofficial10 commented on #2616
@impnguyen
I'm trying to reproduce this and I'll try to come up with a fix soon.

[2021-03-11 05:47] adityaofficial10 commented on #2595
@grimsa
I'm trying to reproduce this and I'll try to come up with a fix soon.

[2021-03-11 05:52] adityaofficial10 commented on #2560
@Xdomen
I'm moving forward with this feature request.

[2021-03-11 18:49] codenirvana commented on #2596
Don't think this is needed for the inbuilt reporter but one can build a [custom reporter](https://github.com/postmanlabs/newman#creating-your-own-reporter) to achieve this.

[2021-03-11 18:49] #2596 closed

[2021-03-11 19:03] codenirvana commented on #2602
This `npm` warning is expected because the `har-validator` package is no longer maintained and marked as deprecated.
However, this doesn’t affect Newman as the library depending on it is actively maintained and we may drop this dependency in the future.

Refer https://github.com/ahmadnassri/node-har-validator/issues/173 for more details.

[2021-03-11 19:03] #2602 closed

[2021-03-11 20:30] adityaofficial10 commented on #2560
@preyunk
I was working with this and had my draft ready.
You should have informed me about your work atleast.
Anyways, I have the tests ready.
So we can collaborate I guess.

[2021-03-11 20:39] adityaofficial10 commented on #2168
@m3dbedb
I am moving forward with this feature request.

[2021-03-11 21:34] preyunk commented on #2560
Yeah sure!
Sorry for the inconvenience, though.

[2021-03-12 06:02] adityaofficial10 opened #2655 "Feature Request: Add start time and end time for each iteration."
1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture): Mac OSX Big Sur 11.1
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: NA
 4. Expected behaviour: None
 5. Command / script used to run Newman: None
 6. Sample collection, and auxiliary files (minus the sensitive

[2021-03-12 06:02] adityaofficial10 commented on #2655
@codenirvana
I have the patch ready and I'm moving forward with it.

[2021-03-12 09:09] raghavbhatia336 commented on #2548
@DannyDainton @shamasis @codenirvana , kindly check this : https://github.com/postmanlabs/newman/pull/2657#issuecomment-797348134

[2021-03-12 11:52] vishesh13byte commented on #2655
hello , can you please help me to find a good first issue and how to go throught the code and contribute

[2021-03-12 11:59] adityaofficial10 commented on #2655
Hey @vishesh13byte !
Actually I just submitted a patch that will fix this.
But if you want good first issues, then I don't think there are many right now..
I have some ideas which I might open here.
You can work on them.

As for the codebase, just start through the lib directory and go through the code by logging parameters and objects.
You can debug your code locally by running ' node ./bin/newma

[2021-03-12 12:19] vishesh13byte commented on #2655
Thank you for replying , I have been trying to interact through mailing list nut no one replied . I want to contribute to this project , thank you again for getting me started.

[2021-03-12 12:20] adityaofficial10 commented on #2655
@vishesh13byte
Its fine bro.😅
Mailing lists aren't active as of now, it seems.

[2021-03-13 08:25] crew-guy commented on #2655
Hi @adityaofficial10, I'm Ankit, a 19 year old full stack JS developer and lover of the Postman software. I actually wish to start contributing to the Newman Request and Newman Dashboard project.

Currently, I am reading official docs of all the concepts such as IPC, threading, that you have mentioned in the project ideas. Can you provide me a starting point or issue to start working with the code

[2021-03-13 08:32] adityaofficial10 commented on #2655
@crew-guy
I am not a member of the Postman team.😅
I am an open source contributor and working with Postman for some time now.
If you want to contribute, just start going through the codebase and logging to see what every function consists of.

But yeah I can definitely help you getting started.
And please if you have questions,  use the GSoC thread on the forum.
Let's keep the issue tracker clean.

[2021-03-13 09:48] crew-guy commented on #2655
Cool. Thanks a lot Aditya !!

[2021-03-13 16:05] AswinCG2002 commented on #2064
Are the changes to made in
    https://hub.docker.com/r/postman/newman
                   or
    https://github.com/postmanlabs/newman/blob/develop/docker/README.md.

   If the changes are to be made to the first one, Could you pls tell me how should I be making changes there. Is there a way I can access that file? @DannyDainton

[2021-03-13 16:48] AswinCG2002 commented on #1655
Should I be working on this issue? Is this a priority issue that needs to be fixed?

[2021-03-13 16:49] AswinCG2002 commented on #2022
Is this issue fixed or should I be working on this issue?

[2021-03-13 16:51] AswinCG2002 commented on #2623
Is this issue fixed? If not can u tell me how to get working on this issue? @shamasis

[2021-03-13 17:02] shamasis commented on #2623
I think we have a branch or just about to commit one that has the structure of one event. Goal is to work together and complete the remaining.

@mohitranka when we have that ready, can you update us here?

[2021-03-13 17:05] shamasis commented on #1655
@AswinCG2002 i see you are interested in contributing to a number of issues. To ensure we don't flood every open issue, and have the moderators go through every issue you've commented, find a subset of issues that you think you know what the solution is and comment with the proposed solution. That will help start a dialogue to completion.

Thanks for understanding.

[2021-03-14 07:17] elit-altum commented on #2570
Hey @DannyDainton can you guide me with this ? I'd be happy to work on this!

[2021-03-14 09:40] crew-guy commented on #2655
Hey @adityaofficial10 ! Can you please share a link to this thread on the forum as I have been trying to reach someone but haven't been able to yet

[2021-03-15 11:43] adityaofficial10 commented on #2435
@DannyDainton
This feature is already there.
@phrohdoh
It has to do something with local configuration because I passed it locally and it works fine.

[2021-03-15 11:45] adityaofficial10 commented on #2327
@aritrasinha108
Bro, I'm working on it already.😅

[2021-03-15 11:53] DannyDainton commented on #2435
I appreciate the pings in all the issues 😄  but you really should be directing the questions to @vvs11 - I previously mentioned that in a different issue 😄

Although you may see me doing _things_ in the repo, it's more on the general admin side, than the implementation of any of the features in the product. 😄

[2021-03-15 12:01] adityaofficial10 commented on #2435
@DannyDainton
Sorry for this, I just thought this issue had to be closed.
So I tagged you..
I remember your previous advice and will never tag you in that kind of discussion. 😅✌

[2021-03-15 12:19] DannyDainton commented on #2435
Please feel free to ping me if I'm relevant to the conversation 👍🏻

[2021-03-15 18:07] elit-altum opened #2666 "Enhacement: Descriptive white space reporter error message"
1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture): Windows 10 x64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Not a bug
 4. Expected behaviour: More descriptive error message regarding not using white spaces between reporter names.
 5. Command / script used

[2021-03-15 18:08] elit-altum commented on #2666
@shamasis Please have a look!

[2021-03-15 20:21] shamasis commented on #2666
Yeah definitely - this needs fixing. But is there a way we can completely get rid of this error scenario?

If it is a parsing error, can we not prune blank reporter options before passing the options further down the line in code?

I would rather attempt at fixing the root cause than suppress the symptom. Only and only if the root cause resolution is a massive endeavour is when I would go the mess

[2021-03-15 20:37] elit-altum commented on #2666
Absolutely @shamasis, I tried to find the location where the parsing is happening but I wasn't able to locate it, is it a ```utils``` function?
Could you please guide me in the right direction?

[2021-03-15 20:45] nik-kill commented on #2621
@seyguai @adityaofficial10
I think the syntax error is because 'Null Coalescing operator(??)' feature was added in node v14. Please check your node version if that's  <v14.
Alternatively,
`let test = null ?? "foo";`
can be changed to
` let test = null || "foo";`

I've made changes in the json file below.
[nullish-coalescing-operator.postman_collection.json.txt](https://github.com/postmanlabs/newma

[2021-03-15 20:49] shamasis commented on #2327
Before I get a chance to review the code, a quick glance at the very helpful screenshots tell me that the name of the row in table is not correct.

If we look and recognise the pattern, we can see that `assertions` is the count for test and it is at the bottom.

If I were to induce from there, I would add a row after assertions and call it `skipped-assertions`. Then put the count of skipped tests

[2021-03-15 20:57] shamasis commented on #2621
I'm close to 90% sure that the cause is because of older NodeJS version in the system where Newman is running.

Here's one quick Google search around updating NodeJS version if it helps - https://www.whitesourcesoftware.com/free-developer-tools/blog/update-node-js/

Closing this. In case my 90% surety is wrong (and that does happen, please comment here to reopen.)

[2021-03-15 20:57] #2621 closed

[2021-03-15 21:01] shamasis commented on #2666
I'm afraid that would be very difficult for me at the moment.

Try putting a breakpoint on the error and observe the stack trace.

Basic CLI parsing is done using an external library and then a bit of organising is done on top of it. Most of the code around that is in the cli bin js file.

[2021-03-15 21:05] shamasis commented on #2435
@adityaofficial10 can you post a gif or screenshot demonstrating that this is working? (Take care to not accidentally post sensitive info.)

Using that we can close the issue. Also, if you know the possible causes for this (I'm guessing it's the permission that the Linux user under whose scope Newman is running or permission to access stdout) - then when other users face same issue and reach here

[2021-03-15 21:06] adityaofficial10 commented on #2435
@shamasis
It's mostly the permission issue.
I'll share the screenshot shortly.

[2021-03-15 21:09] adityaofficial10 commented on #2435
@shamasis Here it is.
<img width="795" alt="Screenshot 2021-03-16 at 2 38 28 AM" src="https://user-images.githubusercontent.com/65034276/111221685-d402b000-8600-11eb-8f48-2f09d1e18750.png">

[2021-03-15 21:32] shamasis commented on #2633
Form data is on NPM. See https://www.npmjs.com/package/@postman/form-data

Seems like you're using some sort of registry mirror that's acting up.

Closing this for now. Feel free to comment to reopen.

[2021-03-15 21:32] #2633 closed

[2021-03-15 21:35] phrohdoh commented on #2435
FWIW this was reported after attempting this on a 2018 MacBook Pro.
I have not tried this under GNU/Linux.

[2021-03-15 21:36] adityaofficial10 commented on #2435
@phrohdoh
Mine is also Macbook Air 2019.😅✌

[2021-03-15 21:36] shamasis commented on #2632
Ooh! This will be pretty interesting to implement. The core support needs to be in the stream processing of the postman-request library and then the corresponding configuration needs to be carried from newman via runtime to postman-request.

@codenirvana Thoughts?

[2021-03-15 22:26] aritrasinha108 commented on #2327
@shamasis, I wanted to ask if it's really required to store the skipped assertions in the summary as we already list out all the skipped assertions separately through a conditional statement. I mean, it's just a subset of a list of all the assertions. Can't we directly filter it to just display the no. of skipped assertions?

[2021-03-16 04:04] rishipurwar1 commented on #2565
Can I start working on this issue?

[2021-03-16 05:09] aritrasinha108 commented on #2327
![Screenshot from 2021-03-16 10-33-58](https://user-images.githubusercontent.com/55765656/111258667-72b00080-8643-11eb-8685-5104013b92cc.png)

@shamasis  Does this work? Please review and suggest any changes if required ?

[2021-03-16 06:25] aayushmau5 commented on #2632
Hey @shamasis I'm down to work on this. Right now, I'm looking at the postman-request library to see how can it be implemented.

[2021-03-16 06:44] adityaofficial10 commented on #2085
@shamasis
I think of submitting a patch for this to postman-runtime.

[2021-03-16 08:06] aayushmau5 commented on #2632
I'm looking into how this can be implemented.

[2021-03-16 11:48] adityaofficial10 commented on #2085
@shamasis
I have made the changes and opened the PR in postman-runtime.
Kindly check.

[2021-03-16 12:00] shamasis commented on #2085
Also, if we do this, we need to put this behaviour behind an option so that this does not become a breaking change.

[2021-03-16 12:00] adityaofficial10 commented on #2104
@RomainSimiand
I am moving forward with this feature request.

[2021-03-16 12:04] adityaofficial10 commented on #2085
Yeah actually @shamasis , you are right.
How about having an option --order-folders for this purpose?

[2021-03-16 12:06] shamasis commented on #2085
Order folders will prevent us from reusing the same option for request filter when we build it next.

We should call this something that reflects that switching it on will respect the order of options over the predefined order.

[2021-03-16 12:10] adityaofficial10 commented on #2085
@shamasis
Okay, then what about orderStrict??
It reflects that the ordering is strict with respect to folders.

[2021-03-16 12:14] adityaofficial10 commented on #2104
@shamasis
We can use swagger2-postman-generator npm package here.
It converts the Swagger spec to Postman Collection v1.
We'll have to convert it to v2 and we're done.

[2021-03-16 12:44] shamasis commented on #2104
2 years too late to reply!

I'm afraid this is beyond the scope of newman as a project.

Similar constructs as discussed here is planned to be built in a more integrated fashion on Postman Platform and APIs. Meanwhile, individual separate components stay open sourced for all of us to combine and integrate as we please.

Closing this.

[2021-03-16 12:44] #2104 closed

[2021-03-16 12:46] shamasis commented on #2104
@adityaofficial10 you can talk to @postmanlabs/integrations-platform to check if swagger-2-postman's team is available to collaborate to add anything relevant on that project itself.

[2021-03-16 12:56] shamasis commented on #2085
This name is very close to what we want. But let's get more opinions.

@codenirvana @saswatds what do you think?

[2021-03-16 13:06] shamasis commented on #2327
The screenshot looks good. Just need to not have 0 under the failed column since skipped tests cannot fail.

[2021-03-16 13:08] shamasis commented on #2327
We can. But it seems a right approach to read off of summary for this list. I will know more when you push PR.

[2021-03-16 13:22] vishesh13byte opened #2669 "Error in index.js file"
1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture): Ubuntu 20.04
 3. Are you using Newman as a library, or via the CLI? cli
 3. Did you encounter this recently, or has this bug always been there: not a bug
 4. Expected behaviour: nil
 5. Command / script used to run Newman: nil
 6. Sample collection, and auxiliary files (minus the sensitive det

[2021-03-16 13:26] vishesh13byte commented on #2669
@shamasis @codenirvana there is a small error in index.js file ,should I go ahead and make a pull request for this .I am a newbie and want ro contribute .

[2021-03-16 13:33] vishesh13byte commented on #2669
@shamasis @codenirvana I have made a pull request about this issue ,if you consider this worthy please review my PR .

thank you.

[2021-03-16 13:43] shamasis commented on #2669
This isn't valid. The legal verbiage of the license text is accurate: https://www.apache.org/licenses/LICENSE-2.0.txt

Though I believe the PR was with good intent - would appreciate a bit of pre-research to avoid adding up review times incurred.

[2021-03-16 13:43] #2669 closed

[2021-03-16 13:51] shamasis commented on #2561
Does postman-request have connection pool configurations? We can then make that configurable via options.

The most appropriate place to have the pool is in postman-request. And it already has one in form of Node's original pool (just a guess.)

[2021-03-16 13:53] vishesh13byte commented on #2669
Sorry sir, I appreciate your reply. I am just looking to contribute ,I read the whole project and also have understood some of it but I am not able to find some good first issues or some issues that will help me diving in the project a bit more beacause I really want to contribute .

[2021-03-16 14:12] DannyDainton commented on #1524
Hey folks,

As the originally opened issue doesn't contain enough context and information about what is happening during the Jenkins run - could anyone explain the full details of the issue they are seeing, when running the Collection with Newman via Jenkins?

@Sushmithashetty-gep As you're the latest person to report the problem - Can you add more details here?

There are a bunch of Newman <> Jen

[2021-03-16 17:18] swedkg commented on #1700
This issue still exists. This is a VM with 10GB of ram with NODE_OPTIONS="--max-old-space-size=8192". The response is a file of 137.98MB. The file is downloaded, but then we get the fatal memory error. Smaller responses are fine.

$ newman -v
5.2.2

$ node -v
v14.16.0

[code]

[2021-03-16 17:58] aritrasinha108 commented on #2327
@shamasis I've pushed the PR,  #2667, and stored it in summary as you had asked. I used the name ```skippedAssertions```.  Regarding the 0 in the failed column in skipped assertions, I tried to print it separately, and it looks like this. Does this work?? I haven't added the colors yet.
![Screenshot from 2021-03-16 23-26-36](https://user-images.githubusercontent.com/55765656/111357226-23071e80-86a

[2021-03-16 18:36] shamasis commented on #2327
Add an empty extra cell.

[2021-03-16 20:00] adityaofficial10 commented on #2085
@codenirvana @shamasis
I am submitting a patch for this.
This will depend on the proposed change in the postman-runtime, for which the patch has already been submitted.

[2021-03-17 08:25] adityaofficial10 commented on #2065
@luddskunk
You basically want the result to be returned in the callback rather than having to read the report.
Right?

[2021-03-17 08:29] luddskunk commented on #2065
@adityaofficial10 Yes, that would be adequate.

[2021-03-17 08:31] adityaofficial10 commented on #2065
@luddskunk
Ok I am moving ahead with this and I'll try to find a fix without disturbing the workflow.

[2021-03-17 08:58] adityaofficial10 commented on #2631
@shamasis
I think this can be closed.
This was mostly related to the interaction between environment and global variables.

[2021-03-17 08:59] shamasis commented on #2631
Can you double check this? Ideally Postman and Newman should have same precedence of scope since it uses same runtime code.

[2021-03-17 09:03] adityaofficial10 commented on #2631
@shamasis
Postman and Newman do have the same scope.
I read it here: https://learning.postman.com/docs/sending-requests/variables/#variable-scopes

[2021-03-17 09:04] shamasis commented on #2065
I see how you'll need this. 😊

This is not within the scope of Newman and will conflict with certain upcoming product features.

The ideal way is to build and release a separate reporter to achieve this - maybe `newman-reporter-upload`.

[2021-03-17 09:04] #2065 closed

[2021-03-17 09:05] adityaofficial10 commented on #2065
@shamasis
Fully agreed.
I concluded the same after going through the codeflow.

[2021-03-17 17:41] andyblack19 commented on #2615
Scratch that. I've just noticed that in Postman (and in Collection Runner) after my OAuth2.0 access token timed out, it was not automatically fetching a new one for each collection run, as I expected. I had to click the 'Get New Access Token' button below the OAuth2.0 settings to get a new one. So I suspect newman does not do this automagically either.

Back to looking at the Pre-request Script so

[2021-03-17 18:13] shamasis commented on #2117
Newman will not support running multiple collections at one go in a foreseeable future.

We can provide useful code snippets and examples to make this super easy in CI.

[2021-03-17 18:14] #2117 closed

[2021-03-17 18:17] shamasis commented on #2226
I'm afraid I cannot be of much help with that. Talk to your mentor. But, personally, this seems more like an issue and not a project.

[2021-03-17 18:21] adityaofficial10 commented on #2226
@shamasis
I know this.😂
This was way before the GSoC thing.

[2021-03-17 18:21] shamasis commented on #2103
I'm afraid that this feature has huge implications on the memory consumption of reporters.

The summary object is the biggest culprit for all memory related outages on large collections.

If a reporter needs iteration data, one approach is to simply forward the data source (filename) and the reporter can choose to implement what's applicable.

[2021-03-17 18:34] shamasis commented on #2500
We weren't able to replicate this specific scenario. Either we missed something staring at our face (something along the lines of our URL parser) or it's very specific to the Newman setup.

Either case, I hope this issue was eventually resolved or worked around at your end.

Closing issue for now. Wish we could be of more help. Please comment to reopen if this is still a persisting issue.

[2021-03-17 18:34] #2500 closed

[2021-03-17 18:41] shamasis commented on #221
A quick Google yielded this - https://www.npmjs.com/package/newman-reporter-cli-response

We encourage community to extend newman using reporters.

[2021-03-18 00:26] ishepherd commented on #221
@shamasis yes.

But it would be ideal if Newman is usable out-of-the-box. "what response did we get that caused this failure?", is a completely standard thing to ask

[2021-03-18 05:27] taehoshino commented on #2615
@andyblack19 Yes, that is correct - app will not fetch or is able to fetch OAuth access token automatically (since it requires user-end authentication).

[2021-03-18 08:34] andyblack19 commented on #2615
Your assumption here is incorrect. Certain OAuth2.0 grant types do NOT require user interaction, such as the `ClientCredentials` and `Password`. See https://oauth.net/2/grant-types/

[2021-03-18 20:25] shamasis commented on #221
Completely agree. It's a use case and valid. There's no good way to print request and response bodies while running a collection of tests.

With it being a separate reporter, its most likely that the use case will be better handled with focus and dedication in a reporter than have it diluted within the primary use case of running tests.

And installing a reporter is seamless. Guess what, if come a

[2021-03-19 06:30] abhijit-hota commented on #2655
You can read the [official contributing gudielines](https://github.com/postmanlabs/newman/blob/develop/.github/CONTRIBUTING.md) if that's what you're looking for.

[2021-03-19 06:55] Sharath-Postman commented on #2655
Hey,
@crew-guy here is the link to the community to create an topic (issue)--  https://community.postman.com/c/open-technology/gsoc/42

[2021-03-19 12:25] remy90 commented on #777
Is there an issue reference that can be shared here to track for support for this feature?

[2021-03-19 16:24] RSUIAutomation commented on #2460
npm WARN deprecated har-validator@5.1.5: this library is no longer supported

is causing package newman-reporter-testrail@1.0.30

to not be recognized:

% npm list -g -depth=0
/usr/local/lib
├── newman@5.2.2
├── newman-reporter-testrail@1.0.30
└── npm@6.14.11

but:

% newman run LikesServiceLocal.postman_collection.json -e /Users/rr/Documents/qa-likes-service.postman_environment.json  --reporters

[2021-03-19 18:53] RSUIAutomation opened #2674 "newman: could not find "testrail" reporter"
Newman is unable to find the reporter, despite them being installed next to each other. Only minor issue I see is the warn for har-validator, which newman's team seems to think is not an issue from their support threads I have read.

[code]

[2021-03-19 20:27] aaiezza commented on #712
Bump

[2021-03-20 00:32] RSUIAutomation commented on #2674
Versions:
npm -v
7.6.3
node -v
v14.16.0

I was able to install the newman-reporter-html and use it without issue.

Additional attempts that did not resolve the issue:

- Running newman with sudo
- Uninstalling newman and the reporter, and reinstalling and running without sudo
- Installing and attempting to run from local instead of global
- Chown to current user on all files and uninstalling and r

[2021-03-20 02:16] Ksingh22 commented on #2037
go to Jenkins console and run this System.setProperty("hudson.model.DirectoryBrowserSupport.CSP", "")

PS: It has potentially security risk

[2021-03-20 11:35] zerefwayne opened #2677 "Enhancement: Use object destructuring in run/export-file.js"
1. Did you encounter this recently, or has this bug always been there:
     This issue was listed as a Todo in the source code.

 2. Expected behaviour:
    Since newman now supports only Node >= 10, we can use object destructuring to replace the current format.

 3. Target Code:
    https://github.com/zerefwayne/newman/blob/24d13f7a8d6e39ef75093fb3efa69cd93daa2179/lib/run/export-file.js#L8-L11
[c

[2021-03-20 11:39] adityaofficial10 commented on #2677
@zerefwayne
A patch for this has already been submitted.
Check out this: https://github.com/postmanlabs/newman/pull/2658
If you want to work on this, kindly collaborate there.😄

[2021-03-20 11:41] adityaofficial10 commented on #2674
@shamasis
This has been a recurrent problem.
It occurs with me as well.

[2021-03-20 11:45] zerefwayne commented on #2677
Oops, my bad. Thanks for informing @adityaofficial10!

[2021-03-20 11:45] #2677 closed

[2021-03-20 11:46] adityaofficial10 commented on #2677
@zerefwayne
Anytime.✌

[2021-03-21 19:54] shamasis commented on #2460
1. I'm afraid that technically a deprecation warning cannot interfere with anything of Newman installation.
2. Issues while using custom registry as I see from the error logs shared is not something we can fix. Check with your NPM mirror provider such as artifactory.

[2021-03-22 05:11] rahulbhide-droid commented on #2631
This can be resolved. Unfortunately I do not remember what was the solution. Running the command
newman run .json -e environment.json -g GlobalVariables-test.json
works fine for me currently.

[2021-03-22 05:12] rahulbhide-droid commented on #2631
Thank you!

[2021-03-22 05:39] #2631 closed

[2021-03-22 10:02] adityaofficial10 commented on #2674
@coditva
There was a update regarding this that if the reporter has some sort of Js error, then this happens..

[2021-03-22 15:31] iSeiryu commented on #221
@shamasis I've looked through 100+ different reporters on npmjs a few months ago and could not find one that does the job. There are a lot more and a lot of them are severely outdated. It makes the search very difficult.

Thanks for the link above, it seems like it's what we need. But as with any other npm packages - it can be abandoned and stop working at some point.

Newman can be used as a dock

[2021-03-22 16:03] RSUIAutomation commented on #2674
The package maintainer updated and that resolved this specific issue with testrail package. - https://github.com/billylam/newman-reporter-testrail/issues/26

[2021-03-22 16:03] #2674 closed

[2021-03-22 16:06] adityaofficial10 commented on #2674
@RSUIAutomation
Ok cool.
Thanks for informing..

[2021-03-23 06:59] shamasis commented on #221
Ok. I hear you.

There's an ongoing work for Newman to be curl replacement for extended debugging of a single request. Let us learn from doing that - especially how the output looks like and what code flow will allow us to re-use the code here.

Once that is settled, we will roll it in form of a built-in reporter.

cc @codenirvana

[2021-03-24 03:00] AmanKamboj12 commented on #2054
Hello all did we get any resolution for this ?
How we can update docker-compose file to run multiple collections ?

[2021-03-25 02:12] codenirvana opened #2680 "`--export-collection` does not output updated collection variables"
Refer: https://community.postman.com/t/using-export-collection-does-not-output-updated-collection-variables/21777

[2021-03-25 07:08] adityaofficial10 commented on #2680
@codenirvana
Is there an option like 'keep values' that can be passed to the runner?

[2021-03-25 09:14] dgard1981 commented on #2680
@adityaofficial10, that is the purpose of `--export-collection`, according to the documentation. Otherwise all you'd output is the exact same collection that was used for the run.

The `--export-globals|environment` options do output updated variables.

[2021-03-25 09:17] adityaofficial10 commented on #2680
@dgard1981
Yeah that is correct.
But I read on the forum link , that runner does update the values when used with keep values.
So I was just asking if there's an option like that or that means something else...

[2021-03-25 09:21] dgard1981 commented on #2680
@adityaofficial10, there is no similar option as far as I can see from [the documentation](https://www.npmjs.com/package/newman#newman-run-collection-file-source-options).

I suspect that checking "Keep values" in the Postman runner applies the `--export-collection|environment|clobals` options, and my guess is that it's not using the latest version of the `newman` CLI which is why it works as expe

[2021-03-25 09:24] adityaofficial10 commented on #2680
@dgard1981
Seems interesting to me..
I also tried searching for something in the runtime module but didn't found anything.
But I think if runtime is fine, then how can newman have this error?

[2021-03-25 09:47] shamasis commented on #2680
Newman always keeps the values. The export options are meant to get access to that.

Collection variables are by design not updated during the run and synchronised at the same time - this avoids mutating the collection while its being run. For example, pre-request script can mutate the request to be run, but it's an execution just-in-time change and hence does not actually change the Collection. S

[2021-03-25 09:51] dgard1981 commented on #2680
@shamasis, thanks for the reply.

For now I have moved to environment variables. It's not ideal as it means we have extra variables in every environment, but it works and that's the main thing.

I will look in to reporters and see how easy it is to do what I need to do.

[2021-03-25 12:56] jonathanniels commented on #2517
Same issue, I have a bearer token in the environment vars, but Newman is not picking that up. Only when I hard-code the token in the collection json does it work.

[2021-03-26 00:37] shwetasarpal commented on #2376
Hi ,
I am facing the same issue where the tests are reported twice. My collection has a pre request script to generate authorization token and it uses sendRequest().

[2021-03-26 07:40] Varsha-Rajput commented on #1224
Hi @soujanya1511  did you find any solution for your problem. I am facing the same issue with my Graphql Requests.

[2021-03-26 07:41] Varsha-Rajput commented on #1224
Hi @soujanya1511  did you find any solution for your problem. I am facing the same issue with my Graphql Requests.

[2021-03-30 15:33] akhilesh4183 opened #2690 "newman: not found on Linux Container (Docker) on Jenkins"
Hi All - When I am running Newman on Jenkins on a Linux container, I am getting newman not found. I tried to login to container and able to run newman on Linux container and it worked fine.

However only from Jenkins I am getting the issue. On the VM also its working fine.

I tried setting up the Global variable in jenkins, but it didn’t worked.

Then I tried with complete path and changing the di

[2021-03-30 20:42] vijayarondla-mosaic commented on #712
I am facing the same issue . My postman request work but newman is giving 400

[2021-04-01 05:51] johnmusk commented on #2666
@shamasis Why this issue is still open I think @elit-altum solve the issue or not

[2021-04-01 06:14] johnmusk commented on #2561
is this issue is still open

[2021-04-01 07:06] shamasis commented on #2666
Yeah. Waiting for @codenirvana to review once. He's a bit stuck on some other releases. Let me see if I can bump it up.

[2021-04-01 07:59] adityaofficial10 commented on #2561
@johnmusk
I'm working with it already.

[2021-04-01 18:10] SwapnilSoni1999 opened #2691 "Missing Bash Completion"
### **Issue**
- newman is missing bash completion. This can lead to some initial problems for newcomers.
- One might not be able to understand or sometimes forget the arguments.

### **to solve**
- We can add [omelette](https://github.com/f/omelette) for autocompletion.
- Or write custom bash script for autocompletion. (but issue with this is other shells such as fish or zsh will require their own

[2021-04-01 22:57] vijayarondla-mosaic commented on #1336
I a having the same issue

[2021-04-04 13:12] #1998 closed

[2021-04-04 13:42] codenirvana commented on #2255
This should be a separate CLI reporter.

Adding this feature will require additional effort to port every new feature in these two modes in the future which will add a lot of complexity to the inbuilt reporter.

[2021-04-04 13:42] #2255 closed

[2021-04-04 14:07] codenirvana commented on #2134
This is a great idea but a simple CLI tool like Newman doesn't have a lot of OS/environment-specific dependencies.

Currently (+historically), the only thing we need to debug an issue is `newman -v`. 😅

[2021-04-04 14:07] #2134 closed

[2021-04-04 15:13] #2638 closed

[2021-04-07 17:06] sonawanesarvesh opened #2697 "Socket Closed"
Hello i am getting **Socket Closed** error for following code
but this 0.0.0.0:8090 is used by other process easily so socket is open for sure

`const newman = require('newman');
const SocksProxyAgent = require('socks-proxy-agent');
const requestAgent = new SocksProxyAgent({ host: '0.0.0.0', port: '8090' });

const pathtocheck = '/zapApiPostmanCollection.json';
console.log(pathtocheck);
newman.run

[2021-04-08 19:44] nimit2801 commented on #2697
Can you give more details for these issues:
1. Code Snippet
2. Screen Shot of the error.
3. Libraries you're using.

[2021-04-09 07:23] sonawanesarvesh commented on #2697
![image](https://user-images.githubusercontent.com/52656580/114143761-29955880-9932-11eb-8f99-5c61083c9a29.png)

1. I am running container which is having proxy set at 0.0.0.0:8090
2. On this proxy I am already performing some other actions which means - this port is open and accessible
3. I am using newman library as mentioned above, I am getting socket closed error

[2021-04-09 09:38] adityaofficial10 commented on #1851
@aurelienlair @jawn @shamasis @codenirvana
I've made a PR for this.
Are we looking forward to this feature request?

[2021-04-09 09:49] aurelienlair commented on #1851
@adityaofficial10 can you give us the link of the PR please?

[2021-04-09 10:06] adityaofficial10 commented on #1851
@aurelienlair
I've linked it here.😀

[2021-04-09 14:41] sonawanesarvesh commented on #2697
Also wanted to know  at step
collection: **require**

is **require** compulsory? because we are not using it

[2021-04-09 23:09] nimit2801 commented on #2697
Hey, @sambhavjai are you trying to connect:
1. This js file to an open port in your docker.
or
2. Are you running the js file itself in docker and declare the same in its image.

Also, is your socket getting closed in between the process (in your case closing before the reporter shows the output) or it completes the process and then gets socket closed.

[2021-04-09 23:13] nimit2801 commented on #2697
**The solution** to run your collection in docker
1. [docker for Newman](https://hub.docker.com/r/postman/newman)
2. You can also make your own docker image ["Build the docker image from this repository"](https://hub.docker.com/r/postman/newman)

Hope this helps.

[2021-04-09 23:49] nimit2801 commented on #2697
**According to me, the error is being generated from [socks-proxy-agent](https://www.npmjs.com/package/socks-proxy-agent)**

I tried duplicating the error @sonawanesarvesh
[code]

Output:
![image](https://user-images.githubusercontent.com/53462249/114250358-1084ba00-99bb-11eb-9d96-b7455768656b.png)

[2021-04-10 08:37] Kumaraditya03 opened #2706 "Timeout in newman.run not working"
newman.run({
    collection: require('./sample-collection.json'),
    environment: require('./sample-collection.json'),
    reporters: 'cli',
    timeout: 45000
}, function (err) {
	if (err) { throw err; }
    console.log('collection run complete!');
});

The above is supposed to timeout in 45000 milliseconds, but it's not and I'm getting the collection executed. Not sure why it is bypassing the t

[2021-04-10 16:18] nimit2801 commented on #2706
Maybe the collection is completed running in 45 secs, that's why you ain't getting any error.

[2021-04-10 16:40] mohitranka commented on #2706
@Kumaraditya03 Just tried on newman 5.2.2 ( `newman -V` ) and timeout seems to work fine. Closing the issue at the moment, but please reopen if you have more details and debugging information for us to reproduce it.

[2021-04-10 16:40] #2706 closed

[2021-04-10 16:43] mohitranka commented on #2691
@SwapnilSoni1999 This would be indeed useful. Can you create a proposal ( A small comment, indicating how the completion would work ) for us to review ?

[2021-04-10 20:49] SwapnilSoni1999 commented on #2691
# Proposal

- Create a command and subcommand/arguments list
- Create a documentation for each respectively
- Use omelettelib and write bash completion code
- Test and publish

If you are interested then I can submit a proposal over Gsoc. :)

[2021-04-10 21:19] mohitranka commented on #2690
@akhilesh4183 This seems like an issue with your local setup, and not newman.

[2021-04-10 21:19] #2690 closed

[2021-04-12 06:47] sonawanesarvesh commented on #2697
@nimit2801

Thank you for confirming the issue, i have opened issue with Socks-proxy-agent as well
(https://github.com/TooTallNate/node-socks-proxy-agent/issues/58)

[2021-04-12 13:53] m3dbedb opened #2707 "how does 'bail failure' modificator works?"
I have run a collection with expected error and didn't see any difference between running

     newman run test\sync_test.json -e  stand-env.json --bail failure
     newman run test\sync_test.json -e  stand-env.json --bail

What does

means?

[2021-04-14 03:11] yashi12 opened #2710 "Making newman CLI more interactive"
Currently while working with newman, to run a collection we have to provide the command to run a collection, what if we can ask the user whether he wants to give the command by himself or do he want us to ask questions so that he can just fill the details, so that he will no longer have to remember the syntax of flags.

We can ask some for some of the most frequently used options.

We can use (Inq

[2021-04-14 06:25] shamasis commented on #2707
Did you check difference in exit code of newman command?

[2021-04-14 13:02] sonawanesarvesh commented on #2697
Hello
New updates -
When I removed the code for HTTPS proxy (https: requestAgent, // agent used for HTTPS requests) it started working

it mean, I was getting socket closed error for HTTPS (as my proxy is set for HTTP)
(I thing it should detect it automatically and should get started but somehow its not)

Also now wanted to know - how can i echo the proxy agent which is being used (apart from echo

[2021-04-14 19:58] asdf23 commented on #2065
Sorry to somewhat hijack this thread.. I'd like to append to the report a bunch of unrelated things from other non-newman tests. I suppose I could grab the contents over http then add-to as desired. I was hoping that there would be a library way to append content to a html report.

[2021-04-14 20:03] adityaofficial10 commented on #2065
@asdf23
Can you just elaborate a little bit on that??

[2021-04-14 23:39] asdf23 opened #2711 "Feature request"
I would like to be able to add test results externally. After newman runs but before the report is generated I would like to "tack-on" some additional tests. They do not have request/response and I do not think I can jam this 3rd party calls into a preTest / or test in a collection.
I was thinking in beforeDone perhaps I could manipulate the summary object?
Is this possible or can we add it?

[2021-04-15 06:47] asdf23 commented on #2065
I have an elaborate test script that includes things outside of postman's domain, What I want is a single report with the other stuff.  I'm not exactly sure if the two object would align well.

As a test in beforeDone I pushed a clone of the 2nd paramenter's args.summary.run.failures object.

`args.summary.run.failures.add(  args.summary.run.failures[0] ... )`

That worked, it's pretty hacky thoug

[2021-04-15 08:41] allnvrgs opened #2712 "Newman - FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Hi,

I have an issue running my collection from command line using newman. I have 1 data file with around 4500 tests inside.
Our service has over 200 endpoints. My collection has only 1 request and the inputs are coming from the data file. eg. uri and request body and what needs to verify eg. responseCode 1234, 1235 etc (depends on the test)

Around 1700+ iteration, there is an error shown below:

[2021-04-15 08:48] sonawanesarvesh commented on #2399
Hello
i am also getting same error, any further updates?

[2021-04-15 12:02] sonawanesarvesh commented on #2697
Considering above comment, i am closing this issue

[2021-04-15 12:02] #2697 closed

[2021-04-15 12:07] sonawanesarvesh commented on #2399
Hello i have resolved this by other way -
We used socks-proxy (https://www.npmjs.com/package/newman#using-socks-proxy)

observed - mostly the tunneling issue occurs because of wrong proxy configurations

[2021-04-15 13:26] asdf23 commented on #2065
Actually I take that back, beforeDone seems to have a 1 second window of being able to inject test results

[2021-04-16 02:44] allnvrgs commented on #2712
I tried dividing the tests into 3 different newman run with 'async' so they are running in parallel but i also see the issue. The issue happens on iteration 550+ which is also around 1700+ mark as reported above if you multiply it by 3.
![image](https://user-images.githubusercontent.com/15529723/114963945-62887c80-9ea0-11eb-9bb0-6b21c91074cd.png)

[2021-04-16 19:08] nimit2801 commented on #2711
Hey, @asdf23 can you please specify which additional test cases you want to add. Perhaps an example would work.

[2021-04-16 19:14] nimit2801 commented on #2712
Hey, @allnvrgs can you help me to duplicate this error.
Providing some dummy data collection. I'll look into this.

[2021-04-16 19:18] nimit2801 commented on #2710
@yashi12 this is a great idea, can you elaborate on the `syntax of the command` or some dummy interaction. Which functionalities of inquirer we can implement here?

[2021-04-16 19:22] nimit2801 commented on #2691
Hey @SwapnilSoni1999 did you submit the proposal?

[2021-04-17 03:08] SwapnilSoni1999 commented on #2691
No K haven't but I'm still gonna contribute to this after a week or so

[2021-04-17 03:47] asdf23 commented on #2711
What I mean is that I want to:

//else where
var otherSuccesses = []
var otherFailures = [];

myScript.run((r) => {
    if( .. ) otherSuccesses.push( .. )
    if( .. ) otherFailures.push( .. )
})

//I now have a set of success and failures to add to my already-awesome report

newman.run({
   ...
   ,otherSuccesses:  otherSuccesses
   ,otherFailures:  otherFailures
},function() {})

I want to add c

[2021-04-17 07:41] nimit2801 commented on #2691
I would love to help, this seems to be a great feature.
We can work together, if that's ok?

[2021-04-17 11:04] SwapnilSoni1999 commented on #2691
Sure man, I'll comment here once I start working on it

[2021-04-17 13:36] mohitranka commented on #2691
Bash completion is a simple functionality, and we don't want to package another dependency for it, due to package size and LICENSE management reasons.

cc @codenirvana

[2021-04-17 21:36] mohitranka commented on #2623
@timhuff You can follow the event listener information [here](https://github.com/postmanlabs/newman/wiki/Newman-Run-Events).

[2021-04-17 21:36] #2623 closed

[2021-04-18 02:36] SwapnilSoni1999 commented on #2691
Alright then I'll go for dependency-less approach 👍

[2021-04-19 05:52] allnvrgs commented on #2712
Hi @nimit2801 ,

Thanks for your reply. I was able to reproduce the issue in simplest form.
How do i send you the project? Looks like attaching a zip file here is not allowed.

Thanks and regards,
Allen

[2021-04-19 06:03] allnvrgs commented on #2712
Hi @nimit2801 ,

Thanks for your reply. Please see attached zip file.

While trying to reproduce the issue in easiest way, i deduced that the issue may have something to do in a big environment variable. I have an environment variable that stores all the json schemas of our endpoint (~approx 301KB). When I try to removed most of the schemas in this file and just leave the schema that i need for th

[2021-04-19 19:11] yaminireddy3003 opened #2719 "Tests passed in Postman but failed in Newman"
1. Newman Version (can be found via `newman -v`): 5.2.2
 2. OS details (type, version, and architecture): Windows 10 home
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Started working on it recently
 4. Expected behaviour: There should be no difference in the behaviour between running a collection in the app or ne

[2021-04-20 16:37] timhuff commented on #2623
@mohitranka Thanks for the heads up. Apologies for the late reply (swamped with work). This documentation just so happens to be exactly what I need right now, though. Thank you to everyone who helped make my nitpick a thing of the past 😄 . Keep up the good work 👍

[2021-04-20 20:23] timhuff commented on #2712
# My Analysis of the Experiment

### Preface
I ran it with `--heap-prof --max-old-space-size=1000`. Really wish these crash reports were a bit more useful. If anyone who is more experienced with this could lend me a hand, I'd much appreciate it. It's very rare for me to run into this kind of issue (and I've built some pretty heavy node apps over the past 10 years).

### Suspcious part:
[code]

It

[2021-04-20 22:09] timhuff commented on #2712
After some extensive memory profiling, I've noticed that the `postman-sandbox` has a `cacher` that grows to be quite large by the time the app crashes.

![image](https://user-images.githubusercontent.com/609217/115469902-0f455f80-a1fb-11eb-9a76-002624217d9c.png)

[2021-04-21 08:49] yashi12 commented on #2710
We can prompt questions like:

Location of the collection?
Environment variables?
Postman globals file as JSON file?
Number of iterations to run?

We can add these kind of questions , and can even provide a newman.json (similar to package.json) so that while working on a project people can reuse that file and add there test cases to be run in that similar file, and don't have to provide basic deta

[2021-04-22 15:42] yaminireddy3003 commented on #2719
Can anyone suggest any changes to make it work?

[2021-04-26 13:18] akjain-mdsol commented on #1971
Hi Danny,
I did some custom proxy in POSTMAN and manage a request where it is passing inside the POSTMAN like: 200 status code but same i export and ran into the NEWMAN so getting 401 unauthorized ...
why?

[2021-04-26 13:23] akjain-mdsol commented on #2719
Same issue i am facing... tests are passed in the POSTMAN and same script failed in the NEWMAN...
Getting 401 Unauthorized

[2021-04-26 20:57] tillig commented on #2499
In general it'd be good if the Newman images could be refreshed from time to time. It appears the last push was about four months ago, but the base Alpine/Node images are getting updates to handle security issues like this all the time. Even if _Newman_ isn't changing, the underlying image is. Possibly a weekly update to existing tags?

[2021-04-27 05:02] venkatui5 commented on #2719
Environment - Github CI/CD pipline with Newman
Same issue i am facing... tests are passed in the POSTMAN and same script failed in the NEWMAN...
Getting 401 Unauthorized. Can you please share the solution for 401 un authrized response code.

[2021-04-27 05:12] venkatui5 opened #2724 "Tests passed in Postman but failed in Newman with 401 Unauthrized error"
Environment -- Github Newman CI/CD Piplines

Test scripts are passed in Postman but when we are trying with Newman CI/CD pipeline sytem is throwing response code as 401 for unauthrized get & post methods.

I had tried below approaches to resolve the un authorization issue but no clue.

1.	I have given  authorization type as “No Auth” in authorization group at EAM Workspace Playground - > Same Unau

[2021-04-27 06:57] adityaofficial10 commented on #2724
@venkatui5
Can you provide any screenshots if possible?
That would help digging out the issue.

[2021-04-27 07:54] venkatui5 commented on #2724
hi Postmanlabs/Newman,

Thanks for your prompt reply. Please find below screen shots of postman &
Newman attached text file is the complete failure details.

Let me know if any further inputs are required.

Appreciate your help.
Postman execution--> Successfully created
[image: image.png]

Newman test execution fails
[image: image.png]

Thanks & Regards,
venkat Rao

On Tue, Apr 27, 2021 at 12:27 P

[2021-04-27 17:09] adityaofficial10 commented on #2724
@venkatui5
I'll quickly reproduce this and come back with a fix if its a bug in Newman.

[2021-04-28 08:38] greg-md commented on #1162
I am having the same issue, but even with short requests. Randomly socket hangs up.

[2021-04-28 16:42] DannyDainton opened #2725 "[Feature Request] Include more request information under the `--verbose` flag"
Currently using the `--verbose` flag will only show the detailed timings for each request:

![image](https://user-images.githubusercontent.com/17089546/116439733-c408fd80-a847-11eb-8adf-c0f3ece9e493.png)

The documentation for the `--verbose` flag seems to suggest that this flag would expose _more_ details and not just the timings.

Show detailed information of collection run and each request sent

[2021-04-28 16:52] MartinDevillers commented on #276
My teams are in the exact same situation. We're building a complex ecosystem of micro-services that we test using Postman. Our collections are modeled around business flows and contain series of requests, some of which are optional depending on our specific use case. We already have a naming convention in place to order, tag and label our requests like `TSL-01-Authenticate`, `TSL-02-Perform-Prefli

[2021-04-28 19:48] adityaofficial10 commented on #2725
Hey @DannyDainton !
Hope you're doing well.
This time I'm not troubling you.😂
What I think is we can easily render information like response headers and redirect information here.
What you say?

[2021-04-29 15:11] noahlz commented on #221
Greetings!

Our team is observing newman fail due to mysterious "Parse Error" with responseBody undefined.  This implies that newman failed to even make the connection to the server under test, possibly due to an intermittent networking issue.

When I have problems like this, typically my go-to tool is `curl -v -v -v` which logs everything we need to understand the root cause. However, because new

[2021-04-30 09:04] DannyDainton commented on #2725
Hey @adityaofficial10 👋🏻

It's not really up to me what gets added or how it might look in the console output - It's just a placeholder for a conversation for expanding the `--verbose` flag, to show more than only the detailed timings 😄

If you feel you have something in mind, you could create a PR for the team to take a look at and see if that's the direction we would like to take.

[2021-05-03 08:21] imabp opened #2728 "[FEAT REQUEST] NEWMAN DASHBOARD"
1. Newman Version:5.2.2
 2. OS details: Ubuntu 2 0.04
 3. Are you using Newman as a library, or via the CLI? CLI

I am working on building Newman Dashboard. So I was going through a low-level backbone library, Postman Runtime, and found it pretty much easier approach, using daemons and socket IO.

Please I need a mentor to continue my work and bit support.

CC:  @codenirvana @coditva

[2021-05-03 14:04] warhaemish opened #2729 "Mutating request body using pre-request script"
Hi,
I am using `pm.request.body.update()` method in my pre-request script to modify the request body.
It is working fine in Postman but fails when using Newman (it doesn't modify the request).

Recently, in the Postman version 8.3.0 the functionality to mutate the request body in the pre-request script was added (https://github.com/postmanlabs/postman-app-support/issues/4808).

My doubt is -
- Whe

[2021-05-03 15:59] codenirvana commented on #2729
@warhaemish Thanks for reporting this issue.

This is fixed in Newman v5.2.3.

[2021-05-03 15:59] #2729 closed

[2021-05-03 16:55] nimit2801 commented on #2691
Hows the research coming @SwapnilSoni1999 , want some help with it?
Also, I had this idea if we keep an option for users to use this feature or not and according to that, we can install the extra package into the main library!
I mean the package won't come under dependency but can be installed by the user for further assistance with the cli.
Can we try something like this @mohitranka cc @codenirva

[2021-05-04 17:23] raghavbhatia336 commented on #2725
@DannyDainton I have added response header and request headers in verbose, let me know if you would like to add other request details like, for example, request body.
Is this something we're looking for?

![image](https://user-images.githubusercontent.com/38736520/117043875-65ea8780-ad2b-11eb-98f2-2d8ecb15554d.png)

[2021-05-05 04:12] coditva commented on #221
@noahlz Sorry to hear that... Your issue seems similar to #2725. Can you also add any more ideas/thoughts that you have regarding this there? It'll help us to come up with a solution that fits your use-case as well. 🙂

[2021-05-05 08:10] Totti10as opened #2731 "[Newman question] - How to overcome on issue once test failed due to network issue but on retry test has been succeeded thus Newman will return Success (exit code 0) instead of failed(exit code -1) at the moment."
I'm searching for a solution for a following issue:
 * There is a user-flow (folder with a list of requests with a relevant tests).
 * User-flow running under Newman + htmlextra ci/cd pipline
 * User-flow running on test environments which is has 3 party dependencies (services, networking etc)

The issue is the network timeouts, socket hang up.
Which is why i added a kind of retry mechanism in pos

[2021-05-06 07:08] gluip commented on #326
Whats the nunit solution? -t Seems pretty irrelant?

[2021-05-06 16:24] noahlz commented on #2725
I'm looking for an extra-verbose output... currently my team is fighting against mysterious "parse error" test failures from newman that imply network or even OS-level issues (we're running newman in docker).

curl verbosity looks like this:

[code]

We need something close to this level of verbosity from newman output to help us track down non-json content level errors.

[2021-05-07 08:13] V-Go opened #2732 "Feature request to toggle off postman token via cmd line args"
Allow the option via cmdline args to disable the postman token that's being appended to the original request

[2021-05-07 21:15] shamasis commented on #2732
You can append a `protocolProfileBehaviour` to your request for now. This might not land in the CLI soon.

[2021-05-07 21:20] V-Go commented on #2732
Sorry how can the protocolProfileBehaviour be set to do this in the collection I couldn't find an example online for the postman token header

[2021-05-08 20:29] shamasis commented on #2732
Ok. So there's a quick and dirty way to see this in action.

Make a collection with one request and then in headers tab show the hidden auto generated headers section. There, uncheck postman token. Then save this request and export the collection as a JSON file. In that file you should see the protocolProfileBehaviour in action!

Alternatively, https://github.com/postmanlabs/postman-runtime/blob/d

[2021-05-08 20:34] shamasis commented on #2732
I'm closing the issue now. But will be more than glad to converse here till you get this working. 😊

[2021-05-08 20:34] #2732 closed

[2021-05-10 08:28] matuszabojnik commented on #1700
Same issue here. 64 bit VM with 32GB available ram, NODE_OPTIONS="--max-old-space-size=8192".
$ newman -v
5.2.3

$ node -v
v10.24.0

Response is ~110 MB
[code]

[2021-05-10 09:56] pawanakhil opened #2735 "Feat: Ability to run request's in random order under a collection."
[Feature Request]
A flag option to run request's in a random order under a collection.  Currently we can re-arrange the order of requests (through the user interface, not sure newman does that), but an option to run it purely in a random order asynchronously would be beneficial.

[2021-05-10 11:21] yashi12 commented on #2589
@momentumsubash,

Can you please share the screenshot, as the same condition which you have described is working fine for me.

[2021-05-10 19:31] adityaofficial10 commented on #2735
Hey @pawanakhil !
We can actually think of an implementation for a preferred order.
But what exactly do you mean by asynchronously?
Do you mean running them in parallel?

[2021-05-12 14:52] mschechter-bellese opened #2736 "Limit CLI output to only failed requests"
Version Information:

 1. Newman Version (can be found via `newman -v`):
     - 5.0.1
 2. OS details (type, version, and architecture):
     - Docker via `newman:5.0.1-alpine`
 3. Are you using Newman as a library, or via the CLI?
     - CLI
 3. Did you encounter this recently, or has this bug always been there:
     - As far as I know, this has always been there
 4. Expected behaviour:
     - Req

[2021-05-13 04:35] yashi12 commented on #2589
@momentumsubash,
 Great! you found the solution. Yes, the link does not update automatically when changes are made to the collection. You can Check out the Postman API to access your synced collections.

[2021-05-13 04:53] yashi12 commented on #2710
After having a closer look, I think it would be better if instead of prompting questions, if user seeks for **--help** we provide him with clickable links, and if he chooses one, the same gets appended to his command in CLI, thus he will not have to type it manually nor will have to remember the commands

Example: Makong all thse options clickable, where User can first open --help option and selec

[2021-05-13 16:18] Hrushi20 commented on #2710
Can I helping building this feature? Planning to use Inquirer.
@yashi12

[2021-05-13 23:19] Hrushi20 opened #2737 "Newman Single Request"
I want to work on the newman single request project.

We can use newman instead of cURL to make the process easier.
Inquirer can be used to make the process more interactive via the terminal.
Easy and less verbose than cURL.

---------------------------------------
    Welcome to newman

    newman -g "http://localhost:3000/ids"
    newman -put "http://locahost:3000/update"  name=Hello age=40

[2021-05-14 06:17] coditva commented on #2710
@yashi12 This seems like an interesting idea! I'm not entirely sure if this is the direction we want Newman to take. I would wait on @codenirvana for his views on this. 😄

[2021-05-14 08:04] yashi12 commented on #2737
There is already an issue for Single Request, #2548.

[2021-05-14 10:49] yashi12 commented on #2710
@coditva, thanks for looking into it.

[2021-05-17 08:27] vikyd opened #2741 "return actual request body of Content-Type: application/x-www-form-urlencoded, multipart/form-data"
1. Newman Version (can be found via `newman -v`):

5.2.3

 2. OS details (type, version, and architecture)

CentOS

 3. Are you using Newman as a library, or via the CLI?

library

 3. Did you encounter this recently, or has this bug always been there

always

 4. Expected behaviour:

return actual request body of Content-Type: application/x-www-form-urlencoded like:

[code]

not only :
[code]

 5

[2021-05-18 03:15] pa-eps commented on #883
Same issue here. Using `process.exit(1)` quits too early without letting reports to be done. I'm not even using any additional reports; just cli reports. The test summary is not printed if use `process.exit(1)`.

[2021-05-18 10:46] ahghatol commented on #2262
@shubhamjadon

I tried the solution you have given to run multiple collections.

I observed that with the solution you have provided, the pre-request script does not work. I was trying to set variables (e.g token) in per request script at the collection level.

[2021-05-18 20:40] pa-eps commented on #883
In case it helps anyone else here's how I worked around this issue:

[code]

Maybe this is the intended usage but the readme in the repo has instructions for using `done` event, which seems to interfere with report generation.

[2021-05-19 03:59] wilsondgr8 opened #2742 "Newman testing tool for calls are failing that have Self Signed Certificates"
Newman calls are failing for those postman calls where we have Token as part of request header.
Postman requests like ( Auth, Resetpassword ) with an Token in request response are giving response with warning for Self Signed Certificates in Postman but able to complete test. But in Newman all those scripts are failing.

Tried using the below commands but its still failing

call newman run %Collect

[2021-05-19 09:32] elit-altum commented on #2736
Hey @mschechter-bellese would using [this](https://github.com/DannyDainton/newman-reporter-htmlextra) reporter by @DannyDainton with the ```--reporter-htmlextra-showOnlyFails``` fill your usecase ?

[2021-05-19 11:46] mschechter-bellese commented on #2736
@elit-altum,

Thanks for the information!

I am using Newman via Docker as part of my CI pipeline; I need something that will fail the build if the tests do not complete as expected. If this will still generate a non-zero return code, it's a potential option.

However, this will double the size of the Docker image I need to download (108.46 MB vs. 48.47 MB); as I'm using virtualized builds, the do

[2021-05-22 12:59] SRKarumuri commented on #2437
@1004Manish i am also facing same issue. Have you found any solution for this issue.

[2021-05-25 15:51] ofirt opened #2745 "Newman - dynamic iterations amount according to data file size"
When using Postman - Runner, selecting the data-file to run on, postman identifies itself the iterations number to run according to the number of lines in the data file.

However, when using Newman, specifically as an Azure DevOps extension, I could not find how to let Newman dynamically set the iterations number according to the data file. The only way is to set a fixed number of iterations. But

[2021-05-26 17:24] jim-lightfoot commented on #2724
I have the same issue. I can reproduce running on my local machine using the command line. I set up my OAuth2 token retrieval in the collection pre-request script. If I were to guess I'd say that script isn't being run.

[2021-05-26 17:28] jim-lightfoot opened #2746 "Verbose doesn't do anytihng"
Nothing verbose about this output

![image](https://user-images.githubusercontent.com/17918871/119704988-1ddff180-be0d-11eb-98f7-d75b9781f8fd.png)

[2021-05-26 20:33] noahlz commented on #2725
Hello this issue is still causing daily pain for our team.

Please package newman-reporter-cli-response or something like it with the default release of newman. Alternatively, we need a docker image with it pre-installed.

Again, this is all we have to go on even with `--verbose` flag, very very frustrating that we can't by default get headers and other useful information that I take for granted i

[2021-05-27 06:44] karnati1997 commented on #2029
i am also getting the same problem on how to resolve it.

[2021-05-27 18:05] noahlz commented on #2746
I agree. See my comments here: #2725

[2021-05-27 18:12] noahlz commented on #2725
htmlextra is a great tool and we will use it, however it did not give us additional insight.

![image](https://user-images.githubusercontent.com/447754/119875520-d765c200-bef4-11eb-85b2-590eceea5108.png)

Meanwhile, on the Nginx side of things we can see the responses.

[code]

Our response passes through a CDN / WAF layer. Now, clearly something is happening in that layer, i.e. content / cookies

[2021-05-27 18:14] noahlz commented on #2725
![image](https://user-images.githubusercontent.com/447754/119876424-e26d2200-bef5-11eb-9565-78791716d24a.png)

[2021-05-28 21:28] noahlz opened #2747 "Newman fails with "Parse Error" and no other details when Imperva inserts "bot detection (classification)" cookie into repsonse."
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 5. Command / script used to run Newman:
[code]
 3. Are you using Newman as a library, or via the CLI? - CLI
 3. Did you encounter this recently, or has this bug always been there: Recently
 4. Expected behaviour: Print more details about the error / hints at resolution

We were blocked for weeks be

[2021-05-28 21:29] noahlz commented on #2747
See also #2725

[2021-05-29 05:57] elit-altum commented on #2746
Hey @jim-lightfoot !
Can you send the screenshot of the full command? I believe some things are being cut out from the end.

Also I think you have specified ```junit``` as a reporter so there will be no CLI output for the collection but the ```.xml``` file generated in the ```newman``` folder will have the verbose output.

If you want verbose output on the command line as well, please use ```-r cl

[2021-05-30 00:30] imabp commented on #2548
The idea seems pretty neat and feasible. I feel we are just considering the use case of showing the response.
We can try the approach of mapping to Axios in order to build this up.

If an user inputs  `newman -get <url>`
Should be parsed into `method: get` and `url: url`

Process the input like:
[code]
And streaming the response to the output.

Would like to know your views @shamasis @codenirvana

[2021-05-30 15:29] #2745 closed

[2021-05-31 05:20] coditva commented on #2548
@imabp I see where you're coming from, but I feel `cUrl` is pretty much the standard for sending requests via command line. Their CLI options for sending requests are much more known than `axios` or any other library.

[2021-05-31 05:47] imabp commented on #2548
Hello @coditva  sir
Thanks for the inputs. So is it like, are we building this functionality, on top of cURL?
If yes, can you help me out, where exactly this is carried out :)

[2021-05-31 07:45] coditva commented on #2548
No, not really. We'll borrow the options from `cUrl` but the request sending and response and everything else still happens using `postman-runtime` and `postman-request`.

Sure, feel free to go through the code of `postman-runtime`, specifically the [lib/requester/requester.js](https://github.com/postmanlabs/postman-runtime/blob/develop/lib/requester/requester.js) part.

[2021-05-31 08:17] imabp commented on #2548
Thank you @coditva sir.
Going through it. :)

[2021-05-31 09:18] khushyadav opened #2752 "Newman summary JSON having incorrect values"
If a request contains pm.sendRequest() in its test then, the summary object created post the execution of collection using newman.run yields following incorrect values:

1. Under summary.run.executions we would have 2 object with identical values . One corresponding to request and second corresponding to pm.sendRequest.
2. The url of parent request will also be incorrectly replaced with the url of

[2021-05-31 16:07] XeniyaShirinova commented on #1730
Any progress on this? I've run into the same issue where I'd really like to reference the global variables via url.

[2021-06-03 16:17] Seayon commented on #1700
same issue herea

[2021-06-03 16:17] Seayon commented on #1700
same issue here

[2021-06-07 17:04] andrewmelnyk commented on #2275
Bumping this thread because it is a feature I could use right now. Has anyone looked into it lately?

[2021-06-07 18:06] naderkhalil commented on #1859
It seems that Newman cannot run thru Oauth2 flow and there isn't a plan to support it
Newman has "no way to prompt the user to login" and the "the app does not export the value of generated OAuth token to .json file"

https://github.com/postmanlabs/newman/issues/2615#issuecomment-776381139

[2021-06-10 03:20] vikyd commented on #2752
this bug makes `sendRequest` unusable.

[2021-06-11 00:16] snoblenet opened #2756 "GET tests only pass with { body: { mode: 'raw', raw: '{}' } }"
**Context:**

Newman v5.2.3
Mac OS X 11.4 on Intel Core i7
Node v14.17.0

**Expected behaviour / steps to reproduce / etc:**

Add a request in Postman.app that hits a GET endpoint.

It's a GET request so it should have no body.

Run the request in Postman.app and confirm that it works as expected.

Copy the curl generated by Postman.app and confirm that it works as expected in your terminal.

Add

[2021-06-11 03:31] rs294682 commented on #2615
Hello....  Did you have any resolution to fix this issue in Newman tool ??

[2021-06-16 13:35] sparksterz commented on #2144
As an update I've been using PowerShell Core 7.1.2 in Windows Terminal and the Newman CLI reporter output is working as expected.

[2021-06-16 16:46] shamasis commented on #2144
True that. I've tried reproducing it earlier even when this was first reported - but couldn't. Back then the only solution I could think of is open up an undocumented api to use some environment variable to force set CLI width. As I type, even now it works on PowerShell just like you said.

[2021-06-16 22:55] snoblenet opened #2764 "Let users customise colours"
Here is [newman](https://github.com/postmanlabs/newman) with `FORCE_COLOR=1`:

![image](https://user-images.githubusercontent.com/62277/122304272-4c527780-cf48-11eb-9d86-3dea1b95bdf5.png)

On the up side, the ticks are green like you'd hope.

On the down side, the debug text is the same colour as the background and therefore invisible.

And here is newman with `FORCE_COLOR=0:`

![image](https://us

[2021-06-18 05:03] snoblenet commented on #2756
Unbelievably, I even had to add a fake empty body like this to make [Postman's own test pass](https://www.postman.com/postman/workspace/published-postman-templates/request/631643-0189572f-509e-efe0-686d-eed4b3d2f1f0) in Newman.

[2021-06-18 07:09] k-anuradha commented on #2595
To add to this issue, it says generated report and later this script timeout error though no report is actually seen to be generated -
![image](https://user-images.githubusercontent.com/39580819/122521211-2d301480-d032-11eb-8f2f-993af6a886d6.png)

[2021-06-18 11:26] emilioego commented on #2437
I have the same issue. Have you found any solution for this issue?

[2021-06-18 11:31] emilioego commented on #2742
Hi @wilsondgr8 , I think that this issue is the same that https://github.com/postmanlabs/newman/issues/2437

Regards!

[2021-06-19 13:13] rbenhaddou opened #2770 "[Documentation Update] Would it be possible to add a new reporter in the README external reporter listing ?"
Hello guys,

We've been working @Decathlon on a newman reporter that allows decorating pull requests with postman collection results. Here's the [repo](https://github.com/Decathlon/newman-reporter-pullrequest-decorator).

I tried to push my own branch from develop to create a PR but it seems like i don't have permissions to do it.

Would it be possible to add it in order to make it more visible to

[2021-06-22 04:05] codenirvana commented on #2756
@snoblenet I am not able to reproduce this issue locally, can you share a scaled-down collection which we can use to reproduce this issue?

Postman Echo's request you shared is also passing the tests:

![Screenshot 2021-06-22 at 9 33 43 AM](https://user-images.githubusercontent.com/4865836/122861358-f19c8f80-d33c-11eb-836b-d51783a3f25b.png)

[2021-06-23 12:03] eloyucu commented on #1730
Finally I added a json file with my global config to the server, and then I run newman using the flag `--globals` and passing the path to the json file.

Sorry, I didn't find any other way to do this.

[2021-06-25 07:10] Ayush7614 opened #2772 "Improve issue templates added more features and issue templates"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2021-06-29 11:04] SRKarumuri commented on #2437
Hi
Good Day

Hope you are well
Sorry for very late reply
I am able to run my collection in my Azure pipeline without any issue. Still facing same self signed certificate error locally ( it’s may be something to deal with organization ). I am happy that I could run it from my pipeline I no need locally 🙈

Thanks
Sri

[2021-07-02 01:55] poponuts commented on #1679
is this going to be fixed without using any hacks or workarounds? just curious as its been lodged 2018 and its 2021 now and probably those who initially raised it just gave up and move to other tools.

[2021-07-02 14:28] ChieftainY2k commented on #1203
Hello, any news on that ? The line wrap limit at 60 is reeaaaaal PITA , if you will :)

[2021-07-03 06:41] pedroceja123 commented on #1959
-

1. file:///storage/emulated/0/Download/chrome_qrcode_1625294308009.png

[2021-07-03 06:41] pedroceja123 commented on #1959
que se puede aser

[2021-07-03 06:41] pedroceja123 commented on #1959
file:///storage/emulated/0/Download/chrome_qrcode_1625294308009.png

[2021-07-05 09:21] deka014 opened #2778 "npm run test-cli fails"
Hello ! This is my first time trying to contribute to newman. I have read the contributions.md and followed it accordingly but when i do npm run test-cli it returns following error :

![Screenshot 2021-07-05 144707](https://user-images.githubusercontent.com/70725731/124448528-2f1f0500-dda0-11eb-8396-f1137fbc85ab.png)

I am sorry , if i am doing something wrong along the process.

Thank you in adva

[2021-07-17 17:41] rbenhaddou commented on #2770
Hey guys,

Any help on this ? I can make a pull request if i got the rights to do so ?

Thank you !

[2021-07-21 03:33] LavanyaGolla commented on #1971
I am having the same issue. Could you please tell me how it got resolved?

[2021-07-21 03:34] LavanyaGolla commented on #1971
@radhikanachiar

[2021-07-21 14:42] ManiacDC opened #2789 "newman memory usage is very high"
When we run our test collection of about 1800 requests in Newman, memory usage increases over time and hits over 1.7GB. We have had to continually increase our memory limits in CI due to increasing usage whenever a new set of tests/requests is added. The request and response bodies should all be under about 1KB, so they should not be what is using the majority of memory.

I did profile the memory

[2021-07-21 21:38] shamasis commented on #2789
We need to introduce a "light" mode (even if it's introduced as an experimental flag.) What that will do is stop internally the accumulator for reporters - that's the primary culprit for memory usage.

cc @shubhbhargav @codenirvana

[2021-07-22 18:52] nick-randal opened #2791 "Warning or Error if --folder specified is invalid."
No warning or error if a bad folder is specified. Each line item in the output grid is green with totals of 0.

 1. 5.2.4
 2. Windows 10 x64
 3. cmd.exe
 3. First time I have tried newman
 4. Error or warning
 5. newman run ".\Test.postman_collection.json" --folder "A Non Existent Folder"
 6. N/A
 7. ![image](https://user-images.githubusercontent.com/6055507/126693123-068cc557-9167-4be4-a2a8-e5638

[2021-07-22 21:50] #2770 closed

[2021-07-23 09:54] thepeej-pwhite6 opened #2793 "[ECONNRESET] Enhancement Request to catch and retry"
### Is there an existing request for this feature?

- [X] I have searched the existing issues for this feature request

### Is your feature request related to a problem?

I have a regular hourly automated test that runs really well.  I use newman.  A number of times a week a get an ECONNRESET from an endpoint being call by the test.   The test will then fail, causing a team to look into the reason

[2021-07-24 06:15] UtkarshTiwari123 commented on #2064
Hi , I would like to work on this issue but I am new to open-source.So can anyone please help me a little?

[2021-07-26 11:20] shamasis commented on #2789
@ManiacDC ... while the above is being attended to, can you try this workaround of cleaning the memory using another reporter? https://github.com/shamasis/newman-reporter-debug

- install this reporter `npm install newman-reporter-debug -g`
- append the following to your Newman CLI command `--reporter debug --reporter-force-clear-run-summary`
- if you want the debug reporter print nothing pertaini

[2021-07-26 15:53] ManiacDC commented on #2789
@shamasis thanks for this. Unfortunately, this didn't really affect memory usage at all. It still used about 1.7GB of memory. I set it up to only use your reporter and did confirm that your reporter was being used as the '! `forceClearRunSummary` will remove execution trace after every request. Note that this may have adverse effects on other reporters if they depend on this trace data.' message a

[2021-07-26 21:10] shamasis commented on #2789
Ok. It was worth a blind shot I guess 😞

So, we need to deep dive into what's consuming the stack size and build this internally. Just hoping it's not a memory leak.

[2021-07-27 09:45] PauSanch opened #2797 "Access the time of postman "pm.response.responseTime" requests from newman using node.js."
hello, I need to access the time of postman "pm.response.responseTime" requests from newman using node.js.
In node I have the run.js file in which I run a collection, but I don't know how to access from here the time each collection request is taking, can anyone help me?

[code]
how do I access the time of the requests to put a console.log(??)

Thanks!

[2021-07-27 16:27] shamasis commented on #2789
@ManiacDC I would love to get hold of a collection that speeds heap analysis for me. I can see general heap items like you mentioned, but I am also seeing gc wrap them up at fair intervals. There is surely a codepath I am not hitting that would test this.

Can you see if any public API can reproduce this? Say, postman-echo https://www.postman.com/postman/workspace/published-postman-templates/docum

[2021-07-27 19:29] ManiacDC commented on #2789
[Single Test.postman_collection.json.zip](https://github.com/postmanlabs/newman/files/6888081/Single.Test.postman_collection.json.zip)

@shamasis I played around and I can reproduce it using this simple collection (1 request executed 1800 times), but ONLY when using it as a library with my nodejs application. When I run it from the command line, memory still grows, but only to 200 MB. I hit over 1

[2021-07-28 08:40] shamasis commented on #2789
Oh. That's a major break I think. What if you deep clone the objects you pass to newman and see if any of globals, collection, etc object retaining references is the culprit?

Also, anything you're consuming from Newman EventEmitter that's possibly retained and stacking up?

[2021-07-28 09:31] DannyDainton commented on #2797
Hey @PauSanch,

This should give you the response times for each of the requests:

[code]

More about the different `on` events can be found here:

https://github.com/postmanlabs/newman#newmanrunevents

[2021-07-28 11:29] vbisbest commented on #2752
@vikyd The behavior I am seeing is that I get duplicate main requests.  For instance, Newman shows

1. pre-request 1
2. main request 1
3. pre-request 2
4. main request 2

instead, the reporter is showing
1. main request 1
2. main request 1
3. main request 2
4. main request 2

Thank you.

[2021-07-28 12:34] PauSanch commented on #2797
Eureka! I didn't fall for 'args', it works! thanks a lot for the help!

[2021-07-28 12:35] #2797 closed

[2021-07-28 13:54] ManiacDC commented on #2789
Ignore what I said yesterday. I was running the wrong collection when running as a library, sorry about that. Going to spend some time today narrowing this down (again).

[2021-07-28 14:40] EricSt-Amand-opalrt opened #2798 "Support request: equivalent of command-line flag "--disable-unicode" in the options of newman.run()"
1. Newman Version (can be found via `newman -v`): **5.2.4**
 2. OS details (type, version, and architecture): **Windows 10 x64**
 3. Are you using Newman as a library, or via the CLI? **as a library**
 3. Did you encounter this recently, or has this bug always been there: **I'm fairly new to newman so I have always had this issue**
 4. Expected behaviour: **I should have the same between `--disabl

[2021-07-28 19:09] ManiacDC commented on #2789
@shamasis I did some testing today:
1. Whether I run my collection from the command line or as a library, it uses 1.5GB of ram
2. Running a more simple collection with a single request 2 folders deep, looping over the 1 request 1800 times, it uses 450 MB of ram
3. Stripping out all my eval() instances, globals, authentication & variables and switching to use postman-echo, it uses ~330 MB of ram.
4

[2021-07-28 22:18] shamasis commented on #2789
I will try the combinations and check. Ideally folder depth shouldn't influence memory usage. That's because newman flattens the execution before getting into the execution part.

I'm also wondering why is the consumption so high in 300+mb whereas at my end, even with a request-response payload of 100mb each the usage never goes above 170mb and stays constant for 2000 executions. Both 2000 req in

[2021-07-29 02:15] vikyd commented on #2752
Yes. this PR fix that.

[2021-07-29 05:04] PauSanch opened #2799 "Get the number of requests a collection has from newman using node.js"
Hi, I need to get the number of requests a collection has from newman using node.js.
I was trying to query 'args' (based on a previous helpful forum answer) but I can't get it...

const newman = require('newman');
newman.run({
  collection: ("./PostmanCollections/CollectionName.json"),
  environment: ("./postmanVariables/A1Env.postman_environment.json"),
  reporters: "cli",
}).on('beforeIteration'

[2021-07-29 12:54] ManiacDC commented on #2789
I'm on Windows 10 20H2, with node v14.16.1.

Thanks!

[2021-07-30 16:28] shamasis commented on #2789
Thanks @ManiacDC. I have wired up a hacky memory tracing in the debug reporter version `1.1.1-beta.1` (so many 1s)!

[code]

I will have a look into your collection ASAP.

[2021-08-03 18:36] ManiacDC commented on #2789
Thanks @shamasis please let me know if there's any way I can help.

[2021-08-05 14:36] soham4abc commented on #2772
This issue looks already solved! Closing this might help!

[2021-08-10 01:13] davidcsaint opened #2810 "Collection Authorization Leads to Empty Headers Within Collection"
Hello,

Looks like there may be some sort of issue with how Newman handles authorization within Collection exports.

Unfortunatley the Collection is private with a private ClientID and ClientSecret so I can't share that. But the rest of this information is below

Version and environment information:
 1. Newman Version (can be found via `newman -v`):
 5.2.4

2. OS details (type, version, and archit

[2021-08-10 12:01] davidcsaint commented on #2810
Hi - stumbled on the solution here. It was to sync the access token in the Authorization tab of the Collection. There is no reference to this in the documentation. It appears that the Tokens are not passed when the collections are exported?

[2021-08-10 12:01] #2810 closed

[2021-08-13 22:42] universalhandle commented on #2192
I don't understand why one would want to allow specification of a value via the GUI only.

My use case:
- I have three environments: one for each deployment stage. Those environments include variables `hostname`, `username`, and `password`.
- My tests make requests to endpoints like `https://{hostname}/{{id}}/endpoint.xml`.
- `id` is stored in a collection-level variable. I generally avoid the glo

[2021-08-14 09:26] vdespa commented on #2192
@universalhandle Thanks for sharing your use case.

I don't think you need the extra code in the pre-request script since data variables will override any existing collection variables. Correct me if I am wrong.

[2021-08-16 00:30] Munira-Panjwani opened #2816 "Hi,"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2021-08-16 00:30] #2816 closed

[2021-08-16 00:33] Munira-Panjwani opened #2817 "Error 403 - Forbidden: Client Certificate Required. - Postman call"
Hi,

Trying to call the api endpoint hosted on azure gives the error of Error 403 - "Forbidden: Client Certificate Required."
I have uploaded the client certificate that is issued for website which also calls the same endpoint but it didn't work.
Also, tried with "Enable SSL certificate verification" as OFF

![image](https://user-images.githubusercontent.com/88992466/129497561-e4522a28-b4bf-4062-a

[2021-08-16 06:30] shamasis commented on #2817
If I am reading this right, you are not sending the client certificate. Newman is the "client" and it should send the certificate as per what the error says. You'd need to configure the same for this API.

Have a look at https://stackoverflow.com/questions/53233044/newman-how-to-send-ssl-cert-in-newman-request

https://en.wikipedia.org/wiki/Client_certificate

[2021-08-16 06:31] #2817 closed

[2021-08-16 09:02] chriswalker67 commented on #2615
I came across this issue late last week trying to automate file uploads via API - I could run the scripts successfully in Postman itself but the moment I tried to run the script using Newman, I would get the 401 error. The environment I'm working with doesn't need a username or password for OAuth2. I was retrieving the token using one Postman script in a collection, storing the token in a global v

[2021-08-16 14:15] universalhandle commented on #2192
@vdespa, yes and no. Collection vars were overridden in the request but not in the pre-script, where you are required to specify the scope of the variable (e.g., `pm.iterationData` vs `pm.collectionVariables`. Without the added logic, the script would use the last saved collection variable value in the pre-script, at the least the way I'd written it: `const id = pm.collectionVariables.get('id');`.

[2021-08-16 14:18] vdespa commented on #2192
Got it, @universalhandle

Have you tried using `pm.variables.get()` which is supposed to fetch a variable according to the current scope?

[2021-08-16 14:19] universalhandle commented on #2192
Ah, I forgot about `pm.variables`! I'll give it a spin. Thanks for the tip.

[2021-08-16 19:21] universalhandle commented on #2192
@vdespa: `pm.variables.get()` behaves as you described. I was able to drop the `||` logic from my scripts. Thanks again.

[2021-08-17 12:02] alexevansigg commented on #2615
I also couldn't get Inherit from Parent on OATH2.0 to work in Newman. Setting the token as environment variable then adding it as authorization header works however.

[2021-08-20 08:21] nossSpb commented on #2533
I came to this issue later. For some reason when exporting collection, postman do not export request IDs in it, we don't know for what reason. After the research I've done, the only workaround is to make request names unique with some random chars at the end like: `postman.setNextRequest("Get user permission:uniq:sdca");`

[2021-08-23 18:08] shamasis commented on #2799
@PauSanch do you really need to do it using `newman`? What if you loaded the collection before running Newman using `postman-collection` package? That package has some neat functions.

[2021-08-23 19:03] RSUIAutomation commented on #413
So the send and download feature is not available in newman?

Postman always relies on third party code to handle its upload data?

You cant actually fully automate sending files using newman? You always have to add some third party code to get files completely separately?

Every time you want to share a postman collection with other developers you also have to send them dependencies of the postma

[2021-08-30 14:37] cchretien commented on #2789
I've been waiting for this to be addressed for quite some time. We've just sat on a version 4.4.0 to avoid this issue. Glad it's getting some traction here.
Perhaps, this information was missed before but seems as though there was memory investigation by **timhuff** that pointed out a memory leak in the postman-sandbox. See comment https://github.com/postmanlabs/newman/issues/2712#issuecomment-823

[2021-09-02 06:16] ohad-artlist commented on #2615
You can work it around by setting a variable

[2021-09-03 12:59] kirann23 opened #2834 "Newman execution stops in the middle due to socket hangup"
Ref
 1. Newman Version (can be found via `newman -v`): **5.2.3**
 2. OS details (type, version, and architecture): **Windows 10**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: It is reproducible sometimes
 4. Expected behaviour: It should not error out
 5. Command / script used to run Newman: newman run $COL_N

[2021-09-06 10:47] Reki5 opened #2837 "Reki5"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2021-09-06 10:48] Reki5 commented on #2837
Auf meine Account verifizieren( Reuf 5 )github

[2021-09-06 16:50] #2837 closed

[2021-09-07 21:01] abarrantesc commented on #1264
I need to put two proxies in the newman run CLI. I have a request that needs the proxy and another request that is localhost that doesn't need it. I need the proxy not to apply for the localhost

set HTTP_PROXY=example.com NO_PROXY=localhost && newman run collection.json

[2021-09-09 08:38] amar212b opened #2838 "Is there way to run collection based on sub folders which take input from csv files"
Hi,

Was trying to run my collection which has multiple subfolders defined and each subfolders has its own data file which it uses for execution.
I can run this using Newman cli by ggiving separate commands and using - f and - d to run a particular folder using particual csv file.
Was trying to achieve the same programmatically but iterationData fields is string field and it is not allowing to use

[2021-09-14 05:30] luoenzhen commented on #398
I still have the same issue. Passed on the Postman but failed on the Newman.

[2021-09-14 15:39] SamPostman commented on #1178
hi there,
I got similar issu on this:

const jsonData = pm.response.json();
const id = jsonData.id.split('/');

const context = pm.environment.name ? pm.environment : pm.collectionVariables;
context.set("_accessToken", jsonData.access_token);
context.set("_endpoint", jsonData.instance_url);
context.set("_userId", id.pop());
context.set("_orgId", id.pop());

There was an error in evaluating the tes

[2021-09-14 15:48] SamPostman commented on #1178
also:

"error": "invalid_grant",
    "error_description": "invalid assertion"

[2021-09-14 18:53] pulkit-30 commented on #2791
Please assign me this issue and please help me out with some code pointers/references from where I can start digging into it.

[2021-09-15 08:52] AlirezaSoltaniJazi opened #2839 "Unable to use mutiple reporters in CI/CD pipline"
Hi,
I have a pipeline like this:
[code]
everything works great before I add another reporter to the reporters.
I try these ways:
[code]
after all try, I got this error:

How I can fix the problem? I saw newman documents but I used the same way they said but the error exists there.

[2021-09-15 22:04] uttamanand-whs opened #2840 "Not able to run the Postman as Job in kubernetes"
Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`): 5.3.0
 2. OS details (type, version, and architecture): minikube version: v1.17.0
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: I am using it newly
 4. Expected behaviour: Test result should come
 5. Command / script used t

[2021-09-16 07:51] amar212b commented on #2798
Use disableUnicode: true and it will work in Newman.run({ command when using Newman as library

[2021-09-16 12:20] erstam commented on #2798
I do use `"disableUnicode": "on"` in options and it works fine, thank you.

[2021-09-17 07:27] #2798 closed

[2021-09-21 18:06] blasterino1 opened #2844 "newman Invalid character"
Version and environment information:

 1. Newman Version (can be found via `newman -v`): 5.3.0
 2. OS details (type, version, and architecture): Windows 10 Pro (20H2)
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour: display newman version after input in CLI newman -v
 5. Command / script used

[2021-09-22 10:06] NethajiV commented on #1460
On exporting I can see the OAuth2 in the collection. But when I run the newman I got 401 access token invalid. Any suggestions please

[2021-09-22 16:49] akhomyakov opened #2845 "Verbose truncates output down to 2.05kB"
1. Newman Version (can be found via `newman -v`): 5.3.0
 2. OS details (type, version, and architecture): MacOS 10.15.7
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Always been there (but I am new to this)
 4. Expected behaviour: full output when --verbose is used.
 5. Command / script used to run Newman:
[code]

[2021-09-23 04:58] shamasis commented on #2845
What's the size of your response?

[2021-09-23 16:15] akhomyakov commented on #2845
Response size
[code]

[2021-09-23 17:10] shamasis commented on #2845
This is done intentionally because unlimited data stream has the potential to crash the terminal.

Perhaps we can bump this to 10 kb? Maybe add a flag to make this unlimited.

[2021-09-23 17:25] akhomyakov commented on #2845
10kb will work for my case and the reasoning to "not crash the terminal"
also makes sense. Flag for unlimited is a good option as well.
Possibly to address the possibility of the terminal crashing, perhaps an
option to debug into a file (which then one can `tail -f` in a separate
terminal) would address the stability concern?

--Andrey

On Thu, Sep 23, 2021 at 10:10 AM Shamasis Bhattacharya <
***@

[2021-09-24 02:21] ruowan opened #2848 "substitute 'intel' package in postman-collection-transformer"
Hi, newman team.

Newman is a great libray and very easy to use. But recently our component and governence pipeline detect legal issue when using newman package.

The license of dependency package 'intel' package is MPL2.0.  Maybe there are some risks here. How about subsitute this `intel` package with others. and this `intel` package has no update since 2017. I think it's a good opportunity to ma

[2021-09-24 02:53] codenirvana commented on #2848
@ruowan Thanks for bringing this to our attention. We'll update the package and let you know.

[2021-09-24 03:08] ruowan commented on #2848
Great! Thanks~

[2021-10-05 13:06] impnguyen commented on #2616
@adityaofficial10 Do you have news for this issue?

[2021-10-05 14:00] hector-del-rio commented on #1224
Same issue here. @soujanya1511 did you ever find out the solution to this problem?

[2021-10-07 04:24] markpaule012 commented on #1879
I have solved. this by checking the url. Seems its missing slash '/'

[2021-10-07 19:15] mamunscbsy opened #2853 "RestAPI"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2021-10-11 12:22] Navair2 opened #2854 "APIs run on Postman but not on Newman."
All APIs run on Newman except three, though they all are running on Postman.
![image](https://user-images.githubusercontent.com/92309193/136789201-7a85242b-1170-435b-b86c-afd46f37ecfa.png)

[2021-10-15 13:03] raxetul opened #2855 "Add support to use custom reporters without installation"
# Feature request
When using Newman not as a cli app but as a module programmatically it should use a defined function as a reporter.

Ex:
[code]

[2021-10-20 23:22] pulkit-30 commented on #1600
I think I can solve this issue, may you please assign me this issue.

[2021-10-22 09:08] schelv opened #2860 "Invalid Schema not detected by schema validation test."
1. Newman Version: 5.3.0
 2. OS details : Ubuntu 18.04.4 LTS
 3. Are you using Newman as a library, or via the CLI?: CLI
 3. Did you encounter this recently, or has this bug always been there: No idea it also was there in version 5.2.4
 4. Expected behaviour: Schema validation test should fail, just like it does in the postman app.
 5. Command / script used to run Newman: `newman run ./testPostman

[2021-10-22 09:42] #2860 closed, assigned to nobody

[2021-10-25 00:22] ongki commented on #1859
Same issue.

[2021-10-25 12:02] #2855 closed, assigned to nobody

[2021-10-29 20:46] ErikBurdett opened #2865 "Is there a way to delcare Env Vars in CircleCI Accessible by postman collection header?"
Hi, I'm trying to set env variables for a postman/newman orb - I have a secret that needs to be accessed by and applied to the header in my postman collection but I can't find anything on setting the env var in circleci to where it's accessible to the postman collection. Can this be done in circleci or is it just postman? I've watched through https://www.youtube.com/watch?v=DsLa4SSF37o&ab_channel=

[2021-10-30 16:35] adamrossmusic commented on #712
Why this is closed? Certainly one of the most needed feature and 5 years of nothing.

[2021-10-31 03:03] shamasis commented on #712
This is supported in --verbose mode

[2021-11-01 19:26] bendtherules commented on #2632
Also, importantly `--timeout-request <n>` doesn't help here because it simply doesn't seem to include the *download time* for a heavy response. It only works if the server keeps newman waiting for a long time, but not if it keeps sending a long response.

[2021-11-03 15:10] gerarytoti opened #2869 "Deprecated Highlight.js"
1. Newman version: 5.3.0
 2. newman-reporter-htmlextra version: 1.22.3
 2. Node version: 12.22.7
 3. TypeScript version: 4.4.4
 2. OS: Windows 10
 3. Using Newman as a library for an application with TypeScript

I'm getting a Warning of a hihghlight.js version deprecation on package install. Checking with `npm ls highlight.js` I figured out that the only library in my system using it is newman-rep

[2021-11-04 14:23] Anapier22 commented on #872
I am trying to create a separate txt file of all the console logs, but using the above code I get errors in the console while running newman. I have attached a screenshot of the error in the console. I have also supplied my code below. Any help here would be greatly appreciated. When my test scripts fail it is because there is missing id values and I need to report those objects that have the miss

[2021-11-05 14:31] Anapier22 commented on #872
I finally solved the issue and am posting here in case anyone in the future needs to output the console logs from newman to a separate txt file.

[code]

[2021-11-08 13:57] spartanhooah commented on #712
@shamasis I added the `--verbose` flag to the Newman command and did not see any headers being logged. Is there some other place to add that flag?

@keithmork Where exactly did you add that line of code? I'm not super familiar with running tests through Postman - mostly I just use it to send ad-hoc requests.

[2021-11-10 08:23] rallu opened #2872 "[Feature request] Support for Postman Flows"
New Flows beta is the best thing Postman has seen for a while. It has all the needed bits to do proper testing sequences without needing to do too much scripting between requests.

Running them in cli is pretty much only thing needed to take them full use.

Is there going to be a support in newman for it?

[2021-11-10 13:31] dotnetmat90 opened #2873 "tunneling socket could not be established, statusCode=302"
Hi All!

For some reason I am getting  tunneling socket could not be established, statusCode=302
when running newman test in Azure piplines

[2021-11-10 20:45] mitchross commented on #2872
+1 for this request

[2021-11-11 21:16] Xdomen commented on #2560
@adityaofficial10 could you please help us with the opened PR https://github.com/postmanlabs/newman/pull/2652 🙏

[2021-11-15 12:43] thomroger opened #2875 "Store result in a folder"
Hi,
Is it possible to call collection API with Newman (for example : execute this line : newman run C:\Users\XXX\Documents\Test_Collection\collection.json) and store the result in a specific folder (body of result) ?
Thanks,

[2021-11-15 15:56] thim81 commented on #2557
Ben Colemont did some excellent work on this topic: https://github.com/benc-uk/postman-prometheus

[2021-11-17 07:41] SudoNova commented on #764
Just asking, do you think if it's a good idea to make it even shorter, instead of passing `--env-var foo=bar`, use `--for=bar`, or to avoid conflicts use `--env-foo=bar`? This way Newman usage can be facilitated in terminal hence increases its adoption by admins and  other terminal users.<br>Same thing might be introduced for selecting folders, but it would be more complicated.

[2021-11-19 07:56] shamasis commented on #764
Interesting. Sorry if it is a noob question... but how's the current input method preventing "This way Newman usage can be facilitated in terminal hence increases its adoption by admins and other terminal users."?

[2021-11-19 10:46] SudoNova commented on #764
@shamasis By saving more characters (hence time) maybe 🤔 As a system or database administrator who has to either use CLIs or calling APIs, especially in critical conditions, this matters a lot. Most avoid using APIs AMAP or do write a huge set of scripts, which are custom and not compatible with OpenAPI (hence not reusable). Newman changes this, but the more convenient it becomes, the more admins

[2021-11-19 12:04] cah-kavan-singh commented on #398
I have the same issue as well. Multiple endpoints failing while running a collection using newman but passing on postman

[2021-11-19 14:53] jakubvana commented on #2872
+1 for this request

[2021-11-23 00:27] luoenzhen commented on #398
Would that because the timeout set with too small value caused the test failed?

[2021-11-23 05:30] cah-kavan-singh commented on #398
Okay I figured something out. It maybe be pretty obvious but I'll post it anyways. So in postman you have to types of values for environment variables, **current** and **initial**. I noticed that the newman command takes the initial value of the environment variables to run. I set all correct values in the initial section and my newman run worked without issues.

[2021-11-23 05:34] luoenzhen commented on #398
Would be good if you provide more detailed info or example please.

[2021-11-23 06:11] cah-kavan-singh commented on #398
![postman env](https://user-images.githubusercontent.com/64949092/142977819-86971cf3-7166-4d16-9345-9f320901edcb.png)

@luoenzhen The above pic is taken from postman. I'm looking at one of the environment variables **testenv**. Here, there are 2 columns, **initial** value and **current** value. The values of the variables in the **current** column in used by the postman collection runner, but not

[2021-11-23 15:49] hvincent4470 opened #2876 "Unable to Set --ignore-redirects"
I am attempting to run a nodeJS application that calls newman to run some tests, newman v. 5.3.0, on Windows 10.  Inside my index.js script, I have my parameters for the run set out as:

const parametersForOne = {
    collection: path.join(__dirname, 'Sign_In-Change_Password-Smoke_Test.postman_collection.json'),
	globalVar: [
		{"key": "URL", "value": "XXXXXX"},
		{"key": "State", "value": "XXXXX"

[2021-11-26 00:30] luoenzhen commented on #398
@cah-kavan-singh First thanks for your quick reply and apology for my belated response. For my case, all the variables are set correctly. I have nearly 200 APIs for testing, they are similar but different, 4/5 of them have no issue when running by newman. No idea why it would fail the other 1/5.

[2021-11-30 19:56] mrbusche opened #2880 "Resolve CVE's CVE-2021-3711 and CVE-2021-36159"
There are 2 critical CVE's in the [latest version of newman](https://hub.docker.com/layers/postman/newman/latest/images/sha256-34432ba290f357b1d6d579b42f65fcf0c0cfc8856a990a94d29fc7968f14af10?context=explore)

|CVE|SEVERITY|PACKAGE|VERSION|STATUS|PUBLISHED|
|-|-|-|-|-|-|
|CVE-2021-3711|9.80|openssl|1.1.1k-r0|fixed in 1.1.1l-r0|>3 months ago|
|CVE-2021-36159|9.10|apk-tools|2.10.6-r0|fixed in 2.10.7

[2021-11-30 21:21] mrbusche commented on #2880
I updated the [alpine Dockerfile](https://github.com/postmanlabs/newman/blob/develop/docker/images/alpine/Dockerfile#L1) to use versions `12-alpine`, `14-alpine`, and `16-alpine`.

I built the image and ran `docker run -t postman/newman:${nodeVersion}-alpine run https://www.getpostman.com/collections/8a0c9bc08f062d12dcda`

### 12-alpine results

| |executed|failed|
|-|-|-|
|              iteration

[2021-11-30 21:25] mrbusche commented on #2499
Related to https://github.com/postmanlabs/newman/issues/2880 there are 2 more critical CVE's flagged by twistlock

[2021-12-01 00:21] codenirvana commented on #2880
@mrbusche Thanks for reporting this issue, we'll fix this as soon as possible!

[2021-12-03 13:04] aditkumar72 commented on #2844
@blasterino1 do you still facing the issue?

[2021-12-06 11:06] ashish-infogain commented on #1730
Any progress on this? I've run into the same issue where I'd really like to reference the global variables via URL. We want to implement the global variable via URL thing because it keeps up synchronizing with the collection.

[2021-12-08 16:37] mrbusche commented on #2880
@codenirvana Any update on this?

[2021-12-10 19:36] imagest commented on #1203
Would really like this as well.

[2021-12-10 21:35] maharshi-me opened #2884 "ECMAScript 2020 operators not working in newman but working in Postman"
1. Newman Version (can be found via `newman -v`): 5.3.0
 2. OS details (type, version, and architecture): Mac OS Big sur v11.4
 3. Are you using Newman as a library, or via the CLI? CLI
 4. Postman Version: v9.3.1
 4. Screenshots:

<img width="878" alt="Screenshot 2021-12-11 at 2 49 21 AM" src="https://user-images.githubusercontent.com/73870493/145643983-8a380e8c-cb05-4b54-9abe-13b3b1f6e773.png">

[2021-12-12 01:47] Gurparv commented on #2029
I am getting the same issue on my windows machine.
And I am using newman v5.3.0.

[2021-12-12 02:04] Gurparv opened #2886 "Invalid Character error for Newman on Windows."
**Version and environment information:**
 1. Newman Version (can be found via `newman -v`): **newman 5.3.0**
 2. OS details (type, version, and architecture): **64bit,Windows 10,Version	10.0.19042 Build 19042**
 3. Are you using Newman as a library, or via the CLI? **CLI**
 3. Did you encounter this recently, or has this bug always been there: Recently while installing newman on windows machine
 4

[2021-12-13 04:24] shubhbhargav commented on #2029
@karnati1997 Can you please let us know which newman version did you install? If you've installed an older version, we would recommend you to install the latest one i.e. v5.3.0

[2021-12-13 04:25] shubhbhargav commented on #2029
@Gurparv Did you install it globally? `npm i newman -g`

[2021-12-13 04:30] shubhbhargav commented on #2884
Hey @maharshi-me, can you please let us know the node.js version you are using? newman uses the system's node.js to execute, hence the underlying node.js version needs to be compatible with ECMAScript 2020 operator for newman to work.

[2021-12-13 07:27] maharshi-me commented on #2884
I am using node v10.24.1. It is not the latest version.

[2021-12-14 01:52] Gurparv commented on #2029
@shubhbhargav  Yes, i tried both of the following commands. But the issue still persists.
1. `npm install -g newman`
2. `npm i newman -g`

[2021-12-14 15:09] shubhbhargav commented on #2884
Thanks for the info @maharshi-me. I am able to verify that the corresponding error doesn't show up if we bump up the version to latest ones (17.0.1 for me).

Digging further (ref: https://node.green/#ES2020-features-optional-chaining-operator-----), any node version above v14.5.0 should work. Can you please try bumping up the version and let me know if it works?

[2021-12-14 21:53] jonquandt opened #2888 "Feature Request: cli-show-summary option"
1. Newman Version: 5.3.0
 2. OS details: Microsoft Windows 10 [Version 10.0.18363.1916] 64-bit
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: always
 4. Expected behaviour: run a collection and receive just the CLI summary back, particularly in conjunction with other reporters exporting files
 5. Command / script u

[2021-12-16 13:51] ejerskov opened #2889 "Cant specify reporter options"
Im using the [json-summary reporter](https://www.npmjs.com/package/newman-reporter-json-summary) and I'm not able to specify the export path using the newman node module.

I have tried numerous variations of the variables "jsonSummary" and "summaryJsonExport" but with no luck. The report is not created in the 'artifact' folder.
Anyone who know how to define reporter options for a reporter with das

[2021-12-16 14:14] ejerskov commented on #2889
Fixed by using string "json-summary" instead of jsonSummary

[2021-12-16 14:14] #2889 closed

[2021-12-20 13:42] tsfullman commented on #2880
Any update? `CVE-2021-3918` needs to be addressed as well. Are these images not consistently supported?

[2021-12-21 16:53] Rottenblasters commented on #2886
@Gurparv it is working fine for me, try redoing the process again

[2021-12-22 05:22] Gurparv commented on #2886
The issue is resolved now. Thanks to a kind soul on stack overflow. Below is the summary of it.

[code]
Thanks @Rottenblasters , I am closing this issue.

[2021-12-22 05:22] #2886 closed

[2021-12-22 08:53] ttyrone opened #2891 "403 Forbidden"
1. Newman Version (can be found via `newman -v`): 5.3.0
 2. OS details (type, version, and architecture): win10 x64
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:
   i export a collection as episode2.json from postman, the request doing well in postman, then i try to use the episode2.json in newman to write the res

[2021-12-24 12:14] shubhbhargav commented on #2884
@maharshi-me I am closing this issue given the above recommendation. Please feel free to let me know in-case it doesn't work.

[2021-12-24 12:14] #2884 closed

[2021-12-24 12:22] shubhbhargav commented on #2029
Thanks for the info @Gurparv. Apologies for the delay here but can you please provide me with the following details as well?

- OS details
- Did the issue started happening with a fresh installation/update/upgrade? Was it working before?
- Node version

Trying to see if this is related to the underlying OS or node version in any way. I've a hypothesis that it might be related to the node version:

[2021-12-24 16:35] Gurparv commented on #2029
@shubhbhargav - This issue is resolved now. Please check the [issue](https://github.com/postmanlabs/newman/issues/2886)
Thanks.

[2021-12-26 14:55] shubhbhargav commented on #2891
@ttyrone I tried reproducing the issue with the steps mentioned but unfortunately I wasn't able to. The `newman.js` worked fine for me and ended up creating the `002.ts` file.

Can you please share more details around the error within the response? I can see some error string in the screenshot but a full error text would be much more helpful here.

[2022-01-05 14:31] gunesmes commented on #1730
Same here, this would really be beneficial for me.

[2022-01-07 21:01] manbradcalf commented on #2071
I would love love love to be able to edit postman scripts outside of the postman app, as my postman collections/test/environments live within a github repo alongside other source-controlled code.

I find it hard to believe the only way I can update my Postman scripts is editing from within Postman just so I can export it in order to overwrite the `postman_collection.json` file that already exists

[2022-01-09 02:32] chrispeoples opened #2898 "Bug in Colors.js 1.4.0 Dependency"
Hello, a bug has been reported in `colors@1.4.0`.  Since the latest version of `newman` pins to this dependency version, the bug has rendered the cli reporter useless.

<br/>

### Screenshots

<img width="1674" alt="Screen Shot 2022-01-08 at 9 21 44 PM" src="https://user-images.githubusercontent.com/22162665/148666734-149a7a23-f6b0-4102-8b4e-c12390b0bea4.png">

<br/>

<img width="2034" alt="Screen

[2022-01-09 03:11] DABH commented on #2898
Please see https://github.com/Marak/colors.js/issues/285#issuecomment-1008212640 for latest update.  Thanks

[2022-01-10 03:36] BillLucky commented on #2872
+1 for this request

[2022-01-10 12:33] #2880 closed

[2022-01-10 13:13] codenirvana commented on #2898
@chrispeoples Thanks for the report!

This is fixed in Newman v5.3.1.
We have updated the affected `cli-progress` and `cli-table3` dependencies which now locks the `colors@1.4.0` version as well.

[2022-01-10 14:53] chrishunter-konsentus opened #2900 "Docker images have changed architecture, and fail to run"
https://hub.docker.com/r/postman/newman/tags

 1. Newman Version (can be found via `newman -v`): 5.3.1
 2. OS details (type, version, and architecture): Alpine AMD64/ARM64
 3. Are you using Newman as a library, or via the CLI? CLI - Docker image
 3. Did you encounter this recently, or has this bug always been there: This started an hour ago
 4. Expected behaviour: Newman to run
 5. Command / scrip

[2022-01-10 14:55] gfeun opened #2901 "Latest docker images for newman only available for arm64"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2022-01-10 14:56] #2901 closed

[2022-01-10 14:57] codenirvana commented on #2900
@chrishunter-konsentus Thanks for reporting this issue.

This is failed during the last release, we are working on the fix.

[2022-01-10 15:36] codenirvana commented on #2900
@chrishunter-konsentus Yes, we are planning to support multi-platform Docker images.

Also, can you verify if the issue is fixed now?

[2022-01-10 15:45] chrishunter-konsentus commented on #2900
@codenirvana I can confirm it working for me now. Thank you for your prompt response!

[2022-01-10 15:45] #2900 closed

[2022-01-14 05:22] Hima2021-rajesh commented on #777
Hi ,

I need to Skip the request from collection, I dont want to use postman.setNextRequest. if any possible solution please help!

[2022-01-17 04:35] shubhbhargav commented on #2891
@ttyrone I am closing this ticket as of now. Please feel free to let us know if you are still facing the issue. We will re-open the ticket and debug / resolve accordingly.

[2022-01-17 04:35] #2891 closed

[2022-01-23 15:16] daniel-nagar opened #2912 "Newman library memory leakage"
My system takes one collection, breaks it down into many subsets collections and runs them together.
Recently I started noticing memory errors when the number of subsets pass 1000, I did some investigation and removed any kind of noise, I reached the sample code below - 1 collection with 1 item (for this example I used some fake API service) running for 1000 times, one at a time. The memory grows

[2022-01-24 18:16] phhu commented on #276
One option for this problem is to use `jq` to filter the collection before passing it to `newman` to run, perhaps something like this:

[code]
This will run only requests having `[auto]` in their title.

[2022-01-24 18:40] mtaylorSF commented on #276
for what its worth, this is a great work around https://praveendavidmathew.medium.com/how-to-run-postman-requests-using-tags-db98e1fa9b38

[2022-01-25 00:24] ryancastle commented on #1258
Piping YAML to newman CLI works well, and IDEs support using the Postman collection JSON Schema with YAML files.

[code]

[2022-01-25 10:06] christianfullstack commented on #2872
+1

[2022-01-25 10:48] #1258 closed

[2022-01-26 00:05] rustam-umarov commented on #1224
It’s been 7 years since this was requested. Are we still on track to add this feature?

[2022-01-27 20:29] #2865 closed

[2022-01-28 08:15] shamasis commented on #2865
Hmm. At first glance it seems doable using combination of environment variables and CLI options / provided you know what exact environment variables are needed.

1. Define environment variable in Circle CI
2. While running Newman pass the environment variables using the `--env-var` options. (You can use globals too. Check CLI documentation of Newman)
3. In request header, use these variables using

[2022-02-01 16:57] prakhar3062 commented on #2764
Assign me this issue  i will work on it

[2022-02-01 18:21] shamasis commented on #2764
Keeping a few notes here for:

1. Color feature is specific to the CLI reporter. Newman core stdout assumes a simple terminal for widest compatibility. Hence code and naming of things should ideally be confined to the reporter CLI

2. The Color details are already picked up from constants in code. If we work on this feature, it would be nice to clean them up and neatly override them from a templat

[2022-02-02 23:35] byrdman commented on #2888
This would be quite handy

[2022-02-07 16:54] jjduarte commented on #2533
I'm also having same issues. For now using the `postman.setNextRequest("Get user permission:uniq:sdca");` as a workaround, but that is really dirty to use in a large test collection.

Wondering if that would be a Postman Collection export issue. (as it doesn't export the request ids properly) or a Newman compatibility as the postman.setNextRequest(`requestID`) works fine across postman UI, but not

[2022-02-08 08:57] sl4ng3r opened #2924 "Deprecated dependencies"
1.Newman Version 5.3.1
2. Linux / Mac
3. Using Newman as CLI
4. Always

Hi,
if i install newman with npm, i always get some deprecated messages.

npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated uuid@3.4.0: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See ht

[2022-02-08 20:02] deepika57 opened #2925 "java.io.IOException: error=2, No such file or directory while running with newman in jenkins for postman collection"
In Console Output : I am facing this issue , can some one help me how to resolve this .

Started by user [amrutha](http://localhost:8080/user/amrutha)
Running as SYSTEM
Building in workspace /var/jenkins_home/workspace/PostmanUnitTests
[PostmanUnitTests] $ cmd /c call /tmp/jenkins14743462721181469992.bat
FATAL: command execution failed
java.io.IOException: error=2, No such file or directory
	at ja

[2022-02-08 20:03] deepika57 commented on #2925
In build I have given this
C:\Users\hp\AppData\Roaming\npm\newman -c "C:\Users\hp\Desktop\postman\DoctorApp.postman_collection.json" -e
"C:\Users\hp\Desktop\postman\DoctorApp.postman_environment.json"

[2022-02-09 14:21] jwhitmarsh commented on #367
@sujaykundu777 I have exactly the same issue - did you ever solve this?

[2022-02-12 14:48] KomalGupta9950 opened #2927 "Installing Problem with Newman"
I have Installed node js  and set path in Env. variable. After that I am trying to installing newman from below mentioned command:

**npm install -g newman**

but I am getting below error.

[code]

Steps to reproduce the problem:

1. First Installed node.js under C: directory.
2. Then did path set in Environment variables
3. checked node and npm version using command prompt
4. installed Newman usi

[2022-02-13 09:41] DannyDainton commented on #2927
It looks like Newman has been installed, have you tried using it with a Postman Collection?

Or tried to use `newman -v`?

[2022-02-15 04:01] Tusharkhati commented on #2924
can I work on this?
Thanks.

[2022-02-17 22:01] stephenherrick opened #2930 "Feature Request - export collection/environment from cloud and run"
I would like the ability to get private api collections from the cloud to run in newman.  I'm not seeing if this exists but if it does you can close this out.  For those of us that work on internal/private apis it would be nice if we could download the collection and environment json files from within newman. I would imagine it would be something like adding new options to the "newman run" command

[2022-02-18 01:51] graykathy commented on #941
Any progress on the heap out of memory issue?  Workarounds? Thanks!

[2022-02-18 22:22] debu99 commented on #1918
any update

[2022-02-18 22:35] jjduarte commented on #1918
+1 for this feature request. We have a use case where request to an endpoint sometimes fail with a timeout/ network hiccups  (it's very rare) and we have a logic in place to retry it after a few seconds.

Even if one of retries succeed, at the end of the collection run newman returns the result as a failure if a request failed even though a retry was successful and no test cases actually failed.

[2022-02-22 20:37] vbisbest opened #2935 "Newman reporter request object does not contain content type"
1. Newman Version (can be found via `newman -v`): 5.3.1
 2. OS details (type, version, and architecture): Mac
 3. Are you using Newman as a library, or via the CLI?  CLI
 3. Did you encounter this recently, or has this bug always been there: Unsure
 4. Expected behaviour: 'request' should contain the Content-Type header

I am hooking the newman.on('request', (err, data)) call in my reporter.  The

[2022-02-22 20:38] vbisbest commented on #2935
I should add, I also tried hooking the 'item' call and it has even less headers (usually 3 out of 12).

[2022-02-23 07:06] vikaschoudhary89 opened #2936 "API scripts via Newman are failing with 403 error"
1. Newman Version (can be found via newman -v): **5.3.1**
 2. OS details (type, version, and architecture): **Windows 10**
 3. Are you using Newman as a library, or via the CLI? : **CLI**
 3. Did you encounter this recently, or has this bug always been there:  **Started testing now**
 4. Expected behaviour: **Should work as same when We run through Postman**
 5. Command / script used to run Newman

[2022-02-23 10:07] vbisbest commented on #2935
Here is an example.  You can see the content-type in Postman (confirmed it works properly with newman as well).
![Screen Shot 2022-02-23 at 4 53 31 AM](https://user-images.githubusercontent.com/3143293/155298251-3cce10c3-e57e-4b85-a101-48de97f730ab.png)

And here is the request object in my reporter, you can see the content-type header is not on the request function:
![Screen Shot 2022-02-23 at 5

[2022-02-25 16:42] KomalGupta9950 commented on #2927
Dear @DannyDainton

I tried to use `newman -v` command after using `npm install -g newman` command. Although I am getting some error which is I am not understanding what kind of this error. Here attached screenshot in below:

if you understand then could you please provide me solution how can I resolve this issue?

Thank in advance!!

![Screenshot (12)](https://user-images.githubusercontent.com/99

[2022-03-02 09:51] pwhty commented on #941
I agree with @ulyssesb above. This might really be an issue with Postman, not Newman.

I'm trying to insert 50000 data objects into a CRUD-system, where each object needs 4 requests to be fully updated. I was using Postman Runner for this. After about an hour (6000 objects, 24000 requests), objects stopped arriving at the target system, while Postman was still on high CPU.

I then switched to Newm

[2022-03-02 12:21] danielkocot opened #2939 "Unknown format "float" is used in schema"
It seems that the "float" format leads a invalid schema test within Newman. The API description is based on OpenAPI 3..0.

 1. Newman Version (can be found via `newman -v`): 5.3.1
 2. OS details (type, version, and architecture): MacOS, Windows, Linux
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected beha

[2022-03-02 12:31] danielkocot opened #2940 "exclusiveMinimum should be number error with a API description of version 3.0"
With API Specification 3.0 exclusiveMinimum and exclusiveMaximum are boolean. With 3.1 these properties become number. It seems that these properties tested with the right schema.

Version and environment information:
-->
 1. Newman Version (can be found via `newman -v`): 5.3.1
 2. OS details (type, version, and architecture): MacOS, Windows, Linux
 3. Are you using Newman as a library, or via the

[2022-03-02 16:43] bioslikk commented on #2840
Hi @uttamanand-whs
Not sure if you solved this issue already but have you heard about [Testkube](https://github.com/kubeshop/testkube) ? It allows you to run your postman tests in Kubernetes without needing to use newman or configuring any docker image. Feel free to give it a shot!
In case there's something missing for you, feel free to open an issue for it. I'm someone deeply involved in that pro

[2022-03-02 22:05] ander-murane commented on #2122
I have the same issue. Working with Newman version 5.3.1. Postman 9.14.8. I have a collection level pre-request script to set the headers. It runs in Postman as a collection or with individual tests. Newman fails every time. To prove it's a newman issue I manually selected the headers in the Postman app and that is the only test that passes. See Screenshots.
<img width="1044" alt="Screen Shot 2022

[2022-03-02 22:16] ander-murane opened #2941 "Newman not executing collection level pre-request script"
Related ticket: https://github.com/postmanlabs/newman/issues/2122

A pre-request script which sets headers executes every time I run a Postman collection in the Postman app. Once I export the collection and execute via Newman command line, the API returns an error indicating that the headers are missing. To troubleshoot I would manually select the checkmarks with the headers information in the Pos

[2022-03-06 06:08] niharmaheshwari opened #2943 "Feature Request : Regression Detection Capabilities in Newman CLI"
Newman is already being used in the scope of automated testing on CI/CD runners. However, one of the frequent need I have (and I presume many others might have the same need) is to be able to execute requests / collections in 2 environments (development & production) and compare the results of the run.

Having such a feature in the CI/CD stage gives a clear picture of any regression introduced in

[2022-03-08 07:03] imsagarAUT commented on #837
@npadhya  thanks for all response's. @npadhya  Did you implement this ? any repo link where I can go through the same ?

thanks in advance

[2022-03-11 17:54] stephenherrick commented on #2930
My apologies. Closing this request out, the functionality already exists.

https://learning.postman.com/docs/running-collections/using-newman-cli/continuous-integration/

[2022-03-11 17:54] #2930 closed

[2022-03-14 06:54] Siegbaert commented on #2939
+1
I observed the same issue on version 5.3.2.

[2022-03-15 13:55] Siegbaert commented on #2939
A temporary workaround I found, is to re-define the test case in the Postman-Collection like this:
[code]

It seems like, somewhere in the chain an outdated version of ajv (https://github.com/ajv-validator/ajv) is used, which is not capable of handling formats like: float, int32, int64, ... .

[2022-03-15 21:23] jscottrobb commented on #2872
+1

We would like to integrate flows with our CICD capability

[2022-03-16 05:09] malvikach commented on #2854
Hi @Navair2 It seems that the 3 requests that are failing are referencing {{orderID}} in the path. Could you check if this variable value is available in the environment you are using while running the Newman command.
Sample newman command to run a collection along with an environment:
newman run my_collection.json -e my_environment.json
Read more about newman [here](https://learning.postman.com/d

[2022-03-16 05:21] malvikach commented on #2943
@niharmaheshwari I think the idea of comparing different run results is powerful. I definitely understand the need to detect regression.

Would you be willing to come on a call to discuss the above with me?
I would love to know more about how you are using Newman currently and what reporting capabilities you need.

Feel free to drop me a mail at malvika.chaudhary@postman.com if you are interested.

[2022-03-16 05:47] malvikach commented on #2941
Hi @ander-murane Thanks for the details. I see that you are using the following command:

`newman run vrt-api.postman_collection.json --delay-request 500`

However, in your pre-request scripts you are using pm.environment.get() to get the value of `traced_uid` . I believe the issue is that the environment file is missing when you are running the collection.

Please try running the collection using

[2022-03-16 06:14] VaishnaviChallaPostman commented on #2927
Hey @KomalGupta9950 👋
This is usually a common issue with NPM on windows. The path to the binary fails to be added to the windows environment.

![image](https://user-images.githubusercontent.com/76939396/158526978-ec3d5863-30c0-467c-a1f1-43f1ef97e95a.png)
Add the directory that contains the npm file, to your environment variable.
It is generally present in either of:
`C:\Users\<USERNAME>\AppData\R

[2022-03-16 06:55] #2848 closed

[2022-03-16 13:28] malvikach commented on #2069
Documentation can be found [here](https://github.com/postmanlabs/newman/wiki/Newman-Run-Events)

[2022-03-16 13:28] #2069 closed

[2022-03-17 10:23] thedomdom commented on #1203
+1 Me too :)

[2022-03-17 13:28] halixness opened #2946 "Newman gets not cookies from pm.sendRequest, but Postman UI does."
1. Newman Version: 5.3.2
 2. OS details: macOS Catalina (10.15.7)
 3. Using via CLI on WebStorm
 4. Expected behaviour: `pm.sendRequest` returns three objects, of these `extras` should contain cookies.
 5. Command / script used to run Newman: `newman run tests.json -e env.json`
 6. The code: there is a pre-request script for the collection:
[code]
In postman, I pass the `{{xsrf_token}}` in the hea

[2022-03-18 02:36] niharmaheshwari commented on #2943
Sure. Will drop an email. Thanks.

[2022-03-22 21:17] ander-murane commented on #2941
This worked, thank you so much.

On Tue, Mar 15, 2022 at 11:48 PM Malvika Chaudhary ***@***.***>
wrote:

--
***
This electronic message may contain information that is privileged,
confidential, and may otherwise be protected from disclosure. If you are
not an intended recipient or have inadvertently received this message,
please contact the sender immediately in a separate email. You may not
revie

[2022-03-23 04:39] #2941 closed

[2022-03-24 09:08] malvikach commented on #2719
Hi are u still facing this issue?

If you could provide me more details around your auth(hiding sensitive values). Please feel free to add console.log() statements to validate that the auth is being generated and used as expected.
It seems due to some reason, Newman is unable to get the correct auth token and hence you are getting a 401 error.

[2022-03-29 06:23] malvikach commented on #2854
I will be closing this issue, please feel free to re-open it if you are still facing the problem.

[2022-03-29 06:23] #2854 closed

[2022-03-29 10:26] VaishnaviChallaPostman commented on #2927
Closing due to inactivity. Feel free to re-open if you are still facing any issues :)

[2022-03-29 10:26] #2927 closed

[2022-03-29 10:36] #2772 closed

[2022-03-29 10:42] #2737 closed

[2022-03-29 10:46] #2589 closed

[2022-03-29 11:33] #2853 closed

[2022-03-29 12:35] DannyDainton commented on #2839
Hey @TestSenpai,

Is this the only reporter that you have used? Are you able to try a different one that you would need to use the `--reporter-<reporter>-export` flag? I believe the built-in `json` reporter uses this flag.

The error is telling you that the `--reporter-htmlextra-export` isn't able to read the file path value that you have added in the script. If you remove that export flag, is it

[2022-03-29 13:19] deepakaggarwal7 commented on #1730
While collections and environments are live, you manually have to download and pass global variables json file which is a pain. This would be a super useful feature to have.

[2022-03-29 16:38] cyansprite commented on #1203
Would love to see this as well

[2022-03-30 20:43] id-dan opened #2947 "Please join to us #standwithukraine"
Please support Ukraine, more infos here: https://github.com/vshymanskyy/StandWithUkraine

[2022-03-31 20:41] danielkocot commented on #2939
Solved with apideck-libraries/portman#281

[2022-04-02 04:53] deepakaggarwal7 opened #2949 "error from reporters can't be handled"
1. Newman Version (can be found via `newman -v`):5.3.2
 2. OS details (type, version, and architecture):MAC Monterey
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: likely, there already
 4. Expected behaviour: exceptions thrown by reporter plugins should be handled by Newman or should trigger .on('exception')

[2022-04-02 21:12] vbakshi123-star commented on #935
@

This is still an issue while running it in Azure Dev Ops. newman version 5.3.2 running only 2500 iterations.

[2022-04-04 13:19] id-dan commented on #2947
@kunagpal
Pls have a look

[2022-04-04 13:38] deepakaggarwal7 opened #2950 "newman not running latest assertion"
1. Newman Version (can be found via `newman -v`): 5.3.2
 2. OS details (type, version, and architecture): MAC
 3. Are you using Newman as a library, or via the CLI? npm

`newman.run({ collection: https://api.getpostman.com/collections/some_uid....`

1. I called newman.run with Postman API to get collection
2. One of the tests failed. I updated the test in Postman
3. Ran the command again
It still

[2022-04-05 03:00] kunagpal commented on #2947
Closing as this is off-topic.

[2022-04-05 03:00] #2947 closed

[2022-04-05 05:27] id-dan opened #2951 "Closing as this is off-topic."
Closing as this is off-topic.

_Originally posted by @kunagpal in https://github.com/postmanlabs/newman/issues/2947#issuecomment-1088218047_

@kunagpal

What the fucking is "off-topic", killing families, is it off-topic?
https://twitter.com/mariana_betsa/status/1510966912724963328
https://twitter.com/christogrozev/status/1510835378273533957
Bombing people and buildings, is that "off-topic"?
https:

[2022-04-06 05:15] deepakaggarwal7 commented on #2950
this can be deleted.I realized an issue at my end.

[2022-04-06 05:15] #2950 closed

[2022-04-06 11:17] vikyd opened #2952 "Proxy not working on `pm.sendRequest` when setting proxy in collection.item[n].request.proxy"
1. Newman Version (can be found via `newman -v`):

`5.2.3`

2. example collection json:

[code]

3. It works when I put proxy setting as `sendRequest` params.

4. Question: how can I make `sendRequest` use proxy in `request`?

[2022-04-07 11:40] jasvday12 commented on #2924
I am experiencing the same issue. I tried to install newer version har-validator for example: @plotdb/har-validator@5.1.6 but it newman does not take it and still install old har-validator@5.1.5.

I run:
#npm install -g newman newman-reporter-htmlextra@1.22.8 @plotdb/har-validator@5.1.6
#npm install -g yarn@1.22.10

And after installation i get:
npm WARN deprecated har-validator@5.1.5: this librar

[2022-04-07 17:17] rvatsastro opened #2953 "newman CLI return response context-type as text/html instead of JSOn when used with Basic auth, however when changed to bearer token issued fixed"
1. Newman Version (can be found via `newman -v`): 5.32
 2. OS details (type, version, and architecture): Mac M1 and CircleCI Linux medium machine
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: Not sure
 4. Expected behaviour: Should get response context type as JSON with basic auth as well as its working fine with

[2022-04-07 18:32] adrwh commented on #2680
Variables in Collections AND Environments are also NOT export when using Postman app on MacOs.  The exported postman v2.1 json file contains {{variableName}} instead of the actual values.

[2022-04-08 06:54] #2951 closed

[2022-04-11 13:11] mswist opened #2956 "Different proxy setting to GET the collection and to execute the collection"
I'm trying to execute a collection using newman behind company's proxy.
I want to get the collection using url - so in order to connect to https://api.getpostman.com/ I need to use a proxy - so I'm setting it using using HTTPS_PROXY env variable - and this part works fine, I'm able to access the collection.
But then when the requests from collection are executed, I'm getting 401 - and this is - mo

[2022-04-12 07:25] escion opened #2957 "Newman json-summary reporter not exporting reports in the specified directory"
1. Newman Version (can be found via `newman -v`): 5.3.1
 2. OS details (type, version, and architecture): win10
 3. Are you using Newman as a library, or via the CLI? library
 3. Did you encounter this recently, or has this bug always been there: new setup
 4. Expected behaviour: json-summary reports should be saved in the specified folder, not the default one (./newman)
 5. Command / script used

[2022-04-14 11:05] sxmartin commented on #2197
Is there any update to this.. we are also facing the same issue.. junit report has only the last iteration out of the 73 iterations we ran.  CLI seems to list all.  We can try newman-junit-full.. but is there any other alternate other than installing newman-junit-full?
Thanks for the help.

[2022-04-19 19:06] shraddhachheda-tkxs commented on #1679
Did this get resolved with any Newman release? I need to set the environment variables at run time to be used in my next request within or outside the collection. This is really important for automation testing and CI/CD. Any updates are appreciated.

[2022-04-20 17:08] shraddhachheda-tkxs commented on #1679
Incase, any one is still wondering on this, using collection variables instead of environment variables works with Newman

[2022-04-22 15:00] federicomanco commented on #2924
Experiencing the same behavior.

[2022-04-27 22:27] csforbes commented on #963
![AcceptableHeartyBarasingha-size_restricted](https://user-images.githubusercontent.com/19981645/165641321-57b10a74-36bb-4bbf-be87-7cf40e789ea8.gif)

[2022-05-04 09:24] emersonf commented on #276
@mtaylorSF it's a workaround, I wouldn't call it a "great" workaround. 😄 Postman doesn't support tags as first class citizens, and editing request names to add tags is cumbersome and prone to error. Then you still need to create synthetic, carefully positioned requests to orchestrate other requests.

@codenirvana does Postman still plan to support tags?

[2022-05-08 09:58] aladendorf commented on #2122
Same here, I need to use newman with a collection with prerequest script for authentification.
is there a solution out there since this is thread is closed?

[2022-05-08 18:48] malvikach commented on #2122
@aladendorf Could you give an example/reference of your pre-request script.

Are u using pm.environment.set() in the script for using the environment variables. If yes, it would help if you can post the newman command you are using to execute your collection (I want to validate if you are making use of environment in the command too)

Sample newman command to run a collection along with an environ

[2022-05-09 09:27] aladendorf commented on #2122
@malvikach, thanks for your reply, this is my prerequest script:
`const echoPostRequest = {
  url: 'https://auth.xxxxxx.xxxxxx.de/auth/realms/xxxxxxxx/protocol/openid-connect/token',
  method: 'POST',
  header: 'Content-Type:application/x-www-form-urlencoded',
  body: {
    mode: 'urlencoded',
            urlencoded: [
            {key: "client_id", value: "xxxxxx"},
            {key: "client_secr

[2022-05-09 11:04] malvikach commented on #2122
@aladendorf could you also share your newman command (please hide any sensitive data like keys).

Please Note: You will need to use the environment file in your Newman command as well so that Newman is aware of the environment file that it needs to set and get variables to.

[2022-05-09 12:10] aladendorf commented on #2122
@malvikach my command for run the collection: `newman run dev_collection.json -e dev_environment.json`
The environment.json

`{
	"id": "b8da459b-c2f3-4a4c-b342-7c9c226185da",
	"name": "dev",
	"values": [
		{
			"key": "accessTokenExpiry",
			"value": "",
			"type": "default",
			"enabled": true
		},
		{
			"key": "currentAccessToken",
			"value": "",
			"type": "default",
			"enabled": true
		}
	]

[2022-05-10 13:29] devsharma327 opened #2967 "Question : Can we set custom exit code in Postman requests which can be returned by newman"
Question : I need to return a custom exit code from newman in my shell script which can be set from Postman request based on some specific status code ?
In my requirement, while running a test collection through newman from shell script, I need to know by which status code does the test collection fails. One method I can think of is to manually set the exit code in test collection from postman, so

[2022-05-11 08:10] shamasis commented on #2967
I have one idea - what if you set your info in a variable, configure Newman to export variables, read that (maybe simply process unique string presence in the exported file), then delete the exported file and use the result as exit code.

[2022-05-11 13:27] aladendorf commented on #1859
Same here, I use oAuth2 with grant type credentials wich works without any poups except in newman, would be a great feature to support this.

[2022-05-11 13:39] aladendorf commented on #2615
Ive tryed this as collection variable or as enviornment variable and call it in my header, this works in Postman but not in Newman, I use the granttype crendentials, so no user intercation is needed.

[2022-05-12 08:34] malvikach commented on #2122
@aladendorf The above command looks fine.

Unfortunately, I am unable to reproduce the above issue when I tried a similar scenario.

Would it be possible for you to additionally share your console logs and a screen recording of your newman run. Please do share your dev_collection.json and dev_environment.json files (remove sensitive values).

This will help me understand the issue better.

[2022-05-12 08:53] SureshRajpurohit85 opened #2968 "Question : how to modify collection variable using newman CLI"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2022-05-12 09:43] aladendorf commented on #2122
@malvikach I setup a new collection and a new environment with just one test, this works well, even without the environment. So I think I need to go over each test and test it seperatlyto find the one that cant run in newman. Thank you for your support!

[2022-05-12 09:46] malvikach commented on #2122
@aladendorf I see!

hope u find the issue following the above approach. The pre-request scripts should execute fine in newman.
Do let us know if you need any further info from our end.

[2022-05-12 09:49] malvikach commented on #2968
@SureshRajpurohit85 Do u want to write/update the collection JSON file. Please do share an example along with the Newman command that you are using to execute your collection.

[2022-05-12 09:53] aladendorf commented on #2122
If I found the test wich not run in newman I will write you, best regards

[2022-05-12 09:57] SureshRajpurohit85 commented on #2968
@malvikach  , during runtime , i want to modify the collection variable  using newman CLI command as its integral part of collection JSON, which i am not able to find option under newman. where as i can modify the env or global variable as they are part of different file

[2022-05-12 10:10] aladendorf commented on #2122
@malvikach Ive created a new collection and finally added all tests again, now it works, maybe newman only work without problems for created Collections after install newman? Dont know, works, best reagrds

[2022-05-12 10:12] malvikach commented on #2122
@aladendorf that shouldn't have been the case. I will validate this on my end though.

I am glad that it worked for you now.

Happy testing :)

[2022-05-12 13:41] aladendorf commented on #2122
@malvikach Ive testetd it again with another Collection wich always fails with 401 in newman but not in postman. Ive duplicated it and then it runs, strange.

best regards

[2022-05-12 13:45] malvikach commented on #2122
@aladendorf please share a screen recording or a sample collection JSON. Thanks again for writing about this.

[2022-05-13 05:13] malvikach commented on #2968
@SureshRajpurohit85 I don't think it would be possible to edit the collection JSON during the runtime as of now. Could you show how you are editing the env or global variable. Maybe I can discuss the approach with the team to see some approaches for collection json too.

[2022-05-17 12:14] mrbusche opened #2970 "CVE-2022-28391 and CVE-2021-44906"
1. Newman Version (can be found via `newman -v`): 5.3.1
 2. OS details (type, version, and architecture): Alpine Linux
 3. Are you using Newman as a library, or via the CLI? CLI
 3. Did you encounter this recently, or has this bug always been there: It's a CVE
 4. Expected behaviour: No CVE's
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive d

[2022-05-19 09:21] jbusuttil83 commented on #2840
@uttamanand-whs did you solve this? I am having the same issue when trying to run newman as a job in kubernetes

[2022-05-19 12:53] Mohamed-Effat opened #2971 "SSL unsafe legacy renegotiation disabled error"
- Newman Version 5.3.2
- Using newman CLI

Calling a server with unsafe legacy renegotiation causing the newman cli to report the running request an error message and does not continue with the request thus not run the assertion tests despite running the same request on a postman client works as intended.

Error message:

`write EPROTO 700B0000:error:0A000152:SSL routines:final_renegotiate:unsafe

[2022-05-20 06:29] vikyd opened #2972 "Supporting for Js BigInt"
1. Newman Version (can be found via `newman -v`): `5.3.2`
 2. OS details (type, version, and architecture): `CentOS 7`
 3. Are you using Newman as a library, or via the CLI? : `as a Library`
 3. Did you encounter this recently, or has this bug always been there: `always`
 4. Expected behaviour: `supporting Js BigInt type`
 5. Command / script used to run Newman:

`app.js` :

[code]

run:
[code]

6

[2022-05-22 08:58] lmarie82 opened #2975 "homegirl82"
1. Newman Version (can be found via `newman -v`):
 2. OS details (type, version, and architecture):
 3. Are you using Newman as a library, or via the CLI?
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman:
 6. Sample collection, and auxiliary files (minus the sensitive details):
 7. Screenshots (if applicable):

[2022-05-24 08:46] #2975 closed

[2022-05-24 19:58] rest17 commented on #831
do we have a solution to update the environment variable after each request while running the collections to be picked by subsequent request.

[2022-05-24 21:16] rest17 opened #2976 "Updating environment varibale with each request during collection run as dun in postman app"
1. Newman Version -5.3.1
 2. OS details (type, version, and architecture): Mac Os Monterey
 3. Are you using Newman as a library, or via the CLI- CLI
 3. Did you encounter this recently, or has this bug always been there: feature request
 4. Expected behaviour: Environment variable in environment json not getting updated with earch for subsequent request.
 5. Command / script used to run Newman:

[2022-05-25 09:12] jdoof opened #2977 "Some request are not run when running in newman from library"
1. Newman Version (can be found via `newman -v`): 5.3.2
 2. OS details (type, version, and architecture): macos
 3. Are you using Newman as a library, or via the CLI? both
 3. Did you encounter this recently, or has this bug always been there: always there
 4. Expected behaviour: library and cli produce the same result

When I run newman as library certain requests are not run. They run fine in po

[2022-05-25 23:08] jdoof commented on #2977
Ok so I have managed to get it working on par with each other.

still not 100% on the root cause but removing the `beforeRequest` and `request` event handlers seemed to do the trick.

like this

[code]

[2022-05-25 23:08] #2977 closed

[2022-06-01 19:04] LockTar commented on #2197
For me the package wasn't working anymore but I see another version that points to the same repo called [newman-reporter-junitfullreport](https://www.npmjs.com/package/newman-reporter-junitfullreport) and that worked for me!

[2022-06-03 06:51] typekpb opened #2982 "Feature request: export curl command"
Currently I can specify only:
[code]

What I'd be however interested in, would be an option to export curl (or any other format) command that would be copy/paste-able and later usable outside of the postman/newman cli.

I can think of:
[code]
that would output:
[code]

[2022-06-08 19:45] fmoralesvillarreal opened #2983 "Scoped package error"
1. Newman Version (can be found via `newman -v`):5.1.0
 2. OS details (type, version, and architecture): macOs Monterrey
 3. Are you using Newman as a library, or via the CLI? Library
 3. Did you encounter this recently, or has this bug always been there:
 4. Expected behaviour:
 5. Command / script used to run Newman: node newman.js [ 'cli', '@1819project/newman-reporter-slackmsg', 'junit' ]
 6.

[2022-06-08 20:20] felitra commented on #1203
No updates on this one?

[2022-06-14 09:22] skydebernardigu opened #2986 "Disabled secret used anyway"
1. Newman Version (can be found via `newman -v`): 5.3.1
 2. OS details (type, version, and architecture): macos Monterey 12.3
 3. Are you using Newman as a library, or via the CLI? as a cli in docker
 3. Did you encounter this recently, or has this bug always been there: cannot determine (first newman use)
 4. Expected behaviour: Disable secret should not be used.
 5. Command / script used to run

[2022-06-14 10:42] LaiaPR opened #2987 "New Snyk vulnerability introduced by newman@5.3.2"
Version and environment information:

 1. Newman Version: 5.3.2

 2. I want to run newman in Travis CI :

Operating System Details
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.7 LTS
Release:	16.04
Codename:	xenial

Node v.12.22.12
NPM v.6.14.16

 3. I am using the Newman CLI to run the postman tests in the pipeline

Before running the tests, my pipeline is executing SNYK checking for vulnerabi